[2016-08-07 09:40] kilt46 commented on #484
![image](https://cloud.githubusercontent.com/assets/14023167/17461626/0f3deb48-5c59-11e6-8b56-72e98377222a.png)

[2016-08-07 10:14] PaulNielsen commented on #978
What still? That's really weird, as both time I have sent it in. It has been perfectly aligned. I promise.

[2016-08-07 15:07] #931 closed

[2016-08-07 15:58] Adam167 opened #997 "EGNS"
I'm redoing this airport

[2016-08-07 16:12] kilt46 commented on #931
![image](https://cloud.githubusercontent.com/assets/14023167/17463641/d6a6129c-5c8f-11e6-910c-ef631beb32cb.png)
GA APRONS
![image](https://cloud.githubusercontent.com/assets/14023167/17463643/e24b3384-5c8f-11e6-888d-19236a9cefb3.png)

[2016-08-07 21:08] lolo31r opened #998 "EDDR"
I´ll do this one

[2016-08-07 21:21] samuelandersson commented on #245
Small fixes, see [commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/26ec9961cc00c271a6566a661c620898ce7fc675) for details.

[2016-08-08 01:38] IFAEpat commented on #542
Gating

[2016-08-08 02:16] IFAEpat commented on #542
Gated

[2016-08-08 15:37] Ignas04 opened #999 "EYVI-Vilnius Airport-VILNIAUS-LITHUANIA"
Vilnius International airport

[2016-08-08 16:00] Ignas04 commented on #999
Sorry, I need an easier airport. Any recomendations on a small airport that needs to be done?

[2016-08-08 17:11] IFAEpat commented on #655
Gated

[2016-08-08 19:28] samuelandersson commented on #543
Changed stand properties according to data from an airport employee.

Also @kilt46 Airest Cargo, TuiFly, Primera Air, Thomas Cookare operating at this airport.

[2016-08-08 19:43] ProcrastinatorKenny opened #1000 "SEQM-Quito/Mariscal Sucre International Airport-PICHINCHA-ECUADOR"

[2016-08-08 19:45] samuelandersson commented on #1000
Duplicate; continue here:

https://github.com/InfiniteFlightAirportEditing/Airports/issues/19

[2016-08-08 19:45] IFAEpat commented on #1000
KORD is O'Hare

[2016-08-08 19:46] samuelandersson commented on #1000
Here's the issue for Orlando if you need it;

https://github.com/InfiniteFlightAirportEditing/Airports/issues/556

[2016-08-08 23:56] danielshaw opened #1001 "KLKU"
Redoing Louisa County Airport

[2016-08-08 23:57] danielshaw opened #1002 "KCHO"
Redoing Charlottesville-Albemarle Airport

[2016-08-09 01:21] hmkane1214 opened #1003 "5B7"
Rensselaer County Airport, Poestenkill, New York. I'll do this one as my first edit.

[2016-08-09 02:08] IFAEpat commented on #1003
@hmkane1214 needs be invited guys! :)

[2016-08-09 02:11] IFAEpat opened #1004 "LHDK"
Dunakeszi airport

[2016-08-09 02:56] IFAEpat commented on #1004
Done

[2016-08-09 02:56] #1004 closed

[2016-08-09 10:45] Aviationluver commented on #498
Sent this one off for review.

[2016-08-09 11:21] Adam167 commented on #997
Sent for review

[2016-08-09 11:44] lolo31r commented on #997
I´ve done it already
It was accepted

[2016-08-09 12:53] Adam167 commented on #997
Well I drew the taxi lines moved some of the hold lines as they weren't right added parking stands that should of been there. Moved the tower as it was in the wrong place and added the terminal buildings.
![screen shot 2016-08-09 at 12 03 59](https://cloud.githubusercontent.com/assets/20886638/17516823/96449bec-5e38-11e6-8dec-a604d4373a70.png)

[2016-08-09 13:36] Adam167 commented on #379
Is this being done?

[2016-08-09 17:22] IFAEpat commented on #501
I finally got the chance to start this.

Estimated Time of completion: August 12

[2016-08-09 18:01] Adam167 commented on #379
As I can't see this being done I will start on this as is a global priority

[2016-08-09 18:02] liamkirky commented on #379
Hey I want to do it

[2016-08-09 18:03] Adam167 commented on #379
Already started

[2016-08-09 18:04] liamkirky commented on #379
Please let me do it

[2016-08-09 19:07] IceBlue02 commented on #41
Parking redone https://github.com/InfiniteFlightAirportEditing/Airports/commit/24501c079867c0bfd9451fe5b95f7a42e65104e6

[2016-08-09 22:55] kilt46 commented on #41
![image](https://cloud.githubusercontent.com/assets/14023167/17536388/47a62970-5e5a-11e6-922e-bf249b95b3f5.png)
WEST CARGO
![image](https://cloud.githubusercontent.com/assets/14023167/17536397/53fe14a8-5e5a-11e6-92ea-2d0228c94967.png)
TERMINAL
![image](https://cloud.githubusercontent.com/assets/14023167/17536410/68b39684-5e5a-11e6-8069-e70bc8ee8807.png)
EAST CARGO
![image](https://cloud.githubuser

[2016-08-09 23:43] kilt46 commented on #107
![image](https://cloud.githubusercontent.com/assets/14023167/17537301/171107c4-5e61-11e6-8347-d8fbd67e46af.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17537303/1bf01500-5e61-11e6-96f7-3b6d7a0ed654.png)

[2016-08-09 23:47] kilt46 commented on #1004
![image](https://cloud.githubusercontent.com/assets/14023167/17537366/a5229e10-5e61-11e6-8ba0-195ddd6f0589.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17537373/ad2c619a-5e61-11e6-99f8-cc8941515a3d.png)

[2016-08-10 02:50] kilt46 commented on #543
![image](https://cloud.githubusercontent.com/assets/14023167/17540387/4d78b7ca-5e7b-11e6-88c2-08f80926dbe9.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17540390/59b75cd0-5e7b-11e6-9377-e4816356867b.png)

[2016-08-10 09:49] samuelandersson commented on #543
Fixed everything more accurately.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/08f28a25a6ab9128193d4e69897675c32bc72fa7)

[2016-08-10 17:51] Adam167 opened #1005 "KALB-Albany International Airport-NEW YORK-USA"
I'll do this one

[2016-08-10 19:33] lolo31r commented on #998
sent for review

[2016-08-10 23:48] kilt46 commented on #655
![image](https://cloud.githubusercontent.com/assets/14023167/17574960/f22b413e-5f2a-11e6-9ea5-7f336c98c7dd.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17574963/f865df28-5f2a-11e6-945a-5b224ba41cc3.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17574967/00c4023a-5f2b-11e6-86b9-439816550a0c.png)

[2016-08-10 23:52] Ksisky commented on #590
I'll take it.

[2016-08-10 23:59] IFAEpat commented on #590
Imagery is messed up, Kevin said he can't do this

[2016-08-11 01:35] kilt46 commented on #542
![image](https://cloud.githubusercontent.com/assets/14023167/17576591/ecfa9ebc-5f39-11e6-9549-68cba71e18c0.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17576595/fb83d85e-5f39-11e6-9219-8c8032b01f2b.png)

[2016-08-11 10:27] #991 closed

[2016-08-11 23:31] lalomarlin opened #1007 "MMMD"
Merida-Manuel Crescencio Rejón International Airport

[2016-08-12 03:00] #979 closed

[2016-08-12 16:12] Padi3-14 commented on #999
I will take this!

[2016-08-12 23:33] henrikbg commented on #477
Kevin is taking over.

[2016-08-13 02:19] IFAEpat commented on #388
Gating

[2016-08-13 02:38] kilt46 commented on #245
![image](https://cloud.githubusercontent.com/assets/14023167/17641017/72a143d6-60d4-11e6-9b4f-31e6702e1fb0.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17641029/0d52b57c-60d5-11e6-87e6-b867f7b57c5c.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17641032/1c56f894-60d5-11e6-966d-5edf75858faf.png)

[2016-08-13 10:18] kilt46 commented on #388
![image](https://cloud.githubusercontent.com/assets/14023167/17642697/44ca69ec-6115-11e6-8d64-3a3f3642d356.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17642699/4f32d69e-6115-11e6-92b8-6df9c73c15be.png)

[2016-08-13 10:29] kilt46 commented on #979
![image](https://cloud.githubusercontent.com/assets/14023167/17642723/e2a3421e-6116-11e6-9357-4ccbde786c41.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17642725/f587622a-6116-11e6-98b3-768b2b38d8b4.png)

[2016-08-13 10:52] kilt46 commented on #991
![image](https://cloud.githubusercontent.com/assets/14023167/17642805/0a74320a-611a-11e6-8f98-0dd9bd3195cd.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17642806/10e8a724-611a-11e6-9ad8-3724f16b6c25.png)

[2016-08-13 11:05] KarlLuebs commented on #1000
Can I do this one?

[2016-08-13 11:15] kilt46 commented on #978
![image](https://cloud.githubusercontent.com/assets/14023167/17642879/4c91f48a-611d-11e6-88da-9cf87451389a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17642880/583276e8-611d-11e6-88f4-1d63d2a60a9a.png)

[2016-08-13 11:25] kilt46 commented on #340
![image](https://cloud.githubusercontent.com/assets/14023167/17642905/c0157250-611e-11e6-9b8c-f842d5bb275c.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17642907/c7e6de9c-611e-11e6-9eaa-5c88da3ea447.png)

[2016-08-13 11:45] kilt46 commented on #182
![image](https://cloud.githubusercontent.com/assets/14023167/17642959/41b9b9c2-6121-11e6-9a33-0073bc395216.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17642961/4a51b684-6121-11e6-8b90-cd2cbd8522bb.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17642971/94df2268-6121-11e6-8fd6-22c92dc9f3fa.png)

[2016-08-13 11:54] kilt46 commented on #468
![image](https://cloud.githubusercontent.com/assets/14023167/17643024/aa1a9d96-6122-11e6-8cdd-238a9e4e22ab.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17643026/b58511fc-6122-11e6-9973-1c8ef89f6e4b.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17643028/beb1282e-6122-11e6-8fe6-b63cf40eb6ba.png)
![image](https://cloud.githubusercontent.com/assets/14023167/176

[2016-08-13 12:11] kilt46 commented on #770
![image](https://cloud.githubusercontent.com/assets/14023167/17643103/1f3bfa50-6125-11e6-9385-c4f1b12220c8.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17643104/26a62194-6125-11e6-8c1c-93a5fef46c66.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17643107/2f798a5e-6125-11e6-87bf-082a58271448.png)

[2016-08-13 12:21] kilt46 commented on #215
![image](https://cloud.githubusercontent.com/assets/14023167/17643149/811fc9f8-6126-11e6-883f-dbd24382a98e.png)

[2016-08-13 13:02] dushyants19 opened #1008 "KLGB-Long Beach /Daugherty Field/ Airport-CALIFORNIA-USA"
removin' runways

[2016-08-13 13:04] #1001 closed

[2016-08-13 13:26] kilt46 commented on #1001
![image](https://cloud.githubusercontent.com/assets/14023167/17643430/954721de-612f-11e6-8496-6f6a5bca412d.png)

[2016-08-13 13:28] dushyants19 commented on #1008
Runways removed and spawns corrected to new guidelines

[2016-08-13 13:46] IFAEpat commented on #659
gating

[2016-08-13 13:53] IFAEpat commented on #659
gated e7d044a

[2016-08-13 14:32] IFAEpat commented on #756
Gated

[2016-08-14 16:24] owenkreisler opened #1009 "KSET-St Charles County Smartt Airport-MISSOURI-USA"
RECYCLED ♻️

[2016-08-14 16:29] owenkreisler opened #1010 "KSLC-Salt Lake City International Airport-UTAH-USA"
I am doing this, Salt Lake.

[2016-08-14 18:22] imaboss31 commented on #810
If anyone else wants this one for now they can have it :)

[2016-08-14 18:28] david-garden commented on #810
If anyone wants to do this one they can. I am done with my break, but I will only be doing one airport at a time.

[2016-08-14 18:34] kilt46 commented on #756
![image](https://cloud.githubusercontent.com/assets/14023167/17651063/ca82c2e6-6223-11e6-85b1-f7ef76ad97cf.png)

[2016-08-14 18:36] david-garden commented on #778
Won't be doing this one either. One airport only for me :)

[2016-08-14 18:56] kilt46 commented on #659
![image](https://cloud.githubusercontent.com/assets/14023167/17651176/e63f20ee-6226-11e6-9807-8d71d4c49025.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17651179/eed0d14e-6226-11e6-8320-bb92dfe006f8.png)

[2016-08-14 19:34] kilt46 commented on #1008
![image](https://cloud.githubusercontent.com/assets/14023167/17651410/17925954-622c-11e6-87c5-4a3a06e624f1.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17651418/1fec361a-622c-11e6-8bbd-6fbfbe7c9a5c.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17651419/27a480e2-622c-11e6-84ae-00cfa24c30a9.png)
![image](https://cloud.githubusercontent.com/assets/14023167/176

[2016-08-14 19:53] kilt46 commented on #214
![image](https://cloud.githubusercontent.com/assets/14023167/17651530/cbffff02-622e-11e6-98d2-7caaf6a3e0a4.png)

[2016-08-14 19:56] kilt46 commented on #799
![image](https://cloud.githubusercontent.com/assets/14023167/17651557/4fa5588e-622f-11e6-89a6-904ffac3b081.png)

[2016-08-14 20:14] kilt46 commented on #213
![image](https://cloud.githubusercontent.com/assets/14023167/17651685/d52e7f56-6231-11e6-812b-ace43c8506f2.png)

[2016-08-15 00:55] kilt46 commented on #743
![image](https://cloud.githubusercontent.com/assets/14023167/17653304/05b8a3a0-6259-11e6-9526-8c58ff19f629.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17653307/0e4931f6-6259-11e6-8e22-7e17d9b7ec4e.png)

[2016-08-15 01:03] IFAEpat commented on #315
Runway needs to be rotated, 01 is facing ≈190˚ instead of ≈10˚ and vice versa

![img_8806](https://cloud.githubusercontent.com/assets/18223248/17653366/609f5490-6262-11e6-93c9-66d7a263a112.PNG)

[2016-08-15 01:09] kilt46 commented on #466
![image](https://cloud.githubusercontent.com/assets/14023167/17653424/f220d96e-625a-11e6-8fac-c809e4fd3adb.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17653425/f9ff3fa4-625a-11e6-8c67-3d24f8785c57.png)

[2016-08-15 01:29] IFAEpat commented on #315
Rotated

[2016-08-15 01:33] kilt46 commented on #322
![image](https://cloud.githubusercontent.com/assets/14023167/17653640/40b6e96c-625e-11e6-9d32-876f40b1211a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17653644/4859570e-625e-11e6-85b4-09a2f144d6e5.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17653645/4f3206d4-625e-11e6-8802-7e1b8682e1c8.png)

[2016-08-15 05:28] lachieee commented on #980
Finished - Sent and approved.

[2016-08-15 10:28] RiKowalSkipper opened #1011 "RKPU"
I'll do this

[2016-08-15 13:25] IFAEpat commented on #799
Gated

[2016-08-15 13:39] IFAEpat commented on #906
Gated

[2016-08-15 13:40] IFAEpat commented on #891
Gated

[2016-08-15 13:40] IFAEpat commented on #884
Gated

[2016-08-15 13:40] IFAEpat commented on #887
Gated

[2016-08-15 17:38] RiKowalSkipper commented on #1011
Done

[2016-08-15 17:45] IFAEpat commented on #907
Gated

[2016-08-15 17:45] IFAEpat commented on #44
Gated

[2016-08-15 17:46] IFAEpat commented on #910
Gated

[2016-08-15 23:20] TristinWoolf commented on #964
Done... Finally!

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/bbc7268637d79ca85a3d4fafe8a3a65701c9aa25)

[2016-08-15 23:23] TristinWoolf commented on #990
Has this one been approved, @dushyants19? I don't see it in the repo.

[2016-08-15 23:26] TristinWoolf commented on #778
Up for grabs!

[2016-08-15 23:27] TristinWoolf commented on #810
Up for grabs!

[2016-08-16 00:32] kilt46 commented on #964
![image](https://cloud.githubusercontent.com/assets/14023167/17684150/ddbefec8-631e-11e6-8a11-071ec5937c82.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17684154/eb55008c-631e-11e6-9933-0b78b4902801.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17684161/f4e7d0ca-631e-11e6-9c05-5c3741f69241.png)
![image](https://cloud.githubusercontent.com/assets/14023167/176

[2016-08-16 00:38] kilt46 commented on #910
![image](https://cloud.githubusercontent.com/assets/14023167/17684279/de8ea35c-631f-11e6-948b-3ca5169b13ef.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17684286/e795101c-631f-11e6-9531-c3dc9a73d5f7.png)

[2016-08-16 00:43] kilt46 commented on #44
![image](https://cloud.githubusercontent.com/assets/14023167/17684349/7850c8e4-6320-11e6-80b0-551559a56eb8.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17684355/7febae20-6320-11e6-909b-f6074674e573.png)

[2016-08-16 00:45] kilt46 commented on #910
![image](https://cloud.githubusercontent.com/assets/14023167/17684381/cf38dd4a-6320-11e6-983e-0c580e54c277.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17684390/daca9932-6320-11e6-941a-7ce1c1a34269.png)

[2016-08-16 01:01] kilt46 commented on #907
![image](https://cloud.githubusercontent.com/assets/14023167/17684677/f862150e-6322-11e6-9546-b5baeb6dfd13.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17684679/00ccbe24-6323-11e6-815d-cc2ebded97a1.png)

[2016-08-16 01:08] kilt46 commented on #887
![image](https://cloud.githubusercontent.com/assets/14023167/17684782/c87c2d9c-6323-11e6-8064-ea441e359879.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17684807/fe459544-6323-11e6-929a-6c4920c9c081.png)

[2016-08-16 01:14] kilt46 commented on #884
![image](https://cloud.githubusercontent.com/assets/14023167/17684893/ddf055c6-6324-11e6-8793-241e9dc8df62.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17684898/e42fd646-6324-11e6-8395-600d02efc123.png)

[2016-08-16 01:16] kilt46 commented on #884
![image](https://cloud.githubusercontent.com/assets/14023167/17684926/152f5d84-6325-11e6-8d67-c74858286482.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17684930/1b6434a4-6325-11e6-86d0-b37e60ac56ef.png)

[2016-08-16 01:26] kilt46 commented on #891
![image](https://cloud.githubusercontent.com/assets/14023167/17685039/2f71edd2-6326-11e6-849f-cb21abd28e70.png)

[2016-08-16 01:26] TristinWoolf opened #1012 "MYAX"
Spanish Cay Airport

Being redone.

[2016-08-16 01:36] kilt46 commented on #906
![image](https://cloud.githubusercontent.com/assets/14023167/17685254/f92ab414-6327-11e6-94a5-e376538a1634.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17685258/001b657a-6328-11e6-8b2b-3652a41a2ce2.png)

[2016-08-16 01:49] TristinWoolf commented on #1012
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/168501bd4897f525eba3652667fe287c85d66bed)

[2016-08-16 01:49] #1012 closed

[2016-08-16 02:08] kilt46 commented on #988
![image](https://cloud.githubusercontent.com/assets/14023167/17685722/4df40f8c-632c-11e6-9faf-fa935a81ea35.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17685727/5afbe77c-632c-11e6-9675-7167ce15f0ca.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17685730/6283c712-632c-11e6-92aa-6621fb76ab9e.png)
![image](https://cloud.githubusercontent.com/assets/14023167/176

[2016-08-16 09:28] RiKowalSkipper opened #1013 "RKJB-Muan International Airport-JEOLLANAM-DO-SOUTH KOREA"
Will do this

[2016-08-16 09:29] RiKowalSkipper opened #1014 "RKPD"
I'll do this

[2016-08-16 12:44] IFAEpat commented on #654
Gated

[2016-08-16 12:44] IFAEpat commented on #648
Gated

[2016-08-16 12:45] IFAEpat commented on #656
Gated

[2016-08-16 12:45] IFAEpat commented on #728
Gated

[2016-08-16 13:29] IFAEpat commented on #804
Gated

[2016-08-16 13:29] IFAEpat commented on #919
Gated

[2016-08-16 13:30] IFAEpat commented on #911
Gated

[2016-08-16 13:30] IFAEpat commented on #42
Gated

[2016-08-16 13:31] IFAEpat commented on #43
Gated

[2016-08-16 13:31] IFAEpat commented on #285
Gated

[2016-08-16 15:50] sudafly commented on #726
I'm back! I'm now doing some final mini bugs.

[2016-08-16 20:07] KarlLuebs opened #1015 "EPSC"
I'll fully redo this nice airport.

[2016-08-16 21:00] Aviationluver opened #1016 "CYEG-Edmonton International Airport-ALBERTA-CANADA"
Edmonton Int'l Airport. I'll re-do this one.

[2016-08-16 21:20] IFAEpat commented on #1015
You can't be assigned, you're already doing 3 airports.

[2016-08-16 23:43] kilt46 commented on #285
![image](https://cloud.githubusercontent.com/assets/14023167/17719596/606809ce-63e1-11e6-9399-a8e01d97148d.png)

[2016-08-16 23:48] kilt46 commented on #43
![image](https://cloud.githubusercontent.com/assets/14023167/17719670/fda223dc-63e1-11e6-94f1-eae54cb4001e.png)

[2016-08-16 23:52] kilt46 commented on #42
![image](https://cloud.githubusercontent.com/assets/14023167/17719760/91dfea16-63e2-11e6-9737-31981080ef71.png)

[2016-08-16 23:57] kilt46 commented on #911
![image](https://cloud.githubusercontent.com/assets/14023167/17719853/3d61fb72-63e3-11e6-9b6e-998fbf6f8bb4.png)

[2016-08-17 00:01] kilt46 commented on #919
![image](https://cloud.githubusercontent.com/assets/14023167/17719941/c1b560f8-63e3-11e6-84ed-9690b3a93b21.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17719943/c9cf78be-63e3-11e6-8527-a48a0b3a12f6.png)

[2016-08-17 00:08] kilt46 commented on #804
missing some lines
![image](https://cloud.githubusercontent.com/assets/14023167/17720088/c344a194-63e4-11e6-9f51-ee167f1d4830.png)

[2016-08-17 00:12] kilt46 commented on #728
![image](https://cloud.githubusercontent.com/assets/14023167/17720146/4a5f44f4-63e5-11e6-906e-a6ebb8060a1a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17720152/54413522-63e5-11e6-8cf9-aff232606565.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17720163/60075314-63e5-11e6-996e-7487c35edcdd.png)

[2016-08-17 00:17] kilt46 commented on #656
![image](https://cloud.githubusercontent.com/assets/14023167/17720232/ec3da41e-63e5-11e6-9485-4585a42355cf.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17720233/f48b6ec6-63e5-11e6-8a10-1de7e38fb571.png)

[2016-08-17 00:20] kilt46 commented on #648
Missing lines
![image](https://cloud.githubusercontent.com/assets/14023167/17720316/7f04db14-63e6-11e6-85f5-e705e11563c5.png)

[2016-08-17 00:26] kilt46 commented on #654
![image](https://cloud.githubusercontent.com/assets/14023167/17720399/3825d8a0-63e7-11e6-87c4-7833f420f1ba.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17720404/43b9ff7a-63e7-11e6-9944-73b48d43b9f2.png)
Gates not as per Navigraph

[2016-08-17 00:29] kilt46 commented on #1012
![image](https://cloud.githubusercontent.com/assets/14023167/17720471/c5b4a44e-63e7-11e6-9e4e-34b7e3651cfa.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17720476/cd8cf068-63e7-11e6-8738-aa01c0f1d556.png)

[2016-08-17 00:38] kilt46 commented on #980
![image](https://cloud.githubusercontent.com/assets/14023167/17720606/e9576322-63e8-11e6-922e-01f6bb05cf9b.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17720614/f2a04728-63e8-11e6-85d7-9209b6b80b89.png)

[2016-08-17 21:54] sudafly commented on #726
There is a export problem with the aircraft shadows. I restarted WED and my laptop, but that doesn’t work.

But i send it for approvenal

[2016-08-17 23:00] kilt46 commented on #498
![image](https://cloud.githubusercontent.com/assets/14023167/17756206/1e4aed68-64a4-11e6-97f5-4dd72a83a8fc.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17756248/5d94cfd4-64a4-11e6-83fe-ec0c07d2b8e0.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17756265/726e6adc-64a4-11e6-8d46-2b40eed1d0d2.png)

[2016-08-18 01:27] kilt46 commented on #255
![image](https://cloud.githubusercontent.com/assets/14023167/17758908/c764c9fa-64b8-11e6-81eb-9ec6cce37bac.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17758932/f8dafd60-64b8-11e6-9d12-387f4fa4ef84.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17758940/06eb7b64-64b9-11e6-8ffc-597519aed99c.png)

[2016-08-18 03:21] kilt46 commented on #315
![image](https://cloud.githubusercontent.com/assets/14023167/17760954/f75ff20a-64c8-11e6-8a35-041983d41272.png)

[2016-08-18 03:22] kilt46 commented on #315
![image](https://cloud.githubusercontent.com/assets/14023167/17760967/149ddecc-64c9-11e6-89d1-6795ab8b6547.png)

[2016-08-18 06:22] NickArt1342 opened #1017 "LSGB"
LSGB

[2016-08-18 06:22] #1017 closed

[2016-08-18 11:33] dushyants19 commented on #990
Wasn't approved

[2016-08-18 11:34] dushyants19 commented on #990
Don't add waiting approval labels 11 days after he said it. I would've rejected it :) @TristinWoolf

[2016-08-18 11:58] #1011 closed

[2016-08-18 11:59] dushyants19 opened #1018 "TFFG-Grand Case Airport-SAINT-MARTIN-ANGUILLA"
Infinite Flight Airport, many lines are missing.

Perfect 👌 for newbies

[2016-08-18 17:16] RiKowalSkipper opened #1019 "SAZS-San Carlos de Bariloche Airport-RIO NEGRO-ARGENTINA"
RECYCLED ♻️

[2016-08-18 17:17] RiKowalSkipper opened #1020 "RKNY-Yangyang International Airport-GANGWON-DOSOUTH KOREA"

[2016-08-18 17:17] RiKowalSkipper opened #1021 "RKPS"

[2016-08-18 17:17] RiKowalSkipper opened #1022 "RKTH"

[2016-08-18 17:17] RiKowalSkipper opened #1023 "RKTL"

[2016-08-18 17:34] IFAEpat opened #1024 "LHKV"
Kaposújlak

[2016-08-18 22:22] kilt46 commented on #1011
![image](https://cloud.githubusercontent.com/assets/14023167/17792762/56c37592-6568-11e6-9f2e-ee1ccfa7a18b.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17792766/5ea73bea-6568-11e6-8135-95d8dce0f34f.png)

[2016-08-18 22:56] kilt46 commented on #774
Hmm this airport still seems confused. I have added white lines from Google. Things just don't line up
![image](https://cloud.githubusercontent.com/assets/14023167/17793460/0e367b80-656d-11e6-9527-24d449d7c1bf.png)

[2016-08-18 23:03] kilt46 commented on #1017
![image](https://cloud.githubusercontent.com/assets/14023167/17793572/fef7d514-656d-11e6-8035-6d1dd852b3d0.png)

[2016-08-18 23:09] lalomarlin opened #1025 "MMVR"
MMVR Veracruz General Heriberto Jara Intl

[2016-08-19 02:54] TristinWoolf commented on #533
@lalomarlin is taking over on this now. :)

[2016-08-19 06:45] tsarkov90 opened #1026 "UMMS-Minsk National Airport-MINSK-BELARUS"
Main airport in Belarus. Hub for Aeroflot-Russian Airlines and Belavia.
Runway - 3600 m

[2016-08-19 19:16] kilt46 commented on #422
![image](https://cloud.githubusercontent.com/assets/14023167/17821490/90ef188e-6617-11e6-8739-4611bf43a59e.png)

[2016-08-19 19:17] kilt46 commented on #422
![image](https://cloud.githubusercontent.com/assets/14023167/17821504/9b7f134e-6617-11e6-9fa6-76a851cb2ff4.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17821508/9f6208fe-6617-11e6-89fc-72d1cd418b73.png)

[2016-08-19 19:34] kilt46 commented on #522
![image](https://cloud.githubusercontent.com/assets/14023167/17821939/de3bec0a-6619-11e6-9410-f2489d168c2f.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17821960/f82d10da-6619-11e6-9b04-0f8e6bbe7495.png)

[2016-08-19 19:48] kilt46 commented on #151
![image](https://cloud.githubusercontent.com/assets/14023167/17822305/fcba3e00-661b-11e6-9c8e-a52f0d32f542.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17822308/07705852-661c-11e6-84c4-863ffb3be1ee.png)

[2016-08-19 20:01] kilt46 commented on #219
![image](https://cloud.githubusercontent.com/assets/14023167/17822596/a469b878-661d-11e6-98d7-1fe70a7540f2.png)
TERMINAL
![image](https://cloud.githubusercontent.com/assets/14023167/17822604/adf5281e-661d-11e6-8e43-11da459e6ab5.png)
CARGO
![image](https://cloud.githubusercontent.com/assets/14023167/17822628/b8e83eb4-661d-11e6-9720-ef2f0318e633.png)
GA
![image](https://cloud.githubusercontent.com/a

[2016-08-19 21:05] #804 closed

[2016-08-19 21:06] #648 closed

[2016-08-19 21:07] #654 closed

[2016-08-19 23:28] kilt46 commented on #304
![image](https://cloud.githubusercontent.com/assets/14023167/17826851/978f21c0-663a-11e6-9df1-de5dcf4243b9.png)
TERMINAL
![image](https://cloud.githubusercontent.com/assets/14023167/17826856/a4ec0342-663a-11e6-8245-9b1caf790cd1.png)
MILITARY A
![image](https://cloud.githubusercontent.com/assets/14023167/17826862/b16bc800-663a-11e6-84a8-e13a3478a3af.png)
MILITARY B/C
![image](https://cloud.githubus

[2016-08-20 00:53] kilt46 commented on #654
![image](https://cloud.githubusercontent.com/assets/14023167/17827668/8ff7d2f2-6646-11e6-9244-d03c188e50fa.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17827670/97ea49d6-6646-11e6-962c-fccc05d983e2.png)

[2016-08-20 00:57] kilt46 commented on #648
![image](https://cloud.githubusercontent.com/assets/14023167/17827705/116528da-6647-11e6-9a76-66e633f9f584.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17827706/18380d58-6647-11e6-8a1e-28dd29535b04.png)

[2016-08-20 01:00] kilt46 commented on #804
![image](https://cloud.githubusercontent.com/assets/14023167/17827732/9d496870-6647-11e6-8896-0a91ec160fc6.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17827734/a54f0868-6647-11e6-909b-4e9b30160465.png)

[2016-08-20 09:55] Aviationluver commented on #774
Can someone please unassign me from this airport? I can't seem to get it right. I would like to give someone else the opportunity to try this one.

[2016-08-20 12:10] sudafly opened #1027 "LEAL"
I'm doing this.

Can somebody add labels?

[2016-08-20 12:12] bavAVIA opened #1028 "LPHR"
Doing this one to start off my mini-project Azores.

[2016-08-20 12:48] kilt46 commented on #283
![image](https://cloud.githubusercontent.com/assets/14023167/17831264/b5bc0482-66a9-11e6-88f3-1f9023b638b7.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17831273/d9401c22-66a9-11e6-8cae-72a9aa92b8b1.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17831276/e53c71ec-66a9-11e6-8bed-072bfe91ce0e.png)
![image](https://cloud.githubusercontent.com/assets/14023167/178

[2016-08-20 13:27] kilt46 commented on #31
![image](https://cloud.githubusercontent.com/assets/14023167/17831494/ed4a63a2-66af-11e6-8262-6087ae1bcb57.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17831495/f5b36886-66af-11e6-9c41-e9cae673a866.png)

[2016-08-20 13:56] kilt46 commented on #556
![image](https://cloud.githubusercontent.com/assets/14023167/17831640/dce95a6e-66b3-11e6-9df4-b52deb2b24a5.png)
TERMINALS
![image](https://cloud.githubusercontent.com/assets/14023167/17831643/e698c45a-66b3-11e6-8fdc-b79fec812ec3.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17831646/f6281bb4-66b3-11e6-9414-39241bce7f77.png)

[2016-08-20 14:23] kilt46 commented on #9
![image](https://cloud.githubusercontent.com/assets/14023167/17831762/af363ed0-66b7-11e6-9eea-ddb8e21df8e5.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17831763/b6419774-66b7-11e6-8874-737d74d5f52e.png)

[2016-08-20 14:27] kilt46 commented on #908
![image](https://cloud.githubusercontent.com/assets/14023167/17831776/479a8208-66b8-11e6-9b08-08a043cbc788.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17831777/5076271a-66b8-11e6-874b-37bc70c0b558.png)

[2016-08-20 14:40] kilt46 commented on #793
![image](https://cloud.githubusercontent.com/assets/14023167/17831844/1524ac48-66ba-11e6-9993-94edd4e23496.png)

[2016-08-20 14:48] CptNathanHope opened #1029 "KPWM-Portland International Jetport Airport-MAINE-USA"
Part of my "Project New England"

[2016-08-20 14:50] CptNathanHope opened #1030 "KBGR"
Redoing for my "Project New England"

[2016-08-20 14:51] CptNathanHope opened #1031 "KBHB-Hancock County-Bar Harbor Airport-MAINE-USA"
Part of my "Project New England"

[2016-08-20 14:53] CptNathanHope opened #1032 "KBTV"
Part of my "Project New England"

[2016-08-20 14:53] CptNathanHope opened #1033 "KRUT-Rutland - Southern Vermont Regional Airport-VERMONT-USA"
Part of my "Project New England"

[2016-08-20 14:53] CptNathanHope opened #1034 "KMHT-Manchester Airport-NEW HAMPSHIRE-USA"
Part of my "Project New England"

[2016-08-20 14:54] CptNathanHope opened #1035 "KLEB-Lebanon Municipal Airport-NEW HAMPSHIRE-USA"
Part of my "Project New England"

[2016-08-20 14:55] CptNathanHope opened #1036 "KHYA"
Part of my "Project New England"

[2016-08-20 14:56] CptNathanHope opened #1037 "KCQX"
Part of my "Project New England"

[2016-08-20 14:57] CptNathanHope opened #1038 "KBED-Laurence G Hanscom Field Airport-MASSACHUSETTS-USA"
Part of my "Project New England"

[2016-08-20 14:58] CptNathanHope opened #1039 "KEWB"
Part of my "Project New England"

[2016-08-20 14:58] CptNathanHope opened #1040 "KFMH-Cape Cod Coast Guard Air Station Airport-MASSACHUSETTS-USA"
Part of my "Project New England"

[2016-08-20 14:58] CptNathanHope opened #1041 "KWST"
Part of my "Project New England"

[2016-08-20 14:59] CptNathanHope opened #1042 "KBID"
Part of my "Project New England"

[2016-08-20 14:59] CptNathanHope opened #1043 "KPVD-Theodore Francis Green State Airport-RHODE ISLAND-USA"
Part of my "Project New England"

[2016-08-20 15:00] CptNathanHope opened #1044 "KSFZ"
Part of my "Project New England"

[2016-08-20 15:00] CptNathanHope opened #1045 "KBDL"
Part of my "Project New England"

[2016-08-20 15:00] CptNathanHope opened #1046 "KHVN"
Part of my "Project New England"

[2016-08-20 16:10] dushyants19 commented on #1023
RiKowal has 4 issues assigned to himself since one will be approved after a minor change by RiKowal.

[2016-08-20 16:15] dushyants19 commented on #1028
Again, max 3.

[2016-08-20 16:16] dushyants19 commented on #1027
Only max 3,

[2016-08-20 16:17] dushyants19 commented on #1026
Thanks for putting runway length, wish all would do that.

[2016-08-20 17:00] kilt46 commented on #744
![image](https://cloud.githubusercontent.com/assets/14023167/17832651/a56b3e4e-66cd-11e6-9abd-476eab23e185.png)

[2016-08-20 17:04] kilt46 commented on #797
![image](https://cloud.githubusercontent.com/assets/14023167/17832677/2c5b0b5a-66ce-11e6-8d36-dc07e288ad68.png)

[2016-08-20 17:11] kilt46 commented on #584
![image](https://cloud.githubusercontent.com/assets/14023167/17832721/2ce1b6a4-66cf-11e6-81c9-f138214bb331.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17832723/34f05f58-66cf-11e6-902c-d8aa5d628855.png)

[2016-08-20 18:19] #1014 closed

[2016-08-20 19:35] kilt46 commented on #592
![image](https://cloud.githubusercontent.com/assets/14023167/17833450/457757dc-66e3-11e6-82b3-acb357033c67.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17833452/4d5db608-66e3-11e6-9b68-70384e3f8923.png)

[2016-08-20 19:42] kilt46 commented on #795
![image](https://cloud.githubusercontent.com/assets/14023167/17833495/5e435ee0-66e4-11e6-941a-57832c304780.png)

[2016-08-20 19:44] kilt46 commented on #811
![image](https://cloud.githubusercontent.com/assets/14023167/17833502/9970983e-66e4-11e6-97b4-d297dbaddacc.png)

[2016-08-20 19:54] kilt46 commented on #795
![image](https://cloud.githubusercontent.com/assets/14023167/17833545/0b529974-66e6-11e6-8aa7-89e9804aab59.png)

[2016-08-20 22:14] sudafly commented on #1027
What do you mean @dushyants19

[2016-08-21 01:32] IFAEpat commented on #980
@lachieee said he needs to adjust something, reopening and re-assigning

[2016-08-21 03:31] chrislunde opened #1047 "RPVB"
Bacolod-Silay International Airport, Philippines

[2016-08-21 04:56] IFAEpat commented on #1047
@chrislunde are you on Slack? If not, you need to be invited there and then here so we can assign you :)

[2016-08-21 05:03] chrislunde commented on #1047
Hey, I am not on Slack.

________________________________
Fra: Patrick U <notifications@github.com>
Sendt: 21. august 2016 06:56
Til: InfiniteFlightAirportEditing/Airports
Kopi: chrislunde; Mention
Emne: Re: [InfiniteFlightAirportEditing/Airports] RPVB (#1047)

@chrislunde<https://github.com/chrislunde> are you on Slack? If not, you need to be invited there and then here so we can assign you :)

-

[2016-08-21 07:40] turkish1941 commented on #878
Can I get unassigned? This airport can not be made with the curent bing map.

[2016-08-21 10:02] dushyants19 commented on #878
Hit Earth on the GMaps tab, you'll get the sat image. Use Google Earth to import them. If you still cant do it, we'll unassign you

[2016-08-21 10:10] turkish1941 commented on #878
![cd2da95c-4a2c-11e6-8025-c79d505335c0](https://cloud.githubusercontent.com/assets/13819750/17836569/9b411842-6797-11e6-8a76-fdf769905b9a.jpg)
Dush this is the image bing gives me it doesnt matter how I zoom in or out the cloud keeps being there above the whole airport

[2016-08-21 10:37] dushyants19 commented on #1047
Hi @chrislunde, please send an email to airports@liveflightapp.com :)

[2016-08-21 10:44] #1023 closed

[2016-08-21 10:44] #954 closed

[2016-08-21 10:44] #959 closed

[2016-08-21 10:45] #1022 closed

[2016-08-21 10:54] #1028 closed

[2016-08-21 10:58] ghost opened #1048 "LPPD-Ponta Delgada Airport-AZORES-PORTUGAL"
Redoing.
Airport 2/9 from Project Azores.

[2016-08-21 10:58] bavAVIA opened #1049 "LPPI"
Redoing,
Airport 3/9 from Project Azores.

[2016-08-21 11:19] kilt46 commented on #1028
![image](https://cloud.githubusercontent.com/assets/14023167/17836877/3412eda6-6767-11e6-9abb-6ec68835962d.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17836878/3e5070b8-6767-11e6-84f7-5e5f0f4588ee.png)

[2016-08-21 12:12] turkish1941 commented on #925
Email is gone

[2016-08-21 12:16] kilt46 commented on #1022
![image](https://cloud.githubusercontent.com/assets/14023167/17837106/148ee5a4-676f-11e6-9c87-490da372405c.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17837108/1b809628-676f-11e6-9f70-e5e1589526ff.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17837110/244b0d6a-676f-11e6-85c2-8b89a0cec952.png)
![image](https://cloud.githubusercontent.com/assets/14023167/178

[2016-08-21 12:25] turkish1941 commented on #17
I will make it

[2016-08-21 13:06] kilt46 commented on #959
![image](https://cloud.githubusercontent.com/assets/14023167/17837320/1aeb98b4-6776-11e6-8226-8d2f846681f4.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17837323/23e2e1e8-6776-11e6-8fb2-0c8e1fc9ea85.png)

[2016-08-21 14:02] kilt46 commented on #954
![image](https://cloud.githubusercontent.com/assets/14023167/17837652/f80a6764-677d-11e6-9f23-ce61ba6f8c8b.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17837653/ffa70df6-677d-11e6-9ce5-72040b9bab70.png)

[2016-08-21 15:22] sudafly commented on #390
I dont do this any more

[2016-08-21 15:24] sudafly commented on #724
Not doing this because there are clouds on the whole Airport

[2016-08-21 16:18] david-garden opened #1050 "SBMA-Maraba/Joao Correa Da Rocha Airport-PARA-BRAZIL"
♻️ Recycling is the best thing on Earth ♻️

-_brunocr98_

[2016-08-21 18:42] Aviationluver commented on #1027
@sudafly You can only re-do a maximum of 3 airports at a time.

[2016-08-21 18:43] sudafly commented on #1027
Other 2 are canceled @Aviationluver

[2016-08-21 18:57] sudafly commented on #1027
EGVA and TNCC are canceled. Who can assign me?

[2016-08-22 02:14] B777fan commented on #800
Don't really want to do this anymore

[2016-08-22 07:40] ZaidSal commented on #774
Assign Me this One as i well-know OJAI and i can Re-done it

[2016-08-22 11:03] dushyants19 commented on #800
Why, DJ?

[2016-08-22 11:04] dushyants19 commented on #774
I have invited you, please check your email and accept it.

[2016-08-22 13:44] ZaidSal commented on #774
Done

[2016-08-22 14:23] dushyants19 commented on #1047
@chrislunde invited you to the team, please Accept:)

[2016-08-22 22:50] kilt46 commented on #29
![image](https://cloud.githubusercontent.com/assets/14023167/17874347/b0a0a80c-6890-11e6-8f9b-74f9a1e184b3.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17874369/d40ee4d4-6890-11e6-99e2-9a228ea7da3b.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17874377/e14757a8-6890-11e6-89a9-2bfd199aff35.png)

[2016-08-22 23:04] IFAEpat commented on #528
Still has white outlines, boundary goes through features, unneeded markings

![screen shot 2016-08-22 at 7 01 29 pm](https://cloud.githubusercontent.com/assets/18223248/17874654/1fdba906-689b-11e6-9989-e6fc30bfe0d1.png)

![screen shot 2016-08-22 at 7 03 41 pm](https://cloud.githubusercontent.com/assets/18223248/17874664/2d40967e-689b-11e6-8632-1f9b65263116.png)

[2016-08-22 23:05] IFAEpat commented on #528
also missing huge building

![screen shot 2016-08-22 at 6 58 42 pm](https://cloud.githubusercontent.com/assets/18223248/17874690/500cd8a2-689b-11e6-8cfe-b70b7415d3ed.png)

![screen shot 2016-08-22 at 7 04 59 pm](https://cloud.githubusercontent.com/assets/18223248/17874700/5cc00286-689b-11e6-933e-45f59e103375.png)

[2016-08-22 23:12] kilt46 commented on #1023
![image](https://cloud.githubusercontent.com/assets/14023167/17874857/e792afec-6893-11e6-9101-0fde893d620b.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17874860/ee46684c-6893-11e6-9255-bedf2266d7f7.png)

[2016-08-23 00:34] kilt46 commented on #73
![image](https://cloud.githubusercontent.com/assets/14023167/17876319/ed927912-689e-11e6-86f1-94f40f647d50.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17876325/09ea0878-689f-11e6-9b38-49828a2b1069.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17876351/37b0965a-689f-11e6-889d-9eb12154784a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/178

[2016-08-23 02:06] kilt46 commented on #165
![image](https://cloud.githubusercontent.com/assets/14023167/17877883/44fa7cba-68ac-11e6-99af-3233150626ab.png)

[2016-08-23 16:11] Adrien-Z opened #1051 "LETL-Teruel Airport-ARAGON-SPAIN"
RECYCLING IS LOVE. RECYCLING IS LIFE ♻️ ❤️

[2016-08-23 17:38] Adrien-Z commented on #1051
I just sent it for review :slightly_smiling_face:.

[2016-08-23 18:22] tacobell1015 commented on #401
has the new terminal been added yet?

[2016-08-23 20:57] JcFl4 commented on #528
That building is not part of the airport. The boundary does not affect anything if it is over features, but I will change it as soon as I can. What do you mean by "still" and "unnecessary" white "outlines" it's the road and airport details, the same present in EGBB that make the airport so realistic.

[2016-08-23 21:06] IFAEpat commented on #528
@JcFl4 I was told to remove those lines at the gates of EGBB.

[2016-08-23 21:15] liamkirky commented on #401
I'm not doing it anymore

Sent from my iPad

On 23 Aug 2016, at 19:22, tacobell1015 <notifications@github.com<mailto:notifications@github.com>> wrote:

has the new terminal been added yet?

-
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/InfiniteFlightAirportEditing/Airports/issues/401#issuecomment-241826904>, or mute the threa

[2016-08-23 21:51] kilt46 commented on #1020
![image](https://cloud.githubusercontent.com/assets/14023167/17911155/d0092d38-6951-11e6-940a-1360597698eb.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17911171/dc45cd18-6951-11e6-850c-6f57a2b244ad.png)

[2016-08-23 21:52] kilt46 commented on #1020
Please redo gates as per attachment

[2016-08-23 21:57] kilt46 commented on #925
Taxiway not visible!
![image](https://cloud.githubusercontent.com/assets/14023167/17911351/b60ad8cc-6952-11e6-9da2-619bb297f49b.png)

[2016-08-23 22:09] JcFl4 commented on #528
Why do we have to...  looks so good with them! Well then, I will remove them as soon as I can. Thanks.

[2016-08-23 22:30] turkish1941 commented on #925
thats pretty weird just opened the file 2 sec ago and it worked proof
![rjtt kilt](https://cloud.githubusercontent.com/assets/13819750/17912080/c055396e-6991-11e6-9244-96a9dff1f798.png)

[2016-08-23 22:46] kilt46 commented on #1014
![image](https://cloud.githubusercontent.com/assets/14023167/17912479/7befb714-6959-11e6-8dde-01003c2b6827.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17912481/83440434-6959-11e6-8cb5-48bf7bbe9f41.png)

[2016-08-23 22:52] kilt46 commented on #1013
Please modify airport as per attachment
![image](https://cloud.githubusercontent.com/assets/14023167/17912629/5418c9f0-695a-11e6-822e-eae5b2d2f999.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17912636/5ba757e0-695a-11e6-815c-617ab3a83478.png)

[2016-08-23 23:09] kilt46 commented on #172
![image](https://cloud.githubusercontent.com/assets/14023167/17912979/c78dc60e-695c-11e6-8b9c-2b1294a4dd6e.png)

[2016-08-24 00:35] kilt46 commented on #456
![image](https://cloud.githubusercontent.com/assets/14023167/17914549/ba2b1ee2-6968-11e6-97ae-91cd4dbdfd76.png)

[2016-08-24 00:59] dushyants19 commented on #925
It was not visible at higher zoom levels, WED bug.

[2016-08-24 01:25] CptNathanHope commented on #1029
sent via email; awaiting acceptance

[2016-08-24 06:25] IFAEpat commented on #501
Finally done!

7aba374

[2016-08-24 17:19] RiKowalSkipper commented on #1020
Redone

[2016-08-24 18:28] bedaboy opened #1052 "VOTV-Trivandrum International Airport-KERALA-INDIA"
Thiruvananthapuram Int'l Airport

[2016-08-24 18:53] ghost opened #1053 "TNCA-Queen Beatrix International Airport-ORANJESTAD-ARUBA"
Re-doing TNCA

[2016-08-24 18:54] ghost opened #1054 "FALM-Makhado AFB Airport-LIMPOPO-SOUTH AFRICA"
Please edit me. Recycled

[2016-08-24 18:57] IFAEpat commented on #1054
continue in #1053

[2016-08-24 19:25] J0mpa opened #1055 "KLTS-Altus AFB Airport-OKLAHOMA-USA"
Recycled.

[2016-08-24 19:27] Benny87654321 commented on #1053
Everything is in the wrong place. How do i make it from scratch?

[2016-08-24 21:34] TristinWoolf commented on #1055
Duplicate issue. Please search before creating issues. Continue in #550.

[2016-08-24 23:18] TristinWoolf commented on #26
I can confirm that the hashed regions are still there, as seen on a user screenshot on IFFG. Any word @NickArt1342

[2016-08-25 02:17] IFAEpat commented on #45
Done :)

7698cc3

[2016-08-25 02:17] #45 closed

[2016-08-25 02:19] kilt46 commented on #123
![image](https://cloud.githubusercontent.com/assets/14023167/17954396/6758b818-6a40-11e6-9d1c-6cbdf9d52c0a.png)

[2016-08-25 02:26] kilt46 commented on #517
![image](https://cloud.githubusercontent.com/assets/14023167/17954579/7443c01c-6a41-11e6-809f-11bb1fd561c4.png)

[2016-08-25 02:28] IFAEpat opened #1056 "LHPR"
Győr-Pér International Airport

[2016-08-25 04:46] IFAEpat commented on #1056
Done!

9cbbd59

[2016-08-25 04:46] #1056 closed

[2016-08-25 05:10] IFAEpat opened #1057 "LHPP"
Pécs-Pogány International Airport

[2016-08-25 05:56] IFAEpat commented on #1057
Done!

5039c25

[2016-08-25 05:56] #1057 closed

[2016-08-25 06:01] #1020 closed

[2016-08-25 07:18] dushyants19 commented on #554
[OTBD](https://cloud.githubusercontent.com/assets/13567007/17960150/fc83c0e6-6ac1-11e6-911a-6606f55290b4.png)

Tada!

f03705c

[2016-08-25 07:18] #554 closed

[2016-08-25 10:25] dushyants19 opened #1058 "VOCB"
Coimbatore, small regional airport. Ill do it

[2016-08-25 10:27] dushyants19 commented on #1052
Nice choice! :)

[2016-08-25 15:23] Padi3-14 commented on #999
Wait, what needs to be done to it? It looks good

[2016-08-25 15:26] dushyants19 commented on #999
Everything probably.

[2016-08-25 15:27] Padi3-14 commented on #999
A complete redo? Ok, got it

[2016-08-25 15:28] dushyants19 opened #1059 "SANT-Tucuman Airport-TUCUMAN-ARGENTINA"
RECYCLING IS GOOD 😄 ♻️

[2016-08-25 16:04] IFAEpat opened #1060 "LHSM"
Hévíz-Balaton Airport

[2016-08-25 17:36] KarlLuebs commented on #996
I can't do this airport anymore. I've tried to import and align the google earth scenery instead of the blurred wedbing image but I just can't do it. Someone else, more experienced can have this one instead.

[2016-08-25 17:39] KarlLuebs commented on #1000
Same with this one. Wedding image completely useless. Tried inserting scenery from google earth but no success.

[2016-08-25 18:11] ZaidSal commented on #774
Send off review, if it wasnt good, then unassign me

[2016-08-25 19:06] turkish1941 commented on #878
I give this one up, NOT doing this one.

[2016-08-25 23:23] kilt46 commented on #554
![image](https://cloud.githubusercontent.com/assets/14023167/17989163/e039aa70-6af0-11e6-9cd1-de890f7cdb23.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17989169/eaae8dcc-6af0-11e6-8ad7-1e812c544b45.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17989173/f5022ca2-6af0-11e6-91a2-b543aa852e3a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/179

[2016-08-25 23:32] kilt46 commented on #1020
![image](https://cloud.githubusercontent.com/assets/14023167/17989353/52e10162-6af2-11e6-88f1-d2870d45db25.png)

[2016-08-25 23:33] kilt46 commented on #1020
![image](https://cloud.githubusercontent.com/assets/14023167/17989356/5d9d5718-6af2-11e6-84f8-7509b016674d.png)

[2016-08-25 23:38] kilt46 commented on #1057
![image](https://cloud.githubusercontent.com/assets/14023167/17989471/1ca88948-6af3-11e6-9d2d-670dd53dd727.png)

[2016-08-25 23:41] kilt46 commented on #1056
![image](https://cloud.githubusercontent.com/assets/14023167/17989529/994cf268-6af3-11e6-9046-581ad2057996.png)

[2016-08-25 23:46] kilt46 commented on #45
![image](https://cloud.githubusercontent.com/assets/14023167/17989600/36f0f4e2-6af4-11e6-9935-c15919f6dd27.png)

[2016-08-26 04:39] IFAEpat commented on #1060
Done!

5021764

[2016-08-26 04:39] #1060 closed

[2016-08-26 06:24] IFAEpat opened #1061 "LHDV"
Dunaujvaros Airport

[2016-08-26 06:25] IFAEpat opened #1062 "LHHO"
Hajdúszoboszló Airport

[2016-08-26 20:25] kilt46 commented on #1060
![image](https://cloud.githubusercontent.com/assets/14023167/18019372/605de45e-6ba1-11e6-9aab-7bc6b5cbcd9d.png)

[2016-08-26 20:38] kilt46 commented on #345
![image](https://cloud.githubusercontent.com/assets/14023167/18019730/18ff5f8c-6ba3-11e6-9fde-0144e3727046.png)

[2016-08-26 20:45] TristinWoolf commented on #37
Just found this as a duplicate, it appears that this issue was created first, but #354 has more activity, so continue there.

[2016-08-26 20:49] kilt46 commented on #220
![image](https://cloud.githubusercontent.com/assets/14023167/18020002/9ce000bc-6ba4-11e6-982c-b17ce23b89f8.png)

[2016-08-26 20:49] TristinWoolf commented on #354
Found a parking lot that needs to be removed.
![image](https://cloud.githubusercontent.com/assets/18745517/18020000/9c11fc08-6ba4-11e6-84c2-95ffa8831146.jpeg)

[2016-08-26 21:08] TristinWoolf commented on #177
Found parking lots that need to be removed.
![image](https://cloud.githubusercontent.com/assets/18745517/18020473/13967874-6ba7-11e6-9c87-61d7f33e121d.png)
![image](https://cloud.githubusercontent.com/assets/18745517/18020474/139893ca-6ba7-11e6-9617-ccdacd9f7cf5.png)
![image](https://cloud.githubusercontent.com/assets/18745517/18020475/1399a364-6ba7-11e6-8133-1b596a893476.png)

[2016-08-26 22:26] kilt46 commented on #4
![image](https://cloud.githubusercontent.com/assets/14023167/18022153/2ea573d0-6bb2-11e6-9fcc-28caf4e313f2.png)

[2016-08-26 22:36] kilt46 commented on #223
![image](https://cloud.githubusercontent.com/assets/14023167/18022342/8decb0fa-6bb3-11e6-9163-61b8c4d68ffd.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18022348/97dc773a-6bb3-11e6-8015-261a282da049.png)

[2016-08-26 22:47] kilt46 commented on #369
![image](https://cloud.githubusercontent.com/assets/14023167/18022512/17769b64-6bb5-11e6-881e-1ca7b5e55b2f.png)

[2016-08-27 01:25] kilt46 commented on #702
![image](https://cloud.githubusercontent.com/assets/14023167/18024257/36cc2a7c-6bcb-11e6-8035-4da2451cab34.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18024261/41bf3140-6bcb-11e6-86fe-4d3725baf5fa.png)

[2016-08-27 07:50] dushyants19 commented on #177
Does it matter? Are we now removing parking lots?

[2016-08-27 07:59] dushyants19 commented on #177
To do for this airport

- [ ] Snap Nodes - F HANGERS and A-S
- [ ] Cut holes for buildings

[2016-08-27 08:10] dushyants19 commented on #354
Ill remove them, this is too much

[2016-08-27 11:14] kilt46 commented on #897
![image](https://cloud.githubusercontent.com/assets/14023167/18027011/741192f8-6c1d-11e6-94a9-162a133291ea.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18027014/7c585dca-6c1d-11e6-8ac1-3921eb61fb86.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18027016/83db9a44-6c1d-11e6-8b32-46767a0bc49e.png)

[2016-08-27 11:46] dushyants19 commented on #354
Spawns corrected to new guidelines and Lines removed

[2016-08-27 12:05] kilt46 commented on #562
![image](https://cloud.githubusercontent.com/assets/14023167/18027243/8b1f1806-6c24-11e6-9766-ddb65df7b6ec.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18027246/95f5bd2a-6c24-11e6-8c88-180778b0e7bd.png)

[2016-08-27 12:15] kilt46 commented on #354
![image](https://cloud.githubusercontent.com/assets/14023167/18027292/10bb5988-6c26-11e6-89fe-811e765445d0.png)

[2016-08-27 12:54] kilt46 commented on #912
![image](https://cloud.githubusercontent.com/assets/14023167/18027515/8094d694-6c2b-11e6-9d31-191f1413ca9e.png)

[2016-08-27 14:13] kilt46 commented on #900
![image](https://cloud.githubusercontent.com/assets/14023167/18027940/7652e6de-6c36-11e6-9ee2-b5e75f65b42a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18027944/7e9cfaaa-6c36-11e6-890d-95d7dc3e4bc2.png)

[2016-08-27 17:17] kilt46 commented on #870
![image](https://cloud.githubusercontent.com/assets/14023167/18028954/27d3f740-6c50-11e6-8712-5b670a3b5717.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18028958/32dffb20-6c50-11e6-833e-90fd1438f06b.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18028960/3969c26e-6c50-11e6-87f0-6ebb94cc1550.png)

[2016-08-27 17:37] kilt46 commented on #886
![image](https://cloud.githubusercontent.com/assets/14023167/18029047/f0bd7120-6c52-11e6-8e2a-dde8e26d2e0a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18029052/fcee2818-6c52-11e6-98d9-bacfb2e87698.png)

[2016-08-27 18:35] turkish1941 commented on #17
E mail is gone

[2016-08-27 18:45] turkish1941 opened #1063 "LTAU"
I'm on it

[2016-08-27 22:14] kilt46 commented on #875
![image](https://cloud.githubusercontent.com/assets/14023167/18030385/b0cff4da-6c79-11e6-895c-de4f6385aa16.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18030386/ba083ea4-6c79-11e6-8bd9-815fe9f0ee94.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18030389/c5087a76-6c79-11e6-991e-683db2190d7b.png)

[2016-08-28 04:50] BeniPrianto commented on #601
good

[2016-08-28 09:40] IceBlue02 commented on #465
@moritzbabl have you done this or are still interested?

[2016-08-28 11:08] moritzbabl commented on #465
Not done yet, but still very interested 😉

[2016-08-28 11:11] IceBlue02 commented on #87
@kilt46 done?

[2016-08-28 11:13] PaulNielsen opened #1064 "LGST"
Will redo this one

[2016-08-28 11:32] kilt46 commented on #278
![image](https://cloud.githubusercontent.com/assets/14023167/18033412/34bb0874-6ce9-11e6-930f-49412594a034.png)

[2016-08-28 11:43] kilt46 commented on #253
![image](https://cloud.githubusercontent.com/assets/14023167/18033457/b21ee0be-6cea-11e6-950d-6c8ec481a256.png)

[2016-08-28 11:52] kilt46 commented on #163
![image](https://cloud.githubusercontent.com/assets/14023167/18033481/01fdd0da-6cec-11e6-8a57-655adc5a7fa6.png)

[2016-08-28 11:59] PaulNielsen commented on #1064
Sent in for review

[2016-08-28 12:51] kilt46 commented on #160
![image](https://cloud.githubusercontent.com/assets/14023167/18033888/47d81838-6cf4-11e6-87bc-9bb09c70049a.png)

[2016-08-28 13:07] kilt46 commented on #139
![image](https://cloud.githubusercontent.com/assets/14023167/18033973/6f144578-6cf6-11e6-9c31-a341f49e363a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18033979/78f45042-6cf6-11e6-8ee5-e044e2348710.png)

[2016-08-28 13:34] kilt46 commented on #137
![image](https://cloud.githubusercontent.com/assets/14023167/18034101/340f7a0c-6cfa-11e6-8ff9-19f7715b795f.png)

[2016-08-28 13:45] kilt46 commented on #129
![image](https://cloud.githubusercontent.com/assets/14023167/18034183/bfa52d2c-6cfb-11e6-916f-6a3b9930eb6b.png)

[2016-08-28 15:34] kilt46 commented on #262
KONT
<img src="/uploads/infinite_flight/original/3X/4/2/4269bba65bdf4b17f6cb67c895cddcd92b7d2664.png" width="690" height="273">
TERMINAL 1
<img src="/uploads/infinite_flight/original/3X/8/8/88aaee645d36029a62e407f2cb96cb6aba130959.jpg" width="455" height="313">
TERMINAL 2
<img src="/uploads/infinite_flight/original/3X/1/8/1846c6cd902b7e871682c7aef63db62d6fad0747.jpg" width="690" height="313">
TERM

[2016-08-28 15:47] kilt46 commented on #259
![image](https://cloud.githubusercontent.com/assets/14023167/18034844/cd0d5190-6d0c-11e6-882a-822480e4e29c.png)

[2016-08-28 16:05] kilt46 commented on #258
![image](https://cloud.githubusercontent.com/assets/14023167/18034905/46c62636-6d0f-11e6-8fca-f3c829c26396.png)

[2016-08-28 19:00] kilt46 commented on #248
![image](https://cloud.githubusercontent.com/assets/14023167/18036029/5da5176e-6d27-11e6-8fb1-f01a1320f401.png)
MAIN HANGARS
![image](https://cloud.githubusercontent.com/assets/14023167/18036031/82449310-6d27-11e6-8aab-22a001656ae5.png)
ALPHA/BRAVO/CHARLIE
![image](https://cloud.githubusercontent.com/assets/14023167/18036036/9237823c-6d27-11e6-81b2-2a41d43e1a5d.png)
DELTA/ECHO/FOXTROT
![image](htt

[2016-08-28 19:13] kilt46 commented on #459
![image](https://cloud.githubusercontent.com/assets/14023167/18036164/a425ad46-6d29-11e6-879a-f668b0ae7bb0.png)

[2016-08-28 19:29] kilt46 commented on #228
![image](https://cloud.githubusercontent.com/assets/14023167/18036280/c8a1115e-6d2b-11e6-8d4d-c5df41dceccf.png)

[2016-08-28 19:37] kilt46 commented on #195
![image](https://cloud.githubusercontent.com/assets/14023167/18036325/f9ff2e7e-6d2c-11e6-8517-be8907e08589.png)

[2016-08-28 19:56] kilt46 commented on #134
![image](https://cloud.githubusercontent.com/assets/14023167/18036429/8b15e04a-6d2f-11e6-8ca7-4efd962538e7.png)

[2016-08-28 20:03] kilt46 commented on #110
![image](https://cloud.githubusercontent.com/assets/14023167/18036465/8714ef94-6d30-11e6-999e-4a070e2dabef.png)

[2016-08-28 20:13] kilt46 commented on #122
![image](https://cloud.githubusercontent.com/assets/14023167/18036520/ff5309c2-6d31-11e6-8fe3-874b62d27a31.png)

[2016-08-28 20:20] kilt46 commented on #98
![image](https://cloud.githubusercontent.com/assets/14023167/18036545/ea55e6a6-6d32-11e6-8902-ad11616ed950.png)

[2016-08-28 20:30] kilt46 commented on #132
![image](https://cloud.githubusercontent.com/assets/14023167/18036592/5e4d3842-6d34-11e6-99d0-1683bc7eacda.png)

[2016-08-28 20:31] IFAEpat commented on #1061
Done!

e6e7ab9

[2016-08-28 20:31] #1061 closed

[2016-08-28 21:19] IFAEpat commented on #1062
Done!
ebfb3a1

[2016-08-28 21:19] #1062 closed

[2016-08-28 21:30] IFAEpat opened #1065 "LHNK"
Nagykanizsa Airport

[2016-08-29 01:03] kilt46 commented on #1061
![image](https://cloud.githubusercontent.com/assets/14023167/18038205/8846cd0e-6d5a-11e6-8ad5-522071db7feb.png)

[2016-08-29 01:09] IFAEpat commented on #1065
Done!

20fc006

[2016-08-29 01:09] #1065 closed

[2016-08-29 01:09] kilt46 commented on #1062
![image](https://cloud.githubusercontent.com/assets/14023167/18038263/5bb0a4c6-6d5b-11e6-9af4-c77db2c48f2a.png)

[2016-08-29 01:12] kilt46 commented on #1065
![image](https://cloud.githubusercontent.com/assets/14023167/18038296/cb44c5e2-6d5b-11e6-89da-3808c7456a1b.png)

[2016-08-29 01:15] IFAEpat opened #1066 "LHMC"
Miskolc Airport

[2016-08-29 01:36] kilt46 commented on #117
![image](https://cloud.githubusercontent.com/assets/14023167/18038538/018980ea-6d5f-11e6-8c0d-29d5f504e1a4.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18038543/17c0d386-6d5f-11e6-8590-1da37ab8beb2.png)

[2016-08-29 01:57] IFAEpat commented on #1066
Done!

664bee6

[2016-08-29 01:57] #1066 closed

[2016-08-29 02:02] IFAEpat opened #1067 "LHSK"
Siófok-Kiliti Airport

[2016-08-29 02:06] kilt46 commented on #115
![image](https://cloud.githubusercontent.com/assets/14023167/18038936/53da1c3e-6d63-11e6-96a7-1e2b12d621be.png)

[2016-08-29 02:13] kilt46 commented on #1066
![image](https://cloud.githubusercontent.com/assets/14023167/18039008/3b62aecc-6d64-11e6-997a-095db3d8ebdd.png)

[2016-08-29 12:20] #932 closed

[2016-08-29 12:28] dushyants19 commented on #1000
Up for grabs

[2016-08-29 12:29] dushyants19 commented on #996
Up for grabs :)

Karl is unable to do these 2

[2016-08-29 14:40] turkish1941 commented on #1063
Email is gone

[2016-08-29 15:12] IFAEpat commented on #1067
Done! a2f425a

[2016-08-29 15:12] #1067 closed

[2016-08-29 15:12] turkish1941 opened #1068 "LTCF"
On it

[2016-08-29 15:12] turkish1941 opened #1069 "LTBO"
On it

[2016-08-29 15:13] turkish1941 opened #1070 "LTAZ-Nevşehir Kapadokya Airport-NEVSEHIR-TURKEY"
On it

[2016-08-29 16:46] turkish1941 commented on #17
2016-08-29 14:20 GMT+02:00 Dushyanth <notifications@github.com>:

[2016-08-29 18:24] IFAEpat commented on #1024
Done! 82ddbb6

[2016-08-29 18:24] #1024 closed

[2016-08-29 18:29] IFAEpat opened #1071 "LHEC"
Ersekcsanad Airport

[2016-08-29 18:59] IFAEpat commented on #1071
Done! d456c33

[2016-08-29 18:59] #1071 closed

[2016-08-29 19:01] IFAEpat opened #1072 "LHGD"
Gödöllő Airport

[2016-08-29 20:00] KarlLuebs opened #1073 "KBIS"
Fully redoing this one.

[2016-08-29 20:21] Aviationluver commented on #1016
Sent in for review.

[2016-08-29 21:25] kilt46 commented on #1071
![image](https://cloud.githubusercontent.com/assets/14023167/18068065/3daf4694-6e05-11e6-9724-5e181df54cfe.png)

[2016-08-30 00:36] kilt46 commented on #111
![image](https://cloud.githubusercontent.com/assets/14023167/18071999/e475873a-6e1f-11e6-84bc-ba9628081c27.png)

[2016-08-30 03:02] IFAEpat commented on #1072
Done! 7eca060

[2016-08-30 03:02] #1072 closed

[2016-08-30 05:37] Aviationluver opened #1075 "EDDB-Berlin Schonefeld Airport-BRANDENBURG-GERMANY"
Berlin Schönefeld Airport. I'll re-do this one.

[2016-08-30 12:28] turkish1941 commented on #1070
Email is gone

[2016-08-30 12:29] turkish1941 commented on #1068
Email is gone

[2016-08-30 18:45] IFAEpat opened #1076 "LHKK"
Kiskunlacháza Airport

[2016-08-30 22:04] kilt46 commented on #1072
![image](https://cloud.githubusercontent.com/assets/14023167/18108828/c1f0713e-6ed3-11e6-81c0-75d2dab2d764.png)

[2016-08-30 22:22] kilt46 commented on #1024
![image](https://cloud.githubusercontent.com/assets/14023167/18109347/5c4fa400-6ed6-11e6-9ec6-e5570aff7a00.png)

[2016-08-30 23:05] IFAEpat commented on #1076
Imagery issues, will look for something else to change this to that has good imagery.

[2016-08-30 23:06] IFAEpat commented on #1076
I hope this one has good imagery

[2016-08-30 23:16] IFAEpat commented on #1076
Yay, good imagery

[2016-08-31 00:16] kilt46 commented on #17
![image](https://cloud.githubusercontent.com/assets/14023167/18111527/fbda4e9e-6ee5-11e6-9bb7-440a9ef8868a.png)
CARGO
![image](https://cloud.githubusercontent.com/assets/14023167/18111535/0b7a4be2-6ee6-11e6-9c97-0187a7834be7.png)
INTERNATIONAL TERMINAL
![image](https://cloud.githubusercontent.com/assets/14023167/18111543/21662638-6ee6-11e6-87ca-f3bb092e65a1.png)
DOMESTIC TERMINAL
![image](https://

[2016-08-31 00:29] kilt46 commented on #1067
![image](https://cloud.githubusercontent.com/assets/14023167/18111804/235d44b0-6ee8-11e6-83f6-07a700285651.png)

[2016-08-31 14:32] RiKowalSkipper commented on #1013
Redone

[2016-08-31 14:33] RiKowalSkipper commented on #1021
Done

[2016-08-31 16:32] PaulNielsen commented on #1064
@dushyants19 Is this one added? As you told me in the E-mail it was added?

[2016-08-31 19:21] JcFl4 opened #1077 "LEAS"
Asturias Airport.

[2016-08-31 19:21] #1077 closed

[2016-09-01 10:38] bavAVIA commented on #966
Can someone please unassign me. Can't do the airport, no satellite imagery available.
The original X-Plane file also looks quite finished already

[2016-09-01 20:26] Hamza1108 commented on #270
Is this still open??I would like to take it if it is available.

[2016-09-01 20:30] Hamza1108 commented on #511
Hey can I take this one

[2016-09-01 22:49] kilt46 commented on #566
![image](https://cloud.githubusercontent.com/assets/14023167/18187088/6e09948e-706c-11e6-8364-4195c815ef6d.png)

[2016-09-01 23:05] kilt46 commented on #566
![image](https://cloud.githubusercontent.com/assets/14023167/18187393/b092ce0e-706e-11e6-9711-889b9af7ce50.png)

[2016-09-02 00:53] liamkirky opened #1080 "EGNM-Leeds Bradford Airport-ENGLAND-UNITED KINGDOM"
Redone by @brunocr98

[2016-09-02 00:53] liamkirky commented on #1080
Hey I would like to do this

[2016-09-02 13:58] #574 closed

[2016-09-02 13:58] #1064 closed

[2016-09-02 13:58] #1013 closed

[2016-09-02 13:58] #1021 closed

[2016-09-02 13:59] #1063 closed

[2016-09-02 13:59] #1069 closed

[2016-09-02 14:01] dushyants19 commented on #511
Cool, Please send an email if you havent already to `airports@liveflightapp.com` :)

[2016-09-02 15:01] IceBlue02 commented on #534
Done (finally). Commit https://github.com/InfiniteFlightAirportEditing/Airports/commit/8059bcc4cb88b1a727c1f0c9c274cf3d144c56ba

NAV issue made.

[2016-09-02 15:25] IceBlue02 commented on #902
Please accept the invite :pray: @mjgonzalez45

[2016-09-02 17:16] Hamza1108 commented on #511
I have a while ago, I dunno if it has been read yet.

On Sep 2, 2016 9:02 AM, "Dushyanth" <notifications@github.com> wrote:

[2016-09-02 18:09] PaulNielsen commented on #532
Has Kenneth done anything on this one? If no, I'll take over.
@kenfre02

[2016-09-02 18:10] PaulNielsen commented on #532
Actually it says he started in May. And still nothing. I'll take over this one 👍

[2016-09-02 19:34] kenfre02 commented on #532
Go ahead, @PaulNielsen. :)

[2016-09-02 20:02] kilt46 commented on #553
![image](https://cloud.githubusercontent.com/assets/14023167/18216723/3edc31aa-711e-11e6-8026-e30fcc076498.png)

[2016-09-02 21:26] kilt46 commented on #534
![image](https://cloud.githubusercontent.com/assets/14023167/18218661/f094cda2-7129-11e6-9998-45047dd87578.png)

[2016-09-02 21:56] kilt46 commented on #1026
![image](https://cloud.githubusercontent.com/assets/14023167/18219291/333d7ec0-712e-11e6-8991-4f636929b5db.png)

[2016-09-03 04:25] kilt46 commented on #1069
![image](https://cloud.githubusercontent.com/assets/14023167/18222703/8d569e2e-7164-11e6-8dc0-930942e84650.png)

[2016-09-03 04:41] kilt46 commented on #1063
![image](https://cloud.githubusercontent.com/assets/14023167/18222762/d1c5f53a-7166-11e6-990e-c752e3e98d95.png)

[2016-09-03 07:55] PaulNielsen commented on #532
Thanks, can someone assign me to this one? :)

[2016-09-03 11:20] IceBlue02 commented on #536
@IFFG-Nico still working on this?

[2016-09-03 11:26] dushyants19 commented on #532
@PaulNielsen how did you unassign Kenneth? :thought_balloon:

[2016-09-03 11:46] kilt46 commented on #1070
![image](https://cloud.githubusercontent.com/assets/14023167/18224628/1cd79d36-71a2-11e6-9f35-cf6264921683.png)

[2016-09-03 11:50] #1068 closed

[2016-09-03 11:51] dushyants19 commented on #18
Minor improvements by @Will171

[2016-09-03 12:01] kilt46 commented on #18
![image](https://cloud.githubusercontent.com/assets/14023167/18224695/42e13ada-71a4-11e6-83d4-787fef47a1df.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18224697/4bd12786-71a4-11e6-849e-c5dcdedc8e0c.png)

[2016-09-03 12:07] kilt46 commented on #1068
![image](https://cloud.githubusercontent.com/assets/14023167/18224722/09bf4606-71a5-11e6-80a0-7a6752e4d22a.png)

[2016-09-03 12:14] kilt46 commented on #1064
![image](https://cloud.githubusercontent.com/assets/14023167/18224765/0c72cf7a-71a6-11e6-8546-e3b35a85c9f5.png)

[2016-09-03 12:35] kilt46 commented on #1021
![image](https://cloud.githubusercontent.com/assets/14023167/18224836/f71710de-71a8-11e6-889b-8b790369e60a.png)

[2016-09-03 12:57] kilt46 commented on #1013
![image](https://cloud.githubusercontent.com/assets/14023167/18224931/0bdbc8e0-71ac-11e6-9d3b-a2a64d144f16.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18224932/127b4d06-71ac-11e6-87ae-78a09ce0c1e3.png)

[2016-09-03 13:31] kilt46 commented on #566
![image](https://cloud.githubusercontent.com/assets/14023167/18225094/c7d43628-71b0-11e6-982f-a29bbacaa755.png)

[2016-09-03 13:40] kilt46 commented on #1016
This airport has no ATC info!!!

[2016-09-03 13:47] kilt46 commented on #1077
![image](https://cloud.githubusercontent.com/assets/14023167/18225203/fdde5f1c-71b2-11e6-85b6-1608035f614c.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18225205/0563e4e6-71b3-11e6-9e46-fa31bbbde240.png)

[2016-09-03 14:02] PaulNielsen commented on #532
@dushyants19 I actually have no idea, I just tagged him.

[2016-09-03 14:15] PaulNielsen commented on #532
Sent in for approval.

[2016-09-03 14:28] JcFl4 commented on #528
All fixed.

[2016-09-03 15:31] JonathanAirbus opened #1083 "SANE-Santiago Del Estero Airport-SANTIAGO DEL ESTERO-ARGENTINA"
RECYCLED ♻️

[2016-09-03 15:34] dushyants19 commented on #1083
Duplicate, search before posting #246

[2016-09-03 15:35] dushyants19 commented on #1083
Moreover, CDG doesnt have a runway 16R :)

[2016-09-03 16:02] kilt46 commented on #528
![image](https://cloud.githubusercontent.com/assets/14023167/18225981/e802d4b2-71c5-11e6-8713-1047678eee26.png)

[2016-09-03 17:08] #532 closed

[2016-09-03 17:36] kilt46 commented on #532
![image](https://cloud.githubusercontent.com/assets/14023167/18226603/196197b6-71d3-11e6-889b-f5181502e75d.png)

[2016-09-03 18:04] kilt46 commented on #1016
![image](https://cloud.githubusercontent.com/assets/14023167/18226785/de5db722-71d6-11e6-99b1-2ecdfee3d2e3.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18226787/e78465da-71d6-11e6-9751-880fbc7ea13d.png)

[2016-09-03 18:38] IFFG-Nico commented on #536
No i quit

Am 03.09.2016 13:20 schrieb "Ewan Massey" <notifications@github.com>:

[2016-09-03 20:50] kilt46 commented on #932
![image](https://cloud.githubusercontent.com/assets/14023167/18227561/16edf43c-71ee-11e6-9e32-19a311ecac03.png)

[2016-09-03 20:59] PaulNielsen opened #1085 "LGAL"
Being redone

[2016-09-03 21:13] kilt46 commented on #84
![image](https://cloud.githubusercontent.com/assets/14023167/18227646/55c0ed06-71f1-11e6-80b7-f2e9a0565924.png)

[2016-09-03 21:24] kilt46 commented on #224
![image](https://cloud.githubusercontent.com/assets/14023167/18227689/da06fe06-71f2-11e6-89b6-f02f97de6aea.png)

[2016-09-03 21:36] PaulNielsen commented on #1085
Annnnd. Sent in for review! :)

[2016-09-03 21:42] kilt46 commented on #149
![image](https://cloud.githubusercontent.com/assets/14023167/18227771/4feebd6e-71f5-11e6-8eee-9a8318da3b88.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18227772/586bb654-71f5-11e6-8f33-d1e5ec842e1c.png)

[2016-09-04 02:10] sentikum opened #1086 "UHWW"
Vladvostok=Knevichi Intl' Airport

two runways
07r-25l -11500 ft
07l-25r - 11400 ft

[2016-09-04 06:20] dushyants19 commented on #536
Ice, wanna do this

[2016-09-04 11:29] Will171 commented on #41
Minor changes to taxiways and i plan on adding taxiway signs

[2016-09-04 11:48] kilt46 commented on #789
![image](https://cloud.githubusercontent.com/assets/14023167/18230783/92e6e0c6-726b-11e6-895a-bed08aa33eb5.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18230788/9c09841a-726b-11e6-8b02-98d059c35e0a.png)

[2016-09-04 11:50] dushyants19 commented on #268
Update given

[2016-09-04 11:52] PaulNielsen commented on #1085
@kilt46 Dush has already approved it :)

[2016-09-04 11:53] dushyants19 commented on #1085
Just taking some time to push it :)

[2016-09-04 11:54] #1085 closed

[2016-09-04 11:57] kilt46 commented on #413
![image](https://cloud.githubusercontent.com/assets/14023167/18230829/c8e9e794-726c-11e6-9f79-8100a3bc7acf.png)

[2016-09-04 12:21] kilt46 commented on #1085
![image](https://cloud.githubusercontent.com/assets/14023167/18230953/38b4787a-7270-11e6-97c6-06a56e79569b.png)

[2016-09-04 12:31] kilt46 commented on #158
![image](https://cloud.githubusercontent.com/assets/14023167/18230999/89e14506-7271-11e6-82bc-cb90fb29dd2a.png)

[2016-09-04 12:38] kilt46 commented on #411
![image](https://cloud.githubusercontent.com/assets/14023167/18231025/9f1f48cc-7272-11e6-8559-6f438137f735.png)

[2016-09-04 12:41] PaulNielsen opened #1087 "EDDE"
Erfurt airport, being redone by me.

[2016-09-04 12:51] kilt46 commented on #937
![image](https://cloud.githubusercontent.com/assets/14023167/18231099/6aaaf5f8-7274-11e6-9a4b-34d61a367309.png)

[2016-09-04 13:01] kilt46 commented on #759
![image](https://cloud.githubusercontent.com/assets/14023167/18231137/d699f678-7275-11e6-8cd0-6c3c44ca42db.png)

[2016-09-04 13:06] kilt46 commented on #923
![image](https://cloud.githubusercontent.com/assets/14023167/18231164/8da5f97a-7276-11e6-9d45-d28d8a37e809.png)

[2016-09-04 13:13] kilt46 commented on #904
![image](https://cloud.githubusercontent.com/assets/14023167/18231196/7ae3d4c8-7277-11e6-997c-d1fb66ef82c2.png)

[2016-09-04 13:41] kilt46 commented on #757
![image](https://cloud.githubusercontent.com/assets/14023167/18231282/66f6f28e-727b-11e6-96cb-4926d5a8712a.png)

[2016-09-04 14:02] kilt46 commented on #927
![image](https://cloud.githubusercontent.com/assets/14023167/18231383/3d7be90c-727e-11e6-9201-f761495209fb.png)

[2016-09-04 14:08] kilt46 commented on #514
![image](https://cloud.githubusercontent.com/assets/14023167/18231424/280722e8-727f-11e6-8b96-a1d4fe3304bf.png)

[2016-09-04 14:15] kilt46 commented on #926
![image](https://cloud.githubusercontent.com/assets/14023167/18231473/140688f0-7280-11e6-9d74-95dc32708ff4.png)

[2016-09-04 20:07] PaulNielsen commented on #1087
Sent in for approval! :)

[2016-09-05 05:57] #1087 closed

[2016-09-05 06:02] #601 closed

[2016-09-05 06:31] dushyants19 commented on #395
Redo required, not up to current standards (unsnapped stuff everywhere, overlapping)

@AxelBeder wanna do this?

[2016-09-05 08:48] lachieee commented on #596
5/09/16 Still finishing this airport. Will be busy for the next two and a half months however and will continue after.

[2016-09-05 08:49] lachieee commented on #734
5/09/16 Still finishing this airport. Will be busy for the next two and a half months however and will continue after.

[2016-09-05 08:58] dushyants19 commented on #38
Kilt confirmed in that topic that **This is not an issue**

[2016-09-05 09:08] dushyants19 commented on #30
`cb5257e

[2016-09-05 09:37] dushyants19 commented on #177
8c44982

[2016-09-05 09:37] #177 closed

[2016-09-05 10:32] Adam167 commented on #1005
This one is up for grabs

[2016-09-05 11:24] Adam167 commented on #997
Sent for approval again

[2016-09-05 14:17] kilt46 commented on #54
![image](https://cloud.githubusercontent.com/assets/14023167/18250513/7305928c-7349-11e6-8f16-39a2a2f600d5.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18250520/7eb05b12-7349-11e6-9673-a698d7c4deda.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18250546/9e1bf10a-7349-11e6-98a0-44d565919171.png)

[2016-09-05 14:40] kilt46 commented on #177
![image](https://cloud.githubusercontent.com/assets/14023167/18251122/d8391072-734c-11e6-9178-ecf9577c788f.png)

[2016-09-05 15:49] PaulNielsen opened #1088 "LQSA"
LQSA, Sarajevo. Being redone! :) by me

[2016-09-05 16:50] kilt46 commented on #601
![image](https://cloud.githubusercontent.com/assets/14023167/18253951/92c7c4ae-735e-11e6-8e94-cd7fd64b3296.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18253976/c0298f54-735e-11e6-9dec-afb6bd15197d.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18253981/ccacb210-735e-11e6-8e50-9db1b0995afc.png)
![image](https://cloud.githubusercontent.com/assets/14023167/182

[2016-09-05 17:42] PaulNielsen commented on #1088
Sent in for approval!

[2016-09-05 18:26] IFAEpat opened #1089 "LHNY"
Nyíregyháza Airport

[2016-09-05 18:27] IFAEpat opened #1090 "LHUD"
Szeged Airport

[2016-09-05 18:28] IFAEpat opened #1091 "LHKE"
Kecskemét Air Base

[2016-09-05 18:29] IFAEpat opened #1092 "LHPA"
Pápa Air Base

[2016-09-05 18:30] IFAEpat opened #1093 "LHSN"
Szolnok Air Base

[2016-09-05 19:00] kilt46 commented on #1087
![image](https://cloud.githubusercontent.com/assets/14023167/18255629/0969bb32-7371-11e6-904c-7764c4a9183f.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18255631/1176a772-7371-11e6-8712-5f4a6430a01f.png)

[2016-09-05 19:10] kilt46 commented on #563
![image](https://cloud.githubusercontent.com/assets/14023167/18255763/8e1cf460-7372-11e6-82e9-a717b7cfbc43.png)

[2016-09-06 01:03] kilt46 commented on #760
![image](https://cloud.githubusercontent.com/assets/14023167/18258925/de54cd1e-73a3-11e6-947b-ab569dafb4ad.png)

[2016-09-06 01:09] kilt46 commented on #467
![image](https://cloud.githubusercontent.com/assets/14023167/18258980/b552dad6-73a4-11e6-924e-a0e093a98bb8.png)

[2016-09-06 02:18] kilt46 commented on #415
![image](https://cloud.githubusercontent.com/assets/14023167/18259865/42e12868-73ae-11e6-8db4-e3e8ded84a55.png)

[2016-09-06 02:25] kilt46 commented on #443
![image](https://cloud.githubusercontent.com/assets/14023167/18259961/43192c62-73af-11e6-86a7-9069d9693ef7.png)

[2016-09-06 10:16] kilt46 commented on #295
![image](https://cloud.githubusercontent.com/assets/14023167/18270137/0f02f722-73f1-11e6-825a-a3216adb63f1.png)

[2016-09-06 15:02] PaulNielsen opened #1094 "LYTV"
LYTV, Tivat. Being redone! :)

[2016-09-06 16:12] PaulNielsen commented on #1094
Sent in for approval.

[2016-09-06 22:03] kilt46 commented on #578
![image](https://cloud.githubusercontent.com/assets/14023167/18292612/c4eb3114-7453-11e6-9e65-d6deabf64a9d.png)

[2016-09-06 23:37] kilt46 commented on #750
![image](https://cloud.githubusercontent.com/assets/14023167/18294728/0565f456-7461-11e6-920f-c8557edfa543.png)

[2016-09-07 00:08] Hamza1108 commented on #1018
Can I take this one please?

[2016-09-07 00:23] Hamza1108 commented on #26
Is this available

[2016-09-07 00:26] kilt46 commented on #26
As you will see it is assigned to Nickart

[2016-09-07 00:33] kilt46 commented on #1018
See how you do with this one. If you are proficient I will get you a major airport 😀

[2016-09-07 01:43] kilt46 commented on #294
![image](https://cloud.githubusercontent.com/assets/14023167/18296904/912b8b66-7472-11e6-95ba-1e1a29ef815b.png)

[2016-09-07 02:28] kilt46 commented on #409
![image](https://cloud.githubusercontent.com/assets/14023167/18297755/df33a022-7478-11e6-8cbd-15084e5a18ca.png)

[2016-09-07 02:41] kilt46 commented on #293
![image](https://cloud.githubusercontent.com/assets/14023167/18297988/bb310fa0-747a-11e6-955b-a029eff9cc48.png)

[2016-09-07 03:09] Hamza1108 commented on #22
What redesign does this need?

[2016-09-07 04:49] IFAEpat commented on #1076
Done! 5ef940d

[2016-09-07 04:49] #1076 closed

[2016-09-07 06:03] dushyants19 commented on #22
Get proficient with the skills on editing with your first few ones, then let's grow up to great airports.

[2016-09-07 07:44] Adam167 commented on #997
Approved

[2016-09-07 09:49] dushyants19 commented on #667
Minor changes by Ilyas done

[2016-09-07 09:50] #1088 closed

[2016-09-07 09:50] #997 closed

[2016-09-07 10:10] kilt46 commented on #997
![image](https://cloud.githubusercontent.com/assets/14023167/18308261/6b92f7ee-74b9-11e6-9b88-2b42c40749d5.png)

[2016-09-07 18:59] IFAEpat commented on #577
@dushyants19 he was kicked for being inactive, this is open to anyone! Seems good for newbies! :)

[2016-09-07 20:13] PaulNielsen opened #1095 "EYPA"
Redoing

[2016-09-07 22:18] kilt46 commented on #1088
![image](https://cloud.githubusercontent.com/assets/14023167/18330572/05bb9334-751f-11e6-9460-b73329d5e315.png)

[2016-09-07 22:34] kilt46 commented on #598
![image](https://cloud.githubusercontent.com/assets/14023167/18330956/4118279c-7521-11e6-9c6c-5de8813f2af7.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18330963/4a4b028a-7521-11e6-9fc4-3aca2c3f5602.png)

[2016-09-07 22:38] IFAEpat commented on #1090
Done! 03149ef

[2016-09-07 22:38] #1090 closed

[2016-09-07 22:47] kilt46 commented on #1090
![image](https://cloud.githubusercontent.com/assets/14023167/18331266/30138dea-7523-11e6-927b-7bf8fdb790fe.png)

[2016-09-07 23:33] kilt46 commented on #667
![image](https://cloud.githubusercontent.com/assets/14023167/18332110/8c45e5b2-7529-11e6-8181-c9a82af98dc1.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18332113/93e87e7e-7529-11e6-83b4-d615390dd5dd.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18332116/9b834010-7529-11e6-8895-80a36d4ff128.png)

[2016-09-08 13:29] Adam167 commented on #510
I'll do this

[2016-09-08 13:59] PaulNielsen commented on #1095
Sent in for approval.

[2016-09-08 22:26] kilt46 commented on #1076
![image](https://cloud.githubusercontent.com/assets/14023167/18369131/65c63138-75e9-11e6-8157-5c4a6010836d.png)

[2016-09-08 22:36] kilt46 commented on #689
![image](https://cloud.githubusercontent.com/assets/14023167/18369337/c4cc9770-75ea-11e6-92d2-ab6a2ff2bcc3.png)

[2016-09-08 23:04] kilt46 commented on #686
![image](https://cloud.githubusercontent.com/assets/14023167/18369942/a47db504-75ee-11e6-9092-063c21ec2bea.png)

[2016-09-09 04:07] IFAEpat commented on #1089
Done! 1156491

[2016-09-09 04:07] #1089 closed

[2016-09-09 05:27] lalomarlin opened #1096 "MMJC"
Atizapan de Zaragoza

[2016-09-09 16:35] #782 closed

[2016-09-09 16:35] NickArt1342 opened #1097 "LSGC"

[2016-09-09 16:35] #1097 closed

[2016-09-09 17:32] PaulNielsen opened #1098 "LDPL"
Pula airport being redone!

[2016-09-09 17:38] #1094 closed

[2016-09-09 17:57] #1095 closed

[2016-09-09 18:03] PaulNielsen opened #1099 "LFAB"

[2016-09-09 18:03] PaulNielsen opened #1100 "LFAJ"

[2016-09-09 18:03] PaulNielsen opened #1101 "LFBA"

[2016-09-09 18:04] PaulNielsen opened #1102 "LFCM"

[2016-09-09 18:04] PaulNielsen opened #1103 "LFEA"

[2016-09-09 18:05] PaulNielsen opened #1104 "LFHU-Lalpe Dhuez Airport-RHONE-ALPES-FRANCE"

[2016-09-09 18:05] PaulNielsen opened #1105 "LFLB-Chambery Aix Les Bains Airport-RHONE-ALPES-FRANCE"

[2016-09-09 18:05] PaulNielsen opened #1106 "NUIE"

[2016-09-09 18:08] #1099 closed

[2016-09-09 18:08] #1100 closed

[2016-09-09 18:08] #1101 closed

[2016-09-09 18:08] #1102 closed

[2016-09-09 18:08] #1103 closed

[2016-09-09 18:08] #1106 closed

[2016-09-09 20:09] PaulNielsen commented on #1098
Sent in for review! :)

[2016-09-10 12:01] kilt46 commented on #1103
![image](https://cloud.githubusercontent.com/assets/14023167/18410319/72b8664a-7724-11e6-8db8-ded1830f2d08.png)

[2016-09-10 12:06] kilt46 commented on #1104
![image](https://cloud.githubusercontent.com/assets/14023167/18410340/189b0874-7725-11e6-8eb2-8dd8207b71d0.png)

[2016-09-10 12:24] kilt46 commented on #1105
![image](https://cloud.githubusercontent.com/assets/14023167/18410398/8f656ede-7727-11e6-921a-ded6caaff357.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18410400/980bdb0e-7727-11e6-8df7-97accea12bc7.png)

[2016-09-10 12:34] IceBlue02 opened #1107 "LOAA"
Redoing

[2016-09-10 12:36] IceBlue02 opened #1108 "LOAB"
Redoing

[2016-09-10 12:36] IceBlue02 opened #1109 "LOAD"
Redoing.

[2016-09-10 12:36] kilt46 commented on #1099
![image](https://cloud.githubusercontent.com/assets/14023167/18410463/54bf073e-7729-11e6-9fc1-91bf237c66da.png)

[2016-09-10 12:45] kilt46 commented on #1101
![image](https://cloud.githubusercontent.com/assets/14023167/18410508/7cf3dada-772a-11e6-8a5b-88ddf2b0e7d7.png)

[2016-09-10 12:59] kilt46 commented on #1100
![image](https://cloud.githubusercontent.com/assets/14023167/18410602/732633e8-772c-11e6-98fa-a2607b020b22.png)

[2016-09-10 13:05] kilt46 commented on #1102
![image](https://cloud.githubusercontent.com/assets/14023167/18410632/49c2c36c-772d-11e6-874b-0365b6d0f34b.png)

[2016-09-10 13:28] kilt46 commented on #1106
unknown airport location!!

[2016-09-10 14:05] PaulNielsen commented on #998
Has anything been done on this one @dushyants19 @lolo31r ?? Otherwise I will take it.

[2016-09-10 14:17] kilt46 commented on #1095
![image](https://cloud.githubusercontent.com/assets/14023167/18411147/68cdadf8-7737-11e6-8b55-bcf9a1120fc6.png)

[2016-09-10 14:18] lolo31r commented on #998
@PaulNielsen i am on vacation, i'll arrive on Monday and keep on going with this project

[2016-09-10 14:34] PaulNielsen commented on #306
I will try to redo this airport! :)

[2016-09-10 14:35] dushyants19 commented on #306
@kilt46 this airport doesnt get A380s

[2016-09-10 14:37] PaulNielsen commented on #306
Maybe he added it because so we will get a good network all over the world with kind of big airports :)

[2016-09-10 15:27] kilt46 commented on #1094
![image](https://cloud.githubusercontent.com/assets/14023167/18411645/285b084c-7741-11e6-867d-9d0f527928c3.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18411649/303c4940-7741-11e6-8268-1fcfdf49516a.png)

[2016-09-10 15:39] kilt46 commented on #782
![image](https://cloud.githubusercontent.com/assets/14023167/18411717/d3381916-7742-11e6-9e11-55069746440c.png)

[2016-09-10 15:51] kilt46 commented on #1097
![image](https://cloud.githubusercontent.com/assets/14023167/18411790/85eae010-7744-11e6-908c-0592a2725ac1.png)

[2016-09-10 18:05] IceBlue02 commented on #1109
Done.
https://github.com/InfiniteFlightAirportEditing/Airports/commit/f09d18eb0eafe4dbb19e89daebff2a2b74d3f942

[2016-09-10 18:05] #1109 closed

[2016-09-10 18:05] IceBlue02 commented on #1107
Done.
https://github.com/InfiniteFlightAirportEditing/Airports/commit/f09d18eb0eafe4dbb19e89daebff2a2b74d3f942

[2016-09-10 18:05] #1107 closed

[2016-09-10 18:05] IceBlue02 commented on #1108
Done.
https://github.com/InfiniteFlightAirportEditing/Airports/commit/f09d18eb0eafe4dbb19e89daebff2a2b74d3f942

[2016-09-10 18:05] #1108 closed

[2016-09-10 18:07] IceBlue02 opened #1110 "LOAG"
Redoing

[2016-09-10 18:07] IceBlue02 opened #1111 "LOAL"
Redoing

[2016-09-10 18:07] IceBlue02 opened #1112 "LOAN"
Redoing

[2016-09-10 18:08] IceBlue02 commented on #536
@dushyants19 damn, yeah I'll take it

[2016-09-10 19:01] kilt46 commented on #418
![image](https://cloud.githubusercontent.com/assets/14023167/18412864/f33b9640-775e-11e6-9a92-98f8f692f035.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18412870/193b3904-775f-11e6-958c-0dd6d8585695.png)

[2016-09-10 19:34] PaulNielsen commented on #306
Awaiting approval! :)

[2016-09-10 20:47] kilt46 commented on #1108
![image](https://cloud.githubusercontent.com/assets/14023167/18413443/d573d56e-776d-11e6-8832-ea846676430c.png)

[2016-09-10 20:50] kilt46 commented on #1107
![image](https://cloud.githubusercontent.com/assets/14023167/18413458/43dadebc-776e-11e6-8410-0b6aa9477426.png)

[2016-09-10 20:58] kilt46 commented on #1109
![image](https://cloud.githubusercontent.com/assets/14023167/18413506/5e218ad6-776f-11e6-9727-048f4921aa38.png)

[2016-09-10 21:54] PaulNielsen commented on #540
@IFFG-Nico Anything? ... It's September and still nothing.. 😒

[2016-09-10 21:58] PaulNielsen commented on #540
@IFFG-Nico If you're not doing it, I would like to do it. :)

[2016-09-11 00:42] kilt46 commented on #809
![image](https://cloud.githubusercontent.com/assets/14023167/18414461/ae0a5838-778e-11e6-8fcd-8bcf03b40bd5.png)

[2016-09-11 02:25] sentikum opened #1113 "URRR"
Rostov-on-Don Int'l Airport (Russian Federation)

[2016-09-11 04:04] CaptainDawud opened #1114 "KOUN"
University of Oklahoma Westheimer Airport

[2016-09-11 07:12] dushyants19 commented on #1106
@AxelBeder

[2016-09-11 07:13] dushyants19 commented on #1106
@kilt46 : https://en.wikipedia.org/wiki/Niue_International_Airport

[2016-09-11 07:14] #1098 closed

[2016-09-11 07:57] dushyants19 commented on #117
Airport realigned with WEDbing. Made it as a Class E

[2016-09-11 09:08] IFFG-Nico commented on #540
Do it i stopped

Am 10.09.2016 23:58 schrieb "PaulNielsen" <notifications@github.com>:

[2016-09-11 09:16] PaulNielsen commented on #540
Ok thanks.

[2016-09-11 12:51] #783 closed

[2016-09-11 13:04] kilt46 commented on #783
![image](https://cloud.githubusercontent.com/assets/14023167/18417429/6dad96e8-77f6-11e6-8263-52d7e02055db.png)

[2016-09-11 13:22] kilt46 commented on #1029
![image](https://cloud.githubusercontent.com/assets/14023167/18417531/d73eab86-77f8-11e6-90ec-1eb1e16ce094.png)
OUTLINES ADDED
![image](https://cloud.githubusercontent.com/assets/14023167/18417535/e5c08530-77f8-11e6-9d5f-04f53189dc33.png)

[2016-09-11 13:50] kilt46 commented on #1098
![image](https://cloud.githubusercontent.com/assets/14023167/18417697/d34d8462-77fc-11e6-974f-cf490b1f9ed2.png)

[2016-09-11 14:39] kilt46 commented on #447
![image](https://cloud.githubusercontent.com/assets/14023167/18417969/4f791082-7803-11e6-8e92-7aa89f950fb3.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18417982/8057f740-7803-11e6-93ef-ead4334f59d5.png)

[2016-09-11 14:48] kilt46 commented on #513
![image](https://cloud.githubusercontent.com/assets/14023167/18418056/d13e423a-7804-11e6-8658-3af030e45430.png)

[2016-09-11 15:15] JcFl4 commented on #394
Won't be able to do this one, sorry. I leave it for someone else.

[2016-09-11 15:44] kilt46 commented on #442
![image](https://cloud.githubusercontent.com/assets/14023167/18418461/8b892dba-780c-11e6-877f-51c724dc6151.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18418468/b8e9e9ac-780c-11e6-9d61-dd873add79a3.png)

[2016-09-11 15:56] IFAEpat commented on #394
I'll be doing this one, seems interesting :)

[2016-09-11 15:58] MalongMa opened #1115 "RCMQ-Taichung Cingcyuankang-TAIWAN"
Mabye i can do this?

[2016-09-11 16:09] kilt46 commented on #765
![image](https://cloud.githubusercontent.com/assets/14023167/18418666/303c9b1e-7810-11e6-8727-9383ace15616.png)

[2016-09-11 16:42] kilt46 commented on #572
![image](https://cloud.githubusercontent.com/assets/14023167/18418909/e23066d0-7814-11e6-9ddd-1c4ed826aea2.png)

[2016-09-11 16:50] kilt46 commented on #244
Missing ATC data!!!

[2016-09-11 17:04] kilt46 commented on #761
![image](https://cloud.githubusercontent.com/assets/14023167/18419026/e1faf1e6-7817-11e6-8b17-41d6649d6995.png)

[2016-09-11 17:12] kilt46 commented on #436
![image](https://cloud.githubusercontent.com/assets/14023167/18419069/065ed9ca-7819-11e6-9a00-86c0f3f4bfe0.png)

[2016-09-11 17:37] kilt46 commented on #928
![image](https://cloud.githubusercontent.com/assets/14023167/18419266/7e80325c-781c-11e6-98f4-0d27c492a98c.png)

[2016-09-11 21:35] kilt46 commented on #933
![image](https://cloud.githubusercontent.com/assets/14023167/18420670/b7dd59fa-783d-11e6-8248-31e4a13b48c7.png)

[2016-09-11 21:40] kilt46 commented on #938
![image](https://cloud.githubusercontent.com/assets/14023167/18420702/79fd81d6-783e-11e6-8b0c-f7875cb03947.png)

[2016-09-11 21:42] Aviationluver commented on #1075
Sent in for review.

[2016-09-11 22:12] moritzbabl opened #1116 "EDFH"
Frankfurt Hahn, i will do this one

[2016-09-11 22:31] brunocr98 commented on #996
I'll do this airport soon and I'm elaborating a project that will include all the airports in Panama.

[2016-09-11 22:54] brunocr98 commented on #996
I'll do this airport soon and I'm elaborating a project that will include all the airports in Panama. I'll keep you updated.

[2016-09-11 23:57] IFAEpat commented on #1092
Done! 1 more to go! 8d7e2b2

[2016-09-11 23:57] #1092 closed

[2016-09-11 23:59] IFAEpat commented on #1092
Done! 8d7e2b2

[2016-09-12 00:00] kilt46 commented on #1092
![image](https://cloud.githubusercontent.com/assets/14023167/18421515/f877796e-7851-11e6-84b2-26cea1c2acb7.png)

[2016-09-12 00:01] IFAEpat commented on #1091
Done! 1 more to go! 2df25c0cb8f104c8a38d2ff919653eda8e11f216

[2016-09-12 00:01] #1091 closed

[2016-09-12 00:02] IFAEpat commented on #1093
Starting this one now, it's the last for Hungary!

[2016-09-12 00:09] kilt46 commented on #807
![image](https://cloud.githubusercontent.com/assets/14023167/18421584/48c14c0a-7853-11e6-9b33-35b10ad615b3.png)

[2016-09-12 00:28] kilt46 commented on #437
![image](https://cloud.githubusercontent.com/assets/14023167/18421695/e40512b2-7855-11e6-9c15-9ec83bb0713e.png)

[2016-09-12 00:33] kilt46 commented on #438
![image](https://cloud.githubusercontent.com/assets/14023167/18421729/a2008292-7856-11e6-806b-c469d1375641.png)

[2016-09-12 00:51] kilt46 commented on #427
![image](https://cloud.githubusercontent.com/assets/14023167/18421866/11be1322-7859-11e6-8ec3-6d563e1e94fa.png)

[2016-09-12 05:12] IFAEpat commented on #1093
Done! eb1b6d2

Hungary is complete!!!

[2016-09-12 05:12] #1093 closed

[2016-09-12 05:19] IFAEpat opened #1117 "TIST"
TIST - Cyril E. King Airport

[2016-09-12 05:20] IFAEpat opened #1118 "TISX"
TISX - Henry E. Rohlsen Airport

[2016-09-12 05:52] PaulNielsen commented on #1027
How is this one going ? @sudafly

[2016-09-12 06:24] IFAEpat commented on #1117
done 85aa948

[2016-09-12 06:24] #1117 closed

[2016-09-12 08:28] #785 closed

[2016-09-12 10:12] kilt46 commented on #785
![image](https://cloud.githubusercontent.com/assets/14023167/18432431/8bc92550-78a7-11e6-9634-4f84b5fae43b.png)

[2016-09-12 10:53] bavAVIA opened #1119 "LPLA-Lajes Field-AZORES-PORTUGAL"
Lajes Field, Project Azores.
Being redone from scratch.

[2016-09-12 16:03] PaulNielsen commented on #678
I talked to @chriscroft20 some time ago, he told me he isn't doing Athens LGAV anymore, so this one is up for grabs!

[2016-09-12 17:00] dushyants19 commented on #1115
Are you in our slack?

Please mail to airports@liveflightapp.com

[2016-09-12 17:11] dushyants19 commented on #616
Minor changes done by Ilyas

[2016-09-12 17:12] #1086 closed

[2016-09-12 17:23] PaulNielsen commented on #540
Sent in for approval.

[2016-09-12 18:58] IFAEpat commented on #1118
done 1015541

[2016-09-12 18:58] #1118 closed

[2016-09-12 20:20] #540 closed

[2016-09-12 20:21] #306 closed

[2016-09-12 21:29] IFAEpat opened #1120 "PMDY"
Midway Atoll

[2016-09-12 21:30] IFAEpat opened #1121 "PLPA"
Palmyra Airport

[2016-09-12 21:46] IFAEpat commented on #1120
done 1c650ff

[2016-09-12 21:46] #1120 closed

[2016-09-12 21:46] IFAEpat commented on #1121
Done b34a5cb

[2016-09-12 21:46] #1121 closed

[2016-09-12 21:56] kilt46 commented on #1121
![image](https://cloud.githubusercontent.com/assets/14023167/18454418/d9a101c8-7909-11e6-898c-b051b42ea6a1.png)

[2016-09-12 22:00] kilt46 commented on #1120
![image](https://cloud.githubusercontent.com/assets/14023167/18454511/68bd84ee-790a-11e6-9da3-0c6c751bc9d2.png)

[2016-09-12 22:04] kilt46 commented on #1118
![image](https://cloud.githubusercontent.com/assets/14023167/18454616/fb11594c-790a-11e6-9739-8599c6cc5522.png)

[2016-09-12 22:10] kilt46 commented on #1117
![image](https://cloud.githubusercontent.com/assets/14023167/18454759/cca6a70a-790b-11e6-889a-1c00669e558d.png)

[2016-09-12 22:46] kilt46 commented on #616
![image](https://cloud.githubusercontent.com/assets/14023167/18455642/d2377eba-7910-11e6-8cdc-f83a04d0dd45.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18455647/dd0713b4-7910-11e6-98ed-c18274252773.png)

[2016-09-13 16:49] #1007 closed

[2016-09-13 17:16] PaulNielsen commented on #244
Will fix the ATC data! :)

[2016-09-13 17:28] PaulNielsen commented on #244
Uhh, I just opened it. There is already 5 frequencies in there with the correct names and numbers.

[2016-09-13 17:48] lalomarlin opened #1122 "MMVA"
MMVA - Villahermosa Intl

[2016-09-13 17:49] JcFl4 opened #1123 "HECA"
Cairo International, Egypt. (القاهرة ,مصر)

[2016-09-13 17:57] PaulNielsen commented on #985
Fixing!

[2016-09-13 18:02] #985 closed

[2016-09-13 18:24] Aviationluver opened #1124 "EDXW-Sylt Airport-SCHLESWIG-HOLSTEIN-GERMANY"
I will be re-doing this one.

Runways are not longer than 10,000 feet.

[2016-09-13 18:55] lalomarlin opened #1125 "MMPB"
Puebla Intl

[2016-09-13 23:06] kilt46 commented on #540
![image](https://cloud.githubusercontent.com/assets/14023167/18494618/d8ca5816-79dc-11e6-8432-1ca126d3bae6.png)

[2016-09-13 23:15] kilt46 commented on #985
![image](https://cloud.githubusercontent.com/assets/14023167/18494760/fd619c88-79dd-11e6-9f77-67b76eebcbf3.png)

[2016-09-13 23:38] kilt46 commented on #1007
![image](https://cloud.githubusercontent.com/assets/14023167/18495167/4c49c07a-79e1-11e6-863f-e02ed6041268.png)

[2016-09-13 23:52] kilt46 commented on #244
ATC ITEMS missing  ON UPLOADED FILE
![image](https://cloud.githubusercontent.com/assets/14023167/18495396/364befc6-79e3-11e6-8c88-4b3f36990f66.png)

[2016-09-14 00:04] kilt46 commented on #1075
![image](https://cloud.githubusercontent.com/assets/14023167/18495594/ecfa87c2-79e4-11e6-8ad5-6a51198d6a49.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18495602/f661d130-79e4-11e6-9b6d-1149f8aad2a6.png)

[2016-09-14 01:43] kilt46 commented on #306
![image](https://cloud.githubusercontent.com/assets/14023167/18497306/be447768-79f2-11e6-9b55-03fd421c007f.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18497311/c82cbc68-79f2-11e6-95dd-b26ed338c5c3.png)

[2016-09-14 09:08] PaulNielsen commented on #244
Hmm, maybe I got a bit confused when I used the WED beta, I will look into it again today.

[2016-09-14 14:21] PaulNielsen commented on #244
My bad, fixed.

https://github.com/InfiniteFlightAirportEditing/Airports/commit/e89dee080d75554f45c8ccdabc4bdb5747408bc1

[2016-09-14 15:22] PaulNielsen opened #1126 "LFBX"
Being redone

[2016-09-14 16:11] PaulNielsen commented on #1126
Done.

[2016-09-14 16:11] #1126 closed

[2016-09-14 17:36] PaulNielsen commented on #200
@samuelandersson What is left to do?

[2016-09-14 22:03] Aviationluver commented on #1124
Sent in for review.

[2016-09-14 22:43] kilt46 commented on #998
![image](https://cloud.githubusercontent.com/assets/14023167/18532597/aeb41afa-7aa2-11e6-89bd-be972ddc8f88.png)

[2016-09-14 23:31] kilt46 commented on #1126
![image](https://cloud.githubusercontent.com/assets/14023167/18533565/845e2ff0-7aa9-11e6-89ae-f38d80508fda.png)

[2016-09-14 23:38] kilt46 commented on #1086
![image](https://cloud.githubusercontent.com/assets/14023167/18533680/65f7363c-7aaa-11e6-85fe-213fa0711e81.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18533686/6dca20c2-7aaa-11e6-9773-67d0656be8cf.png)

[2016-09-15 00:27] kilt46 commented on #244
![image](https://cloud.githubusercontent.com/assets/14023167/18534492/43ba4bf2-7ab1-11e6-8481-8373f2a36edc.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18534494/4e7735e6-7ab1-11e6-9b19-c3c257379d87.png)

[2016-09-15 00:49] kilt46 commented on #48
![image](https://cloud.githubusercontent.com/assets/14023167/18534789/4ab23afc-7ab4-11e6-978f-d8e545fb3621.png)

[2016-09-15 02:00] kilt46 commented on #431
![image](https://cloud.githubusercontent.com/assets/14023167/18535962/351ed092-7abe-11e6-9288-e3041642cf97.png)

[2016-09-15 02:04] kilt46 commented on #430
![image](https://cloud.githubusercontent.com/assets/14023167/18536010/c3b6e3b2-7abe-11e6-8a90-7ea870de85d8.png)

[2016-09-15 02:12] kilt46 commented on #432
![image](https://cloud.githubusercontent.com/assets/14023167/18536129/e8b371fc-7abf-11e6-8407-19b00283b32a.png)

[2016-09-15 02:27] kilt46 commented on #435
![image](https://cloud.githubusercontent.com/assets/14023167/18536322/019a47a2-7ac2-11e6-9e34-20bebbb43732.png)

[2016-09-15 02:32] kilt46 commented on #424
![image](https://cloud.githubusercontent.com/assets/14023167/18536400/afd27010-7ac2-11e6-9a2c-803799c9f143.png)

[2016-09-15 14:57] Aviationluver commented on #687
@superkev99 Are you still working on this one?

[2016-09-15 15:14] PaulNielsen opened #1127 "LIRJ-Marina Di Campo Airport-TOSCANA-ITALY"
Being redone

[2016-09-15 16:28] PaulNielsen commented on #1127
Done

[2016-09-15 17:56] PaulNielsen opened #1128 "LIMZ-Cuneo/Levaldigi Airport-PIEMONTE-ITALY"
Being redone

[2016-09-15 20:32] superkev99 commented on #687
No sorry, I have no time anymoreVon meinem Huawei-Mobiltelefon gesendet-------- Originalnachricht --------Betreff: Re: [InfiniteFlightAirportEditing/Airports] EDDW (#687)Von: Aviationluver An: InfiniteFlightAirportEditing/Airports Cc: superkev99 ,Mention @superkev99 Are you still working on this one?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHu

[2016-09-15 20:37] Aviationluver commented on #687
I would like to re-do this one.

[2016-09-15 20:38] PaulNielsen commented on #687
@Aviationluver Go ahead! :)

[2016-09-15 20:39] Aviationluver commented on #687
I'll try my best ;) @PaulNielsen

[2016-09-15 20:56] PaulNielsen commented on #1128
Done

[2016-09-15 22:50] kilt46 commented on #1127
![image](https://cloud.githubusercontent.com/assets/14023167/18570089/e82bd1c2-7b6c-11e6-8482-a37e634aaabb.png)

[2016-09-15 23:01] kilt46 commented on #1128
![image](https://cloud.githubusercontent.com/assets/14023167/18570320/7bb6d6c0-7b6e-11e6-9871-ed3323114010.png)

[2016-09-15 23:16] kilt46 commented on #1124
![image](https://cloud.githubusercontent.com/assets/14023167/18570545/84bf6d66-7b70-11e6-96ad-a8b73b64bc34.png)

[2016-09-15 23:25] kilt46 commented on #423
![image](https://cloud.githubusercontent.com/assets/14023167/18570683/b63ee762-7b71-11e6-8fa4-342dce627da5.png)

[2016-09-16 00:09] kilt46 commented on #449
![image](https://cloud.githubusercontent.com/assets/14023167/18571428/e4c9597c-7b77-11e6-862e-b5aa6c0fb668.png)

[2016-09-16 00:22] kilt46 commented on #452
![image](https://cloud.githubusercontent.com/assets/14023167/18571664/b717bec2-7b79-11e6-8a41-7c22e09f3be0.png)

[2016-09-16 00:27] kilt46 commented on #451
![image](https://cloud.githubusercontent.com/assets/14023167/18571733/66c7cf24-7b7a-11e6-955e-74340260f9c9.png)

[2016-09-16 00:34] kilt46 commented on #450
![image](https://cloud.githubusercontent.com/assets/14023167/18571859/63d12d00-7b7b-11e6-9623-fc6855d288be.png)

[2016-09-16 00:54] kilt46 commented on #279
![image](https://cloud.githubusercontent.com/assets/14023167/18572145/280dbc18-7b7e-11e6-8283-06cd89c0e6fe.png)

[2016-09-16 00:54] kilt46 commented on #279
![image](https://cloud.githubusercontent.com/assets/14023167/18572151/34cee6f2-7b7e-11e6-9242-3068a2a01a07.png)

[2016-09-16 02:19] brunocr98 commented on #996
Finished and submited to airport@liveflightapp.com

[2016-09-16 22:04] kilt46 commented on #272
![image](https://cloud.githubusercontent.com/assets/14023167/18602542/a17768c2-7c2f-11e6-835d-8007156f8efc.png)

[2016-09-17 01:35] lalomarlin opened #1129 "MMCM"
Chetumal Intl

[2016-09-17 02:32] brunocr98 opened #1130 "MPMG"
Doing this airport. Albrook "Marcos A. Gelabert" Int'l Airport.

[2016-09-17 11:28] kilt46 commented on #143
![image](https://cloud.githubusercontent.com/assets/14023167/18607903/009e57e6-7ca0-11e6-9838-e7aea6df225d.png)

[2016-09-17 11:47] kilt46 commented on #300
![image](https://cloud.githubusercontent.com/assets/14023167/18608000/8a58dfc2-7ca2-11e6-91cf-7929c8658e2c.png)

[2016-09-17 11:51] dushyants19 commented on #1129
You have 6 airports assigned to you, max is 3

[2016-09-17 12:03] kilt46 commented on #934
![image](https://cloud.githubusercontent.com/assets/14023167/18608087/e722600a-7ca4-11e6-90a8-e03b738aee65.png)

[2016-09-17 12:18] kilt46 commented on #670
![image](https://cloud.githubusercontent.com/assets/14023167/18608147/e393cc60-7ca6-11e6-9268-309642286552.png)

[2016-09-17 12:29] kilt46 commented on #772
![image](https://cloud.githubusercontent.com/assets/14023167/18608193/8137a774-7ca8-11e6-9389-b2701ccb21d1.png)

[2016-09-17 12:44] kilt46 commented on #63
![image](https://cloud.githubusercontent.com/assets/14023167/18608276/8b35a512-7caa-11e6-8c8d-89fa8184be3c.png)

[2016-09-17 12:45] dushyants19 commented on #143
UPDATED PAPIs and runway attributes

![image](https://cloud.githubusercontent.com/assets/13567007/18608281/b22fec10-7d02-11e6-81ab-7a1bf079e64f.png)

[2016-09-17 13:34] kilt46 commented on #524
![image](https://cloud.githubusercontent.com/assets/14023167/18608522/4703769c-7cb1-11e6-9e44-742a16f3ca15.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18608530/7e315e5e-7cb1-11e6-83a2-c171e62185b0.png)

[2016-09-17 14:00] kilt46 commented on #203
![image](https://cloud.githubusercontent.com/assets/14023167/18608667/1e405546-7cb5-11e6-9697-e325cb6de552.png)

[2016-09-17 19:17] JcFl4 commented on #731
Redoing it, as out of date and taxiways and lines are not parallel.

[2016-09-17 19:37] #731 closed

[2016-09-17 19:58] kilt46 commented on #206
![image](https://cloud.githubusercontent.com/assets/14023167/18610646/25a3063a-7ce7-11e6-968c-7dd9956fd76a.png)

[2016-09-17 21:36] kilt46 commented on #399
![image](https://cloud.githubusercontent.com/assets/14023167/18611080/b16dc5a8-7cf4-11e6-9174-93152510934e.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18611085/d418b770-7cf4-11e6-819e-8b0fe8603e9f.png)

[2016-09-17 21:51] kilt46 commented on #731
![image](https://cloud.githubusercontent.com/assets/14023167/18611163/fd9ea1d4-7cf6-11e6-9292-bfa46fabb8b0.png)

[2016-09-17 22:24] Aviationluver opened #1131 "SVMI-Maiquetia Simon Bolivar International Airport-VARGAS-VENEZUELA"
I do not want to re-do this one.

This is a suggestion.

[2016-09-17 22:39] Adam167 commented on #1131
I will redo this when I have finished my other one

[2016-09-18 11:20] kilt46 commented on #260
![image](https://cloud.githubusercontent.com/assets/14023167/18615274/0681f640-7d68-11e6-9a26-6c4271d7ebf5.png)

[2016-09-18 11:34] kilt46 commented on #646
![image](https://cloud.githubusercontent.com/assets/14023167/18615343/047a05d4-7d6a-11e6-96ec-deb49aaddbcc.png)

[2016-09-18 11:39] kilt46 commented on #198
![image](https://cloud.githubusercontent.com/assets/14023167/18615359/9e890a44-7d6a-11e6-9270-e59c802e59dd.png)

[2016-09-18 11:44] kilt46 commented on #194
![image](https://cloud.githubusercontent.com/assets/14023167/18615388/5947354a-7d6b-11e6-800d-ba56176eb0d4.png)

[2016-09-18 12:04] kilt46 commented on #193
![image](https://cloud.githubusercontent.com/assets/14023167/18615501/2aefa850-7d6e-11e6-8026-29d9f32118de.png)

[2016-09-18 12:19] kilt46 commented on #196
![image](https://cloud.githubusercontent.com/assets/14023167/18615604/32beebe8-7d70-11e6-8a52-4bce9eadd737.png)

[2016-09-18 14:37] kilt46 commented on #26
![image](https://cloud.githubusercontent.com/assets/14023167/18616515/e62a319e-7d82-11e6-83d5-f032da28d56e.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18616524/20d38fca-7d83-11e6-8f53-7f8c2670ef3a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18616533/482162c8-7d83-11e6-9f7b-5b6699a28008.png)
![image](https://cloud.githubusercontent.com/assets/14023167/186

[2016-09-18 16:24] kilt46 commented on #178
![image](https://cloud.githubusercontent.com/assets/14023167/18617317/782b023a-7d92-11e6-9fe0-3dc78a886d81.png)

[2016-09-18 17:00] kilt46 commented on #351
![image](https://cloud.githubusercontent.com/assets/14023167/18617535/6c91353e-7d97-11e6-90ed-332002f1dcbb.png)

[2016-09-18 19:10] IFAEpat opened #1132 "PWAK"
Wake Isalnd Airfield

[2016-09-18 19:10] IFAEpat opened #1133 "PGUM-Guam International Airport-GUAM-GUAM"
Antonio B. Won Pat Intl

[2016-09-18 19:13] IFAEpat opened #1134 "KCAK-Akron-Canton Regional Airport-OHIO-USA"
RECYCLED ♻️

[2016-09-18 19:17] IFAEpat commented on #780
Some errors with this one, I'll fix them

[2016-09-18 19:35] kilt46 commented on #883
![image](https://cloud.githubusercontent.com/assets/14023167/18618475/2829506e-7dad-11e6-8caf-29a50c279fdc.png)

[2016-09-18 19:53] kilt46 commented on #903
![image](https://cloud.githubusercontent.com/assets/14023167/18618594/aca68b20-7daf-11e6-8021-6253c6088638.png)

[2016-09-18 20:33] kilt46 commented on #882
![image](https://cloud.githubusercontent.com/assets/14023167/18618873/397234e6-7db5-11e6-9753-03dc65203022.png)

[2016-09-18 20:36] kilt46 commented on #881
![image](https://cloud.githubusercontent.com/assets/14023167/18618900/b2ac9bbc-7db5-11e6-9358-c543f0243b50.png)

[2016-09-18 20:57] kilt46 commented on #748
![image](https://cloud.githubusercontent.com/assets/14023167/18619064/970d095c-7db8-11e6-9922-99c5680d855c.png)

[2016-09-18 21:02] kilt46 commented on #893
![image](https://cloud.githubusercontent.com/assets/14023167/18619105/4b43ee4a-7db9-11e6-94aa-025e29bcbf36.png)

[2016-09-18 21:23] IFAEpat commented on #889
@mjgonzalez45 status? If you're not doing this, I'm willing to take over. An Airport of this size shouldn't take more than 3 months...

[2016-09-18 21:54] IFAEpat commented on #913
He said he can't do this, I'll be taking over

[2016-09-18 22:16] NickArt1342 commented on #26
Please let's have a moment of silence for all the hatched line areas that had to be removed to day. We shall never forget them. :(

[2016-09-19 00:03] kilt46 commented on #896
![image](https://cloud.githubusercontent.com/assets/14023167/18620172/90a771f0-7dd2-11e6-9e7f-42e9e9067d59.png)

[2016-09-19 00:22] kilt46 commented on #877
![image](https://cloud.githubusercontent.com/assets/14023167/18620313/3cdf82b2-7dd5-11e6-8d59-dd5d2f55be1d.png)

[2016-09-19 00:27] kilt46 commented on #920
![image](https://cloud.githubusercontent.com/assets/14023167/18620335/e1bf2ada-7dd5-11e6-93f0-f8f047448aa8.png)

[2016-09-19 00:38] kilt46 commented on #916
![image](https://cloud.githubusercontent.com/assets/14023167/18620402/6ad1485c-7dd7-11e6-82f0-c4b994a4e371.png)

[2016-09-19 00:42] kilt46 commented on #905
![image](https://cloud.githubusercontent.com/assets/14023167/18620441/13080394-7dd8-11e6-91c2-6add6425a629.png)

[2016-09-19 00:50] kilt46 commented on #796
![image](https://cloud.githubusercontent.com/assets/14023167/18620481/317b54e2-7dd9-11e6-9e99-69663171783c.png)

[2016-09-19 07:17] JcFl4 opened #1135 "PAEI-Eielson Air Force Base-ALASKA-USA"
♻️

[2016-09-19 11:15] dushyants19 opened #1136 "TFFC"
IF airport, horrible condition

[2016-09-19 11:59] dushyants19 commented on #1136
Airport fixed in 1eb906d

[2016-09-19 11:59] #1136 closed

[2016-09-19 12:18] dushyants19 commented on #527
@corporate1401 how is this going?

[2016-09-19 18:24] Aviationluver commented on #687
Sent in for review.

[2016-09-19 23:55] kilt46 commented on #1135
![image](https://cloud.githubusercontent.com/assets/14023167/18652760/937f9e02-7e9a-11e6-8dd7-0c3e86d1925d.png)

[2016-09-19 23:59] kilt46 commented on #1136
![image](https://cloud.githubusercontent.com/assets/14023167/18652840/340b5a50-7e9b-11e6-93de-7791ab1a9e48.png)

[2016-09-20 00:07] IFAEpat opened #1137 "SBGL-Rio De Janeiro Galeao Airport-RIO DE JANEIRO-BRAZIL"
Tom Jobim International Airport

New A380 Airport to the list! FAA approved airport for A380 Operations!

[2016-09-20 00:59] kilt46 commented on #20
![image](https://cloud.githubusercontent.com/assets/14023167/18654001/83b5a292-7ea3-11e6-9546-0379be61f290.png)

[2016-09-20 01:14] kilt46 commented on #147
![image](https://cloud.githubusercontent.com/assets/14023167/18654308/9dc21a56-7ea5-11e6-8219-12ebaa066d1e.png)

[2016-09-20 10:51] dushyants19 commented on #1137
NO GP1 label, no commercial service

[2016-09-20 11:41] dushyants19 commented on #586
Many issues

[2016-09-20 11:42] dushyants19 commented on #617
Many issues with this

[2016-09-20 11:56] #687 closed

[2016-09-20 11:56] #1096 closed

[2016-09-20 11:56] #1122 closed

[2016-09-20 15:20] Aviationluver opened #1138 "EDDV-Hannover Airport-NIEDERSACHSEN-GERMANY"
Hannover Airport.

Runway= 10,000+ feet

[2016-09-20 18:09] #1058 closed

[2016-09-20 18:26] dushyants19 commented on #400
No @liamkirky

[2016-09-20 22:26] NickArt1342 commented on #755
Question: The altitude in the apt.dat is 35 (m), but it should be given in feet I thought?

[2016-09-20 22:50] NickArt1342 commented on #755
Most of frequencies are missing. Somebody could add them, but not so necessary. Check here for all the intel you need http://www.uvairlines.com/admin/resources/charts/ZBAA.pdf or http://www.vatprc.net/index.php/en/en-firs/en-zbpe/66-en-zbaa

[2016-09-21 01:03] kilt46 commented on #1058
![image](https://cloud.githubusercontent.com/assets/14023167/18694120/3a68e16a-7f6d-11e6-974d-5ebe96015176.png)

[2016-09-21 13:42] dushyants19 commented on #755
@nickart1342 go to view -> hit feet so that it's displayed in feet

[2016-09-21 16:05] NickArt1342 commented on #755
@dushyants19 I don't care what I see in my WED, but the important thing is the number in the apt.dat. Is it automatically transformed and saved as feet?

[2016-09-21 17:37] dushyants19 commented on #755
If user enters in metres, saved as metres. Converted to ft as per your request

[2016-09-21 21:38] corporate1401 commented on #527
It's done and approved by Henrik

[2016-09-22 10:28] canoneoswen commented on #618
I've done this one.

[2016-09-22 12:26] PaulNielsen commented on #618
Okay. Have you sent it in for review at airports@liveflightapp.com

@canoneoswen ?

[2016-09-22 18:51] carmichaelalonso commented on #889
@mjgonzalez45 If you don't have time to do this soon, please let us know as we have other people waiting to do it. Thanks!

[2016-09-22 19:03] dushyants19 commented on #618
What's happening here, @canoneoswen? Are you in our slack? Why haven't you told us about this? Unless you answer these questions. I don't see an approval for this.

[2016-09-22 20:27] turkish1941 commented on #755
I'll look into it and gate it as well this weekend.

[2016-09-22 20:31] NickArt1342 commented on #755
@dushyants19 I just checked the apt.dat and how it is saved. It will always be saved in feet in the apt.dat no matter if you enter it in meters.

[2016-09-23 00:12] IFAEpat commented on #613
Many holds not snapped, gate lines have taxi centerline lights, gonna fix this one up

[2016-09-23 00:15] IFAEpat opened #1139 "MMCS-Cd. Juarez/Abraham Gonzalez Airport-CHIHUAHUA-MEXICO"
I ❤️ RECYCLING

[2016-09-23 00:16] IFAEpat opened #1140 "TJMZ"
Eugenio María de Hostos Airport

[2016-09-23 00:17] IFAEpat commented on #777
I still see this as an x-plane file, I'll redo it

[2016-09-23 00:18] IFAEpat commented on #777
No ramp starts either!

[2016-09-23 00:19] IFAEpat commented on #777
I am so dumb, I looked at the wrong airport

[2016-09-23 00:21] IFAEpat commented on #777
need to fix it actually

[2016-09-23 00:25] IFAEpat opened #1141 "TJRV-Jose Aponte de la Torre Airport-CEIBA-PUERTO RICO"
José Aponte de la Torre Airport

[2016-09-23 00:26] IFAEpat commented on #902
@mjgonzalez45 that's it, it's been too long.

[2016-09-23 00:27] IFAEpat opened #1142 "X63-Humacao Regional Airport-PUERTO RICO"
Humacao Airport

[2016-09-23 00:27] IFAEpat commented on #889
That's it @mjgonzalez45, it's been too long.

[2016-09-23 00:28] IFAEpat opened #1143 "PR10"
Boquerón Airport

[2016-09-23 00:28] IFAEpat opened #1144 "PR24"
Cullingford Field

[2016-09-23 00:30] IFAEpat opened #1145 "NSTU"
Pago Pago International Airport

[2016-09-23 00:31] IFAEpat opened #1146 "NSFQ"
Fitiuta Airport

[2016-09-23 00:33] IFAEpat opened #1147 "NSAS"
Ofu Airport

[2016-09-23 00:33] IFAEpat commented on #692
@FlyFi said he'll pass this on to me

[2016-09-23 07:43] dushyants19 commented on #889
Its on @IFAEpat now, @mjgonzalez45

[2016-09-23 07:44] dushyants19 commented on #892
Up for grabs

[2016-09-23 07:45] dushyants19 commented on #878
Up for grabs

[2016-09-23 07:46] dushyants19 commented on #268
Forgot to close :///

[2016-09-23 07:46] #268 closed

[2016-09-23 07:47] dushyants19 commented on #389
Up for grabs

[2016-09-23 07:49] dushyants19 commented on #593
Anyone willing to continue can get the apt.dat by @planemadnews from himself.

[2016-09-23 08:59] dushyants19 commented on #995
Ill look/do it

[2016-09-23 11:15] dushyants19 commented on #995
Done in 00e7f06b72b48ceec35490218370ae2c94cbf19f

[2016-09-23 11:15] #995 closed

[2016-09-23 11:20] dushyants19 commented on #800
NV11 is the FAA iden... KUCC is the ICAO

[2016-09-23 11:20] dushyants19 commented on #800
...
there is nothing here

[2016-09-23 12:07] dushyants19 commented on #800
Done in 0508c61ee73fa274901af496854fdb417a381980

[2016-09-23 12:07] #800 closed

[2016-09-23 12:09] dushyants19 commented on #800
Done with 0508c61ee73fa274901af496854fdb417a381980

[2016-09-23 15:14] canoneoswen commented on #618
@PaulNielsen I'll send it soon,probably tomorrow.
@dushyants19 I had ever been in the airport editing team,but maybe it's cause I didn't submit any airports then,I had been removed from that chat.This issue was Arzanex help me to creat since I hadn't joined the github.I'm sorry about that.

[2016-09-23 15:25] PaulNielsen commented on #618
Why send it in later? If it's already done?

[2016-09-23 15:33] dushyants19 commented on #1115
@MalongMa Any developments?

[2016-09-23 15:36] canoneoswen commented on #618
@PaulNielsen it's nearly midnight here and my PC is not home,it's in my workplace.Sorry.

[2016-09-23 19:55] Adam167 commented on #8
Im happy to improve big bear

[2016-09-23 19:55] kilt46 commented on #755
![image](https://cloud.githubusercontent.com/assets/14023167/18799486/70c3c3f6-819d-11e6-95d7-c1947ee2f775.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18799544/bcbaeb22-819d-11e6-81a1-51efea14c3f4.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18799549/c7f486e2-819d-11e6-9c63-e075fbfdcb1f.png)

[2016-09-23 20:08] kilt46 commented on #800
![image](https://cloud.githubusercontent.com/assets/14023167/18799840/8ef02b1a-819f-11e6-9d4f-8ca8c882d104.png)

[2016-09-23 20:13] kilt46 commented on #995
![image](https://cloud.githubusercontent.com/assets/14023167/18799985/393b40fa-81a0-11e6-8865-6faa254a4405.png)

[2016-09-23 20:21] kilt46 commented on #268
![image](https://cloud.githubusercontent.com/assets/14023167/18800221/7730d0a4-81a1-11e6-872e-50d4e56c6e47.png)

[2016-09-23 21:08] kilt46 commented on #569
![image](https://cloud.githubusercontent.com/assets/14023167/18801350/e9d4dae6-81a7-11e6-947d-e26a500c04e8.png)

[2016-09-23 21:47] kilt46 commented on #558
![image](https://cloud.githubusercontent.com/assets/14023167/18802250/592e9bac-81ad-11e6-8078-c2112dcd3456.png)

[2016-09-24 12:06] kilt46 commented on #619
![image](https://cloud.githubusercontent.com/assets/14023167/18808351/536c4e30-8225-11e6-9a98-bd8414ef48bc.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18808353/660f1edc-8225-11e6-945c-8c8d061502b2.png)

[2016-09-24 12:09] kilt46 commented on #687
![image](https://cloud.githubusercontent.com/assets/14023167/18808370/decbd7a2-8225-11e6-886b-1b122dff6225.png)

[2016-09-24 12:15] kilt46 commented on #1096
![image](https://cloud.githubusercontent.com/assets/14023167/18808396/ab0adc82-8226-11e6-82e2-9d242a6738cf.png)

[2016-09-24 12:26] kilt46 commented on #1122
![image](https://cloud.githubusercontent.com/assets/14023167/18808430/2a849af6-8228-11e6-85f3-160ce9d86a6d.png)

[2016-09-24 12:44] kilt46 commented on #118
![image](https://cloud.githubusercontent.com/assets/14023167/18808543/a96a3acc-822a-11e6-92f4-81af3585cc55.png)

[2016-09-24 14:58] kilt46 commented on #428
![image](https://cloud.githubusercontent.com/assets/14023167/18809306/7200d178-823d-11e6-8e2f-c7ecb5534450.png)

[2016-09-24 16:29] MalongMa commented on #1115
no but it will have developments so fast

[2016-09-24 19:03] IFAEpat commented on #1114
Dawud says he doesn't have time to contribute, now a suggestion.

[2016-09-25 10:58] #1125 closed

[2016-09-25 11:06] PaulNielsen opened #1149 "EETN"
Will redo this one!

[2016-09-25 11:56] dushyants19 commented on #1115
Invited to the github team

[2016-09-25 11:59] dushyants19 commented on #1114
bad bad :(

[2016-09-25 11:59] dushyants19 commented on #1114
ill get it done by today

[2016-09-25 12:06] CaptainDawud commented on #1114
I'm sorry guys airport editing isn't my thing, too hard and I don't have
that much time. ;(

On Sunday, 25 September 2016, Dushyanth <notifications@github.com> wrote:

[2016-09-25 12:19] dushyants19 commented on #1114
Unacceptable.

[2016-09-25 12:41] kilt46 commented on #527
![image](https://cloud.githubusercontent.com/assets/14023167/18815347/73e2021c-82f3-11e6-8ac9-fba2a208f889.png)

[2016-09-25 13:27] kilt46 commented on #722
![image](https://cloud.githubusercontent.com/assets/14023167/18815516/eb4862dc-82f9-11e6-8bff-3f4419c70580.png)
REMOVED A380 DESIGNATIONS

[2016-09-25 13:42] kilt46 commented on #1125
![image](https://cloud.githubusercontent.com/assets/14023167/18815591/ecddd116-82fb-11e6-8f80-c7d3f1942ee6.png)

[2016-09-25 13:53] kilt46 commented on #313
![image](https://cloud.githubusercontent.com/assets/14023167/18815701/946aef58-82fd-11e6-8f31-f46ca7dced6a.png)

[2016-09-25 17:10] kilt46 commented on #690
![image](https://cloud.githubusercontent.com/assets/14023167/18816923/115c9654-8319-11e6-8d98-b1b3abee5ad3.png)

[2016-09-25 18:28] kilt46 commented on #725
![image](https://cloud.githubusercontent.com/assets/14023167/18817361/f26a262a-8323-11e6-9636-39256509dea8.png)

[2016-09-25 18:50] kilt46 commented on #914
![image](https://cloud.githubusercontent.com/assets/14023167/18817487/fb8ed02c-8326-11e6-984c-9036ae1ae934.png)

[2016-09-25 18:59] PaulNielsen commented on #1149
Done

[2016-09-25 18:59] #1149 closed

[2016-09-25 20:00] kilt46 commented on #204
![image](https://cloud.githubusercontent.com/assets/14023167/18817854/bf6c957a-8330-11e6-8b0c-67e32908a873.png)

[2016-09-26 00:59] kilt46 commented on #1149
Added outlines. PLEASE provide when editing airport!!!
![image](https://cloud.githubusercontent.com/assets/14023167/18819669/89b47d06-835a-11e6-9775-4c1c096d9c33.png)
![image](https://cloud.githubusercontent.com/assets/14023167/18819671/92894524-835a-11e6-8f8d-e6103c196945.png)

[2016-09-26 01:23] IFAEpat opened #1150 "ZKPY-Pyongyang Airport-PYONGYANG-NORTH KOREA"
Pyongyang International

[2016-09-26 01:39] kilt46 opened #1151 "EGSF-Peterborough Connington-ENGLAND-UNITED KINGDOM"
Runways reversed

[2016-09-26 02:15] dushyants19 commented on #1151
b4e0df6a9d4e342a5f8464f62832183ec2754765 <---- Was fixed/done in this

[2016-09-26 02:15] #1151 closed

[2016-09-26 02:16] dushyants19 commented on #1151
Done in b4e0df6a9d4e342a5f8464f62832183ec2754765

[2016-09-26 02:17] dushyants19 commented on #1151
This one :|

79b270b9532f434d1708031b39bf318be777a284

Why is the SHA changing? :|

[2016-09-26 05:09] PaulNielsen commented on #1149
@kilt46 on the map it looked like the lines where actually red, that's why I didn't add them.

[2016-09-26 05:19] IFAEpat commented on #1144
Done! 2607a17

[2016-09-26 05:19] #1144 closed

[2016-09-26 06:48] dushyants19 commented on #1114
Redone in dcbb80463f4a02d84c89719ccb11395eab2f6d57

[2016-09-26 06:48] #1114 closed

[2016-09-26 07:21] dushyants19 commented on #200
- [ ] Holds Missing/incorrect
- [ ] Lights Leaking
- [ ] Objects not snapped
- [ ] Buildings Missing
- [ ] Many Features incorrect

@PaulNielsen

[2016-09-26 07:22] dushyants19 commented on #288
@AxelBeder its a french airfield, want to take on?

[2016-09-26 07:24] dushyants19 commented on #25
All spawns are heavy capable. It will be eventually gated

[2016-09-26 07:40] PaulNielsen commented on #200
Ok thanks, I might look into this one tonight!

[2016-09-26 10:42] dushyants19 opened #1152 "W29"
Flying High's local airport :D

[2016-09-26 12:29] dushyants19 commented on #1152
Done as of f4965863c71eb1e15f41adc8bee04aed42f1f489

[2016-09-26 12:29] #1152 closed

[2016-09-26 12:35] dushyants19 commented on #589
@cboisselier hows this going

[2016-09-26 15:32] dushyants19 commented on #992
b44faa03fa1dbae0188b191419701277e78e99e1

[2016-09-26 17:46] dushyants19 commented on #1129
bc2d6aadd69446e3b347ddcc771c690eee7011e1

[2016-09-26 17:46] #1129 closed

[2016-09-26 22:30] kilt46 commented on #1129
![image](https://cloud.githubusercontent.com/assets/14023167/18854127/ddce77b6-840e-11e6-9d66-86bc6ad57615.png)

[2016-09-26 22:54] kilt46 commented on #1152
![image](https://cloud.githubusercontent.com/assets/14023167/18854603/3bfeb5c8-8412-11e6-8287-951dd2dd4084.png)

[2016-09-26 23:25] kilt46 commented on #992
![image](https://cloud.githubusercontent.com/assets/14023167/18855196/93376dea-8416-11e6-9fbe-65af2638452e.png)

[2016-09-26 23:25] kilt46 commented on #992
TERMINAL 1
![image](https://cloud.githubusercontent.com/assets/14023167/18855208/aaa807b4-8416-11e6-8dc8-ab65014444ab.png)

[2016-09-26 23:26] kilt46 commented on #992
TERMINAL 2
![image](https://cloud.githubusercontent.com/assets/14023167/18855216/b7aeb20a-8416-11e6-83c6-9f3ee4182e92.png)

[2016-09-27 09:18] turkish1941 commented on #419
How is it going?

[2016-09-27 09:28] JcFl4 commented on #419
Still working on it. It's looking great!

[2016-09-27 09:34] turkish1941 opened #1153 "KVLA-Vandalia Municipal Airport-ILLINOIS-USA"
RECYCLED ♻️

[2016-09-27 10:17] dushyants19 commented on #618
Assigned to @canoneoswen (Eos Wen)

[2016-09-27 10:19] dushyants19 commented on #382
What needs to be done here, @henrikbg?

[2016-09-27 11:45] dushyants19 commented on #267
Did some make up 💁  and added in e789143be4f78bb7e1b7c3eb7aba86af6b116ec0

[2016-09-27 11:45] #267 closed

[2016-09-27 12:05] dushyants19 commented on #382
Nvm

[2016-09-27 12:06] dushyants19 commented on #382
Fixes in d992c5cc61231b52bc54ce2b16ec180a2b601fae

[2016-09-27 12:06] #382 closed

[2016-09-27 12:10] dushyants19 commented on #380
@carmichaelalonso worse, how could you approve this? 😡

[2016-09-27 13:48] NickArt1342 opened #1154 "UACC-Nur-Sultan Astana International Airport-AQMOLA-KAZAKHSTAN"
Hub of Air Astana for it's european flights, soon to be their full hub (moving from a dual hub system where the asian flights were departing from Almaty and the european from Astana to a single Astana airport hub in the future). Btw, Air Astana is the airline to operate the newest fleet of 767, with the best Business Class I have ever seen on a 767.

[2016-09-27 13:49] NickArt1342 commented on #1154
@kilt46 Please approve that this airport does belong into your priority list: It's runway is 3500 m, so about 11k feet.

[2016-09-27 13:50] dushyants19 commented on #1154
ok thanks for the great tripreport.com

[2016-09-27 13:51] NickArt1342 commented on #1154
@dushyants19 As if you knew.

[2016-09-27 13:51] NickArt1342 commented on #1154
Ups, wrong button.

[2016-09-27 14:24] dushyants19 commented on #380
Redone in 3d298ee2d0b72b3506bc3a967ff518decd72805e

[2016-09-27 14:24] #380 closed

[2016-09-27 15:57] dushyants19 commented on #200
Redone in 1e7e14e0a4602cc12a6193c5df79a8e08a482096

[2016-09-27 15:57] #200 closed

[2016-09-27 21:02] sentikum commented on #1154
Ok, I can do it.

[2016-09-27 21:52] PaulNielsen opened #1155 "EDLP-Paderborn Lippstad Airport-NORDRHEIN-WESTFALEN-GERMANY"
Will redo!

[2016-09-27 22:59] Padi3-14 commented on #999
Can I be unassigned? I don't have the time to import scenery from google earth (on WEDbing, the airport is covered with clouds).

[2016-09-27 23:12] TristinWoolf commented on #999
Up for grabs!

[2016-09-28 00:48] kilt46 commented on #25
![image](https://cloud.githubusercontent.com/assets/14023167/18895513/b79f4c60-84df-11e6-94ac-cc57ef964a5a.png)

[2016-09-28 00:56] kilt46 commented on #200
![image](https://cloud.githubusercontent.com/assets/14023167/18897056/6f10af86-84ec-11e6-85ac-31d9b6f50cb1.png)

[2016-09-28 01:02] kilt46 commented on #380
![image](https://cloud.githubusercontent.com/assets/14023167/18897173/5c2945f8-84ed-11e6-8c23-5746e3012287.png)

[2016-09-28 01:18] kilt46 commented on #382
nooooooo. missing outlines. bah humbug!

[2016-09-28 01:27] dushyants19 commented on #382
There were red outlines, should I add them?

[2016-09-28 01:30] kilt46 commented on #382
![image](https://cloud.githubusercontent.com/assets/14023167/18897599/3ba474d4-84f1-11e6-90a9-93af0365d1ce.png)

[2016-09-28 01:30] kilt46 commented on #382
![image](https://cloud.githubusercontent.com/assets/14023167/18897606/49b2ffbe-84f1-11e6-94d7-d304807de7b9.png)

[2016-09-28 01:31] kilt46 commented on #382
Outlines added. Helps define aircraft size   :)

[2016-09-28 01:32] dushyants19 commented on #382
Aha, Ill do it next time. Sorry :/

[2016-09-28 01:43] kilt46 commented on #267
![image](https://cloud.githubusercontent.com/assets/14023167/18897844/05d9d8f6-84f3-11e6-8f30-52ccc68a1ed7.png)

[2016-09-28 01:47] kilt46 commented on #1114
![image](https://cloud.githubusercontent.com/assets/14023167/18897902/8ed875b8-84f3-11e6-9014-ec09e176ed69.png)

[2016-09-28 01:52] kilt46 commented on #1144
![image](https://cloud.githubusercontent.com/assets/14023167/18898003/5cc2dc8e-84f4-11e6-807b-61e1150eab46.png)

[2016-09-28 01:55] dushyants19 commented on #1053
You still with the team doing this?

[2016-09-28 01:56] kilt46 commented on #1151
![image](https://cloud.githubusercontent.com/assets/14023167/18898086/e38108ae-84f4-11e6-9971-98c597868f74.png)

[2016-09-28 02:00] dushyants19 commented on #124
Still on? Been 2 months

[2016-09-28 02:03] dushyants19 commented on #350
how is this going?

[2016-09-28 02:04] dushyants19 commented on #546
@moiz20012 any progress?

[2016-09-28 02:05] dushyants19 commented on #552
@Jacob-IF how is this and #565 going?

[2016-09-28 02:07] dushyants19 commented on #531
@matsedvin how is this going?

[2016-09-28 02:07] dushyants19 commented on #529
@corporate1401 any progress?

[2016-09-28 02:08] dushyants19 commented on #440
@freddiefrogs what are you going to do now?

[2016-09-28 02:09] dushyants19 commented on #384
How is this going? Been a whopping 7 months.

[2016-09-28 02:10] dushyants19 commented on #685
@JcFl4 welcome to take this anytime

[2016-09-28 02:11] dushyants19 commented on #688
@planemadnews any progress, Caleb?

[2016-09-28 02:12] dushyants19 commented on #571
How is this and #591 going, @Arzanex? Been 6 months

[2016-09-28 02:13] dushyants19 commented on #600
Any progress on this, @CaptainTrapBeats?

[2016-09-28 02:13] dushyants19 commented on #623
@Jacob-IF how is this going?

[2016-09-28 02:14] dushyants19 commented on #663
@nmasterson How is the progress on this? Been 6 months!

[2016-09-28 02:14] dushyants19 commented on #666
@nmasterson How is the progress on this? Been 6 months!

[2016-09-28 02:14] dushyants19 commented on #664
@chriscroft20 any developments?

[2016-09-28 02:15] dushyants19 commented on #668
Any progress on LEIB? @chriscroft20

[2016-09-28 02:16] dushyants19 commented on #695
Any progress, @danielshaw?

[2016-09-28 02:18] dushyants19 commented on #790
How is this airport going, @Skunkape29?

[2016-09-28 02:18] dushyants19 commented on #729
How is this airport going, @nathangoulding?

[2016-09-28 02:18] dushyants19 commented on #752
How is this airport going, @elvintiagi?

[2016-09-28 02:19] dushyants19 commented on #801
Any progress? @TheGamingGuy

[2016-09-28 02:19] dushyants19 commented on #808
How is this airport going, @Skunkape29?

[2016-09-28 06:13] JcFl4 commented on #685
Perfect, I will as soon as I finish some of the other airports I have waiting

[2016-09-28 07:09] lalomarlin commented on #533
México City almost done, no more than 5 days ;)

[2016-09-28 07:54] dushyants19 commented on #650
Improvements made by @turkish1941 in 620768e841a82b1bf1bd8a64e7612bc8b47a639e

[2016-09-28 07:57] dushyants19 commented on #606
what shall we do now? 💭

[2016-09-28 08:00] dushyants19 commented on #593
Latest version as sent to me for review.

https://gist.github.com/dushyants19/04714d4fcf909cfcb3d04d2d75b6122e

[2016-09-28 08:02] dushyants19 commented on #593
-  Most objects are not aligned with WEDbing scenery.
 - Taxiway shoulder missing for nearly all taxiways
- Many objects (taxiway/lines) are missing
 - L.C Smith Terminal's west arm not drawn
- ILS Critical Centerlines missing before most hold shorts
- Stopway lengths of most runways are incorrect
- Multiple Taxiway Y's

Work which is mostly needed.

[2016-09-28 08:18] dushyants19 commented on #688
Up for grabs

[2016-09-28 08:19] dushyants19 commented on #688
@JcFl4 you might like this 😄

[2016-09-28 08:21] dushyants19 commented on #570
@Rob1594 how is this going?

[2016-09-28 08:22] dushyants19 commented on #575
@Rob1594 how is this going?

[2016-09-28 08:51] #784 closed

[2016-09-28 09:27] PaulNielsen commented on #606
@dushyants19 I will look into this one later today, as there looks to be no Bing scenery of it, I will just add 3 parkings there and try to make it as accuarate as possible! :)

[2016-09-28 11:57] JcFl4 commented on #688
Actually, i do it will no problem! 😉

[2016-09-28 12:00] JcFl4 commented on #688
@dushyants19, can you asssign me for this and and HAAB? I can't from mobile, thanks!

[2016-09-28 12:21] PaulNielsen commented on #688
Done, Julio! :)

[2016-09-28 12:24] JcFl4 commented on #688
Perfect, thanks @PaulNiesen!

[2016-09-28 12:24] JcFl4 commented on #688
@PaulNielsen

[2016-09-28 12:28] dushyants19 commented on #688
Done for both!

[2016-09-28 14:54] turkish1941 commented on #1153
done

[2016-09-28 16:03] PaulNielsen commented on #606
Or wait... The whole apron has been extended, and new taxi lines etc. Can't do that without image.

[2016-09-28 19:49] PaulNielsen commented on #1155
Done.

[2016-09-28 22:16] Aviationluver commented on #1138
Sent in for review.

[2016-09-28 23:50] kilt46 commented on #1155
![image](https://cloud.githubusercontent.com/assets/14023167/18936380/714e617e-85ac-11e6-8f76-658578cd1c5a.png)

[2016-09-28 23:55] kilt46 opened #1156 "EGPR-Barra Airport-SCOTLAND-UNITED KINGDOM"

[2016-09-28 23:56] #1156 closed

[2016-09-29 01:03] kilt46 commented on #784
![image](https://cloud.githubusercontent.com/assets/14023167/18937518/91a34e26-85b6-11e6-808a-1e10ebd4ae83.png)

[2016-09-29 01:25] kilt46 opened #1157 "EGPI-Islay Airport-SCOTLAND-UNITED KINGDOM"

[2016-09-29 01:26] #1157 closed

[2016-09-29 02:31] kilt46 commented on #1156
![image](https://cloud.githubusercontent.com/assets/14023167/18939036/ef07e750-85c2-11e6-9632-7989b9bdc6dd.png)

[2016-09-29 02:32] kilt46 commented on #1157
![image](https://cloud.githubusercontent.com/assets/14023167/18939039/fd3550d8-85c2-11e6-9a20-212691847125.png)

[2016-09-29 02:32] kilt46 commented on #604
![image](https://cloud.githubusercontent.com/assets/14023167/18939050/0a864738-85c3-11e6-8d6f-cd1f9e8b368d.png)

[2016-09-29 02:56] kilt46 commented on #650
![image](https://cloud.githubusercontent.com/assets/14023167/18939502/67919e02-85c6-11e6-9a9f-d6157969fe02.png)

[2016-09-29 03:18] kilt46 commented on #397
![image](https://cloud.githubusercontent.com/assets/14023167/18939881/74670c04-85c9-11e6-9daa-6cb6140914cb.png)

[2016-09-29 06:25] JcFl4 opened #1158 "MUHA-Jose Marti International Airport-CIUDAD DE LA HABANA-CUBA"
Havana, Cuba

[2016-09-29 06:26] JcFl4 commented on #1158
I know I have assigned myself to many already, but this is the last one for now... 😉

[2016-09-29 10:59] dushyants19 commented on #1113
Done in eb23b6a6765fbe8eadadb18c5211f6913c78c8f5

[2016-09-29 10:59] #1113 closed

[2016-09-29 11:30] sentikum opened #1159 "UBBB"
Baku International airport. Two runways over 11000ft. Main airport in Azerbaijan

[2016-09-29 11:34] dushyants19 commented on #1158
Just 8, Julio. ;)

[2016-09-29 12:09] Jacob-IF commented on #623
It's going great!

[2016-09-29 12:09] Jacob-IF commented on #552
Not very well.

[2016-09-29 16:30] dushyants19 commented on #623
@Jacob-IF Whatever, I would like to see this airport and the others submitted soon. #552 #565

Else put it up for grabs

[2016-09-29 17:56] Aviationluver commented on #778
I can do this one.

[2016-09-29 22:50] kilt46 commented on #1113
![image](https://cloud.githubusercontent.com/assets/14023167/18975087/45396090-866d-11e6-9645-afa76de31ab1.png)

[2016-09-29 22:59] kilt46 commented on #901
![image](https://cloud.githubusercontent.com/assets/14023167/18975263/7fe60fd0-866e-11e6-886a-1bc1659178f7.png)

[2016-09-29 23:45] kilt46 commented on #148
![image](https://cloud.githubusercontent.com/assets/14023167/18976111/ec435718-8674-11e6-8cb8-526beffc2ebe.png)

[2016-09-29 23:52] kilt46 commented on #141
![image](https://cloud.githubusercontent.com/assets/14023167/18976227/e3950ade-8675-11e6-9083-dc7e2ddf3f11.png)

[2016-09-30 00:19] kilt46 commented on #77
![image](https://cloud.githubusercontent.com/assets/14023167/18976713/b387e420-8679-11e6-9ee0-3a5f07713699.png)

[2016-09-30 00:36] kilt46 commented on #52
![image](https://cloud.githubusercontent.com/assets/14023167/18976970/04f56218-867c-11e6-95ae-b8cd26a54c29.png)

[2016-09-30 02:30] kilt46 opened #1160 "EGPB-Sumburgh Airport-SCOTLAND-UNITED KINGDOM"

[2016-09-30 02:30] kilt46 commented on #1160
![image](https://cloud.githubusercontent.com/assets/14023167/18978871/002f431a-868c-11e6-9492-6a5c721d782b.png)

[2016-09-30 11:51] #1160 closed

[2016-09-30 16:42] ErshovlaD opened #1162 "UWWS"

[2016-09-30 16:43] ErshovlaD commented on #1162
Being redone

[2016-09-30 19:02] kilt46 commented on #78
![image](https://cloud.githubusercontent.com/assets/14023167/19003453/7413026e-8716-11e6-9c7f-72b6f3044a1b.png)

[2016-09-30 19:09] kilt46 commented on #1138
![image](https://cloud.githubusercontent.com/assets/14023167/19003652/73ff3da0-8717-11e6-9171-9bfa4ec77675.png)

[2016-09-30 19:28] PaulNielsen opened #1163 "SCIP"
Being redone

[2016-09-30 20:04] PaulNielsen commented on #1163
Done

[2016-09-30 20:04] #1163 closed

[2016-09-30 21:05] kilt46 commented on #24
![image](https://cloud.githubusercontent.com/assets/14023167/19006911/bccf9222-8727-11e6-9e1e-57f461e8feed.png)

[2016-09-30 22:05] kilt46 opened #1164 "EGPC-Wick-SCOTLAND-UNITED KINGDOM"

[2016-09-30 22:05] kilt46 commented on #1164
![image](https://cloud.githubusercontent.com/assets/14023167/19008329/1fc42d0e-8730-11e6-8add-7a0cd18688f7.png)

[2016-09-30 23:26] TristinWoolf commented on #1164
Forget to close this, @kilt46? Just making sure...

[2016-09-30 23:38] kilt46 commented on #899
![image](https://cloud.githubusercontent.com/assets/14023167/19009801/1b28f344-873d-11e6-9725-e59e87311268.png)

[2016-10-01 00:40] B777fan commented on #124
I am on it still, just haven't had enough time to finish it.

Sent from my iPad

[2016-10-01 01:04] kilt46 commented on #169
![image](https://cloud.githubusercontent.com/assets/14023167/19010623/0a77c668-8749-11e6-99ce-4e1be4bdbe0c.png)

[2016-10-01 04:16] IFAEpat commented on #124
I will do this, please disregard the amount of issues I have assigned to myself, most of them are for a project

[2016-10-01 06:36] TristinWoolf commented on #124
@IFAEpat: DJ said he is still doing it...? Unless you have talked to @B777fan about it in PM?

[2016-10-01 09:43] PaulNielsen opened #1165 "GVAC-Sal/Amilcar Cabral International Airport-SAL-CAPE VERDE"
Will redo

[2016-10-01 10:53] dushyants19 commented on #401
whats the status on this?

@tacobell1015 are you willing to do this?

[2016-10-01 11:13] ErshovlaD opened #1166 "UWWG"

[2016-10-01 11:13] ErshovlaD commented on #1166
Being redone

[2016-10-01 12:09] PaulNielsen commented on #1165
Done.

[2016-10-01 12:23] #1164 closed

[2016-10-01 12:56] kilt46 commented on #38
![image](https://cloud.githubusercontent.com/assets/14023167/19014208/36461692-87ac-11e6-9b96-c137a37b8e83.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19014213/7488ce4a-87ac-11e6-89dd-685174b0c7b0.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19014215/83c4565e-87ac-11e6-8534-1d3300501c00.png)

[2016-10-01 13:17] #1123 closed

[2016-10-01 13:19] kilt46 opened #1167 "EGPJ-Fife-SCOTLAND-UNITED KINGDOM"

[2016-10-01 13:19] kilt46 commented on #1167
![image](https://cloud.githubusercontent.com/assets/14023167/19014315/cc73a212-87af-11e6-9518-19f3e22e5beb.png)

[2016-10-01 13:19] #1167 closed

[2016-10-01 15:08] PaulNielsen opened #1168 "GCHI"
Being redone

[2016-10-01 15:30] PaulNielsen commented on #1168
Done.

[2016-10-01 15:31] #1168 closed

[2016-10-01 15:43] PaulNielsen opened #1169 "GCLA"
Being redone

[2016-10-01 16:30] tacobell1015 commented on #401
Ive been busy and Im trying to find time to do it but yes I am willing to do it.

[2016-10-01 16:34] dushyants19 commented on #401
ok! I have invited you to our GitHub team, check your email and accept the invite.

[2016-10-01 18:11] PaulNielsen commented on #1169
Done.

[2016-10-01 18:11] #1169 closed

[2016-10-01 21:43] IFAEpat commented on #692
Done 67ac768

[2016-10-01 21:43] #692 closed

[2016-10-01 22:34] kilt46 commented on #692
![image](https://cloud.githubusercontent.com/assets/14023167/19017393/47a207ce-87fd-11e6-8f98-654af31e6729.png)

[2016-10-01 22:42] kilt46 commented on #1169
![image](https://cloud.githubusercontent.com/assets/14023167/19017425/7527a64e-87fe-11e6-95c5-e2a5c8104fd9.png)

[2016-10-01 22:49] kilt46 commented on #1168
![image](https://cloud.githubusercontent.com/assets/14023167/19017455/72b52d7c-87ff-11e6-8868-9538ac9df5d7.png)

[2016-10-01 22:53] kilt46 commented on #75
Needs outlines reworked

[2016-10-01 22:58] kilt46 commented on #1165
![image](https://cloud.githubusercontent.com/assets/14023167/19017480/b369f720-8800-11e6-9118-659cb3133563.png)

[2016-10-01 23:09] kilt46 commented on #1163
![image](https://cloud.githubusercontent.com/assets/14023167/19017515/2037e6d6-8802-11e6-9780-149002049941.png)

[2016-10-02 03:02] TristinWoolf opened #1170 "MYBC"
Chub Cay

[2016-10-02 03:07] TristinWoolf commented on #1170
[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/26290b1a158dd7b3ec1a4d73c68a404d38ad7b55)

[2016-10-02 03:07] #1170 closed

[2016-10-02 03:23] TristinWoolf opened #1171 "MYBG"
Great Harbour Cay Airport

[2016-10-02 03:28] TristinWoolf commented on #1171
[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/e0b8c79dc78414c981a6bcb4cfc41845b1ae8b6d)

[2016-10-02 03:28] #1171 closed

[2016-10-02 04:04] TristinWoolf opened #1172 "MYBS"
South Bimini Airport

[2016-10-02 04:07] TristinWoolf commented on #1172
[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/bdc2b798af5bcfd594a2d24f81c6d27a5a68742d)

[2016-10-02 04:07] #1172 closed

[2016-10-02 05:20] dushyants19 commented on #1150
d1fbd33

the great airport has been done :flag-kp:

[2016-10-02 05:21] IFAEpat commented on #1150
Rip Emoji. But yes, I made 5000 peanuts happy 😂

[2016-10-02 05:22] dushyants19 commented on #1150
It showed up in our slack tho :P

[2016-10-02 05:23] IFAEpat commented on #1150
why not here though? :P

[2016-10-02 05:23] IFAEpat commented on #1150
no emoji on git for it, rip.

[2016-10-02 05:25] dushyants19 commented on #1150
Im disappointed. No emoji for North Korea 😭

[2016-10-02 10:46] PaulNielsen opened #1173 "LECO"
Being redone

[2016-10-02 11:34] kilt46 commented on #403
![image](https://cloud.githubusercontent.com/assets/14023167/19020284/4a34ecaa-886a-11e6-95e8-edf12b651451.png)

[2016-10-02 11:41] kilt46 commented on #1150
![image](https://cloud.githubusercontent.com/assets/14023167/19020333/473321e2-886b-11e6-86c4-9deb3d152696.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19020336/4f8454ec-886b-11e6-9965-98c7fe97cf2e.png)

[2016-10-02 11:52] kilt46 commented on #1172
![image](https://cloud.githubusercontent.com/assets/14023167/19020391/cba5cf32-886c-11e6-94c3-4edfecd6a65d.png)

[2016-10-02 12:08] kilt46 commented on #1171
![image](https://cloud.githubusercontent.com/assets/14023167/19020463/0a6d071a-886f-11e6-9998-b7ddbeaca573.png)

[2016-10-02 12:11] PaulNielsen commented on #1173
Done.

[2016-10-02 12:11] #1173 closed

[2016-10-02 12:17] PaulNielsen opened #1174 "LEXJ"
Being redone

[2016-10-02 12:20] MalongMa commented on #1115
Makeing...

[2016-10-02 12:31] kilt46 commented on #1170
![image](https://cloud.githubusercontent.com/assets/14023167/19020566/43b24d20-8872-11e6-9b8b-7d2bc5f20024.png)

[2016-10-02 12:57] kilt46 opened #1175 "EGPO-Stornoway Airport-SCOTLAND-UNITED KINGDOM"
![image](https://cloud.githubusercontent.com/assets/14023167/19020696/d008bc8e-8875-11e6-872e-77856a3b0f07.png)

[2016-10-02 12:58] #1175 closed

[2016-10-02 13:09] kilt46 commented on #839
![image](https://cloud.githubusercontent.com/assets/14023167/19020767/8877142c-8877-11e6-9896-2cabfabfa88c.png)

[2016-10-02 13:14] kilt46 commented on #868
![image](https://cloud.githubusercontent.com/assets/14023167/19020797/3c03290e-8878-11e6-9a6f-c38768cf6c53.png)

[2016-10-02 13:22] kilt46 commented on #869
![image](https://cloud.githubusercontent.com/assets/14023167/19020846/544315aa-8879-11e6-8e1e-3748d1db4574.png)

[2016-10-02 13:33] dushyants19 commented on #565
Ill do it

[2016-10-02 15:04] kilt46 commented on #708
![image](https://cloud.githubusercontent.com/assets/14023167/19021463/8a9703d8-8887-11e6-8e75-0309e895be3a.png)

[2016-10-02 15:30] kilt46 commented on #706
![image](https://cloud.githubusercontent.com/assets/14023167/19021609/3dc76e40-888b-11e6-8ef5-d7b6de96594c.png)

[2016-10-02 17:09] shanawaz97 commented on #529
Any progress Bro

[2016-10-02 17:12] PaulNielsen commented on #529
I think you can make it, he opened this issue in May and still nothing. So I would say go ahead.

[2016-10-02 18:38] ErshovlaD opened #1176 "UWWB"
Being redone

[2016-10-02 19:19] kilt46 commented on #705
![image](https://cloud.githubusercontent.com/assets/14023167/19023078/31f60958-88ab-11e6-8ec2-ceccbd65783e.png)

[2016-10-02 19:51] #1145 closed

[2016-10-02 19:51] #1147 closed

[2016-10-02 19:52] #1146 closed

[2016-10-02 19:52] #1143 closed

[2016-10-02 20:11] kilt46 commented on #704
![image](https://cloud.githubusercontent.com/assets/14023167/19023346/7e419e2e-88b2-11e6-8250-ca36242c381f.png)

[2016-10-02 21:08] ErshovlaD opened #1177 "UWWZ"
Being redone

[2016-10-02 22:11] ErshovlaD opened #1178 "UWOO"
Being redone

[2016-10-02 22:37] corporate1401 commented on #529
I didn't even know I was assigned this one...

[2016-10-03 02:14] kilt46 commented on #1142
Not uploaded
![image](https://cloud.githubusercontent.com/assets/14023167/19025930/27fb64cc-88e5-11e6-8e50-717f71a69a1f.png)

[2016-10-03 02:24] IFAEpat commented on #1142
![screen shot 2016-10-02 at 10 23 22 pm](https://cloud.githubusercontent.com/assets/18223248/19026048/fde04266-88ee-11e6-90a3-5008d284b7e5.png)
Weird

[2016-10-03 02:25] IFAEpat commented on #1142
Especially since I uploaded it when I created a folder for it

[2016-10-03 02:35] IFAEpat commented on #1142
It's good now :)

[2016-10-03 11:18] #1162 closed

[2016-10-03 11:18] #1166 closed

[2016-10-03 11:18] #1176 closed

[2016-10-03 12:11] #1177 closed

[2016-10-03 13:19] dushyants19 commented on #96
Dup of #81. Cameron didnt search :disappointed:

[2016-10-03 13:22] dushyants19 commented on #81
Made more changes and Gated for Global in fbf339db745de49a4c7e26ed8a35e25945846af9

[2016-10-03 14:08] moritzbabl commented on #1116
The airport should get the 10k+ label with a runway length of 12+ ft

[2016-10-03 14:08] moritzbabl commented on #930
Sent for approval

[2016-10-03 14:43] brunocr98 commented on #996
Sent to airports@liveflightapp.com for approval.

[2016-10-03 18:01] nathangoulding commented on #729
My laptop that I was working on unfortunately died a few weeks back and I haven't had the chance to recreate it. At this time I won't be able to commit to more work on it unfortunately.

[2016-10-03 20:57] #1140 closed

[2016-10-03 21:24] IFAEpat commented on #389
Still doing EDDF, YBTL and US Dependent Islands but, I'll take this one too. Doesn't seem it'll take much time. I'd like us to get these A380 Airports done ✈️

[2016-10-03 21:51] kilt46 commented on #1140
![image](https://cloud.githubusercontent.com/assets/14023167/19055468/b21bb388-8989-11e6-9cef-1c767dbe631d.png)

[2016-10-03 21:59] kilt46 commented on #81
![image](https://cloud.githubusercontent.com/assets/14023167/19055654/bcfa179e-898a-11e6-89a1-b96ed4d3f3a1.png)

[2016-10-03 23:13] kilt46 commented on #1177
![image](https://cloud.githubusercontent.com/assets/14023167/19057381/0cbe333c-8995-11e6-9741-d3111832ee30.png)

[2016-10-03 23:22] kilt46 commented on #1162
![image](https://cloud.githubusercontent.com/assets/14023167/19057558/49720aaa-8996-11e6-82f8-cd0ed3c2f486.png)

[2016-10-03 23:32] kilt46 commented on #1166
![image](https://cloud.githubusercontent.com/assets/14023167/19057759/cb5b87ac-8997-11e6-808e-702840eb413b.png)

[2016-10-03 23:53] IFAEpat commented on #613
Tweaked and Gated

[2016-10-03 23:54] IFAEpat commented on #613
oops, sorry about that

[2016-10-04 00:25] kilt46 opened #1179 "EGPE-Inverness Airport-SCOTLAND-UNITED KINGDOM"

[2016-10-04 00:25] kilt46 commented on #1179
![image](https://cloud.githubusercontent.com/assets/14023167/19058708/27ecf5bc-899f-11e6-818c-c9a6e9758c9e.png)

[2016-10-04 00:25] #1179 closed

[2016-10-04 03:52] #777 closed

[2016-10-04 03:53] #902 closed

[2016-10-04 12:25] dushyants19 commented on #996
Done in ec585287fdba4ba67dbbd7b99b0cea1d621a36b3

[2016-10-04 12:29] dushyants19 commented on #379
@Adam167 its yours!

[2016-10-04 14:36] elvintiagi commented on #752
Hi,
Sorry but I am unable to create airports because of me begging very busy. You can dismiss me from the team.

Thanks
//Elvin Tyagi

[2016-10-04 16:18] IFAEpat commented on #590
Decided to take these abandoned A380 Airports. We need to get these done!

[2016-10-04 16:18] IFAEpat commented on #581
Taking this one too

[2016-10-04 16:19] IFAEpat commented on #535
As well as this

[2016-10-04 17:11] #780 closed

[2016-10-04 17:46] IFAEpat opened #1180 "EGAR"
Rothera Research Station, Antarctica

I'm sorry, I have to make this 😂

[2016-10-04 17:52] PaulNielsen commented on #19
Looks like runway 32R has been closed for good, pavement is still there tho. So 32L-14R has now been changed to 33-15. I would fix this if I could, but as I have told in Slack team and to Dush, my WED messes up something with Kilts gate stuff, even tho I have tried exporting in all different types, and both with WED beta and latest beta. So if anyone can fix this, it would be good! :)

[2016-10-04 17:57] #1180 closed

[2016-10-04 18:34] PaulNielsen commented on #1174
Done.

[2016-10-04 18:34] #1174 closed

[2016-10-04 22:01] ErshovlaD opened #1181 "UUWV"
Being redone

[2016-10-04 22:07] ErshovlaD opened #1182 "SBFN-Fernando De Noronha Airport-PERNAMBUCO-BRAZIL"
Being redone

[2016-10-04 22:45] kilt46 commented on #1174
![image](https://cloud.githubusercontent.com/assets/14023167/19095237/49f0a8a0-8a5a-11e6-86e8-30faae5e99d3.png)

[2016-10-04 23:01] kilt46 commented on #1173
![image](https://cloud.githubusercontent.com/assets/14023167/19095649/87cd674c-8a5c-11e6-8357-d8b32bfd4154.png)

[2016-10-04 23:05] chrislunde opened #1183 "ENVA"
delete this

[2016-10-04 23:06] chrislunde commented on #966
I can continue on ENVA.

[2016-10-04 23:12] ghost opened #1184 "RPLL-Manila-Ninoy Aquino International Airport-MANILA-PHILIPPINES"
Ninoy Aquino International Airport (Manila Airport), Philippines

[2016-10-05 00:14] kilt46 commented on #626
![image](https://cloud.githubusercontent.com/assets/14023167/19097003/c7e911be-8a66-11e6-9d17-201692d4d610.png)

[2016-10-05 00:55] dushyants19 commented on #1183
Can you continue, @chrislunde?

Whatever it is, don't close the issue.

[2016-10-05 01:43] kilt46 commented on #603
![image](https://cloud.githubusercontent.com/assets/14023167/19098497/2c361296-8a73-11e6-8d8d-e451e9cd0f8a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19098504/35a914c2-8a73-11e6-88b8-446479b5b51a.png)

[2016-10-05 01:49] kilt46 commented on #1180
![image](https://cloud.githubusercontent.com/assets/14023167/19098588/09b4b474-8a74-11e6-8cfb-c01c083a889c.png)

[2016-10-05 02:23] kilt46 commented on #19
![image](https://cloud.githubusercontent.com/assets/14023167/19099086/bb77fa28-8a78-11e6-90a7-07b4aba70f70.png)

[2016-10-05 02:23] kilt46 commented on #19
![image](https://cloud.githubusercontent.com/assets/14023167/19099090/c97609f8-8a78-11e6-8621-82aed4c93feb.png)

[2016-10-05 02:23] kilt46 commented on #19
Gates being reworked
![image](https://cloud.githubusercontent.com/assets/14023167/19099103/da44ef06-8a78-11e6-829f-6d0746fce668.png)

[2016-10-05 04:29] IFAEpat commented on #124
@TristinWoolf Yes, I talked to him and he said he quit editing

[2016-10-05 06:33] ErshovlaD opened #1185 "SWFN-Manaus/Flores Airport-AMAZONAS-BRAZIL"
Being redone

[2016-10-05 06:33] ErshovlaD opened #1186 "SBEG-Manaus Eduardo Gomes Airport-AMAZONAS-BRAZIL"
Being redone

[2016-10-05 08:07] MCTechPlays opened #1187 "KDRO-Durango-La Plata Airport-COLORADO-USA"
♻️

[2016-10-05 11:13] tsarkov90 opened #1188 "UUWW-Moscow/Vnukovo Airport-MOSKVA-RUSSIA"
Moscow Vnukovo Int'l airport.
Hub for Rossiya, arline of Aeroflot group
Two runways (over 10000ft)

[2016-10-05 13:35] brunocr98 opened #1189 "MPPA"
Doing this airport. Panamá-Pacífico International Airport.

[2016-10-05 14:55] PaulNielsen opened #1190 "LPGR"
Being redone

[2016-10-05 15:14] PaulNielsen commented on #1190
Done

[2016-10-05 15:14] #1190 closed

[2016-10-05 19:15] ErshovlaD opened #1191 "UWWT"
Being redone

[2016-10-05 19:34] ErshovlaD opened #1192 "UWWE"
Being redone

[2016-10-05 19:40] ErshovlaD opened #1193 "UWUU"
Being redone

[2016-10-05 22:37] chrislunde commented on #1183
I can continue on this, I closed this because I found a another issue called "ENVA".

[2016-10-05 22:47] TristinWoolf commented on #1183
Please search before creating issues, we don't want duplicates. Continue in #966. :)

[2016-10-05 22:47] #1183 closed

[2016-10-05 22:49] TristinWoolf commented on #966
@chrislunde I will adding you to the airport on this issue. :)

[2016-10-06 00:38] kilt46 commented on #1183
![image](https://cloud.githubusercontent.com/assets/14023167/19136591/51808f20-8b33-11e6-8cfa-304d293320fd.png)

[2016-10-06 12:37] dushyants19 commented on #1184
Do you want to do this? @chriscroft20

[2016-10-06 12:37] dushyants19 commented on #1188
Do you want to do this @sentikum

[2016-10-06 12:39] dushyants19 commented on #1187
Please send an email to airports@liveflightapp.com! Thanks

[2016-10-06 13:46] moiz20012 commented on #546
Yes.I will be submitting it on this coming saturday

On Sep 28, 2016 7:04 AM, "Dushyanth" <notifications@github.com> wrote:

[2016-10-06 14:23] dushyants19 commented on #752
Up for grabs

[2016-10-06 15:18] dushyants19 commented on #930
ok approved

[2016-10-06 15:19] #930 closed

[2016-10-06 15:21] #1192 closed

[2016-10-06 22:27] moritzbabl commented on #1116
Sent for approval

[2016-10-06 23:39] kilt46 commented on #19
![image](https://cloud.githubusercontent.com/assets/14023167/19174416/367cfd14-8bf4-11e6-8cb0-35d17874bc70.png)

[2016-10-06 23:56] kilt46 commented on #1192
![image](https://cloud.githubusercontent.com/assets/14023167/19174708/85f5ee1c-8bf6-11e6-9c2e-5f950acdd79e.png)

[2016-10-07 00:16] kilt46 commented on #930
![image](https://cloud.githubusercontent.com/assets/14023167/19175068/58d38022-8bf9-11e6-9345-98394614ffa2.png)

[2016-10-07 00:31] kilt46 commented on #1190
![image](https://cloud.githubusercontent.com/assets/14023167/19175369/82c252bc-8bfb-11e6-957a-33f7d22b0bc1.png)

[2016-10-07 00:40] chrislunde commented on #1184
Yeah, not so much work to do. Just adding gates and small things

[2016-10-07 00:58] brunocr98 commented on #1189
Sent for approval.

[2016-10-07 01:02] brunocr98 commented on #1130
Sent for approval (ignore the message in the MPPA issue, I meant to comment in here but I mistakenly commented in there).

[2016-10-07 03:51] #1132 closed

[2016-10-07 03:58] IFAEpat opened #1194 "HESH"
Sharm El Sheikh International Airport

[2016-10-07 12:05] dushyants19 commented on #87
@NickArt1342 you are making changes

[2016-10-07 12:29] #1178 closed

[2016-10-07 12:29] #1130 closed

[2016-10-07 12:29] dushyants19 commented on #1116
Done, great detail

[2016-10-07 12:30] dushyants19 commented on #1130
Done, Great detail

[2016-10-07 12:33] #1116 closed

[2016-10-07 17:52] Giacomo11 commented on #585
Favourite airport, can't wait for it to be made!

[2016-10-07 18:08] liamkirky commented on #585
@axelbeder what's this progress like

[2016-10-07 20:50] kilt46 commented on #1130
![image](https://cloud.githubusercontent.com/assets/14023167/19205072/be4f9bb4-8ca5-11e6-883c-ec28be88e397.png)

[2016-10-07 21:48] PaulNielsen commented on #1049
@bavAVIA 1,5 month and still nothing. Are you still doing this one? If not I can finish it off.

[2016-10-07 22:49] kilt46 commented on #1178
![image](https://cloud.githubusercontent.com/assets/14023167/19207422/687e576e-8cb6-11e6-8887-4228fb0d28df.png)

[2016-10-07 22:49] kilt46 commented on #1178
![image](https://cloud.githubusercontent.com/assets/14023167/19207427/76cc6568-8cb6-11e6-8286-054467646aae.png)

[2016-10-07 23:01] kilt46 commented on #1132
![image](https://cloud.githubusercontent.com/assets/14023167/19207616/1389c82c-8cb8-11e6-965d-98e27f8b9940.png)

[2016-10-07 23:09] kilt46 commented on #780
![image](https://cloud.githubusercontent.com/assets/14023167/19207749/204c80ee-8cb9-11e6-948f-2d490ef88e7c.png)

[2016-10-07 23:21] kilt46 commented on #273
![image](https://cloud.githubusercontent.com/assets/14023167/19207986/d2c175a8-8cba-11e6-92ae-58a4bd4bcb1f.png)

[2016-10-08 00:40] brunocr98 commented on #1189
Sent for approval (now I meant to comment in here).

[2016-10-08 01:07] brunocr98 opened #1195 "MPSM"
Doing this airport from scratch. Río Hato "Scarlett Martínez" Int'l Airport. Using the MPHR file, updated the code to MPSM, Bing image also blurry.

[2016-10-08 04:30] sentikum commented on #1188
Sure

[2016-10-08 10:07] PaulNielsen opened #1196 "MMPQ-Palenque International Airport-CHIAPAS-MEXICO"
Being redone

[2016-10-08 12:16] kilt46 commented on #996
![image](https://cloud.githubusercontent.com/assets/14023167/19213054/074cc43c-8d27-11e6-9f90-f757e41edc4c.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19213056/16f81a30-8d27-11e6-9417-03e9310c5acd.png)

[2016-10-08 12:39] kilt46 commented on #1196
![image](https://cloud.githubusercontent.com/assets/14023167/19213192/4c23506e-8d2a-11e6-8d4c-9359b4eed097.png)

[2016-10-08 12:46] kilt46 commented on #902
![image](https://cloud.githubusercontent.com/assets/14023167/19213238/5f6af946-8d2b-11e6-8b80-41d1e09e6fbb.png)

[2016-10-08 13:12] kilt46 commented on #1191
SE region does NOT look like a part of the airport!
![image](https://cloud.githubusercontent.com/assets/14023167/19213321/e1a55354-8d2e-11e6-835c-064178737f06.png)

[2016-10-08 13:12] kilt46 commented on #1191
![image](https://cloud.githubusercontent.com/assets/14023167/19213323/f668c4d8-8d2e-11e6-9591-cce4f0b92357.png)

[2016-10-08 13:45] kilt46 commented on #381
![image](https://cloud.githubusercontent.com/assets/14023167/19213491/4b7fbb9e-8d33-11e6-9097-6fc7699efa0b.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19213496/72b8ddda-8d33-11e6-9c5b-c80ab3bcf8ea.png)

[2016-10-08 14:04] kilt46 commented on #777
![image](https://cloud.githubusercontent.com/assets/14023167/19213633/2c96168a-8d36-11e6-9de6-b7f04fe5dd02.png)

[2016-10-08 14:17] kilt46 commented on #613
![image](https://cloud.githubusercontent.com/assets/14023167/19213682/f6f0f840-8d37-11e6-95bb-8004e5400e52.png)

[2016-10-08 15:05] dushyants19 commented on #323
Spawns have white outlines

[2016-10-08 16:38] #626 closed

[2016-10-08 20:46] PaulNielsen opened #1197 "FMCH-Prince Said Ibrahim Airport-NJAZIDJA-COMOROS"
Being redone

[2016-10-08 21:01] Aviationluver commented on #778
Sent in for review.

[2016-10-08 22:13] PaulNielsen commented on #1197
Done

[2016-10-09 01:35] #1194 closed

[2016-10-09 03:56] sumith11 opened #1198 "VOHS - Rajiv Gandhi International Airport-TELANGANA-INDIA"
Airport serving Hyderabad. I'm re-doing this one.

[2016-10-09 10:12] Aviationluver opened #1199 "PHLI-Lihue Airport-HAWAII-USA"
Lihue Airport. I will be re-doing this one.

Both runways are not longer than 10k feet.

[2016-10-09 10:37] PaulNielsen opened #1200 "MMPN"
Redoing

[2016-10-09 11:08] NickArt1342 commented on #401
I think I have a finished version of it. Let me check. Somebody already did this one.

[2016-10-09 12:17] PaulNielsen commented on #1200
Done

[2016-10-09 12:17] #1200 closed

[2016-10-09 12:40] kilt46 commented on #1200
![image](https://cloud.githubusercontent.com/assets/14023167/19220485/b7579ad8-8df3-11e6-88aa-84982a47b5eb.png)

[2016-10-09 12:42] bavAVIA commented on #1049
Did you guys recieve my e-mail?

[2016-10-09 12:47] kilt46 commented on #1194
![image](https://cloud.githubusercontent.com/assets/14023167/19220514/973f204e-8df4-11e6-952c-81eb9ab83918.png)

[2016-10-09 12:49] bavAVIA commented on #1048
Sent in for next review.

[2016-10-09 13:06] kilt46 commented on #1197
This has NOT been done
![image](https://cloud.githubusercontent.com/assets/14023167/19220633/3eae9ab0-8df7-11e6-86ff-69eb1723bc9b.png)

[2016-10-09 13:10] PaulNielsen commented on #1197
HMm, let me look into it.

[2016-10-09 13:12] PaulNielsen commented on #1197
https://github.com/InfiniteFlightAirportEditing/Airports/blob/august2016/Comoros/FMCH/apt.dat

@kilt46 Have a look again, it is there.

[2016-10-09 13:17] kilt46 commented on #1176
![image](https://cloud.githubusercontent.com/assets/14023167/19220685/cf6090ee-8df8-11e6-94a8-73bfd3bff26f.png)

[2016-10-09 13:30] kilt46 commented on #1197
Got it sorry, didnt have August selected

[2016-10-09 13:34] kilt46 commented on #1197
![image](https://cloud.githubusercontent.com/assets/14023167/19220788/21126e92-8dfb-11e6-9e0f-bfdb72f7ad34.png)

[2016-10-09 13:40] #1197 closed

[2016-10-09 13:48] kilt46 commented on #1141
Looks like detail missing
![image](https://cloud.githubusercontent.com/assets/14023167/19220874/23fa4538-8dfd-11e6-9fea-8afafcb97932.png)

[2016-10-09 13:52] kilt46 commented on #1142
No folder
![image](https://cloud.githubusercontent.com/assets/14023167/19220898/aaf8bfb0-8dfd-11e6-8475-cff8ad3007d5.png)

[2016-10-09 13:56] kilt46 commented on #1146
![image](https://cloud.githubusercontent.com/assets/14023167/19220920/537cf7f0-8dfe-11e6-8723-b8a224ac6410.png)

[2016-10-09 14:03] kilt46 commented on #1147
![image](https://cloud.githubusercontent.com/assets/14023167/19220959/386546d8-8dff-11e6-9876-a8b2cf589d87.png)

[2016-10-09 14:09] kilt46 commented on #1145
![image](https://cloud.githubusercontent.com/assets/14023167/19221008/1e355cf2-8e00-11e6-84b1-045cf3e9a51d.png)

[2016-10-09 14:36] dushyants19 commented on #1049
yes we did

[2016-10-09 14:36] #1049 closed

[2016-10-09 14:36] #1159 closed

[2016-10-09 15:58] Vladimir35028B opened #1201 "EGPT-Perth/Scone Airport-SCOTLAND-UNITED KINGDOM"
Russia, Vnukovo international airport (VKO)

[2016-10-09 16:57] IFAEpat commented on #1142
@kilt46 I did upload this, twice actually...

[2016-10-09 17:02] IFAEpat commented on #1142
![screen shot 2016-10-09 at 1 01 23 pm](https://cloud.githubusercontent.com/assets/18223248/19222188/91ee3e64-8e20-11e6-869a-39d87368bf99.png)
![screen shot 2016-10-09 at 1 01 31 pm](https://cloud.githubusercontent.com/assets/18223248/19222189/91f0ad02-8e20-11e6-9b07-26c5515e3a40.png)

[2016-10-09 17:09] IFAEpat commented on #1141
@kilt46 there's no "detail" the pavement has no markings, some aircraft are just randomly parked.

[2016-10-09 18:24] kilt46 commented on #627
![image](https://cloud.githubusercontent.com/assets/14023167/19222662/a7730514-8e23-11e6-862c-91427dbddb65.png)

[2016-10-09 18:33] kilt46 commented on #1049
![image](https://cloud.githubusercontent.com/assets/14023167/19222741/ff0c00e0-8e24-11e6-817c-a54b6c05e6bb.png)

[2016-10-09 18:43] dushyants19 commented on #1201
Duplicate. What are you doing btw, @Vladimir35028B ?

Contribute in #1181

[2016-10-09 18:52] kilt46 commented on #1159
![image](https://cloud.githubusercontent.com/assets/14023167/19222851/94d799d4-8e27-11e6-8e44-30c4a6fa4e7e.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19222853/9e6db92e-8e27-11e6-8587-6bfb6fe52f57.png)

[2016-10-09 19:06] kilt46 commented on #1189
Missing some gates
![image](https://cloud.githubusercontent.com/assets/14023167/19222933/6fe4df0e-8e29-11e6-915a-618f49b2e05a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19222941/9f7ed094-8e29-11e6-98f8-2d9a5e358f20.png)

[2016-10-09 19:11] kilt46 commented on #1142
![image](https://cloud.githubusercontent.com/assets/14023167/19222983/3dd0f862-8e2a-11e6-8eb6-6711718ee8ff.png)

[2016-10-09 20:06] kilt46 commented on #82
![image](https://cloud.githubusercontent.com/assets/14023167/19223290/f42601be-8e31-11e6-99dd-2928d1113335.png)

[2016-10-09 20:38] brunocr98 commented on #1189
Changes sent for review.

[2016-10-09 20:45] kilt46 commented on #525
![image](https://cloud.githubusercontent.com/assets/14023167/19223519/782f32be-8e37-11e6-9f1f-34879810879e.png)

[2016-10-09 21:25] kilt46 commented on #703
![image](https://cloud.githubusercontent.com/assets/14023167/19223744/f07bc610-8e3c-11e6-94f0-71a882f00775.png)

[2016-10-09 21:38] kilt46 commented on #713
![image](https://cloud.githubusercontent.com/assets/14023167/19223828/d524efca-8e3e-11e6-8e58-921441146c24.png)

[2016-10-09 22:36] JcFl4 opened #1202 "MROC-Juan Santamaria Airport-ALAJUELA-COSTA RICA"
San José, Costa Rica

[2016-10-10 00:16] kilt46 commented on #709
![image](https://cloud.githubusercontent.com/assets/14023167/19224909/e7c5b874-8e54-11e6-950b-3072826fb6f3.png)

[2016-10-10 00:23] kilt46 commented on #707
![image](https://cloud.githubusercontent.com/assets/14023167/19224947/dc4400b8-8e55-11e6-9c24-669fee93e131.png)

[2016-10-10 00:34] kilt46 commented on #773
![image](https://cloud.githubusercontent.com/assets/14023167/19224994/630187e6-8e57-11e6-97cd-e68fdc6919d1.png)

[2016-10-10 00:38] kilt46 commented on #768
![image](https://cloud.githubusercontent.com/assets/14023167/19225021/e6e2d448-8e57-11e6-836b-a8f8f03a82fd.png)

[2016-10-10 00:56] henrikbg commented on #265
Runway lengths are incorrect for runway 11:

http://community.infinite-flight.com/t/bug-in-paris-france-airport-lfpz-runway-11/72636?u=henrik

[2016-10-10 00:58] henrikbg commented on #265
Disregard the labels, runways are correct.

[2016-10-10 00:58] #265 closed

[2016-10-10 03:08] brunocr98 commented on #1195
Sent for review.

[2016-10-10 12:16] #1191 closed

[2016-10-10 12:17] #1189 closed

[2016-10-10 12:18] #1181 closed

[2016-10-10 12:29] dushyants19 commented on #64
Gated by dush19 in d2b4d8a8a18a4e16b046c3f72d1623bb0b494adc

[2016-10-10 12:32] dushyants19 commented on #420
Gated in e6e01a929fd9a17870e6ed18746a8f3af04192d0

[2016-10-10 12:40] dushyants19 commented on #371
Gated in 79437a837f2bc2f84a2f5428fd91ae934d575556

[2016-10-10 12:42] dushyants19 commented on #485
Many features not snapped.

[2016-10-10 12:51] dushyants19 commented on #312
Gated in 4acf7872708506433703114766ae1851bfa6926d

[2016-10-10 12:56] dushyants19 commented on #343
gated in c1dbbd78a787a4869e3617c866e5741bdc83e0d7

[2016-10-10 13:06] dushyants19 commented on #370
Gated in b58bf3fa561e5a80c4621f9ca85267ee9d9b580f

[2016-10-10 13:08] dushyants19 commented on #483
51216ca Gated in

[2016-10-10 13:11] dushyants19 commented on #503
Gated in 21d934c830fde5f1d042c0de24f58bb8b357611a

[2016-10-10 13:17] dushyants19 commented on #254
Gated in ee54eca

[2016-10-10 13:18] dushyants19 commented on #63
FILE NOT IN REPO - KIAD IS present instead

[2016-10-10 13:35] dushyants19 commented on #63
KIAD was gated in KRNT's folder in SHA eea1d36c9ecd36ba4c27983d9ecb18ae68003d77 23 days ago. I reverted eea1d36c9ecd36ba4c27983d9ecb18ae68003d77 in 816f9979ee9b2a31ada27b1dc9ad7002ec42637a to restore KRNT. I copied KIAD (which was present in KRNT) and added it to KIAD's folder. I tried to re-commit KIAD but i think its the same copy.  (Didnt show in changes)

[2016-10-10 17:31] PaulNielsen opened #1203 "LTAR"

[2016-10-10 17:31] PaulNielsen commented on #1203
Being redone

[2016-10-10 18:36] Epadilla1 opened #1204 "MMLO-Leon Del Bajio Airport-GUANAJUATO-MEXICO"
I would like to get assigned this project
(runway over 10,000 feet)

[2016-10-10 19:02] #1203 closed

[2016-10-10 19:51] brunocr98 commented on #1195
Changes sent for review.

[2016-10-10 19:52] brunocr98 opened #1205 "MPDA-Enrique Malek Airport-CHIRIQUI-PANAMA"
Doing this airport. David "Enrique Malek" Int'l Airport.

[2016-10-10 19:52] ErshovlaD commented on #1193
Priority 2
One runway (>10 000ft)

[2016-10-10 22:09] kilt46 commented on #63
FIXED

[2016-10-10 22:17] kilt46 commented on #1203
![image](https://cloud.githubusercontent.com/assets/14023167/19252946/6280c636-8f0d-11e6-9f3b-389811294539.png)

[2016-10-10 22:21] kilt46 commented on #254
![image](https://cloud.githubusercontent.com/assets/14023167/19253043/f966639e-8f0d-11e6-9b6a-0f71ff301cb7.png)

[2016-10-10 22:26] kilt46 commented on #503
![image](https://cloud.githubusercontent.com/assets/14023167/19253140/9de612c0-8f0e-11e6-997f-71302d7e8ce3.png)

[2016-10-10 22:29] kilt46 commented on #483
![image](https://cloud.githubusercontent.com/assets/14023167/19253208/15b52e1c-8f0f-11e6-9e10-4c10e8aa6e8d.png)

[2016-10-10 22:32] kilt46 commented on #370
![image](https://cloud.githubusercontent.com/assets/14023167/19253269/86e566ec-8f0f-11e6-9d8c-1aedba531b34.png)

[2016-10-10 22:42] ErshovlaD opened #1206 "LLBG-Tel Aviv Ben Gurion Airport-HAMERKAZ-ISRAEL"
Being redone
3 runways (10 000 ft>)

[2016-10-10 22:44] kilt46 commented on #343
![image](https://cloud.githubusercontent.com/assets/14023167/19253513/2e2d1494-8f11-11e6-98bf-79b4224ae4a3.png)

[2016-10-10 22:48] kilt46 commented on #312
![image](https://cloud.githubusercontent.com/assets/14023167/19253569/b468f4ce-8f11-11e6-9cd1-b3f4e56c098a.png)

[2016-10-10 23:10] kilt46 commented on #371
![image](https://cloud.githubusercontent.com/assets/14023167/19254000/cbe91856-8f14-11e6-8ae9-1a849ce9a7c2.png)

[2016-10-10 23:21] kilt46 commented on #64
![image](https://cloud.githubusercontent.com/assets/14023167/19254141/55e24f72-8f16-11e6-85bf-167214550758.png)

[2016-10-10 23:30] kilt46 commented on #1181
![image](https://cloud.githubusercontent.com/assets/14023167/19254265/9236301e-8f17-11e6-8101-e2e85c662068.png)

[2016-10-10 23:41] kilt46 commented on #1201
![image](https://cloud.githubusercontent.com/assets/14023167/19254435/1bde0a7a-8f19-11e6-8d8b-97a7a575d617.png)

[2016-10-10 23:53] kilt46 commented on #778
![image](https://cloud.githubusercontent.com/assets/14023167/19254586/b60b8ac2-8f1a-11e6-9210-8509f21b327e.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19254590/c9f2f890-8f1a-11e6-9194-e1fd47ff9d75.png)

[2016-10-11 00:02] kilt46 commented on #1189
![image](https://cloud.githubusercontent.com/assets/14023167/19254692/06e29804-8f1c-11e6-9373-adc2b1a7eb62.png)

[2016-10-11 00:06] kilt46 commented on #1191
![image](https://cloud.githubusercontent.com/assets/14023167/19254736/a918b63a-8f1c-11e6-8d05-495bdbae48ee.png)

[2016-10-11 00:08] Ksisky commented on #588
Other things have taken up a lot of my time, and I don't know if I'll be able to finish by global release. I have about half done, and I'm willing to send a half-complete apt.dat to anyone who wants to take this up from me. I'm unassigning myself so people can find this as needing completion. I will continue to work slowly until it is taken up, just tag me in this thread so I can send you the file

[2016-10-11 01:38] kilt46 commented on #125
not to scale. NEEDS REDRAWN!!!
![image](https://cloud.githubusercontent.com/assets/14023167/19256114/8428ba70-8f29-11e6-966a-68c3c6c0c9bb.png)

[2016-10-11 01:46] kilt46 commented on #1182
![image](https://cloud.githubusercontent.com/assets/14023167/19256238/ab6e702e-8f2a-11e6-85fb-8208c6da3f54.png)

[2016-10-11 02:05] kilt46 commented on #1186
![image](https://cloud.githubusercontent.com/assets/14023167/19256503/419c1658-8f2d-11e6-9225-dd10b094cbdd.png)

[2016-10-11 15:56] dushyants19 commented on #1204
Invited you to the team, check your inbox :)

[2016-10-11 17:55] Aviationluver commented on #1199
Sent in for review.

[2016-10-11 18:40] PaulNielsen opened #1207 "HAAX"
Being redone

[2016-10-11 19:22] PaulNielsen commented on #1207
Done.

[2016-10-11 19:40] #1207 closed

[2016-10-11 20:00] Aviationluver commented on #257
I can re-do this one.

[2016-10-12 01:47] kilt46 commented on #1207
![image](https://cloud.githubusercontent.com/assets/14023167/19294627/e25103d0-8ff3-11e6-94c6-62ff68e22ad8.png)

[2016-10-12 01:57] kilt46 commented on #265
![image](https://cloud.githubusercontent.com/assets/14023167/19294772/4508a324-8ff5-11e6-8d65-c71e0c6dfb55.png)

[2016-10-12 02:03] kilt46 commented on #890
![image](https://cloud.githubusercontent.com/assets/14023167/19294888/308fce58-8ff6-11e6-85fc-2b94e787cef7.png)

[2016-10-12 02:50] ryangreene15 opened #1208 "RJFR-Kitakyushu Airport-FUKUOKA-JAPAN"
♻️

[2016-10-12 07:06] ReflexRSM commented on #529
I think there's a mistake here @IFAEpat..

[2016-10-12 10:25] Xpheros commented on #636
is this airport finished?

[2016-10-12 10:27] dushyants19 commented on #636
No

[2016-10-12 10:29] dushyants19 commented on #1208
😱

[2016-10-12 10:30] #1142 closed

[2016-10-12 10:30] dushyants19 commented on #1201
beautiful airport you forgot to close issue @kilt46

[2016-10-12 10:30] #1201 closed

[2016-10-12 10:34] dushyants19 commented on #1199
accepto

[2016-10-12 10:37] dushyants19 commented on #381
Minor improvements by Sumith b580fcf

[2016-10-12 10:39] ReflexRSM commented on #878
I'll take up this one, I'll be using Google Maps.

[2016-10-12 11:35] dushyants19 commented on #1195
new folder made

[2016-10-12 11:36] #1195 closed

[2016-10-12 12:47] ErshovlaD opened #1209 "URWW"
Being redone
Priority 2 (10 000> ft runway)

[2016-10-12 14:43] dushyants19 commented on #808
@Skunkape29 please respond.

[2016-10-12 14:43] dushyants19 commented on #801
@TheGamingGuy please respond.

[2016-10-12 14:43] dushyants19 commented on #801
Up for grabs

[2016-10-12 14:44] dushyants19 commented on #918
How is the progress on this, @SeanTea?

[2016-10-12 14:45] dushyants19 commented on #873
how is this going @sentikum

[2016-10-12 14:46] dushyants19 commented on #872
@david-garden 🌴 hows this goin

[2016-10-12 14:46] dushyants19 commented on #867
up for grabs

[2016-10-12 14:47] dushyants19 commented on #866
grabs

[2016-10-12 14:50] dushyants19 commented on #350
@XRodriguezVB any progress?

[2016-10-12 14:54] SeanTea commented on #918
Abandoning the project, banned from IF 2 months ago, best of luck with IFAE.

On Wednesday, October 12, 2016, Dushyanth <notifications@github.com> wrote:

[2016-10-12 15:03] #878 closed

[2016-10-12 15:04] dushyants19 commented on #918
ok

[2016-10-12 15:07] dushyants19 commented on #145
@Misha16 are you done with this

[2016-10-12 16:17] ReflexRSM commented on #145
I'll do this one!

[2016-10-12 18:56] Epadilla1 opened #1210 "MMAS-Aguascalientes-Jesus Teran Int Airport-AGUASCALIENTES-MEXICO"

[2016-10-12 23:50] Abimael96 commented on #1137
GIG RioGaleao Airport!! Nice...

[2016-10-13 00:00] kilt46 commented on #602
![image](https://cloud.githubusercontent.com/assets/14023167/19332032/1dad1b7a-90ae-11e6-9b64-7e78c431bcbc.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19332045/2a1af9b8-90ae-11e6-9030-24e1df940598.png)

[2016-10-13 00:14] kilt46 commented on #878
![image](https://cloud.githubusercontent.com/assets/14023167/19332292/28a9f0a0-90b0-11e6-87e2-e5ea6c7cbc73.png)

[2016-10-13 01:47] kilt46 commented on #617
![image](https://cloud.githubusercontent.com/assets/14023167/19333793/19020efa-90bd-11e6-9739-5e098d5aa901.png)

[2016-10-13 01:58] kilt46 commented on #1195
![image](https://cloud.githubusercontent.com/assets/14023167/19334015/a7fc5164-90be-11e6-8e1a-1ab52afa00df.png)

[2016-10-13 02:00] brunocr98 opened #1211 "MPBO"
Doing this airport. Bocas del Toro "Isla Colón" International Airport.

[2016-10-13 02:01] brunocr98 opened #1212 "MPCH"
Doing this airport. Changuinola "Capitán Manuel Niño" International Airport.

[2016-10-13 02:14] IFAEpat commented on #446
Any news, @JonathanAirbus???

[2016-10-13 04:07] ReflexRSM commented on #867
I'll do this one :)

[2016-10-13 13:33] lalomarlin commented on #1204
MMLO is Silao ;)

[2016-10-13 14:02] ryu12332 commented on #593
I will start to put some work in.

[2016-10-13 15:46] dushyants19 commented on #593
Hi @ryu12332, are you in our slack team yet? This airport might be huge for a beginner. If you arent, please email airports@liveflightapp.com

[2016-10-13 15:47] dushyants19 commented on #1210
@Epadilla1 please dont close issues.

[2016-10-13 15:50] dushyants19 commented on #1137
@Abimael96 All airports are getting added.

[2016-10-13 15:51] dushyants19 commented on #880
Up for grabs

[2016-10-13 16:17] kilt46 commented on #1
I am working on this airport. Please leave it alone!

[2016-10-13 20:47] Epadilla1 commented on #1210
Sorry, I'll working on this project once done with MMLO, would you please ming adding me as assignee please. Thanks!

[2016-10-13 21:01] brunocr98 commented on #1211
Sent for review.

[2016-10-13 22:11] kilt46 commented on #1154
![image](https://cloud.githubusercontent.com/assets/14023167/19368918/106c15d2-9168-11e6-86fe-44fe2d017149.png)

[2016-10-13 22:34] brunocr98 commented on #1212
Sent for review.

[2016-10-14 00:20] kilt46 commented on #1205
![image](https://cloud.githubusercontent.com/assets/14023167/19371612/248c23ec-917a-11e6-826c-de949e095e4d.png)

[2016-10-14 00:30] kilt46 commented on #1185
![image](https://cloud.githubusercontent.com/assets/14023167/19371766/8aee6202-917b-11e6-898a-de7b0245a59d.png)

[2016-10-14 02:08] IFAEpat commented on #590
Imagery issues, can a windows user please do this? 🙏🏼

[2016-10-14 03:35] IFAEpat opened #1213 "MWCR-Owen Roberts International/Grand Cayman Airport-GEORGE TOWN-CAYMAN ISLANDS"
Owen Roberts Intl

[2016-10-14 11:07] Will171 commented on #880
when doing this airport, be weary that that runway 09-27 has been changed from existing bing imagery. Check google imagery for more info :)

[2016-10-14 11:29] #1211 closed

[2016-10-14 11:29] #1212 closed

[2016-10-14 12:19] ErshovlaD opened #1214 "UKOO-Odessa Airport-ODESSA-UKRAINE"
Being redone

[2016-10-14 12:52] GiacomoLaw commented on #268
Glad to see my home airport is edited! 😊

[2016-10-14 13:35] Will171 commented on #268
No problem dude

[2016-10-14 16:53] brunocr98 opened #1215 "MPEJ"
Doing this airport. Enrique Adolfo Jimenez Airport.

[2016-10-14 16:54] brunocr98 commented on #1215
Sent for review.

[2016-10-14 17:08] PaulNielsen opened #1216 "FMCZ-Dzaoudzi–Pamandzi International Airport-MAYOTTE-MADAGASCAR"

[2016-10-14 17:25] PaulNielsen commented on #1216
Sorry if this is the old version of the airport I've done. I found some older charts and did it after them. But not sure if that's up to date today.

[2016-10-14 17:52] brunocr98 opened #1217 "MPOA"
Doing this airport. Puerto Obaldia Airport.

[2016-10-14 18:40] bavAVIA opened #1218 "LPAZ"
Redoing LPAZ (Santa Maria Airport, Azores, Portugal).
Runway length is exactly 10000ft.

[2016-10-14 20:36] kilt46 commented on #1216
![image](https://cloud.githubusercontent.com/assets/14023167/19401986/008e78c8-9224-11e6-95d4-b6bf66240532.png)

[2016-10-14 20:43] kilt46 commented on #1212
![image](https://cloud.githubusercontent.com/assets/14023167/19402139/fc38593c-9224-11e6-95ac-7b2ebca54a4b.png)

[2016-10-14 20:48] kilt46 commented on #1211
![image](https://cloud.githubusercontent.com/assets/14023167/19402242/ad9999a2-9225-11e6-8674-09641e7c699e.png)

[2016-10-14 21:21] kilt46 commented on #1048
![image](https://cloud.githubusercontent.com/assets/14023167/19403051/4ff22c7e-922a-11e6-9a17-6c811345ecab.png)

[2016-10-14 21:35] kilt46 commented on #1213
![image](https://cloud.githubusercontent.com/assets/14023167/19403334/2e392ab8-922c-11e6-83e8-3ae6a35c1d77.png)

[2016-10-14 23:09] kilt46 commented on #1198
![image](https://cloud.githubusercontent.com/assets/14023167/19405075/474b4d3a-9239-11e6-9898-03dfd2d72c1a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19405079/5105dc82-9239-11e6-8538-74c5d3b9f556.png)

[2016-10-15 00:26] kilt46 commented on #1199
![image](https://cloud.githubusercontent.com/assets/14023167/19406014/1aae8728-9244-11e6-8cc8-033a4addd738.png)

[2016-10-15 01:47] brunocr98 commented on #1217
Sent for review.

[2016-10-15 10:04] ErshovlaD opened #1219 "UMKK-Kaliningrad Khrabrovo Airport-KALININGRAD-RUSSIA"
Being redone

[2016-10-15 10:12] dushyants19 commented on #1219
Max 3, you are already at 4.

[2016-10-15 10:23] kilt46 commented on #876
![image](https://cloud.githubusercontent.com/assets/14023167/19409338/7b448f30-9297-11e6-9f7d-14f1bf2b9426.png)

[2016-10-15 10:58] bavAVIA commented on #1119
Runway length is over 10.000ft.

[2016-10-15 12:06] kilt46 commented on #102
![image](https://cloud.githubusercontent.com/assets/14023167/19409957/e13dc37a-92a5-11e6-86ab-38abd703dbfb.png)

[2016-10-15 12:54] PaulNielsen opened #1220 "FQTT"

[2016-10-15 12:54] #1220 closed

[2016-10-15 13:21] kilt46 opened #1221 "RJSY-Shonai Airport-YAMAGATA-JAPAN"
♻️

[2016-10-15 13:22] GiacomoLaw commented on #1221
Happy to be doing this!

[2016-10-15 13:47] kilt46 commented on #378
![image](https://cloud.githubusercontent.com/assets/14023167/19410507/07700eb4-92b4-11e6-9fd4-0bd6829a79a1.png)

[2016-10-15 16:17] brunocr98 commented on #1217
Changes sent for review

[2016-10-15 16:17] brunocr98 commented on #1215
Changes sent for review

[2016-10-15 16:18] ghost opened #1222 "MPVR-El Porvenir Airport-GUNA YALA-PANAMA"
Doing this airport. El Porvenir Airport.

[2016-10-15 18:37] Adam167 opened #1223 "08D-Stanley Municipal Airport-NORTH DAKOTA-USA"
♻️

[2016-10-15 18:48] kilt46 commented on #246
![image](https://cloud.githubusercontent.com/assets/14023167/19412513/e4e1bb52-92dd-11e6-9f61-69058581c36e.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19412523/02d285c4-92de-11e6-8163-0821a86b06e0.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19412526/0fc97a9e-92de-11e6-9b5f-0f8304f47707.png)

[2016-10-15 19:28] kilt46 commented on #135
![image](https://cloud.githubusercontent.com/assets/14023167/19412824/94f8cc4c-92e3-11e6-9efb-81f2fd59cc96.png)

[2016-10-15 19:51] kilt46 commented on #1220
![image](https://cloud.githubusercontent.com/assets/14023167/19412971/cdab49cc-92e6-11e6-8996-380292fc640c.png)

[2016-10-15 22:04] kilt46 commented on #12
![image](https://cloud.githubusercontent.com/assets/14023167/19413671/64f6b192-92f9-11e6-944b-295a8cbe956a.png)

[2016-10-15 22:28] kilt46 commented on #318
![image](https://cloud.githubusercontent.com/assets/14023167/19413753/ba5fc594-92fc-11e6-866a-f29fedd32075.png)

[2016-10-15 23:38] kilt46 commented on #679
![image](https://cloud.githubusercontent.com/assets/14023167/19414028/869f9004-9306-11e6-96da-e5be2ef8ac48.png)

[2016-10-16 11:24] bavAVIA commented on #1218
Available for review on Slack.

[2016-10-16 12:11] kilt46 commented on #758
![image](https://cloud.githubusercontent.com/assets/14023167/19417317/8f551782-936f-11e6-8c3c-66d8a3e5f339.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19417335/c1fb3eb4-936f-11e6-9a5d-66f310753ab1.png)

[2016-10-16 12:23] kilt46 commented on #767
![image](https://cloud.githubusercontent.com/assets/14023167/19417400/76791b9e-9371-11e6-853a-2751fe58e6c7.png)

[2016-10-16 12:35] kilt46 commented on #201
![image](https://cloud.githubusercontent.com/assets/14023167/19417449/0c4513e8-9373-11e6-845b-328fff3a95ae.png)

[2016-10-16 12:47] kilt46 commented on #769
![image](https://cloud.githubusercontent.com/assets/14023167/19417523/c9c4e906-9374-11e6-9dc7-cbea7300fe50.png)

[2016-10-16 12:52] brunocr98 commented on #1222
Sent for review.

[2016-10-16 12:55] kilt46 commented on #766
![image](https://cloud.githubusercontent.com/assets/14023167/19417563/de984c96-9375-11e6-9b0a-30fab93947e4.png)

[2016-10-16 13:07] kilt46 commented on #669
![image](https://cloud.githubusercontent.com/assets/14023167/19417641/a60c486c-9377-11e6-9642-61a548186e75.png)

[2016-10-16 13:14] kilt46 commented on #771
![image](https://cloud.githubusercontent.com/assets/14023167/19417675/93838a92-9378-11e6-8faa-23dae69af19a.png)

[2016-10-16 13:24] kilt46 commented on #805
![image](https://cloud.githubusercontent.com/assets/14023167/19417728/f624fef0-9379-11e6-8d0e-cfa15dcb8459.png)

[2016-10-16 14:10] kilt46 commented on #680
![image](https://cloud.githubusercontent.com/assets/14023167/19417990/56ad4254-9380-11e6-9731-7320736026f7.png)

[2016-10-16 14:16] kilt46 commented on #644
![image](https://cloud.githubusercontent.com/assets/14023167/19418034/3eb952e0-9381-11e6-8e18-d5eb6774dba0.png)

[2016-10-16 14:26] kilt46 commented on #684
![image](https://cloud.githubusercontent.com/assets/14023167/19418097/8dcfe122-9382-11e6-985c-31ff53bc54fb.png)

[2016-10-16 14:36] kilt46 commented on #682
![image](https://cloud.githubusercontent.com/assets/14023167/19418153/f751f5bc-9383-11e6-9196-3692f885d1d6.png)

[2016-10-16 14:38] PaulNielsen opened #1225 "LWOH"

[2016-10-16 14:40] #1225 closed

[2016-10-16 16:34] kilt46 commented on #781
![image](https://cloud.githubusercontent.com/assets/14023167/19418971/8ed194e6-9394-11e6-89af-c4f02281d283.png)

[2016-10-16 16:37] kilt46 commented on #776
![image](https://cloud.githubusercontent.com/assets/14023167/19418992/e6e2d3ac-9394-11e6-88f8-54fdff450bfe.png)

[2016-10-16 17:17] kilt46 commented on #719
![image](https://cloud.githubusercontent.com/assets/14023167/19419305/7def2bf6-939a-11e6-96de-35913873dd1a.png)

[2016-10-16 17:20] kilt46 commented on #714
![image](https://cloud.githubusercontent.com/assets/14023167/19419326/ec728a0a-939a-11e6-9b74-64a8c905cd5a.png)

[2016-10-16 17:27] kilt46 commented on #1225
![image](https://cloud.githubusercontent.com/assets/14023167/19419376/dae10252-939b-11e6-84f8-20f576d1d48d.png)

[2016-10-16 17:35] kilt46 commented on #762
![image](https://cloud.githubusercontent.com/assets/14023167/19419432/08c7506c-939d-11e6-88f6-fff136998a26.png)

[2016-10-16 18:30] #627 closed

[2016-10-16 19:46] IFAEpat commented on #936
Up for grabs! Good for new editors!

[2016-10-16 20:01] kilt46 commented on #297
![image](https://cloud.githubusercontent.com/assets/14023167/19420465/73b507f2-93b1-11e6-8fb0-d229bda628f6.png)

[2016-10-16 21:33] JonathanAirbus opened #1226 "EGPU-Tiree Airport-SCOTLAND-UNITED KINGDOM"
Missing hold short lines for runway 26R

[2016-10-16 21:51] TristinWoolf commented on #1226
Please record issues for any airports in their separate issue. Please do not create new issues. Continue in #54.

[2016-10-16 23:51] kilt46 commented on #683
![image](https://cloud.githubusercontent.com/assets/14023167/19421942/86d5458e-93d1-11e6-97e0-24ad3f026469.png)

[2016-10-16 23:59] kilt46 commented on #697
![image](https://cloud.githubusercontent.com/assets/14023167/19421987/b117d95a-93d2-11e6-807b-4fc9e8c523b8.png)

[2016-10-17 03:56] IFAEpat opened #1227 "KFYJ"
Middle Peninsula Rgnl

Almost done, forgot to make issue :|

[2016-10-17 03:59] IFAEpat commented on #1227
done

[2016-10-17 03:59] #1227 closed

[2016-10-17 05:39] ErshovlaD opened #1228 "XUMH"
Being redone

[2016-10-17 12:31] david-garden commented on #872
Bad Dush. Computer has failed me. Got most of the taxiways down before it junked out on me. Sounds like someone else has to do this.

[2016-10-17 15:19] PaulNielsen commented on #179
Fixed 2 taxiways connecting to runway 08.

[2016-10-17 15:51] dushyants19 commented on #872
Grabs

[2016-10-17 15:58] dushyants19 commented on #179
Did you move spawns according to new type, @PaulNielsen ?

[2016-10-17 17:56] PaulNielsen opened #1229 "LFMU-Beziers Vias Airport-LANGUEDOC-ROUSSILLON-FRANCE"

[2016-10-17 18:09] IceBlue02 commented on #1228
Just to confirm this is Chernoi air base?

[2016-10-18 12:07] moritzbabl opened #1230 "EDDC"
I'll do this one

[2016-10-18 14:38] Aviationluver commented on #257
Sent in for review.

[2016-10-18 16:00] Aviationluver opened #1231 "EDMA-Augsburg Airport-BAYERN-GERMANY"
Augsburg Airport. I will be re-doing this one.

Runway is not longer than 10k feet.

[2016-10-18 16:09] ErshovlaD commented on #1228
Chernoe Air Base

Chernoe* 
Not Chernoi Понедельник, 17 октября 2016, 22:09 +04:00 от Ewan Massey <notifications@github.com>:

[2016-10-18 16:48] moritzbabl commented on #465
Sent for approval

[2016-10-18 16:56] ErshovlaD commented on #873
Can I take this port? I'm going to make it

[2016-10-18 16:56] ErshovlaD commented on #1187
Can I take this port? I'm going to make it

[2016-10-18 20:39] PaulNielsen commented on #1187
Uhh, MCTechPlays is already doing it @ErshovlaD

[2016-10-18 21:40] sentikum commented on #873
Sure, @ershovlad

[2016-10-18 22:16] kilt46 commented on #1229
![image](https://cloud.githubusercontent.com/assets/14023167/19498449/8486aa44-9556-11e6-9414-ffdb26c5bb73.png)
MISSING GATES AS PER NAVIGRAPH

[2016-10-19 00:17] kilt46 commented on #179
![image](https://cloud.githubusercontent.com/assets/14023167/19500979/7de856e0-9567-11e6-9493-956303120fda.png)

[2016-10-19 00:23] kilt46 commented on #1227
![image](https://cloud.githubusercontent.com/assets/14023167/19501089/4d0124c0-9568-11e6-8bbe-2da5f7c48a38.png)

[2016-10-19 00:31] kilt46 commented on #630
![image](https://cloud.githubusercontent.com/assets/14023167/19501242/843710de-9569-11e6-946b-11221502845e.png)

[2016-10-19 00:48] kilt46 commented on #696
![image](https://cloud.githubusercontent.com/assets/14023167/19501514/de4845f0-956b-11e6-9d2a-3a2622588346.png)

[2016-10-19 01:00] kilt46 commented on #681
![image](https://cloud.githubusercontent.com/assets/14023167/19501737/8e143bbe-956d-11e6-826b-f2ac506ed3c4.png)

[2016-10-19 01:06] kilt46 commented on #738
![image](https://cloud.githubusercontent.com/assets/14023167/19501840/4ba60388-956e-11e6-8d7b-3aaeaf862ece.png)

[2016-10-19 14:25] PaulNielsen commented on #1229
It looks like the apron has been extended, but isn't shown on current images. If someone can do it, go ahead. But I can't figure this out

[2016-10-19 15:04] #1215 closed

[2016-10-19 15:56] brunocr98 opened #1232 "MPWN"
Airport already made, just need to be reviewed. Wannukandí Airport.

[2016-10-19 16:25] brunocr98 commented on #1232
Sent for review.

[2016-10-19 16:25] brunocr98 commented on #1222
Changes sent for review.

[2016-10-19 16:26] brunocr98 commented on #1217
Sent for review again

[2016-10-19 17:26] JcFl4 opened #1233 "VNKT"
Tribhuvan International Airport, Nepal.

[2016-10-19 20:12] Aviationluver commented on #1231
Sent in for review.

[2016-10-19 22:14] kilt46 commented on #867
![image](https://cloud.githubusercontent.com/assets/14023167/19539539/82712c06-961f-11e6-843c-875ee8c4566c.png)

[2016-10-19 22:43] kilt46 commented on #1215
![image](https://cloud.githubusercontent.com/assets/14023167/19540242/9d056dee-9623-11e6-899f-31a5f8d556a0.png)

[2016-10-20 02:10] JonathanAirbus opened #1234 "OMSJ-Sharjah Airport-SHARJAH-UNITED ARAB EMIRATES"
♻️

[2016-10-20 03:52] dushyants19 commented on #1234
Please search before creating an issue. This is the 3rd time you are doing this.

Continue here #245

A simple search  won't hurt, @JonathanAirbus

[2016-10-20 03:53] dushyants19 commented on #1234
Why dont you fix it? You aren't here for just reporting minor issues

[2016-10-20 03:54] dushyants19 commented on #245
Needs runway number change, I'll fix it

[2016-10-20 20:39] moritzbabl commented on #917
I'll do this, may take a bit since no WEDbing images are available

[2016-10-20 22:11] kilt46 commented on #145
![image](https://cloud.githubusercontent.com/assets/14023167/19579836/42e45c10-96e8-11e6-9793-46cd3f4f2388.png)

[2016-10-20 22:40] kilt46 commented on #691
![image](https://cloud.githubusercontent.com/assets/14023167/19580499/391b405a-96ec-11e6-8268-df1b06241de6.png)

[2016-10-20 23:37] kilt46 commented on #671
![image](https://cloud.githubusercontent.com/assets/14023167/19581642/33d2e0e6-96f4-11e6-8438-e6be32ca37da.png)

[2016-10-20 23:52] kilt46 commented on #873
![image](https://cloud.githubusercontent.com/assets/14023167/19581913/4f9d0f0c-96f6-11e6-95dc-cde938e95e4d.png)

[2016-10-21 00:05] #873 closed

[2016-10-21 00:12] kilt46 commented on #1231
![image](https://cloud.githubusercontent.com/assets/14023167/19582330/23d9f7c4-96f9-11e6-8d00-c23215a597b7.png)

[2016-10-21 00:17] #1231 closed

[2016-10-21 00:28] kilt46 commented on #651
![image](https://cloud.githubusercontent.com/assets/14023167/19582575/555f806e-96fb-11e6-8e76-be9dc1030662.png)

[2016-10-21 00:48] kilt46 commented on #764
![image](https://cloud.githubusercontent.com/assets/14023167/19582920/327e2192-96fe-11e6-96e7-e6b9af13f6c7.png)

[2016-10-21 01:35] kilt46 commented on #716
![image](https://cloud.githubusercontent.com/assets/14023167/19583703/ae28c31e-9704-11e6-90ad-9a7aabad8b87.png)

[2016-10-21 05:04] Aviationluver opened #1235 "LIPZ-Venezia/Tessera Airport-VENETO-ITALY"
Venice Int'l Airport. I will be re-doing this one.

RWY 04R/22L is longer than 10k feet.

[2016-10-21 05:18] brunocr98 opened #1236 "KPHX-Phoenix Sky Harbor International Airport-ARIZONA-USA"
Redoing this airport. Phoenix Sky Harbor Int'l Airport. The runways 8/26 and 7L/25R are >10,000ft.

[2016-10-21 06:20] ErshovlaD commented on #721
Anyone make this airport?
Can I take it for work?

[2016-10-21 06:57] ErshovlaD opened #1237 "UUMB"
Being redone.

All my airprorts which I assigned already done. Check email. 10 days gone after moment, when I send them

[2016-10-21 09:59] kilt46 opened #1238 "UUMW-Vatulino Airfield Airport-MOSCOW OBLAST-RUSSIA"

[2016-10-21 10:05] kilt46 opened #1239 "ZB3C-Zagiel Airstrip-MOSCOW OBLAST-RUSSIA"

[2016-10-21 10:15] kilt46 commented on #718
![image](https://cloud.githubusercontent.com/assets/14023167/19594989/60149222-974d-11e6-9c1f-e3a73d9cdfb5.png)

[2016-10-21 14:51] JcFl4 opened #1240 "SBRJ-Rio De Janeiro/Santos Dumont Airport-RIO DE JANEIRO-BRAZIL"
Santos Dumont, Rio de Janeiro

[2016-10-21 14:53] #1193 closed

[2016-10-21 14:54] #1209 closed

[2016-10-21 14:54] dushyants19 commented on #1232
Brunocr98 did this

[2016-10-21 14:54] #1232 closed

[2016-10-21 14:54] #1217 closed

[2016-10-21 14:56] dushyants19 commented on #1239
Are you doing this and #1238 @ErshovlaD

[2016-10-21 14:59] dushyants19 commented on #1237
ok whatever

[2016-10-21 18:00] brunocr98 opened #1241 "MPJE"
I already made this airport, just need to be reviewed. Jaqué Airport.

[2016-10-21 18:01] brunocr98 opened #1242 "MPLP"
I already made this airport, just need to be reviewed. Ramón Xatruch Airport.

[2016-10-21 20:57] kilt46 commented on #257
![image](https://cloud.githubusercontent.com/assets/14023167/19611373/13ea1570-97a7-11e6-956c-496935a12e3e.png)

[2016-10-21 20:59] kilt46 commented on #257
![image](https://cloud.githubusercontent.com/assets/14023167/19611449/61e9a466-97a7-11e6-9852-2ae789372d14.png)

[2016-10-21 21:22] unitedfc commented on #1223
I fix it

[2016-10-21 21:42] kilt46 commented on #1217
![image](https://cloud.githubusercontent.com/assets/14023167/19612627/55cd8002-97ad-11e6-8b1a-29f7c77f6f6c.png)

[2016-10-21 21:48] kilt46 commented on #1222
![image](https://cloud.githubusercontent.com/assets/14023167/19612779/2a44843e-97ae-11e6-829e-584a1d79aec4.png)

[2016-10-21 22:33] benschenk opened #1243 "YBSU"
Hasn't been made, please assign me here

[2016-10-21 22:57] kilt46 commented on #1209
![image](https://cloud.githubusercontent.com/assets/14023167/19614118/525bd324-97b7-11e6-9cbc-9e85b80cfbea.png)

[2016-10-21 23:05] kilt46 commented on #1193
![image](https://cloud.githubusercontent.com/assets/14023167/19614270/fd67df82-97b8-11e6-89c6-d0cb00348390.png)

[2016-10-21 23:20] kilt46 commented on #510
![image](https://cloud.githubusercontent.com/assets/14023167/19614456/ff6f4516-97ba-11e6-8344-5f222db515b5.png)

[2016-10-21 23:26] kilt46 commented on #1232
![image](https://cloud.githubusercontent.com/assets/14023167/19614542/d2f93644-97bb-11e6-91d7-321487ecb5ce.png)

[2016-10-21 23:53] kilt46 commented on #717
![image](https://cloud.githubusercontent.com/assets/14023167/19614963/9c875cae-97bf-11e6-8a6a-bde6b30d2d15.png)

[2016-10-21 23:58] kilt46 commented on #794
![image](https://cloud.githubusercontent.com/assets/14023167/19615067/693f180e-97c0-11e6-8129-2351c5092d17.png)

[2016-10-22 00:04] kilt46 commented on #792
![image](https://cloud.githubusercontent.com/assets/14023167/19615157/2db390de-97c1-11e6-91ac-d7d1df59a80f.png)

[2016-10-22 01:15] kilt46 commented on #791
![image](https://cloud.githubusercontent.com/assets/14023167/19615806/12b3e054-97cb-11e6-899c-fdd98948bdb4.png)

[2016-10-22 01:24] kilt46 commented on #786
![image](https://cloud.githubusercontent.com/assets/14023167/19615882/645d7e5a-97cc-11e6-9870-1ea168709b33.png)

[2016-10-22 01:29] kilt46 commented on #741
![image](https://cloud.githubusercontent.com/assets/14023167/19615914/ff0a967c-97cc-11e6-89df-932c03824f38.png)

[2016-10-22 01:35] kilt46 commented on #740
![image](https://cloud.githubusercontent.com/assets/14023167/19615968/e6d4de04-97cd-11e6-98c0-837b17daef08.png)

[2016-10-22 01:55] kilt46 commented on #739
![image](https://cloud.githubusercontent.com/assets/14023167/19616099/aceb10e8-97d0-11e6-904b-489670b67451.png)

[2016-10-22 01:55] PilotCat commented on #530
i could do this

[2016-10-22 02:00] PilotCat commented on #454
ill tackle this

[2016-10-22 02:10] kilt46 commented on #720
![image](https://cloud.githubusercontent.com/assets/14023167/19616191/d3c09344-97d2-11e6-85f8-90e5c1b2681b.png)

[2016-10-22 02:18] kilt46 commented on #715
![image](https://cloud.githubusercontent.com/assets/14023167/19616261/e003bdec-97d3-11e6-90c5-677bfeadacee.png)

[2016-10-22 08:59] lachieee opened #1244 "NZHN"
Hamilton airport, New Zealand . I'll do this.

[2016-10-22 10:52] kilt46 commented on #754
![image](https://cloud.githubusercontent.com/assets/14023167/19618855/b626bc0c-981b-11e6-9438-4dff4e62f7c0.png)

[2016-10-22 11:04] kilt46 commented on #749
![image](https://cloud.githubusercontent.com/assets/14023167/19618915/68566c50-981d-11e6-96d5-f76bf9919885.png)

[2016-10-22 11:11] kilt46 commented on #736
![image](https://cloud.githubusercontent.com/assets/14023167/19618944/6a1b4df2-981e-11e6-9da9-127b63335cda.png)

[2016-10-22 11:16] kilt46 commented on #735
![image](https://cloud.githubusercontent.com/assets/14023167/19618963/1df5788e-981f-11e6-9776-a229c04adb37.png)

[2016-10-22 11:24] kilt46 commented on #693
![image](https://cloud.githubusercontent.com/assets/14023167/19618984/3e3375aa-9820-11e6-8ed4-68df159bcfb8.png)

[2016-10-22 12:08] #1242 closed

[2016-10-22 12:08] dushyants19 commented on #1242
Done by @brunocr98

[2016-10-22 12:08] dushyants19 commented on #1241
done by @brunocr98 typing this cause no one cares to assign him

[2016-10-22 12:09] #1241 closed

[2016-10-22 12:16] dushyants19 commented on #1234
Ahh nice airport

[2016-10-22 12:40] kilt46 commented on #1241
![image](https://cloud.githubusercontent.com/assets/14023167/19619363/cd5ad336-982a-11e6-9545-1b503fdb31a4.png)

[2016-10-22 12:51] kilt46 commented on #1242
![image](https://cloud.githubusercontent.com/assets/14023167/19619418/4eb7b236-982c-11e6-81d7-6eeb7096fd09.png)

[2016-10-22 14:53] brunocr98 opened #1245 "MPFS"
Airport already made, just need to be reviewed. Fort Sherman Airport.

[2016-10-22 14:53] brunocr98 opened #1246 "MPZL"
Airport already made, just need to be reviewed. Finca 32 Airport.

[2016-10-22 17:49] bavAVIA commented on #1218
Sent in for review.

[2016-10-22 17:49] bavAVIA commented on #1119
Please add the Priority 2 label to this one. Thanks.

[2016-10-22 17:54] kilt46 commented on #753
![image](https://cloud.githubusercontent.com/assets/14023167/19621396/af55e69c-9856-11e6-8ffd-4856e740d42c.png)

[2016-10-22 19:02] kilt46 commented on #676
![image](https://cloud.githubusercontent.com/assets/14023167/19621817/2abb294c-9860-11e6-962a-1d7b9f3106cb.png)

[2016-10-22 19:08] bavAVIA opened #1247 "KJAN-Jackson-Medgar Wiley Evers International Airport-MISSISSIPPI-USA"
Redoing KJAN (Jackson - Medgar Wiley Evers International Airport), Mississippi, United States.

[2016-10-22 19:12] kilt46 commented on #674
![image](https://cloud.githubusercontent.com/assets/14023167/19621873/7ec4baac-9861-11e6-9a86-acf00df2a64f.png)

[2016-10-22 19:40] kilt46 commented on #751
![image](https://cloud.githubusercontent.com/assets/14023167/19622026/705c70a0-9865-11e6-93ba-de2ce1846041.png)

[2016-10-22 19:49] kilt46 commented on #745
![image](https://cloud.githubusercontent.com/assets/14023167/19622067/aad9e9aa-9866-11e6-8b5b-a98e90561608.png)

[2016-10-23 02:30] unitedfc opened #1248 "EGQL-Leuchars Airport-SCOTLAND-UNITED KINGDOM"

[2016-10-23 02:31] dushyants19 commented on #1248
Why did you close it?

[2016-10-23 02:32] dushyants19 commented on #1248
Its done already btw #451

:)

[2016-10-23 02:33] dushyants19 commented on #1234
I might do this if I have time. (DONT ASSIGN ME)

[2016-10-23 02:40] #1246 closed

[2016-10-23 02:40] #1245 closed

[2016-10-23 02:41] dushyants19 commented on #465
done, great details and roads which @moritzbabl cant wait to get to drive his A380 on

[2016-10-23 04:00] IFAEpat commented on #787
Was done a while ago...

[2016-10-23 08:23] #1218 closed

[2016-10-23 08:30] dushyants19 commented on #1229
'Parking' in spawn names too.

@PaulNielsen arent you supposed to know this?

[2016-10-23 08:31] dushyants19 commented on #1229
There is imagery btw @PaulNielsen. Check GEarth

[2016-10-23 08:32] dushyants19 commented on #1229
Missing ILS Centerlines, wow....

[2016-10-23 08:32] dushyants19 commented on #1229
You are fired. :P

[2016-10-23 09:11] dushyants19 commented on #3
Gated by @kilt46

[2016-10-23 09:12] dushyants19 commented on #3
Invalid

[2016-10-23 12:03] kilt46 commented on #32
![image](https://cloud.githubusercontent.com/assets/14023167/19626085/bbec4750-98ee-11e6-9bf7-4fd310fff236.png)