[2015-01-01 19:54] carmichaelalonso opened #1 "KRFD-Chicago/Rockford International Airport-ILLINOIS-USA"

[2015-01-01 19:54] carmichaelalonso opened #2 "ORBI-Baghdad International Airport-BAGHDAD-IRAQ"
Please edit me

[2015-01-01 19:54] carmichaelalonso opened #3 "EGHQ-Newquay Airport-ENGLAND-UNITED KINGDOM"

[2015-01-01 20:03] carmichaelalonso opened #4 "KCOS"

[2015-01-01 20:03] carmichaelalonso opened #5 "KSEA-Seattle-Tacoma International Airport-WASHINGTON-USA"
Already has parking spots and lines, but someone may want to improve them a bit

[2015-01-01 20:05] carmichaelalonso opened #6 "TFFJ-St Barthelemy Airport-SAINT BARTHELEMY"
More parking spots and road

[2015-01-01 20:09] carmichaelalonso opened #7 "ORAT-Al Taqaddum Airport-AL-ANBAR-IRAQ"
PLEASE EDIT ME

[2015-01-01 20:10] carmichaelalonso opened #8 "L35-Big Bear City Airport-CALIFORNIA-USA"

[2015-01-01 20:19] carmichaelalonso opened #9 "KMCF"
Florida

[2015-01-02 18:02] carmichaelalonso opened #10 "EGQS-Lossiemouth Airport-SCOTLAND-UNITED KINGDOM"

[2015-01-02 18:02] carmichaelalonso opened #11 "KSNA-John Wayne Airport-Orange County Airport-CALIFORNIA-USA"

[2015-01-02 18:02] carmichaelalonso opened #12 "KPSP-Palm Springs International Airport-CALIFORNIA-USA"

[2015-01-02 18:05] carmichaelalonso opened #13 "EGBB-Birmingham Airport-ENGLAND-UNITED KINGDOM"

[2015-01-02 18:05] carmichaelalonso commented on #13
Given you this Nik, thought you might want a British airport for a change :)

[2015-01-03 18:19] carmichaelalonso opened #15 "KPGD-Punta Gorda Airport-FLORIDA-USA"

[2015-01-04 11:57] carmichaelalonso opened #16 "KOAK-Metropolitan Oakland International Airport-CALIFORNIA-USA"
Runway direction changed

[2015-01-05 10:11] carmichaelalonso opened #17 "FAOR-O. R. Tambo International Airport-GAUTENG-SOUTH AFRICA"

[2015-01-05 10:11] carmichaelalonso opened #18 "EGLC-London City Airport-ENGLAND-UNITED KINGDOM"

[2015-01-05 10:12] carmichaelalonso opened #19 "KORD-Chicago O'Hare International Airport-ILLINOIS-USA"

[2015-01-05 10:12] carmichaelalonso opened #20 "KENW"

[2015-01-05 10:13] carmichaelalonso opened #21 "TNCM-Princess Juliana International Airport-SINT MAARTIN-ANGUILLA"

[2015-01-05 10:47] carmichaelalonso opened #22 "KABQ-Albuquerque International Sunport Airport-NEW MEXICO-USA"
Please redesign me.

Recycled

[2015-01-05 10:47] carmichaelalonso opened #23 "KDBQ"

[2015-01-05 10:47] #23 closed

[2015-01-05 10:47] carmichaelalonso opened #24 "KDEN-Denver International Airport-COLORADO-USA"

[2015-01-05 10:47] carmichaelalonso opened #25 "KEWR-Newark Liberty International Airport-NEW JERSEY-USA"

[2015-01-05 10:47] carmichaelalonso opened #26 "KJFK-John F. Kennedy International Airport-NEW YORK-USA"

[2015-01-05 10:48] carmichaelalonso opened #27 "TAPA-St Johns/Vc Bird (Antigua) Airport-SAINT GEORGE-ANTIGUA AND BARBUDA"

[2015-01-05 10:48] carmichaelalonso opened #28 "TFFR-Le Raizet Airport-POINTE-A-PITRE-GUADELOUPE"

[2015-01-05 10:49] carmichaelalonso opened #29 "KLAX-Los Angeles International Airport-CALIFORNIA-USA"

[2015-01-05 10:49] carmichaelalonso opened #30 "MMTJ-Tijuana Airport-BAJA CALIFORNIA-MEXICO"

[2015-01-05 10:49] carmichaelalonso opened #31 "KMDW-Chicago Midway International Airport-ILLINOIS-USA"

[2015-01-05 10:49] carmichaelalonso opened #32 "KNUC"

[2015-01-05 10:50] carmichaelalonso opened #33 "KPAO"

[2015-01-05 10:50] carmichaelalonso opened #34 "KPDX-Portland International Airport-OREGON-USA"
Seattle

[2015-01-05 10:51] carmichaelalonso opened #35 "KTMK-Tillamook Airport-OREGON-USA"

[2015-01-05 10:51] carmichaelalonso opened #36 "KTPA-Tampa International Airport-FLORIDA-USA"

[2015-01-05 10:51] carmichaelalonso opened #37 "VOAR-Arakonam Airport-TAMIL NADU-INDIA"
Recycled

[2015-01-05 10:52] carmichaelalonso opened #38 "YSSY-Sydney Kingsford Smith Airport-NEW SOUTH WALES-AUSTRALIA"

[2015-01-06 22:05] Nik-Barbour commented on #1
Redone from scratch -  Note, runways realigned to satellite imagery.

[2015-01-07 21:54] carmichaelalonso commented on #5
Need to fix spelling of Hangar - tower viewpoint.

[2015-01-08 19:46] Nik-Barbour commented on #13
Starting EGBB 08 Jan

[2015-01-09 17:02] carmichaelalonso opened #39 "KSJC-San Jose International Airport-CALIFORNIA-USA"

[2015-01-09 17:02] carmichaelalonso opened #40 "EKRK-Roskilde Airport-AMAGER-DENMARK"

[2015-01-11 09:32] carmichaelalonso commented on #40
duplicate, closing....

[2015-01-13 22:12] carmichaelalonso opened #41 "EGNX-East Midlands Airport-ENGLAND-UNITED KINGDOM"

[2015-01-13 22:12] carmichaelalonso opened #42 "LHSS"

[2015-01-13 22:12] carmichaelalonso opened #43 "LHSY"

[2015-01-13 22:12] carmichaelalonso opened #44 "LHKH"

[2015-01-13 22:12] carmichaelalonso opened #45 "LHTL"

[2015-01-13 22:12] carmichaelalonso opened #46 "KDMA-Davis Monthan AFB Airport-ARIZONA-USA"
Please redraw me

[2015-01-13 22:12] carmichaelalonso opened #47 "SPJL-Juliaca Airport-PUNO-PERU"
Please redraw me

♻️

[2015-01-13 22:12] carmichaelalonso opened #48 "LHZK"

[2015-01-16 08:46] carmichaelalonso commented on #8
Removed assignment - no time...

[2015-01-17 11:39] carmichaelalonso opened #49 "KDLS-Columbia Gorge Regional/The Dalles Municipal Airport-OREGON-USA"

[2015-01-17 11:40] carmichaelalonso commented on #13
Nik's moving on to pastures new now, Jonathan can have this

[2015-01-17 11:49] Nik-Barbour commented on #13
Sounds like I'm about to pass away - I've just spotted another I fancied first in Seattle is all. :-)

Good luck Jonathan, your other UK assignments have looked great BTW.

[2015-01-17 13:10] carmichaelalonso opened #50 "KHIO-Portland-Hillsboro Airport-OREGON-USA"
David wanted this one done

[2015-01-17 20:14] carmichaelalonso opened #51 "KOSH-Wittman Regional Airport-WISCONSIN-USA"

[2015-01-17 20:14] carmichaelalonso opened #52 "WS17"

[2015-01-17 20:14] #52 closed

[2015-01-17 23:44] carmichaelalonso opened #53 "KPIA"
Chicago

[2015-01-19 19:24] carmichaelalonso opened #54 "EGKK-Gatwick Airport-ENGLAND-UNITED KINGDOM"
Nik - Jonathan - fight over this one. Jonathan has my support for this now :)

[2015-01-19 19:36] carmichaelalonso commented on #54
@Nik-Barbour you two are sharing

[2015-01-19 19:36] carmichaelalonso opened #55 "EGSS-London Stansted Airport-ESSEX-UNITED KINGDOM"

[2015-01-19 19:44] taylorcam commented on #55
Yay an airport to myself! Time to get designing!

[2015-01-20 21:34] carmichaelalonso commented on #54
Marking as high priority for Scott!

[2015-01-20 21:42] Nik-Barbour commented on #54
Don't have the screen res for this one unfortunately.

[2015-01-22 22:10] Nik-Barbour opened #57 "KNKX"
It's going to take a while - but I have to do Miramar

[2015-01-28 18:14] carmichaelalonso commented on #54
Mostly redone, could do with some optimisations but I'm happy with it for now.

[2015-02-12 17:48] carmichaelalonso commented on #57
Nik is taking this.

[2015-02-13 06:49] Nik-Barbour commented on #57
Finished

[2015-02-13 06:49] #57 closed

[2015-02-14 09:16] carmichaelalonso opened #61 "LFOB-Beauvais Tille Airport-PICARDIE-FRANCE"

[2015-02-14 09:16] carmichaelalonso commented on #61
Assigned to Axel Beder

[2015-02-14 18:25] carmichaelalonso opened #63 "KRNT-Renton Municipal Airport-WASHINGTON-USA"
Redone by @JcFl4. Marking as complete.

[2015-02-14 18:34] Nik-Barbour opened #64 "KSHN"
Assigned to Nik Barbour.

[2015-02-15 14:04] JcFl4 commented on #63
Is there any way to add runway markings without taxi lines?

[2015-02-15 14:07] jpperks commented on #63
Hello,

You should leave the runways as they are. You can add a taxi line (yellow) that goes onto the runway from a taxiway.

Hope this helps
Jonathan

[2015-02-15 14:46] JcFl4 commented on #63
Thanks

[2015-02-15 15:45] carmichaelalonso opened #67 "KNFG"

[2015-02-15 15:45] carmichaelalonso commented on #67
Redone by @JcFl4.

[2015-02-16 08:11] carmichaelalonso opened #69 "HDAM"
Please edit me

♻️

[2015-02-16 08:11] carmichaelalonso commented on #69
Done by @JcFl4.

[2015-02-16 18:29] carmichaelalonso opened #73 "WMKK-Kuala Lumpur International Airport-SELANGOR-MALAYSIA"
This is mine. Nobody steal it.

[2015-02-16 18:54] carmichaelalonso opened #74 "OERK-Riyadh King Khaled International Airport-AR RIYAD-SAUDI ARABIA"
Please rework me!

[2015-02-16 19:16] carmichaelalonso opened #75 "SBGR-Sao Paulo/Guarulhos International Airport-SAO PAULO-BRAZIL"
Needs a ground frequency

[2015-02-16 19:32] carmichaelalonso commented on #73
Finished.

[2015-02-16 19:33] carmichaelalonso opened #76 "PHNL-Honolulu International Airport-HAWAII-USA"

[2015-02-16 19:47] carmichaelalonso commented on #75
Finished.

[2015-02-16 20:42] carmichaelalonso opened #77 "PHOG-Kahului Airport-HAWAII-USA"

[2015-02-16 21:33] Nik-Barbour opened #78 "PHSF"
Nik Barbour

[2015-02-16 21:34] Nik-Barbour commented on #78
Quickly redone, corrected runways & features, and added spawn and boundary.
Closed.

[2015-02-16 21:34] #78 closed

[2015-02-16 21:40] Swang007 opened #79 "KMWH-Grant Co International Airport-WASHINGTON-USA"
Please edit me

[2015-02-16 22:16] Nik-Barbour opened #81 "PHHN"

[2015-02-16 22:17] Nik-Barbour commented on #81
Corrected features, removed unnecessary lines, added spawns, and boundary, drawn tower building. Closed

[2015-02-16 22:17] #81 closed

[2015-02-16 22:50] Nik-Barbour opened #82 "PHUP"

[2015-02-16 22:51] Nik-Barbour commented on #82
Boundary fixed,  additional parking markings, and spawns added. Closed

[2015-02-16 22:51] #82 closed

[2015-02-17 06:23] carmichaelalonso commented on #77
Ryan's doing this.

[2015-02-17 07:01] carmichaelalonso opened #84 "KBNG"
Done by JcFl14

[2015-02-17 07:01] #84 closed

[2015-02-17 17:20] carmichaelalonso opened #87 "WSSS-Singapore Changi Airport-CHANGI-SINGAPORE"

[2015-02-17 17:20] carmichaelalonso opened #88 "PHTO-Hilo International Airport-HAWAII-USA"
Scott's doing this one.

[2015-02-17 17:52] carmichaelalonso opened #89 "WMKM-Malacca Airport-MELAKA-MALAYSIA"

[2015-02-17 18:04] carmichaelalonso opened #90 "NZWN-Wellington Airport-WELLINGTON-NEW ZEALAND"
Recycled airport

[2015-02-17 20:02] Nik-Barbour opened #93 "HI02"

[2015-02-17 20:03] Nik-Barbour commented on #93
Spawns added & boundary redone.
Closed

[2015-02-17 20:03] #93 closed

[2015-02-17 20:04] Nik-Barbour opened #94 "HI05"
Boundary redone and spawns renamed & increased.
Licence used as can't see on Google Earth.

[2015-02-17 20:04] #94 closed

[2015-02-17 22:15] carmichaelalonso opened #96 "PHHN"
Done by @JcFl4

[2015-02-17 22:15] #96 closed

[2015-02-17 22:18] carmichaelalonso commented on #55
Finished by @jpperks, nice job as always :)

[2015-02-17 22:38] Nik-Barbour opened #97 "HI13"

[2015-02-17 22:38] Nik-Barbour commented on #97
Redone with additional spawns

[2015-02-17 22:38] #97 closed

[2015-02-17 22:39] Nik-Barbour opened #98 "WIBD"
redone to have correct taxiways, taxi lines, additional spawns, & boundary

[2015-02-17 22:39] Nik-Barbour commented on #98
Done

[2015-02-17 22:39] #98 closed

[2015-02-18 13:09] carmichaelalonso opened #99 "WIDD-Hang Nadim Airport-RIAU-INDONESIA"

[2015-02-18 13:09] carmichaelalonso opened #100 "LFOA"

[2015-02-18 21:05] jpperks commented on #90
Not super accurate in terms of taxi lines and parking spots, but it was the best I could do from limited satellite imagery.

[2015-02-18 21:07] carmichaelalonso commented on #90
It may not be perfect, but better than nothing!

Sent from my Nexus 4
On 18 Feb 2015 22:05, "Jonathan Perkins" <notifications@github.com> wrote:

[2015-02-19 14:17] carmichaelalonso commented on #99
Finished.

[2015-02-19 15:23] IF-Airport-Team opened #101 "OETH-Thumamah Airport-AR RIYAD-SAUDI ARABIA"
Please edit me

[2015-02-19 16:00] carmichaelalonso opened #102 "YSCB-Canberra Airport-AUSTRALIAN CAPITAL TERRITORY-AUSTRALIA"

[2015-02-19 16:28] AxelBeder opened #103 "ORER-Erbil International Airport-ARBIL-IRAQ"
Please redesign me

[2015-02-19 16:35] carmichaelalonso commented on #103
Duplicate, closing

[2015-02-19 16:35] carmichaelalonso commented on #61
@AxelBeder use this one

[2015-02-19 16:43] JcFl4 opened #104 "OIAJ-Omidiyeh Airport-KHUZESTAN-IRAN"
Please edit me

[2015-02-19 16:45] JcFl4 opened #105 "KRCA-Ellsworth AFB Airport-SOUTH DAKOTA-USA"
Please edit me

[2015-02-19 16:54] carmichaelalonso opened #107 "EHAM-Amsterdam Airport Schiphol-NORTH HOLLAND-NETHERLANDS"

[2015-02-19 17:06] carmichaelalonso commented on #107
Made some improvements, more parking spaces

[2015-02-19 17:07] IF-Airport-Team commented on #55
I would like to do this one.

[2015-02-19 17:19] IF-Airport-Team opened #108 "EGHH-Bournemouth Airport-ENGLAND-UNITED KINGDOM"
Bournemouth Airport

[2015-02-19 17:19] IF-Airport-Team commented on #108
I would like to do this one.

[2015-02-19 21:19] JoeMaynard opened #109 "EGLL-London Heathrow Airport-ENGLAND-UNITED KINGDOM"
Just touching up any small bugs or errors.

[2015-02-20 22:09] carmichaelalonso opened #110 "WMBT"

[2015-02-20 22:09] #110 closed

[2015-02-21 14:18] carmichaelalonso commented on #87
This was improved by @NickArt1342

[2015-02-21 17:30] carmichaelalonso opened #111 "KAFF"

[2015-02-21 22:06] jpperks opened #112 "HCMI-Berbera Airport-WOQOOYI-GALBEED-SOMALIA"
Please edit me!

[2015-02-21 23:27] #111 closed

[2015-02-22 10:53] carmichaelalonso opened #114 "EGLM"

[2015-02-22 11:56] Nik-Barbour opened #115 "XBEL (Hawaii)"
Assigned to Nik Barbour

[2015-02-22 13:46] JcFl4 opened #116 "HEGN-Hurghada Airport-AL BAHR AL AHMAR-EGYPT"
Please edit me

[2015-02-22 13:46] JcFl4 commented on #116
Being redone

[2015-02-22 17:25] JcFl4 opened #117 "PHNY"

[2015-02-22 17:25] #117 closed

[2015-02-22 17:37] JcFl4 opened #118 "WMKJ"

[2015-02-22 19:05] carmichaelalonso opened #119 "KFUL-Fullerton Municipal Airport-CALIFORNIA-USA"

[2015-02-22 19:42] #115 closed

[2015-02-22 22:14] carmichaelalonso opened #120 "KSQL"
Runway lighting has issues

[2015-02-23 18:33] JcFl4 opened #121 "NPS"

[2015-02-23 18:50] carmichaelalonso commented on #120
had a quick look, awaiting results.

[2015-02-23 21:45] Nik-Barbour opened #122 "WIBS"

[2015-02-23 21:46] Nik-Barbour commented on #122
WIBS - poor sat data, but ramp corrected and additional spawns added.

[2015-02-23 21:46] #122 closed

[2015-02-23 22:19] jpperks commented on #89
Missed out the north west apron. This will be fixed soon...

[2015-02-23 22:22] #121 closed

[2015-02-23 23:25] Nik-Barbour opened #123 "WSAG (Singapore)"
Assigned to Nik Barbour
Full rebuild required.

[2015-02-23 23:25] Nik-Barbour commented on #123
Underway.

[2015-02-24 15:06] jpperks opened #124 "YBTL-Townsville Airport-QUEENSLAND-AUSTRALIA"
Converted to YBTL

[2015-02-24 18:03] jpperks opened #125 "WSSL-Singapore Seletar Airport-RIAU-SINGAPORE"

[2015-02-24 20:06] jpperks commented on #89
Added missing aprons. Closing.

[2015-02-26 15:07] carmichaelalonso opened #126 "OIYY-Yazd/Shahid Sadooghi Airport-YZAD-IRAN"
Please edit me

[2015-02-27 07:22] JcFl4 opened #127 "KAPV"

[2015-02-28 10:51] carmichaelalonso opened #128 "KBFI-Boeing Field/King County International Airport-WASHINGTON-USA"
Typo on parking spot name

[2015-02-28 12:49] carmichaelalonso opened #129 "PHNP"

[2015-02-28 12:49] #129 closed

[2015-02-28 23:22] #127 closed

[2015-03-01 16:50] carmichaelalonso opened #130 "KSAN-San Diego International Airport-CALIFORNIA-USA"

[2015-03-01 16:51] carmichaelalonso opened #131 "KLVK"
This one was redone a long while back, but will be included in upcoming update

[2015-03-01 16:51] #131 closed

[2015-03-02 21:29] JcFl4 opened #132 "WIDT-Sei Bati Airport-TANJUNG BALAI-INDONESIA"
Going to make the long journeys worth it!

[2015-03-03 22:31] Nik-Barbour commented on #123
Redone from scratch.

[2015-03-04 07:06] carmichaelalonso commented on #132
WIBD done by Nik

[2015-03-06 08:40] jpperks opened #133 "KAMA-Rick Husband Amarillo International Airport-TEXAS-USA"
Please edit me

[2015-03-06 19:55] carmichaelalonso commented on #133
I'll fix this

[2015-03-08 18:17] carmichaelalonso opened #134 "YWOL-Illawarra Regional Airport-NEW SOUTH WALES-AUSTRALIA"
Added boundary, hole for large hangar.

[2015-03-14 11:07] JcFl4 opened #135 "21W"

[2015-03-17 18:15] carmichaelalonso opened #136 "EDDL-Düsseldorf Airport-NORTH RHINE-WESTPHALIA-GERMANY"

[2015-03-17 18:15] carmichaelalonso opened #137 "TAPT"

[2015-03-17 18:15] #137 closed

[2015-03-22 20:28] JcFl4 opened #139 "KSDM-Brown Field Municipal Airport-CALIFORNIA-USA"

[2015-03-23 06:26] carmichaelalonso opened #140 "LFLA"

[2015-03-24 21:29] JcFl4 commented on #140
Added to my "to do" list!

[2015-03-24 21:29] #140 closed

[2015-03-25 16:40] JcFl4 commented on #8
What's wrong with it? Will take a look...

[2015-03-25 17:15] carmichaelalonso commented on #8
@JcFl4 Suggested for improvement by Matt a long time ago, missing some T-Parking points, could do with more ramp starts

[2015-03-30 20:36] carmichaelalonso opened #141 "EDLE-Essen Mulheim Airport-NORDRHEIN-WESTFALEN-GERMANY"

[2015-04-04 13:22] JcFl4 opened #142 "VTBD-Bangkok Don Mueang Intl-BANGKOK-THAILAND"
John Preston editor

[2015-04-07 20:42] jpperks commented on #124
Redone by John P via Email.

[2015-04-07 22:28] JohnPreston21 commented on #124
Added start ramps & Taxi Lines

[2015-04-08 15:45] JohnPreston21 commented on #142
Started work on this one

[2015-04-09 06:29] JohnPreston21 commented on #142
Added taxi lines,  (jet) start points and Props start points
Finished

[2015-04-09 08:33] carmichaelalonso opened #143 "KFLL-Fort Lauderdale/Hollywood International Airport-FLORIDA-USA"

[2015-04-09 09:09] carmichaelalonso commented on #142
Nice work, in the repo :)

[2015-04-09 20:32] JohnPreston21 commented on #3
I would like to edit this one

[2015-04-09 20:51] JohnPreston21 commented on #3
Wasn't able to edit this one. too big for now

[2015-04-09 21:36] JohnPreston21 commented on #53
Adding spawn points to this one

[2015-04-09 21:44] carmichaelalonso opened #144 "EGKE"

[2015-04-09 21:57] carmichaelalonso opened #145 "FIMP-Sir Seewoosagur Ramgoolam International Airport-GRAND PORT DISTRICT-MAURITIUS"

[2015-04-09 22:04] carmichaelalonso opened #146 "KHWO-North Perry Airport-FLORIDA-USA"

[2015-04-10 01:58] JohnPreston21 commented on #53
adding taxiways and some spawn points

[2015-04-10 03:56] JohnPreston21 commented on #53
added parking, some spawn points, taxiways and  Tower viewpoint as there was none.
Finished

[2015-04-10 04:00] JohnPreston21 commented on #144
I would like to edit this one

[2015-04-10 04:26] JohnPreston21 commented on #124
moving engine test spawn point back a bit and removing one

[2015-04-10 04:35] JohnPreston21 commented on #124
Finished

[2015-04-10 04:50] JohnPreston21 commented on #144
Adding a few more spawn points and basic taxiways

[2015-04-10 06:06] ghost opened #147 "KEGE-Eagle County Regional Airport-COLORADO-USA"

[2015-04-10 06:09] JohnPreston21 commented on #147
Adding taxiways, a couple more spawn points and hold short point points

[2015-04-10 08:18] carmichaelalonso opened #148 "KAGS-Augusta Regional At Bush Field Airport-GEORGIA-USA"
Charlotte

[2015-04-10 08:19] carmichaelalonso opened #149 "KCAE-Columbia Metropolitan Airport-SOUTH CAROLINA-USA"
Charlotte

[2015-04-10 08:19] carmichaelalonso opened #150 "KHFF"
Charlotte

[2015-04-10 08:19] carmichaelalonso opened #151 "KMMT-Mc Entire Jngb Airport-SOUTH CAROLINA-USA"
Charlotte

[2015-04-10 08:19] carmichaelalonso opened #152 "KXNO"
Charlotte

[2015-04-10 08:19] carmichaelalonso opened #153 "KAPA-Centennial Airport-COLORADO-USA"
Denver

[2015-04-10 08:20] carmichaelalonso opened #154 "KBJC-Rocky Mountain Metropolitan Airport-COLORADO-USA"
Denver

[2015-04-10 08:20] carmichaelalonso opened #155 "KBKF"
Denver

[2015-04-10 08:20] carmichaelalonso opened #156 "KFCS"
Denver

[2015-04-10 08:21] carmichaelalonso opened #157 "KPUB"
Denver

[2015-04-10 08:21] carmichaelalonso opened #158 "EGLJ"
London

[2015-04-10 08:22] carmichaelalonso opened #159 "KNEL"
New York

[2015-04-10 08:23] carmichaelalonso opened #160 "KOXC-Waterbury-Oxford Airport-CONNECTICUT-USA"
New York

[2015-04-10 08:23] carmichaelalonso opened #161 "OISS-Shiraz International Airport-FARS-IRAN"
Please redesign me!

[2015-04-10 08:24] carmichaelalonso opened #162 "OMAL-Al Ain Airport-ABU DHABI-UNITED ARAB EMIRATES"
PLEASE EDIT ME

[2015-04-10 08:24] carmichaelalonso opened #163 "LFLD"
Paris

[2015-04-10 08:24] carmichaelalonso opened #164 "LFOC"
Paris

[2015-04-10 08:24] carmichaelalonso opened #165 "LFOE"
Paris

[2015-04-10 08:25] carmichaelalonso opened #166 "LFPT-Pontoise Cormeilles En Vexin Airport-ILE-DE-FRANCE-FRANCE"
Paris

[2015-04-10 08:25] carmichaelalonso opened #167 "KRHV"
San Fran

[2015-04-10 08:25] carmichaelalonso opened #168 "KGRF"
Seattle

[2015-04-10 08:25] carmichaelalonso opened #169 "KTCM-Mcchord Field (Joint Base Lewis-Mcchord) Airport-WASHINGTON-USA"
Seattle

[2015-04-10 08:25] carmichaelalonso opened #170 "HETB-Taba Airport-SHAMAL SINA-EGYPT"
Please edit me

[2015-04-10 08:25] carmichaelalonso opened #171 "OEDF-Dammam-King Fahd International Airport-ASH SHARQIYAH-SAUDI ARABIA"
Please edit me

[2015-04-10 08:26] carmichaelalonso opened #172 "WSAT"
Singapore

[2015-04-10 08:26] carmichaelalonso opened #173 "KNXP"
SoCal

[2015-04-10 08:26] carmichaelalonso opened #174 "KPMD"
SoCal

[2015-04-10 08:26] carmichaelalonso opened #175 "KAPF-Naples Municipal Airport-FLORIDA-USA"
Florida

[2015-04-10 08:26] carmichaelalonso opened #176 "KBCT-Boca Raton Airport-FLORIDA-USA"
Florida

[2015-04-10 08:27] carmichaelalonso opened #177 "KFMY"
Florida

[2015-04-10 08:27] carmichaelalonso opened #178 "KFPR-Treasure Coast International-FLORIDA-USA"
Florida

[2015-04-10 08:27] carmichaelalonso opened #179 "KFXE-Fort Lauderdale Executive Airport-FLORIDA-USA"
Florida

[2015-04-10 08:27] carmichaelalonso opened #180 "KHST"
Florida

[2015-04-10 08:27] carmichaelalonso opened #181 "OLBA-Rafic Hariri Beirut International Airport-MOUNT LEBANON-LEBANON"
OLBA for Cameron

[2015-04-10 08:27] carmichaelalonso opened #182 "KPBI-Palm Beach International Airport-FLORIDA-USA"
Florida

[2015-04-10 08:28] carmichaelalonso opened #183 "KPIE-St Pete-Clearwater International Airport-FLORIDA-USA"
Florida

[2015-04-10 08:28] carmichaelalonso commented on #183
john did this, forgot

[2015-04-10 08:28] carmichaelalonso opened #184 "KPMP-Pompano Beach Airpark Airport-FLORIDA-USA"
Florida

[2015-04-10 08:28] carmichaelalonso opened #185 "KRSW-Southwest Florida International Airport-FLORIDA-USA"
Florida

[2015-04-10 08:28] carmichaelalonso opened #186 "KSPG"
Florida

[2015-04-10 08:29] carmichaelalonso opened #187 "KSRQ"
Florida

[2015-04-10 08:30] carmichaelalonso opened #188 "EBAV"
Amsterdam

[2015-04-10 08:30] carmichaelalonso opened #189 "EBBZ"
Amsterdam

[2015-04-10 08:30] carmichaelalonso opened #190 "EBCF"
Amsterdam

[2015-04-10 08:30] carmichaelalonso opened #191 "EBWE"
Amsterdam

[2015-04-10 08:30] carmichaelalonso opened #192 "ED11"
Amsterdam

[2015-04-10 08:30] carmichaelalonso opened #193 "EDKV"
Amsterdam

[2015-04-10 08:31] carmichaelalonso opened #194 "EDKZ"
Amsterdam

[2015-04-10 08:31] carmichaelalonso opened #195 "EDLA"
Amsterdam

[2015-04-10 08:31] carmichaelalonso opened #196 "EDLD-Dinslaken/Schwarze Heide Airport-NORDRHEIN-WESTFALEN-GERMANY"
Amsterdam

[2015-04-10 08:31] carmichaelalonso opened #197 "ZUBD-Qamdo Bangda Airport-BAMDA-CHINA"
Please redraw me

[2015-04-10 08:31] carmichaelalonso opened #198 "EDLH-Hamm Lippewiesen Airport-NORDRHEIN-WESTFALEN-GERMANY"
Amsterdam

[2015-04-10 08:32] carmichaelalonso opened #199 "EDLK-Krefeld Egelsberg Airport-NORDRHEIN-WESTFALEN-GERMANY"
Amsterdam

[2015-04-10 08:32] carmichaelalonso opened #200 "EDLS"
Amsterdam

[2015-04-10 08:32] carmichaelalonso opened #201 "EDLV"
Amsterdam

[2015-04-10 08:32] carmichaelalonso opened #202 "EHBD"
Amsterdam

[2015-04-10 08:32] carmichaelalonso opened #203 "EHBK-Maastricht Airport-LIMBURG-NETHERLANDS"
Amsterdam

[2015-04-10 08:32] carmichaelalonso opened #204 "EHDL-Arnhem-Deelen Airport-GELDERLAND-NETHERLANDS"
Amsterdam

[2015-04-10 08:33] carmichaelalonso opened #205 "EHEH-Eindhoven Airport-NOORD-BRABANT-NETHERLANDS"
Amsterdam

[2015-04-10 08:33] carmichaelalonso opened #206 "EHGR"
Amsterdam

[2015-04-10 08:33] carmichaelalonso opened #207 "EHKD"

[2015-04-10 08:33] carmichaelalonso opened #208 "EHLE"
Amsterdam

[2015-04-10 08:33] carmichaelalonso opened #209 "EHSB"
Amsterdam

[2015-04-10 08:33] carmichaelalonso opened #210 "EHWO-Woensdrecht-NOORD-BRABANT-NETHERLANDS"
Amsterdam

[2015-04-10 08:34] carmichaelalonso opened #211 "ETHE"
Amsterdam

[2015-04-10 08:34] carmichaelalonso opened #212 "ETHM"
Amsterdam

[2015-04-10 08:34] carmichaelalonso opened #213 "ETNG"
Amsterdam

[2015-04-10 08:34] carmichaelalonso opened #214 "ETNN"
Amsterdam

[2015-04-10 08:34] carmichaelalonso opened #215 "ETSB"
Amsterdam

[2015-04-10 08:34] carmichaelalonso opened #216 "ETWM"
Amsterdam

[2015-04-10 08:35] carmichaelalonso opened #217 "KGYY"
Chicago

[2015-04-10 08:35] carmichaelalonso opened #218 "KJVL"
Chicago

[2015-04-10 08:38] carmichaelalonso opened #219 "KMLI"
Chicago

[2015-04-10 08:38] carmichaelalonso opened #220 "KPWK-Chicago Executive Airport-ILLINOIS-USA"
Chicago

[2015-04-10 08:39] carmichaelalonso opened #221 "KUGN"
Chicago

[2015-04-10 08:39] carmichaelalonso opened #222 "KDPA"
Chicago

[2015-04-10 08:39] carmichaelalonso opened #223 "KCMI"
Chicago

[2015-04-10 08:39] carmichaelalonso opened #224 "KCGX"
Chicago

[2015-04-10 08:39] carmichaelalonso opened #225 "KBMI"
Chicago

[2015-04-10 08:39] carmichaelalonso opened #226 "KARR"
Chicago

[2015-04-10 15:17] JohnPreston21 commented on #147
Finished

[2015-04-10 21:27] jpperks commented on #18
Replaced "Broken" (Solid in IF) road center markings.

[2015-04-11 03:37] Swang007 opened #227 "OOTH-Thumrait Airbase-DHOFAR-OMAN"
Please edit me

[2015-04-11 04:05] JohnPreston21 commented on #225
Sean is doing this one

[2015-04-11 04:41] JohnPreston21 commented on #141
Adding spawn points and Taxi lines for this one

[2015-04-12 01:19] JohnPreston21 commented on #15
Added hanger and ramp spawn points

[2015-04-12 06:53] JohnPreston21 commented on #224
Redoing Spawn points and adding a couple

[2015-04-12 07:22] JohnPreston21 commented on #224
Finised

[2015-04-12 08:04] JohnPreston21 commented on #147
completed

[2015-04-12 15:21] JohnPreston21 commented on #130
Fixing Cargo Ramp Spot 4's spawn point

[2015-04-12 15:28] JohnPreston21 commented on #130
Fixed Cargo Ramp Spot 4
finished

[2015-04-12 15:43] JohnPreston21 commented on #148
Fixing this one up a bit, including airport boundary

[2015-04-12 16:28] 787Michael commented on #223
working on it.

[2015-04-12 18:43] JohnPreston21 commented on #148
added taxi ways, hanger & ramp spawn points

[2015-04-12 22:30] JohnPreston21 commented on #218
adding taxi lines and spawn points

[2015-04-13 06:42] JohnPreston21 commented on #218
Added taxi lines & parking
finished

[2015-04-13 18:57] JohnPreston21 commented on #222
I would like to take this one

[2015-04-14 05:14] JohnPreston21 commented on #222
Added new taxi lines, missing airport boundary, New tower view point and ramp starts

[2015-04-14 06:00] JohnPreston21 commented on #182
I'll be doing this one

[2015-04-14 17:07] JcFl4 opened #228 "WMAP"

[2015-04-14 19:50] #228 closed

[2015-04-16 01:39] Swang007 commented on #225
Changed Spawn Point Names

[2015-04-16 01:40] Swang007 commented on #145
This is duplicated? I submitted the other issue.

[2015-04-16 01:41] Swang007 commented on #226
Changed Spawn Point Names

[2015-04-16 03:51] Swang007 commented on #225
Working on Curved Taxi line improvements and improved in-game performance by saving object count

[2015-04-16 04:19] Swang007 commented on #226
Adding Hold-short markings

[2015-04-16 05:43] Swang007 commented on #226
Changes submitted. Description attached!

[2015-04-16 05:44] Swang007 commented on #225
Changes submitted. Description attached!

[2015-04-17 01:38] Swang007 commented on #11
Will completely redo KSNA. Expect completion before May

[2015-04-17 19:15] jpperks commented on #18
Fixed Typing Error

[2015-04-19 17:35] Swang007 commented on #156
Adding new spawn points & parking lines

[2015-04-19 22:21] JohnPreston21 commented on #154
I'll be doing this one, Thanks :)

[2015-04-19 22:42] Swang007 commented on #4
There might be an issue concerning alignment, but this could be device-related or app-related

[2015-04-19 23:32] Swang007 commented on #4
Nope, seems to be the alignment bug. This is what happened:
![11178200_10200441700721511_5627429276737009351_n](https://cloud.githubusercontent.com/assets/11000109/7221846/7206e9ea-e6c2-11e4-84b3-a0473ebd412c.jpg)

[2015-04-20 04:01] Swang007 commented on #226
Adding RWY & taxiway shoulders

[2015-04-20 04:01] Swang007 commented on #225
Adding RWY & taxiway shoulders

[2015-04-20 05:41] JohnPreston21 commented on #154
Added taxi lines, removed old boundary and created a new one. added spawn-ins to accommodate both ends of the field.

[2015-04-20 13:28] Swang007 commented on #29
Will correct me if I'm wrong pre-parking lines and add shoulders to taxiways.

[2015-04-22 02:07] JohnPreston21 commented on #183
will begin rework on this one

[2015-04-23 06:53] Swang007 commented on #11
Might be a delay... Other priorities with other airports. Feel free to take over if you want :)

[2015-04-23 06:54] #226 closed

[2015-04-23 06:54] #225 closed

[2015-04-23 06:56] Swang007 commented on #32
Will make some minor changes. Taxi lines are currently not lined up, random objects hidden everywhere. Multiple taxiways (when there really should only be one).

[2015-04-24 00:43] Swang007 commented on #32
...Or I'll do redo the whole thing

[2015-04-24 20:54] JohnPreston21 commented on #9
I would like to do begin this one.

[2015-04-29 03:24] Swang007 commented on #76
Adding a few other spawn points to avoid ATC pushback confusion

[2015-04-29 03:29] Swang007 commented on #32
Done. Specs in the Submission description.

[2015-04-29 03:32] Swang007 commented on #77
Minor change to a spawn point typo.

[2015-05-02 16:31] kohanson commented on #172
I am working on this. Anyway to change the tag?

[2015-05-02 16:32] jpperks commented on #172
Over to you...

[2015-05-02 16:35] kohanson commented on #172
thanks!

[2015-05-03 09:10] JcFl4 opened #229 "KMUO-Mountain Home AFB Airport-IDAHO-USA"
Please edit me

[2015-05-03 15:40] Swang007 commented on #229
Hey you know someone else is already working on this, right? Check the issue tracker...

[2015-05-03 16:18] kohanson commented on #229
Hey, I just completed for issue #172 WSAT and submitted. Currently waiting for approval.

[2015-05-03 16:22] jpperks commented on #229
Added to the library.

[2015-05-03 19:11] JcFl4 commented on #229
Just saw the comment. Was going to delete.

[2015-05-04 00:08] kohanson commented on #173
Hi, I want to work on this, how do I change the tag to being redone?

[2015-05-04 00:13] Swang007 commented on #173
I think they have to make you a collaborator, then you'll be able to change things yourself. I did it for you this time :)

[2015-05-04 00:15] kohanson commented on #173
ok noted, thank you very much.

[2015-05-04 03:12] kohanson commented on #168
I am working on this now.

[2015-05-04 15:30] JcFl4 opened #230 "EBBT"
New airfield layout.

[2015-05-04 15:32] #230 closed

[2015-05-08 14:09] kohanson commented on #173
redone completed.

[2015-05-08 14:11] kohanson commented on #168
completed and closed.

[2015-05-08 14:12] kohanson commented on #125
completed and close.

[2015-05-08 14:13] kohanson commented on #171
link to #125
completed and close.

[2015-05-08 15:57] kohanson commented on #165
I am currently working on this airport.

[2015-05-09 13:37] kohanson commented on #221
I am working on this now,

[2015-05-12 03:14] #168 closed

[2015-05-12 20:44] Swang007 commented on #29
Still working on this, it's a really big project. I'm also getting bogged down with homework and studying for finals. When I travel to Germany at the end of May I'll probably finish on the 14 hour plane ride.

[2015-05-13 03:52] #172 closed

[2015-05-15 14:23] Swang007 opened #231 "EGKN"
Apparently there is a runway problem. Runway 02 is just called "2". I'll look into this...

[2015-05-15 21:55] Swang007 commented on #231
Fixed! :)

[2015-05-15 21:55] #231 closed

[2015-05-17 21:33] #173 closed

[2015-05-17 22:53] #221 closed

[2015-05-17 22:54] #216 closed

[2015-05-18 12:44] kohanson commented on #165
My bad, I worked on LFOB using this apt.dat and noticed it after submitting.

[2015-05-18 12:52] Swang007 commented on #165
Oh no! Lol Imagine suddenly seeing KLAX where KSAN should be 😂

[2015-05-18 12:57] kohanson commented on #165
lol, my 2 - 3 hours wasted. grr.

[2015-05-18 13:50] Swang007 commented on #165
Haha what a hoax that would be! I submit KLAX and KSAN and suddenly they're switched!

[2015-05-19 02:17] Swang007 commented on #157
@kohanson

[2015-05-20 00:37] Swang007 commented on #29
You can now keep track of my progress. Here's a checklist of things I still need to do.

https://www.checkli.com/checklists/viewro/60de762aa4b65522ac28c74d92560063

[2015-05-23 17:10] Swang007 commented on #87
Is this issue still "being redone"? Someone on IFFG was saying that the whole airport was shifted, maybe some objects were not in the right position. Not really sure. Does anyone want to look into this?

[2015-05-23 17:10] carmichaelalonso commented on #87
Nick Art handles WSSS, best to speak to him about it on the forum :)
On 23 May 2015 19:10, "Sean Wangnick" <notifications@github.com> wrote:

[2015-05-23 17:12] Swang007 commented on #73
Lol I'm sorry @carmichaelalonso , but I'm sure you saw the guy on IFFG saying that the runways were in place but taxiways and terminals were not? Do you want to fix that or leave this issue up for grabs?

[2015-05-23 17:15] carmichaelalonso commented on #73
To be honest I see this as a very minor thing, we can't expect 100% accuracy, especially with our current tools... I don't have time to tinker with this, but it's there for whoever wants it :)

[2015-05-23 17:19] Swang007 commented on #73
Awesome. I might look into it after I finish KLAX

[2015-05-23 17:29] Swang007 commented on #73
![wmkk](https://cloud.githubusercontent.com/assets/11000109/7785121/5936c148-0147-11e5-81b7-594bdc4dbc29.jpg)

[2015-05-23 17:29] Swang007 commented on #87
![wsss](https://cloud.githubusercontent.com/assets/11000109/7785127/67866a32-0147-11e5-8126-138f8af96403.jpg)

[2015-05-23 18:24] NickArt1342 commented on #87
Hey guys, so what's the prob?

On Saturday, February 21, 2015, Cameron Carmichael Alonso <
notifications@github.com> wrote:

[2015-05-24 04:18] kohanson commented on #73
Guys sorry, I have to give up on this as i have been trying to figure out the overlay for the pass few hours and the creator of the map has too many objects on the list and are not group together.

[2015-05-24 04:20] #157 closed

[2015-05-24 04:29] Swang007 commented on #73
Alright I'll look at it I guess unless someone else is up for it. I'll probably delete everything and restart from scratch... lol that's me ;)

[2015-05-25 05:04] Swang007 opened #232 "KNLC-Lemoore NAS (Reeves Field) Airport-CALIFORNIA-USA"
PLEASE EDIT ME

[2015-05-25 05:08] Swang007 commented on #53
John, someone said that the tower view is at the end of a runway. Maybe not in the right position. Do you want to look at this?

[2015-05-25 05:09] Swang007 commented on #232
Issue already exists.

[2015-05-25 05:12] JohnPreston21 commented on #53
I dont quite remember where i placed the tower viewpoint

[2015-05-25 13:55] Swang007 commented on #53
I have some pictures: this is the tower view from KPIA

[2015-05-25 13:55] Swang007 commented on #53
![image](https://cloud.githubusercontent.com/assets/11000109/7798152/d5922e88-02bb-11e5-8500-e3a3f9a94786.jpg)
![image](https://cloud.githubusercontent.com/assets/11000109/7798153/d592e5d0-02bb-11e5-908a-ea546c032764.jpg)

[2015-05-25 13:56] JohnPreston21 commented on #53
Where was it before now?

[2015-05-25 13:59] Swang007 commented on #53
I'm not sure. Someone on IFFG asked what airport has the tower sitting on the runway. This one is close but I found that KCMI is closer. Adding pictures to that issue now

[2015-05-25 14:00] Swang007 commented on #223
Tower position is on the runway (I know a lot of airports are but this one has been pointed out by IFFG)
![image](https://cloud.githubusercontent.com/assets/11000109/7798208/7928c156-02bc-11e5-86c5-b038b16575ca.jpg)
![image](https://cloud.githubusercontent.com/assets/11000109/7798209/793d8334-02bc-11e5-871f-bbd6e067677a.jpg)

[2015-05-25 14:00] Swang007 commented on #223
@JohnPreston21

[2015-05-26 00:39] builditbetter commented on #219
I would like to do it

[2015-05-26 00:50] Swang007 commented on #219
@builditbetter Who are you lol? Haven't seen you before.

[2015-05-26 00:51] builditbetter commented on #219
Hey, Its Zachary ;)

[2015-06-01 13:08] kohanson commented on #158
hey, I just opened up this airport and I think it is completed.

[2015-06-02 18:00] Swang007 commented on #29
Hehe finish on the plane, yeah right...

[2015-06-06 19:08] Swang007 opened #233 "OEJB-Jubail Airport-ASH SHARQIYAH-SAUDI ARABIA"
Please edit me

[2015-06-07 11:38] #202 closed

[2015-06-07 11:39] #150 closed

[2015-06-09 15:26] Swang007 commented on #130
Investigation for the spawn point that is holding short of runway 27. Pilots are using it to cut ahead of other players.

[2015-06-10 14:57] JcFl4 opened #234 "EGEC-Campbeltown Airport-SCOTLAND-UNITED KINGDOM"

[2015-06-18 22:23] Swang007 commented on #174
Needs spawn points.

[2015-06-18 22:46] Swang007 commented on #234
Some reports of grass and other stuff on taxiways. @JcFl4 do you want to check this again? I didn't look at the apt.dat

[2015-06-19 08:07] Swang007 opened #235 "KCLT-Charlotte Douglas International Airport-NORTH CAROLINA-USA"
Needs more accurate gate parking lines, more gate options at least? Basically needs a do-over if anyone wants to do this one.

[2015-06-19 22:37] JcFl4 commented on #234
Already fixed.

[2015-06-20 09:49] JcFl4 opened #236 "ETUR"

[2015-06-24 00:07] #236 closed

[2015-06-27 14:05] Swang007 commented on #57
Hey @Nik-Barbour someone gave you a 10/10 rating in IFFG for this one!

[2015-07-01 17:06] AxelBeder commented on #18
Fixed the runway threshold issue.

[2015-07-01 23:23] AxelBeder opened #237 "EDDK-Koln/Bonn Airport-NORDRHEIN-WESTFALEN-GERMANY"
Added lines, taxiways...

[2015-07-01 23:24] AxelBeder opened #238 "EGGW-London Luton Airport-ENGLAND-UNITED KINGDOM"
Adding lines, taxiways...

[2015-07-02 10:39] carmichaelalonso opened #239 "EBSP"
Done by David Cutler

[2015-07-02 10:39] #239 closed

[2015-07-02 10:39] carmichaelalonso commented on #27
Done by JcFl

[2015-07-02 10:40] carmichaelalonso commented on #27
Fixes by David Cutler

[2015-07-02 10:40] carmichaelalonso opened #240 "TQPF-Clayton J Lloyd International Airport-THE VALLEY-ANGUILLA"

[2015-07-02 10:40] carmichaelalonso commented on #38
Fixes by David Cutler

[2015-07-18 00:08] Swang007 commented on #223
Fixed tower position and spawn points.

[2015-07-18 00:16] Swang007 commented on #109
Not sure which issue we are using so I'll comment on both. Adding EGLL departure frequency 120.52.

[2015-07-22 19:37] ghost opened #241 "EBBE-Beauvechain-WALLONIE-BELGIUM"
This one needs, lines, hold short points, added spawns and spawn corrections

[2015-07-22 21:24] JohnPreston21 opened #242 "KEDW"
Needs taxi-Lines and better ramp parking/spawns. I will begin this one

[2015-07-23 03:03] justindebord16 commented on #241
Im working on it But it's wont let me show I Opened it.

[2015-07-23 03:09] JohnPreston21 commented on #241
It's already opened.

[2015-07-23 03:10] justindebord16 opened #243 "KNZY-NAS North Island-CALIFORNIA-USA"
Redoing KNZY

[2015-07-23 03:12] JohnPreston21 commented on #243
241 is opened already justin :)

[2015-07-23 03:44] justindebord16 commented on #243
Oh Ok I see it now. I was having trouble viewing some of these.

[2015-07-23 03:46] justindebord16 commented on #241
How Can I Add the Being Redone Label?

[2015-07-23 04:45] JohnPreston21 commented on #241
I've already added it and removed suggestion for you :)

[2015-07-23 15:34] justindebord16 commented on #241
Thanks John. It's finished now.

[2015-07-23 17:17] JohnPreston21 commented on #241
Have you exported the apt.dat and emailed to Cameron?

[2015-07-24 06:13] JohnPreston21 commented on #242
Completed this one. added taxi-lines with parking spots along with new spawns and corrected current spawn.

[2015-07-24 06:18] JohnPreston21 commented on #235
Completed by Axel

[2015-07-24 13:41] ghost opened #244 "ESSA-Stockholm Arlanda Airport-STOCKHOLM-SWEDEN"
RWY hold short  needs to be removed.  I'll do this one

[2015-07-24 14:08] JohnPreston21 commented on #244
Removed Hold Short Spawns 07, 34R, & 16R. Sending to master now

[2015-07-24 14:16] JohnPreston21 commented on #241
Justin completed this one and is now closed

[2015-07-24 15:44] #167 closed

[2015-07-24 16:04] AxelBeder commented on #212
Wrong airport. Oops/

[2015-07-25 19:48] #214 closed

[2015-07-27 04:09] Swang007 commented on #77
Added ATIS frequency and removed annoying spawn point in front of runway 02

[2015-07-27 12:17] Swang007 opened #245 "EBBR-Brussels Airport-VLAANDEREN-BELGIUM"
Nothing to see here! Move along :)

[2015-07-27 12:18] Swang007 commented on #21
Will add ATIS frequency

[2015-07-27 12:19] Swang007 commented on #28
Will add ATIS frequency

[2015-07-27 12:21] Swang007 commented on #54
Will add ATIS frequency

[2015-07-27 12:22] Swang007 commented on #18
Will add ATIS frequency

[2015-07-27 12:23] Swang007 commented on #55
Will add ATIS frequency

[2015-07-27 12:25] Swang007 opened #246 "LFPG-Charles de Gaulle Airport-ILE DE FRANCE-FRANCE"
Will add ATIS frequency

[2015-07-27 12:25] Swang007 commented on #34
Will add ATIS frequency

[2015-07-27 12:26] Swang007 commented on #32
Will add ATIS frequency

[2015-07-27 12:27] Swang007 commented on #102
Will add ATIS frequency

[2015-07-27 12:33] Swang007 commented on #32
Frequency already in place, move along :)

[2015-07-27 12:33] #32 closed

[2015-07-27 12:53] Swang007 commented on #21
TNCM does not have an ATIS frequency.

[2015-07-27 12:54] Swang007 commented on #28
TFFR already has an ATIS frequency.

[2015-07-27 15:01] Swang007 commented on #54
Will add ATIS frequency

[2015-07-28 16:05] carmichaelalonso opened #247 "KHQM"

[2015-07-28 16:05] #247 closed

[2015-07-30 04:34] Swang007 commented on #53
Okay, someone just pointed this out in the forum, I'll take care of it

[2015-07-30 04:50] Swang007 commented on #53
I can't find where the tower is in real life guys...

[2015-07-30 06:50] dushyants19 commented on #220
I will get this done :)

[2015-07-30 11:11] dushyants19 commented on #213
I will do it

[2015-07-30 12:52] Swang007 commented on #18
Deleted second tower frequency

[2015-08-01 04:17] Swang007 commented on #157
Has anyone made recent changes to this airport? @kohanson ? There's a bug discussion on the community forum and I decided I was going to fix it. Imported the apt.dat file and turns out it's already fixed...

[2015-08-01 04:17] Swang007 commented on #157
I guess since it's in the #2 milestone it will come out in the next update.

[2015-08-01 04:24] ghost opened #248 "KSSC-Shaw AFB Airport-SOUTH CAROLINA-USA"
Working on this one

[2015-08-02 18:42] Swang007 commented on #5
Fixed taxiway location issue, cut hole for grass

[2015-08-02 20:41] Misha16 commented on #208
I think I will try this one for my first attempt. Is that alright?

[2015-08-02 20:45] jpperks commented on #208
That's fine. Once you have selected an airport, change the label to "Being Redone". I'll do it this time for you :)

[2015-08-02 20:47] Misha16 commented on #208
Will do ((:

[2015-08-03 13:41] Swang007 commented on #18
Changed GS angle in the earth_nav.dat file

[2015-08-03 14:14] Swang007 commented on #18
Fixed blast pad bug

[2015-08-03 17:03] Swang007 commented on #32
Finalized for 2015 Milestone 2

[2015-08-03 21:26] Swang007 commented on #156
Note to self: fix layering for taxiway shoulders.

[2015-08-03 21:58] Swang007 commented on #182
Added parking spots

[2015-08-04 06:07] Swang007 commented on #1
Removed runway hold-short spawn points

[2015-08-05 00:14] JohnPreston21 commented on #176
Will being this one

[2015-08-05 00:59] Omari4u commented on #180
would like to work on this one

[2015-08-07 18:51] Swang007 commented on #143
KFLL needs a lot of fixing. Lot of objects missing, and ILS could be off a few degrees @carmichaelalonso . Probably best not to redo the whole thing, just try to fix things up, check with WEDBing, etc.

[2015-08-08 19:11] Omari4u commented on #143
great stuff

Date: Fri, 7 Aug 2015 11:51:51 -0700
From: notifications@github.com
To: InfiniteFlight-Airports@noreply.github.com
Subject: Re: [InfiniteFlight-Airports] KFLL (#143)

Reopened #143.

—
Reply to this email directly or view it on GitHub.

[2015-08-08 19:12] Omari4u commented on #143
there are a few airports in South Florida with a similar ILS?GPS issue as in slightly of a few degress and no alignment

Date: Fri, 7 Aug 2015 11:51:52 -0700
From: notifications@github.com
To: InfiniteFlight-Airports@noreply.github.com
Subject: Re: [InfiniteFlight-Airports] KFLL (#143)

KFLL needs a lot of fixing. Lot of objects missing, and ILS could be off a few degrees @carmichaelalonso . Proba

[2015-08-09 22:18] Swang007 commented on #38
Runway hold-short spawns removed by John 16 days before this post.

[2015-08-11 17:52] JohnPreston21 commented on #197
Did a complete redesign. awaiting approval or rejection. My First of many full redesigns

[2015-08-11 18:20] JohnPreston21 commented on #210
Will begin this one. may be a complete redesign

[2015-08-11 18:24] JohnPreston21 commented on #187
This one was too big. Sorry guys.

[2015-08-11 18:26] JohnPreston21 commented on #183
Will try to get to this one soon.

[2015-08-13 09:17] Misha16 commented on #208
Whoops. I didn't mean to do whatever I just did. trying to change it do done

[2015-08-13 10:00] Misha16 opened #250 "KSMO-Santa Monica Municipal Airport-CALIFORNIA-USA"
Several noncurved taxiways. Not enough parking

[2015-08-14 23:13] JohnPreston21 commented on #197
Jonathon not long looked at this on and added to the libary

[2015-08-14 23:14] JohnPreston21 commented on #233
@Swang007 do you know what region this on is in?

[2015-08-15 01:42] JohnPreston21 commented on #141
Finished

[2015-08-19 05:59] JohnPreston21 opened #251 "KCLS"
Seattle

[2015-08-19 06:08] ghost opened #252 "KNRS"
So-Cali

[2015-08-19 08:30] JohnPreston21 commented on #176
My Apologies Cameron, I've started work on this one. Correcting taxiways, adding taxi lines and parking

[2015-08-20 14:49] carmichaelalonso commented on #246
More gates needed:
https://community.infinite-flight.com/t/paris-cdg-gates/6214

[2015-08-20 16:21] JohnPreston21 commented on #246
This one has spawns no?

[2015-08-21 16:32] JohnPreston21 commented on #176
Re did this one.. Taxi ways were all wrong. Re designed taxi ways, added taxi lines with props, jet and ramp spawn parking. Jonathon added this one to the library.

[2015-08-22 00:46] JohnPreston21 opened #253 "KDAG"
SoCal

[2015-08-22 00:48] JohnPreston21 commented on #253
re doing taxiways, adding taxilines and spawn parking

[2015-08-23 22:41] Swang007 commented on #219
Ok, I don't think Zach's active with this anymore. I'll double check but otherwise this airport is open for anyone. Needs to be redone. Make sure you reclone your local repository files, as I added a viewpoint and changed some runway specifics.

[2015-08-23 22:43] JohnPreston21 commented on #219
What class field is this one?

[2015-08-23 22:45] airportmaster commented on #219
Up for grabs. Still figuring out how to download WEDing and I don't have a lot of time for this sized airport. I think it's a Charlie or Bravo

[2015-08-23 22:52] JohnPreston21 commented on #219
just saw it in wedbing, it's pretty big.

[2015-08-23 22:58] Swang007 commented on #219
Ok, Zach is still active, but he's having problems with WEDBing and he wants to do a smaller airport.

[2015-08-23 22:59] Swang007 commented on #219
It looks like it's Bravo as well.

[2015-08-23 23:00] JohnPreston21 commented on #219
If it isn't too big I'll take it.

[2015-08-23 23:03] Swang007 commented on #219
I think it would suit you :)

[2015-08-23 23:38] JohnPreston21 commented on #219
My god this one huge field.

[2015-08-24 15:32] JohnPreston21 commented on #183
@carmichaelalonso For some reason I can not reopen the .dat file in WED. error say illegal file can not be opened ( or something to that effect.

[2015-08-24 15:34] carmichaelalonso commented on #183
Take a screenshot and send it to me :)
On 24 Aug 2015 17:32, "John Preston" <notifications@github.com> wrote:

[2015-08-24 15:35] JohnPreston21 commented on #183
will do one sec

[2015-08-24 15:47] JohnPreston21 commented on #183
Sent in the Chat, Unable to load here.

[2015-08-24 15:49] NickArt1342 opened #254 "KASE-Aspen-Pitkin Co/Sardy Field Airport-COLORADO-USA"
Buildings and taxiways aren't lining up: Gras spots all over the place

[2015-08-24 15:50] NickArt1342 opened #255 "LIRF-Leonardo da Vinci-Fiumicino Airport-LAZIO-ITALY"
Airport map totally outdated. Redoing the whole airport.

[2015-08-24 15:51] dushyants19 opened #256 "YMAV-Avalon Airport-VICTORIA-AUSTRALIA"

[2015-08-24 15:51] NickArt1342 opened #257 "KLAS-McCarran International Airport-NEVADA-USA"
reused

[2015-08-24 15:55] JohnPreston21 commented on #183
Had to import from scenery gateway if that's ok before I save it

[2015-08-24 16:10] NickArt1342 commented on #254
KSAE is messed up badly... jeez

[2015-08-24 17:12] Omari4u commented on #180
working on this one...adding taxiways & spawning point and parking

[2015-08-24 17:55] JohnPreston21 commented on #183
had to import from scenery gateway, starting on this one

[2015-08-25 21:31] Rotate-FDS commented on #53
Is there still a problem with the tower view?

[2015-08-25 23:46] Rotate-FDS commented on #53
I didn't know the tower was already corrected.

The taxiways are really messed up and the cargo apron (northeast), GA hangars (northwest), and ANG ramp (south) are missing.

[2015-08-26 00:45] JohnPreston21 commented on #253
Waiting for approval

[2015-08-26 04:11] JohnPreston21 opened #258 "LFOZ"
Paris

[2015-08-26 04:12] JohnPreston21 commented on #258
Just completed this one, pending approval

[2015-08-26 09:48] #258 closed

[2015-08-26 09:48] #253 closed

[2015-08-26 11:49] Rotate-FDS commented on #19
Have the ILS systems for 10L/28R and 10C/28C added in the update?

[2015-08-26 14:08] Omari4u commented on #176
John,did you remember to remove spawning on the runway?

[2015-08-26 14:12] Omari4u commented on #253
don't forget to remove spawning on runways..

[2015-08-26 14:13] Omari4u commented on #185
David / Cam..don't forget to remove runway spawning

[2015-08-26 14:15] Omari4u commented on #182
Cam / Sean don't forget to remove runway spawning

[2015-08-26 15:32] JohnPreston21 commented on #253
Already. Done. I never leave room for runway spawn

[2015-08-26 15:34] JohnPreston21 commented on #253
Also thanks Cameron for readding the boundary on this one and LFOZ. Totally forgot I'm sorry man.

[2015-08-26 16:06] adamkassio commented on #251
I'll try this one.

[2015-08-26 16:16] JohnPreston21 opened #259 "LFOP"
Paris

[2015-08-26 18:06] JcFl4 opened #260 "EDLN-Düsseldorf Mönchengladbach Airport-NORDRHEIN-WESTFALEN-GERMANY"
Mönchengladbach Airport

[2015-08-26 20:25] Rotate-FDS commented on #19
Whoever can edit ILS, please fix this.

[2015-08-26 20:52] carmichaelalonso commented on #19
For nav data stuff (like ILSs), probably best if you post on github.com/infiniteflightairportediting/navigation/issues :)

[2015-08-26 20:54] Rotate-FDS commented on #19
Thanks, I wasn't sure what that repository held.

On Wed, Aug 26, 2015 at 3:52 PM, Cameron Carmichael Alonso <
notifications@github.com> wrote:

[2015-08-27 07:15] carmichaelalonso opened #261 "KTNT"
South Florida

[2015-08-27 10:40] Misha16 opened #262 "KONT-Ontario International Airport-CALIFORNIA-USA"
Needs more spawn points and a little tiny up of lines

[2015-08-27 16:00] Omari4u commented on #253
well done..

[2015-08-27 16:02] Omari4u commented on #261
working on taxi ways spawning points and other areas..

[2015-08-27 16:22] Swang007 opened #263 "TKPK-Robert L Bradshaw Airport-BASSETERRE-SAINT KITTS AND NEVIS"
Runway spawns need to be removed, I'll do it.

[2015-08-27 16:24] Swang007 commented on #263
Sorry for including you guys. Selection doesn't work well on iPhone.

[2015-08-28 04:07] Swang007 commented on #161
Added terminal area with spawn points and simple taxi lines. Please remember to reclone the InfiniteFlightAirportEditing/Airports repository before working on or redoing this one, otherwise my changes will be lost!

[2015-08-28 04:38] JohnPreston21 commented on #161
Oh wait I was working on this one, guess I should have assigned myself first

[2015-08-28 04:50] Swang007 commented on #161
Yes, I didn't know you were working on this.

[2015-08-28 15:19] Swang007 commented on #34
Lines in the grass.

[2015-08-31 04:53] Swang007 commented on #156
Looks amazing, can't wait for the next scenery push!

[2015-08-31 04:53] #156 closed

[2015-08-31 05:05] Swang007 commented on #143
Checked this out with WEDBing. The northern runway is in place, but the southern runway is not. Runways are the most important thing, then you can add taxiways on and build from there. It looks like there used to be another runway that went diagonally across both, but it is closed now. From the satellite imagery it looks like there's a lot of construction going on.

[2015-08-31 08:14] AxelBeder commented on #9
I have already done this one @JohnPreston21. For some reasons my label didn't go through the system.

[2015-08-31 08:21] AxelBeder commented on #9
Finished.

[2015-08-31 08:22] AxelBeder opened #264 "LFPO-Paris Orly Airport-ILE-DE-FRANCE-FRANCE"
Rewroking from scratch.

[2015-08-31 08:23] AxelBeder opened #265 "LFPZ"

[2015-08-31 08:23] AxelBeder opened #266 "LFFE"
Finished.

[2015-08-31 08:23] #266 closed

[2015-08-31 08:23] AxelBeder opened #267 "KNUQ-Moffett Federal Airfield-CALIFORNIA-USA"
Finished.

[2015-08-31 08:25] AxelBeder commented on #182
I reworked it from scratch :) no more runway spawning.

[2015-08-31 08:29] AxelBeder commented on #136
Adding 2D buildings, more lines and details.

[2015-08-31 17:46] jpperks opened #268 "EGLF"
I'll take this...

Free time woohoo!!!

[2015-08-31 19:12] JohnPreston21 commented on #268
This is awesome

[2015-08-31 19:26] jpperks commented on #268
Watched the Farnborough air show?

[2015-08-31 20:25] kilt46 commented on #207
I updated this yesterday and submitted to Cameron. Additional terminal buildings added.

[2015-08-31 23:41] kilt46 commented on #260
Started work

[2015-09-01 00:28] JohnPreston21 commented on #53
I am currently working on this one. Completed the reg design and now working on taxi lines and parking. Expect to be done in a couple days

[2015-09-01 00:30] JohnPreston21 commented on #183
Will begin redesign after KPIA

[2015-09-01 03:01] kilt46 commented on #260
Complete. File sent to Cameron

[2015-09-01 03:05] kilt46 commented on #233
KPFR is not a valid airport

[2015-09-01 03:06] kilt46 commented on #262
Will work on next as is top of list

[2015-09-01 12:06] carmichaelalonso commented on #233
Typo in this name - should be KFPR located in Florida.

[2015-09-01 17:52] JcFl4 commented on #260
Kilt46, what work did you do on the airport? I had already done it?

[2015-09-02 01:47] kilt46 commented on #262
Now complete. Terminals 1, 1A, 2 and 4 redone

[2015-09-02 01:50] kilt46 commented on #259
Started work

[2015-09-02 02:57] kilt46 commented on #259
Completely redone

[2015-09-02 02:57] #259 closed

[2015-09-02 02:58] kilt46 commented on #252
Will work on this next

[2015-09-02 03:42] kilt46 commented on #252
Is this KNRS? KNRC is not an available airport on IF

[2015-09-02 08:01] AxelBeder commented on #265
Finished.

[2015-09-02 08:02] AxelBeder commented on #246
Started reworking this one.

[2015-09-02 11:07] kilt46 commented on #53
The tower IRL is in the old terminal building to the east

[2015-09-02 13:05] JohnPreston21 commented on #53
@rotate-FDS I am assigned to this come. Currently working on a complele rework.

[2015-09-02 18:14] JohnPreston21 commented on #53
This one is up for grabs. Since my mom had to retore my PC, it wiped everything and started my laptop back to factory. Didn't realize she did a full clean, yikes.

[2015-09-02 18:17] kilt46 commented on #53
I have this one mostly done. I sent revision to Cameron recently

[2015-09-02 18:41] JohnPreston21 commented on #53
You was working on this also?

[2015-09-02 21:49] kilt46 commented on #53
I worked on this as an initial learning module.

[2015-09-02 22:45] kilt46 commented on #252
I found no KNRC. I have completed KNRS as best I can. It is a partially completed airfield on West Coast. I am considering it closed.

[2015-09-03 00:09] JohnPreston21 commented on #251
Remember to alwabys add the "being Redone" label and remove the "suggestion" once you self-assign so the other editors will know not to touch what you are doing,

Thanks.

[2015-09-03 00:28] adamkassio commented on #251
ok. sorry about that.

[2015-09-03 01:25] JohnPreston21 commented on #251
No worries, i updates this one for you.

[2015-09-03 01:27] kilt46 commented on #53
Thx John. Realized that I couldn't change status using iPad. Java doesn't
jive.

On Wednesday, September 2, 2015, John Preston <notifications@github.com>
wrote:

[2015-09-03 01:50] JohnPreston21 commented on #53
No worries

[2015-09-03 03:34] kilt46 commented on #53
Fully reworked and National Guard included

[2015-09-03 03:36] kilt46 commented on #233
Will start this one tomorrow

[2015-09-03 03:57] kilt46 commented on #53
KPIA now complete and emailed in.

On Wednesday, September 2, 2015, John Preston <notifications@github.com>
wrote:

[2015-09-04 00:40] kilt46 commented on #233
Airport redone. 4 spawn points added

[2015-09-04 00:46] kilt46 commented on #254
Assuming this is KASE as KSAE does NOT exist!

[2015-09-04 03:07] kilt46 commented on #254
Airport redone from scratch.

[2015-09-04 03:09] kilt46 commented on #219
This was completed and uploaded by Cameron

[2015-09-04 09:46] NickArt1342 commented on #254
Bro, There was a label on it that I was doing it...

[2015-09-04 09:46] NickArt1342 commented on #254
Kase if course not KSAE, lil typi

[2015-09-04 09:55] kilt46 commented on #254
Sorry. It was hard to tell that you were doing it as you were not assigned
to it. I saw that you were working on several at once. The text made it
sound like you were giving up. I have been using the method of assigning
myself to one airport at a time to help people know what I am working on.
It is not a large job. My version I went in and deleted everything and just
started from scratch as it was

[2015-09-04 10:22] carmichaelalonso commented on #254
I'm a little confused here - @NickArt1342  - what airfield were you doing, KSAE, or KASE?

[2015-09-04 10:54] kilt46 commented on #254
KSAE doesn't exist should have been KASE unless I am mistaken. I checked ICAO listing.

Sent from my iPhone

[2015-09-04 10:58] kilt46 commented on #254
Cameron there was a little communication glitch. Nick had written against several airports but had used BUG on KASE (KSAE) and had not assigned himself to the issue. I took it that he needed help as he wasn't assigned and I redid the airport last night.

Sent from my iPhone

[2015-09-04 11:18] NickArt1342 commented on #254
No worries, since you finished already We'll take yours, but seriously, gow do I assign myself to a prob? I'm constantly having trouble with this forum...

[2015-09-04 11:20] carmichaelalonso commented on #254
OK, thanks for clearing it up.
@NickArt1342  - on the right hand bar, under Assignee, there is a Settings  gear - tap on that and select your name. Also, add the "Being Reworked" label. :)

[2015-09-04 11:39] kilt46 commented on #254
Nick hopefully you are using a PC to make updates on GitHub. I have tried iPad and iPhone. They do not show all of the options. Yes it is frustrating to use this web page. I taught myself through trial and error. On the right hand side under each issue are several boxes where you can flag the status and also assign yourself. I am at work just now as I live in the USA. If you don't see what I talki

[2015-09-04 12:25] Swang007 commented on #185
SoFlo, someone said this airport needs some love. No general aviation and there are only runway spawns!

[2015-09-05 11:39] Omari4u commented on #185
yea that is one of those in the list i gave...

Date: Fri, 4 Sep 2015 05:25:32 -0700
From: notifications@github.com
To: Airports@noreply.github.com
CC: omari.joseph@hotmail.com
Subject: Re: [Airports] KRSW (#185)

SoFlo, someone said this airport needs some love. No general aviation and there are only runway spawns!

—
Reply to this email directly or view it on GitHub.

[2015-09-05 16:31] kilt46 commented on #215
This was a bare bones airport. It has now been fully redone

[2015-09-05 16:31] #215 closed

[2015-09-05 16:32] kilt46 commented on #212
Started work

[2015-09-05 22:49] #186 closed

[2015-09-05 23:11] DavidCutler commented on #185
Spawns were added.

[2015-09-06 02:01] kilt46 commented on #212
Was created as a default airport. This one has been completely redone

[2015-09-06 02:01] #212 closed

[2015-09-06 02:02] kilt46 commented on #211
Starting work on this

[2015-09-06 14:26] kilt46 commented on #211
Completely redone. WEDBING had this site hidden. Used Google Maps instead!

[2015-09-06 14:26] #211 closed

[2015-09-06 14:27] kilt46 commented on #210
Started

[2015-09-06 17:39] kilt46 commented on #207
This is complete

[2015-09-06 17:39] #207 closed

[2015-09-06 17:42] kilt46 commented on #188
THis was completed and uploaded by Cameron

[2015-09-06 17:43] kilt46 commented on #189
This was completed and uploaded

[2015-09-07 04:03] kilt46 commented on #210
Airfield done from scratch

[2015-09-07 04:04] kilt46 commented on #261
Does this mean this is available to take? It states 'Being Redone but no-one assigned. I am confused!

[2015-09-07 04:06] kilt46 commented on #217
Is this available to do. It states 'Being Redone' but with no assignee?

[2015-09-07 04:07] kilt46 commented on #217
Hmm I messed this up. Looks like this is not assigned. I will get done next. No way to unclose as far as I can see!

[2015-09-07 04:07] kilt46 commented on #217
Please let me know if this is being done by David. He was removed 21 days ago!

[2015-09-07 06:13] JohnPreston21 commented on #217
I think he's away atm so I think it's safe to grab this one.

[2015-09-07 15:04] Rotate-FDS commented on #174
Runway 07/25 should be 200 feet wide. I'll get on it ASAP.

[2015-09-07 16:22] AxelBeder commented on #174
I have already redone it, I will push it asap. Should have updated it there sorry.

[2015-09-07 16:23] AxelBeder commented on #174
Will send the last version when I get back from work.

[2015-09-07 20:12] kilt46 commented on #217
OK this one is now done

[2015-09-07 20:13] kilt46 commented on #209
Started

[2015-09-07 22:04] kilt46 commented on #38
Is this free to do?

[2015-09-08 17:55] JohnPreston21 commented on #183
Forgot to add re add being redone. Just completed this one waiting for approval.

Re designed from scratch except the runways. re designed taxiways and added taxi lines with gates and hanger spawns. Drew everything fromWedbing.

[2015-09-08 17:58] JohnPreston21 commented on #53
Thanks for completing this. The current design was a temp job, Closing this one now.

[2015-09-08 17:58] #53 closed

[2015-09-09 03:22] kilt46 commented on #209
Airport reworked

[2015-09-09 03:22] #209 closed

[2015-09-09 03:25] JohnPreston21 commented on #248
Re designing this one now.

[2015-09-10 00:52] kilt46 opened #270 "PKMJ-Marshall Islands Airport-MAJURO-MARSHALL ISLANDS"
Please redesign me!

[2015-09-10 00:52] kilt46 commented on #270
Airport redone

[2015-09-10 10:59] kilt46 commented on #29
Is KLAX being done or is it open?

[2015-09-10 11:50] carmichaelalonso commented on #29
Sean is redoing this one.
On 10 Sep 2015 12:59 pm, "KIlt McHaggis" <notifications@github.com> wrote:

[2015-09-10 13:39] dushyants19 commented on #220
Done, was added by Jonathan

[2015-09-10 17:30] kilt46 commented on #29
Was unsure as listing states Swang was unassigned 24 days ago

[2015-09-10 17:34] JohnPreston21 commented on #29
Yep, Sean is rebuilding this one from scratch.

[2015-09-10 20:40] Rotate-FDS commented on #244
ATIS frequency

[2015-09-11 01:06] kilt46 commented on #206
Airfield reworked

[2015-09-11 01:09] kilt46 commented on #204
Started Work

[2015-09-11 22:18] kilt46 commented on #204
Airport reworked from scratch

[2015-09-11 22:20] kilt46 commented on #203
EHDK is not a valid reference. Should this be EHBK? (Maastricht)

[2015-09-11 22:23] kilt46 commented on #198
Started

[2015-09-12 00:09] JohnPreston21 commented on #183
This one has been approved and added to the library.

Closing this now.

[2015-09-12 00:14] JohnPreston21 commented on #248
Re designed this from scratch except the runways, Removed old taxiways and re designed better one with Taxiways and plenty of Parking spots with spawns.

[2015-09-12 00:32] kilt46 commented on #198
Completed

[2015-09-12 11:35] kilt46 commented on #196
This one has been reworked

[2015-09-12 11:56] kilt46 commented on #192
Parking added

[2015-09-12 11:56] #192 closed

[2015-09-12 12:13] kilt46 commented on #187
Started

[2015-09-13 05:07] kilt46 commented on #187
This one has been completely redone

[2015-09-13 05:09] kilt46 commented on #190
Starting

[2015-09-13 11:59] kilt46 commented on #190
Reworked

[2015-09-13 11:59] #190 closed

[2015-09-13 12:20] kilt46 opened #271 "EBBL - No Airport Boundary"

[2015-09-13 12:20] kilt46 commented on #271
Marked up and submitted

[2015-09-13 12:50] kilt46 opened #272 "EDDG - Münster Osnabrück International Airport"
Only 10 gates in whole airport. Definition of terminals is poor. Big project!

[2015-09-14 00:56] Swang007 commented on #272
@kilt46 Are you working on this one?

[2015-09-14 00:57] Swang007 commented on #50
KHIO has a missing runway: 31R/13L
@carmichaelalonso This was yours months ago.

[2015-09-14 00:58] Swang007 commented on #50
https://community.infinite-flight.com/t/khio-missing-runway-31r-13l/8935

[2015-09-14 01:31] kilt46 commented on #272
No I was reviewing Amsterdam and Socal Bravo/Charlie airports. I posted a link to the view www.kiltmchaggis.com

[2015-09-14 22:18] kilt46 commented on #187
Still working on this one

[2015-09-14 22:19] kilt46 commented on #187
Now complete

[2015-09-14 22:20] kilt46 commented on #184
Working on this one

[2015-09-15 02:26] kilt46 commented on #184
Airport completely redone

[2015-09-15 02:28] kilt46 commented on #191
Started

[2015-09-15 02:33] kilt46 commented on #271
This map requires more spawn points.

[2015-09-16 22:24] kilt46 commented on #271
Spawn points and hangars added for completeness

[2015-09-16 22:24] #271 closed

[2015-09-17 22:55] kilt46 commented on #191
Redone

[2015-09-17 23:25] kilt46 commented on #203
Started EHBK!!

[2015-09-18 21:10] kilt46 commented on #203
Maastricht redone

[2015-09-19 00:26] kilt46 commented on #152
Started

[2015-09-19 01:14] kilt46 commented on #152
Reworked and emailed

[2015-09-19 01:14] #152 closed

[2015-09-19 01:22] kilt46 commented on #149
Started

[2015-09-19 13:36] kilt46 commented on #149
Complete rewrite of airport

[2015-09-19 13:50] kilt46 opened #273 "EHTW - Requires Rewrite"

[2015-09-19 13:50] kilt46 commented on #273
Started

[2015-09-20 03:12] kilt46 commented on #273
Completely redone

[2015-09-20 03:12] #273 closed

[2015-09-20 03:20] kilt46 commented on #179
Started

[2015-09-20 06:27] dushyants19 commented on #3
Done, edited by. Approved by Jonathan

[2015-09-20 06:30] dushyants19 commented on #50
Who's doing this? Region?

[2015-09-20 09:22] carmichaelalonso commented on #50
Nobody, you can @dushyants19 if you want. It's in Seattle.

[2015-09-20 15:56] carmichaelalonso commented on #268
How's this going Jonathan? (testing Slack integration...)

[2015-09-20 16:23] jpperks commented on #268
I started it when I had free time... Haven't had much time since then :)

[2015-09-20 19:07] kilt46 opened #275 "KCSM-Clinton-Sherman Airport-OKLAHOMA-USA"

[2015-09-20 19:07] kilt46 commented on #275
Completed gates in main terminals

[2015-09-20 19:07] kilt46 commented on #275
TEMP jethubs available on this model

[2015-09-20 19:29] kilt46 commented on #268
Need me to help?

On Sun, Sep 20, 2015 at 11:23 AM, Jonathan Perkins <notifications@github.com

[2015-09-20 20:00] jpperks commented on #268
Yes I think I do! Thanks :)

Current progress can be found here http://jpapps.co.uk/eglf.html

[2015-09-20 20:45] kilt46 commented on #153
This one has NO Gates. An original X-Plane vintage

[2015-09-20 20:47] kilt46 commented on #154
This one requires a rewrite. There are Zero Gates. This is an original X-Plane vintage. See kiltmchaggis.com

[2015-09-20 21:34] kilt46 commented on #155
This one needs gates and is original X-Plane Vintage. Very spartan

[2015-09-21 01:21] kilt46 commented on #153
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KAPA

[2015-09-21 01:22] kilt46 commented on #154
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KBJC

[2015-09-21 01:22] kilt46 commented on #155
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KBKF

[2015-09-21 01:25] kilt46 opened #278 "EBZR"
Mimimal airport see image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EBZR

Class Charlie

[2015-09-21 01:26] kilt46 opened #279 "KLAL-Lakeland Linder Regional Airport-FLORIDA-USA"

[2015-09-21 01:26] kilt46 commented on #201
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EDLV

[2015-09-21 01:40] kilt46 commented on #151
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KMMT

[2015-09-21 01:41] kilt46 commented on #248
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KSSC

[2015-09-21 01:43] kilt46 opened #280 "PHJR"
Only 3 gates
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=PHJR

[2015-09-21 01:45] kilt46 commented on #243
This one still looks pretty ugly from the image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KNZY

[2015-09-21 01:46] kilt46 opened #281 "KSLI"
Only a few gates
See Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KSLI

[2015-09-21 01:47] kilt46 commented on #11
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KSNA

[2015-09-21 01:55] Swang007 commented on #235
@kilt46

[2015-09-21 01:56] Swang007 commented on #275
@kilt46 Next time, search for existing issues before creating duplicates. Even if it's not a complete do-over, any improvements should stay in one issue so it's easier to track. Thanks!

[2015-09-21 02:00] JohnPreston21 commented on #248
Noooo this was already approved. Why the change @kilt46

[2015-09-21 02:02] JohnPreston21 commented on #248
I have already rebuilt this one, it was approved weeks ago.

[2015-09-21 03:37] kilt46 commented on #218
This one appears to have no active gates.
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KJVL

[2015-09-21 04:15] JohnPreston21 commented on #218
You can have this one if you like @kilt46

[2015-09-21 06:41] dushyants19 commented on #213
Finished, Approved by Jonathan :+1:

[2015-09-21 06:41] #213 closed

[2015-09-21 06:43] dushyants19 commented on #151
I have started on this :blush:

[2015-09-21 16:01] JcFl4 commented on #201
On Its way! Why are you so impatient!

[2015-09-21 16:03] carmichaelalonso commented on #201
@JcFl4 he's just linking to graphical representations of airports (done on many other issues too), not rushing you at all :)

[2015-09-21 16:05] JcFl4 commented on #201
Oh, ok. But what's the purpose, knowing what the airport looks like?

[2015-09-21 16:06] carmichaelalonso commented on #201
Basically yep, he's built an impressive collection: http://kiltmchaggis.com/tikiwiki1/tiki-index.php
Quite useful to see where an airport stands before deciding to take it on :)

[2015-09-21 16:07] JcFl4 commented on #201
I see. :)

[2015-09-21 17:55] AxelBeder commented on #272
For some reasons the old topic has been closed. The current version isn't the final one.

[2015-09-21 17:56] AxelBeder commented on #279
Your picture shows EDDG not EDDK which has already been redone.

[2015-09-21 17:58] AxelBeder opened #282 "LIMC-Milan Malpensa Airport-LOMBARDY-ITALY"
LIMC

[2015-09-21 23:20] kilt46 commented on #272
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EDDG

[2015-09-22 00:12] kilt46 commented on #279
No terminal gates

[2015-09-22 00:21] kilt46 commented on #9
3 Gates with same name
New Ramp 2 (x3)

[2015-09-22 00:24] kilt46 opened #283 "KMIA-Miami International Airport-FLORIDA-USA"
Very few gates in Main Terminal. Rewrite Opportunity

[2015-09-22 02:07] kilt46 commented on #180
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KHST

[2015-09-22 04:30] dushyants19 commented on #170
I checked this *airport* in Google maps, I cant see any scenery and this doesn't have an IATA code too.. The Wikipedia page is also empty

[2015-09-22 10:15] kilt46 commented on #170
Check my wiki: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=Singapore
https://www.google.com/maps/place/2.045361%20103.306519

[2015-09-24 23:22] Swang007 commented on #77
Taxiways are not aligned.

https://community.infinite-flight.com/t/hawaiian-taxiways/9855

[2015-09-25 18:15] Swang007 opened #285 "LHSZ"

[2015-09-25 21:36] kilt46 commented on #179
Airport redone: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KFXE

[2015-09-25 21:41] kilt46 commented on #285
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=PHKO

[2015-09-25 21:41] kilt46 commented on #283
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KMIA

[2015-09-25 22:42] kilt46 commented on #100
taxiways seem off (see image): http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=LFOA
2 runways on top of each other

[2015-09-25 23:01] kilt46 commented on #282
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=LFPG

[2015-09-25 23:02] kilt46 commented on #279
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KLAL

[2015-09-25 23:04] kilt46 commented on #268
Will do this for Jonathan

[2015-09-26 04:56] Swang007 commented on #6
https://community.infinite-flight.com/t/caribbean-airport-name-issue/9926

Some kind of name issue.

[2015-09-26 14:38] kilt46 commented on #283
Main Terminal redone

[2015-09-26 16:27] kilt46 commented on #164
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=LFOC
This is currently a bare bones airport. Needs some love!

[2015-09-26 16:37] kilt46 commented on #165
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=LFOE
Minimal airport

[2015-09-26 17:01] kilt46 opened #286 "LFOJ-Bricy Air Base-CENTRE-FRANCE"
Basic airport with one ramp
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=LFOJ

[2015-09-26 17:03] Swang007 commented on #285
There was never an issue. This airport represents taxiways just like in real life.

[2015-09-26 17:26] kilt46 opened #287 "LFPC"
Rewrite recommended. 4 gates duplicated. Missing details on military base
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=LFPC

[2015-09-26 20:10] kilt46 opened #288 "LFPM-Melun Villaroche Airport-ILE-DE-FRANCE-FRANCE"
Has only 3 spawn points. Needs some love
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=LFPM

[2015-09-26 20:32] kilt46 opened #289 "LFPV"
Only 1 spawn point; Map is rudimentary
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=LFPV

Paris

[2015-09-26 21:07] kilt46 commented on #76
Reworking Main Terminal to include ALL Gates

[2015-09-26 23:38] kilt46 commented on #161
According to the latest graphics I have there are no spawn points atm
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KATW

[2015-09-27 03:22] kilt46 opened #290 "KGRB-Austin Straubel International Airport-WISCONSIN-USA"
Only 1 spawn point
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KGRB

[2015-09-27 12:26] kilt46 commented on #76
Main Terminal now has complete set of gates
Main Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=PHNL
Main Terminal Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=PHNLT

[2015-09-27 12:49] kilt46 opened #291 "KUES"
There are 8 Hold Short positions. Do we wish to remove them?
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KUES

[2015-09-27 12:51] kilt46 commented on #109
Working on Main Terminal Upgrade

[2015-09-27 12:55] kilt46 commented on #268
Focusing on Heathrow

[2015-09-28 04:37] Swang007 commented on #242
https://community.infinite-flight.com/t/typo-on-parking-space-at-kedw/10145

Parking space needs to be renamed. Also, "Parking" should not be in the name of any gate. Infinite Flight automatically adds "Parking:" to the beginning of every spawn point. Snap to Vertices is already enabled, but was never used. A lot of lines are not connected to each other.

[2015-09-28 04:40] JohnPreston21 commented on #242
Now that we have Wedbing I'll be starting it over.  But will not make the next update.  Thanks @Swang007

[2015-09-28 18:30] #278 closed

[2015-09-28 22:46] kilt46 commented on #278
Final Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EBZR

[2015-09-29 02:39] Swang007 commented on #242
Apparently @kilt46 fixed this already? Someone needs to turn on StV

[2015-09-29 02:43] JohnPreston21 commented on #242
Yup,  he saud he corrected it

[2015-09-29 03:23] Swang007 commented on #242
You said you were going to start over on it? I don't think he snapped any lines to vertices either

[2015-09-29 19:32] JcFl4 opened #292 "EBLE"

[2015-10-02 23:59] kilt46 commented on #109
Complete

[2015-10-03 12:05] kilt46 opened #293 "EGBE"
2 spawn points and NO lines!
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EGBE

[2015-10-03 22:07] kilt46 opened #294 "EGDL"
London

Some lines messed up. Only 4 Spawn points
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EGDL

[2015-10-03 22:13] JohnPreston21 commented on #294
Code may be incorrect.

[2015-10-03 22:15] Swang007 commented on #294
What code?

[2015-10-03 22:16] JohnPreston21 commented on #294
There's no EGDL, I just checked.

[2015-10-03 22:18] kilt46 commented on #294
Yes there is. It is in the UK

[2015-10-04 00:27] kilt46 commented on #242
Complete

[2015-10-04 04:18] kilt46 commented on #6
Reworked airport and emailed in

[2015-10-04 12:22] kilt46 commented on #238
Great job Axel. I removed an extraneous gate from model and mailed in

[2015-10-04 13:31] kilt46 opened #295 "EGHI-Southampton Airport-ENGLAND-UNITED KINGDOM"
Needs more Gates

[2015-10-04 13:32] kilt46 commented on #295
Completed and emailed
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EGHI

[2015-10-04 14:48] kilt46 commented on #54
Looks slightly off: I can redo at a later stage. Renaming Gates for consistency
![image](https://cloud.githubusercontent.com/assets/14023167/10268398/f725ff06-6a7c-11e5-8f87-fec893e8cfdc.png)

[2015-10-04 15:29] kilt46 commented on #54
E-mailed temporary renumbering of gates. Will do for not for update.

[2015-10-04 17:23] kilt46 commented on #158
This one has ZERO lines or Spawn Points
Image:http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EGLJ

[2015-10-07 01:02] kilt46 commented on #50
Working it

[2015-10-08 06:22] xjayrod1999 opened #296 "KAVX"
Editing Taxi,runway,parking

[2015-10-08 06:25] xjayrod1999 commented on #296
Being Redone

[2015-10-08 23:56] kilt46 commented on #50
Complete

[2015-10-09 00:42] kilt46 commented on #50
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KHIO

[2015-10-09 00:44] kilt46 commented on #11
Working it

[2015-10-09 00:51] kilt46 opened #297 "EGYM"
Only 6 spawn points in one place. Blocky grapgics on taxiways
Image:http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EGYM

[2015-10-09 00:56] kilt46 opened #298 "EGYE"
Only 4 spawn points in one location. Graphics on taxiways are blocky
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EGYE

[2015-10-09 19:53] #292 closed

[2015-10-10 04:57] kilt46 commented on #11
Done and e-mailed

[2015-10-10 10:47] JcFl4 commented on #296
Sorry but what are you doing in KAVX? It is already done. Everything is added.

[2015-10-10 11:24] kilt46 commented on #296
This appears to be a pretty basic airport. The view I get from Wedbing is very distorted. It does not appear that this airport requires any surgery.

[2015-10-10 11:47] kilt46 commented on #11
Completed Image:
http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KSNA

[2015-10-10 11:49] kilt46 commented on #243
This one was completed:
http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KNZY

[2015-10-10 11:50] kilt46 commented on #218
Working on this one

[2015-10-10 11:57] kilt46 opened #299 "EGSX"
Minimal lines on this one. Not a high priority
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EGSX

[2015-10-10 21:25] Swang007 opened #300 "KAUS-Austin Bergstrom International Airport-TEXAS-USA"
Austin Bergstrom International Airport. I call this one for when it comes out, nobody take it!

[2015-10-10 22:23] HenrikBerg02 commented on #300
If KAUS ever comes out, it'll probably come with the rest of the cities surrounding it Austin (KIAH, KSAT). If so, I'll take KIAH.

[2015-10-11 12:59] kilt46 commented on #173
Carrier Simulated Landing Strip added
http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KNXP

[2015-10-11 13:13] kilt46 commented on #218
Redo of airfield
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KJVL

[2015-10-11 13:15] kilt46 commented on #57
Carrier Simulated Landing Strip added
Image: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KNKX

[2015-10-11 13:19] kilt46 commented on #143
Taking on another big project! I'm not scared

[2015-10-11 13:31] henrikbg opened #301 "MMTO-Toluca Lic.Adolfo Lopez Mateos Airport-MEXICO-MEXICO"
Please redesign me

[2015-10-13 01:12] kilt46 commented on #153
Taking this one next

[2015-10-14 01:06] kilt46 commented on #143
Complete redo: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KFLL

[2015-10-16 21:12] kilt46 commented on #153
Airport reworked

[2015-10-16 21:13] kilt46 commented on #114
Started

[2015-10-17 02:28] kilt46 commented on #114
This appears to be a simple one. Hope Im not missing something

[2015-10-17 02:28] #114 closed

[2015-10-17 03:00] kilt46 commented on #144
simple airfield

[2015-10-17 03:00] #144 closed

[2015-10-17 03:03] kilt46 commented on #146
Started

[2015-10-17 15:25] kilt46 commented on #146
Airport redone and updated

[2015-10-17 15:43] kilt46 commented on #245
Reworking Gates: Only 15 gates in existing airport. This is a Bravo. My next big rework   :)

[2015-10-18 21:41] kilt46 commented on #245
All Main Terminal Gates added: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EBBR

[2015-10-19 00:09] kilt46 opened #303 "EBLG-Liege Airport-WALLONIE-BELGIUM"
Bravo Airport: Needs more detail

[2015-10-19 01:24] kilt46 commented on #237
Main Terminal Buildings added

[2015-10-22 00:36] Swang007 commented on #296
Please search for similar issues before making new ones :)

[2015-10-22 00:36] #296 closed

[2015-10-22 01:18] Swang007 commented on #182
Both terminal buildings were supposed to be in asphalt, but there is no hole in the surrounding concrete so the layering bug takes effect.

[2015-10-22 01:21] JohnPreston21 commented on #248
Fixed taxi line mis aliegnments corrected taxiways with snap to vericals and updated spawn names

[2015-10-22 01:22] Swang007 commented on #300
In the world branch KAUS already exists. Looks pretty sweet in WED. I might make some changes and commit just so I can call it my own

[2015-10-22 01:23] JohnPreston21 commented on #183
Corrected mis aligned taxi lines, fixed taxiways with snap to verticals and corrected spawn names.

[2015-10-24 06:47] JohnPreston21 commented on #261
Is anyone doing this one? It says being redone but no one assigned.

[2015-10-24 06:47] JohnPreston21 commented on #261
Opps

[2015-10-24 22:30] kilt46 opened #304 "KMKE-General Mitchell International Airport-WISCONSIN-USA"

[2015-10-25 02:57] henrikbg opened #305 "EGTC-Cranfield Airport-ENGLAND-UNITED KINGDOM"
Redoing EGTC.

[2015-10-26 01:12] HenrikBerg02 commented on #31
Redoing KMDW

[2015-10-26 01:14] JohnPreston21 commented on #123
Responded to an issue with hold short spawns. Removed hold short spawns.

[2015-10-26 01:14] #123 closed

[2015-10-26 04:08] adamkassio commented on #251
Hey guys sorry that this is not done. I have had a lot of work as I am applying for college and just don't have time for this right now. Hope to get back to it soon. Someone else can work on it if they wish.

[2015-10-26 04:47] HenrikBerg02 commented on #223
Doesn't seem like anybody has worked on it. I'll get this one redo'd when I have time.

[2015-10-27 02:45] HenrikBerg02 commented on #223
Finished up KCMI.

[2015-10-28 01:53] kilt46 commented on #304
Complete airport redesign

[2015-10-28 02:13] HenrikBerg02 commented on #175
I'll redo this airport.

[2015-10-30 21:43] samuelandersson opened #306 "OIFM-Esfahan Airport-ESFAHAN-IRAN"
Please redesign me

[2015-10-30 21:46] samuelandersson commented on #161
Currently redoing this. Hope it gets better :)

[2015-10-31 00:15] kilt46 commented on #29
This one has now been completed and uploaded

[2015-10-31 03:30] Swang007 commented on #29
Actually still open. Thanks for finishing up the taxiways for me but I'm going to tidy up the details.

[2015-10-31 12:00] kilt46 commented on #1
Buildings are NOT set into concrete. Need holes to be made and buildings set

[2015-10-31 12:41] kilt46 commented on #1
Buildings rectified. Jetbridges added

[2015-10-31 13:03] IceBlue02 commented on #293
Taking this for a total redo.

- Sorry Misha, clicked the wrong one :-P

[2015-10-31 15:30] samuelandersson commented on #161
Done. Have redone everything but runways, frequencies, tower views (just moved a few meters to actual tower positions) and lights.

[2015-10-31 15:34] samuelandersson commented on #154
Here we go. Starting on the one now.

[2015-11-02 20:07] samuelandersson commented on #281
Im on to this one. Completely redoing it.

[2015-11-03 23:21] HenrikBerg02 commented on #178
Redoing it.

[2015-11-03 23:29] kilt46 commented on #54
Working this one (gates and jetbridges)

[2015-11-04 22:42] HenrikBerg02 opened #307 "EBAW"
I'll redo this one.

[2015-11-04 22:46] henrikbg opened #308 "KAST-Astoria Regional Airport-OREGON-USA"
I'll take this one on.

[2015-11-04 23:41] kilt46 commented on #303
This one was completed

[2015-11-05 21:06] henrikbg opened #309 "KIAH-George Bush Intercontinental Airport-TEXAS-USA"
I'll do this one if it ever comes out. Don't take it.

[2015-11-06 11:27] kilt46 commented on #118
It would appear that the runway size is too small

[2015-11-06 11:31] HenrikBerg02 commented on #20
Being redone.

[2015-11-06 15:54] dushyants19 commented on #309
:joy: I want Doha then :joy:

[2015-11-06 16:17] HenrikBerg02 commented on #309
Make a new issue ;)

[2015-11-06 21:19] kilt46 commented on #182
Patched this up for release. Needs redo

[2015-11-06 22:43] kilt46 commented on #54
Redone

[2015-11-07 04:48] kilt46 commented on #25
Rework for jetbridges and terminal building details

[2015-11-07 18:14] samuelandersson commented on #165
Just for anyone willing to do this one, the airport is blurred out on the map as it is an air force base. In case you did not know.

[2015-11-07 19:02] samuelandersson commented on #158
Will redo.

[2015-11-07 20:58] samuelandersson commented on #158
Now waiting for approval.

[2015-11-08 02:51] #20 closed

[2015-11-08 04:03] kilt46 opened #310 "EHRD- Rotterdam Airport-ZUID-HOLLAND-NETHERLANDS"
This airport could do with a refresh if anyone is willing

[2015-11-08 04:40] Zimnaan commented on #310
What needs to be done?

[2015-11-08 05:03] Carsontomato commented on #299
I'll work on this one

[2015-11-08 10:42] JcFl4 commented on #118
Fixed.

[2015-11-08 10:42] #118 closed

[2015-11-08 16:40] samuelandersson opened #311 "KTEB-Teterboro Airport-NEW JERSEY-USA"
Redoing, graphics look blocky and taxiways are not properly aligned with real life.

[2015-11-08 16:42] #307 closed

[2015-11-09 21:29] IceBlue02 commented on #293
Job Done!

Now has lines, buildings, more detailed TWYs and more spawn points

[2015-11-10 09:10] dushyants19 opened #312 "KTPF"
Doing a Quick redo, SoFlo

[2015-11-11 05:16] DS2001 opened #313 "FAMM-Mafikeng International Airport-NORTH WEST-SOUTH AFRICA"
REUSED

[2015-11-11 05:54] DS2001 commented on #288
Maybe I want to do this airport but wedpress don't work by me

[2015-11-11 14:44] Swang007 commented on #29
@kilt
https://community.infinite-flight.com/t/air-newlealand/14757/5

[2015-11-11 16:00] dushyants19 commented on #313
@DS2001 check https://github.com/InfiniteFlightAirportEditing/Airports/issues/107

Reopen it.

[2015-11-11 16:02] dushyants19 commented on #107
Assign yourself Dylan

[2015-11-12 05:57] DS2001 commented on #288
I am working on this airport now

[2015-11-12 10:09] BVRAU commented on #286
I am going to work on this

[2015-11-12 11:25] NickArt1342 opened #314 "KPAE- Snohomish County (Paine Field) Airport-WASHINGTON-USA"
This airpot hasn't been redone since 10 months and since it's the boeing field it should be freshend up :D

[2015-11-12 11:27] dushyants19 commented on #151
Approved by Jonathan

[2015-11-12 16:22] IceBlue02 commented on #314
Thought I saw someone was doing this on the forum. If not, I will take.

[2015-11-12 16:40] IceBlue02 commented on #12
Class Bravo with only 8 Spawn Points! One of the most used as well.

Redoing this.

[2015-11-12 16:41] IceBlue02 commented on #12
Would someone reopen please :-P

[2015-11-12 17:09] Swang007 commented on #12
Looks like you're a collaborator already. You should be able to open/close yourself?

[2015-11-13 00:10] kilt46 opened #315 "KFRG-Republic Airport-NEW YORK-USA"
This one is really messed up. Needs to be done from scratch. High Priority! Lines are wrong type

[2015-11-13 02:17] Swang007 commented on #149
https://community.infinite-flight.com/t/kcae-columbia-metro-needs-parking/14989

[2015-11-14 14:59] kilt46 opened #316 "KSWF-Stewart International Airport-NEW YORK-USA"
Redoing Airport to include Terminal Buildings

[2015-11-14 18:27] samuelandersson commented on #314
I was kind of into it. But as I said it's a big project and it has a working prototype right now. You can take it, if you don't get enough time. I might help you out :+1:

[2015-11-14 18:27] samuelandersson commented on #136
Still working on this one?

[2015-11-14 18:32] kilt46 commented on #254
Reworking airport extension (from satellite as it does not show on WEDBing

[2015-11-14 18:32] samuelandersson commented on #254
Cool :)

[2015-11-14 19:30] samuelandersson commented on #38
Asking the same as Kilt, free to take?

[2015-11-14 19:48] samuelandersson opened #317 "KVBG-Vandenberg AFB Airport-CALIFORNIA-USA"
REUSED

[2015-11-14 20:40] samuelandersson commented on #317
After closer inspection this airport is no longer in need of any redo.

[2015-11-15 03:17] kilt46 commented on #254
South runway extension added as per 2015 Google Earth (does not exist in WEDBing)

[2015-11-15 15:15] samuelandersson commented on #251
Will do this one. Small and nice :) Here I come

[2015-11-15 15:19] samuelandersson commented on #158
Done and approved.

[2015-11-15 15:19] samuelandersson commented on #311
Done and approved.

[2015-11-16 00:52] Swang007 commented on #250
https://community.infinite-flight.com/t/santa-monica-airport-runway-border-line/15124

[2015-11-16 06:11] JohnPreston21 commented on #12
Is this one actually beging redone?

[2015-11-16 06:12] JohnPreston21 commented on #12
NVM is i see, sorry.

[2015-11-16 06:13] JohnPreston21 commented on #12
NVM is see sorry.

[2015-11-16 18:37] HenrikBerg02 commented on #314
I'll take on this one.

[2015-11-16 19:44] samuelandersson commented on #298
I'll do this one.

[2015-11-16 19:45] samuelandersson commented on #281
Done. Added everything needed and more :100:

[2015-11-16 19:46] #281 closed

[2015-11-16 19:46] samuelandersson commented on #251
Done. Added everything and a little more.

[2015-11-16 19:46] #251 closed

[2015-11-17 00:11] henrikbg opened #318 "PHDH- Dillingham Airfield Airport-HAWAII-USA"
Did this one but forgot to make an issue.

[2015-11-17 00:11] henrikbg opened #319 "FVHA-Harare International Airport-HARARE-ZIMBABWE"
REUSED

[2015-11-17 00:14] HenrikBerg02 opened #320 "KTIW"
Forgot to make an issue for this one as well.

[2015-11-17 00:16] HenrikBerg02 opened #321 "17CL"

[2015-11-17 00:16] #321 closed

[2015-11-17 00:17] henrikbg opened #322 "KMTJ-Montrose Regional Airport-COLORADO-USA"

[2015-11-17 00:18] HenrikBerg02 commented on #319
This one is a duplicate, just don't mind this one.

[2015-11-17 03:28] kilt46 commented on #107
This should be fixed

[2015-11-17 03:50] Swang007 commented on #248
Taxi lines need to be connected, not overlapping. Snap to Vertices needs to be enabled. Estimated time needed to fix these issues: About 30-45 minutes

https://community.infinite-flight.com/t/kssc-markings/15460

[2015-11-17 04:30] kilt46 commented on #107
New Taxiway S added

[2015-11-17 05:15] JohnPreston21 commented on #248
Going to fix AGAIN the taxi lines.

[2015-11-17 11:01] JohnPreston21 commented on #248
Finished and emailed awaiting approval.

[2015-11-17 13:53] DS2001 commented on #279
Maybe I want ti do this one

[2015-11-17 17:19] IceBlue02 commented on #314
CaptainDJ sent me some pics and stuff on the forum, I'll add you in to the PM

[2015-11-17 23:41] kilt46 commented on #9
Will fix spawn points

[2015-11-18 00:02] kilt46 commented on #9
3 duplicate spawn points renamed

[2015-11-18 00:57] kilt46 commented on #25
This has been completed

[2015-11-18 03:05] HenrikBerg02 commented on #18
Hashed marking need to be removed on this one.

[2015-11-18 05:18] DS2001 commented on #280
I maybe I want to do this one

[2015-11-18 21:29] henrikbg opened #323 "KVCV- Southern California Logistics Airport-CALIFORNIA-USA"
This one is a priority. Only 3 spawn points.

[2015-11-19 03:07] kilt46 commented on #54
Runway realigned
![image](https://cloud.githubusercontent.com/assets/14023167/11261261/5f8d7e8c-8e38-11e5-9859-790c330c3909.png)

[2015-11-19 03:08] kilt46 commented on #54
![image](https://cloud.githubusercontent.com/assets/14023167/11261274/814a1314-8e38-11e5-8005-a34997ca62a9.png)
Runway realigned, lines cleaned

[2015-11-19 03:55] kilt46 commented on #29
![image](https://cloud.githubusercontent.com/assets/14023167/11261946/12ae8e06-8e3f-11e5-8340-801093df4452.png)
small yellow line change

[2015-11-19 04:12] kilt46 commented on #242
Modified to yellow/black lines

[2015-11-19 12:09] ErmakDimon commented on #323
I guess I'd take this one

[2015-11-19 12:53] ErmakDimon opened #324 "KTTS-Nasa Shuttle Landing Facility Airport-FLORIDA-USA"
PLEASE REDRAW ME

[2015-11-19 13:58] ErmakDimon commented on #297
taking it over

[2015-11-19 17:49] ZaidSal commented on #290
I will add parking and make the airport very good

[2015-11-19 22:33] HenrikBerg02 commented on #324
Duplicate. I'll add you to the current one.

[2015-11-20 00:30] HenrikBerg02 commented on #148
Doing this one, not many spawn points.

[2015-11-20 00:42] kilt46 opened #325 "OIZH-Zahedan Airport-SISTAN AND BALUCHESTAN-IRAN"
PLEASE REDESIGN ME

[2015-11-20 00:44] kilt46 commented on #264
Requires all gates

[2015-11-20 00:49] kilt46 commented on #128
Bravo Airport. Could do with Terminal Buildings and ALL Gates

[2015-11-20 00:53] kilt46 commented on #34
Bravo - Missing Airport Terminal Buildings

[2015-11-20 01:02] kilt46 commented on #73
Gate tidy up

[2015-11-20 01:44] kilt46 commented on #73
Compared to WEDbing this airport is off

[2015-11-20 01:44] kilt46 commented on #73
![image](https://cloud.githubusercontent.com/assets/14023167/11289820/0044af36-8ef6-11e5-8331-9a5d7add5a78.png)

[2015-11-20 01:46] kilt46 commented on #73
Red terminal centered on airport and satellite. Looks like a scaling issue.

[2015-11-20 15:35] samuelandersson opened #326 "PHKO-Kona International At Keahole Airport-HAWAII-USA"
Redoing.

[2015-11-20 21:08] samuelandersson commented on #325
Will do when I have time.

[2015-11-20 21:15] samuelandersson commented on #154
Quitting this project. Can't stand creating all the buildings.

[2015-11-21 13:09] kilt46 commented on #316
Airport redone

[2015-11-21 15:43] kilt46 opened #327 "EBCI - Amsterdam"
CHARLIE
Main Terminal buildings needed as well as ALL Gates

[2015-11-21 19:14] HenrikBerg02 commented on #252
This one needs to be done ASAP. Pretty bad and has small issues with taxiways.

[2015-11-22 09:13] IceBlue02 opened #328 "9L2"
Duplicate Runway- Will Fix
https://community.infinite-flight.com/t/9l2-edwards-af-aux-north-base/15997

[2015-11-22 22:17] kilt46 commented on #279
HAS HOLD SHORT AREA

[2015-11-22 22:18] kilt46 commented on #180
SPAWN ON RNWY

[2015-11-22 22:19] kilt46 commented on #177
HAS HOLD SHORT AREAS,

[2015-11-22 22:19] kilt46 commented on #175
SPAWN ON RNWY

[2015-11-22 22:22] kilt46 opened #329 "KOLM - Seattle"
hold short areas

[2015-11-22 22:22] kilt46 commented on #320
has hold short areas

[2015-11-22 22:23] kilt46 commented on #163
spawn on rnwy

[2015-11-22 22:23] kilt46 commented on #164
spawn on runway

[2015-11-22 22:23] kilt46 commented on #165
spawn on rnwy

[2015-11-22 22:24] kilt46 commented on #166
spawn on runway

[2015-11-22 22:24] kilt46 commented on #291
has hold short areas

[2015-11-22 22:25] kilt46 opened #330 "KHPN - New York"
has hold short areas

[2015-11-22 22:26] kilt46 opened #331 "KISP-Long Island McArthur Airport-NEW YORK-USA"
has hold short areas

[2015-11-22 22:26] kilt46 commented on #159
spawn on runway

[2015-11-22 22:26] kilt46 commented on #160
spawn on runway

[2015-11-22 22:27] kilt46 opened #332 "KTTN - New York"
has hold short areas

[2015-11-22 22:27] kilt46 commented on #158
spawn on runway

[2015-11-22 22:31] kilt46 commented on #154
spawn on runway

[2015-11-22 22:31] kilt46 commented on #155
spawn on runway

[2015-11-22 22:32] kilt46 commented on #149
spawn on runway

[2015-11-22 22:32] kilt46 opened #333 "KFLO"
has hold short areas now removed. Could do with more love and more spawn points.

[2015-11-22 22:33] kilt46 opened #334 "KHKY - Charlotte"
has hold short areas

[2015-11-22 22:33] kilt46 commented on #151
spawn on runway

[2015-11-23 01:24] kilt46 commented on #188
spawn on runway

[2015-11-23 01:26] kilt46 commented on #188
![image](https://cloud.githubusercontent.com/assets/14023167/11328380/e5467b28-914e-11e5-9cfd-fcb22a5c19e3.png)

[2015-11-23 01:26] #188 closed

[2015-11-23 01:29] kilt46 commented on #189
Spawn on runway

[2015-11-23 01:29] kilt46 commented on #189
![image](https://cloud.githubusercontent.com/assets/14023167/11328400/5a5c908c-914f-11e5-8c02-3214ad20c2ab.png)

[2015-11-23 01:29] #189 closed

[2015-11-23 01:34] kilt46 commented on #327
![image](https://cloud.githubusercontent.com/assets/14023167/11328423/ff561234-914f-11e5-8e33-16691f282cc2.png)

[2015-11-23 01:37] kilt46 opened #335 "EBFS - Amsterdam"
Gates Modified
![image](https://cloud.githubusercontent.com/assets/14023167/11328448/70f2c2b6-9150-11e5-9edb-683102b40bf3.png)

[2015-11-23 01:37] kilt46 commented on #335
Start of Runway spawn points removed

[2015-11-23 01:37] #335 closed

[2015-11-23 01:46] kilt46 commented on #191
spawn on runway

[2015-11-23 01:48] kilt46 commented on #191
![image](https://cloud.githubusercontent.com/assets/14023167/11328534/f8faf7d6-9151-11e5-9935-70e0e545c235.png)

[2015-11-23 01:48] #191 closed

[2015-11-23 01:50] kilt46 commented on #201
spawn on runway,

[2015-11-23 02:10] kilt46 commented on #203
![image](https://cloud.githubusercontent.com/assets/14023167/11328707/0ed89786-9155-11e5-93a6-879bb45dcea9.png)

[2015-11-23 03:05] kilt46 opened #336 "EHNR - Amsterdam"
start at runway

[2015-11-23 03:06] kilt46 commented on #336
![image](https://cloud.githubusercontent.com/assets/14023167/11329111/da51794e-915c-11e5-8ae0-f45a7ead730f.png)

[2015-11-23 03:06] #336 closed

[2015-11-23 03:10] kilt46 commented on #273
![image](https://cloud.githubusercontent.com/assets/14023167/11329142/6df55d96-915d-11e5-8d43-cacb714caa34.png)

[2015-11-23 03:14] kilt46 commented on #151
![image](https://cloud.githubusercontent.com/assets/14023167/11329180/1253ae60-915e-11e5-8335-fef352134517.png)

[2015-11-23 03:18] kilt46 commented on #334
![Uploading image.png…]()

[2015-11-23 03:18] #334 closed

[2015-11-23 03:26] kilt46 commented on #333
![image](https://cloud.githubusercontent.com/assets/14023167/11329290/ad704164-915f-11e5-9766-931459d75a95.png)

[2015-11-23 03:30] kilt46 commented on #149
![image](https://cloud.githubusercontent.com/assets/14023167/11329326/4c3b45fa-9160-11e5-885d-09d25bf1dfca.png)

[2015-11-23 20:01] IceBlue02 commented on #328
Fixed by Kilt.

[2015-11-23 20:01] #328 closed

[2015-11-24 02:27] kilt46 commented on #245
Integration of Axel Airport and gates/buildings

[2015-11-24 23:41] kilt46 commented on #278
Lines and gates added
![image](https://cloud.githubusercontent.com/assets/14023167/11384110/9efa29a0-92d2-11e5-916d-1ce2a60a242c.png)

[2015-11-25 04:10] kilt46 commented on #272
This airport has been completed.
![image](https://cloud.githubusercontent.com/assets/14023167/11388117/18aa98aa-92f8-11e5-85ac-05a5c476c2ce.png)

[2015-11-25 04:10] #272 closed

[2015-11-25 08:21] JcFl4 commented on #278
There is no need for so many hangars. I try to make my airports as realistic as possible. Why do you keep changing them?

[2015-11-25 08:25] JcFl4 commented on #278
There is no need for so many hangars, but thanks.

[2015-11-25 13:26] dushyants19 commented on #290
@ZaidSal can you self assign this?

[2015-11-25 15:51] ZaidSal commented on #290
I am rechanging this to redone still some fixes that I need to do

[2015-11-25 16:59] DS2001 commented on #332
What you most do here??

[2015-11-25 17:02] DS2001 commented on #164
I want to do this one

[2015-11-25 21:17] rednaxela796 commented on #331
ill do it

[2015-11-26 02:17] kilt46 commented on #154
Complete redo of airport INCLUDING buildings

[2015-11-26 02:27] kilt46 commented on #154
http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=KBJC

[2015-11-26 04:39] kilt46 commented on #332
![image](https://cloud.githubusercontent.com/assets/14023167/11415193/61729682-93c5-11e5-89a4-07148ecd4966.png)

[2015-11-26 04:39] #332 closed

[2015-11-26 13:23] rednaxela796 opened #337 "UWLW-Ulyanovsk/Vostochny Airport-ULYANOVSK-RUSSIA"

[2015-11-26 13:23] rednaxela796 commented on #337
I'll do this one

[2015-11-26 13:24] kilt46 commented on #337
Is this one not already done?

[2015-11-26 13:24] kilt46 commented on #337
http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EDDK

[2015-11-26 13:25] kilt46 commented on #337
Why are you opening a NEW issue when there is already a thread for this one?

[2015-11-26 13:25] kilt46 commented on #337
https://github.com/InfiniteFlightAirportEditing/Airports/issues/237

[2015-11-26 13:26] rednaxela796 commented on #337
I looked at it just now and there are no parking location lines and also some of the hold short lived new are funny. Also some lines missing

[2015-11-26 13:26] kilt46 commented on #337
http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EDDK

[2015-11-26 13:27] kilt46 commented on #337
Is this the same airport you are seeing?

[2015-11-26 13:28] kilt46 commented on #337
This is EDDK
![image](https://cloud.githubusercontent.com/assets/14023167/11424029/3f65f710-940f-11e5-80be-a5d15a9464e0.png)

[2015-11-26 13:28] rednaxela796 commented on #237
I'll rework parking lines and other lines and details

[2015-11-26 13:28] kilt46 commented on #337
Is this the airport you are seeing?

[2015-11-26 13:29] kilt46 commented on #337
There should be NO airports with HOLD SHORTs. We are removing them all since we have ATC and they cause conflict

[2015-11-26 14:40] rednaxela796 commented on #64
I'll  it

[2015-11-26 15:23] rednaxela796 commented on #64
I will rework this one (add taxiways and parking areas)

[2015-11-27 03:40] HenrikBerg02 commented on #63
Doing this one.

[2015-11-27 21:17] kilt46 opened #338 "KPOB-Pope Army Airfield-NORTH CAROLINA-USA"
Charlie Class. Ugly needs some love

[2015-11-28 00:16] HenrikBerg02 commented on #38
Doing this one.

[2015-11-28 03:48] kilt46 commented on #333
Airport redone from scratch

[2015-11-28 03:48] #333 closed

[2015-11-28 03:50] kilt46 commented on #248
John I posted this for you after I cleaned it up. This can now be closed

[2015-11-28 03:55] JohnPreston21 commented on #248
Thanks man. Much appreciated.

[2015-11-28 15:05] kilt46 commented on #223
lines need SNAPPED. Also missing hold lines. Some hold lines are upside down

[2015-11-28 15:09] kilt46 commented on #267
Missing Runway HOLDS
![image](https://cloud.githubusercontent.com/assets/14023167/11452515/be1fb28e-95af-11e5-8f64-190b76dd59bc.png)

[2015-11-28 15:55] kilt46 commented on #267
Marked up version added to library

[2015-11-29 00:19] kilt46 commented on #222
Redoing airport

[2015-11-29 09:46] dushyants19 commented on #291
Needs a rework?

[2015-11-29 12:27] samuelandersson commented on #158
Negative. There are no runway spawns on this airport.
![image](https://cloud.githubusercontent.com/assets/15381853/11457007/e5c8d0ca-969c-11e5-9ed9-d271ac8df8ce.png)

[2015-11-29 12:27] #158 closed

[2015-11-29 12:52] samuelandersson commented on #298
For some reason this airport gives me some huge lag. Won't continue because of that.

[2015-11-29 14:21] samuelandersson opened #339 "FYWH-Hosea Kutako Int/Windhoek Airport-KHOMAS-NAMIBIA"
PLEASE REDRAW ME

[2015-11-29 14:37] samuelandersson commented on #327
Will redo.

[2015-11-29 16:57] DS2001 commented on #338
Foto?

[2015-11-29 16:58] DS2001 commented on #288
This one is ready he is already updates in the game so this one can close

[2015-11-30 23:25] kilt46 commented on #291
No just remove hold shorts and add a few more remote spawn points

[2015-12-01 00:25] DavidCutler opened #340 "KPCM"
Southern Florida. Requires complete overhaul.  Broken taxiways (grass between a couple taxiways and runway entrance), a few taxi lines that look like instant noodles, and hold short lines, irrespective of which side of a runway they're on.

[2015-12-01 01:40] kilt46 commented on #222
Redesign complete and posted

[2015-12-01 01:40] #222 closed

[2015-12-01 01:42] kilt46 commented on #187
Reworking

[2015-12-01 01:43] DavidCutler opened #341 "KNFL-Fallon NAS (Van Voorhis Field) Airport-NEVADA-USA"
PLEASE REDESIGN ME

[2015-12-01 01:50] DavidCutler opened #342 "OIIE-Tehran/Imam Khomeini Airport-TEHRAN-IRAN"
PLEASE REDRAW ME

[2015-12-01 19:19] DavidCutler opened #343 "KTMB- Miami Executive Airport-FLORIDA-USA"
Southern Florida. Remove Hold Short Spawns, edit parking, and add spawn points.

[2015-12-02 03:36] kilt46 commented on #187
Redone airport with 4x single aprons

[2015-12-02 03:36] #187 closed

[2015-12-03 02:33] kilt46 commented on #217
Consolidated aprons to remove cracks. Lines set to black set with lighting

[2015-12-03 02:33] #217 closed

[2015-12-03 02:47] kilt46 commented on #218
Reworking

[2015-12-03 04:02] kilt46 commented on #174
![image](https://cloud.githubusercontent.com/assets/14023167/11551600/61fe9080-9940-11e5-86af-fae256ec4784.png)

[2015-12-04 03:21] kilt46 commented on #218
Line and apron cleanup

[2015-12-04 03:21] #218 closed

[2015-12-04 19:11] kilt46 commented on #5
Tidy up terminal buildings and gates

[2015-12-05 13:12] kilt46 commented on #5
Cleaned up Main terminal Buildings and gates

[2015-12-05 13:20] kilt46 opened #344 "KSFO-San Francisco International Airport-CALIFORNIA-USA"
Requires Terminal Buildings

[2015-12-05 21:25] samuelandersson commented on #326
Done. Redid the whole airport and added shoulder markings and new parking spots. Referred to WEDbing and charts.

[2015-12-06 13:21] dushyants19 commented on #34
Which region is it?

[2015-12-06 13:25] dushyants19 commented on #155
I will do this :blush:

[2015-12-06 15:12] samuelandersson commented on #34
This is not in the denver region, it's actually Seattle.

[2015-12-06 15:13] samuelandersson commented on #327
Redid airport, everything but the runway and boundary is pretty much updated, except that very small heading change to the runway.

[2015-12-06 15:13] #327 closed

[2015-12-06 15:22] kilt46 commented on #344
Terminal Buildings added. Gates added

[2015-12-06 15:28] samuelandersson commented on #330
Removing those hold short areas then :+1:

[2015-12-06 15:59] kilt46 commented on #312
Completed by Dush19

[2015-12-06 15:59] #312 closed

[2015-12-07 10:29] harrymorris commented on #338
I'll take

[2015-12-07 13:11] dushyants19 commented on #338
I can't assign @harrymorris

[2015-12-07 15:43] samuelandersson commented on #280
Redoing.

[2015-12-08 03:41] HenrikBerg02 commented on #135
Doing this one just for fun. :)

[2015-12-08 04:05] #135 closed

[2015-12-08 15:53] ZaidSal commented on #290
i will o P2 of the edit

[2015-12-08 16:52] ZaidSal commented on #290
Just Finished

[2015-12-08 21:36] kilt46 commented on #34
Main terminal buildings added

[2015-12-09 20:17] JcFl4 commented on #27
The airport is misaligned.

[2015-12-12 01:00] kilt46 commented on #136
Axel has been working this one for 3+ months. Would recommend completing or make available to another editor :)

[2015-12-12 04:05] kilt46 opened #345 "KCUB"
Airport seems to be off from satellite image. Even by scooting image to line up with a feature scaling of certain elements is incorrect. (Charlotte). Buildings would be a nice addition.

[2015-12-12 12:46] kilt46 commented on #338
![image](https://cloud.githubusercontent.com/assets/14023167/11761991/1efd26da-a09c-11e5-9049-e589df6d6669.png)

[2015-12-12 15:46] kilt46 commented on #223
Main apron consolidated

[2015-12-12 15:46] #223 closed

[2015-12-12 19:20] kilt46 commented on #19
Redoing the periphery of this one for therapy!

[2015-12-14 13:09] dushyants19 commented on #341
@DavidCutler it is an old airport, it was removed and its a park now....

https://www.google.co.in/maps/@41.860483,-87.606529,2182m/data=!3m1!1e3?hl=en

It is this now^

[2015-12-14 13:11] dushyants19 commented on #155
ReDone and Approved by Jonathan.

[2015-12-14 13:11] #155 closed

[2015-12-14 16:19] NickArt1342 opened #346 "KBOW"
Hold short spawn points

[2015-12-14 16:21] NickArt1342 commented on #180
is somebody still doing this one? They should remove the ray spawn points asap then

[2015-12-14 16:23] NickArt1342 opened #347 "KOPF-Opa-Locka Executive Airport-FLORIDA-USA"
has hold short spawn points

[2015-12-16 23:01] JcFl4 commented on #73
Finished! Lacks roads, but I will add them after Christmas.

[2015-12-17 04:13] Swang007 commented on #315
https://community.infinite-flight.com/t/incorrect-airport-layout-at-kfrg/18692/1

Hopefully this can get pushed in the next update. Nice job @HenrikBerg02

[2015-12-17 04:41] Swang007 commented on #27
Misaligned as in not lined up with WEDBing? If so, I just committed a fix for that.

[2015-12-17 04:45] Swang007 commented on #347
Runway hold-short spawn points removed.

[2015-12-17 04:47] Swang007 commented on #346
Runway hold-short spawn points removed.

[2015-12-17 04:51] Swang007 commented on #279
Hold-short spawn points removed.

[2015-12-17 04:51] Swang007 commented on #279
Wait, @kilt46 did you add terminal gates and whatever else you wanted to add?

[2015-12-17 04:53] Swang007 commented on #180
Um, @NickArt1342 is this the KHSt you're talking about? Looks pretty empty to me

![khst screenshot](https://cloud.githubusercontent.com/assets/11000109/11861643/de24244c-a447-11e5-8a57-994f704acdb7.png)

[2015-12-17 05:00] Swang007 commented on #177
Hold-short spawn points removed,
Manual blast pad's replaced with runway blast pad's, manual lines removed, manual displaced threshold lines removed,
Removed weird ATC routes that weren't letting me save the file.

[2015-12-17 05:05] Swang007 commented on #175
I was going to delete the spawn points on the runway, but the airport looks fairly primitive.
![kapf screenshot](https://cloud.githubusercontent.com/assets/11000109/11861801/4a824096-a449-11e5-899f-61a6eecc5023.png)

I don't remember if it looked better than this before or not, I just reorganized the airport boundary and renamed the runway on November 15, nothing special.

![kapf history](https://

[2015-12-17 05:07] Swang007 commented on #175
Oh, I just realized. Automatic runway spawn points show up when a spawn point does not exist on the airport. I guess someone can go through and try to find gate names? No need to re-download the repository if your local version is newer than November 15, I haven't committed anything :)

[2015-12-17 05:07] Swang007 commented on #180
Automatic runway spawn points show up when a spawn point does not exist on the airport. This airport is up for grabs!

[2015-12-17 05:09] HenrikBerg02 commented on #175
![screen shot 2015-12-16 at 11 07 34 pm](https://cloud.githubusercontent.com/assets/14116830/11861853/eea779fc-a449-11e5-8b58-c3d9e959b615.png)

This is what I have. It seems it was updated when I sent it into to Jonathan. I'll do it now.

[2015-12-17 05:16] Swang007 commented on #182
Whoever completely redid this one after I added spawn points, great job. I'm still keeping the **Minor Design Issue** label up though, the only flaw is that curved areas like taxi lines and taxiways were drawn with several vertices instead of curved lines. Up to anyone that wants to do it, doesn't require much skill, only time and patience.

[2015-12-17 05:22] Swang007 commented on #300
Okay it's not actually being redone yet but it will be priority for me once the time comes around

[2015-12-17 05:33] NickArt1342 commented on #180
Yeah exactly, that's why spawn points should be added!

On Thursday, 17 December 2015, Sean Wangnick <notifications@github.com>
wrote:

[2015-12-17 19:12] HenrikBerg02 commented on #36
![ktpa](https://cloud.githubusercontent.com/assets/14116830/11879218/afa49534-a4bf-11e5-8e0e-5abf846efbc0.jpg)

Reported by user. Runway hold short lines for 19L are in the wrong direction.

[2015-12-17 19:13] HenrikBerg02 commented on #18
Have you removed them, @dushyants19?

[2015-12-17 19:29] kilt46 opened #348 "KFTG"
Very basic airport. Needs rework. Also please use correct spelling of Hangar!

[2015-12-20 21:14] kilt46 commented on #19
Done and publshed.

[2015-12-21 15:11] AxelBeder commented on #136
It's close to being finished :)

    Le Samedi 12 décembre 2015 2h00, KIlt McHaggis <notifications@github.com> a écrit :

 Axel has been working this one for 3+ months. Would recommend completing or make available to another editor :)—
Reply to this email directly or view it on GitHub.

[2015-12-22 18:39] kilt46 commented on #309
This is NOT an issue

[2015-12-22 18:40] kilt46 commented on #300
This is NOT an issue

[2015-12-22 19:38] kilt46 commented on #252
Redone

[2015-12-22 19:52] kilt46 commented on #18
Renaming and cleaning

[2015-12-22 21:14] kilt46 commented on #18
Hatched lines removed. Gates relabelled

[2015-12-23 18:09] kilt46 commented on #288
This was completed by DS2001

[2015-12-23 19:49] kilt46 commented on #27
New terminal added. Airport aligned

[2015-12-24 09:45] dushyants19 commented on #329
I think I removed them.

[2015-12-24 09:46] dushyants19 commented on #343
I will do this :)

[2015-12-24 16:49] kilt46 commented on #36
Airport redone

[2015-12-24 17:06] kilt46 commented on #74
Duplicate entry. Should have been PHKO

[2015-12-24 23:36] kilt46 commented on #261
Gates added

[2015-12-24 23:36] #261 closed

[2015-12-25 03:09] kilt46 commented on #100
Hidden taxiways have been fixed. Gate names standardized. Road lines added for clarity

[2015-12-25 03:09] #100 closed

[2015-12-25 04:20] kilt46 commented on #331
Hold Shorts removed. Gates renamed

[2015-12-25 04:30] kilt46 commented on #330
Hold Shorts removed

[2015-12-25 04:30] #330 closed

[2015-12-25 05:12] Swang007 commented on #340
Why was this closed?

[2015-12-25 05:54] dushyants19 commented on #242
https://community.infinite-flight.com/t/edw-rwy-22r/19560

From that picture, I see that hold lines are over the grass also. Needs to be fixed.

[2015-12-25 14:40] dushyants19 commented on #343
OMG this airport is just a mess

[2015-12-25 18:05] samuelandersson commented on #340
Redoing. More info on exactly what has been redone when done.

[2015-12-25 18:07] samuelandersson commented on #340
o

[2015-12-25 18:32] kilt46 commented on #119
Airport redone

[2015-12-25 19:09] kilt46 commented on #242
Corner piece added to taxiway at 22R. White lines on buildings removed

[2015-12-25 19:09] #242 closed

[2015-12-25 20:46] Swang007 commented on #293
https://community.infinite-flight.com/t/missing-taxiway-egbe-coventry-airport/19632

[2015-12-25 20:51] samuelandersson commented on #293
Gonna fix the small issues that are listed in the community thread posted above by Sean.

[2015-12-25 21:06] samuelandersson commented on #293
That was a quick fix, some issues were already resolved? Anyway, did what I could.

[2015-12-25 21:06] #293 closed

[2015-12-25 21:39] cboisselier commented on #338
@harrymorris are you doing it or I can start with it?

[2015-12-25 22:39] cboisselier opened #349 "OIKQ-Ghesm Island Airport-HORMOZGAN-IRAN"
PLEASE REDRAW ME

[2015-12-25 23:02] cboisselier opened #350 "KVRB-Vero Beach Municipal-FLORIDA-USA"
_Reused_

[2015-12-25 23:54] cboisselier commented on #350
Frequency modified

[2015-12-25 23:56] kilt46 commented on #349
is this an Airport Edit or an ATC edit?

[2015-12-25 23:56] cboisselier commented on #349
ATC

[2015-12-26 01:51] cboisselier commented on #348
Basic but huge airport! There was a full part of hangars and also a part of ramp missing + all taxi lines. Working on it atm.

[2015-12-26 02:03] cboisselier commented on #250
Could someone check that? I think the problem is that a part of the taxiway is ON the runway...? I can't figure that out #newbie

[2015-12-26 02:11] HenrikBerg02 commented on #250
I'll check it out.

[2015-12-26 05:12] Zimnaan commented on #350
Got it Clément. I am in charge of EHRD.

Sent from my iPhone

[2015-12-26 05:19] cboisselier commented on #350
Already modified @Zimnaan

[2015-12-26 05:29] dushyants19 commented on #350
Continue discussion here -> https://github.com/InfiniteFlightAirportEditing/Airports/issues/310

[2015-12-26 05:31] dushyants19 commented on #349
Continue discussion here -> #130

[2015-12-26 14:03] kilt46 commented on #329
Fixed

[2015-12-26 14:03] #329 closed

[2015-12-26 14:15] kilt46 commented on #320
Fixed

[2015-12-26 14:15] #320 closed

[2015-12-26 14:21] kilt46 opened #351 "KBUR-Bob Hope Airport-CALIFORNIA-USA"
SoCal- This one could do with some buildings

[2015-12-26 15:02] kilt46 opened #352 "KREI"
So Cal. Could do with some building detail

[2015-12-26 16:45] kilt46 commented on #250
Center lines removed next to runway.

[2015-12-26 17:23] cboisselier commented on #338
Have any of you guys found an information of where the displaced threshold is exactly? Can't find that on internet...

[2015-12-26 17:47] harrymorris commented on #345
Can I take this please?

[2015-12-26 18:23] kilt46 commented on #219
Reworking to make single aprons and clean up lines

[2015-12-26 18:40] samuelandersson commented on #352
Well let's add buildings then. Doing exactly that.

[2015-12-26 19:10] samuelandersson commented on #352
Added buildings, fixed taxi line system.

[2015-12-26 19:10] #352 closed

[2015-12-26 19:14] samuelandersson commented on #351
Doing that, adding buildings, most likely gonna fix the taxi lines so they are snapped to each other.

[2015-12-26 19:39] samuelandersson commented on #351
Ready. Added buildings and snapped some taxi lines, due to  frame lag it was hard to continue.

[2015-12-26 19:59] samuelandersson commented on #169
Added boundary.

[2015-12-26 20:09] samuelandersson commented on #143
Removed jetbridges and white ones from buildings.

[2015-12-26 20:18] samuelandersson commented on #179
Removed white lines from a lot (!) of buildings.

[2015-12-27 02:38] #33 closed

[2015-12-27 10:47] samuelandersson commented on #182
Removed jetways and white lines from buildings.

[2015-12-27 10:51] samuelandersson commented on #184
The apt.dat file of this airport seems to be broken, at least my computer won't open it. Getting an error. Was going to remove white lines from buildings.
![skarmavbild 2015-12-27 kl 11 50 00](https://cloud.githubusercontent.com/assets/15381853/12009947/1b94fc0c-ac90-11e5-8767-debc4a7e9d11.png)

[2015-12-27 10:53] samuelandersson commented on #180
Completely redoing with curved taxiways and spawn points.

[2015-12-27 15:14] kilt46 commented on #219
Aprons rebuilt

[2015-12-27 15:14] #219 closed

[2015-12-27 15:15] kilt46 commented on #298
Started work

[2015-12-27 16:42] IceBlue02 commented on #170
Taking This

[2015-12-27 18:15] IceBlue02 commented on #289
Gonna do this

[2015-12-27 18:16] IceBlue02 commented on #170
WEDbing having issues, so putting on hold. Does exist though

[2015-12-27 18:37] kilt46 commented on #298
Reworked airport

[2015-12-27 18:37] #298 closed

[2015-12-27 18:59] kilt46 commented on #224
Redo airport

[2015-12-27 19:00] kilt46 commented on #224
Airport remodelled with gates

[2015-12-27 19:00] #224 closed

[2015-12-27 20:19] kilt46 opened #353 "YSBK-Sydney Bankstown Airport-NEW SOUTH WALES-AUSTRALIA"
Sydney - Could do with more Spawn Points

[2015-12-28 15:14] jpperks opened #354 "EGMC-Southend Airport-ENGLAND-UNITED KINGDOM"
Being Redone by Will - Runway extension and other features.

[2015-12-29 20:51] samuelandersson commented on #9
Typo in gate name;

https://community.infinite-flight.com/t/kmcf-run-up-4-runway-04-parking-typo/20176

[2015-12-29 22:03] IceBlue02 commented on #9
Fixed.

[2015-12-29 22:03] #9 closed

[2015-12-31 02:23] cboisselier opened #355 "EKRD-Randers Airport-MIDTJYLLAND-DENMARK"
All hold short lines are reported to be backwards

[2015-12-31 10:31] dushyants19 commented on #28
Duplicate Spawn points
https://slack-files.com/T0B0SBFFY-F0HHELEK0-d17c4606e3

[2015-12-31 12:28] Will171 commented on #354
I have completed the refurb of EGMC, i have emailed it

[2016-01-01 00:15] kilt46 commented on #355
This appears to be true
![image](https://cloud.githubusercontent.com/assets/14023167/12069244/7db24e46-afea-11e5-9076-e285efa129a0.png)

[2016-01-01 00:22] kilt46 commented on #355
All Runway hold lines rotated to the correct orientation

[2016-01-01 07:43] Hamza787Aj commented on #294
May I add parking ramps, there's a few empty ones.

[2016-01-01 12:58] kilt46 commented on #354
Closed by Will171

[2016-01-01 14:10] kilt46 commented on #159
Airport Redesigned and committed to GIT

[2016-01-01 14:10] #159 closed

[2016-01-01 14:12] kilt46 commented on #28
Pending Jonathan to add to GIT

[2016-01-01 14:26] kilt46 commented on #346
Adding building detail and spawn points

[2016-01-01 14:55] IceBlue02 commented on #243
https://community.infinite-flight.com/t/call-sign-change-knzy-nas-north-island-socal/20409

Sorting this now.

[2016-01-01 15:02] IceBlue02 commented on #243
Done and emailed.

[2016-01-01 15:11] kilt46 commented on #346
This one probably needs redone
![image](https://cloud.githubusercontent.com/assets/14023167/12071252/a18f69b6-b067-11e5-811f-fc90cdd18e7d.png)

[2016-01-01 15:37] dushyants19 opened #356 "YGDO"
Sydney

[2016-01-01 15:38] dushyants19 commented on #356
Runway 36 has a heading of 18X and runway 18 has a heading of 35X (numbers are messed up)

[2016-01-01 15:42] dushyants19 commented on #28
Approved and into the repo - (Jonathan Perkins)

[2016-01-01 17:57] kilt46 commented on #160
Airport redrawn

[2016-01-01 18:34] kilt46 commented on #163
Airport redesigned

[2016-01-01 18:34] #163 closed

[2016-01-01 19:56] kilt46 commented on #164
Airport Redesign

[2016-01-01 19:56] #164 closed

[2016-01-02 04:43] kilt46 commented on #165
Airport redesigned

[2016-01-02 04:43] #165 closed

[2016-01-02 10:17] dushyants19 commented on #208
Are you doing this Misha?

[2016-01-02 14:05] kilt46 commented on #166
Started

[2016-01-02 14:45] HenrikBerg02 opened #357 "EBKH"
The one and only parking spot at this airport is "Custom Starting Position". I would suggest to remove or rename that and add a couple more parking locations. Remember to look at schematics before making parking spots.

[2016-01-02 14:49] HenrikBerg02 opened #358 "EBGB"
The only parking spot at this airport is "Custom Starting Point". If someone has time, add some more.

[2016-01-02 14:51] HenrikBerg02 opened #359 "EBLN"
This airport has no parking spots.

[2016-01-02 14:52] HenrikBerg02 opened #360 "EBOT"
This airport has no parking spots.

[2016-01-02 14:52] henrikbg opened #361 "CFX5-Renard-QUEBEC-CANADA"
This airport has no parking spots.

[2016-01-02 14:53] HenrikBerg02 opened #362 "EBSL"
This airport has no parking spots.

[2016-01-02 16:34] kilt46 commented on #166
Airport redesigned

[2016-01-02 16:47] kilt46 commented on #170
This looks fine. Will close

[2016-01-02 17:39] kilt46 commented on #182
Gates renamed. Cleanup of taxiways

[2016-01-02 18:23] kilt46 commented on #208
This airport seems to be in order. Names fixed and PAPIs fixed

[2016-01-03 02:49] cboisselier commented on #338
Work is in progress. Had to redo it entirely as curved taxiways were misdone...

[2016-01-03 14:09] kilt46 commented on #346
Airport redesigned

[2016-01-03 14:09] #346 closed

[2016-01-04 00:00] Ksisky commented on #286
Working on it now.

[2016-01-06 09:09] dushyants19 commented on #283
Fixed an issue (added an exit) as per https://community.infinite-flight.com/t/disguised-taxiway-at-kmia/21036

[2016-01-06 23:34] kilt46 commented on #283
Working on replacing outer perimeter

[2016-01-07 16:44] IceBlue02 commented on #289
Cannot find any satisfactory satellite background due to privacy blurring. Leaving this.

[2016-01-07 16:45] IceBlue02 commented on #353
Will do.

[2016-01-08 00:00] kilt46 commented on #255
Airport redone by Nick

[2016-01-10 19:43] kilt46 commented on #283
Now done with 2 piece apron, MAIN and WEST

[2016-01-10 20:14] kilt46 commented on #12
Completed by IceBlue

[2016-01-11 19:36] Will171 commented on #354
Sorry, still working on roads near the airport and i am completing the East Apron
![screenshot_18](https://cloud.githubusercontent.com/assets/16463484/12244245/9dc37bac-b89a-11e5-9621-bd1cd19f5fc5.png)

[2016-01-11 23:51] Ksisky commented on #286
Finished

[2016-01-12 00:10] Ksisky commented on #362
On it.

[2016-01-12 01:07] DavidCutler opened #364 "KLGA"
New York. Needs Updating. Starting this one tonight.

[2016-01-12 02:06] kilt46 commented on #364
was going to start this. Would probably get done within 1-2 weeks. If you think you can handle this monster go for it!

[2016-01-12 02:21] kilt46 commented on #364
![image](https://cloud.githubusercontent.com/assets/14023167/12252887/d7dd33f4-b8a0-11e5-9a7b-31461408d7ce.png)

[2016-01-12 02:21] kilt46 commented on #364
Got the buildings defined if you want them

[2016-01-12 03:45] DavidCutler commented on #364
I've already got the buildings outlines thanks though. I should have it done soon. Depends on my time frame. :)

[2016-01-12 21:01] jpperks commented on #354
Assigned to Will171

[2016-01-13 18:25] JohnPreston21 commented on #290
Is this one completed? The taxi lines aren't completed and there is only 1 Term spawn

[2016-01-13 18:46] ghost opened #365 "EBST-Sint Truiden-VLAANDEREN-BELGIUM"
Amsterdam

This is an Echo.

[2016-01-13 19:03] JohnPreston21 commented on #294
Are you doing this one @Hamza787Aj ?

[2016-01-13 20:47] Ksisky commented on #362
I added parking spots and a few other basic things, but it needs a complete rewrite, and because it is a military base, most of the airport details have been removed and blurred out.

[2016-01-15 09:03] dushyants19 commented on #318
Removing Hold Short spawn points

[2016-01-15 09:15] dushyants19 commented on #35
Should this be redone?

[2016-01-15 09:41] dushyants19 commented on #35
Hold spawns removal
Changing the line attribute of buildings to none

[2016-01-15 09:43] dushyants19 commented on #29
Looks like we have Hold Short spawn points :disappointed: in here

[2016-01-15 09:51] dushyants19 opened #366 "KHBI"
Needs a complete redo, xplane antique. Multiple taxiways. Charlotte Region

[2016-01-15 10:12] dushyants19 opened #367 "KSPA"
Charlotte
Pretty good already.
Removing hold short spawns and adding new

[2016-01-15 10:27] dushyants19 opened #368 "KUDG"
Charlotte
Its pretty good! :blush:
I'm removing hold short spawn points and adding some more
removing 2 runways too

[2016-01-15 13:44] dushyants19 commented on #120
Removing Hold Short spawns :grinning:

[2016-01-15 14:33] dushyants19 commented on #57
Spawn Points removed

[2016-01-16 12:35] kilt46 opened #369 "KCNO"
Adding buildings. Aligning Gate Names

[2016-01-16 18:09] dushyants19 commented on #318
Removed and into the repo. Approved by Jonathan

[2016-01-17 12:19] dushyants19 opened #370 "KRIL"
Xplane antique. Denver

[2016-01-17 17:57] kilt46 commented on #67
Reworking buildings

[2016-01-18 03:08] kilt46 commented on #67
Airport fully offset. overlapping taxiways. Full rewrite.

[2016-01-18 03:08] #67 closed

[2016-01-18 15:02] kilt46 commented on #262
Reworking Aprons

[2016-01-19 03:01] kilt46 commented on #262
Solidified into 3 aprons. tidy of gates

[2016-01-21 02:14] kilt46 commented on #364
![image](https://cloud.githubusercontent.com/assets/14023167/12469563/6fe5f9d4-bfb2-11e5-8b7d-9368cd07a1ee.png)

Airport redone

[2016-01-21 02:14] #364 closed

[2016-01-21 23:32] kilt46 commented on #235
redoing taxiways

[2016-01-23 10:49] dushyants19 commented on #77
#317 @samuelandersson Are your changes in IF?

[2016-01-23 11:10] dushyants19 commented on #77
Doing some line fixes :)

[2016-01-24 07:43] dushyants19 commented on #120
Removed White Lines & Hold short Spawns.
Approved by Jonathan.

[2016-01-24 07:43] #120 closed

[2016-01-24 07:47] dushyants19 opened #371 "KPOU"
New York
No taxilines, as per https://community.infinite-flight.com/t/no-taxi-lines-at-kpou-new-york/23245

[2016-01-24 14:09] kilt46 commented on #235
Airport reworked

[2016-01-25 12:36] dushyants19 commented on #370
Approved by Jonathan.

[2016-01-25 12:36] #370 closed

[2016-01-25 12:38] dushyants19 commented on #368
Approved by Jonathan.

[2016-01-25 12:38] #368 closed

[2016-01-25 12:39] dushyants19 commented on #77
Removed White lines and some Minor changes.

Approved by Jonathan.

[2016-01-28 03:40] kilt46 commented on #38
rewritten

[2016-01-30 21:44] kilt46 commented on #51
Airport rewritten. Be careful of Terminal spawn point. Causes issue with ATC. Close proximity to runway

[2016-01-31 18:12] kilt46 commented on #76
reworking

[2016-02-06 17:42] dushyants19 commented on #35
approved by Jonathan

[2016-02-06 17:52] kilt46 commented on #76
This has been redone

[2016-02-06 19:55] henrikbg opened #372 "CYFB-Iqaluit Airport-NUNAVUT-CANADA"
Redone.

[2016-02-06 20:00] henrikbg opened #373 "ENSH-Svolvaer-Helle Airport-NORDLAND-NORWAY"
Redone.

[2016-02-06 20:46] DavidCutler opened #374 "KIND"
Indiana. I'll take this one :)

[2016-02-06 21:11] carmichaelalonso opened #375 "LEBL-Barcelona-El Prat Airport-CATALONIA-SPAIN"

[2016-02-06 21:14] carmichaelalonso opened #376 "LEPA-Palma De Mallorca Airport-ISLAS BALEARES-SPAIN"
My local one, this is mine. Nobody else shall ever touch this without my permission.

[2016-02-06 21:15] carmichaelalonso opened #377 "LESB-Mallorca Son Bonet Airport-ISLAS BALEARES-SPAIN"
More local than LEPA. Again, nobody is to touch this without permission.

[2016-02-07 08:34] dushyants19 opened #378 "VOMM"
India - Chennai. No one touches my city :grimacing:

[2016-02-07 11:24] IceBlue02 opened #379 "EGCC-Manchester Airport-ENGLAND-UNITED KINGDOM"
Manchester- closest not currently in IF. One will not touch without one's permission :)

[2016-02-07 12:09] dushyants19 commented on #127
@JcFl4 you still doing this?

[2016-02-07 12:21] dushyants19 commented on #119
Changing runway attribute to Asphalt as per AirNav.

[2016-02-07 16:39] ghost opened #380 "LEDA"
I will do my local airport, Aeroport de Lleida-Alguaire.

[2016-02-07 17:12] ghost opened #381 "OKBK-Kuwait Intl Airport-KUWAIT CITY-KUWAIT"
Recycling is good.

[2016-02-08 02:44] DavidCutler opened #382 "KFWA-Fort Wayne-INDIANA-USA"
Indiana

[2016-02-08 02:50] DavidCutler opened #383 "KSBN"
Indiana

[2016-02-08 21:32] JcFl4 commented on #127
No, no. It was closed already.

[2016-02-08 23:50] #383 closed

[2016-02-09 10:19] BVRAU opened #384 "YMTG-Mount Gambier Airport-SOUTH AUSTRALIA-AUSTRALIA"
Creating Mount Gambier Airport, SA. Non-Region airport

[2016-02-10 01:56] DavidCutler opened #385 "SBKP-Campinas Viracopos Airport-SAO PAULO-BRAZIL"
Recycling issues is awesome! ♻️

-Bruno

[2016-02-12 01:28] NickArt1342 opened #386 "LSZH-Zurich Airport-ZURICH-SWITZERLAND"
Work in progress

[2016-02-13 03:04] BVRAU commented on #384
Finished and Submitted

[2016-02-13 03:05] BVRAU commented on #353
Was this complete? If not I will do this

[2016-02-13 09:17] dushyants19 opened #388 "EGDM-Boscombe Down Airport-ENGLAND-UNITED KINGDOM"
London
Requires a lot of taxilines and a possible re-do

[2016-02-13 09:38] BVRAU commented on #353
DM'd you, hear from you soon!

[2016-02-13 10:33] IceBlue02 commented on #353
BVR taking this one over.

[2016-02-13 10:38] IceBlue02 opened #389 "YMML-Melbourne Airport-VICTORIA-AUSTRALIA"
Tip-off from BVRAU.

Looks like it needs some work/a redo

[2016-02-13 10:45] dushyants19 opened #390 "EGVA"
London, Xplane antique. Needs lines and maybe a redo.

[2016-02-13 19:24] kilt46 commented on #282
Airport rebuilt

[2016-02-13 19:25] kilt46 opened #391 "OMAA-Abu Dhabi Airport-ABU DHABI-UNITED ARAB EMIRATES"
Airport Rebuild

[2016-02-13 22:13] Ksisky opened #392 "KOWD"
Local Airport, should be fun.

[2016-02-14 12:03] JcFl4 opened #393 "OMDB-Dubai International Airport-DUBAI-UNITED ARAB EMIRATES"
Dubai is coming!

[2016-02-14 12:07] JcFl4 opened #394 "EDDF-Frankfurt Airport-HESSE-GERMANY"
Rhein-Main-Flughafen!

[2016-02-14 14:36] kilt46 commented on #361
Buildings and gates added

[2016-02-14 16:23] Ksisky commented on #136
I'm removing Axel as an assignee, he hasn't made a commit in 4+ months.

[2016-02-14 17:22] kilt46 commented on #360
This airport is no longer in use

[2016-02-14 17:22] #360 closed

[2016-02-14 18:24] IceBlue02 commented on #257
Is this done? If not see https://community.infinite-flight.com/t/wrongly-named-gates-at-wsss-t2/25698/2

[2016-02-14 18:47] IceBlue02 opened #395 "LFPB-Paris–Le Bourget Airport-ILE DE FRANCE-FRANCE"
Paris Le Bourget

Gonna Redo as necessary.

[2016-02-14 21:30] AxelBeder commented on #395
Better be a nice one :eyes: don't joke with Paris. :smile:

[2016-02-14 21:38] IceBlue02 commented on #395
Haha No pressure lol ;-)

[2016-02-16 12:06] NickArt1342 commented on #257
The issue has been addressed and fixed.

[2016-02-16 12:09] NickArt1342 opened #396 "LSGG-Geneve Airport-GENEVE-SWITZERLAND"
Doing this one in the future when done with region airports.

[2016-02-16 12:14] NickArt1342 commented on #367
@dushyants19 are you still doing this one?

[2016-02-16 12:48] dushyants19 commented on #367
No but I had some issues with another Taxiway which isn't in Bing Maps, you can have it
@NickArt1342

[2016-02-16 16:20] antbelldev opened #397 "LSGL"
Working on regional airports. Lausanne-Blécherette, Switzerland.

[2016-02-16 16:36] carmichaelalonso commented on #397
Hey @antbelldev! If you get a chance, could you drop us an email at airports@liveflightapp.com?
Thanks for getting involved with this project! :)

[2016-02-17 18:31] Ksisky opened #398 "KACK"
Complete redo of KACK

[2016-02-17 20:23] NickArt1342 commented on #358
Gates added: I do not see any potential in this airport in terms of design though.

[2016-02-17 20:23] #358 closed

[2016-02-18 02:47] kilt46 commented on #391
Airport redrawn from scratch

[2016-02-18 02:48] kilt46 opened #399 "KATL-Hartsfield-Jackson Atlanta International Airport-GEORGIA-USA"

[2016-02-19 04:07] Swang007 commented on #19
![slack for ios upload png](https://cloud.githubusercontent.com/assets/11000109/13166307/e0a36b94-d68b-11e5-8fdd-b3c998f1f8d0.jpeg)

Joe just sent me this. Apparently all taxiways are KORD are gone. Just checked the repo and the apt.dat file seems to be fine, in the sense that taxiways do show up in WED. @kilt46

[2016-02-19 05:57] JohnPreston21 commented on #19
I can confirm this. I am at KORD now and it is nothing but grass covering the entire field.

[2016-02-19 07:59] NickArt1342 commented on #19
I just checked it out and there is no taxiway at all, only lines and runways at KORD. @kilt46 you have any idea why?

[2016-02-19 08:14] NickArt1342 commented on #353
Where did at @BVRAU go? Is he still doing it? I can't assign it to him somehow.

[2016-02-19 10:40] #367 closed

[2016-02-19 10:41] NickArt1342 commented on #367
90% clean redone, added spawn points and taxilines and taxiways. For this airport it'd be useful if gravel or broken asphalt and dirt would be rendered.

[2016-02-19 10:43] NickArt1342 commented on #345
What is the status on this?

[2016-02-19 12:02] BVRAU commented on #353
I'm still doing it, I've just been extremely busy

Sent from my iPhone

[2016-02-19 12:44] dushyants19 opened #400 "OTHH-Hamad International Airport-AD DAWHAH-QATAR"
Doha - Hamad. Its mine :stuck_out_tongue:

[2016-02-19 18:54] dushyants19 commented on #366
Finished, in just 6 hours!

[2016-02-19 18:54] #366 closed

[2016-02-19 21:29] Ksisky commented on #392
Done, waiting on submit confirmation.

[2016-02-20 10:23] dushyants19 commented on #371
Approved.

[2016-02-20 10:23] #371 closed

[2016-02-20 12:36] NickArt1342 opened #401 "VHHH-Hong Kong International Airport-HONG KONG-CHINA"
ZRH is nearly finished, so here comes my next task

[2016-02-20 12:47] NickArt1342 commented on #401
Axel already did this one.

[2016-02-20 15:13] kilt46 commented on #201
Hmm it is now Feb 2015 and this one is yet to be completed!

[2016-02-20 15:28] dushyants19 commented on #19
Fixed, check latest push

[2016-02-20 15:33] kilt46 commented on #357
Runway realigned. 3 spawn points

[2016-02-20 15:33] #357 closed

[2016-02-20 15:39] dushyants19 commented on #362
@Ksisky did you even do anything? There's nothing in the repo

![image](https://cloud.githubusercontent.com/assets/13567007/13197530/469b488c-d816-11e5-8a48-bc9b511b5399.png)

[2016-02-20 15:40] JcFl4 commented on #201
Oh I forgot! Now i'm doing OMDB... When I finish I will continue with EDLV. Thanks!

[2016-02-20 15:57] dushyants19 commented on #359
Done

[2016-02-20 15:57] #359 closed

[2016-02-20 16:09] dushyants19 commented on #390
Just some taxi-lines, very easy.

[2016-02-20 16:55] kilt46 opened #402 "EG74 - Echo - London"
Requires rework

[2016-02-20 16:56] kilt46 opened #403 "EGXJ-RAF Cottesmore-ENGLAND-UNITED KINGDOM"
Requires rework

[2016-02-20 16:57] kilt46 opened #404 "EGXT London Area"
Needs rework

[2016-02-20 16:58] kilt46 opened #405 "EGUY - London Area"
Requires rework

[2016-02-20 16:58] kilt46 opened #406 "EGXH London Area"
Requires rework

[2016-02-20 16:59] kilt46 opened #407 "EGUL-RAF Lakenheath-ENGLAND-UNITED KINGDOM"
Requires rework

[2016-02-20 17:00] kilt46 opened #408 "EGUN London Area"
Requires rework

[2016-02-20 17:00] kilt46 opened #409 "EGBT London Area"
Requires rework

[2016-02-20 17:01] kilt46 opened #410 "EGUW London Area"
Needs rework

[2016-02-20 17:02] kilt46 opened #411 "EGLD London Area"
Needs reworked

[2016-02-20 17:02] kilt46 opened #412 "EGUB-RAF Benson-ENGLAND-UNITED KINGDOM"
Needs reworked

[2016-02-20 17:02] kilt46 opened #413 "EGLK London Area"
Needs rework

[2016-02-20 17:03] kilt46 opened #414 "EGVO London Area"
Needs rework

[2016-02-20 17:03] kilt46 opened #415 "EGHL London Area"
Needs rework

[2016-02-20 17:04] kilt46 opened #416 "EGSC-Cambridge Airport-CAMBRIDGESHIRE-UNITED KINGDOM"
Needs rework

[2016-02-21 02:46] Ksisky commented on #362
@dushyants19 I added taxi lines, but when I submitted it, it was denied.

[2016-02-21 17:17] kilt46 opened #417 "EGWN London"
Airport redo

[2016-02-21 17:48] IceBlue02 commented on #411
will do

[2016-02-21 17:56] IceBlue02 commented on #416
will do.

[2016-02-21 18:03] kilt46 commented on #417
Building added

[2016-02-21 18:03] #417 closed

[2016-02-22 03:49] kilt46 commented on #399
Airport has been reworked

[2016-02-22 03:52] kilt46 opened #418 "NZAA-Auckland Airport-AUCKLAND-NEW ZEALAND"

[2016-02-22 04:03] JohnPreston21 commented on #418
We have new uncovered regions?

[2016-02-22 05:55] Swang007 commented on #283
Miami International Airport.
Gates D39 and D41 are repeated 3 times for each.

https://community.infinite-flight.com/t/list-of-airports-changed-since-last-release-feb-2016/24899/4

[2016-02-22 08:45] dushyants19 commented on #412
Will do

[2016-02-22 09:40] dushyants19 commented on #325
@DavidCutler are you doing this?

[2016-02-22 09:41] dushyants19 commented on #348
Done it @cboisselier ?

[2016-02-22 09:45] dushyants19 commented on #297
Are you still doing this @ErmakDimon ?

[2016-02-22 09:47] dushyants19 commented on #323
@ErmakDimon Please assign yourself and update on this

[2016-02-22 09:48] dushyants19 commented on #353
@BVRAU Assign yourself please.

[2016-02-22 09:48] dushyants19 commented on #381
@vkrgarcia assign yourself please.

[2016-02-22 09:53] dushyants19 commented on #323
About 20 spawns here, means its redone.

[2016-02-22 10:23] BVRAU commented on #353
@dushyants19 If I could assign myself I would've already, But I cant't.

[2016-02-22 10:29] dushyants19 commented on #353
@BVRAU are you on slack? tell your email to @carmichaelalonso

[2016-02-22 12:19] dushyants19 commented on #283
Will fix :D

[2016-02-22 12:51] kilt46 commented on #369
This was completed in January 2016

[2016-02-22 12:51] #369 closed

[2016-02-22 12:55] dushyants19 commented on #283
Done

[2016-02-22 13:18] kilt46 commented on #415
No lines in this one. buildings added

[2016-02-22 13:18] #415 closed

[2016-02-22 17:47] dushyants19 commented on #395
Continue here

https://github.com/InfiniteFlightAirportEditing/Airports/issues/325#issuecomment-187096308

[2016-02-22 18:58] IceBlue02 commented on #325
On Hold- If anyone wants to pick up especiall @cboisselier or @AxelBeder DM me on slack- not much done tho.

[2016-02-22 19:00] IceBlue02 commented on #411
Done and Submitted :wink:

[2016-02-22 19:00] #411 closed

[2016-02-23 11:47] dushyants19 commented on #290
Free to take, his computer is down

[2016-02-24 12:11] dushyants19 commented on #77
Its moved from satellite imagery, misaligned with G maps

[2016-02-27 16:38] #201 closed

[2016-02-27 20:01] JcFl4 opened #419 "LEMD-Adolfo Suárez Madrid–Barajas Airport-COMUNIDAD DE MADRID-SPAIN"
Próximamente, Madrid!

[2016-02-27 21:00] Will171 commented on #354
Finished and has been approved

[2016-02-27 21:20] Will171 commented on #414
ill have a look at this one

[2016-02-27 21:42] Ksisky opened #420 "99CL-El Mirage Field-CALIFORNIA-USA"

[2016-02-28 19:45] Will171 commented on #414
Sent off, awaiting approval

[2016-02-28 21:11] Will171 opened #421 "7A8"
Assigned to Freddie

[2016-02-28 21:19] freddiefrogs commented on #421
This is being done by me currently

[2016-02-28 21:23] freddiefrogs opened #422 "KMRN"
Needs love

[2016-02-28 21:24] freddiefrogs commented on #422
Undeveloped

[2016-02-29 14:42] dushyants19 commented on #420
Region? @Ksisky

[2016-02-29 14:43] dushyants19 commented on #422
mention region please :)

[2016-02-29 14:54] HenrikBerg02 commented on #420
@dushyants19, stop being lazy, search it up. The region is Southern California.

[2016-02-29 14:55] HenrikBerg02 commented on #422
@dushyants19, more laziness. The region is Charlotte.

[2016-02-29 18:48] freddiefrogs commented on #422
im doing this. i dont know how to add the label. #noobproblems

[2016-02-29 18:49] HenrikBerg02 commented on #422
Hmm, it doesn't show you as part of the repo, @freddiefrogs. @carmichaelalonso, could you add him?

[2016-02-29 19:57] HenrikBerg02 commented on #280
@samuelandersson, are you still working on this one? If not, change it back to "Suggestion" so another editor can redo it.

[2016-02-29 20:57] #421 closed

[2016-02-29 22:38] JcFl4 opened #423 "BGSS"
Sisimiut Airport

[2016-02-29 22:38] #423 closed

[2016-02-29 22:39] JcFl4 opened #424 "BIAR"
Akureyri Airport

[2016-02-29 22:39] #424 closed

[2016-03-01 08:14] #422 closed

[2016-03-01 22:14] JcFl4 opened #425 "TDPD-Douglas–Charles Airport-DOMINICA-DOMINICA"

[2016-03-02 14:50] dushyants19 commented on #420
This airport is a desert where 2 of its runways can be barely seen..

[2016-03-02 21:02] JcFl4 opened #426 "HAGN"
Gondar, Ethiopia.

[2016-03-02 22:49] #426 closed

[2016-03-03 08:54] dushyants19 commented on #420
Done

[2016-03-03 08:58] dushyants19 commented on #345
@NickArt1342 he deleted his account, so its open now.

[2016-03-03 20:33] JcFl4 opened #427 "BIRK-Reykjavík Airport-HOFUDBORGARSVAEDI-ICELAND"
Reykjavik, Iceland

[2016-03-04 19:44] dushyants19 commented on #343
Done :)

[2016-03-04 22:03] kilt46 opened #428 "KDFW-Dallas/Fort Worth International Airport-TEXAS-USA"
Next on my list

[2016-03-05 06:50] dushyants19 commented on #64
Will do

[2016-03-05 11:51] kilt46 commented on #413
Airport redone

[2016-03-05 15:05] kilt46 commented on #418
Airport redone from scratch

[2016-03-05 15:06] #413 closed

[2016-03-05 15:09] ghost opened #429 "KMSY-Louis Armstrong New Orleans International Airport-LOUISIANA-USA"
Louisiana

[2016-03-05 15:20] dushyants19 commented on #64
Done :)

[2016-03-05 15:20] #64 closed

[2016-03-05 15:20] JohnPreston21 commented on #429
I would like to do this one.

[2016-03-05 18:05] kilt46 commented on #412
Airport fully reworked

[2016-03-05 18:08] JcFl4 opened #430 "BIHN"
Hornafjordur Airport, Iceland

[2016-03-05 20:07] #430 closed

[2016-03-05 20:11] JcFl4 opened #431 "BIIS"
Isafjordur airport, Iceland

[2016-03-05 20:56] #431 closed

[2016-03-05 21:26] JcFl4 opened #432 "BIEG"
Eglisstadir airport, Iceland.

[2016-03-05 23:29] #432 closed

[2016-03-06 05:59] henrikbg opened #433 "PANC-Ted Stevens Anchorage Airport-ALASKA-USA"
Ted Stevens Anchorage International Airport.

[2016-03-06 09:36] freddiefrogs opened #434 "TNCM"
Airport boundary has been increased too much.

[2016-03-06 09:37] antbelldev commented on #397
Approved

[2016-03-06 09:37] #397 closed

[2016-03-06 10:35] dushyants19 commented on #434
Search before posting, like the forum.
https://github.com/InfiniteFlightAirportEditing/Airports/issues/21

[2016-03-06 10:36] dushyants19 commented on #21
Airport boundary increased it seems, will fix

[2016-03-06 10:40] JcFl4 commented on #433
I'm planning on doing some Alaskan airports too, so great!

[2016-03-06 10:41] JcFl4 opened #435 "BIBD"
Bildudalur airport, Iceland

[2016-03-06 10:50] dushyants19 commented on #21
Done

[2016-03-06 11:14] #435 closed

[2016-03-06 11:15] JcFl4 opened #436 "BGKK"
Kulusuk, Greenland.

[2016-03-06 11:44] #436 closed

[2016-03-06 11:44] JcFl4 opened #437 "BIVM"
Vestmannaeyjar airport, Iceland

[2016-03-06 12:34] #437 closed

[2016-03-06 12:36] JcFl4 opened #438 "BIVO"
Vopnafjordur airport, Iceland.

[2016-03-06 13:12] antbelldev opened #439 "LFSB"
EuroAirport Basel-Mulhouse

[2016-03-06 13:37] dushyants19 commented on #77
Alinged now with a redo

[2016-03-06 16:55] freddiefrogs opened #440 "PLCH-Christmas Island/Cassidy International Airport-CHRISTMAS ISLAND-KIRIBATI"
Cassidy Intl, Kiribati

[2016-03-06 18:00] kilt46 commented on #136
Renamed gates. This airport looks done

[2016-03-06 19:19] #438 closed

[2016-03-06 22:52] JcFl4 commented on #440
Why did you chose this remote airport? And how did you find it? Hahaha

[2016-03-07 07:44] freddiefrogs commented on #440
@JcFl4 I found it by looking at a map of the South Pacific.

[2016-03-07 08:49] JcFl4 commented on #440
I see... I was just wondering, it's so far into the Pacific!

[2016-03-07 17:29] IceBlue02 commented on #410
Will be my next one :)

[2016-03-07 20:53] IceBlue02 commented on #416
Done & submitted :)

[2016-03-07 20:54] #414 closed

[2016-03-08 08:57] dushyants19 commented on #147
Needs a redo, multiple taxiways

[2016-03-08 17:21] freddiefrogs opened #441 "YORG"
Orange, Sydney region.

[2016-03-08 18:34] ghost opened #442 "MP25-Puerto Armuelles Airport-CHIRIQUI-PANAMA"
♻️

[2016-03-08 21:27] freddiefrogs commented on #441
Done

[2016-03-08 21:28] #441 closed

[2016-03-09 12:04] dushyants19 commented on #248
Adding 0 to unit numbers. And correcting the boundary :)

[2016-03-09 19:42] freddiefrogs commented on #409
Will do.

[2016-03-09 20:34] freddiefrogs commented on #409
Done

[2016-03-09 20:34] #409 closed

[2016-03-09 20:37] freddiefrogs opened #443 "EGHJ"
Bembridge, London

[2016-03-09 21:07] freddiefrogs commented on #443
Done

[2016-03-09 21:07] #443 closed

[2016-03-10 15:40] dushyants19 opened #444 "KBDR-Sikorsky Memorial Airport-CONNECTICUT-USA"
New York. Many taxiways. No lines, Needs rework

[2016-03-10 15:54] dushyants19 opened #445 "KWRI-McGuire AFB-NEW JERSEY-USA"
New York. No Taxilines

[2016-03-11 12:31] dushyants19 commented on #291
@DavidCutler are you still "fixing her"?

[2016-03-11 15:04] dushyants19 commented on #356
Fixed

[2016-03-11 15:04] #356 closed

[2016-03-11 15:06] #291 closed

[2016-03-11 17:39] JonathanAirbus opened #446 "CYUL-Montréal-Pierre Elliott Trudeau International Airport-QUEBEC-CANADA"
Redoing it

[2016-03-12 16:39] ItsW1ll opened #447 "EKCH-Copenhagen Airport-HOVEDSTADEN-DENMARK"
Kastrup Copenhagen

[2016-03-13 11:09] dushyants19 commented on #295
Quoted from https://github.com/InfiniteFlightAirportEditing/Airports/issues/447,

[2016-03-13 11:24] Will171 commented on #295
![image](https://cloud.githubusercontent.com/assets/16463484/13728380/13d830c8-e90e-11e5-870b-c5d114b5814d.png)

[2016-03-13 18:57] HenrikBerg02 commented on #203
I'll rework this.

[2016-03-13 19:02] JcFl4 opened #448 "PACD"
Cold Bay, Alaska.

[2016-03-13 19:28] freddiefrogs commented on #444
Done

[2016-03-13 20:54] #448 closed

[2016-03-14 10:47] dushyants19 commented on #18
Boundary Fixed, was taking too much area from the Docks

[2016-03-14 11:27] dushyants19 commented on #307
Henrik, you don't add hashed regions and letter markings on taxiway :rage:

[2016-03-14 13:55] dushyants19 commented on #107
Misalinged with G Maps :disappointed: Not uniform misalignment either

[2016-03-14 15:40] sudafly commented on #445
ok i add taxilines

[2016-03-15 20:17] JcFl4 opened #449 "BGSF"
Kangerlussuaq, Greenland

[2016-03-15 22:11] #449 closed

[2016-03-16 09:28] dushyants19 commented on #280
Done

[2016-03-16 09:28] #280 closed

[2016-03-16 18:44] JcFl4 opened #450 "BGBW"
Narsarsuaq, Greenland

[2016-03-16 19:47] #450 closed

[2016-03-16 19:49] JcFl4 opened #451 "BGGH-Nuuk Airport-GODTHAAB-GREENLAND"
Nuuk, Greenland

[2016-03-16 21:35] JcFl4 opened #452 "BGJN"
Ilulissat, Greenland.

[2016-03-16 22:11] #452 closed

[2016-03-16 22:23] HenrikBerg02 commented on #147
I'll rework this one.

[2016-03-17 00:51] RileyDunshea commented on #147
Henrik I am currently reworking KEGE already

Sent from my iPad

[2016-03-17 02:06] HenrikBerg02 commented on #147
I just finished reworking it. You assigned it nine days ago and it hasn't been finished yet, I decided to go ahead and do it for you. :)

[2016-03-17 09:05] Will171 commented on #295
Sill needs work, ill have a look at it :)

[2016-03-17 09:10] dushyants19 opened #453 "S88"
Removing runway spawns

[2016-03-17 09:22] dushyants19 commented on #453
Done

[2016-03-17 09:22] #453 closed

[2016-03-17 19:19] freddiefrogs opened #454 "FVWN-Hwange National Pk Airport-MATABELELAND-ZIMBABWE"
REUSED

[2016-03-18 05:29] #402 closed

[2016-03-18 05:39] Swang007 commented on #295
@Will171: Are you basing this off of the current in-game scenery or did you check out Dushyanth's latest commit from 5 days ago?

[2016-03-18 05:40] Swang007 commented on #445
@sudafly status update on this airport?

[2016-03-18 05:41] Swang007 commented on #381
@vkrgarcia Are you still working on this? Let us know here or in Slack if you have any questions :)

[2016-03-18 05:42] Swang007 commented on #353
@BVRAU Does this mean you won't be doing this airport anymore?

[2016-03-18 05:44] BVRAU commented on #353
Yes, that is correct

[2016-03-18 05:46] Swang007 commented on #348
This airport was never committed. Is this still being worked on?

[2016-03-18 05:47] Swang007 commented on #353
@IceBlue02 or @NickArt1342? This one is up for grabs

[2016-03-18 06:15] Swang007 commented on #29
If someone has a great attention to detail, this should be a quick project for you. It's not a biggie, but all the individual points need to be replaced with curved lines.

![points](https://cloud.githubusercontent.com/assets/11000109/13869832/7c93677a-ec9e-11e5-8a63-9362cd1ea667.png)

[2016-03-18 07:35] sudafly commented on #445
@Swang007 I only have to do small things

[2016-03-18 11:00] dushyants19 commented on #454
Search before postin'

https://github.com/InfiniteFlightAirportEditing/Airports/issues/290

[2016-03-18 11:00] dushyants19 commented on #290
(Assigned @freddiefrogs)

[2016-03-19 00:54] #345 closed

[2016-03-19 22:01] Ksisky opened #455 "KPVC"

[2016-03-19 22:08] Ksisky opened #456 "WSAP"
Taxiways and lines need snapping.

[2016-03-19 22:09] HenrikBerg02 commented on #456
I'll take this one.

[2016-03-19 22:24] HenrikBerg02 commented on #456
Fixed.

[2016-03-19 22:24] #456 closed

[2016-03-20 00:43] HenrikBerg02 commented on #338
@cboisselier, are you still working on this? If not, I'll take it and redo it.

[2016-03-20 02:10] Ksisky opened #457 "KOKB - SoCal"
Needs snapping and has incorrect markings.

[2016-03-20 08:28] dushyants19 commented on #457
Continue [here](https://github.com/InfiniteFlightAirportEditing/Airports/issues/69)

[2016-03-20 08:28] #457 closed

[2016-03-20 13:24] HenrikBerg02 commented on #338
Reworking.

[2016-03-21 01:02] Ksisky opened #458 "KSBM - Oshkosh"
Taxiways need snapping.

[2016-03-23 12:27] dushyants19 commented on #28
Needs a redo

[2016-03-23 15:35] dushyants19 opened #459 "YSCN"
Sydney - needs a rework

[2016-03-23 18:44] IceBlue02 commented on #28
Will do

[2016-03-24 20:55] kilt46 commented on #459
Airport redone!

[2016-03-24 20:55] #459 closed

[2016-03-24 21:21] freddiefrogs opened #460 "LIPB-Bolzano Airport-TRENTINO-ALTO ADIGE-ITALY"

[2016-03-24 21:50] kilt46 commented on #458
I don't snap taxiways   :)

[2016-03-24 22:34] kilt46 commented on #69
apron and buildings redone

[2016-03-25 01:38] kilt46 opened #461 "KWJF"
Add buildings - redo spawn points

[2016-03-25 02:18] kilt46 commented on #461
Airport refresh

[2016-03-25 02:18] #461 closed

[2016-03-25 03:38] kilt46 commented on #287
Airport rebuilt

[2016-03-25 03:38] #287 closed

[2016-03-25 11:47] kilt46 commented on #289
Airport redone

[2016-03-25 11:47] #289 closed

[2016-03-25 13:12] kilt46 commented on #294
Airport realigned and cleaned up

[2016-03-25 13:12] #294 closed

[2016-03-25 16:37] dushyants19 commented on #458
Will do :)

[2016-03-25 18:59] dushyants19 commented on #458
Done most of them

[2016-03-25 18:59] #458 closed

[2016-03-25 20:20] IceBlue02 opened #462 "PHMK-Molokai Airport-HAWAII-USA"
(Hawaii)

Needs some love

[2016-03-26 13:20] kilt46 commented on #297
Redrawn

[2016-03-26 13:20] #297 closed

[2016-03-26 13:27] kilt46 opened #463 "KVNY-Van Nuys Airport-CALIFORNIA-USA"
Redrawing airport - SoCal Update

[2016-03-26 21:16] kilt46 commented on #299
Airport redrawn

[2016-03-26 21:16] #299 closed

[2016-03-27 12:23] kilt46 commented on #362
![image](https://cloud.githubusercontent.com/assets/14023167/14065389/d8fb6aee-f3ec-11e5-8269-7b58aaa7ab89.png)
Done

[2016-03-27 12:23] #362 closed

[2016-03-27 14:01] kilt46 commented on #389
Not currentlt a 'Suggestion as is Non-Region. Please leave "Suggestion for current IF released airports"

[2016-03-27 20:11] sudafly commented on #445
Hi guys,

I have a problem:-(

My dad has reset our mac without a backup. So i lost all my work :-1: :-((

I have to download all things again. I also lost this airport, it was so much work.

[2016-03-27 20:12] sudafly commented on #390
i do it!

[2016-03-27 21:10] kilt46 commented on #428
Airport redrawn from scratch

[2016-03-27 22:05] IceBlue02 opened #464 "LFPH"
https://community.infinite-flight.com/t/tarmac-error-lfph/32410

May need a full redo, otherwise a quick fix

[2016-03-27 22:31] kilt46 commented on #462
Looks fine to me. did some minor tweaks.

[2016-03-27 22:47] kilt46 commented on #464
Gates modified. gras strip removed. New buildings added.

[2016-03-27 22:47] #464 closed

[2016-03-28 07:26] NickArt1342 opened #465 "EDDM-Munich Airport-BAVARIA-GERMANY"
Munich

[2016-03-28 17:38] IceBlue02 commented on #4
Needs a tarmac rewrite- Misaligned

[2016-03-29 00:18] Ksisky opened #466 "KMVY"

[2016-03-29 03:04] Zimnaan opened #467 "EGKA"
Shoreham Airport has changed its name to Brighton City Airport.

[2016-03-29 07:55] ghost opened #468 "CYYZ-Toronto Pearson International Airport-ONTARIO-CANADA"
Toronto Pearson International Airport, Ontario, Canada.

[2016-03-29 08:41] RileyDunshea commented on #468
Completed

[2016-03-29 11:56] dushyants19 commented on #467
Ill do it

[2016-03-30 00:40] kilt46 commented on #408
Airport redone

[2016-03-30 00:40] #408 closed

[2016-03-31 23:37] RileyDunshea opened #469 "3B0"
Needs to be done from scratch

[2016-04-01 00:29] #469 closed

[2016-04-01 00:30] RileyDunshea commented on #469
It didnt need re-doing my mistake

[2016-04-01 00:44] RileyDunshea opened #470 "1B6"
Hopedale, Needs a complete re-do

[2016-04-01 02:42] HenrikBerg02 commented on #465
Duplicate. Continue in this issue: https://github.com/InfiniteFlightAirportEditing/Airports/issues/180

[2016-04-01 02:43] HenrikBerg02 commented on #180
This needs a major redo. No spawn points, no snapped taxiways, and poor overall design. @samuelandersson, are you still working on this or did you abandon it?

[2016-04-01 07:28] dushyants19 commented on #467
Redo completed, Name not changed.

[2016-04-01 07:28] #467 closed

[2016-04-01 07:38] dushyants19 commented on #108
Needs a redo

[2016-04-01 09:22] dushyants19 commented on #353
I'll do it

[2016-04-01 10:01] samuelandersson commented on #180
I have abandoned it. Something happened to my hard drive which pretty much removed most of my files and documents from the computer. Then I forgot to remove my assignment here. Sorry.

[2016-04-02 01:26] IFAEpat commented on #108
May wok on it after KDBQ :)

[2016-04-02 03:01] IFAEpat commented on #365
I will do it 👍

[2016-04-02 13:25] kilt46 commented on #407
Airport redone

[2016-04-02 19:34] freddiefrogs commented on #348
I'll do it.

[2016-04-02 20:15] freddiefrogs commented on #348
It seems he did do the airport. It looks complete. Will give it a proper check tomorrow though.

[2016-04-02 20:35] Will171 commented on #295
i checked his latest commit, and worked from that.

[2016-04-02 22:17] ItsW1ll opened #471 "EGMD-Lydd Airport-ENGLAND-UNITED KINGDOM"
Some small improvements needed.

[2016-04-02 23:38] kilt46 commented on #255
White lines need to be removed. Hatching needs to be removed. Runway name needs 0 at beginning

[2016-04-03 12:06] kilt46 commented on #406
Airport redrawn and Gates added

[2016-04-03 12:06] #406 closed

[2016-04-03 13:47] DavidCutler opened #472 "KSDF-Louisville International-Standiford Field Airport-KENTUCKY-USA"
Kentucky

[2016-04-03 14:48] dushyants19 commented on #108
@IFAEpat is doing this

[2016-04-03 16:35] kilt46 commented on #365
Artifact airport - NO LINES!

[2016-04-03 16:47] NickArt1342 commented on #255
0 added

[2016-04-03 17:12] kilt46 commented on #405
Airport redrawn

[2016-04-03 17:12] #405 closed

[2016-04-03 23:57] kilt46 commented on #404
Airport redrawn

[2016-04-03 23:57] #404 closed

[2016-04-04 00:43] kilt46 commented on #4
17L 35R
![image](https://cloud.githubusercontent.com/assets/14023167/14236052/58df0828-f9d4-11e5-8a0d-af32e4a96958.png)

[2016-04-04 00:45] kilt46 commented on #4
Realigned
![image](https://cloud.githubusercontent.com/assets/14023167/14236069/a0ae1450-f9d4-11e5-9c72-d83d4bc5091f.png)

[2016-04-04 00:45] #4 closed

[2016-04-04 00:48] kilt46 commented on #4
17L lined up
![image](https://cloud.githubusercontent.com/assets/14023167/14236085/02c998bc-f9d5-11e5-8342-9ca34474a323.png)

[2016-04-04 21:09] Ksisky commented on #392
Submitted to repo.

[2016-04-04 21:10] Ksisky commented on #455
Done, submitted to repo.

[2016-04-05 01:17] kilt46 commented on #463
Airport redesigned

[2016-04-05 11:55] dushyants19 commented on #318
Misalinged badly and Bing scenery isn't great. High priority

[2016-04-05 23:47] kilt46 commented on #28
Why does this need a redo?
![image](https://cloud.githubusercontent.com/assets/14023167/14301615/d9f9e2ee-fb5e-11e5-9baf-2ff5c6a74acc.png)

[2016-04-07 09:57] IceBlue02 commented on #318
I'll take :)

LAST SUGGESTION GONE!!! (For Now)

[2016-04-07 16:27] IceBlue02 commented on #410
Finished and in for review.

[2016-04-07 16:27] #410 closed

[2016-04-07 16:34] IceBlue02 commented on #28
Going with Kilt's version- in 4.0

[2016-04-07 16:35] IceBlue02 commented on #29
@kilt46 are you done?

[2016-04-07 16:37] IceBlue02 commented on #195
@JohnPreston21 is this finished?

[2016-04-07 16:55] IceBlue02 commented on #255
@NickArt1342 what are you doing with this ATM?

[2016-04-07 16:55] IceBlue02 commented on #264
@kilt46 have you redone this?

[2016-04-07 16:56] NickArt1342 commented on #255
I'm working on it @IceBlue02

[2016-04-07 16:56] JohnPreston21 commented on #195
You can have this one @IceBlue02. Completely forgot about it.

[2016-04-07 16:57] IceBlue02 commented on #310
@Zimnaan have you done this yet? Or can we free it up for someone else?

[2016-04-07 16:57] IceBlue02 commented on #318
Finished and going in for review.

[2016-04-07 16:58] IceBlue02 commented on #348
@freddiefrogs is it ok?

[2016-04-07 17:00] JohnPreston21 commented on #429
Will get started finally.

[2016-04-07 17:00] IceBlue02 commented on #195
Will do, thanks @JohnPreston21

[2016-04-07 17:02] JohnPreston21 commented on #195
Sorry about that

[2016-04-07 18:10] Will171 commented on #471
Full redo completed- issue closed

[2016-04-07 18:13] ItsW1ll opened #474 "TNCS-Juancho E. Yrausquin Airport-SABA-CARIBBEAN NETHERLANDS"
More parking needed and needs lining up with wed imagery and runway heading needs to be changed. Possible redo needed. Good Luck!

[2016-04-07 21:34] Zimnaan commented on #310
@iceblue02,yeah you can free it up for someone else.

[2016-04-07 21:52] IceBlue02 commented on #310
And boom, he pounces.

Thanks @Zimnaan.

[2016-04-07 22:45] kilt46 opened #475 "DIAP-Felix Houphouet Boigny International-ABIDJAN-IVORY COAST"
ABIDJAN, IVORY COAST

[2016-04-07 22:52] kilt46 commented on #474
This is a NON-REGION airport. Please reserve 'Suggestion' for current airfields

[2016-04-08 00:05] kilt46 commented on #29
No

Sent from my iPad

[2016-04-08 02:12] Zimnaan commented on #310
No problem

[2016-04-08 04:54] dushyants19 commented on #474
Not non-region @kilt46 :)

[2016-04-08 05:10] dushyants19 commented on #445
Can you continue? @sudafly

[2016-04-08 06:14] sudafly commented on #445
I now creating airports of Suriname and Guyana, so i'm busy. Maby if i done with This region.
Sorry if my english is bad, i used GoogleTranslate

[2016-04-08 11:58] IceBlue02 opened #476 "KUDD"
SoCal.

Only parking runway spawns.

[2016-04-09 01:28] HenrikBerg02 opened #477 "KXTA"
Homey Airport. (Area 51)

[2016-04-09 13:07] dushyants19 commented on #477
Add proper labels, Henry. 😡

[2016-04-09 13:28] dushyants19 commented on #474
Ill do it

[2016-04-09 17:43] dushyants19 commented on #474
Done

[2016-04-09 17:57] dushyants19 commented on #476
I'll do it.

[2016-04-09 20:18] dushyants19 commented on #476
Done. Cheers

[2016-04-09 20:18] #476 closed

[2016-04-10 09:16] Will171 commented on #295
Completed

[2016-04-10 09:17] Will171 commented on #474
control tower and beacon have been placed outside of the boundary, will fix

[2016-04-10 12:39] dushyants19 commented on #180
I'm on this.

[2016-04-10 21:37] kilt46 commented on #107
Redesigned airport

[2016-04-11 15:39] NickArt1342 opened #481 "KATW"
Runway spawn.

[2016-04-11 15:40] dushyants19 commented on #481
Check https://github.com/InfiniteFlightAirportEditing/Airports/issues/161

[2016-04-11 15:40] #481 closed

[2016-04-11 16:09] dushyants19 commented on #208
Just some changes to the parking spots' names.

[2016-04-11 22:12] IFAEpilot8 commented on #445
If there still is no taxi lines I might do this airport. If that is okay.

[2016-04-12 02:57] kilt46 commented on #102
Reworking buildings and gates

[2016-04-13 15:32] dushyants19 commented on #290
@freddiefrogs still doing this? If not, remove labels and un-assign yourself

[2016-04-13 15:34] freddiefrogs commented on #290
It won't let me close the issue. :/

[2016-04-14 14:26] freddiefrogs commented on #403
Unable to complete - computer is no longer working. Can someone remove the labels and assignments and choose suggested. It's not working for me.

[2016-04-14 15:38] HenrikBerg02 commented on #403
@freddiefrogs, there was an post in #announcements regarding the labels and assignee change.

[2016-04-15 07:56] freddiefrogs commented on #403
Thanks. I've been away and not been keeping up.

[2016-04-15 07:57] freddiefrogs commented on #290
Thanks dushy.

[2016-04-15 17:46] kilt46 commented on #102
Airport redrawn

[2016-04-15 20:42] kilt46 opened #482 "KRIV-March Air Reserve Base-CALIFORNIA-USA "
Redo gates and buildings

[2016-04-16 00:20] kilt46 commented on #475
AIRPORT REDRAWN

[2016-04-16 08:55] dushyants19 opened #483 "KGWS-Glenwood Springs Municipal Airport-COLORADO-USA"
Denver, no spawns, Class E, quick project.

[2016-04-16 08:57] kenfre02 commented on #483
I'll do this one. :)

[2016-04-16 09:07] dushyants19 opened #484 "KPFC"
Echo, Quick redo, new editors can have this

[2016-04-16 09:12] dushyants19 opened #485 "KSMS-Sumter Airport-SOUTH CAROLINA-USA"
Echo, needs spawn points, lines.

[2016-04-16 13:03] #208 closed

[2016-04-17 14:34] kilt46 commented on #174
Combining taxiways together and cleaning up

[2016-04-18 12:18] dushyants19 opened #488 "EHTE"
Easy fix, check [this](https://community.infinite-flight.com/t/teuge-airport-ehte-missing-its-main-terminal-and-grass-taxiway/35818?u=dush19)

[2016-04-19 22:04] kilt46 commented on #482
Airport redone gates

[2016-04-20 18:27] freddiefrogs commented on #484
Will do

[2016-04-20 18:43] freddiefrogs commented on #484
Alas! I've run into another computer problem. I cannot do this unless it fixes itself all of a sudden.

[2016-04-20 18:47] freddiefrogs commented on #484
And the problem is gone! I'm getting work right away.

[2016-04-20 21:58] freddiefrogs commented on #484
Do e

[2016-04-20 22:55] IFAEpat commented on #388
Almost done with this one, only a few roadways left! :)

[2016-04-20 22:57] IFAEpat commented on #108
I have finished this long ago, still no review from staff... :/

[2016-04-21 11:10] #484 closed

[2016-04-21 16:59] freddiefrogs commented on #485
Will do

[2016-04-21 20:24] freddiefrogs commented on #485
@InfiniteFlightAirportEditing/airport-reviewers done

[2016-04-22 18:24] Ksisky commented on #398
Submitted on March 19, waiting for review.

[2016-04-22 19:36] Will171 commented on #403
ill see what i can do :)

[2016-04-22 19:38] Will171 commented on #403
i am unable to assign my self. I will be doing this one

[2016-04-23 11:06] kilt46 commented on #174
Airport redone

[2016-04-23 11:06] #174 closed

[2016-04-23 11:52] Will171 commented on #403
Cheers Henrik :)

[2016-04-23 11:54] Will171 commented on #474
Improvements Added.

[2016-04-23 12:36] kilt46 commented on #488
Airport redone

[2016-04-23 12:36] #488 closed

[2016-04-23 16:08] kilt46 opened #495 "KSAT-San Antonio International Airport-TEXAS-USA"
San Antonio, TX, USA

[2016-04-23 16:09] kilt46 opened #496 "KAEJ"
Request to redo:

[2016-04-23 20:32] kilt46 commented on #496
Airport redone from scratch

[2016-04-23 20:32] #496 closed

[2016-04-23 20:33] kilt46 opened #497 "KSMQ"
https://community.infinite-flight.com/t/ksmq-fix/36624

[2016-04-23 21:07] HenrikBerg02 commented on #497
Done.

[2016-04-23 21:07] #497 closed

[2016-04-23 22:09] IFAEpat commented on #108
This is complete, approved by Cam. Needs closing :)

[2016-04-24 02:23] kilt46 opened #498 "CYVR-Vancouver International Airport-VANCOUVER-CANADA"
Vancouver International Airport, Canada

[2016-04-24 03:07] IFAEpat opened #499 "EGAA-Belfast International Airport-ANTRIM-UNITED KINGDOM"
Belfast International

[2016-04-24 19:09] kilt46 commented on #471
This airport is NOT in the library

[2016-04-24 21:31] kilt46 commented on #460
THIS AIRPORT IS NOT IN THE LIBRARY

[2016-04-24 21:34] freddiefrogs commented on #460
I have done this already. Did I not send it off @carmichaelalonso ?

[2016-04-24 21:34] freddiefrogs commented on #460
I will resend it tomorrow. I can't do it now.

[2016-04-24 21:36] freddiefrogs commented on #460
I checked my sent mail. I did send it off.

[2016-04-25 00:44] IFAEpat opened #500 "ESGH-Herrljunga Airport-GOTALAND-SWEDEN"
Herrljunga Airport, Sweden

[2016-04-25 00:47] kilt46 commented on #500
Assigned to JFplanespotter: no current name available to select

[2016-04-25 01:32] kilt46 commented on #455
Still old version in Repo
![Uploading image.png…]()

[2016-04-25 01:40] kilt46 commented on #447
RECYCLED ISSUE FOR COPENHAGEN

[2016-04-25 01:43] kilt46 commented on #444
NO NEW LIBRARY FILE. STILL NEEDS REWORKED
![image](https://cloud.githubusercontent.com/assets/14023167/14771928/261b9976-0a5d-11e6-84b3-427bb472debf.png)

[2016-04-25 02:18] IFAEpat commented on #500
Clouds in imagery, unable to produce

[2016-04-25 02:19] IFAEpat commented on #500
Clouds in imagery, unable to produce

[2016-04-25 02:20] IFAEpat opened #501 "LHBP-Budapest Liszt Ferenc Airport-BUDAPEST-HUNGARY"
Budapest Ferenc Liszt International Airport

[2016-04-25 02:25] IFAEpat commented on #501
Can anyone assign me? :)

[2016-04-25 05:39] dushyants19 opened #502 "1WA6"
Seattle, quick redo, new editors can do it.

Don't draw the letter on the runway.

[2016-04-25 06:01] dushyants19 opened #503 "7V4"
Glenn aspen, misalinged, No spawns, Easy work.

[2016-04-25 06:08] dushyants19 opened #504 "KANK"
Echo, Denver, no spawns, redo needed, small airport, easy work.

[2016-04-25 06:26] freddiefrogs commented on #444
@kilt46 , all the ones that I have assigned myself for, I have done. This is no exception, it just hasn't been reviewed and is in a queue I guess.

[2016-04-25 21:11] carmichaelalonso commented on #455
I think I added at as KFVC... my apologies, will look into it later.

[2016-04-26 08:03] dushyants19 commented on #128
Was this ever redone?

@HenrikBerg02 said @Swang007 re-did this.

[2016-04-26 23:31] kilt46 commented on #440
This airport is NOT in the REPO

[2016-04-26 23:32] kilt46 commented on #460
This airport is NOT in the Repo

[2016-04-27 01:55] Ksisky commented on #455
It was commited, (https://github.com/InfiniteFlightAirportEditing/Airports/commit/11d59af63adf4f9546736fc22ef6b0b6b680fa60), but [not to the folder.](https://github.com/InfiniteFlightAirportEditing/Airports/blob/11d59af63adf4f9546736fc22ef6b0b6b680fa60/apt.dat) I think the file was later deleted without it being committed to the repository.

[2016-04-27 14:17] #503 closed

[2016-04-27 15:37] Will171 commented on #434
It's in the carabean region how can it be non region?

[2016-04-27 15:40] Will171 commented on #471
Not my problem, I emailed it off.

[2016-04-28 07:23] #434 closed

[2016-04-28 07:53] dushyants19 commented on #471
I'll move the file

[2016-04-28 14:09] AxelBeder opened #505 "LFOF"
Not accurate.

[2016-04-28 14:41] AxelBeder commented on #502
On it.

[2016-04-28 15:34] #505 closed

[2016-04-28 15:34] AxelBeder commented on #502
Finished.

[2016-04-28 15:34] #502 closed

[2016-04-28 17:02] AxelBeder commented on #504
Done.

[2016-04-28 17:02] #504 closed

[2016-04-28 17:30] AxelBeder commented on #440
@freddiefrogs are you still redoing this?

[2016-04-29 07:03] freddiefrogs commented on #440
No. It's basically defunct in real life... No terminal, taxiways or airlines. It wasn't accepted due to that, even though it's like that in real life.

[2016-04-29 07:54] AxelBeder opened #507 "LFKB"
Reworking from scratch.

[2016-04-29 07:54] AxelBeder opened #508 "LFRN-Rennes–Saint-Jacques Airport-BRITTANY-FRANCE"
Reworking.

[2016-04-29 12:32] dushyants19 commented on #444
@freddiefrogs whats the status on this?

[2016-04-29 12:34] dushyants19 commented on #455
I'll look into this.

[2016-04-29 12:58] freddiefrogs commented on #444
@dushyants19 , I have sent it off via email - nothing back.

[2016-04-29 12:59] dushyants19 commented on #455
Done.

https://github.com/InfiniteFlightAirportEditing/Airports/commit/dd2809c941c90fde5ba020e65a72e83d8e2b4c10

[2016-04-29 12:59] #455 closed

[2016-04-29 16:38] AxelBeder commented on #508
Wrong name.

[2016-04-29 16:38] AxelBeder commented on #508
Has just been added to repro.

[2016-04-29 16:38] AxelBeder commented on #507
Done.

[2016-04-29 16:38] #507 closed

[2016-04-29 16:53] dushyants19 opened #509 "EDRK-Koblenz-Winningen Airport-RHINELAND-PALATINATE-GERMANY"
Redo needed, Multiple taxiways. Amsterdam Region

Please add the Grass Taxiways too

[2016-04-29 19:39] samuelandersson commented on #509
Going for this one.

[2016-04-30 02:50] dushyants19 commented on #509
Not "non-region"

[2016-04-30 07:42] dushyants19 opened #510 "KMYF-Montgomery Field Airport-CALIFORNIA-USA"
So-Cali, Redo may be needed. Misalingment not uniform.

[2016-04-30 07:48] dushyants19 opened #511 "KSEE-Gillespie Field-CALIFORNIA-USA"
So-Cal. Redo might be needed. Misalingment not uniform.

[2016-04-30 07:58] dushyants19 commented on #252
Doing Minor Changes

[2016-04-30 11:05] freddiefrogs commented on #460
Can be closed now.

[2016-04-30 11:06] freddiefrogs commented on #444
Can be closed, completely done. @kilt46 is handling it. ( @dushyants19 )

[2016-04-30 12:46] #252 closed

[2016-04-30 14:01] Will171 commented on #18
Will add some missing features such as taxiway signs and hold positions

[2016-04-30 15:11] samuelandersson opened #513 "LDSP"
Working on this one. Needs a total redo.

[2016-04-30 15:20] #513 closed

[2016-04-30 15:23] samuelandersson opened #514 "ESGT"
Trollhättan Vänersborg.

Working on this. Needs some small fixes.

[2016-05-01 02:59] kilt46 commented on #55
JETBRIDGES REMOVED

[2016-05-01 04:15] IFAEpat commented on #501
Can someone else do this please? It's very misaligned, and the satellite WEDbing imagery makes it difficult to draw lines. I may work on something else

[2016-05-01 04:30] IFAEpat opened #515 "RJBB-Kansai International Airport-OSAKA-JAPAN"
Kansai Int'l - World's largest man-made island airport. I'll be doing this

[2016-05-01 15:58] kilt46 commented on #340
https://community.infinite-flight.com/t/whats-wrong-with-kpcm-plant-city-airport/37669

[2016-05-01 16:16] IFAEpat commented on #515
Can someone assign this to me please? Thanks

[2016-05-01 16:55] kilt46 commented on #340
This airport has been redrawn

[2016-05-01 16:55] #340 closed

[2016-05-01 17:57] kilt46 commented on #499
Airport done from scratch by JFKPlaneSpotter

[2016-05-01 21:18] JcFl4 opened #516 "VNLK"
Lukla Airport

[2016-05-02 00:31] cboisselier opened #517 "WSAC-Changi Air Base (East)-SINGAPORE"
Airport needs redrawn. Also runway needs renamed

[2016-05-02 01:29] kilt46 commented on #99
Hold short lines reported to be missing.

[2016-05-02 01:29] kilt46 commented on #99
HOLD SHORT LINES fixed

[2016-05-02 01:41] henrikbg commented on #339
Tristin will be fixing the spawn points. :)

[2016-05-02 01:46] TristinWoolf commented on #339
As Henrik said, I will be removing some of the spawn points that are labeled with a Left and Right, also will be revising the entire commercial parking area.

[2016-05-02 07:29] ItsW1ll opened #518 "LETU-Aeródromo Militar de Ablitas-NAVARA-SPAIN"

[2016-05-02 09:05] freddiefrogs commented on #518
Doesn't really have a boundary in real life.

[2016-05-02 09:31] #516 closed

[2016-05-02 12:38] JcFl4 opened #519 "VQPR-Paro Airport-PARO-BHUTAN"
Paro International

[2016-05-02 22:32] kilt46 commented on #517
Airport needs redesign . Please also check runway numbering

[2016-05-03 03:01] henrikbg opened #520 "KLEX-Blue Grass Airport-KENTUCKY-USA"
Blue Grass airport.

[2016-05-04 00:26] henrikbg opened #521 "CNK4"
Parry Sound Area Municipal Airport.

[2016-05-04 00:46] #521 closed

[2016-05-04 00:50] henrikbg opened #522 "KMOB-Mobile Regional Airport-ALABAMA-USA"
Mobile Regional Airport.

[2016-05-04 03:13] kilt46 commented on #517
https://community.infinite-flight.com/t/wsac-01-19-instead-of-02r-20l/25613

[2016-05-04 10:22] dushyants19 commented on #353
I need parking charts for this, anyone have charts?

[2016-05-04 10:24] BVRAU commented on #353
Try CASA, they might have information

Sent from my iPad

[2016-05-04 10:24] BVRAU commented on #353
Or Airservices Australia

Sent from my iPad

[2016-05-06 00:21] kilt46 opened #524 "KIAD-Washington Dulles International Airport-VIRGINIA-USA"

[2016-05-06 00:40] kilt46 opened #525 "LKPR-Václav Havel Airport Prague-PRAGUE-CZECH REPUBLIC"

[2016-05-06 02:48] IFAEpat opened #526 "KCVG-Cincinnati/Northern Kentucky International Airport-KENTUCKY-USA"
Cincinnati Northern Kentucky Int'l. Needs spawn points and white lines on roadways. A few unsnapped roadways and taxiways

[2016-05-06 02:54] kilt46 commented on #401
This one has either NOT been done or not uploaded yet!

[2016-05-06 08:07] dushyants19 commented on #526
@IFAEpat are you doing this?

[2016-05-06 08:21] dushyants19 opened #527 "EGPF-Glasgow Airport-SCOTLAND-UNITED KINGDOM"
Redoing by Tony F

[2016-05-06 08:26] dushyants19 commented on #527
@corporate1401 is doing this

[2016-05-06 11:51] JcFl4 opened #528 "EGAC-Belfast City Airport-NORTHERN IRELAND-UNITED KINGDOM"
George Best, Belfast City.

[2016-05-06 16:53] corporate1401 opened #529 "VABB-Chhatrapati Shivaji International Airport-MAHARASHTRA-INDIA"
Bombay, India. A380 airport

[2016-05-06 19:23] dushyants19 commented on #529
Recycled issue for VABB. Mumbai, A380 airport

[2016-05-06 21:04] kilt46 commented on #517
Airport redrawn

[2016-05-06 21:07] #514 closed

[2016-05-06 23:03] henrikbg opened #530 "KSGU-St. George Regional Airport-UTAH-USA"
St. George Regional Airport.

[2016-05-06 23:11] matsedvin opened #531 "SAME-Mendoza Airport-MENDOZA-ARGENTINA"
RECYCLED.

[2016-05-07 07:18] dushyants19 opened #532 "ENHD"
Kenneth is doing this

[2016-05-07 07:20] dushyants19 commented on #483
Done :)

[2016-05-07 10:18] IceBlue02 commented on #379
@freddiefrogs- this is mine to do I'm afraid :)

[2016-05-07 10:18] IceBlue02 commented on #310
Finished, PRed and will send in now.

[2016-05-07 11:16] IceBlue02 commented on #195
Finished and sent in

[2016-05-07 12:01] NickArt1342 opened #533 "MMMX-Benito Juarez International Airport-DISTRITO FEDERAL-MEXICO"
RECYCLED
♻️

[2016-05-07 12:03] kilt46 commented on #483
BUILDINGS ADDED

[2016-05-07 12:06] IceBlue02 commented on #533
Blimey...

[2016-05-07 12:06] carmichaelalonso commented on #533
**This is not a valid issue**.

One issue per airport please. Thanks!

[2016-05-07 14:08] henrikbg commented on #310
Accepted.

[2016-05-07 14:08] henrikbg commented on #195
Accepted.

[2016-05-07 14:08] #195 closed

[2016-05-07 15:48] kilt46 commented on #392
This is NOT done!

[2016-05-07 15:50] IceBlue02 opened #534 "LOWI-Innsbruck Airport-TIROL-AUSTRIA"
Innsbruck, Austria.

Redoing.

[2016-05-07 17:00] henrikbg commented on #309
I'm going to actually start working on this now.

[2016-05-07 17:43] IFFG-Nico opened #535 "OEJN-King Abdulaziz International Airport-MAKKAH-SAUDI ARABIA"

[2016-05-07 17:45] IFFG-Nico opened #536 "LOWW-Wien-Schwechat Airport-NIEDEROSTERREICH-AUSTRIA"
Vienna International Airport

Im doing this

[2016-05-07 17:57] samuelandersson commented on #282
Fixing this one after I am done with LIML.

[2016-05-07 17:59] samuelandersson opened #537 "LIML-Milan–Linate Airport-LOMBARDY-ITALY"
Working on this one currently.

[2016-05-07 18:13] sudafly commented on #529
I do this, @corporate1401

[2016-05-07 18:21] TristinWoolf opened #539 "LFBO-Toulouse Blagnac Airport-MIDI-PYRENEES-FRANCE"
Toulouse-Blagnac Airport

[2016-05-07 18:49] IFFG-Nico opened #540 "EDHI-Hamburg Finkenwerder-GERMANY"
Hamburg Finkenwerder

[2016-05-07 19:53] henrikbg opened #541 "KMGW-Morgantown Municipal Airport-WEST VIRGINIA-USA"
For @ItsPerses.

[2016-05-07 19:58] moiz20012 opened #542 "RJOO-Osaka Airport-HYOGO-JAPAN"
AbuDhabi

[2016-05-07 20:05] samuelandersson commented on #542
Are you doing this @moiz20012?

[2016-05-07 20:21] samuelandersson opened #543 "ESGG"
Misaligned and some small fixes needed to be fixed. Doing it right now.

[2016-05-07 21:02] Anfinn opened #544 "EKVG"
Needs lots of work, new terminal, longer runway etc. I will be doing this as my first airport edit.

[2016-05-07 22:38] kilt46 commented on #542
This is done!

[2016-05-08 01:47] kilt46 commented on #380
This Airport is off from satellite. Also no terminal building - Suggest REDO
![image](https://cloud.githubusercontent.com/assets/14023167/15095612/d5c70b80-1494-11e6-8cca-6e01d1d00f04.png)

[2016-05-08 05:05] TristinWoolf opened #545 "KIWD"
Gogebic-Iron County Airport

[2016-05-08 05:21] moiz20012 opened #546 "HKJK-Nairobi Jkia International Airport-NAIROBI-KENYA"
Jomo Kenyatta International Airport

[2016-05-08 05:35] moiz20012 commented on #546
I want to do this.

[2016-05-08 05:40] moiz20012 opened #547 "RJAA-Narita International Airport-CHIBA-JAPAN"
Jomo Kenyatta International Airport.

[2016-05-08 06:11] dushyants19 commented on #547
Duplicate, @kilt46

[2016-05-08 06:51] TristinWoolf commented on #339
Parking area and spawning points fixed. also fixed a couple minor taxiway issues. Submitted it to the email!

[2016-05-08 08:52] IceBlue02 opened #548 "EDKL"
https://community.infinite-flight.com/t/incorrect-runway-numbers-edkl/38875

Will fix and redo; in a bad way.

[2016-05-08 09:17] samuelandersson commented on #282
Starting work on this one now.

[2016-05-08 09:46] IFFG-Nico commented on #536
Starting working now :)

[2016-05-08 11:05] kilt46 commented on #376
Aprons need a little tidy. More defined buildings would be nice. Also outlines for gates if possible.

[2016-05-08 11:07] kilt46 commented on #374
This airport need better aprons, and ALL gates defined.

[2016-05-08 12:06] kilt46 commented on #372
There are ZERO gates here. Please redo

[2016-05-08 12:29] dushyants19 commented on #429
Open for grabs!

[2016-05-08 14:33] sudafly opened #549 "SMJP, Johan Adolf Pengel Luchthaven, PBM"
I going to create it. Can somebody assign me?

Thanks!

[2016-05-08 15:53] cboisselier opened #550 "RKSI-Incheon Airport-SEOUL-SOUTH KOREA"
To be done

[2016-05-08 15:55] kilt46 opened #551 "LFMN-Nice Cote D'Azur Airport-PROVENCE-ALPES-COTE D'AZUR-FRANCE"

[2016-05-08 16:23] tranquil-skyflyer opened #552 "PAJN"
I'll do this one!

[2016-05-08 17:04] IceBlue02 commented on #548
Finished.

[2016-05-08 17:30] IceBlue02 opened #553 "LOWS-Salzburg Airport-SALZBURG-AUSTRIA"
Salzburg, Austria.

Redoing.

[2016-05-08 20:48] sudafly commented on #549
@dushyants19 It's done! In 5 hours 😅😅!

[2016-05-08 20:48] #549 closed

[2016-05-09 08:02] dushyants19 opened #554 "OTBD"
Old Doha Intl, Im doing this. :smile:

[2016-05-09 08:04] ghost opened #555 "EPWA-Warsaw Chopin Airport-MAZOVIA-POLAND"
I'm going to do a complete Re-Do of this one. It was requested by a member of the forums. #

[2016-05-09 08:09] RileyDunshea commented on #555
I wasn't able to assign myself. Can you not do it on IOS?

[2016-05-09 09:36] SudarshanMahesh opened #556 "KMCO-Orlando International Airport-FLORIDA-USA"
I do this. Can somebody assign me? And labels?

Thanks!

[2016-05-09 11:02] Anfinn opened #557 "EKBI"
Looks to be only minor issues, I'll take on this airport.

[2016-05-09 11:36] Anfinn commented on #544
finished, waiting for approval

[2016-05-09 15:19] NickArt1342 opened #558 "GCTS Tenerife-South Airport"

[2016-05-09 20:01] Aviationluver opened #560 "EDDH"
Airport in Hamburg, Germany. I'll make this one for when global flight comes.

[2016-05-09 20:44] IceBlue02 commented on #556
User Suggestion List (So I get notifications)

[2016-05-09 20:44] IceBlue02 commented on #555
User Suggestion List (So I get notifications)

[2016-05-09 21:30] freddiefrogs commented on #530
Will do.

[2016-05-09 21:31] freddiefrogs commented on #530
Thank you @samuelandersson

[2016-05-09 23:17] #374 closed

[2016-05-10 01:49] kilt46 commented on #365
this is the WRONG Airport
![image](https://cloud.githubusercontent.com/assets/14023167/15133321/510c763e-1627-11e6-8447-a2b3eb93f5bb.png)
Should be https://www.google.com/maps/@50.7919444,5.2016667,970m/data=!3m1!1e3

[2016-05-10 19:13] freddiefrogs opened #561 "FNLU-Luanda Airport-LUANDA-ANGOLA"
The new KSGU. Needs renaming and possible redo depending on condition. Will do myself.

[2016-05-10 19:47] samuelandersson commented on #180
How is this going @dushyants19?

[2016-05-11 04:59] IFAEpat opened #562 "UUDD-Moscow Domodedovo Airport-MOSKVA-RUSSIA"
Narita International - Global Priority 1 A380 - Non-region - Being Redone

[2016-05-11 05:07] IFAEpat commented on #562
thanks @samuelandersson 👍

[2016-05-11 16:23] samuelandersson opened #563 "ESGP"
Small airport near me, will be reworking.

[2016-05-11 19:52] IFAEpat commented on #547
Can someone assign me? I accidentally made a duplicate issue. . .

[2016-05-11 22:17] Anfinn commented on #557
DONE!
Complete redo. Sent in for approval

[2016-05-11 22:18] Anfinn commented on #447
I can do this.

[2016-05-11 22:37] Blently opened #564 "KPSM-Portsmouth International At Pease Airport-NEW HAMPSHIRE-USA"
It looks like it needs some work done, precise taxiways, taxi lines, etc... I will do it

[2016-05-11 23:51] tranquil-skyflyer opened #565 "PAKT"
I'll do this one!

[2016-05-12 13:42] DavidCutler opened #566 "MMUN-Cancun Airport-QUINTANA ROO-MEXICO"
Cancun Mexico :)

[2016-05-12 15:18] freddiefrogs opened #567 "EBZW (Zwartberg)"
Needs redo, random giant square and badly drawn runways and taxiways.

[2016-05-12 15:21] freddiefrogs commented on #567
Why was this assigned to me? @samuelandersson

[2016-05-12 15:21] freddiefrogs commented on #567
I never stated I will do it. I already have two airports to do.

[2016-05-12 15:21] samuelandersson commented on #567
Sorry, thought you would do it.

[2016-05-12 15:22] freddiefrogs commented on #567
I could but there would be a delay. It's better off being left for someone else to do.

[2016-05-12 15:45] NickArt1342 opened #568 "GMMN-Casablanca/Mohammed V Airport-GRAND CASABLANCA-MOROCCO"

[2016-05-12 15:46] NickArt1342 opened #569 "GMMX - Marrakesh"

[2016-05-12 15:50] Rob1594 opened #570 "MDST-Cibao Airport-SANTIAGO-DOMINICAN REPUBLIC"
Needs grass to be made transparent and make the building into a taxiway. Also, add spawn points.

[2016-05-12 16:01] Rob1594 commented on #570
I'd be open to do it

[2016-05-12 17:36] samuelandersson commented on #570
Then do it haha 👍

[2016-05-12 21:06] corporate1401 commented on #527
Just waiting on the review team now ;)

[2016-05-13 10:15] kilt46 commented on #352
Buildings added

[2016-05-13 13:07] Anfinn commented on #567
I can do it :)

[2016-05-13 14:41] Arzanex opened #571 "VMMC"
Macau International Airport / MFM / VMMC

[2016-05-13 14:41] samuelandersson commented on #571
Are you doing this @Arzanex?

[2016-05-13 14:42] samuelandersson commented on #567
Go ahead @Anfinn

[2016-05-13 14:42] Arzanex commented on #571
^ Yes

[2016-05-13 15:34] samuelandersson commented on #563
Done and approved.

[2016-05-13 15:34] #563 closed

[2016-05-13 15:42] TristinWoolf commented on #339
Approved. Can somebody un-label and close please? Thanks.

[2016-05-13 16:00] samuelandersson opened #572 "LDSB"
BOL AIRPORT - Working on this.

[2016-05-13 16:28] ItsW1ll opened #573 "VIDP-Indira Gandhi International Airport-DELHI-INDIA"

[2016-05-13 16:29] samuelandersson commented on #573
Kudos for good description :)

[2016-05-13 16:34] Will171 commented on #573
Cheers, I'm on my iPad so can't add labels and assign me

[2016-05-13 16:48] #557 closed

[2016-05-13 16:49] #572 closed

[2016-05-13 16:49] #544 closed

[2016-05-13 16:53] henrikbg commented on #573
Duplicate. Continue discussion here:

https://github.com/InfiniteFlightAirportEditing/Airports/issues/18

[2016-05-13 17:10] samuelandersson opened #574 "EDDP"
Leipzig Halle.

Needs a redo, the taxiway is not showing and there are a few missing ones.

Also all of the DHL and cargo spots are not there on the map so I'll add them as well.

[2016-05-13 17:41] Will171 commented on #18
+ Adding new extended parts of taxiway W as can be seen on Google Earth.
+ Redoing parking stand lines as they have been changed as seen on Google Earth.
+ Overall fixes and improvements round the whole airport

[2016-05-13 18:37] Rob1594 opened #575 "KSMF-Sacramento International Airport-CALIFORNIA-USA"
New addition. I can do it.

[2016-05-13 19:10] turkish1941 commented on #355
I would like to make this, how can i say being redone

[2016-05-13 21:30] samuelandersson commented on #572
Just for documentation:

A whole redone is done. Added taxiways and buildings as well as corrected runway.

[2016-05-14 00:23] TristinWoolf commented on #545
Finished a complete redo of this airport, and sent it in. Just awaiting approval! Can someone please put the proper label? Thanks!

[2016-05-14 00:35] #545 closed

[2016-05-14 01:31] TristinWoolf opened #576 "KDYT"
Duluth Sky Harbor Airport
Small airport, will do a quick redo of this. Shouldn't take me long! :)

[2016-05-14 11:10] kilt46 commented on #548
File not yet in repository

[2016-05-14 11:12] #548 closed

[2016-05-14 12:06] samuelandersson commented on #548
@kilt46 I closed it cause the tracking thread was showing that Henrik made commit to this airport yesterday.
![skarmavbild 2016-05-14 kl 14 05 55](https://cloud.githubusercontent.com/assets/15381853/15268390/136e174c-19dd-11e6-9c82-c157175655c1.png)

[2016-05-14 15:10] UpNorthAviation commented on #547
Narita would be a fun airport to fly to in the new Dreamliner from So-Cal!

[2016-05-14 15:14] UpNorthAviation opened #577 "KTVC-Cherry Capital Airport-MICHIGAN-USA"
A small regional airport in northern Michigan, my hometown airport, I know it like the back of my hand :)

[2016-05-14 15:52] NickArt1342 commented on #376
@carmichaelalonso Get to work!

[2016-05-14 15:54] NickArt1342 commented on #300
@Swang007 Do you still want to this one?

[2016-05-14 15:54] NickArt1342 commented on #372
@henrikbg Do you still want to do this or can I remove your assignment?

[2016-05-14 15:55] henrikbg commented on #372
I'll add some parking spaces.

[2016-05-14 15:57] samuelandersson commented on #348
@freddiefrogs How is this going?

[2016-05-14 15:58] NickArt1342 commented on #401
@AxelBeder I think you did this one already? If not do you want it or can we reassign somebody else?

[2016-05-14 15:59] freddiefrogs commented on #348
@cboisselier did this.

[2016-05-14 16:00] samuelandersson commented on #348
Okay, cool.

[2016-05-14 16:00] #348 closed

[2016-05-14 16:00] freddiefrogs commented on #348
I'm confused though. If it was never committed, then how come the copy idownloaded looked pretty complete?

[2016-05-14 16:00] samuelandersson commented on #388
@IFAEpat is this done?

[2016-05-14 16:01] NickArt1342 commented on #348
I guess it was committed eventually.

[2016-05-14 16:03] samuelandersson commented on #348
Latest commit was Feb 2.

[2016-05-14 16:03] samuelandersson commented on #385
@DavidCutler update please? :/

[2016-05-14 16:04] NickArt1342 commented on #380
@vkrgarcia Are you doing it?

[2016-05-14 16:06] samuelandersson commented on #445
@IFAEpilot8 Any progress on this airport?

[2016-05-14 16:06] samuelandersson commented on #433
@henrikbg Did you finish this eventually?

[2016-05-14 16:07] henrikbg commented on #433
It's still in progress. I haven't had the time recently. I'll try to finish it this weekend.

[2016-05-14 16:07] samuelandersson commented on #433
Okay cool.

[2016-05-14 16:08] samuelandersson commented on #551
Last time I checked Nice Cote d'Azur it looked pretty detailed in the repo. What changes are you making @cboisselier? Just curious.

[2016-05-14 16:09] samuelandersson commented on #384
@BVRAU How's this going?

[2016-05-14 16:09] NickArt1342 commented on #264
@AxelBeder How is this one coming along?

[2016-05-14 16:10] samuelandersson commented on #470
@RileyDunshea Any progress here?

[2016-05-14 16:12] henrikbg commented on #372
Added spawn points in commit: 772ee0e.

[2016-05-14 16:28] chriscroft20 opened #578 "EGGP- Liverpool Airport-ENGLAND-UNITED KINGDOM"
its called Liverpool Aiport,  close to Manchester, medium sized.

[2016-05-14 16:32] IFAEpilot8 commented on #445
I am not doing this airport anymore.
On May 14, 2016 11:06 AM, "samuelandersson" <notifications@github.com>
wrote:

[2016-05-14 16:57] TristinWoolf commented on #576
Just finished this! Did a complete redo and sent it in for approval. Can someone label appropriately please? Thanks!

[2016-05-14 16:59] IceBlue02 commented on #578
@chriscroft20 I assume you are redoing this :)

[2016-05-14 17:01] chriscroft20 commented on #578
@IceBlue02 yeah, I wasn't sure how to add the labels

[2016-05-14 17:09] kilt46 commented on #543
This one does not match WEDBing. Also buildings are missing.
![image](https://cloud.githubusercontent.com/assets/14023167/15269683/a79f9ffa-19cc-11e6-9ffe-2da0f3422d64.png)

[2016-05-14 17:59] TristinWoolf commented on #576
Approved. Someone with labeling abilities please remove the labels? I will close

[2016-05-14 18:12] Swang007 commented on #465
So did this happen or does it still need to be redone?

[2016-05-14 18:13] samuelandersson commented on #465
It doesn't seem like it happened @Swang007. Since it's a suggestion it further proves that argument.

[2016-05-14 19:04] TristinWoolf opened #579 "KDLH-Duluth International Airport-MINNESOTA-USA"
Duluth International Airport

Will completely redo this airport from head to toe. This is officially my biggest project as an Airport Editor so far! Will get started on this right away! As usual, if someone with labeling capabilities could label and assign properly, it would be appreciated! Wish I could do it myself so I don't have to keep asking everyone else but oh well! Thanks!

[2016-05-14 19:10] kilt46 commented on #576
Still needs uploaded

[2016-05-14 19:19] kilt46 commented on #560
Not sure if this is aligned
![image](https://cloud.githubusercontent.com/assets/14023167/15270264/d47c281a-19de-11e6-8bdc-e0ba41e9982c.png)

[2016-05-14 19:22] Swang007 commented on #465
Might do it if I have time in the next few weeks

[2016-05-14 20:01] kilt46 commented on #537
Airport badly misaligned
![image](https://cloud.githubusercontent.com/assets/14023167/15270404/adfec4da-19e4-11e6-9355-a3564e7adfdf.png)

[2016-05-14 20:04] samuelandersson commented on #537
@kilt46 when I created this airport from scratch I aligned it exactly accordingly to WEDbing.

What more would you like me to do?

[2016-05-15 04:51] nick-if opened #581 "ZGSZ-Shenzhen/Boan Airport-GUANGDONG-CHINA"

[2016-05-15 04:52] nick-if commented on #581
I submitted it for review

[2016-05-15 04:54] nick-if opened #582 "KMHV-Mojave Air and Space Port Airport-CALIFORNIA-USA"
RECYCLED AGAIN.

[2016-05-15 04:56] nick-if opened #583 "KBFM-Mobile Downtown Airport-ALABAMA-USA"
RECYCLED AGAIN.

[2016-05-15 09:16] chriscroft20 opened #584 "LGKR"
Small airport on the greek island of Corfu

[2016-05-15 09:55] Anfinn commented on #567
This has been sent in for approval

[2016-05-15 10:01] chriscroft20 commented on #578
sent for approval

[2016-05-15 10:01] chriscroft20 commented on #584
sent for approval

[2016-05-15 10:05] carmichaelalonso opened #585 "VHXX-Kai Tak Airport-HONG KONG-CHINA"
Being done by Axel.

[2016-05-15 10:29] dushyants19 commented on #392
@Ksisky when was this approved?

[2016-05-15 10:29] dushyants19 commented on #392
I'll look into this

[2016-05-15 10:45] dushyants19 commented on #392
Added, nice airport.

[2016-05-15 10:45] #392 closed

[2016-05-15 10:47] #576 closed

[2016-05-15 11:10] sumith11 opened #586 "VRMM-Ibrahim Nasir International Airport-MALE-MALDIVES"
Malé International Airport

[2016-05-15 12:31] dushyants19 commented on #416
This airport is missing :neutral_face: I'll look into this.

[2016-05-15 12:39] dushyants19 commented on #416
Done. https://github.com/InfiniteFlightAirportEditing/Airports/commit/19abe7a8fa82bb5580e64dd81cf1d0621e34ede4

[2016-05-15 12:42] dushyants19 commented on #28
Adding turnaround points.

[2016-05-15 13:25] kilt46 commented on #576
This is a Sea based Airport. Unlikely to be in IF

[2016-05-15 14:21] kilt46 commented on #326
This airport needs lines redone. Holds wrong way round and shoulders need attention

[2016-05-15 15:16] dushyants19 commented on #353
Done.

[2016-05-15 15:51] DS2001 commented on #445
I want to do this airport :)

[2016-05-15 17:00] dushyants19 commented on #445
You are doing this!

[2016-05-15 19:44] turkish1941 commented on #75
can I get assigned to this, I will make it.

[2016-05-16 01:33] kilt46 commented on #326
LINES FIXED

[2016-05-16 09:50] nick-if opened #588 "YBBN-Brisbane Airport-QUEENSLAND-AUSTRALIA"
♻️

[2016-05-16 09:53] dushyants19 commented on #588
Duplicate, #401

[2016-05-16 10:02] nick-if commented on #401
YUP, ITS BEENR EASSIGNED TO ME :) @NickArt1342

[2016-05-16 10:25] RileyDunshea commented on #470
finished. i seem to have lost my ability to assign myself @carmichaelalonso

[2016-05-16 10:25] #470 closed

[2016-05-16 10:27] nick-if commented on #401
@NickArt1342 hey since nobody is doing it i think he's too busy i can do it within the next 3 hours i am chan, hahaha, i can do that now if he's not doing it i think in your timezone your sleeping, I'm just gonna go ahead and do this one now ok by the way i am new to this airport editing

[2016-05-16 10:32] RileyDunshea commented on #401
@nick-if maybe wait. We don't know if it has already been done.

[2016-05-16 10:37] nick-if commented on #401
i can check in the airports folder

[2016-05-16 10:38] nick-if commented on #401
can i do it now i have the whole night @RileyDunshea

[2016-05-16 10:38] nick-if commented on #401
by the way i spent over an hour downloading that stupid wedbing yesterday

[2016-05-16 10:39] nick-if commented on #401
@RileyDunshea can I ask, when we edit it, we just follow the map and add all the taxi lines and taxiways, and all the features, right? thats all we do?

[2016-05-16 10:40] RileyDunshea commented on #401
@nick-if Nick listen. Axel may of already of finished the airport but we don't know yet. He might of finished it but hasn't sent it in yet. Please wait for confirmation. There are many other airports you can do.

[2016-05-16 10:46] nick-if commented on #401
alright well i'll take the chance of redoing it and wasting my time @RileyDunshea its fine iff he already did it then i just wasted my time

[2016-05-16 10:51] nick-if commented on #401
@RileyDunshea you know what this airport is way too big I'm gonna start practicing WED with a smaller airport

[2016-05-16 10:54] nick-if opened #589 "VTBS-Bangkok/Suvarnabhumi Airport-SAMUT PRAKAN-THAILAND"
hi

[2016-05-16 10:56] nick-if opened #590 "ZGGG-Guangzhou Baiyun Airport-GUANGDONG-CHINA"

[2016-05-16 11:01] dushyants19 commented on #590
Nick, this is not the place to ask for help.