[2016-10-23 12:13] kilt46 commented on #296
![image](https://cloud.githubusercontent.com/assets/14023167/19626147/3b1597b0-98f0-11e6-976f-d6beb7b4080e.png)

[2016-10-23 12:30] kilt46 commented on #1218
![image](https://cloud.githubusercontent.com/assets/14023167/19626231/9e0591fc-98f2-11e6-8b0e-ecc81b67c197.png)

[2016-10-23 12:41] kilt46 commented on #787
This has NOT been done!!
![image](https://cloud.githubusercontent.com/assets/14023167/19626309/151116a8-98f4-11e6-8eb7-5c52cb87bfac.png)

[2016-10-23 12:47] dushyants19 commented on #787
It wasnt, @IFAEpat. Please dont't close issues which arent yours without my consent. thanks

[2016-10-23 12:48] dushyants19 commented on #787
@B777fan any progress on this? I'll give it to someone else if you can't do it

[2016-10-23 12:53] kilt46 commented on #465
![image](https://cloud.githubusercontent.com/assets/14023167/19626362/8b962984-98f5-11e6-90d9-6fad9c318c01.png)

[2016-10-23 14:24] brunocr98 opened #1250 "MPCE"
Airport already made, just need to be reviewed. Alonso Valderrama Airport.

[2016-10-23 14:26] brunocr98 opened #1251 "MPSA"
Airport already made, just need to be reviewed. Rubén Cantú Airport.

[2016-10-23 14:46] kilt46 commented on #1245
![image](https://cloud.githubusercontent.com/assets/14023167/19627134/a27516be-9905-11e6-892f-29e3fb768f88.png)

[2016-10-23 14:50] kilt46 commented on #1246
![image](https://cloud.githubusercontent.com/assets/14023167/19627157/3134e104-9906-11e6-9523-0c453de5849c.png)

[2016-10-23 16:19] kilt46 commented on #282
![image](https://cloud.githubusercontent.com/assets/14023167/19627696/92458640-9912-11e6-81a9-f5c290aed826.png)
![image](https://cloud.githubusercontent.com/assets/14023167/19627699/9e250030-9912-11e6-9d71-bf153fcec497.png)

[2016-10-23 18:21] PaulNielsen opened #1252 "LIPE-Bologna Airport-EMILIA-ROMAGNA-ITALY"
Bologna airport being redone

[2016-10-23 19:04] kilt46 commented on #298
![image](https://cloud.githubusercontent.com/assets/14023167/19628705/8a69df86-9929-11e6-881e-063e108ad5d0.png)

[2016-10-23 21:48] PaulNielsen commented on #1229
Dush, I suck when it comes to ortophoto. I can't get it to work.

[2016-10-24 11:17] dushyants19 commented on #1229
@PaulNielsen That doesnt explain ILS Centerlines, and the ramp starts' name...

[2016-10-24 11:39] #1251 closed

[2016-10-24 14:26] brunocr98 opened #1253 "MPNU"
Airport already made, just need to be reviewed. Augusto Vergara Airport.

[2016-10-24 14:51] dushyants19 commented on #1253
Please send all of Panama airports you have already done!

[2016-10-24 14:55] #1253 closed

[2016-10-24 15:10] Aviationluver commented on #1235
Sent in for review.

[2016-10-24 16:07] Aviationluver commented on #386
@NickArt1342 Are you still doing this one?

[2016-10-24 16:23] Aviationluver opened #1254 "LIRA-Rome Ciampino Airport-LAZIO-ITALY"
Rome-Ciampino Int'l Airport. I will be re-doing this one.

Runway is not longer than 10k feet.

[2016-10-25 00:17] moritzbabl commented on #1230
Sent for approval

[2016-10-26 14:38] Aviationluver opened #1255 "UKBB-Boryspil Airport-KIEV-UKRAINE"
Kiev Int'l Airport. This is a suggestion.

[2016-10-26 15:48] bavAVIA commented on #1247
Sent in for review.

[2016-10-26 20:39] Aviationluver commented on #1254
Sent in for review.

[2016-10-26 23:54] kilt46 commented on #1251
![image](https://cloud.githubusercontent.com/assets/14023167/19749299/afd75100-9bad-11e6-8a70-de4c347a5ea0.png)

[2016-10-27 04:54] #1141 closed

[2016-10-27 05:05] IFAEpat opened #1256 "EKSS-Samso Airport-ARHUS-DENMARK"
Myrtle Beach Intl

[2016-10-27 18:48] bavAVIA opened #1257 "ENNM"
Namsos Airport, tiny airport in Norway gets a cosmetic surgery.

[2016-10-27 19:38] bavAVIA commented on #1257
Sent in for review.

[2016-10-27 20:42] Aviationluver opened #1258 "LIBD-Bari Airport-PUGLIA-ITALY"
Bari Airport. I will be re-doing this one.

Runway is not longer than 10k feet.

[2016-10-27 21:12] CrashTest6254 opened #1259 "KSPS-Sheppard AFB/Wichita Falls Municipal Airport-TEXAS-USA"

[2016-10-27 21:13] CrashTest6254 opened #1260 "KMIB-Minot AFB Airport-NORTH DAKOTA-USA"

[2016-10-27 22:03] moritzbabl commented on #11
There are some wrongly orientated runway holds and some parking space are messed up, will also reposition the gates according to the new guidelines

[2016-10-27 22:28] brunocr98 commented on #1259
That airport was made, look the issue #399

[2016-10-27 22:34] kilt46 commented on #1254
Not in repo yet

[2016-10-27 22:35] brunocr98 commented on #1260
Airport also made, look the issue #143

[2016-10-27 22:59] CrashTest6254 opened #1261 "KSHV-Shreveport-Regional-Airport-LOUISIANA-USA"

[2016-10-27 23:06] CrashTest6254 opened #1262 "KRDU-Raleigh-Durham-International-Airport-NORTH CAROLINA-USA"

[2016-10-27 23:34] kilt46 commented on #11
![image](https://cloud.githubusercontent.com/assets/14023167/19789275/06572b9c-9c74-11e6-9c06-93540d47a5cc.png)

[2016-10-28 00:55] dushyants19 commented on #1254
Yeah not in repo. I'll close it when I add it

[2016-10-28 05:03] brunocr98 opened #1263 "MP00"
Airport already made, just needs a review. Justiniano Montenegro Airport.

[2016-10-28 05:04] brunocr98 opened #1264 "MP01"
Airport already made, just needs review. Finca Ceiba Airport.

[2016-10-28 05:05] brunocr98 opened #1265 "MP02"
Airport already made, just need a review, Finca 45 Airport.

[2016-10-28 05:07] brunocr98 opened #1266 "MP03"
Airport already made, just needs review. La Cabezona Airport.

[2016-10-28 05:08] brunocr98 opened #1267 "MP17"
Airport already made, just need review, Finca 67 Airport.

[2016-10-28 05:09] brunocr98 opened #1268 "MP18"
Airport already made, just need a review. Penonomé Airport.

[2016-10-28 05:10] brunocr98 opened #1269 "MP21"
Airport approved. I forgot to create an issue😅 Álvaro Berroa Airport.

[2016-10-28 05:11] brunocr98 opened #1270 "MP22"
Airport approved, I forgot to create the issue. Ingenio Santa Rosa Airport.

[2016-10-28 05:13] brunocr98 opened #1271 "MP23"
Airport already made, just need to be reviewed. Calzada Larga Airport.

[2016-10-28 05:14] brunocr98 opened #1272 "MP24"
Airport already made, needs to be reviewed. Chame Airport.

[2016-10-28 05:14] brunocr98 opened #1273 "MP26"
Airport already made, needs some fixes, Punta Cocos Airport.

[2016-10-28 05:15] brunocr98 opened #1274 "MP27"
Airport approved, I forgot to create the issue, Deborah Airport.

[2016-10-28 10:23] #1264 closed

[2016-10-28 10:23] #1266 closed

[2016-10-28 10:23] #1269 closed

[2016-10-28 10:23] #1270 closed

[2016-10-28 10:23] #1274 closed

[2016-10-28 10:27] dushyants19 commented on #1262
Are you requesting these airports to be done, @CrashTest6254? Or are you going to redo them?

[2016-10-28 10:48] dushyants19 commented on #779
Up for grabs

[2016-10-28 10:48] dushyants19 commented on #787
Up for Grabs

[2016-10-28 10:50] dushyants19 commented on #989
hows this going @turkish1941

[2016-10-28 10:51] dushyants19 commented on #943
Up for Grabs

[2016-10-28 10:51] dushyants19 commented on #924
@CJ-Sapan hows this going

[2016-10-28 10:51] dushyants19 commented on #384
Up for Grabs

[2016-10-28 10:52] dushyants19 commented on #350
Up for Grabs

[2016-10-28 10:52] dushyants19 commented on #350
IF airport

[2016-10-28 10:53] dushyants19 commented on #948
hows this going @RileyDunshea

[2016-10-28 10:53] dushyants19 commented on #775
@Ksisky hows this going

[2016-10-28 10:54] dushyants19 commented on #439
@antbelldev any progress?

[2016-10-28 10:54] dushyants19 commented on #591
Up for Grabs

[2016-10-28 10:54] dushyants19 commented on #571
Up for Grabs

[2016-10-28 10:56] dushyants19 commented on #546
@moiz20012 been 22 days, still no submission

[2016-10-28 10:59] Ksisky commented on #775
I was having scenery problems with this one, Wedbing wasn't loading any detail at all.

[2016-10-28 11:00] dushyants19 commented on #775
ok ill put it for grabs

[2016-10-28 13:35] KarlLuebs opened #1275 "ENTC-Tromso/Langnes Airport-TROMS-NORWAY"
I'll redo this one.

[2016-10-28 13:53] CrashTest6254 commented on #1262
I'm redoing them

On Friday, October 28, 2016, Dushyanth <notifications@github.com> wrote:

[2016-10-28 14:51] dushyants19 commented on #1262
@CrashTest6254 cool. Can you mail airports@liveflightapp.com so you can know the things you gotta do? :)

[2016-10-28 15:02] turkish1941 commented on #989
@dushyants19 I have been really busy with school so I kinda forgot about it. If you want to make it, feel free to do so....  otherwise I'll finish it within one month.

[2016-10-28 15:14] dushyants19 commented on #989
Take your time :)

[2016-10-28 20:11] kilt46 commented on #1264
![image](https://cloud.githubusercontent.com/assets/14023167/19820853/ddddff08-9d20-11e6-9cb8-c3f2bacc5632.png)

[2016-10-28 22:13] RileyDunshea commented on #948
It's taking me a while because I have another airport I'm doing too. Should be done quite quickly as soon as I finish EPWA.

Sent from my iPad

[2016-10-28 22:15] kilt46 commented on #1270
![image](https://cloud.githubusercontent.com/assets/14023167/19824060/109a6182-9d32-11e6-9390-84e11a35d5da.png)

[2016-10-28 22:38] kilt46 commented on #1266
![image](https://cloud.githubusercontent.com/assets/14023167/19824472/5ffa6b52-9d35-11e6-8490-51857560b3bb.png)

[2016-10-28 22:42] kilt46 commented on #1269
![image](https://cloud.githubusercontent.com/assets/14023167/19824511/d744522c-9d35-11e6-8e73-1cb30d502526.png)

[2016-10-29 03:55] dushyants19 commented on #546
Up for Grabs

[2016-10-29 03:59] dushyants19 commented on #917
@moritzbabl you're doing this

[2016-10-29 04:47] benschenk commented on #1243
Please close, don't have time rn

[2016-10-29 05:35] dushyants19 commented on #1243
Up for grabs

[2016-10-29 08:13] Aviationluver commented on #1258
Sent in for review.

[2016-10-29 10:47] Aviationluver opened #1276 "LIRP-Pisa Airport-TOSCANA-ITALY"
Pisa Int'l Airport. I will be re-doing this.

Both runways are not longer than 10k feet.

[2016-10-29 11:26] #1263 closed

[2016-10-29 11:26] #1265 closed

[2016-10-29 11:26] #1267 closed

[2016-10-29 11:26] #1268 closed

[2016-10-29 11:26] #1271 closed

[2016-10-29 11:26] #1272 closed

[2016-10-29 11:26] #1273 closed

[2016-10-29 11:29] dushyants19 commented on #1258
you are doing nice work!

[2016-10-29 11:38] bavAVIA opened #1277 "DAUA"
DAUA // AZR

Touat-Cheikh Sidi Mohamed Belkebir Airport, Adrar, Algeria.
Being redone.

[2016-10-29 11:48] #1257 closed

[2016-10-29 11:57] dushyants19 commented on #565
no time

[2016-10-29 12:21] bavAVIA opened #1278 "KDSM-Des Moines International Airport-IOWA-USA"
KDSM - Des Moines International Airport, IA, United States, being redone.

[2016-10-29 13:57] CJ-Sapan commented on #924
Stilll getting there

On 28 October 2016 at 11:51, Dushyanth <notifications@github.com> wrote:

[2016-10-29 14:07] unitedfc opened #1279 "SAWB"

[2016-10-29 15:49] dushyants19 commented on #1279
do you want to redo?

[2016-10-29 16:07] #1277 closed

[2016-10-29 16:11] #1230 closed

[2016-10-29 17:06] bavAVIA opened #1280 "GABS"
Modibo Keita / Senou Airport - Bamako, Mali being redone.
Priority 2 Airport.

[2016-10-29 19:07] lolo31r opened #1281 "BIBA Bakki Airport"
doing this now

[2016-10-29 21:07] Tbynum94 opened #1282 "KBHM-Birmingham-Shuttlesworth International Airport-ALABAMA-USA"
Requesting to complete Birmingham-Shuttlesworth International Airport.

[2016-10-29 21:09] crashtest25 opened #1283 "KGSP-Greenville Spartanburg International Airport-SOUTH CAROLINA-USA"

[2016-10-29 21:31] IceBlue02 commented on #1282
Permission granted ;)

lol

[2016-10-29 22:36] IceBlue02 commented on #1283
@crashtest25 why did you close this?

[2016-10-30 09:18] dushyants19 commented on #1283
Please mail airports@liveflightapp.com

[2016-10-30 09:30] #1250 closed

[2016-10-30 10:58] Adam167 commented on #8
Sent for review

[2016-10-30 12:10] kilt46 commented on #1250
![image](https://cloud.githubusercontent.com/assets/14023167/19836487/e5a254c8-9e6f-11e6-9a59-8e4f708ad03a.png)

[2016-10-30 12:18] kilt46 commented on #1268
![image](https://cloud.githubusercontent.com/assets/14023167/19836526/fe76165a-9e70-11e6-8ff6-c99d3dead01a.png)

[2016-10-30 12:18] kilt46 commented on #1271
![image](https://cloud.githubusercontent.com/assets/14023167/19836527/10887e14-9e71-11e6-977b-5976fc1334a7.png)

[2016-10-30 12:21] kilt46 commented on #1265
![image](https://cloud.githubusercontent.com/assets/14023167/19836541/74f982a8-9e71-11e6-8a3d-6d8a9771dc07.png)

[2016-10-30 12:29] kilt46 commented on #1263
![image](https://cloud.githubusercontent.com/assets/14023167/19836561/8d232bd0-9e72-11e6-8169-4163e7cc6414.png)

[2016-10-30 13:51] kilt46 commented on #419
![image](https://cloud.githubusercontent.com/assets/14023167/19836979/04d269f6-9e7e-11e6-8a38-411faa7813a6.png)

[2016-10-30 13:53] kilt46 commented on #419
Terminal 1
![image](https://cloud.githubusercontent.com/assets/14023167/19836991/3ecb8bc4-9e7e-11e6-8cfa-245669402819.png)

[2016-10-30 13:53] kilt46 commented on #419
Terminal 4 and 4S
![image](https://cloud.githubusercontent.com/assets/14023167/19836994/59bbfa22-9e7e-11e6-8f69-2999c8f69c2b.png)

[2016-10-30 14:25] kilt46 commented on #1230
![image](https://cloud.githubusercontent.com/assets/14023167/19837204/bf530d7c-9e82-11e6-93ac-98d508da93d6.png)

[2016-10-30 14:25] kilt46 commented on #1230
A380 Parking
![image](https://cloud.githubusercontent.com/assets/14023167/19837207/d079813a-9e82-11e6-9893-8e45a3e63332.png)

[2016-10-30 14:35] kilt46 commented on #1277
![image](https://cloud.githubusercontent.com/assets/14023167/19837263/2b9e28e4-9e84-11e6-9aac-fee6ee311be6.png)

[2016-10-30 14:48] kilt46 commented on #1257
![image](https://cloud.githubusercontent.com/assets/14023167/19837334/0e67267a-9e86-11e6-98c0-d0e520743f87.png)

[2016-10-30 14:56] brunocr98 commented on #678
I'm adopting this airport 😇

[2016-10-30 15:00] kilt46 commented on #1219
![image](https://cloud.githubusercontent.com/assets/14023167/19837452/a22e63fe-9e87-11e6-9038-696ee2f8976b.png)

[2016-10-30 15:07] #1281 closed

[2016-10-30 15:08] kilt46 commented on #1258
![image](https://cloud.githubusercontent.com/assets/14023167/19837489/bf599a2e-9e88-11e6-850e-d696a9addbc3.png)

[2016-10-30 15:18] kilt46 commented on #1281
![image](https://cloud.githubusercontent.com/assets/14023167/19837557/22a5474e-9e8a-11e6-9413-c13fe0d0a69b.png)

[2016-10-30 15:25] kilt46 commented on #1247
These gates are WRONG: Check the Satellite image!!
![image](https://cloud.githubusercontent.com/assets/14023167/19837604/17c443d8-9e8b-11e6-8e91-a5631b5e3adb.png)

[2016-10-30 15:28] kilt46 commented on #1272
![image](https://cloud.githubusercontent.com/assets/14023167/19837626/8a9f2dc8-9e8b-11e6-98a8-79c14e7053df.png)

[2016-10-30 15:30] kilt46 commented on #1267
![image](https://cloud.githubusercontent.com/assets/14023167/19837643/e54fd02e-9e8b-11e6-9962-9de9df4d85e2.png)

[2016-10-30 21:39] Aviationluver commented on #1276
Sent in for review.

[2016-10-31 06:31] Aviationluver opened #1284 "EDLW"
Dortmund-Wickede Int'l Airport. I will be re-doing this one.

Runway is not longer than 10k feet.

[2016-10-31 06:36] tsarkov90 opened #1285 "HTZA-Abeid Amani Karume International Airport-ZANZIBAR-TANZANIA"
Zanzibar Airport

[2016-10-31 09:52] patspark commented on #1260
ill work on it

[2016-10-31 14:32] bavAVIA commented on #1119
Please unassign. I'm aborting this project, it's driving me crazy ever since I started. Up for grabs.
Sorry.

[2016-10-31 22:01] kilt46 commented on #1247
![image](https://cloud.githubusercontent.com/assets/14023167/19873200/b0d285b6-9f8b-11e6-94ed-c146c80d9064.png)

[2016-10-31 22:01] #1247 closed

[2016-10-31 23:02] Aviationluver commented on #1284
Sent in for review.

[2016-10-31 23:59] kilt46 commented on #130
![image](https://cloud.githubusercontent.com/assets/14023167/19875615/1ddadd42-9f9c-11e6-9b27-5f6a4f917af6.png)

[2016-11-01 00:36] kilt46 commented on #8
![image](https://cloud.githubusercontent.com/assets/14023167/19876162/43967c12-9fa1-11e6-8a72-415c5eb4b5d4.png)

[2016-11-01 00:44] kilt46 commented on #1254
![image](https://cloud.githubusercontent.com/assets/14023167/19876261/780e02e8-9fa2-11e6-8922-168972cbf314.png)

[2016-11-01 01:14] IFAEpat commented on #1256
up for grabs

[2016-11-01 01:17] IFAEpat commented on #596
Now has scheduled A3i80 flights!

@lachieee how's this going?

[2016-11-01 01:19] IFAEpat commented on #596
It seems lachlan isn't on slack, guess he quit, up for grabs :)

[2016-11-01 01:20] IFAEpat commented on #596
It seems Lachlan isn't on slack anymore, guessing he quit, up for grabs :)

[2016-11-01 01:56] kilt46 commented on #1274
![image](https://cloud.githubusercontent.com/assets/14023167/19877355/837bbd8c-9fac-11e6-8ae1-026a0390048f.png)

[2016-11-01 02:04] kilt46 commented on #1253
![image](https://cloud.githubusercontent.com/assets/14023167/19877473/8f68a226-9fad-11e6-96a2-8a9fe37700b6.png)

[2016-11-01 02:06] kilt46 commented on #124
![image](https://cloud.githubusercontent.com/assets/14023167/19877521/e6273adc-9fad-11e6-87a7-5bec0fc09fa8.png)

[2016-11-01 10:48] bavAVIA commented on #1280
Sent in for review.

[2016-11-01 11:36] PaulNielsen commented on #1252
Done, sorry Kilt if some gates aren't exactly correct. As the WedBing image was not the best, I hade to draw some gates out of blind eye.

[2016-11-01 12:09] kilt46 commented on #1285
![image](https://cloud.githubusercontent.com/assets/14023167/19889282/15166ec2-a002-11e6-8932-a2c219220777.png)

[2016-11-01 12:11] bavAVIA opened #1286 "EFTU"
Turku Airport, Finland getting a cosmetic surgery.

[2016-11-01 15:59] dushyants19 commented on #1286
"cosmetic". ugh, really?

[2016-11-01 17:18] Aviationluver opened #1287 "LIEE-Cagliari-Elmas Airport-SARDEGNA-ITALY"
Cagliari Airport. I will be re-doing this. Runway not longer than 10k feet.

[2016-11-01 20:16] IFAEpat commented on #1139
Up for grabs

[2016-11-01 20:16] kilt46 commented on #75
![image](https://cloud.githubusercontent.com/assets/14023167/19905794/371eb7ba-a046-11e6-983b-afa11fefbe5a.png)

[2016-11-01 20:16] IFAEpat commented on #1134
Up for grabs

[2016-11-01 20:17] IFAEpat commented on #1133
Up for grabs

[2016-11-01 20:18] IFAEpat commented on #913
Up for grabs

[2016-11-01 20:18] IFAEpat commented on #889
Up for grabs

[2016-11-01 21:32] brunocr98 opened #1288 "SAEZ-Ministro Pistarini Airport-BUENOS AIRES-ARGENTINA"
Doing this airport, Ministro Pistarini Airport. Their runways are long than >10,000ft

[2016-11-01 23:34] sentikum commented on #1255
Ok, I can do that.

[2016-11-02 00:12] kilt46 commented on #1252
![image](https://cloud.githubusercontent.com/assets/14023167/19912237/14c36bfe-a067-11e6-9a72-562dd7c3122c.png)

[2016-11-02 00:17] kilt46 commented on #1235
![image](https://cloud.githubusercontent.com/assets/14023167/19912346/ce4280d8-a067-11e6-8b2e-05c290bd5ff9.png)

[2016-11-02 00:30] kilt46 commented on #1188
![image](https://cloud.githubusercontent.com/assets/14023167/19912607/a767d4b6-a069-11e6-9229-b71d35f5b84a.png)

[2016-11-02 13:38] #1284 closed

[2016-11-02 13:39] dushyants19 commented on #1236
great work

[2016-11-02 13:39] dushyants19 commented on #1287
you are doing some great contributions!

[2016-11-02 14:00] JcFl4 opened #1289 "SCRM"
Teniente R. Marsh, Antartica

[2016-11-02 14:00] #1289 closed

[2016-11-02 14:35] JcFl4 opened #1290 "SAWC"
Comandante Armando Tola International Airport, Argentina

[2016-11-02 23:13] lachieee commented on #596
Not on Slack, as my account has been removed - likely due to inactivity? As mentioned before,

Currently, It is the 3/11/16. Being in New Zealand I have High School Exams upcoming right through from now until the 27th of November. I would prefer to have this time to study, and will continue to work on this airport after. I have completed all major parts of the airport, I last stopped at the point

[2016-11-02 23:28] voosman12 opened #1291 "HKMO-Mombasa-Moi Airport-COAST-KENYA"

[2016-11-02 23:37] kilt46 commented on #1
![image](https://cloud.githubusercontent.com/assets/14023167/19951331/5ccc552c-a12b-11e6-8dd4-c3f1e529a234.png)

[2016-11-02 23:46] TristinWoolf commented on #1291
Please search before creating issues. This is a duplicate. Continue discussion in #874.

[2016-11-02 23:54] kilt46 commented on #1202
![image](https://cloud.githubusercontent.com/assets/14023167/19951704/d5e49d50-a12d-11e6-99cd-5a56c95c7cb5.png)

[2016-11-03 00:19] kilt46 commented on #1289
![image](https://cloud.githubusercontent.com/assets/14023167/19952183/5433c1f6-a131-11e6-9b83-756b672fe22a.png)

[2016-11-03 00:29] kilt46 commented on #1236
![image](https://cloud.githubusercontent.com/assets/14023167/19952348/9d0594c6-a132-11e6-8365-6e3bbbb4bbe0.png)

[2016-11-03 01:56] kilt46 commented on #1276
![image](https://cloud.githubusercontent.com/assets/14023167/19953685/da229eec-a13e-11e6-892b-b2a93af29203.png)

[2016-11-03 02:10] kilt46 commented on #1284
![image](https://cloud.githubusercontent.com/assets/14023167/19953853/ba16f808-a140-11e6-96a4-70d8e246244e.png)

[2016-11-03 03:32] dushyants19 commented on #575
I understand you'd like to do it in a year, but since Bruno offered us to finish it quickly. I've assigned him. You aren't doing this anymore @rob1594

[2016-11-03 06:38] dushyants19 commented on #1290
Since you commited this @JcFl4, can we close it?

[2016-11-03 08:41] JcFl4 commented on #1290
Yes, sorry it was late and I forgot...

[2016-11-03 08:42] #1290 closed

[2016-11-03 09:55] JcFl4 opened #1292 "SABE-Aeroparque Jorge Newbery Airport-BUENOS AIRES-ARGENTINA"
Aeroparque Jorge Newbery, Buenos Aires, Argentina

[2016-11-03 09:57] bavAVIA commented on #1278
Please unassign. Lost all files on my laptop including the progress on this one. Can't motivate myself to do this one anymore.

[2016-11-03 11:28] dushyants19 commented on #1278
Motivation you can do it! You can export it

[2016-11-03 14:52] matsedvin opened #1293 "OEPS-Prince Sultan Airbase Airport-AR RIYAD-SAUDI ARABIA"
PLEASE EDIT ME

[2016-11-03 15:18] dushyants19 commented on #730
@henrikbg hows this going

[2016-11-03 17:16] henrikbg commented on #730
Very well, thanks for asking. Pretty sure I've already committed this.

[2016-11-03 17:19] PaulNielsen commented on #730
Why is it still open than? :thinking:

[2016-11-03 17:23] henrikbg commented on #730
Maybe I forgot to close it? ¯\_(ツ)_/¯

[2016-11-03 17:27] PaulNielsen commented on #730
Bad Henrik 😡

[2016-11-03 17:28] henrikbg commented on #730
Chill. Now work on airports.

[2016-11-03 17:43] bavAVIA commented on #1278
I never sent KDSM to anyone and I lost all files on my laptop.
I mean, I would restart it if I only had a bit of it before, but seriously - all the lines and pavement were 90% finished. No sorry.
Unassign.

[2016-11-03 18:14] PaulNielsen opened #1294 "LEAM-Almeria-ANDALUCIA-SPAIN"
Almeria airport being redone

[2016-11-03 22:12] kilt46 commented on #730
![image](https://cloud.githubusercontent.com/assets/14023167/19987342/afcc3342-a1e8-11e6-872e-35e0ba39c5b2.png)

[2016-11-03 22:35] matsedvin commented on #1293
What's happening here?

[2016-11-03 22:36] PaulNielsen commented on #1293
Bergen is already redone and has a issue to it :)

[2016-11-03 23:09] kilt46 commented on #742
![image](https://cloud.githubusercontent.com/assets/14023167/19988855/acad12fa-a1f0-11e6-963e-d2b39d94427f.png)

[2016-11-04 04:48] dushyants19 commented on #1293
@matsedvin recycling is good for the environment ♻️

[2016-11-04 04:59] dushyants19 commented on #1294
you should do some suggestions, @PaulNielsen

[2016-11-04 08:44] matsedvin commented on #531
I **finally** fixed my WEDbing problems, I'm working on it now.

[2016-11-04 08:46] PaulNielsen commented on #1294
@dushyants19 I probably should, but many suggestions are either really big airports my brain can't handle. Or airports with no Bing imagery.  Me and orthophoto don't go together really.

[2016-11-04 09:19] matsedvin opened #1296 "ENTO-Sandefjord / Torp Airport-VESTFOLD-NORWAY"
Sandefjord Lufthavn Torp (ENTO) located in Sandefjord, Norway.

[2016-11-04 16:13] Aviationluver commented on #1287
Sent in for review.

[2016-11-04 17:42] dushyants19 commented on #787
Used @B777fan's latest copy, made some changes added it.

[2016-11-04 20:36] Aviationluver opened #1297 "VOCI-Cochin International Airport-KERALA-INDIA"
Cochin Int'l Airport. This is a suggestion. I do not want to re-do it.

[2016-11-04 20:41] kilt46 commented on #787
![image](https://cloud.githubusercontent.com/assets/14023167/20021718/3645c2d2-a2a5-11e6-83b7-274dfd4b7549.png)

[2016-11-04 22:36] Aviationluver opened #1298 "CYHZ"
Halifax Int'l airport. I will be re-doing this one.

Runway 05/23 is longer than 10k feet.

[2016-11-04 22:37] kilt46 commented on #5
![image](https://cloud.githubusercontent.com/assets/14023167/20024549/5a8f50b2-a2b5-11e6-829f-efb8a1440c37.png)

[2016-11-05 00:13] moritzbabl commented on #917
Sent for approval

[2016-11-05 02:33] kilt46 commented on #688
![image](https://cloud.githubusercontent.com/assets/14023167/20027013/468e2ec8-a2d6-11e6-8bf6-be5d3d8bf086.png)

[2016-11-05 06:56] dushyants19 commented on #1297
bad.

[2016-11-05 06:57] Aviationluver commented on #1297
what's bad? @dushyants19

[2016-11-05 06:58] dushyants19 commented on #1297
bad as in you made it as a suggestion and you didn't do it :(

[2016-11-05 06:59] #917 closed

[2016-11-05 07:46] dushyants19 commented on #107
Assigning @janpolet since he wants to make minor fixes

[2016-11-05 10:48] kilt46 commented on #917
![image](https://cloud.githubusercontent.com/assets/14023167/20029493/7c2311bc-a31b-11e6-9b0d-70faf3e88f42.png)
![image](https://cloud.githubusercontent.com/assets/14023167/20029496/85041538-a31b-11e6-8b56-1cbd5ae4d5e6.png)

[2016-11-05 10:57] kilt46 commented on #1287
![image](https://cloud.githubusercontent.com/assets/14023167/20029547/bd6913a0-a31c-11e6-913f-ac501f45e0d2.png)

[2016-11-05 11:31] kilt46 commented on #1237
![image](https://cloud.githubusercontent.com/assets/14023167/20029696/8230529e-a321-11e6-9cff-42a224745765.png)

[2016-11-05 11:32] kilt46 commented on #1237
![image](https://cloud.githubusercontent.com/assets/14023167/20029700/b00f675e-a321-11e6-8694-e3e7db162026.png)

[2016-11-05 11:33] kilt46 commented on #1237
Issues fixed and closed

[2016-11-05 11:33] #1237 closed

[2016-11-05 11:59] kilt46 commented on #1214
![image](https://cloud.githubusercontent.com/assets/14023167/20029849/6d606ff8-a325-11e6-802c-474ca2a9f1ee.png)

[2016-11-05 12:08] #1214 closed

[2016-11-05 12:28] kilt46 commented on #1228
![image](https://cloud.githubusercontent.com/assets/14023167/20029976/75820e9a-a329-11e6-986b-dcce81a529d8.png)

[2016-11-05 12:32] #1228 closed

[2016-11-05 13:33] kilt46 commented on #287
![image](https://cloud.githubusercontent.com/assets/14023167/20030414/830bd6d2-a332-11e6-9955-7763606f8601.png)

[2016-11-05 15:23] kilt46 commented on #289
![image](https://cloud.githubusercontent.com/assets/14023167/20031216/de1eaae0-a341-11e6-98d1-7e1ed2f298dc.png)

[2016-11-05 16:16] kilt46 commented on #539
![image](https://cloud.githubusercontent.com/assets/14023167/20031675/3e712e0c-a349-11e6-8236-dcf190f681fa.png)

[2016-11-05 16:41] IFAEpat commented on #74
Up for grabs

[2016-11-05 16:53] dushyants19 commented on #774
Doing this using SAS

[2016-11-05 22:48] IFAEpat commented on #535
South Main Terminal unfinished in WEDbing (1.0.2), need a SAS user

[2016-11-05 23:13] IFAEpat commented on #581
Basically half the airport's missing in this one in WEDbing

[2016-11-05 23:27] IFAEpat commented on #589
@cboisselier ?

[2016-11-06 02:27] dushyants19 commented on #535
@IFAEpat upload the apt and put it as a suggestion

[2016-11-06 02:27] dushyants19 commented on #589
Unassigned @cboisselier

[2016-11-06 03:07] dushyants19 commented on #774
should be fixed

[2016-11-06 03:57] dushyants19 commented on #1229
Should've been fixed

[2016-11-06 03:57] #1229 closed

[2016-11-06 11:32] kilt46 commented on #186
![image](https://cloud.githubusercontent.com/assets/14023167/20037291/6dd51a0c-a3e2-11e6-913c-00a0a86656ae.png)

[2016-11-06 11:49] dushyants19 commented on #477
@ReflexRSM is doing this, @Ksisky.

[2016-11-06 12:10] kilt46 commented on #299
![image](https://cloud.githubusercontent.com/assets/14023167/20037567/c1428e90-a3e7-11e6-9306-75d18bda7371.png)

[2016-11-06 12:12] kilt46 commented on #305
![image](https://cloud.githubusercontent.com/assets/14023167/20037577/f877a3f0-a3e7-11e6-836a-baeb5ae38ec1.png)

[2016-11-06 12:12] kilt46 commented on #144
![image](https://cloud.githubusercontent.com/assets/14023167/20037580/0fb92fc0-a3e8-11e6-9858-e82687c9e66d.png)

[2016-11-06 12:13] Aviationluver commented on #1298
Sent in for review.

[2016-11-06 12:39] kilt46 commented on #140
![image](https://cloud.githubusercontent.com/assets/14023167/20037727/bd589802-a3eb-11e6-9275-47195176e815.png)

[2016-11-06 13:23] kilt46 commented on #166
![image](https://cloud.githubusercontent.com/assets/14023167/20038049/e69f9336-a3f1-11e6-9129-ac06a90990c3.png)

[2016-11-06 13:31] kilt46 commented on #164
![image](https://cloud.githubusercontent.com/assets/14023167/20038087/0515f6ce-a3f3-11e6-883b-09fdb4efc307.png)

[2016-11-06 13:35] kilt46 commented on #1229
![image](https://cloud.githubusercontent.com/assets/14023167/20038118/9ae47be4-a3f3-11e6-81cb-3647c57460cf.png)

[2016-11-06 13:43] kilt46 commented on #189
![image](https://cloud.githubusercontent.com/assets/14023167/20038181/a6634558-a3f4-11e6-95f5-e456bfb0932b.png)

[2016-11-06 13:46] kilt46 commented on #188
![image](https://cloud.githubusercontent.com/assets/14023167/20038203/2a1fa350-a3f5-11e6-8aac-7636c60d8a8d.png)

[2016-11-06 13:55] kilt46 commented on #292
![image](https://cloud.githubusercontent.com/assets/14023167/20038289/65121640-a3f6-11e6-8a26-b08a5390d3ef.png)

[2016-11-06 14:21] bavAVIA commented on #1286
Sent in for review.

[2016-11-06 15:00] Aviationluver opened #1299 "LPFR"
Faro Int'l airport. I will be re-doing this one.

Runway not longer than 10k feet.

[2016-11-06 15:10] kilt46 commented on #303
![image](https://cloud.githubusercontent.com/assets/14023167/20038897/e3066aec-a400-11e6-964a-77141e65be59.png)

[2016-11-06 15:12] bavAVIA commented on #1234
I'm redoing this one.

[2016-11-06 15:16] kilt46 commented on #230
![image](https://cloud.githubusercontent.com/assets/14023167/20038947/c428b124-a401-11e6-902f-eac5cecddbdb.png)

[2016-11-06 15:35] #1286 closed

[2016-11-06 15:45] bavAVIA opened #1300 "FOOL"
FOOL - Liberville International Airport, Gabon being redone.
Runway is slightly shorter than 10.000ft.

[2016-11-06 15:45] kilt46 commented on #307
![image](https://cloud.githubusercontent.com/assets/14023167/20039203/bef593c6-a405-11e6-8c85-16d5013c1fb9.png)

[2016-11-06 17:36] IFAEpat commented on #550
@J0mpa any news? I've tried contacting you on Slack and Discord, are you still doing this???

[2016-11-06 18:03] kilt46 commented on #207
![image](https://cloud.githubusercontent.com/assets/14023167/20040219/187d38fa-a419-11e6-8462-88ac2a593418.png)

[2016-11-06 18:18] kilt46 commented on #1286
![image](https://cloud.githubusercontent.com/assets/14023167/20040351/1b56fd98-a41b-11e6-97e9-7b569dcdc45a.png)

[2016-11-06 18:25] ErshovlaD opened #1301 "URFF-Simferopol International Airport-CRIMEA-RUSSIA"
It is UKFF, but after annexation of Crimea this airport have other ICAO (URFF)

It need rework spawns.
Being redone
Airport priority 2 (10 000ft+)

[2016-11-06 18:38] WrenJago opened #1302 "EGTB"

[2016-11-06 18:47] ErshovlaD opened #1303 "UATT-Aktobe Airport-AQTOBE-KAZAKHSTAN"
Being redone
Priority 2 (10000ft+)

[2016-11-06 19:13] moritzbabl opened #1304 "ETSI"
Ingolstadt Manching Airbase
German Air Force and Airbus Defence and Space Maintenance Base
Former Transoceanic Abort Landing Site for the Space Shuttle
Also has a small civil airfield included

Runways not longer than 10000 feet

[2016-11-06 21:16] kilt46 commented on #57
![image](https://cloud.githubusercontent.com/assets/14023167/20041775/f44c1e90-a433-11e6-8011-db54b4df9d4b.png)

[2016-11-06 21:29] kilt46 commented on #67
![image](https://cloud.githubusercontent.com/assets/14023167/20041896/d40612f6-a435-11e6-8732-7c683816b703.png)

[2016-11-06 22:10] kilt46 commented on #192
![image](https://cloud.githubusercontent.com/assets/14023167/20042213/925f4894-a43b-11e6-9a65-e77c97298a4b.png)

[2016-11-07 01:07] kilt46 commented on #49
![image](https://cloud.githubusercontent.com/assets/14023167/20043509/35e12f2e-a454-11e6-9f74-b31b008ce87a.png)

[2016-11-07 01:13] kilt46 commented on #89
![image](https://cloud.githubusercontent.com/assets/14023167/20043568/1380bbf6-a455-11e6-9714-cbcf68e63217.png)

[2016-11-07 01:25] kilt46 commented on #678
![image](https://cloud.githubusercontent.com/assets/14023167/20043702/b95b5fee-a456-11e6-8ee2-e7d8d9033907.png)
![image](https://cloud.githubusercontent.com/assets/14023167/20043708/cb3c0efc-a456-11e6-823c-128f43cf6dca.png)

[2016-11-07 01:41] kilt46 commented on #774
![image](https://cloud.githubusercontent.com/assets/14023167/20043867/0a5c2bce-a459-11e6-9531-71a6d5ffbfc8.png)

[2016-11-07 02:06] kilt46 commented on #685
![image](https://cloud.githubusercontent.com/assets/14023167/20044212/763e5878-a45c-11e6-8834-a73ef4a95891.png)

[2016-11-07 08:05] patspark commented on #1260
I'm having a lot of trouble working on this afb as my first airport....I seek to start off with a much simpler and easy airport....pls unassign

[2016-11-07 11:32] kilt46 commented on #319
How did this ever get approved????
![image](https://cloud.githubusercontent.com/assets/14023167/20056402/8e06a862-a4ab-11e6-801b-13ec09ebdf88.png)

[2016-11-07 11:33] kilt46 commented on #319
This is simply junk!!!
![image](https://cloud.githubusercontent.com/assets/14023167/20056429/aa0f87fe-a4ab-11e6-963b-bcf26a1b2178.png)

[2016-11-07 11:40] dushyants19 commented on #319
@henrikbg do you just blindly approve airports?

[2016-11-07 11:43] dushyants19 commented on #1302
Issue title as ICAO please, and @WrenJago please give some description

[2016-11-07 11:44] dushyants19 commented on #1301
Maximum 3 issues per person please

[2016-11-07 11:45] dushyants19 commented on #1304
assigned you @moritzbabl

[2016-11-07 11:47] dushyants19 commented on #511
@Hamza1108 how is this going?

[2016-11-07 11:49] dushyants19 commented on #1283
No mail, up for grabs

[2016-11-07 11:49] dushyants19 commented on #1262
@CrashTest6254 any chance of mailing us? Else ill unassign you :)

[2016-11-07 11:52] dushyants19 commented on #439
up for grabs

[2016-11-07 11:53] dushyants19 commented on #440
up for grabs

[2016-11-07 11:53] dushyants19 commented on #401
@tacobell1015 any progress? :)

[2016-11-07 11:53] dushyants19 commented on #344
unassigned @JonathanAirbus

[2016-11-07 11:55] dushyants19 commented on #552
hows this going? @Jacob-IF

[2016-11-07 11:55] dushyants19 commented on #550
up for grabs

[2016-11-07 11:56] dushyants19 commented on #547
@bylrret hows this going!

[2016-11-07 11:56] dushyants19 commented on #529
Unassigned, @ReflexRSM want to do it?

[2016-11-07 11:58] dushyants19 commented on #625
@corporate1401 any progress?

[2016-11-07 11:58] dushyants19 commented on #618
@canoneoswen are you doing this?

[2016-11-07 11:58] dushyants19 commented on #610
@CaptainTrapBeats any progress on this and #600?

[2016-11-07 12:00] dushyants19 commented on #726
@sudafly any progress?

[2016-11-07 12:00] dushyants19 commented on #729
Up for Grabs

[2016-11-07 12:00] dushyants19 commented on #695
@danielshaw any progress?

[2016-11-07 12:01] dushyants19 commented on #668
Up for Grabs

[2016-11-07 12:01] dushyants19 commented on #663
Up for Grabs

[2016-11-07 12:01] dushyants19 commented on #666
Up for Grabs

[2016-11-07 12:01] dushyants19 commented on #664
Up for Grabs

[2016-11-07 12:02] dushyants19 commented on #636
Up for Grabs

[2016-11-07 12:03] dushyants19 commented on #808
Up for Grabs

[2016-11-07 12:03] dushyants19 commented on #790
Up for Grabs

[2016-11-07 12:04] dushyants19 commented on #1027
How is this one going ? @sudafly

[2016-11-07 12:04] dushyants19 commented on #1018
@Hamza1108 hows this goin

[2016-11-07 12:04] dushyants19 commented on #1010
@owenkreisler are you doing this?

[2016-11-07 12:05] dushyants19 commented on #1003
@hmkane1214 hows this going

[2016-11-07 12:05] dushyants19 commented on #1015
@KarlLuebs any progress

[2016-11-07 12:07] dushyants19 commented on #1053
@Benny87654321 when are you going to submit

[2016-11-07 12:07] dushyants19 commented on #1059
@Theyoshifan200 hows this going

[2016-11-07 12:08] dushyants19 commented on #1115
@MalongMa are you doing this?

[2016-11-07 12:17] #1025 closed

[2016-11-07 12:26] lalomarlin opened #1305 "MMMT"
Minatitlán/Coatzacoalcos International Airport  (MTT)

[2016-11-07 12:31] hmkane1214 commented on #1003
Not good. A while in WED stopped running for me. I don't think I have enough storage.

[2016-11-07 12:42] owenkreisler commented on #1010
Hello,
I am not doing editing anymore because I was in the hospital for awhile and
have a ton of school work. Sorry for just disappearing but I didn't have
time to contact you.

On Monday, November 7, 2016, Dushyanth <notifications@github.com> wrote:

--
Skilage Owen

[2016-11-07 13:16] kilt46 commented on #319
![image](https://cloud.githubusercontent.com/assets/14023167/20059119/27352abe-a4ba-11e6-9058-79ab10bef696.png)

[2016-11-07 13:17] kilt46 commented on #319
![image](https://cloud.githubusercontent.com/assets/14023167/20059122/32c6ecb4-a4ba-11e6-9407-1637675b17ff.png)

[2016-11-07 13:17] kilt46 commented on #319
![image](https://cloud.githubusercontent.com/assets/14023167/20059134/3e24423c-a4ba-11e6-975b-f8c31b0082e1.png)

[2016-11-07 13:23] kilt46 commented on #1025
![image](https://cloud.githubusercontent.com/assets/14023167/20059289/12a4e048-a4bb-11e6-896d-a209b54b43b0.png)

[2016-11-07 14:08] kilt46 commented on #482
![image](https://cloud.githubusercontent.com/assets/14023167/20060557/628b4a24-a4c1-11e6-83a9-c0d47cb4da6a.png)

[2016-11-07 14:44] KarlLuebs commented on #1015
Hi Dush, I’m progressing and nearly done. Give me at the very most one week.

Thanks, Karl

[2016-11-07 15:12] CaptainTrapBeats commented on #610
No

On Nov 7, 2016 18:58, "Dushyanth" <notifications@github.com> wrote:

[2016-11-07 15:44] dushyants19 commented on #1305
what do you intend to do? @lalomarlin

[2016-11-07 15:44] dushyants19 commented on #1003
Up for Grabs

@hmkane1214 you can do it later, if your things start working

[2016-11-07 15:45] dushyants19 commented on #1010
Up for Grabs

[2016-11-07 15:45] dushyants19 commented on #610
Up for Grabs

[2016-11-07 15:45] dushyants19 commented on #600
Up for Grabs

[2016-11-07 16:49] #1280 closed

[2016-11-07 17:23] lalomarlin commented on #1305
I dont get your answer.

[2016-11-07 18:00] lalomarlin commented on #533
MMMX is delayed again

[2016-11-07 19:43] JcFl4 commented on #808
I'm in!!

[2016-11-07 19:44] JcFl4 commented on #808
Didn't I assign myself already? I thought I did..

[2016-11-07 20:02] tacobell1015 commented on #401
Slowly but surely. Im still trying to find a map with the new terminal 2

[2016-11-07 21:46] kilt46 commented on #665
![image](https://cloud.githubusercontent.com/assets/14023167/20077255/47cfb4aa-a501-11e6-96b8-10af29102c53.png)

[2016-11-07 21:55] kilt46 commented on #645
![image](https://cloud.githubusercontent.com/assets/14023167/20077603/a3ea4cfe-a502-11e6-9cde-ede7010d7c76.png)

[2016-11-07 23:08] kilt46 commented on #662
![image](https://cloud.githubusercontent.com/assets/14023167/20079942/c194d18e-a50c-11e6-89bb-731ec38fabc7.png)

[2016-11-08 10:28] janpolet commented on #729
I'd like to try this one.
I'll be needing some help, but I think it's a good one to start with an entire airport instead of just making changes to an existing one.

[2016-11-08 10:53] Aviationluver commented on #1299
Sent in for review.

[2016-11-08 12:43] dushyants19 commented on #1305
@lalomarlin you want to redo this?

[2016-11-08 12:44] dushyants19 commented on #1053
Up for Grabs

[2016-11-08 13:10] Aviationluver commented on #763
How is this one coming?

[2016-11-08 13:20] #1298 closed

[2016-11-08 13:20] #1299 closed

[2016-11-08 13:31] dushyants19 commented on #323
outlines removed and gated

[2016-11-08 13:52] Theyoshifan200 commented on #1059
Good. I'm still working on it. To be honest, school has also been in the
way, which really hindered me to be able to work on it. I work on it on the
weekends.

On Monday, November 7, 2016, Dushyanth <notifications@github.com> wrote:

[2016-11-08 15:00] Aviationluver commented on #1243
I can re-do this one.

[2016-11-08 18:00] JcFl4 commented on #763
Haven't started yet, but will soon! :)

[2016-11-08 18:07] lalomarlin commented on #1305
Yes

[2016-11-08 21:11] DublinSpotter commented on #636
Please somebody do this

[2016-11-08 21:15] PaulNielsen commented on #636
Why not do it yourself @DublinSpotter ?

[2016-11-08 21:30] lolo31r opened #1306 "KMPO Mount Pocono Airport"
being redone

[2016-11-08 23:06] kilt46 commented on #661
![image](https://cloud.githubusercontent.com/assets/14023167/20121184/af895c98-a5d5-11e6-9f21-6fc59cdee483.png)

[2016-11-08 23:17] kilt46 commented on #660
![image](https://cloud.githubusercontent.com/assets/14023167/20121455/343f8b6e-a5d7-11e6-8ee0-bad6161118f3.png)

[2016-11-08 23:28] kilt46 commented on #649
![image](https://cloud.githubusercontent.com/assets/14023167/20121723/b124ea92-a5d8-11e6-80f6-d49225dea6f4.png)

[2016-11-08 23:32] kilt46 commented on #344
Milestone is already Global Priority 1    :)

[2016-11-09 00:28] kilt46 commented on #653
![image](https://cloud.githubusercontent.com/assets/14023167/20122935/2f839566-a5e1-11e6-8ffd-4c6acc6e94de.png)

[2016-11-09 00:34] kilt46 commented on #643
![image](https://cloud.githubusercontent.com/assets/14023167/20123036/f0fadff6-a5e1-11e6-94c3-c79abbdabe62.png)

[2016-11-09 00:41] kilt46 commented on #642
![image](https://cloud.githubusercontent.com/assets/14023167/20123192/074e4526-a5e3-11e6-969a-6df5f42b9fd3.png)

[2016-11-09 00:52] kilt46 commented on #641
![image](https://cloud.githubusercontent.com/assets/14023167/20123420/909eea50-a5e4-11e6-8175-ecb86a08fffd.png)

[2016-11-09 05:53] sentikum opened #1307 "SPQU-Arequipa Airport-AREQUIPA-PERU"
Harbin Taiping Int'l Airport in China
runway -3200m

[2016-11-09 11:14] dushyants19 commented on #1050
Up for Grabs

[2016-11-09 11:15] dushyants19 commented on #625
Up for Grabs

[2016-11-09 11:17] dushyants19 commented on #310
Jan wants to edit minor things over here

[2016-11-09 11:47] patspark commented on #611
ill do this

[2016-11-09 12:11] dushyants19 commented on #1238
ee8e96ce3971928d6e83fbc1be79d3736d46a3b4

[2016-11-09 12:11] #1238 closed

[2016-11-09 12:12] #1239 closed

[2016-11-09 17:25] Aviationluver commented on #1243
Sent in for review.

[2016-11-09 18:20] Aviationluver commented on #1302
I can re-do this one.

[2016-11-09 20:46] IFAEpat opened #1308 "KFHB"
Fernandina Beach Muni

[2016-11-09 21:26] JcFl4 opened #1309 "ZSAM"
Gaoqi, China.

[2016-11-09 23:07] kilt46 commented on #180
![image](https://cloud.githubusercontent.com/assets/14023167/20158264/f33e4600-a69e-11e6-9f51-4107db0197e7.png)

[2016-11-10 00:05] kilt46 commented on #344
![image](https://cloud.githubusercontent.com/assets/14023167/20159560/0ed12b00-a6a7-11e6-86b1-7efb7e87cbfa.png)

[2016-11-10 00:06] kilt46 commented on #344
![image](https://cloud.githubusercontent.com/assets/14023167/20159598/4b33c18e-a6a7-11e6-8ccd-a7458dbb2f2d.png)

[2016-11-10 00:39] kilt46 commented on #1239
![image](https://cloud.githubusercontent.com/assets/14023167/20160339/ce1d48a0-a6ab-11e6-999c-f59ca21ee895.png)

[2016-11-10 01:42] kilt46 commented on #575
![image](https://cloud.githubusercontent.com/assets/14023167/20161531/aae6487e-a6b4-11e6-831d-0b1e0c0c209d.png)

[2016-11-10 01:51] kilt46 commented on #477
![image](https://cloud.githubusercontent.com/assets/14023167/20161699/de93ecac-a6b5-11e6-9922-d79dc0406452.png)

[2016-11-10 01:59] kilt46 commented on #1238
![image](https://cloud.githubusercontent.com/assets/14023167/20161889/ffae9792-a6b6-11e6-9034-9ca9ae077b28.png)

[2016-11-10 02:08] kilt46 commented on #323
![image](https://cloud.githubusercontent.com/assets/14023167/20162096/52a838f8-a6b8-11e6-9d3e-2e2391aab2b5.png)

[2016-11-10 03:04] brunocr98 commented on #433
I can do this airport.

[2016-11-10 18:48] Aviationluver commented on #589
I can re-do this one.

[2016-11-10 18:54] Aviationluver commented on #1302
Sent in for review.

[2016-11-10 20:34] JcFl4 commented on #808
Actually, I can't do this anymore, so it's open to anybody that can again.

[2016-11-10 20:35] JcFl4 opened #1310 "GCLP-Gran Canaria Airport-ISLAS CANARIAS-SPAIN"
Gran Canaria, Spain

[2016-11-10 20:35] IceBlue02 commented on #1308
Labels @IFAEpat, come on

[2016-11-10 22:55] kilt46 commented on #1288
![image](https://cloud.githubusercontent.com/assets/14023167/20197728/8cde2f60-a766-11e6-8789-5c2d648e0342.png)

[2016-11-10 23:25] kilt46 commented on #1299
![image](https://cloud.githubusercontent.com/assets/14023167/20198502/9d0cfe9e-a76a-11e6-973f-c775ed95f391.png)

[2016-11-10 23:35] kilt46 commented on #1298
![image](https://cloud.githubusercontent.com/assets/14023167/20198764/04e675a8-a76c-11e6-9036-a1eba793586c.png)

[2016-11-11 00:29] moritzbabl commented on #1304
Sent for approval

[2016-11-11 02:38] brunocr98 commented on #889
Decided not to do this one, up for grabs.

[2016-11-11 02:39] brunocr98 commented on #913
Not doing it anymore. Up for grabs.

[2016-11-11 02:39] brunocr98 commented on #1133
Abandoning this airport.

[2016-11-11 02:40] brunocr98 commented on #1134
Leaving this airport for someone else. The design drove me crazy!

[2016-11-11 02:40] brunocr98 commented on #1139
No longer doing this one.

[2016-11-11 04:08] IFAEpat commented on #1308
@IceBlue02 oops, sorry.

Done!

[2016-11-11 04:08] #1308 closed

[2016-11-11 12:54] #1304 closed

[2016-11-11 12:55] #1243 closed

[2016-11-11 21:59] moritzbabl opened #1311 "ETIH"
I'll do this

[2016-11-11 22:04] moritzbabl opened #1312 "ETAR"
Ramstein Air Base, will redo this

[2016-11-11 22:05] moritzbabl opened #1313 "EDMY"
I'll redo this

[2016-11-11 22:53] kilt46 commented on #1243
![image](https://cloud.githubusercontent.com/assets/14023167/20232661/6762d8f2-a82f-11e6-9b57-973c7297f01b.png)

[2016-11-11 23:14] kilt46 commented on #1304
![image](https://cloud.githubusercontent.com/assets/14023167/20233043/43aab026-a832-11e6-98f6-4be8f5be6e65.png)

[2016-11-12 00:57] kilt46 commented on #1308
![image](https://cloud.githubusercontent.com/assets/14023167/20234426/bbc639b4-a840-11e6-8ced-8ec548ca35a1.png)

[2016-11-12 12:13] kilt46 commented on #1280
![image](https://cloud.githubusercontent.com/assets/14023167/20237673/29d9c6b0-a89f-11e6-9c70-f72e872218da.png)

[2016-11-12 12:48] kilt46 commented on #633
![image](https://cloud.githubusercontent.com/assets/14023167/20237863/fa274a96-a8a3-11e6-95cc-b207ee8a2dab.png)

[2016-11-12 13:20] kilt46 commented on #472
![image](https://cloud.githubusercontent.com/assets/14023167/20238077/81973c26-a8a8-11e6-8538-c19564682474.png)

[2016-11-12 14:05] kilt46 commented on #733
![image](https://cloud.githubusercontent.com/assets/14023167/20238355/b516c232-a8ae-11e6-8f1f-44cd588dae62.png)

[2016-11-12 14:11] kilt46 commented on #629
![image](https://cloud.githubusercontent.com/assets/14023167/20238380/93b17dc0-a8af-11e6-9ea6-fc9e3425b07a.png)

[2016-11-12 14:20] kilt46 commented on #634
![image](https://cloud.githubusercontent.com/assets/14023167/20238419/d87ecf60-a8b0-11e6-8397-d4a1b462a1f3.png)

[2016-11-12 14:41] kilt46 commented on #637
![image](https://cloud.githubusercontent.com/assets/14023167/20238542/b7c16e4c-a8b3-11e6-97f9-f7ac81e0833e.png)

[2016-11-12 15:17] bavAVIA commented on #1300
Sent in, awaiting approval.

[2016-11-12 15:45] kilt46 commented on #638
![image](https://cloud.githubusercontent.com/assets/14023167/20238997/cdabbd6c-a8bc-11e6-96d8-b199a3844c79.png)

[2016-11-12 17:17] kilt46 commented on #639
![image](https://cloud.githubusercontent.com/assets/14023167/20239602/8c2f80b4-a8c9-11e6-9bbd-8a32ae3a3f20.png)

[2016-11-12 18:15] bavAVIA opened #1314 "DAAJ"
Djanet - Tiska Airport, Algeria, being redone.
Runways slightly too short for Priority II.

[2016-11-12 18:22] bavAVIA commented on #746
@Tbynum94 What's the progress on this one? :)

[2016-11-12 18:51] Tbynum94 commented on #746
Idk every time I send it in dush finds something new to complain about

Sent from my iPhone

[2016-11-12 19:20] bavAVIA commented on #746
Yeah that's normal. Just wanted to know if you are still working on it, I would have taken it over if not.

[2016-11-12 19:22] moritzbabl commented on #1313
Sent for approval

[2016-11-12 20:05] kilt46 commented on #640
![image](https://cloud.githubusercontent.com/assets/14023167/20240565/03625a28-a8e1-11e6-9c91-e6234eea3c5d.png)

[2016-11-12 20:09] kilt46 commented on #628
![image](https://cloud.githubusercontent.com/assets/14023167/20240583/a74e62b2-a8e1-11e6-8411-7072941d76b9.png)

[2016-11-12 20:14] kilt46 commented on #614
![image](https://cloud.githubusercontent.com/assets/14023167/20240605/51d5cfb8-a8e2-11e6-8ef6-787e2f5963dc.png)

[2016-11-12 20:53] moritzbabl commented on #1311
Sent for approval

[2016-11-13 07:11] #1311 closed

[2016-11-13 07:17] #1302 closed

[2016-11-13 07:18] #310 closed

[2016-11-13 11:58] kilt46 commented on #310
![image](https://cloud.githubusercontent.com/assets/14023167/20245399/389e37fe-a966-11e6-9b43-5bc477cc2620.png)

[2016-11-13 14:12] #1300 closed

[2016-11-13 16:04] kilt46 commented on #1302
![image](https://cloud.githubusercontent.com/assets/14023167/20247009/8a265da0-a988-11e6-952a-c7d735bf06fc.png)

[2016-11-13 16:12] kilt46 commented on #1300
![image](https://cloud.githubusercontent.com/assets/14023167/20247061/b7c6daa4-a989-11e6-83fb-caa2fabf0c10.png)

[2016-11-13 16:23] kilt46 commented on #1311
![image](https://cloud.githubusercontent.com/assets/14023167/20247182/3b8492fe-a98b-11e6-9ca2-7602bff908fc.png)

[2016-11-13 16:40] kilt46 commented on #1240
NO JETBRIDGES!!!
![image](https://cloud.githubusercontent.com/assets/14023167/20247261/890e58fa-a98d-11e6-9f7f-093c554df118.png)

[2016-11-13 16:45] JcFl4 commented on #1240
I didn't know they were not permitted! Is there any particular reason?

[2016-11-13 16:46] JcFl4 commented on #1240
My previous airports all have them!

[2016-11-13 16:52] bavAVIA commented on #1240
Guess it's because there is no ground marking for jetbridges. We only draw taxiways on taxiways or buildings. As a jetbridge is an object, we don't add it.

[2016-11-13 16:54] JcFl4 commented on #1240
That's annoying... Good to know nevertheless...

[2016-11-13 17:06] bavAVIA commented on #1314
Sent in for review.
Just before the 24 hours mark 😅 .

[2016-11-13 17:08] JcFl4 commented on #1240
Fixed.

[2016-11-13 19:02] kilt46 commented on #375
![image](https://cloud.githubusercontent.com/assets/14023167/20248031/6b0f8cac-a9a1-11e6-821f-35aa09161eb0.png)

[2016-11-13 22:09] kilt46 commented on #672
![image](https://cloud.githubusercontent.com/assets/14023167/20249269/963f31ba-a9bb-11e6-9d02-df596503551a.png)

[2016-11-13 22:20] kilt46 commented on #321
![image](https://cloud.githubusercontent.com/assets/14023167/20249342/289ce5ec-a9bd-11e6-86e7-568d487d7c21.png)

[2016-11-14 01:13] kilt46 commented on #1240
![image](https://cloud.githubusercontent.com/assets/14023167/20250526/4d99df22-a9d5-11e6-886f-ca7f103f0e44.png)

[2016-11-14 02:28] kilt46 commented on #537
![image](https://cloud.githubusercontent.com/assets/14023167/20251569/cdcc87ee-a9df-11e6-9ab0-0fb21ba37961.png)

[2016-11-14 02:40] kilt46 commented on #311
![image](https://cloud.githubusercontent.com/assets/14023167/20251748/6a464db6-a9e1-11e6-97fc-ff7339b2db3b.png)

[2016-11-14 15:19] Will171 commented on #41
Sent to be reviewed

[2016-11-14 15:26] Will171 commented on #983
Claimed :)

[2016-11-14 15:31] bavAVIA opened #1315 "KMDT-Harrisburg International Airport-PENNSYLVANIA-USA"
Harrisburg International Airport, Pennsylvania, United States - being redone.
Priority II Airport - Runway length is just one foot over 10000.

[2016-11-14 16:00] brunocr98 commented on #446
I'm taking this airport.

[2016-11-14 16:01] brunocr98 commented on #429
Taking this airport as well.

[2016-11-14 19:40] moritzbabl opened #1316 "ETOI"
Will do this quickly

[2016-11-14 20:20] moritzbabl commented on #1316
Sent for approval

[2016-11-14 23:18] kilt46 commented on #727
![image](https://cloud.githubusercontent.com/assets/14023167/20286791/4eafd3b2-aa8e-11e6-8ca7-2187154ac0ce.png)

[2016-11-15 03:18] kilt46 commented on #615
![image](https://cloud.githubusercontent.com/assets/14023167/20292012/ef878bf6-aaaf-11e6-9959-0c97529b4646.png)

[2016-11-15 03:23] Hamza787Aj commented on #1278
I'm redoing this one

[2016-11-15 03:26] TristinWoolf commented on #1278
@Hamza787Aj you are not currently on our GitHub team. Please send an email to airports@liveflightapp.com and Dush will get you set up.

[2016-11-15 03:49] kilt46 commented on #632
![image](https://cloud.githubusercontent.com/assets/14023167/20292567/2cc91562-aab4-11e6-8392-4cf764575c8d.png)

[2016-11-15 11:26] CptNathanHope commented on #1030
Sent in for review. :)

[2016-11-15 11:37] dushyants19 commented on #1278
invited

[2016-11-15 12:33] #729 closed

[2016-11-15 12:34] #1313 closed

[2016-11-15 12:34] #1030 closed

[2016-11-15 12:34] #1316 closed

[2016-11-15 12:36] dushyants19 commented on #618
Up for Grabs

[2016-11-15 16:46] scandinaviangroup opened #1317 "ENML"
This will be my first airport that I will be editing.

[2016-11-16 00:11] moritzbabl opened #1318 "EDQP"
I'll redo this small airport quickly

[2016-11-16 00:29] kilt46 commented on #433
![image](https://cloud.githubusercontent.com/assets/14023167/20330016/6d7a843a-ab61-11e6-8924-6c900f832470.png)

[2016-11-16 00:53] kilt46 commented on #1030
![image](https://cloud.githubusercontent.com/assets/14023167/20330479/d3bca95a-ab64-11e6-9e4d-ac6542b3f672.png)

[2016-11-16 01:00] kilt46 commented on #1313
![image](https://cloud.githubusercontent.com/assets/14023167/20330645/d7320714-ab65-11e6-8af9-91c2ebc7c589.png)

[2016-11-16 01:06] kilt46 commented on #729
![image](https://cloud.githubusercontent.com/assets/14023167/20330755/98cfa9da-ab66-11e6-9446-d1850d2dd219.png)

[2016-11-16 01:12] kilt46 commented on #1301
![image](https://cloud.githubusercontent.com/assets/14023167/20330905/75100e9e-ab67-11e6-83c3-216b7f0225d1.png)

[2016-11-16 01:25] kilt46 commented on #675
![image](https://cloud.githubusercontent.com/assets/14023167/20331175/51c04218-ab69-11e6-9ac0-ff0fa5ec2d4e.png)

[2016-11-16 02:44] kilt46 commented on #373
![image](https://cloud.githubusercontent.com/assets/14023167/20332854/5888d12c-ab74-11e6-83fc-790e20d1c3ff.png)

[2016-11-16 03:25] kilt46 commented on #647
![image](https://cloud.githubusercontent.com/assets/14023167/20333716/17b4e4fa-ab7a-11e6-8218-f67197ea4334.png)

[2016-11-16 08:23] PaulNielsen commented on #1317
If I am not wrong, you aren't in the Slack team. Send Airports@liveflightapp.com a email

[2016-11-16 11:47] IceBlue02 commented on #1318
Better be real quick

[2016-11-16 12:06] sumith11 opened #1319 "VOML-Mangalore/International Airport-KARNATAKA-INDIA"

[2016-11-16 13:43] moritzbabl commented on #1318
Sent for approval

[2016-11-16 14:06] IceBlue02 commented on #1318
Damn that was quick, GJ

[2016-11-16 15:21] moritzbabl commented on #1318
Doing it was even quicker 😉

[2016-11-16 15:30] dushyants19 commented on #1318
But you missed some key things :(

[2016-11-16 16:36] moritzbabl commented on #1318
Sent again, just forgot to change the export target 👀

[2016-11-16 17:52] moritzbabl opened #1320 "EDQW"
Another quick one @IceBlue02 😉

[2016-11-16 18:24] moritzbabl commented on #1320
Sent for approval

[2016-11-16 23:00] kilt46 commented on #41
![image](https://cloud.githubusercontent.com/assets/14023167/20369340/07783c46-ac1e-11e6-89c6-9efcc0b0a0ba.png)

[2016-11-16 23:35] kilt46 commented on #612
![image](https://cloud.githubusercontent.com/assets/14023167/20370213/1f4fab10-ac23-11e6-8b6d-ff051debf632.png)

[2016-11-17 00:47] kilt46 commented on #326
![image](https://cloud.githubusercontent.com/assets/14023167/20371835/1139a6de-ac2d-11e6-8389-36af10a268b6.png)

[2016-11-17 00:58] kilt46 commented on #620
![image](https://cloud.githubusercontent.com/assets/14023167/20372108/a6168ee2-ac2e-11e6-86dd-9d5ed40df5a1.png)

[2016-11-17 01:09] kilt46 commented on #621
![image](https://cloud.githubusercontent.com/assets/14023167/20372353/296ada54-ac30-11e6-8176-3b530d15f5ed.png)

[2016-11-17 02:28] kilt46 commented on #308
![image](https://cloud.githubusercontent.com/assets/14023167/20373994/2cf1c998-ac3b-11e6-8474-189cfd4a14ce.png)

[2016-11-17 22:56] kilt46 commented on #579
![image](https://cloud.githubusercontent.com/assets/14023167/20411341/bb4a124e-ace6-11e6-9114-2f21acf38ee8.png)

[2016-11-18 00:12] kilt46 commented on #605
![image](https://cloud.githubusercontent.com/assets/14023167/20413243/6c677e54-acf1-11e6-919a-0157d929b617.png)

[2016-11-18 00:47] kilt46 commented on #314
![image](https://cloud.githubusercontent.com/assets/14023167/20414089/566cdfcc-acf6-11e6-9e18-5d72a36b1d9b.png)

[2016-11-18 01:13] kilt46 commented on #316
![image](https://cloud.githubusercontent.com/assets/14023167/20414770/d96f2558-acf9-11e6-9da4-e383bfa84bcb.png)

[2016-11-18 01:38] kilt46 commented on #652
![image](https://cloud.githubusercontent.com/assets/14023167/20415368/5ea5c986-acfd-11e6-9faf-03f429373415.png)

[2016-11-18 03:28] kilt46 commented on #631
![image](https://cloud.githubusercontent.com/assets/14023167/20417683/c3b07326-ad0c-11e6-98b3-c307508b2bd8.png)

[2016-11-18 08:30] Adam167 opened #1321 "YOAS"
https://community.infinite-flight.com/t/yoas-australia-runway-orientation/78812

Runways the wrong way round , ramp start could do with a name change. It's an echo so should be a nice easy one to do.

[2016-11-18 17:52] dushyants19 commented on #570
Assigned to @brunocr98

[2016-11-18 18:06] #1314 closed

[2016-11-18 18:06] #1320 closed

[2016-11-18 18:06] #1318 closed

[2016-11-18 19:36] kilt46 commented on #446
![image](https://cloud.githubusercontent.com/assets/14023167/20443796/02679d74-ad94-11e6-86c1-28dce75ccf9a.png)

[2016-11-18 20:57] kilt46 commented on #1319
![image](https://cloud.githubusercontent.com/assets/14023167/20446472/601b0464-ad9f-11e6-9f0e-119255007e46.png)

[2016-11-18 20:59] moritzbabl opened #1322 "EDQD"
Will be a quick redo again

[2016-11-18 21:07] kilt46 commented on #1320
![image](https://cloud.githubusercontent.com/assets/14023167/20446727/c5fb7a9c-ada0-11e6-97c4-2c3633fb333b.png)

[2016-11-18 21:13] kilt46 commented on #1318
![image](https://cloud.githubusercontent.com/assets/14023167/20446903/7e641378-ada1-11e6-891f-898bcc436cc1.png)

[2016-11-18 21:23] kilt46 commented on #429
![image](https://cloud.githubusercontent.com/assets/14023167/20447157/041fca7e-ada3-11e6-94a1-38de88cdf0fe.png)

[2016-11-18 21:35] kilt46 commented on #1314
![image](https://cloud.githubusercontent.com/assets/14023167/20447463/996d8066-ada4-11e6-8f15-fa312ee82e84.png)

[2016-11-18 22:43] moritzbabl commented on #1322
Sent for approval

[2016-11-18 22:44] moritzbabl commented on #1312
Sent for approval

[2016-11-18 22:47] moritzbabl commented on #1312
BTW, i forgot to mention that the airport has a 10k+ ft runway

[2016-11-18 22:48] Aviationluver commented on #589
Sent in for review.

[2016-11-19 02:13] brunocr98 opened #1323 "MMGL-Guadalajara Airport-JALISCO-MEXICO"
Doing this airport. Don Miguel Hidalgo y Costilla International Airport.

[2016-11-19 02:13] brunocr98 opened #1324 "MMMY-Monterrey Airport-NUEVO LEON-MEXICO"
Doing this airport. General Mariano Escobedo International Airport.

[2016-11-19 08:32] #1312 closed

[2016-11-19 08:32] #1322 closed

[2016-11-19 10:31] dushyants19 commented on #1321
Done

[2016-11-19 10:34] #1321 closed

[2016-11-19 10:51] #3 closed

[2016-11-19 11:48] janpolet commented on #1293
I'd like to redo OEPS!
Can someone please assign me?

[2016-11-19 12:37] kilt46 commented on #99
![image](https://cloud.githubusercontent.com/assets/14023167/20455488/a8abfbb0-ae22-11e6-8a11-a2b82eb7ec9b.png)

[2016-11-19 12:52] kilt46 commented on #3
![image](https://cloud.githubusercontent.com/assets/14023167/20455580/cc3058fe-ae24-11e6-8a09-62112d4d1e2e.png)

[2016-11-20 00:59] kilt46 commented on #372
![image](https://cloud.githubusercontent.com/assets/14023167/20459524/42c6ca06-ae8a-11e6-883d-72c8fc29691a.png)

[2016-11-20 01:11] kilt46 commented on #589
![image](https://cloud.githubusercontent.com/assets/14023167/20459567/fd8a58ca-ae8b-11e6-92af-fed42b5dcfea.png)

[2016-11-20 04:05] kilt46 commented on #1321
![image](https://cloud.githubusercontent.com/assets/14023167/20460299/4aa7585c-aea4-11e6-9572-6d517e9750a9.png)

[2016-11-20 04:10] kilt46 commented on #1322
![image](https://cloud.githubusercontent.com/assets/14023167/20460331/fa1bf766-aea4-11e6-9395-9e69d656cb84.png)

[2016-11-20 04:16] kilt46 commented on #1312
![image](https://cloud.githubusercontent.com/assets/14023167/20460380/dc4938d8-aea5-11e6-955f-d32398c17b51.png)

[2016-11-20 06:56] Aviationluver commented on #779
I can re-do this one.

[2016-11-20 07:08] sentikum commented on #1255
I can redo this airport.

[2016-11-20 10:54] bavAVIA commented on #1315
Sent in for review.

[2016-11-20 12:37] kilt46 commented on #599
![image](https://cloud.githubusercontent.com/assets/14023167/20462806/d3ebe6ae-aeeb-11e6-81c4-ee65717085ba.png)

[2016-11-20 12:45] dushyants19 commented on #571
it is added already

https://github.com/InfiniteFlightAirportEditing/Airports/commit/149024ce7bcd81536ddac0dc565f66ce7e131600

[2016-11-20 13:01] dushyants19 commented on #571
i made some improvements

[2016-11-20 13:02] #571 closed

[2016-11-20 13:39] kilt46 commented on #374
![image](https://cloud.githubusercontent.com/assets/14023167/20463207/6b829a3c-aef4-11e6-9cdc-a00ac08beb3c.png)

[2016-11-20 14:01] Will171 commented on #55
taxiway lines and start positions need updating.. will redo once finished EGGW

[2016-11-20 14:16] #1233 closed

[2016-11-20 16:56] kilt46 commented on #327
![image](https://cloud.githubusercontent.com/assets/14023167/20464611/f9b23482-af0f-11e6-9b68-2d60cdabb6e6.png)

[2016-11-20 17:08] kilt46 commented on #335
![image](https://cloud.githubusercontent.com/assets/14023167/20464694/b9081d64-af11-11e6-84e0-858ae97c49eb.png)

[2016-11-20 17:08] Will171 commented on #573
Any progress with this one?

[2016-11-20 18:37] JcFl4 opened #1326 "VNPK"
Pokhara, Nepal

[2016-11-20 18:37] JcFl4 opened #1327 "VNJS"
Jomsom, Nepal

[2016-11-20 19:09] #1327 closed

[2016-11-20 19:10] #1326 closed

[2016-11-20 19:16] kilt46 commented on #1233
![image](https://cloud.githubusercontent.com/assets/14023167/20465477/9b123260-af23-11e6-91b3-9887d005a406.png)

[2016-11-20 19:25] kilt46 commented on #1326
![image](https://cloud.githubusercontent.com/assets/14023167/20465539/d97a310a-af24-11e6-838a-7346f2c109ec.png)

[2016-11-20 19:38] JcFl4 opened #1328 "VNMA"
Manang, Nepal

[2016-11-20 19:38] #1328 closed

[2016-11-20 19:45] JcFl4 opened #1329 "VNTJ"
Taplejung, Nepal

[2016-11-20 20:24] kilt46 commented on #1327
![image](https://cloud.githubusercontent.com/assets/14023167/20465866/1a7b4524-af2d-11e6-999b-edb12b570ef1.png)

[2016-11-20 20:31] #1329 closed

[2016-11-20 20:32] JcFl4 opened #1330 "VNBR"
Bajura, Nepal

[2016-11-20 20:32] #1330 closed

[2016-11-20 20:34] JcFl4 opened #1331 "VNCG"
Chandragadhi, Nepal

[2016-11-20 20:55] #1331 closed

[2016-11-20 21:57] kilt46 commented on #1331
![image](https://cloud.githubusercontent.com/assets/14023167/20466486/0abac40e-af3a-11e6-9596-422c875b72ba.png)

[2016-11-20 22:04] kilt46 commented on #358
![image](https://cloud.githubusercontent.com/assets/14023167/20466548/0a2b695c-af3b-11e6-9b41-848420c7b0a7.png)

[2016-11-20 22:09] kilt46 commented on #357
![image](https://cloud.githubusercontent.com/assets/14023167/20466583/ab2e92ac-af3b-11e6-9c00-b084e45cf5ea.png)

[2016-11-21 00:14] brunocr98 commented on #1053
Taking this airport

[2016-11-21 01:15] kilt46 commented on #359
![image](https://cloud.githubusercontent.com/assets/14023167/20467908/be89cba4-af55-11e6-813a-bc7d5feafce8.png)

[2016-11-21 01:22] kilt46 commented on #1330
![image](https://cloud.githubusercontent.com/assets/14023167/20467959/9dc9db92-af56-11e6-80af-90ea335800a3.png)

[2016-11-21 01:25] kilt46 commented on #1329
![image](https://cloud.githubusercontent.com/assets/14023167/20467990/1e7e9df4-af57-11e6-9a7e-2b22796de528.png)

[2016-11-21 01:29] kilt46 commented on #1328
![image](https://cloud.githubusercontent.com/assets/14023167/20468029/a094a306-af57-11e6-96ce-fcc663d89892.png)

[2016-11-21 01:49] kilt46 commented on #1315
![image](https://cloud.githubusercontent.com/assets/14023167/20468253/64f7f412-af5a-11e6-94dc-8692a773a656.png)

[2016-11-21 02:57] kilt46 commented on #495
![image](https://cloud.githubusercontent.com/assets/14023167/20469231/f8464224-af63-11e6-8cbb-cbecf9c61b6d.png)

[2016-11-21 03:04] kilt46 commented on #361
![image](https://cloud.githubusercontent.com/assets/14023167/20469382/e4340a90-af64-11e6-91c4-00c5def34927.png)

[2016-11-21 03:11] kilt46 commented on #362
![image](https://cloud.githubusercontent.com/assets/14023167/20469501/e9eda1c0-af65-11e6-9ab9-5a306f5e8ef0.png)

[2016-11-21 03:16] kilt46 commented on #567
![image](https://cloud.githubusercontent.com/assets/14023167/20469591/ab977224-af66-11e6-95ba-7b2f75a83867.png)

[2016-11-21 10:42] ReflexRSM commented on #573
@Will171 - Almost completed, spawns and a few taxilines need to be done.

[2016-11-21 15:09] bavAVIA opened #1332 "KLBB"
KLBB, Lubbock International Airport, Texas, USA - being redone.
Priority II Airport.

[2016-11-21 17:10] dushyants19 commented on #440
done

[2016-11-21 17:14] dushyants19 commented on #440
i have no idea what this airport is. its named international tho

[2016-11-21 23:23] kilt46 commented on #440
![image](https://cloud.githubusercontent.com/assets/14023167/20504858/46c9b024-b00f-11e6-927b-533764d08f60.png)

[2016-11-21 23:51] kilt46 commented on #1323
![image](https://cloud.githubusercontent.com/assets/14023167/20505500/21f0a6dc-b013-11e6-99b3-c79db71557f0.png)

[2016-11-22 01:01] kilt46 commented on #376
![image](https://cloud.githubusercontent.com/assets/14023167/20506908/ef43cbc4-b01c-11e6-8f25-1e52d3e069f9.png)

[2016-11-22 01:15] kilt46 commented on #944
![image](https://cloud.githubusercontent.com/assets/14023167/20507212/e4ef6582-b01e-11e6-9862-983429ebd678.png)

[2016-11-22 10:48] GiacomoLaw commented on #1221
Sorry, I don't have time to do this at the moment. 😢

[2016-11-22 23:50] moritzbabl opened #1333 "ETSA"
I will redo this

[2016-11-23 00:20] kilt46 commented on #560
![image](https://cloud.githubusercontent.com/assets/14023167/20547238/5da7d4c0-b0e0-11e6-8f86-019adc2f5b37.png)

[2016-11-23 01:03] kilt46 commented on #211
![image](https://cloud.githubusercontent.com/assets/14023167/20548127/5d44219a-b0e6-11e6-869b-ff2264db2fb4.png)

[2016-11-23 01:34] kilt46 commented on #404
![image](https://cloud.githubusercontent.com/assets/14023167/20548611/9f82a910-b0ea-11e6-87bc-9c6ce50caf6e.png)

[2016-11-23 01:39] kilt46 commented on #406
![image](https://cloud.githubusercontent.com/assets/14023167/20548724/70ae97a6-b0eb-11e6-8ef2-3c4c2f0e47fb.png)

[2016-11-23 02:57] IFAEpat commented on #550
Taking

[2016-11-23 10:42] dushyants19 commented on #1221
Up for Grabs

[2016-11-23 14:28] Will171 commented on #1221
![screenshot_7](https://cloud.githubusercontent.com/assets/16463484/20565333/0b0219fc-b189-11e6-97dc-13cbd90b7642.png)

[2016-11-23 21:52] kilt46 commented on #237
![image](https://cloud.githubusercontent.com/assets/14023167/20579873/cb34f22a-b194-11e6-910c-266ed719190e.png)

[2016-11-23 23:53] brunocr98 opened #1334 "SCEL-Santiago International Airport-SANTIAGO-CHILE"
Doing this airport. Arturo Merino Benítez Int'l Airport.

[2016-11-24 00:05] kilt46 commented on #88
![image](https://cloud.githubusercontent.com/assets/14023167/20582521/747bf092-b1a7-11e6-99ad-d516e84690ad.png)

[2016-11-24 00:22] kilt46 commented on #570
![image](https://cloud.githubusercontent.com/assets/14023167/20582775/d258b5d6-b1a9-11e6-9c35-7141494f44d1.png)

[2016-11-24 00:38] kilt46 commented on #571
![image](https://cloud.githubusercontent.com/assets/14023167/20583020/fd31a14e-b1ab-11e6-8311-97e4c0423e81.png)

[2016-11-24 02:25] kilt46 commented on #548
![image](https://cloud.githubusercontent.com/assets/14023167/20584694/eb2ee178-b1ba-11e6-90cc-95d24d52f5cc.png)

[2016-11-24 02:49] kilt46 commented on #955
![image](https://cloud.githubusercontent.com/assets/14023167/20585145/51758fce-b1be-11e6-8017-354580a167e8.png)

[2016-11-24 04:14] IFAEpat commented on #550
up for grabs

[2016-11-24 11:24] kilt46 commented on #509
![image](https://cloud.githubusercontent.com/assets/14023167/20596875/40e037de-b206-11e6-8984-3dfe5ee49eb8.png)

[2016-11-24 11:35] kilt46 opened #1335 "EDKA-Aachen Merzbruck Airport-NORDRHEIN-WESTFALEN-GERMANY"
Original IF airport needs redone

[2016-11-24 11:36] kilt46 opened #1336 "EKVJ-Stauning Airport-RINGKOBING-DENMARK"
RECYCLED ♻️

[2016-11-24 11:36] kilt46 opened #1337 "EDLM-Marl Loemuhle Airport-NORDRHEIN-WESTFALEN-GERMANY"
Original IF airport. Needs redone

[2016-11-24 12:05] kilt46 commented on #114
![image](https://cloud.githubusercontent.com/assets/14023167/20597910/00496a5a-b20c-11e6-8c18-8981aadfc7da.png)

[2016-11-24 12:17] kilt46 commented on #471
![image](https://cloud.githubusercontent.com/assets/14023167/20598211/a2e229b8-b20d-11e6-8974-62b9da778c7a.png)

[2016-11-24 12:35] kilt46 commented on #416
![image](https://cloud.githubusercontent.com/assets/14023167/20598752/3fa9800a-b210-11e6-8fae-8666eafb9488.png)

[2016-11-24 12:53] kilt46 commented on #412
![image](https://cloud.githubusercontent.com/assets/14023167/20599225/a48c897a-b212-11e6-8cbe-6f7ce0a55741.png)

[2016-11-24 13:20] kilt46 commented on #1293
![image](https://cloud.githubusercontent.com/assets/14023167/20599922/7e2f6dca-b216-11e6-9462-aff4016f6676.png)

[2016-11-24 14:02] kilt46 commented on #407
![image](https://cloud.githubusercontent.com/assets/14023167/20601066/4e6c26ea-b21c-11e6-9adf-2ba3edc6e08b.png)

[2016-11-24 14:14] kilt46 commented on #410
![image](https://cloud.githubusercontent.com/assets/14023167/20601399/0fadb228-b21e-11e6-9ec8-989c60f6a372.png)

[2016-11-24 14:15] #1293 closed

[2016-11-24 14:21] kilt46 commented on #405
![image](https://cloud.githubusercontent.com/assets/14023167/20601595/015dc482-b21f-11e6-8903-16ddaae34569.png)

[2016-11-24 14:42] kilt46 commented on #414
![image](https://cloud.githubusercontent.com/assets/14023167/20602238/fee30872-b221-11e6-9a28-4e739af5b744.png)

[2016-11-24 14:48] kilt46 commented on #417
![image](https://cloud.githubusercontent.com/assets/14023167/20602438/c44def5a-b222-11e6-9798-0d9a13291f87.png)

[2016-11-24 15:51] Aviationluver commented on #779
Sent in for review.

[2016-11-24 17:01] lolo31r commented on #1337
i´ll redo it

[2016-11-24 17:09] kilt46 commented on #557
![image](https://cloud.githubusercontent.com/assets/14023167/20606427/6ef9aaa8-b236-11e6-85ce-f9e7521bc7d0.png)

[2016-11-24 17:31] kilt46 commented on #355
![image](https://cloud.githubusercontent.com/assets/14023167/20606867/84419814-b239-11e6-9ce9-437b43190009.png)

[2016-11-24 17:39] kilt46 commented on #544
![image](https://cloud.githubusercontent.com/assets/14023167/20607013/a7ef9e22-b23a-11e6-85a2-c5da985b173b.png)

[2016-11-24 19:08] kilt46 commented on #496
![image](https://cloud.githubusercontent.com/assets/14023167/20608381/191a00ae-b247-11e6-87be-8bf0324d780e.png)

[2016-11-24 20:04] kilt46 commented on #504
![image](https://cloud.githubusercontent.com/assets/14023167/20609202/f61d8154-b24e-11e6-8f54-1c3cc878c3a6.png)

[2016-11-24 20:26] kilt46 commented on #398
![image](https://cloud.githubusercontent.com/assets/14023167/20609425/f3fe3c4e-b251-11e6-9ef7-e5a7d0306544.png)

[2016-11-24 20:44] kilt46 commented on #481
![image](https://cloud.githubusercontent.com/assets/14023167/20609615/8d4c76ac-b254-11e6-852e-35f5288e3160.png)

[2016-11-24 22:04] Aviationluver opened #1338 "CYYT"
St. John's Int'l Airport. I can re-do this one.

Runways not longer than 10k feet.

[2016-11-24 22:46] kilt46 commented on #444
![image](https://cloud.githubusercontent.com/assets/14023167/20610858/978e0afc-b265-11e6-874c-ddfd708f2938.png)

[2016-11-24 23:00] kilt46 commented on #346
![image](https://cloud.githubusercontent.com/assets/14023167/20610963/77daa59c-b267-11e6-8684-9ac8390f337d.png)

[2016-11-25 11:52] kilt46 commented on #320
![image](https://cloud.githubusercontent.com/assets/14023167/20624587/5e11699a-b2d3-11e6-9f35-aac57ad0ec5e.png)

[2016-11-25 12:41] kilt46 commented on #332
![image](https://cloud.githubusercontent.com/assets/14023167/20625633/32a8a3ca-b2da-11e6-8f63-3817e1387695.png)

[2016-11-25 13:01] kilt46 commented on #457
![image](https://cloud.githubusercontent.com/assets/14023167/20626085/ec77ac86-b2dc-11e6-9098-8a68cfc4bea4.png)

[2016-11-25 13:17] kilt46 commented on #329
![image](https://cloud.githubusercontent.com/assets/14023167/20626415/2a744aba-b2df-11e6-8ec4-3779140b8b36.png)

[2016-11-25 14:17] kilt46 commented on #347
![image](https://cloud.githubusercontent.com/assets/14023167/20627733/971118e4-b2e7-11e6-8641-899bb86a0509.png)

[2016-11-25 14:32] kilt46 commented on #392
![image](https://cloud.githubusercontent.com/assets/14023167/20628075/ae2c6176-b2e9-11e6-9415-5b1b301960f6.png)

[2016-11-25 14:45] kilt46 commented on #622
![image](https://cloud.githubusercontent.com/assets/14023167/20628424/7886ea62-b2eb-11e6-99ea-fbd3e16efc6e.png)

[2016-11-25 15:16] kilt46 commented on #448
![image](https://cloud.githubusercontent.com/assets/14023167/20629190/c796fc92-b2ef-11e6-85ae-7fba421f2a21.png)

[2016-11-25 15:47] Adam167 commented on #636
I'll do this one after EGCC and SVMI

[2016-11-25 15:59] kilt46 commented on #462
![image](https://cloud.githubusercontent.com/assets/14023167/20630307/cb24341e-b2f5-11e6-978a-55da1e64a5f4.png)

[2016-11-25 18:29] lolo31r commented on #668
Being redone

[2016-11-25 21:36] moritzbabl opened #1339 "EP07"
i'll do this quickly

[2016-11-25 21:45] moritzbabl commented on #1339
Sent for approval

[2016-11-25 23:54] kilt46 commented on #334
![image](https://cloud.githubusercontent.com/assets/14023167/20636742/3ca36bae-b338-11e6-81b7-1fee16d64ad6.png)

[2016-11-26 00:05] kilt46 commented on #366
![image](https://cloud.githubusercontent.com/assets/14023167/20636810/caf395e0-b339-11e6-9b90-b483002986ff.png)

[2016-11-26 02:21] Tbynum94 commented on #746
But I'm finishing up the last things right. Shouldn't take long

[2016-11-26 02:23] brunocr98 opened #1340 "MUSC-Abel Santamaria Airport-VILLA CLARA-CUBA"
Doing this airport. Abel Santamaría Aiport.

[2016-11-26 13:33] kilt46 commented on #76
![image](https://cloud.githubusercontent.com/assets/14023167/20640687/a2e11552-b3aa-11e6-82bc-4296a3e7bc88.png)

[2016-11-26 13:35] kilt46 opened #1341 "EGQK-RAF Kinloss-SCOTLAND-UNITED KINGDOM"

[2016-11-26 14:09] kilt46 commented on #330
![image](https://cloud.githubusercontent.com/assets/14023167/20640832/a670c096-b3af-11e6-838e-72ab10682237.png)

[2016-11-26 14:59] kilt46 commented on #21
![image](https://cloud.githubusercontent.com/assets/14023167/20641105/99ccd166-b3b6-11e6-9bc2-3212d41c8c8b.png)

[2016-11-26 15:36] kilt46 commented on #27
![image](https://cloud.githubusercontent.com/assets/14023167/20641355/c5f34e50-b3bb-11e6-9448-9530b4698b6f.png)

[2016-11-26 15:49] kilt46 commented on #425
![image](https://cloud.githubusercontent.com/assets/14023167/20641455/aeda4ea6-b3bd-11e6-8b6e-e44672a22e5d.png)

[2016-11-26 16:05] kilt46 commented on #6
![image](https://cloud.githubusercontent.com/assets/14023167/20641540/e610aad0-b3bf-11e6-8f2c-23daac9b46d8.png)

[2016-11-26 16:20] Will171 commented on #983
Sent for review

[2016-11-26 16:37] bavAVIA commented on #1234
Please unassign. Has been discussed.

[2016-11-26 17:01] brunocr98 opened #1342 "MUHG-Holguin Airport-HOLGUIN-CUBA"
Doing this airport. Frank País Airport.

[2016-11-26 18:05] bavAVIA commented on #47
I'm quickly doing this one. Please assign.

[2016-11-26 23:32] kilt46 commented on #28
![image](https://cloud.githubusercontent.com/assets/14023167/20644566/4771cfc8-b3fe-11e6-90ec-96ff87e868b5.png)

[2016-11-26 23:52] kilt46 commented on #263
![image](https://cloud.githubusercontent.com/assets/14023167/20644641/1da597f8-b401-11e6-8922-6f583962b346.png)

[2016-11-27 00:04] kilt46 commented on #474
![image](https://cloud.githubusercontent.com/assets/14023167/20644669/d6b7acf8-b402-11e6-97f5-5aa39c9e8944.png)

[2016-11-27 01:00] SWNelson commented on #880
I'm not part of IFAE, but can someone please do this?  This is my training and home airport and I would love to see this done.  If anyone would do this it would be highly appreciated.

[2016-11-27 02:55] lalomarlin commented on #533
Sent for Review :)

[2016-11-27 03:15] brunocr98 opened #1343 "MTPP-Port Au Prince Airport-OUEST-HAITI"
Doing this airport. Toussaint Louvertoure Airport.

[2016-11-27 12:03] kilt46 commented on #336
![image](https://cloud.githubusercontent.com/assets/14023167/20648243/33354bc0-b467-11e6-9395-5a93737c9cc5.png)

[2016-11-27 12:31] kilt46 commented on #331
![image](https://cloud.githubusercontent.com/assets/14023167/20648396/27dcd578-b46b-11e6-97cb-d19d50b66a6e.png)

[2016-11-27 13:11] kilt46 commented on #333
![image](https://cloud.githubusercontent.com/assets/14023167/20648580/b4a5f250-b470-11e6-8001-85dd6364bc9d.png)

[2016-11-27 13:22] kilt46 commented on #348
![image](https://cloud.githubusercontent.com/assets/14023167/20648650/4e7f8520-b472-11e6-8eac-b8013dc14e9d.png)

[2016-11-27 14:21] kilt46 commented on #564
![image](https://cloud.githubusercontent.com/assets/14023167/20648993/86ba25b4-b47a-11e6-8f8b-1d76bc0e1232.png)

[2016-11-27 14:38] kilt46 commented on #15
![image](https://cloud.githubusercontent.com/assets/14023167/20649099/eeb79190-b47c-11e6-851b-cd3db70a5bc2.png)

[2016-11-27 14:48] kilt46 commented on #455
![image](https://cloud.githubusercontent.com/assets/14023167/20649173/363f7612-b47e-11e6-9262-09d6b439b256.png)

[2016-11-27 15:42] kilt46 commented on #594
![image](https://cloud.githubusercontent.com/assets/14023167/20649434/c51198b4-b485-11e6-8bdc-22baf4624e60.png)

[2016-11-27 15:51] kilt46 commented on #470
![image](https://cloud.githubusercontent.com/assets/14023167/20649493/0a7e8b40-b487-11e6-98eb-a825457935b1.png)

[2016-11-27 16:00] kilt46 commented on #291
![image](https://cloud.githubusercontent.com/assets/14023167/20649560/62b26d12-b488-11e6-845c-16f01ab278fa.png)

[2016-11-27 16:04] kilt46 commented on #368
![image](https://cloud.githubusercontent.com/assets/14023167/20649594/d8d71ace-b488-11e6-9d8c-738404f45130.png)

[2016-11-27 16:12] kilt46 commented on #476
![image](https://cloud.githubusercontent.com/assets/14023167/20649670/10194ccc-b48a-11e6-8c31-aeb9ec42dc7b.png)

[2016-11-27 16:33] kilt46 commented on #507
![image](https://cloud.githubusercontent.com/assets/14023167/20649803/f83236e8-b48c-11e6-96ca-27fbe209d47b.png)

[2016-11-27 16:38] kilt46 commented on #360
![image](https://cloud.githubusercontent.com/assets/14023167/20649839/ae5f34f2-b48d-11e6-8910-5ec0b56227b9.png)

[2016-11-27 16:55] kilt46 commented on #434
![image](https://cloud.githubusercontent.com/assets/14023167/20649924/f9f5a3ea-b48f-11e6-8f0a-6b900081c2f0.png)

[2016-11-27 17:08] kilt46 commented on #426
![image](https://cloud.githubusercontent.com/assets/14023167/20649987/c83dee28-b491-11e6-95d8-4c9716e51e69.png)

[2016-11-27 17:29] kilt46 commented on #402
![image](https://cloud.githubusercontent.com/assets/14023167/20650471/b9e70af0-b494-11e6-868e-86d62fecb88e.png)

[2016-11-27 19:15] kilt46 commented on #595
![image](https://cloud.githubusercontent.com/assets/14023167/20651075/89bf5814-b4a3-11e6-8513-9c2ff587d065.png)

[2016-11-27 20:28] kilt46 commented on #353
![image](https://cloud.githubusercontent.com/assets/14023167/20651584/bd0b402a-b4ad-11e6-9063-e9d74c1a506e.png)

[2016-11-27 20:34] kilt46 commented on #356
![image](https://cloud.githubusercontent.com/assets/14023167/20651644/92ff6eae-b4ae-11e6-83b1-acf51f38f6e7.png)

[2016-11-27 20:41] kilt46 commented on #441
![image](https://cloud.githubusercontent.com/assets/14023167/20651706/85ccce4c-b4af-11e6-9a19-1107bf325079.png)

[2016-11-27 21:11] kilt46 commented on #576
![image](https://cloud.githubusercontent.com/assets/14023167/20651879/b924522a-b4b3-11e6-86d2-4798cbbc2c7f.png)

[2016-11-27 22:05] kilt46 commented on #545
![image](https://cloud.githubusercontent.com/assets/14023167/20652248/603ac286-b4bb-11e6-8a7c-da57e8e68d22.png)

[2016-11-27 22:15] kilt46 commented on #352
![image](https://cloud.githubusercontent.com/assets/14023167/20652321/b6be4352-b4bc-11e6-94b5-7657f851e429.png)

[2016-11-27 22:24] kilt46 commented on #520
![image](https://cloud.githubusercontent.com/assets/14023167/20652394/02851210-b4be-11e6-91d5-a697e51a19fa.png)

[2016-11-28 05:34] RileyDunshea commented on #470
Why were the parking spots I added removed?

Sent from my iPad

[2016-11-28 10:57] kilt46 commented on #470
With the silhouettes of the aircraft in place there was simply not enough room to taxi between. I did not check the satellite overlay as it is not even a 4X ICAO field. There are more than enough spawn points for a field of that size.

[2016-11-28 17:34] bavAVIA commented on #47
I'm still not assign. Please assign me.

[2016-11-28 19:49] moritzbabl commented on #1333
Sent for approvsl

[2016-11-28 20:07] RileyDunshea commented on #470
Ok just making sure.

Sent from my iPad

[2016-11-28 23:26] kilt46 commented on #549
![image](https://cloud.githubusercontent.com/assets/14023167/20690382/dca58052-b58f-11e6-8e18-b9ea1217eabd.png)

[2016-11-28 23:43] kilt46 commented on #458
![image](https://cloud.githubusercontent.com/assets/14023167/20690767/24d97f8e-b592-11e6-9661-30e476cd596d.png)

[2016-11-29 20:43] Aviationluver commented on #1338
Sent in for review.

[2016-11-29 22:18] brunocr98 opened #1344 "MKJP-Kingston/Norman Manley Airport-SAINT ANDREW-JAMAICA"
Airport made, needs to be reviewed. Norman Manley Airport.

[2016-11-29 22:18] brunocr98 opened #1345 "MKJS-Montego Bay Airport-SAINT JAMES-JAMAICA"
Airport made, needs to be reviewed. Sangter Airport.

[2016-11-29 23:46] kilt46 commented on #364
![image](https://cloud.githubusercontent.com/assets/14023167/20733930/c20fa886-b65b-11e6-962c-03b1407ddee0.png)

[2016-11-30 00:56] kilt46 commented on #521
![image](https://cloud.githubusercontent.com/assets/14023167/20735409/8142b050-b665-11e6-9431-e87071a112ca.png)

[2016-11-30 01:46] kilt46 commented on #39
![image](https://cloud.githubusercontent.com/assets/14023167/20736498/92809d80-b66c-11e6-8441-44303ab5a9af.png)

[2016-11-30 01:53] kilt46 commented on #497
![image](https://cloud.githubusercontent.com/assets/14023167/20736663/8dbd054e-b66d-11e6-97af-1a09fd027dff.png)

[2016-11-30 03:11] kilt46 commented on #367
![image](https://cloud.githubusercontent.com/assets/14023167/20738398/6f1a14c8-b678-11e6-86ef-5401d82d6308.png)

[2016-11-30 12:00] #1339 closed

[2016-11-30 15:27] dushyants19 commented on #1234
Up for Grabs

[2016-11-30 15:30] dushyants19 commented on #1221
ok

[2016-11-30 15:32] dushyants19 commented on #668
assigned

[2016-11-30 16:03] #1338 closed

[2016-11-30 16:04] #1333 closed

[2016-11-30 16:04] #983 closed

[2016-11-30 16:55] Will171 opened #1346 "EGJA-Alderny Airport-CHANNEL ISLANDS-UNITED KINGDOM"
Full Redo

[2016-11-30 17:12] Will171 commented on #1346
Sent for Review

[2016-11-30 17:19] lolo31r commented on #810
Redoing this. Please assign me

[2016-11-30 21:19] brunocr98 opened #1347 "MDPC-Punta Cana Airport-LA ALTAGRACIA-DOMINICAN REPUBLIC"
Doing this airport. Punta Cana Airport.

[2016-11-30 21:20] brunocr98 opened #1348 "MDSD-Las Americas Airport-SANTO DOMINGO-DOMINICAN REPUBLIC"
Doing this airport. Las Américas Airport.

[2016-11-30 21:21] brunocr98 opened #1349 "TTPP-Piarco Airport-TUNAPUNA-TRINIDAD AND TOBAGO"
Doing this airport. Piarco Airport.

[2016-11-30 23:06] kilt46 commented on #383
![image](https://cloud.githubusercontent.com/assets/14023167/20775178/4b0a6734-b71f-11e6-94da-3c7b448a5023.png)

[2016-11-30 23:22] kilt46 commented on #516
![image](https://cloud.githubusercontent.com/assets/14023167/20775628/86512d30-b721-11e6-89a0-9991bd6ee8cc.png)

[2016-11-30 23:34] kilt46 commented on #1344
![image](https://cloud.githubusercontent.com/assets/14023167/20775947/3777f692-b723-11e6-9cab-5c984be1a505.png)

[2016-12-01 00:07] kilt46 commented on #1334
![image](https://cloud.githubusercontent.com/assets/14023167/20776697/d96c3e0a-b727-11e6-846b-edc4439dbf66.png)

[2016-12-01 00:17] kilt46 commented on #1343
![image](https://cloud.githubusercontent.com/assets/14023167/20776937/31a5fa92-b729-11e6-8eeb-1a0ec4f05412.png)

[2016-12-01 01:09] kilt46 commented on #734
![image](https://cloud.githubusercontent.com/assets/14023167/20778001/7671adc2-b730-11e6-8621-073a86770284.png)

[2016-12-01 01:26] kilt46 commented on #1345
![image](https://cloud.githubusercontent.com/assets/14023167/20778376/d68fead2-b732-11e6-8b11-360f0eb1a600.png)

[2016-12-01 01:46] kilt46 commented on #983
![image](https://cloud.githubusercontent.com/assets/14023167/20778767/9e70b53e-b735-11e6-91f1-30f308591b8a.png)

[2016-12-01 01:53] kilt46 commented on #1333
![image](https://cloud.githubusercontent.com/assets/14023167/20778882/9f5f5f44-b736-11e6-95cb-ef0667e9ffbd.png)

[2016-12-01 01:58] kilt46 commented on #1338
![image](https://cloud.githubusercontent.com/assets/14023167/20779009/60536a4c-b737-11e6-9118-b49c6234fa16.png)

[2016-12-01 03:16] kilt46 commented on #1342
![image](https://cloud.githubusercontent.com/assets/14023167/20780659/4b24f978-b742-11e6-9b60-f6417c531908.png)

[2016-12-01 03:26] kilt46 commented on #1053
![image](https://cloud.githubusercontent.com/assets/14023167/20780806/a92dc6ac-b743-11e6-8e23-42cbc56e48ca.png)

[2016-12-01 04:46] 4riw opened #1350 "WAHS"
Working on Achmad Yani Intl Airport, Indonesia. The Actual ICAO code has changed into WAHS

[2016-12-01 14:58] lolo31r commented on #810
10k feet Runway. Priority label???

[2016-12-01 15:45] dushyants19 commented on #1347
Duplicate, #918

[2016-12-01 15:50] #1305 closed

[2016-12-01 20:03] lalomarlin opened #1351 "MMCT"
Chichen Itza Intl

[2016-12-01 20:03] lalomarlin opened #1352 "MMLP"
La Paz Intl

[2016-12-01 22:50] kilt46 commented on #1347
![image](https://cloud.githubusercontent.com/assets/14023167/20816095/4be8d3d0-b7e6-11e6-951e-1236e36219b8.png)

[2016-12-02 00:23] kilt46 commented on #1305
![image](https://cloud.githubusercontent.com/assets/14023167/20818451/487b383e-b7f3-11e6-8901-953234ec981d.png)

[2016-12-02 00:40] kilt46 commented on #1340
![image](https://cloud.githubusercontent.com/assets/14023167/20818780/9fbec474-b7f5-11e6-85a3-797b290d02e5.png)

[2016-12-02 00:57] kilt46 commented on #779
![image](https://cloud.githubusercontent.com/assets/14023167/20819118/0cd5dbf4-b7f8-11e6-8862-4b5ddd67486a.png)

[2016-12-02 01:04] IFAEpat commented on #550
@J0mpa said he'll finish this once he gets back.

[2016-12-02 01:09] kilt46 commented on #1339
![image](https://cloud.githubusercontent.com/assets/14023167/20819415/bf1af906-b7f9-11e6-955f-f0f37fe1cfde.png)

[2016-12-02 01:14] kilt46 commented on #1324
![image](https://cloud.githubusercontent.com/assets/14023167/20819516/582edff4-b7fa-11e6-8fd3-fb097a1a39fa.png)

[2016-12-02 01:24] kilt46 commented on #533
![image](https://cloud.githubusercontent.com/assets/14023167/20819708/d6e1eb24-b7fb-11e6-9241-cad6bd1dab31.png)

[2016-12-02 01:32] kilt46 commented on #518
![image](https://cloud.githubusercontent.com/assets/14023167/20819881/f2731c90-b7fc-11e6-8282-18e0648df58d.png)

[2016-12-02 01:38] kilt46 commented on #519
![image](https://cloud.githubusercontent.com/assets/14023167/20820020/c461aa78-b7fd-11e6-84fe-6c446fd482f1.png)

[2016-12-02 02:41] brunocr98 commented on #724
Doing this airport, please assign me.

[2016-12-02 03:03] kilt46 commented on #408
![image](https://cloud.githubusercontent.com/assets/14023167/20821616/a5759096-b809-11e6-97c5-591d6fffcefb.png)

[2016-12-02 03:13] kilt46 commented on #167
![image](https://cloud.githubusercontent.com/assets/14023167/20821774/fad931f4-b80a-11e6-9446-78e716f240bc.png)

[2016-12-02 03:23] kilt46 commented on #252
![image](https://cloud.githubusercontent.com/assets/14023167/20821958/6a37e01c-b80c-11e6-8602-8e0621e42b42.png)

[2016-12-02 03:31] kilt46 commented on #93
![image](https://cloud.githubusercontent.com/assets/14023167/20822106/8adb6450-b80d-11e6-83df-1af7f76d64b3.png)

[2016-12-02 11:52] kilt46 commented on #463
![image](https://cloud.githubusercontent.com/assets/14023167/20833117/921d0e8a-b853-11e6-8f42-9cb64b249fd1.png)

[2016-12-02 16:54] Aviationluver opened #1353 "CYCG"
Castlegar Airport. I will be re-doing this one.

Runway is not longer than 10k feet.

[2016-12-02 19:05] brunocr98 opened #1354 "MZBZ-Philip S W Goldson International Airport-BELIZE-BELIZE"
Doing this airport. Philip Goldson Airport.

[2016-12-02 19:06] brunocr98 opened #1355 "MRLB-Daniel Oduber Quiros Airport-GUANACASTE-COSTA RICA"
Doing this airport. Daniel Oduber Airport.

[2016-12-02 19:07] brunocr98 opened #1356 "MSLP-Monseñor Oscar Romero Airport-LA PAZ-EL SALVADOR"
Doing this airport. Monseñor Oscar Romero Airport.

[2016-12-02 22:40] kilt46 commented on #460
![image](https://cloud.githubusercontent.com/assets/14023167/20852888/17bb3e9a-b8ae-11e6-945c-e577398b7997.png)

[2016-12-02 22:51] kilt46 commented on #505
![image](https://cloud.githubusercontent.com/assets/14023167/20853114/910a260c-b8af-11e6-8d77-4df120ea6e53.png)

[2016-12-03 00:48] moritzbabl opened #1357 "EDVK"
Kassel Calden Airport, I will do this

[2016-12-03 10:06] bavAVIA commented on #1283
Taking this one over, please assign.
Priority II by the way.

[2016-12-03 11:42] kilt46 commented on #128
![image](https://cloud.githubusercontent.com/assets/14023167/20859120/5741fa3c-b91b-11e6-9546-97bffad57f3c.png)

[2016-12-03 11:50] kilt46 commented on #469
![image](https://cloud.githubusercontent.com/assets/14023167/20859159/5cb66e98-b91c-11e6-8250-11922cc1c678.png)

[2016-12-03 12:27] kilt46 commented on #475
![image](https://cloud.githubusercontent.com/assets/14023167/20859331/9c4f25d6-b921-11e6-91ff-f8e5418479f0.png)

[2016-12-03 12:34] kilt46 commented on #453
![image](https://cloud.githubusercontent.com/assets/14023167/20859362/7c922a9e-b922-11e6-8bb6-87ab187357ff.png)

[2016-12-03 12:47] kilt46 commented on #461
![image](https://cloud.githubusercontent.com/assets/14023167/20859423/549e32b0-b924-11e6-8ce8-65e3d53a968d.png)

[2016-12-03 12:47] #1346 closed

[2016-12-03 12:47] #1351 closed

[2016-12-03 12:48] #1015 closed

[2016-12-03 12:52] kilt46 commented on #464
![image](https://cloud.githubusercontent.com/assets/14023167/20859442/024cc3b8-b925-11e6-97e7-bad6ca60e8b4.png)

[2016-12-03 12:58] kilt46 commented on #488
![image](https://cloud.githubusercontent.com/assets/14023167/20859467/eee462ee-b925-11e6-8aea-4dcebe945d0e.png)

[2016-12-03 13:17] kilt46 commented on #1015
![image](https://cloud.githubusercontent.com/assets/14023167/20859591/8ec24b9e-b928-11e6-95b0-56f358912dbc.png)

[2016-12-03 13:25] kilt46 commented on #258
![image](https://cloud.githubusercontent.com/assets/14023167/20859638/9df0c888-b929-11e6-9b6b-26dfb0e7f4de.png)

[2016-12-03 13:25] kilt46 commented on #258
![image](https://cloud.githubusercontent.com/assets/14023167/20859639/a7e8e884-b929-11e6-983f-ee3c167a8b07.png)

[2016-12-03 13:25] kilt46 commented on #258
Runway 05L/23R removed

[2016-12-03 13:42] kilt46 commented on #1349
![image](https://cloud.githubusercontent.com/assets/14023167/20859710/076017fe-b92c-11e6-987d-fafff35bcee4.png)

[2016-12-03 13:55] kilt46 commented on #1351
![image](https://cloud.githubusercontent.com/assets/14023167/20859762/da2bcd3a-b92d-11e6-9c3e-f010728f0b51.png)

[2016-12-03 14:10] kilt46 commented on #174
![image](https://cloud.githubusercontent.com/assets/14023167/20859831/eb4c962e-b92f-11e6-80b2-4c47995d446f.png)

[2016-12-03 14:15] kilt46 commented on #1255
![image](https://cloud.githubusercontent.com/assets/14023167/20859873/a7143e98-b930-11e6-9542-d0ff450cf8fd.png)

[2016-12-03 14:24] kilt46 commented on #1346
![image](https://cloud.githubusercontent.com/assets/14023167/20859928/f078094c-b931-11e6-8505-854fcca74d4c.png)

[2016-12-03 14:28] kilt46 commented on #1348
![image](https://cloud.githubusercontent.com/assets/14023167/20859945/87c3789a-b932-11e6-9829-b1b81cb43dfe.png)

[2016-12-03 14:42] kilt46 commented on #724
![image](https://cloud.githubusercontent.com/assets/14023167/20860031/6e6ad3a0-b934-11e6-8e87-eb9240135491.png)

[2016-12-03 14:54] kilt46 commented on #256
![image](https://cloud.githubusercontent.com/assets/14023167/20860105/0c33ebde-b936-11e6-9667-1a51757ecffe.png)

[2016-12-03 16:36] ReflexRSM opened #1358 "MD11"
[Wright Field Airport](https://www.airnav.com/airport/MD11)

[2016-12-03 20:57] kilt46 commented on #159
![image](https://cloud.githubusercontent.com/assets/14023167/20862150/c830e846-b968-11e6-9c50-2a1076d7f820.png)

[2016-12-03 21:57] kilt46 commented on #208
![image](https://cloud.githubusercontent.com/assets/14023167/20862475/385c2fe2-b971-11e6-8793-04d218aabdb7.png)

[2016-12-03 22:09] kilt46 commented on #217
![image](https://cloud.githubusercontent.com/assets/14023167/20862528/ef2b8e88-b972-11e6-88d7-3954def36756.png)

[2016-12-03 22:12] Aviationluver commented on #1353
Sent in for review.

[2016-12-03 22:42] Aviationluver opened #1359 "CYYC-Calgary International Airport-ALBERTA-CANADA"
Calgary Int'l Airport. I will re-do this one.

Runways are longer than 10k feet.

[2016-12-03 22:44] moritzbabl commented on #1357
Sent for approval

[2016-12-04 04:06] kilt46 commented on #280
![image](https://cloud.githubusercontent.com/assets/14023167/20864006/c6849150-b9a4-11e6-89f5-f84e40b72e86.png)

[2016-12-04 04:21] sentikum opened #1360 "UNOO"
Omsk / Tsentralnyi Int'l airport
Omsk-Center Int'l Airport

runway - 2500 m

Being redone

[2016-12-04 04:26] sentikum opened #1361 "USRR"
Surgut International Arport

Being redone

[2016-12-04 12:29] kilt46 commented on #157
![image](https://cloud.githubusercontent.com/assets/14023167/20866151/023cc0aa-b9eb-11e6-8631-bccf9ca62530.png)

[2016-12-04 14:23] kilt46 opened #1362 "KXNA-Northwest Arkansas Regional Airport-ARKANSAS-USA"

[2016-12-04 14:30] kilt46 commented on #23
![image](https://cloud.githubusercontent.com/assets/14023167/20866821/e2507690-b9fb-11e6-9fa4-385943b2900f.png)

[2016-12-04 15:34] kilt46 commented on #2
![image](https://cloud.githubusercontent.com/assets/14023167/20867220/e7ec3018-ba04-11e6-9f18-4066dd386afd.png)

[2016-12-04 15:35] kilt46 commented on #221
![image](https://cloud.githubusercontent.com/assets/14023167/20867221/fc8c4f26-ba04-11e6-91f8-2ca672ea82e4.png)

[2016-12-04 15:42] kilt46 commented on #94
![image](https://cloud.githubusercontent.com/assets/14023167/20867275/ec2274d4-ba05-11e6-811b-beb76c0bd1df.png)

[2016-12-04 15:47] ErshovlaD opened #1363 "KPHP"
Being redone

[2016-12-04 17:09] Adam167 opened #1364 "KDCA-Ronald Reagan Washington National Airport-VIRGINIA-USA"
I'll redo this.

[2016-12-04 17:09] kilt46 commented on #271
![image](https://cloud.githubusercontent.com/assets/14023167/20867811/30b7dcb8-ba12-11e6-98f8-f0249eeccaab.png)

[2016-12-04 17:21] kilt46 commented on #314
Several of the hold lines were backwards. Now fixed

[2016-12-04 18:45] kilt46 commented on #127
![image](https://cloud.githubusercontent.com/assets/14023167/20868370/86e260ec-ba1f-11e6-9bfe-0d6e5b48b3d1.png)

[2016-12-04 19:02] kilt46 commented on #119
![image](https://cloud.githubusercontent.com/assets/14023167/20868454/e5fdc97a-ba21-11e6-81c1-040b82d99fe8.png)

[2016-12-04 19:12] kilt46 commented on #35
![image](https://cloud.githubusercontent.com/assets/14023167/20868532/5b7c1f34-ba23-11e6-972d-b438dc59f17f.png)

[2016-12-04 19:51] moritzbabl opened #1365 "EDNY"
Friedrichshafen Airport, Starting Location/Destination of the shortest scheduled international flight in the world, will redo this one

[2016-12-04 19:53] kilt46 commented on #51
![image](https://cloud.githubusercontent.com/assets/14023167/20868768/fc9cfabe-ba28-11e6-90ab-28e87cd724d2.png)

[2016-12-05 14:12] 4riw opened #1366 "WIMM-Kualanamu International Airport-SUMATERA UTARA-INDONESIA"
Medan Kualanamu Intl Airport, North Sumatra, Indonesia
with 12,300ft runway

[2016-12-05 14:47] brunocr98 opened #1367 "MGGT-La Aurora Airport-GUATEMALA-GUATEMALA"
Doing this airport. La Aurora Airport.

[2016-12-05 14:48] brunocr98 opened #1368 "MHLM-Ramon Villeda Morales International Airport-CORTES-HONDURAS"
Doing this airport. Ramón Villeda Morales Airport.

[2016-12-05 14:49] brunocr98 opened #1369 "MNMG-Augusto C. Sandino International Airport-MANAGUA-NICARAGUA"
Doing this airport. Augusto C. Sandino Airport.

[2016-12-06 01:03] kilt46 commented on #120
![image](https://cloud.githubusercontent.com/assets/14023167/20908872/8d6e9e7c-bb1d-11e6-8e3c-f8b58baf1b32.png)

[2016-12-06 02:38] kilt46 commented on #209
![image](https://cloud.githubusercontent.com/assets/14023167/20911020/c35dbb28-bb2a-11e6-93d2-76a0788bc5b2.png)

[2016-12-06 02:51] kilt46 commented on #191
![image](https://cloud.githubusercontent.com/assets/14023167/20911293/a7418d3c-bb2c-11e6-8155-6470b2fb8c5c.png)

[2016-12-06 08:39] #1358 closed

[2016-12-06 08:39] #1365 closed

[2016-12-06 08:39] #1350 closed

[2016-12-06 08:39] #1363 closed

[2016-12-06 14:11] Adam167 opened #1370 "FALE-King Shaka International Airport-KWAZULU-NATAL-SOUTH AFRICA"
@JoshuaFleming Is going to have a go at it

[2016-12-06 14:19] dushyants19 commented on #1278
@Hamza787Aj  any progress?

[2016-12-06 14:20] dushyants19 commented on #550
@IFAEpat please add proper labels; thanks

[2016-12-06 14:50] #1353 closed

[2016-12-06 21:27] IFAEpat commented on #936
Up for grabs

[2016-12-06 21:43] IFAEpat commented on #593
Up for grabs, I guess...

[2016-12-06 23:07] kilt46 commented on #1353
![image](https://cloud.githubusercontent.com/assets/14023167/20947806/85d396d6-bbd6-11e6-8565-e83cb03abff0.png)

[2016-12-06 23:20] kilt46 commented on #573
![image](https://cloud.githubusercontent.com/assets/14023167/20948169/4a99e2d0-bbd8-11e6-8e25-8c87c59fdcd1.png)

[2016-12-06 23:34] kilt46 commented on #1363
![image](https://cloud.githubusercontent.com/assets/14023167/20948524/32e0c04e-bbda-11e6-8bb2-d46601aa9db3.png)

[2016-12-06 23:44] kilt46 commented on #1350
![image](https://cloud.githubusercontent.com/assets/14023167/20948816/a6d1a760-bbdb-11e6-9110-ed22565e2cb3.png)

[2016-12-06 23:44] kilt46 commented on #1350
![image](https://cloud.githubusercontent.com/assets/14023167/20948825/b43926bc-bbdb-11e6-8d8d-81af0e34ca6c.png)

[2016-12-06 23:57] kilt46 commented on #1354
![image](https://cloud.githubusercontent.com/assets/14023167/20949145/7f9755bc-bbdd-11e6-8d96-c48789cfe3eb.png)

[2016-12-07 00:04] kilt46 commented on #1355
![image](https://cloud.githubusercontent.com/assets/14023167/20949333/64c01318-bbde-11e6-8a59-76f77fa6f7f9.png)

[2016-12-07 00:14] kilt46 commented on #1365
![image](https://cloud.githubusercontent.com/assets/14023167/20949598/c66a588e-bbdf-11e6-9a68-e9e0f79e6483.png)

[2016-12-07 00:22] kilt46 commented on #1358
![image](https://cloud.githubusercontent.com/assets/14023167/20949770/f11db7b4-bbe0-11e6-8359-783973574b25.png)

[2016-12-07 00:34] kilt46 commented on #1356
![image](https://cloud.githubusercontent.com/assets/14023167/20950018/95ee4cf8-bbe2-11e6-85d7-59940fcdf816.png)

[2016-12-07 00:54] dushyants19 commented on #936
Stop bumpin'

[2016-12-07 02:51] lambtda opened #1371 "KUIN-Quincy Regional-Baldwin Field Airport-ILLINOIS-USA"
♻️

[2016-12-07 03:54] ryu12332 commented on #593
I submitted V1 of the airport. The only work left should be taxiway shoulders and roadways.

[2016-12-07 05:34] dushyants19 commented on #924
@CJ-Sapan are you still on this

[2016-12-07 05:37] #1357 closed

[2016-12-07 08:00] dushyants19 commented on #88
New cargo apron  added

![image](https://cloud.githubusercontent.com/assets/13567007/20959513/5487ecde-bc81-11e6-833d-9a112a70540c.png)

@kilt46 should I remove the label?

[2016-12-07 15:27] GiacomoLaw commented on #401
Is this one Kai Tak, or the new one? :/

[2016-12-07 15:27] dushyants19 commented on #401
New

[2016-12-07 15:28] GiacomoLaw commented on #401
Oh, okay. Can you link me to Kai Tak issue?

[2016-12-07 15:29] dushyants19 commented on #401
#585 @GiacomoLaw

[2016-12-07 15:30] GiacomoLaw commented on #401
Thanks!

[2016-12-07 20:59] ErshovlaD opened #1372 "UTAT-Dashoguz-DASHOGUZ-TURKMENISTAN"
♻️

[2016-12-07 23:35] brunocr98 commented on #1000
Taking this airport.

[2016-12-07 23:36] brunocr98 commented on #1137
Taking this airport.

[2016-12-08 00:31] kilt46 commented on #286
![image](https://cloud.githubusercontent.com/assets/14023167/20992677/4d0c3792-bcab-11e6-9abe-d15b4bb10c4a.png)

[2016-12-08 00:53] kilt46 commented on #1292
![image](https://cloud.githubusercontent.com/assets/14023167/20993218/6b5b5be4-bcae-11e6-9f70-283fe014a7a7.png)

[2016-12-08 07:05] AsianaIFVA opened #1373 "OIMM-Mashhad Airport-RAZAVI KHORASAN-IRAN"
10K airport for global

[2016-12-08 07:58] lalomarlin commented on #610
I'm on

[2016-12-08 14:01] TristinWoolf commented on #1373
@AsianaIFVA Are you doing this?

[2016-12-08 14:59] dushyants19 commented on #1373
@TristinWoolf  I don't think so.

[2016-12-08 16:02] DS2001 commented on #1336
I want to do this one.

[2016-12-08 17:37] bavAVIA commented on #1332
Airport sent in to E-mail, awaiting review.

[2016-12-08 20:59] liamkirky opened #1374 "UTTT-Tashkent Airport-TASHKENT CITY-UZBEKISTAN"
Please edit me

♻️

[2016-12-08 21:16] kilt46 commented on #1374
THIS IS A DUPLICATE ISSUE!!! PLEASE # **DO NOT** create duplicate issues

[2016-12-08 22:30] lalomarlin commented on #610
@TristinWoolf

[2016-12-09 03:44] kilt46 commented on #168
![image](https://cloud.githubusercontent.com/assets/14023167/21036967/843e4932-bd8f-11e6-8db8-56f79c8a875a.png)

[2016-12-09 16:22] JcFl4 opened #1375 "SPZO-Cusco Airport-CUSCO-PERU"
Cuzco, Peru

[2016-12-09 16:24] JcFl4 opened #1376 "SPJC-Lima/Jorge Chavez International Airport-CALLAO-PERU"
Lima, Peru

[2016-12-10 09:36] bavAVIA commented on #1283
Sent in for review.

[2016-12-10 11:35] sentikum opened #1378 "UHMA-Anadyr Airport-CHUKOT-RUSSIA"
Anadyr-Ugolny International Airport.
The eastest airport in Russia

[2016-12-10 16:58] kilt46 commented on #1367
![image](https://cloud.githubusercontent.com/assets/14023167/21074807/96a26afc-bec7-11e6-8131-ccdc51de0c8a.png)

[2016-12-10 17:10] kilt46 commented on #1357
![image](https://cloud.githubusercontent.com/assets/14023167/21074865/52e1124e-bec9-11e6-8445-63809bf9e84c.png)

[2016-12-10 17:28] kilt46 commented on #184
![image](https://cloud.githubusercontent.com/assets/14023167/21074944/b6e50cf8-becb-11e6-812c-eba77787cd68.png)

[2016-12-10 17:52] kilt46 commented on #250
![image](https://cloud.githubusercontent.com/assets/14023167/21075095/2e4cff5a-becf-11e6-8ccb-ed2bb61d56cd.png)

[2016-12-10 17:56] #1361 closed

[2016-12-10 17:56] #1332 closed

[2016-12-10 17:56] #1283 closed

[2016-12-10 17:59] bavAVIA opened #1379 "EDNP"
Pfarrkirchen Airport, Bavaria, Germany.
Tiny GA airport.

[2016-12-10 17:59] bavAVIA commented on #1379
Aaaaaaand sent for review.

[2016-12-10 18:01] bavAVIA commented on #1262
Doing this one, Priority II by the way.

[2016-12-10 18:03] bavAVIA commented on #1262
Hold on, abort mission. The X-Plane file is more accurate than I would even be able to do this 😱

[2016-12-10 18:22] kilt46 commented on #100
![image](https://cloud.githubusercontent.com/assets/14023167/21075288/5b08f5ae-bed3-11e6-98dd-bf7bcd369b1b.png)

[2016-12-10 18:44] kilt46 commented on #1283
![image](https://cloud.githubusercontent.com/assets/14023167/21075382/521f499a-bed6-11e6-8eea-4c30509c1949.png)

[2016-12-10 18:51] kilt46 commented on #1332
![image](https://cloud.githubusercontent.com/assets/14023167/21075416/545bf55e-bed7-11e6-9bd3-a59142750241.png)

[2016-12-10 18:57] kilt46 commented on #1361
![image](https://cloud.githubusercontent.com/assets/14023167/21075457/3502611a-bed8-11e6-9e61-a7791b58a8be.png)

[2016-12-10 19:09] kilt46 commented on #1369
![image](https://cloud.githubusercontent.com/assets/14023167/21075525/e4a710ce-bed9-11e6-8bfb-281799fc05ef.png)

[2016-12-10 19:15] kilt46 commented on #1000
![image](https://cloud.githubusercontent.com/assets/14023167/21075544/b06666ec-beda-11e6-8592-bac1e92005a1.png)

[2016-12-10 19:27] kilt46 commented on #1368
![image](https://cloud.githubusercontent.com/assets/14023167/21075633/672d269e-bedc-11e6-96d1-33cf41e414f7.png)

[2016-12-10 19:49] kilt46 commented on #261
![image](https://cloud.githubusercontent.com/assets/14023167/21075753/76c6afd2-bedf-11e6-8175-e83377f575dc.png)

[2016-12-11 03:47] kilt46 commented on #36
![image](https://cloud.githubusercontent.com/assets/14023167/21077954/3e5c3f0c-bf22-11e6-8916-c0d4363ff1bd.png)

[2016-12-11 04:03] kilt46 commented on #155
![image](https://cloud.githubusercontent.com/assets/14023167/21077991/867a31b6-bf24-11e6-9025-97b7f73513a8.png)

[2016-12-11 04:22] kilt46 commented on #156
![image](https://cloud.githubusercontent.com/assets/14023167/21078066/1659f652-bf27-11e6-9e3b-99a772155977.png)

[2016-12-11 11:58] kilt46 commented on #175
![image](https://cloud.githubusercontent.com/assets/14023167/21079928/d13b2fb0-bf66-11e6-8056-bd33045db4e5.png)

[2016-12-11 12:13] kilt46 commented on #218
![image](https://cloud.githubusercontent.com/assets/14023167/21079988/e7ab6fce-bf68-11e6-85c6-5d08deae17ea.png)

[2016-12-11 13:02] moritzbabl opened #1380 "EDRZ"
I'll redo this one, Zweibruecken Airport (Germany)

[2016-12-11 13:02] kilt46 commented on #187
![image](https://cloud.githubusercontent.com/assets/14023167/21080231/d54d28ac-bf6f-11e6-85aa-bfe703020f35.png)

[2016-12-11 13:04] moritzbabl opened #1381 "LOWZ"
Zell am See, will redo this, Austrian airport

[2016-12-11 13:04] moritzbabl opened #1382 "EDNM"
Nittenau-Bruck, Germany, will do this quickly

[2016-12-11 13:25] kilt46 commented on #222
![image](https://cloud.githubusercontent.com/assets/14023167/21080377/02539842-bf73-11e6-9d24-4bd97ca36343.png)

[2016-12-11 13:52] moritzbabl commented on #1382
Sent for approval

[2016-12-11 13:52] moritzbabl commented on #1381
Sent for approval

[2016-12-11 13:52] moritzbabl commented on #1380
Sent for approval

[2016-12-11 13:56] kilt46 commented on #154
![image](https://cloud.githubusercontent.com/assets/14023167/21080544/4bd0cd9c-bf77-11e6-90e2-523ed2739e35.png)

[2016-12-11 14:36] kilt46 commented on #61
![image](https://cloud.githubusercontent.com/assets/14023167/21080770/e940d46e-bf7c-11e6-9a83-4e101ced108a.png)

[2016-12-11 14:54] moritzbabl commented on #529
I will take this airport

[2016-12-11 15:03] kilt46 commented on #251
![image](https://cloud.githubusercontent.com/assets/14023167/21080918/b5bd3462-bf80-11e6-897b-3622fe0e49b0.png)

[2016-12-11 15:05] #1381 closed

[2016-12-11 15:05] #1382 closed

[2016-12-11 15:05] #1380 closed

[2016-12-11 15:05] #1360 closed

[2016-12-11 15:05] #1379 closed

[2016-12-11 15:08] kilt46 commented on #1379
![image](https://cloud.githubusercontent.com/assets/14023167/21080947/604b1e26-bf81-11e6-9e28-144aca2f1035.png)

[2016-12-11 15:14] bavAVIA opened #1383 "ENAT"
Alta Airport, Norway.
Being redone.

[2016-12-11 15:18] kilt46 commented on #1366
![image](https://cloud.githubusercontent.com/assets/14023167/21081012/c8fad852-bf82-11e6-95a3-3e726851c563.png)

[2016-12-11 15:19] kilt46 commented on #1366
Not quite 10,000 ft
![image](https://cloud.githubusercontent.com/assets/14023167/21081015/d94ff958-bf82-11e6-8e57-ff0133165e7e.png)

[2016-12-11 15:30] moritzbabl opened #1384 "EDNA"
waldkraiburg airfield in Germany, already done and sent

[2016-12-11 15:31] moritzbabl opened #1385 "EDPD"
Dingolfing Airfield in Germany, already done and sent

[2016-12-11 15:31] moritzbabl opened #1386 "EDPF"
Schwandorf Airfield in Germany, already done and sent

[2016-12-11 15:32] kilt46 commented on #1360
![image](https://cloud.githubusercontent.com/assets/14023167/21081084/aa13aa16-bf84-11e6-8126-133bbf8429a3.png)

[2016-12-11 15:32] moritzbabl opened #1387 "EDPI"
Moosburg Airfield in Germany, already done and sent

[2016-12-11 15:32] moritzbabl opened #1388 "LOIJ"
Sankt Johann in Tirol, Part of the Austria Milestone, already done and sent

[2016-12-11 15:32] moritzbabl opened #1389 "LOIK"
Kufstein, Part of the Austria Milestone, already done and sent

[2016-12-11 15:33] moritzbabl opened #1390 "LOLU"
Gmunden Airfield, part of the Austria Milestone, already done and sent

[2016-12-11 15:53] kilt46 commented on #1382
![image](https://cloud.githubusercontent.com/assets/14023167/21081233/a046ae04-bf87-11e6-9239-739332322a77.png)

[2016-12-11 16:11] kilt46 commented on #1380
![image](https://cloud.githubusercontent.com/assets/14023167/21081352/35c0373c-bf8a-11e6-97b4-64b699cf8894.png)

[2016-12-11 16:16] kilt46 commented on #1381
![image](https://cloud.githubusercontent.com/assets/14023167/21081381/e786154a-bf8a-11e6-83e8-019f0512b67c.png)

[2016-12-11 18:25] kilt46 commented on #281
![image](https://cloud.githubusercontent.com/assets/14023167/21082226/da4d6c54-bf9c-11e6-9f46-4c5dce12bd8b.png)

[2016-12-11 20:08] kilt46 commented on #146
![image](https://cloud.githubusercontent.com/assets/14023167/21082929/53b73846-bfab-11e6-86c2-5731a9d32165.png)

[2016-12-11 20:35] kilt46 commented on #153
![image](https://cloud.githubusercontent.com/assets/14023167/21083125/0f04f98c-bfaf-11e6-8bde-191b918fc283.png)

[2016-12-11 20:43] kilt46 commented on #190
![image](https://cloud.githubusercontent.com/assets/14023167/21083166/1c30a56a-bfb0-11e6-8919-0d72a1d61921.png)

[2016-12-11 20:48] kilt46 commented on #97
![image](https://cloud.githubusercontent.com/assets/14023167/21083199/e4352d9c-bfb0-11e6-9c04-860524984f0b.png)

[2016-12-11 21:38] kilt46 commented on #131
![image](https://cloud.githubusercontent.com/assets/14023167/21083518/d671b110-bfb7-11e6-9802-9160fecb02a6.png)

[2016-12-11 22:17] kilt46 commented on #266
![image](https://cloud.githubusercontent.com/assets/14023167/21083770/5b04f0e0-bfbd-11e6-9930-a5ca27687e62.png)

[2016-12-11 22:33] kilt46 opened #1391 "YPEC-Lake Macquarie Airport-NEW SOUTH WALES-AUSTRALIA"

[2016-12-11 22:35] kilt46 commented on #1391
![image](https://cloud.githubusercontent.com/assets/14023167/21083910/e4709918-bfbf-11e6-9059-d80db8883b62.png)

[2016-12-12 01:48] kilt46 commented on #205
![image](https://cloud.githubusercontent.com/assets/14023167/21085725/cb8d6226-bfda-11e6-85e5-7a1cfbb879fa.png)

[2016-12-12 01:56] kilt46 commented on #199
![image](https://cloud.githubusercontent.com/assets/14023167/21085828/e320717a-bfdb-11e6-9b2c-1ca7c8c7cdd9.png)

[2016-12-12 02:44] #1391 closed

[2016-12-12 02:47] #1384 closed

[2016-12-12 02:47] #1385 closed

[2016-12-12 02:47] #1386 closed

[2016-12-12 02:47] #1387 closed

[2016-12-12 02:47] #1388 closed

[2016-12-12 02:47] #1389 closed

[2016-12-12 02:47] #1390 closed

[2016-12-12 03:28] dushyants19 commented on #1279
Completed. Idk what I did

[2016-12-12 03:28] #1279 closed

[2016-12-12 04:58] #596 closed

[2016-12-12 05:24] dushyants19 commented on #219
Added small hangar (John Deere)

[2016-12-12 07:21] sentikum commented on #550
OK

[2016-12-12 08:47] sentikum commented on #550
I CAN redo this airport

[2016-12-12 13:48] AsianaIFVA opened #1392 "OIAA"
Info:
Two runways, one is around 10,000ft and the second around 7,000ft, Military/Civil airport
Location;
Abadan, Islamic Republic Of Iran

[2016-12-12 14:00] TristinWoolf commented on #1392
If you are not going to do the airport, do NOT create an issue for it. We have enough to do already and do not want random people creating issues.

[2016-12-12 14:45] AsianaIFVA commented on #1392
I'm not doing it by the way

[2016-12-12 19:49] Aviationluver commented on #1359
Sent in for review.

[2016-12-12 23:48] kilt46 commented on #219
![image](https://cloud.githubusercontent.com/assets/14023167/21121633/2cc27e38-c093-11e6-80b8-1a24d8295bf8.png)

[2016-12-12 23:59] kilt46 commented on #596
![image](https://cloud.githubusercontent.com/assets/14023167/21121916/bc6123fe-c094-11e6-93e8-f37062c5af1c.png)

[2016-12-13 00:11] kilt46 commented on #1279
![image](https://cloud.githubusercontent.com/assets/14023167/21122192/673b0ed8-c096-11e6-9500-45f1aeea3e8d.png)

[2016-12-13 00:15] kilt46 commented on #1389
![image](https://cloud.githubusercontent.com/assets/14023167/21122307/f3ef71c0-c096-11e6-97fe-eec7ace6d31a.png)

[2016-12-13 00:17] kilt46 commented on #1390
![image](https://cloud.githubusercontent.com/assets/14023167/21122361/402a29c2-c097-11e6-8297-b14ecae5d9f5.png)

[2016-12-13 00:19] kilt46 commented on #1388
![image](https://cloud.githubusercontent.com/assets/14023167/21122416/95657194-c097-11e6-859a-4a32f46e75d6.png)

[2016-12-13 00:22] kilt46 commented on #1384
![image](https://cloud.githubusercontent.com/assets/14023167/21122491/f7d0e57a-c097-11e6-8713-e956cf58b652.png)

[2016-12-13 00:33] kilt46 commented on #1385
![image](https://cloud.githubusercontent.com/assets/14023167/21122704/7be5ef94-c099-11e6-93bb-1c261360ef25.png)

[2016-12-13 00:37] kilt46 commented on #1386
![image](https://cloud.githubusercontent.com/assets/14023167/21122790/fe88f6f8-c099-11e6-9e97-c6c24b6740da.png)

[2016-12-13 00:43] kilt46 commented on #1387
![image](https://cloud.githubusercontent.com/assets/14023167/21122915/d5ec582e-c09a-11e6-907a-1b30fb41e13b.png)

[2016-12-13 00:47] kilt46 commented on #240
![image](https://cloud.githubusercontent.com/assets/14023167/21122995/75c899e8-c09b-11e6-98d0-41bdf70c0359.png)

[2016-12-13 00:59] CptNathanHope commented on #260
Found a slight design mistake. I'll try to fix it before the end of the week. :)

![img_2384](https://cloud.githubusercontent.com/assets/19478765/21123235/85679098-c0a5-11e6-9e10-21343cb4aadb.JPG)

[2016-12-13 12:12] ReflexRSM commented on #726
I'll be taking over OMDW as @sudafly is giving up on this one

[2016-12-13 19:32] Aviationluver opened #1393 "CYOW"
Ottawa Int'l airport. I will be re-doing this one.

Runway is longer than 10k feet.

[2016-12-13 20:15] ChrisAviator opened #1394 "0V7-Kayenta Airport-ARIZONA-USA"
♻️

[2016-12-14 01:20] kilt46 commented on #226
![image](https://cloud.githubusercontent.com/assets/14023167/21166129/300a94c8-c169-11e6-9fb5-7759177c7711.png)

[2016-12-14 01:32] kilt46 commented on #247
![image](https://cloud.githubusercontent.com/assets/14023167/21166385/ed9c6718-c16a-11e6-9fca-e89e032fa0e0.png)

[2016-12-14 01:46] kilt46 commented on #1359
![image](https://cloud.githubusercontent.com/assets/14023167/21166712/d80432b2-c16c-11e6-9520-3914fdb53ec8.png)

[2016-12-14 02:18] kilt46 commented on #1378
![image](https://cloud.githubusercontent.com/assets/14023167/21167314/5790242e-c171-11e6-859d-8af15590f89e.png)

[2016-12-14 02:23] kilt46 commented on #150
![image](https://cloud.githubusercontent.com/assets/14023167/21167424/fc6cc0ec-c171-11e6-8a78-18d3723e0d5d.png)

[2016-12-14 03:45] 4riw opened #1395 "WAMM-Sam Ratulangi Airport-SULAWESI UTARA-INDONESIA"
Working on Manado Sam Ratulangi, North Celebes, Indonesia

[2016-12-14 12:21] dushyants19 commented on #1392
I dont expect you to do.

[2016-12-14 12:21] #1378 closed

[2016-12-14 12:21] #663 closed

[2016-12-14 19:07] AsianaIFVA commented on #1392
Maybe after school (that en

[2016-12-14 19:07] AsianaIFVA commented on #1392
Maybe after school (that en

[2016-12-14 19:09] AsianaIFVA commented on #1392
Sorry, I meant to say: Maybe after school (which ends 6months from now in Iran,  I'll become a part of the team

[2016-12-14 19:36] bavAVIA commented on #1392
Awesome. Could you please stop randomly creating issues until then? Thanks.

[2016-12-15 00:30] kilt46 commented on #225
![image](https://cloud.githubusercontent.com/assets/14023167/21207055/6d462682-c22b-11e6-9d14-a6dd9df29d39.png)

[2016-12-15 00:48] kilt46 commented on #176
![image](https://cloud.githubusercontent.com/assets/14023167/21207469/e09329da-c22d-11e6-9f95-b6aee3dec46c.png)

[2016-12-15 01:10] kilt46 commented on #185
![image](https://cloud.githubusercontent.com/assets/14023167/21207979/f064555c-c230-11e6-97ce-68fcc082d34b.png)

[2016-12-15 01:14] kilt46 commented on #152
![image](https://cloud.githubusercontent.com/assets/14023167/21208110/93da8a4e-c231-11e6-8662-fa7b11111a18.png)

[2016-12-15 01:23] kilt46 commented on #50
![image](https://cloud.githubusercontent.com/assets/14023167/21208292/d3c5b51a-c232-11e6-8d44-f62e0fd68eca.png)

[2016-12-15 02:55] kilt46 commented on #173
![image](https://cloud.githubusercontent.com/assets/14023167/21210313/97413440-c23f-11e6-966e-f490c2b22fc7.png)

[2016-12-15 11:38] kilt46 commented on #239
![image](https://cloud.githubusercontent.com/assets/14023167/21222667/a7894b82-c288-11e6-8187-4436c831f643.png)

[2016-12-15 12:13] kilt46 commented on #202
![image](https://cloud.githubusercontent.com/assets/14023167/21223587/8bb7b06a-c28d-11e6-8f88-18729fb27417.png)

[2016-12-15 12:24] kilt46 commented on #216
![image](https://cloud.githubusercontent.com/assets/14023167/21223871/154e9194-c28f-11e6-86c8-8d4dba7fca34.png)

[2016-12-15 12:36] kilt46 commented on #231
![image](https://cloud.githubusercontent.com/assets/14023167/21224248/d894249c-c290-11e6-81d6-5e42aac88131.png)

[2016-12-16 03:41] Tbynum94 commented on #746
Hey man, I just got a new work assignment and I can't work in the ones I have anymore. You can go ahead and take it

[2016-12-16 05:55] bavAVIA commented on #746
I will do this one right after I got an airport ready and a free spot in order not to exceed the three issues limit.
Expect me to do this one guys.

[2016-12-17 10:31] dushyants19 commented on #1282
Up for Grabs

[2016-12-17 12:30] bavAVIA commented on #1383
Sent for review.

[2016-12-17 14:43] kilt46 commented on #243
![image](https://cloud.githubusercontent.com/assets/14023167/21287603/e67c120e-c434-11e6-84fb-08f73813af66.png)

[2016-12-17 23:20] Urielmazoz commented on #1206
Just for curiosity. Did you guys have any progress with this airport?

[2016-12-18 00:12] moritzbabl commented on #529
Sent for approval

[2016-12-18 12:25] bavAVIA commented on #47
Sent in to e-mail, awaiting review.

[2016-12-18 18:04] bavAVIA opened #1396 "LOLK"
Ried-Kirchheim Airport, Austria.

One of two small austrian GA airports I had lying around on my laptop for a while now.
Airport already sent in!

[2016-12-18 18:04] bavAVIA opened #1397 "LOLS"
Schärding-Suben Airport, Austria.

One of two small austrian GA airports I had lying around on my laptop for a while now.
Airport already sent in!

[2016-12-18 18:08] ErshovlaD commented on #1206
![image](https://cloud.githubusercontent.com/assets/22447757/21295429/5ec7bfc6-c56e-11e6-948a-3735bdcfb0c8.png)
I'm focusing on Russian airports right now. that's progress

[2016-12-18 18:28] bamaflying commented on #1282
What does it means up for grabs. Sorry I haven't been able to do much I've had final exams at school but I'm going to be more active.

Sent from my iPhone

[2016-12-18 18:53] gabrielasher1018 opened #1398 "89GE-South Fulton Airport-GEORGIA-USA"
RECYCLED ♻️

[2016-12-18 21:20] moritzbabl commented on #1335
I will redo this

[2016-12-18 21:57] TristinWoolf commented on #1398
@gabrielasher1018 Are you doing this?

[2016-12-19 00:04] Aviationluver commented on #1393
Sent in for review.

[2016-12-19 08:01] dushyants19 commented on #1282
@bamaflying what are you talking about? Trae wanted to do it, but he couldn't. If you want to do, please email airports@liveflightapp.com

[2016-12-19 11:56] moritzbabl commented on #999
Should be no problem now using SAS, I will redo Vilnius

[2016-12-20 00:28] kilt46 commented on #535
![image](https://cloud.githubusercontent.com/assets/14023167/21333915/febcb158-c618-11e6-8d14-ab51ca8beff7.png)

[2016-12-20 00:54] kilt46 commented on #241
![image](https://cloud.githubusercontent.com/assets/14023167/21334380/9f0a1e5e-c61c-11e6-9903-733a3a999a4f.png)

[2016-12-20 00:55] #241 closed

[2016-12-20 10:59] rafiffakhri opened #1400 "VCBI-Bandaranaike International Airport-GAMPAHA-SRI LANKA"
♻️

Colombo

[2016-12-20 11:46] rafiffakhri commented on #1400
![eqpzryl](https://cloud.githubusercontent.com/assets/24670843/21349440/f13516a4-c6ec-11e6-97b7-5f82eec01dd1.png)

[2016-12-20 11:46] rafiffakhri commented on #1400
oh well i did on wrong app LOL

[2016-12-20 14:13] dushyants19 commented on #1400
What the hell

[2016-12-20 14:25] dushyants19 commented on #1398
@gabrielasher1018 please respond.

[2016-12-20 21:56] gabrielasher1018 commented on #1398
I am very sorry, i got confused on if this was a site where you could
request fixes. But if you can, tell me how i can fix it using a application
etc, so i can do that.

thnk

On Tue, Dec 20, 2016 at 9:25 AM, Dushyanth <notifications@github.com> wrote:

[2016-12-20 23:08] Theobsidianguy commented on #389
@IFAEpat any progress?

[2016-12-21 02:29] lalomarlin commented on #610
It was already done, ca you unassign @dushyants19 :)

[2016-12-21 04:45] Theobsidianguy opened #1401 "EGBG"
leiscester airport England

[2016-12-21 04:51] Theobsidianguy opened #1402 "YBCS"
Cairns airport Australia

[2016-12-21 05:09] TristinWoolf commented on #1401
Please create issues for airports only if you are going to work on them. Creating issues on GitHub will not make them get done any faster, unless you do them yourself.

[2016-12-21 07:41] dushyants19 commented on #1401
@Theobsidianguy dont worry. We wont do this and #1402

[2016-12-21 07:43] dushyants19 commented on #1402
😒

[2016-12-21 11:21] lachieee opened #1403 "YSNF"
Norfolk Island International Airport, Australia.
I'll do it.

[2016-12-21 15:32] Aviationluver commented on #1402
@Theobsidianguy Why don't you re-do it yourself?

[2016-12-21 23:58] kilt46 commented on #1294
Missing Outlines
Outline #1
![image](https://cloud.githubusercontent.com/assets/14023167/21410520/ffd7932a-c7a6-11e6-8bac-811a68f138a0.png)
![image](https://cloud.githubusercontent.com/assets/14023167/21410539/19a6514c-c7a7-11e6-9b52-16f05b0999e6.png)

[2016-12-21 23:59] kilt46 commented on #1294
Roadway and outlines
![image](https://cloud.githubusercontent.com/assets/14023167/21410560/2d7e30b8-c7a7-11e6-9a45-e59fbba8bf95.png)

[2016-12-22 00:02] PaulNielsen commented on #1294
Where did you get those pictures? As I hade to go after old Wedbing images, don't have SAS sorry :/

[2016-12-22 01:25] dushyants19 commented on #1294
You should've imported orthophotos then ¯\_(ツ)_/¯ 

[2016-12-22 02:28] Theobsidianguy commented on #1402
ok sorry I will start it

[2016-12-22 02:29] Theobsidianguy commented on #1401
i'll do it

[2016-12-22 04:28] TristinWoolf commented on #1398
@gabrielasher1018 Email airports@liveflightapp.com to get started.

[2016-12-22 18:28] #1352 closed

[2016-12-22 18:30] dushyants19 commented on #1402
Please accept the repo collab invite

[2016-12-22 18:35] dushyants19 commented on #924
Up for Grabs

[2016-12-22 21:24] moritzbabl commented on #1335
Already sent for approval some days ago

[2016-12-22 21:25] moritzbabl commented on #999
Sent for approval, an assignment would be nice after three days btw ^^

[2016-12-22 21:50] liamkirky commented on #245
Someone open this as im adding the taxi lines and snapping them

[2016-12-22 22:15] moritzbabl opened #1406 "EDOP"
Schwerin-Parchim, airport already completed and sent for approval

[2016-12-22 22:17] bumbewildered opened #1407 "EKAT-Anholt Airport-ARHUS-DENMARK"
♻️

[2016-12-22 22:31] moritzbabl opened #1408 "LKKV"
Karlovy Vary Airport, Czech Republic, i will redo the airport

[2016-12-22 22:39] liamkirky commented on #245
First airport sent in for review hopefully taxiline issue is gone

[2016-12-22 23:21] liamkirky opened #1409 "SBSV-Dpto L. Eduardo Magalhaes International Airport-BAHIA-BRAZIL"
♻️

[2016-12-23 04:25] IFAEpat commented on #1374
There's no RJCJ. The 'RJCJ' and RJCC files make up the full RJCC:

RJCJ
![screen shot 2016-12-22 at 11 23 45 pm](https://cloud.githubusercontent.com/assets/18223248/21447120/c9015c9e-c89d-11e6-90fd-372f1ebce0e1.png)
Plus...
RJCC
![screen shot 2016-12-22 at 11 24 28 pm](https://cloud.githubusercontent.com/assets/18223248/21447123/d8ec6842-c89d-11e6-9863-ad5a57c060c5.png)
...equals...
Actual RJCC
![

[2016-12-23 04:27] IFAEpat commented on #1374
One has the ATC and half the taxiways and the other has no ATC and the other half of the taxiways.

[2016-12-23 12:01] liamkirky commented on #1221
I'll be doing this one just a quick one

[2016-12-23 12:11] GentlePig500 opened #1412 "RPMZ-Zamboanga Airport-ZAMBOANGA DEL SUR-PHILIPPINES"
Edit taxiways, terminal and more.

[2016-12-23 12:12] superven13 opened #1413 "RPLC"
Edit taxiways and all other issues.

[2016-12-23 12:41] dushyants19 commented on #1412
You want us to do this. OK. Why won't you ask nicely? This is like commanding us.

[2016-12-23 12:42] dushyants19 commented on #245
No need to, there aren't taxilines there IRL

[2016-12-23 15:08] kilt46 commented on #1303
![image](https://cloud.githubusercontent.com/assets/14023167/21456654/64a2928e-c8ef-11e6-8cc4-2b877614d8fc.png)

[2016-12-23 15:49] dushyants19 commented on #1413
@GentlePig500 you want to do this?

[2016-12-23 16:26] GentlePig500 commented on #1413
dushyants19, Yes I want to.

[2016-12-23 16:27] GentlePig500 commented on #1412
I will edit taxiways, terminal and other issues in the airport.

[2016-12-23 16:28] dushyants19 commented on #1412
great! make sure you snap them

[2016-12-23 16:28] GentlePig500 commented on #1412
Okay

[2016-12-23 18:57] Will171 opened #1414 "EGHC Lands End Airport UK"
Updating runways to asphalt and a full redo.

[2016-12-23 19:13] Will171 commented on #1414
Sent for review
![screenshot_22](https://cloud.githubusercontent.com/assets/16463484/21460788/e308b4f6-c943-11e6-9bc6-7c361936aea4.png)

[2016-12-23 21:43] CptNathanHope commented on #609
Sent it for review! :)

[2016-12-23 21:55] brunocr98 opened #1415 "SACO-Cordoba Airport-CORDOBA-ARGENTINA"
Doing this airport. Ambrosio Taravella Airport.

[2016-12-23 21:55] brunocr98 opened #1416 "SAAR-Rosario Airport-SANTA FE-ARGENTINA"
Doing this airport. Islas Malvinas Airport.

[2016-12-23 21:56] brunocr98 opened #1417 "SLVR-Viru Viru International Airport-SANTA CRUZ-BOLIVIA"
Doing this airport. Viru Viru Airport.

[2016-12-23 21:56] ghost opened #1418 "SBCF-Belo Horizonte/Tancredo Neves Airport-MINAS GERAIS-BRAZIL"
Doing this airport. Tancredo Neves Airport.

[2016-12-23 21:59] ghost opened #1419 "SBBR-Brasilia/Pres.Juscelino Kubits Airport-DISTRITO FEDERAL-BRAZIL"
Doing this airport. Juscelino Kubitschek Airport.

[2016-12-23 22:02] Theobsidianguy opened #1420 "KOGA-Searle Field Airport-NEBRASKA-USA"
RECYCLED ♻️

[2016-12-23 22:03] brunocr98 opened #1421 "SBPA-Porto Alegre/Salgado Filho Airport-RIO GRANDE DO SUL-BRAZIL"
Doing this airport. Salgado Filho Airport.

[2016-12-23 22:04] brunocr98 opened #1422 "SBRF-Recife/Guararapes Airport-PERNAMBUCO-BRAZIL"
Doing this airport. Guararapes-Gilberto Freyre Airport.

[2016-12-23 22:05] brunocr98 opened #1423 "SKBQ-Barranquilla Airport-ATLANTICO-COLOMBIA"
Doing this airport. Ernesto Cortissoz Airport.

[2016-12-23 22:06] brunocr98 opened #1424 "SKBO-El Dorado Airport-CUNDINAMARCA-COLOMBIA"
Doing this airport. El Dorado Airport.

[2016-12-23 22:06] ghost opened #1425 "SKBG-Bucaramanga Airport-SANTANDER-COLOMBIA"
Doing this airport. Palonegro Airport.

[2016-12-23 22:07] brunocr98 opened #1426 "SKCL-Cali Airport-VALLE DEL CAUCA-COLOMBIA"
Doing this airport. Alfonso B. Aragón Airport.

[2016-12-23 22:07] brunocr98 opened #1427 "SKCC"
Doing this airport. Camilo Daza Airport.

[2016-12-23 22:08] brunocr98 opened #1428 "SKRG-Jose Maria Cordova Airport-ANTIOQUIA-COLOMBIA"
Doing this airport. José M. Córdova Airport.

[2016-12-23 22:11] brunocr98 opened #1429 "SKPE-Pereira Airport-RISARALDA-COLOMBIA"
Doing this airport. Matecaña Airport.

[2016-12-23 22:11] brunocr98 opened #1430 "SKSP-Gustavo Rojas Pinilla Airport-SAN ANDRES Y PROVIDENCIA-COLOMBIA"
Doing this airport. Gustavo R. Pinilla Airport.

[2016-12-23 22:12] brunocr98 opened #1431 "SEGU-Guayaquil/Jose J. De Olmedo Airport-GUAYAS-ECUADOR"
Doing this airport. José J. de Olmedo Airport.

[2016-12-23 22:12] brunocr98 opened #1432 "SYCJ-Cheddi Jagan International Airport-EAST BERBICE-CORENTYNE-GUYANA"
Doing this airport. Cheddi Jagan Airport.

[2016-12-23 22:13] brunocr98 opened #1433 "SGAS-Luque/Silvio Pettirossi Airport-CENTRAL-PARAGUAY"
Doing this airport. Silvio Pettirosi Airport.

[2016-12-23 22:13] brunocr98 opened #1434 "SPHI-Chiclayo-J A Gonzales Airport-LAMBAYEQUE-PERU"
Doing this airport. José A. Quiñones Airport.

[2016-12-23 22:14] brunocr98 opened #1435 "SUMU-Montevideo/Carrasco L Berisso Airport-CANELONES-URUGUAY"
Doing this airport. Cesáreo L. Berisso Airport.

[2016-12-23 22:14] brunocr98 opened #1436 "SVMC-Maracaibo/International La Chinita Airport-ZULIA-VENEZUELA"
Doing this airport. La Chinita Airport.

[2016-12-23 22:15] brunocr98 opened #1437 "SVVA-Valencia Airport-CARABOBO-VENEZUELA"
Doing this airport. Arturo Michelena Airport.

[2016-12-23 22:15] brunocr98 opened #1438 "KTUS"
Doing this airport. Tucson Airport.

[2016-12-23 22:25] Theobsidianguy commented on #1402
@dushyants19 done that

[2016-12-23 22:29] Theobsidianguy commented on #1438
@brunocr98  are you seriously doing all of these? #1415 #1416 #1417 #1418 #1419 #1421 #1422 #1423 #1424 #1425 #1426 #1427 #1428 #1429 #1430 #1431 #1432 #1433 #1434 #1435 #1436 #1437

[2016-12-23 22:31] bavAVIA commented on #1438
You don't know Bruno. Yes. Yes he will.

[2016-12-23 22:37] brunocr98 commented on #1438
@Theobsidianguy, yes I'll do them all.

[2016-12-23 23:38] DarlanFernandes opened #1439 "KRKS"
RECYCLED ♻️

[2016-12-23 23:41] DarlanFernandes opened #1440 "HBBA"

[2016-12-23 23:50] DarlanFernandes opened #1441 "EPRZ"

[2016-12-23 23:52] DarlanFernandes opened #1442 "LKMT"

[2016-12-23 23:59] moritzbabl commented on #1408
Sent for approval

[2016-12-24 00:11] justypic29 opened #1443 "EKKL-Kalundborg Airport-VESTSJAELLAND-DENMARK"
♻️

[2016-12-24 09:52] #1414 closed

[2016-12-24 09:52] #47 closed

[2016-12-24 09:52] #1335 closed

[2016-12-24 09:52] #1397 closed

[2016-12-24 11:24] kilt46 commented on #1397
![image](https://cloud.githubusercontent.com/assets/14023167/21466709/49baeed0-c999-11e6-96ae-827464fe282b.png)

[2016-12-24 11:27] kilt46 commented on #1352
![image](https://cloud.githubusercontent.com/assets/14023167/21466718/9e305720-c999-11e6-9901-654c355be824.png)

[2016-12-24 13:04] kilt46 commented on #1335
![image](https://cloud.githubusercontent.com/assets/14023167/21467092/48103ad2-c9a7-11e6-8f50-3dd68414adb6.png)

[2016-12-24 13:30] kilt46 commented on #47
![image](https://cloud.githubusercontent.com/assets/14023167/21467190/d3abaf56-c9aa-11e6-94e9-33ad3e727581.png)

[2016-12-24 15:23] kilt46 commented on #1414
![image](https://cloud.githubusercontent.com/assets/14023167/21467625/9423ca3e-c9ba-11e6-98cc-a870bfc7b389.png)

[2016-12-24 18:38] justypic29 opened #1444 "CYHM-John C. Munro Hamilton Airport-ONTARIO-CANADA"
I will do it

[2016-12-24 20:04] kilt46 commented on #581
![image](https://cloud.githubusercontent.com/assets/14023167/21468628/dfb70c64-c9e1-11e6-9b1c-42573511683f.png)

[2016-12-24 20:10] kilt46 commented on #581
Redone from scratch

[2016-12-24 20:10] #581 closed

[2016-12-24 20:18] lalomarlin opened #1445 "MMSM-Santa Lucia Air Force Base-ESTADO DE MEXICO-MEXICO"
Santa Lucia Afb

[2016-12-24 20:21] lalomarlin opened #1446 "MMML-Mexicali Airport-BAJA CALIFORNIA NORTE-MEXICO"
Mexicali Airport

[2016-12-25 05:42] dushyants19 commented on #1445
do you want to do it?

[2016-12-25 05:43] dushyants19 commented on #401
Hows the progress? @tacobell1015

[2016-12-25 05:44] dushyants19 commented on #536
@IceBlue02 are you doing this

[2016-12-25 05:44] dushyants19 commented on #547
Up for Grabs

cc: @kilt46

[2016-12-25 11:37] moritzbabl commented on #536
I would do it, if not

[2016-12-25 13:16] NYAviation opened #1447 "EGEW-Westray Airport-SCOTLAND-UNITED KINGDOM"
Westray Airport, located in Scotland, flies daily flights to Papa Westray Airport. These flights are the shortest flights in the world.

[2016-12-25 13:17] NYAviation opened #1448 "EGEP-Papa Westray Airport-SCOTLAND-UNITED KINGDOM"
Papa Westray Airport, located in Scotland, flies daily flights to Westray Airport. These flights are the shortest scheduled flights in the world.

[2016-12-25 13:53] dushyants19 commented on #1448
Give some description, thanks.

[2016-12-25 13:53] dushyants19 commented on #1447
Please give some description

[2016-12-25 14:35] NYAviation commented on #1448
I can not do this one, up for grabs

[2016-12-25 14:36] NYAviation commented on #1447
I can not do this one, does anyone want to do it?

[2016-12-25 14:56] bavAVIA commented on #1448
Why can't you do it? You can open issues, why can't you do them then?

[2016-12-25 15:03] NYAviation commented on #1448
I can't do any right now because of the holidays and I'll be busy for most of january

[2016-12-25 15:05] bavAVIA commented on #1448
Awesome, you can do it afterwards then.

[2016-12-25 15:51] kilt46 commented on #1448
Scotland - Land of my birth

[2016-12-25 16:48] Aviationluver commented on #551
Sent in for review.

[2016-12-25 19:35] lalomarlin commented on #1445
Yes, both

[2016-12-25 19:51] ErshovlaD commented on #1372
Done, check email

[2016-12-25 20:14] kilt46 commented on #1448
![image](https://cloud.githubusercontent.com/assets/14023167/21472732/7aad52bc-caac-11e6-9a94-d4ade9f59d6b.png)

[2016-12-25 20:18] #1448 closed

[2016-12-25 22:00] lalomarlin commented on #1446
Redoing it

[2016-12-26 07:04] dushyants19 commented on #1372
We know you finished it

[2016-12-26 07:05] #1306 closed

[2016-12-26 07:05] 4riw opened #1449 "WALL"
working on WALL (Balikpapan Sepinggan, East Borneo, Indonesia)

[2016-12-26 07:05] #1406 closed

[2016-12-26 07:05] #1393 closed

[2016-12-26 07:06] #1408 closed

[2016-12-26 07:06] #529 closed

[2016-12-26 07:06] #1383 closed

[2016-12-26 07:08] dushyants19 commented on #1449
There are 2 more Indonesian airports too, #600 and #610. Would you like to do them? @4riw

[2016-12-26 08:07] Aviationluver commented on #1392
I'm taking this one.

[2016-12-26 08:32] dushyants19 commented on #400
took a while but done

![image](https://cloud.githubusercontent.com/assets/13567007/21478696/d63f8eac-cb73-11e6-8ac3-feb49db08e67.png)

i feel proud, largest ive ever done

[2016-12-26 09:51] Aviationluver commented on #1373
I'll take this one as well. @AsianaIFVA In future, please do not create issues unless you are prepared to re-do the airport.

[2016-12-26 10:54] dushyants19 commented on #454
@PilotCat hows this going?

[2016-12-26 11:26] dushyants19 commented on #227
Poor markings on Gmaps

[2016-12-26 11:30] kilt46 commented on #400
![image](https://cloud.githubusercontent.com/assets/14023167/21481363/5e9ee0ce-cb2c-11e6-8202-23a19efc8335.png)

[2016-12-26 11:47] kilt46 commented on #1372
![image](https://cloud.githubusercontent.com/assets/14023167/21481569/cc1ebafa-cb2e-11e6-9248-623cb17b910a.png)

[2016-12-26 12:02] kilt46 commented on #1383
![image](https://cloud.githubusercontent.com/assets/14023167/21481753/f1cda9a8-cb30-11e6-8a41-318c6d9e1203.png)

[2016-12-26 12:38] kilt46 commented on #999
![image](https://cloud.githubusercontent.com/assets/14023167/21482158/ef6f5490-cb35-11e6-95a5-d7c176d37e32.png)

[2016-12-26 12:46] kilt46 commented on #1395
![image](https://cloud.githubusercontent.com/assets/14023167/21482254/fa0c34da-cb36-11e6-948c-edfeb70b7d69.png)

[2016-12-26 13:01] #1003 closed

[2016-12-26 13:01] #1447 closed

[2016-12-26 13:15] kilt46 commented on #529
![image](https://cloud.githubusercontent.com/assets/14023167/21482550/0ad9e54c-cb3b-11e6-8214-e367afeb7fa2.png)

[2016-12-26 13:43] moritzbabl commented on #790
I will do the airport

[2016-12-26 15:58] dushyants19 commented on #1051
@Adrien-Z hows this going? 😡

[2016-12-26 16:02] dushyants19 commented on #1275
Any progress? @KarlLuebs

[2016-12-26 16:02] dushyants19 commented on #1223
Any Progress? @unitedfc

[2016-12-26 16:02] dushyants19 commented on #1210
@Epadilla1 any progress?

[2016-12-26 16:02] dushyants19 commented on #1208
@ryangreene15 any progress?

[2016-12-26 16:03] dushyants19 commented on #1184
@chrislunde any progress?

[2016-12-26 16:03] dushyants19 commented on #1153
@turkish1941 hows this goin

[2016-12-26 16:04] dushyants19 commented on #1073
@KarlLuebs any progress?

[2016-12-26 16:04] dushyants19 commented on #1047
@chrislunde any progress?

[2016-12-26 16:04] dushyants19 commented on #1002
@danielshaw any progress?

[2016-12-26 16:04] dushyants19 commented on #990
@RiKowalSkipper any progress?

[2016-12-26 16:05] dushyants19 commented on #989
@turkish1941 are you done with this?

[2016-12-26 16:06] dushyants19 commented on #623
@Jacob-IF any progress

[2016-12-26 16:06] dushyants19 commented on #737
@henrikbg hows this going? and #731

[2016-12-26 16:08] dushyants19 commented on #1317
@scandinaviangroup hows the progress?

[2016-12-26 16:08] dushyants19 commented on #1296
@matsedvin any progress?

[2016-12-26 16:08] dushyants19 commented on #1115
Up for Grabs

[2016-12-26 16:09] dushyants19 commented on #1059
@Theyoshifan200 any progress?

[2016-12-26 16:09] moritzbabl commented on #623
If there's still no progress I will do it

[2016-12-26 16:09] dushyants19 commented on #1027
Up for Grabs

[2016-12-26 16:09] dushyants19 commented on #1018
Up for Grabs

[2016-12-26 16:10] dushyants19 commented on #623
Assigned to @moritzbabl

[2016-12-26 16:11] dushyants19 commented on #511
Up for Grabs

[2016-12-26 16:11] dushyants19 commented on #531
@matsedvin hows the progress?

[2016-12-26 16:12] dushyants19 commented on #555
@RileyDunshea hows the progress?

[2016-12-26 16:15] dushyants19 commented on #1187
@ErshovlaD interested?

[2016-12-26 17:01] danielshaw commented on #1002
@dushyants19 I asked to get this airport closed several months ago. There was an alignment issue with Wedbing and WED. No one was able to help me fix it.

[2016-12-26 17:31] TristinWoolf commented on #1002
If the imagery is not aligning properly with the X-Plane airport file, then that just usually means that the X-Plane file was a bit out of place. No matter what, the WEDBing imagery should be in the proper place, so just adjust everything in the airport over to the proper place.

[2016-12-26 18:06] dushyants19 commented on #1002
So after Tristin's explanation, would you like to continue? :)

[2016-12-26 21:42] danielshaw commented on #1002
@TristinWoolf I know how to align WED with the layover image. I should've clarified. The main issue came when I was setting the runway length. I input the correct length however the runway on the satellite image was longer.

[2016-12-26 21:45] TristinWoolf commented on #1002
How much longer than the runway is the imagery? If it's a few feet than it doesn't really matter. You can't let that minute issue stop you from editing the airport. ;)

[2016-12-26 22:08] IceBlue02 commented on #536
Slow and steady wins the race...

This should be done in the next week or so

[2016-12-27 00:47] RileyDunshea commented on #555
Pretty good. Have to redo a area because of outdated scenery. Then it will just be some parking and road ways.

[2016-12-27 01:24] Epadilla1 commented on #1210
Still working on it, sry, I work at a slow pace

[2016-12-27 02:53] kilt46 commented on #588
![image](https://cloud.githubusercontent.com/assets/14023167/21489207/5cc007e8-cbad-11e6-82c2-a6d64c76805b.png)

[2016-12-27 03:38] CptNathanHope commented on #1036
Sent it for review. :)

[2016-12-27 04:55] lalomarlin opened #1450 "MMAA-Acapulco Airport-GUERRERO-MEXICO"
Being Redone

[2016-12-27 04:56] lalomarlin opened #1451 "MMHO-Hermosillo Airport-SONORA-MEXICO"
Being Redone

[2016-12-27 06:41] #1036 closed

[2016-12-27 06:41] #1396 closed

[2016-12-27 06:41] #1244 closed

[2016-12-27 07:54] 4riw commented on #1449
@dushyants19 sure, u can assign me to both #600 & #610. Thanks for the info, i didnt know they're existed =D

[2016-12-27 10:12] bavAVIA commented on #1262
Sent for review. 😅

[2016-12-27 10:21] bavAVIA opened #1452 "DABT"
Batna - Mostepha Ben Boulaid Airport, Algeria.
Being redone.

[2016-12-27 11:45] kilt46 commented on #695
![image](https://cloud.githubusercontent.com/assets/14023167/21499021/b9bc59c0-cbf7-11e6-895d-446884fe3b61.png)

[2016-12-27 12:04] bavAVIA commented on #1452
Sent for review.

[2016-12-27 12:27] kilt46 commented on #609
![image](https://cloud.githubusercontent.com/assets/14023167/21499665/7febe70a-cbfd-11e6-96d2-1c43df40ba78.png)

[2016-12-27 12:54] kilt46 commented on #1036
![image](https://cloud.githubusercontent.com/assets/14023167/21500123/49418f3a-cc01-11e6-85bd-0967c1391871.png)

[2016-12-27 13:13] kilt46 commented on #668
![image](https://cloud.githubusercontent.com/assets/14023167/21500374/02fd2de2-cc04-11e6-9fad-d2cd2aae6276.png)

[2016-12-27 13:52] kilt46 commented on #1244
![image](https://cloud.githubusercontent.com/assets/14023167/21500937/5ab6de8e-cc09-11e6-8258-d7270c815dc6.png)

[2016-12-27 13:59] kilt46 commented on #1396
![image](https://cloud.githubusercontent.com/assets/14023167/21501082/73ec8394-cc0a-11e6-8ef9-88b325c03b6a.png)

[2016-12-27 14:02] kilt46 commented on #1003
![image](https://cloud.githubusercontent.com/assets/14023167/21501131/d0ecc770-cc0a-11e6-9138-4ca0bd213dfe.png)

[2016-12-27 14:20] kilt46 commented on #1408
![image](https://cloud.githubusercontent.com/assets/14023167/21501418/5e78de74-cc0d-11e6-844e-c2252d170e79.png)

[2016-12-27 14:27] kilt46 commented on #1393
![image](https://cloud.githubusercontent.com/assets/14023167/21501530/4ec4d9a0-cc0e-11e6-9161-8a7179aeed55.png)

[2016-12-27 14:29] dushyants19 commented on #1452
how do you even find these airports? did you find them while you were lost in the Sahara?

[2016-12-27 14:39] kilt46 commented on #1406
![image](https://cloud.githubusercontent.com/assets/14023167/21501729/f766ba64-cc0f-11e6-8d2d-5a7e19308378.png)

[2016-12-27 14:40] bavAVIA commented on #1452
I want to get some airports in Africa done, so I just hover over Africa on Google Maps...
Then I find these. Yeah...

[2016-12-27 14:51] kilt46 commented on #1306
![image](https://cloud.githubusercontent.com/assets/14023167/21501930/b760f55e-cc11-11e6-8d58-be6bc6798036.png)

[2016-12-27 16:23] kilt46 commented on #210
![image](https://cloud.githubusercontent.com/assets/14023167/21503627/8da9235a-cc1e-11e6-8c7e-fdd2b628ecb3.png)

[2016-12-27 16:25] #210 closed

[2016-12-27 16:42] ErshovlaD opened #1453 "UMGG"
Being redone

[2016-12-27 18:00] lalomarlin commented on #1452
Haha, nice choice :)

[2016-12-27 18:03] lalomarlin opened #1454 "MMSD-San Jose Del Cabo Airport-BAJA CALIFORNIA SUR-MEXICO"
Being Redone

[2016-12-27 20:41] tacobell1015 commented on #401
Honestly I haven't done much. Ive been so busy with school I have been finding it hard to find time to do it. If someone else wants to take over as HKG is a big priority for global someone else should do it. I still haven't been able to find a taxiway layout that includes the new terminal for Hong Kong Airlines. The airport itself without the new terminal is done but It needs the new terminal. Sor

[2016-12-28 00:56] dushyants19 commented on #401
@tacobell1015 have you tried using SAS.planet? If you can't do it let us know. Kilt46 is into getting these A380s done

[2016-12-28 01:41] Urielmazoz commented on #1206
Thanks for answering. It looks good. Hope you return working on it, I can't wait to see it done :)

[2016-12-28 06:27] dushyants19 commented on #379
@Adam167 hows this going?

[2016-12-28 11:21] bavAVIA commented on #385
@DavidCutler
Did you mix this up with Funchal, Madeira?
That would be LPMA, IATA FNC. KFNC does not exist and LPMA is already being done.
See #597

[2016-12-28 11:22] bavAVIA commented on #597
What's the progress? I'd be happy to take over if this isn't nearing completion in near future.

[2016-12-28 11:37] JcFl4 commented on #597
½ way done.

[2016-12-28 15:05] ErshovlaD commented on #547
Okay, I can make this :)

[2016-12-28 15:22] PaulNielsen commented on #1294
Fixed

[2016-12-28 15:22] #1294 closed

[2016-12-29 04:13] sentikum commented on #550
Sent for review.

[2016-12-29 12:49] Aviationluver commented on #1392
Sent in for review.

[2016-12-29 12:54] lolo31r opened #1455 "LERS-Reus Airport-CATALUÑA-SPAIN"
I´ll be redoing it

[2016-12-29 15:37] kilt46 commented on #1294
![image](https://cloud.githubusercontent.com/assets/14023167/21547247/6f5b1894-cdaa-11e6-88ef-5940d25c1911.png)

[2016-12-29 23:29] moritzbabl commented on #623
Sent for approval

[2016-12-29 23:29] moritzbabl commented on #790
already sent for approval

[2016-12-29 23:47] moritzbabl commented on #664
I will edit this one

[2016-12-29 23:50] moritzbabl opened #1456 "EDSB"
Karlsruhe Baden-Baden Airport/ Baden Airpark

I will do it

[2016-12-30 00:40] tranquil-skyflyer opened #1457 "CYQY"
I'll do this one (actually).

[2016-12-30 03:42] #1027 closed

[2016-12-30 03:43] #1446 closed

[2016-12-30 03:43] #301 closed

[2016-12-30 03:43] #1403 closed

[2016-12-30 04:01] IFAEpat commented on #389
@Theobsidianguy it's nearly completed, don't worry :)

[2016-12-30 04:03] dushyants19 commented on #552
Up for Grabs

[2016-12-30 11:48] dushyants19 commented on #1051
Up for Grabs

[2016-12-30 13:50] kilt46 commented on #590
![image](https://cloud.githubusercontent.com/assets/14023167/21566036/962bc918-ce64-11e6-93ed-74060b5c4e0c.png)

[2016-12-30 16:01] kilt46 commented on #1403
![image](https://cloud.githubusercontent.com/assets/14023167/21568080/fc06a106-ce76-11e6-8ab7-226b3022b765.png)

[2016-12-30 16:12] kilt46 commented on #301
![image](https://cloud.githubusercontent.com/assets/14023167/21568228/79a206f4-ce78-11e6-8190-ea58820c9295.png)

[2016-12-30 16:22] kilt46 commented on #1446
![image](https://cloud.githubusercontent.com/assets/14023167/21568400/e0b60a92-ce79-11e6-89c3-d798829dfed0.png)

[2016-12-30 19:13] anonymous123567 opened #1458 "KDPG-Michael AAF (Dougway Proving Grounds)-UTAH-USA"
Please edit me

♻️

[2016-12-30 19:33] IFAEpat commented on #1458
@anonymous123567 this has been done #330

[2016-12-30 23:25] KarlLuebs commented on #1275
Hi Dush.

First I am concentrating on getting KBIS finished. After I will finish the work on this one. If someone is very keen on doing ENTC, feel free to give it to them. Otherwise I'm getting there slowly but surly.

Happy new year!

Sent from my iPad

[2016-12-30 23:26] KarlLuebs commented on #1073
KBIS will be ready soon. Again: slowly but surely.

Sent from my iPad

[2016-12-31 03:54] lachieee commented on #90
Can I be assigned to NZWN?

[2016-12-31 08:09] #1453 closed

[2016-12-31 08:09] #1452 closed

[2016-12-31 10:34] bavAVIA opened #1459 "LFKC"
Calvi - St. Catherine Airport, Corsica, France.
Being redone.

[2016-12-31 12:00] kilt46 commented on #1452
![image](https://cloud.githubusercontent.com/assets/14023167/21577393/632bcf6c-cf1e-11e6-8eeb-5f5a723c13d4.png)

[2016-12-31 12:00] kilt46 commented on #1452
Satellite showed white outlines!! I have added!

[2016-12-31 13:13] kilt46 commented on #1415
![image](https://cloud.githubusercontent.com/assets/14023167/21577662/8ebc32e8-cf28-11e6-9b14-5031bf8742fb.png)

[2016-12-31 13:28] kilt46 commented on #1453
![image](https://cloud.githubusercontent.com/assets/14023167/21577723/b3313b26-cf2a-11e6-8690-38f5212fe2af.png)

[2016-12-31 13:50] kilt46 commented on #1418
![image](https://cloud.githubusercontent.com/assets/14023167/21577800/cce374b4-cf2d-11e6-8814-5a141358d394.png)
DOES NOT FIT SATELLITE IMAGE
RUNWAY LENGTH is 3000 m

[2016-12-31 13:55] kilt46 commented on #790
![image](https://cloud.githubusercontent.com/assets/14023167/21577825/7d93ffae-cf2e-11e6-8e92-cd7de56eccd1.png)

[2016-12-31 14:14] kilt46 commented on #550
![image](https://cloud.githubusercontent.com/assets/14023167/21577881/23e4d48a-cf31-11e6-95ec-becf92e37647.png)

[2016-12-31 16:29] kilt46 commented on #623
![image](https://cloud.githubusercontent.com/assets/14023167/21578398/1385dcd4-cf44-11e6-95ad-8b1cb4c04ff2.png)

[2016-12-31 16:36] kilt46 commented on #1027
![image](https://cloud.githubusercontent.com/assets/14023167/21578433/f086d12e-cf44-11e6-9fbb-cdbfef49db6e.png)

[2016-12-31 16:44] kilt46 commented on #551
![image](https://cloud.githubusercontent.com/assets/14023167/21578458/0b3fcec0-cf46-11e6-9608-199c43fbf242.png)

[2016-12-31 17:36] bavAVIA commented on #746
Sent for review.

[2017-01-01 07:23] #1262 closed

[2017-01-01 11:28] bavAVIA opened #1460 "ENSR"
Sørkjosen Airport, Norway
Doing a couple of small ones to kick off the new year.

[2017-01-01 12:10] bavAVIA commented on #1460
Sent for review.

[2017-01-01 16:12] liamkirky commented on #1080
Starting to edit it again.

[2017-01-01 16:14] #1445 closed

[2017-01-01 16:14] #746 closed

[2017-01-01 17:01] bavAVIA commented on #1261
Taking over, please assign.

[2017-01-02 01:09] Aviationluver commented on #1373
Sent in for review.

[2017-01-02 01:30] tranquil-skyflyer commented on #1457
Submitted for review.

[2017-01-02 02:18] BrandonKreuter opened #1461 "KICR-Winner Regional Airport-SOUTH DAKOTA-USA"
Please edit me

♻️

[2017-01-02 11:48] Aviationluver opened #1462 "EVRA-Riga Airport-RIGA-LATVIA"
Riga Int'l airport. I will be re-doing this one.

Runway is longer than 10k feet.

[2017-01-02 11:57] kilt46 commented on #746
![image](https://cloud.githubusercontent.com/assets/14023167/21588837/4aade176-d0b0-11e6-97d9-f16f9521991d.png)

[2017-01-02 12:18] kilt46 commented on #1445
![image](https://cloud.githubusercontent.com/assets/14023167/21589048/37a12be4-d0b3-11e6-8c6a-64c8c5e6cc02.png)

[2017-01-02 12:30] kilt46 commented on #1262
![image](https://cloud.githubusercontent.com/assets/14023167/21589189/e988f5a2-d0b4-11e6-85f5-ecdd88b904a9.png)

[2017-01-02 12:31] NYAviation opened #1463 "KOKS-Garden County Airport-NEBRASKA-USA"
RECYCLED ♻️

[2017-01-02 12:34] dushyants19 commented on #1463
What are you trying to do? Please dont create unnecessary issues.

[2017-01-02 12:38] kilt46 commented on #1418
![image](https://cloud.githubusercontent.com/assets/14023167/21589310/20afb9a2-d0b6-11e6-9fbd-217c24484613.png)

[2017-01-02 12:51] kilt46 commented on #1416
![image](https://cloud.githubusercontent.com/assets/14023167/21589484/e3464ea8-d0b7-11e6-8470-544e0a5580a1.png)

[2017-01-02 13:11] #1392 closed

[2017-01-02 13:11] kilt46 commented on #1417
![image](https://cloud.githubusercontent.com/assets/14023167/21589755/a60fb22e-d0ba-11e6-8a0a-1829eb801b8d.png)

[2017-01-02 13:11] #1460 closed

[2017-01-02 13:14] PaulNielsen opened #1464 "FMNN-Nosy-Be Fascene Airport-ANTSIRANANA-MADAGASCAR"

[2017-01-02 13:17] PaulNielsen commented on #1464
Done, sorry if the ramp positions are not 100% correct, I found no ground charts, and the lines on the ground were quite messy, so I hade to go after just looking at some pictures & videos and common sense. :)

[2017-01-02 13:26] dushyants19 commented on #1463
Done. Please dont request anything again, kid.

[2017-01-02 13:36] kilt46 commented on #1464
![image](https://cloud.githubusercontent.com/assets/14023167/21590085/323aae7c-d0be-11e6-9d87-d1f3a46c6d88.png)

[2017-01-02 13:41] kilt46 commented on #1464
Wrong runway size. Also gates included
![image](https://cloud.githubusercontent.com/assets/14023167/21590165/d24c3264-d0be-11e6-8bd6-b92fe955840f.png)

[2017-01-02 13:45] ghost opened #1465 "HTKJ-Kilimanjaro Airport-KILIMANJARO-TANZANIA"
Kilimajaro International Airport, Tanzania being redone.
Priority II Airport.

[2017-01-02 13:51] kilt46 commented on #1460
![image](https://cloud.githubusercontent.com/assets/14023167/21590305/507488f2-d0c0-11e6-8208-c883b7fda0e3.png)

[2017-01-02 14:08] kilt46 commented on #1392
![image](https://cloud.githubusercontent.com/assets/14023167/21590555/97b8c014-d0c2-11e6-9b5c-f9b8eaec46ef.png)

[2017-01-02 14:16] kilt46 commented on #1423
![image](https://cloud.githubusercontent.com/assets/14023167/21590707/c26b3fde-d0c3-11e6-8bbf-2016a3515973.png)

[2017-01-02 14:26] kilt46 commented on #1422
![image](https://cloud.githubusercontent.com/assets/14023167/21590897/264b4a70-d0c5-11e6-96e7-292c277d67b0.png)

[2017-01-02 16:53] kilt46 commented on #894
![image](https://cloud.githubusercontent.com/assets/14023167/21593156/c047bdac-d0d9-11e6-837b-7419c73b78aa.png)

[2017-01-02 16:58] kilt46 opened #1466 "KBAZ-New Braunfels Regional Airport-TEXAS-USA"

[2017-01-02 17:21] BrandonKreuter commented on #1463
Please don't call me a kid again.  K? Thanks
Sent from my iPhone

[2017-01-02 17:48] dushyants19 commented on #1463
I told NYAviation, not you. Moreover I replied already that it's added yet you request it, a random field in the middle of nowhere. Just for the sake of looking it on a TV show.

[2017-01-02 19:45] kilt46 opened #1467 "XWMB-Kaliningrad Airbase-KALININGRAD OBLAST-RUSSIA"

[2017-01-03 02:03] Theobsidianguy commented on #389
cool. ;)

[2017-01-03 02:06] Theobsidianguy commented on #1463
@NYAviation please search before creating issues. and don't create issues that you aren't going to do.
@dushyants19 I know what you're thinking, I've learnt my lesson

[2017-01-03 03:30] BrandonKreuter commented on #1463
Oh okay sorry @dushyants19.  Sorry again!  Keep up the good work

[2017-01-03 08:16] ebukarthur opened #1468 "DNMM-Murtala Muhammed International-LAGOS-NIGERIA"
sorry for creating the issue but I can not re-do the airport so sorry for the inconvenience but I woild really love to see the airport

[2017-01-03 09:49] Adam167 commented on #1468
Are you going to be re doing this one? If you aren't going to do it please don't make issues
If so are you in the slack team?

[2017-01-03 16:30] Adam167 commented on #1131
Finally got round to this. 2 runways one is 11k feet

[2017-01-03 18:57] liamkirky opened #1469 "BIGR-Grímsey Airport-HALSHREPPUR-ICELAND"

[2017-01-03 19:35] liamkirky commented on #1469
![bigr](https://cloud.githubusercontent.com/assets/19878689/21620345/be616638-d1eb-11e6-8c70-29b40e9337fd.PNG)

[2017-01-03 19:35] liamkirky commented on #1469
Sent in for a review

[2017-01-03 19:38] liamkirky opened #1470 "BIHU"

[2017-01-03 19:39] PaulNielsen commented on #1469
There is no need to close the issue, @liamkirky

[2017-01-04 03:11] kilt46 commented on #16
![image](https://cloud.githubusercontent.com/assets/14023167/21630693/3dc939d4-d1f9-11e6-960b-ffc313156d52.png)

[2017-01-04 09:20] tsarkov90 opened #1471 "UAUU-Kostanay Airport-QOSTANAY-KAZAKHSTAN"

[2017-01-04 12:01] #1459 closed

[2017-01-04 12:01] dushyants19 commented on #1471
Please give a description

[2017-01-04 12:27] bavAVIA opened #1472 "LJMB-Maribor/Orehova Vas Airport-PODRAVSKA-SLOVENIA"
Maribor - Edvard Rusjan Airport, Slovenia.
Redoing.

[2017-01-04 21:31] ErshovlaD commented on #547
Send for review..

[2017-01-05 03:34] kilt46 commented on #1459
![image](https://cloud.githubusercontent.com/assets/14023167/21668253/9e9ea1c8-d2c5-11e6-924e-94df3c699f3a.png)

[2017-01-05 21:49] lolo31r opened #1473 "SASA-Salta Airport-SALTA-ARGENTINA"
RECYCLED ♻️ (TWICE)

[2017-01-05 21:51] lolo31r commented on #1473
duplicate sorry

[2017-01-06 00:46] dushyants19 commented on #1473
C'mon Lorenzo...

[2017-01-06 03:25] kilt46 commented on #1466
![image](https://cloud.githubusercontent.com/assets/14023167/21706529/720c7400-d38d-11e6-9852-0356672255c8.png)

[2017-01-06 03:44] kilt46 commented on #1137
![image](https://cloud.githubusercontent.com/assets/14023167/21706920/2af1fc7c-d390-11e6-8dfb-38c53d3dcfc8.png)

[2017-01-06 09:54] lolo31r commented on #1473
Wait....why did you reopen this issue?

[2017-01-06 10:01] lolo31r commented on #1473
Oh i see

[2017-01-06 11:12] kilt46 opened #1474 "YBWW-Brisbane West Wellcamp Airport-QUEENSLAND-AUSTRALIA"

[2017-01-06 15:46] #1466 closed

[2017-01-06 15:46] dushyants19 commented on #1468
@ebukarthur please response else we dont do this airport.

[2017-01-06 16:44] lolo31r commented on #1005
i will take over

[2017-01-06 19:39] kilt46 commented on #1421
![image](https://cloud.githubusercontent.com/assets/14023167/21730500/9b48578e-d415-11e6-8bd1-ebcccfaf57ce.png)

[2017-01-06 21:52] kilt46 commented on #1474
![image](https://cloud.githubusercontent.com/assets/14023167/21734260/1570462c-d428-11e6-8e7d-466cf7b03a1a.png)

[2017-01-06 22:03] #1474 closed

[2017-01-06 22:09] kilt46 commented on #379
RUNWAY 05R/23L wrong length
![image](https://cloud.githubusercontent.com/assets/14023167/21734706/6a43ced8-d42a-11e6-950f-cdebbf1be7bf.png)
![image](https://cloud.githubusercontent.com/assets/14023167/21734723/81babb44-d42a-11e6-9f56-7fef5e01b9db.png)

[2017-01-07 04:22] GentlePig500 commented on #1412
Sent For approval

[2017-01-07 04:41] GentlePig500 opened #1475 "RPMN-Sanga Airport-TAWI-TAWI-PHILIPPINES"
I will edit taxiway, taxiway line and other issues

[2017-01-07 14:01] GentlePig500 commented on #1475
Sent For Approval

[2017-01-07 14:01] kilt46 commented on #125
![image](https://cloud.githubusercontent.com/assets/14023167/21742217/7e8547a2-d4af-11e6-8955-8003b5edcfb6.png)

[2017-01-07 14:08] #125 closed

[2017-01-07 14:37] kilt46 commented on #234
![image](https://cloud.githubusercontent.com/assets/14023167/21742424/8e91c166-d4b4-11e6-98ea-4b02efa8193f.png)

[2017-01-07 14:41] #234 closed

[2017-01-07 16:08] kilt46 commented on #288
![image](https://cloud.githubusercontent.com/assets/14023167/21743112/45cf0580-d4c1-11e6-9712-b1ea9666c2dd.png)

[2017-01-07 16:08] #288 closed

[2017-01-07 16:58] Aviationluver commented on #1462
Sent in for review.

[2017-01-08 01:12] moritzbabl opened #1476 "EDAQ"
Halle-Oppin, used for the tutorial video, still some additional work to do

[2017-01-08 01:14] #1427 closed

[2017-01-08 01:48] kilt46 commented on #666
![image](https://cloud.githubusercontent.com/assets/14023167/21746659/34a919e8-d512-11e6-9ad9-fab497ce8b88.png)

[2017-01-08 02:39] kilt46 commented on #379
![image](https://cloud.githubusercontent.com/assets/14023167/21746858/6a12f980-d519-11e6-8c4e-ea63ef0b6fc1.png)

[2017-01-08 02:44] kilt46 commented on #1425
![image](https://cloud.githubusercontent.com/assets/14023167/21746872/0ab5778c-d51a-11e6-9779-744cb89ff1e0.png)
![Uploading image.png…]()

[2017-01-08 02:45] kilt46 commented on #1425
![image](https://cloud.githubusercontent.com/assets/14023167/21746880/4a2b10fc-d51a-11e6-86b4-4da925731b1c.png)

[2017-01-08 02:54] kilt46 commented on #1427
![image](https://cloud.githubusercontent.com/assets/14023167/21746936/75d53a42-d51b-11e6-97f7-abbfdfff568e.png)

[2017-01-08 03:55] brunocr98 commented on #1425
Fixed.

[2017-01-08 03:55] brunocr98 commented on #1419
Airport done.

[2017-01-08 04:12] Cleipelt opened #1477 "3LF-Litchfield Municipal Airport-ILLINOIS-USA"
♻️

[2017-01-08 04:35] ReflexRSM commented on #1234
I'll take this one

[2017-01-08 04:35] ReflexRSM commented on #1297
I'll take this one

[2017-01-08 06:19] dushyants19 commented on #593
done by @ryu12332

[2017-01-08 06:20] #593 closed

[2017-01-08 06:20] #1337 closed

[2017-01-08 06:20] #1449 closed

[2017-01-08 09:33] lolo31r opened #1478 "KCRW-Yeager Airport-WEST VIRGINIA-USA"
American states airport KCRW West Virginia

redoing this now

[2017-01-08 09:57] lolo31r commented on #1478
@bavAVIA is doing this now

[2017-01-08 10:49] #591 closed

[2017-01-08 12:31] kilt46 commented on #591
![image](https://cloud.githubusercontent.com/assets/14023167/21749788/0fac1168-d56c-11e6-9cd5-b8267d2fb9db.png)

[2017-01-08 12:45] kilt46 commented on #1465
![image](https://cloud.githubusercontent.com/assets/14023167/21749876/00210ad0-d56e-11e6-8d0c-5ff19c6c398e.png)

[2017-01-08 13:00] kilt46 commented on #90
![image](https://cloud.githubusercontent.com/assets/14023167/21750056/2e229ce4-d570-11e6-9b22-d142e86c17a3.png)

[2017-01-08 13:07] kilt46 commented on #90
![image](https://cloud.githubusercontent.com/assets/14023167/21750099/1c501fd6-d571-11e6-9ee0-99f9a5d19c79.png)

[2017-01-08 13:07] kilt46 commented on #90
Runway too long
![image](https://cloud.githubusercontent.com/assets/14023167/21750104/2ea7af82-d571-11e6-8e3a-57d4af180269.png)

[2017-01-08 13:11] kilt46 commented on #90
Gate names need prefix

[2017-01-08 13:15] kilt46 commented on #1373
![image](https://cloud.githubusercontent.com/assets/14023167/21750156/32483c6e-d572-11e6-9001-842fd9960496.png)

[2017-01-08 13:27] kilt46 commented on #600
Gates Renamed
![image](https://cloud.githubusercontent.com/assets/14023167/21750217/d89ddf8c-d573-11e6-8d47-4844e69eb75f.png)

[2017-01-08 13:27] kilt46 commented on #600
![image](https://cloud.githubusercontent.com/assets/14023167/21750220/f1c3498e-d573-11e6-93a5-7bca3b7d6f63.png)

[2017-01-08 13:36] kilt46 commented on #1449
![image](https://cloud.githubusercontent.com/assets/14023167/21750278/2ea48e70-d575-11e6-93b3-7cc76e4d2e8b.png)

[2017-01-08 15:09] brunocr98 commented on #1429
Done

[2017-01-08 15:20] kilt46 commented on #1429
![image](https://cloud.githubusercontent.com/assets/14023167/21750895/a2bf4724-d583-11e6-930b-391223e27f3c.png)

[2017-01-08 15:28] kilt46 commented on #1337
![image](https://cloud.githubusercontent.com/assets/14023167/21750964/ca170162-d584-11e6-8714-9bbb5795a390.png)

[2017-01-08 15:42] kilt46 commented on #593
![image](https://cloud.githubusercontent.com/assets/14023167/21751097/c5a5fa50-d586-11e6-96bf-6249f9221080.png)

[2017-01-08 15:57] kilt46 commented on #726
![image](https://cloud.githubusercontent.com/assets/14023167/21751192/cd2841b4-d588-11e6-95db-a96e14ca4eb7.png)

[2017-01-08 16:07] kilt46 commented on #1426
![image](https://cloud.githubusercontent.com/assets/14023167/21751265/325fdcd0-d58a-11e6-9297-df802e22f8e9.png)

[2017-01-08 16:14] kilt46 commented on #1428
![image](https://cloud.githubusercontent.com/assets/14023167/21751341/43f0e6dc-d58b-11e6-9fe6-cde10ecefd47.png)

[2017-01-08 16:30] kilt46 opened #1479 "CYMX-Montréal International (Mirabel) Airport-QUEBEC-CANADA"

[2017-01-08 16:31] kilt46 commented on #1479
![image](https://cloud.githubusercontent.com/assets/14023167/21751465/8f8de6f6-d58d-11e6-8a6e-c7dc89ba404f.png)

[2017-01-08 16:39] kilt46 commented on #1419
![image](https://cloud.githubusercontent.com/assets/14023167/21751561/c0c5f62c-d58e-11e6-9a7e-511034055a2f.png)

[2017-01-08 16:48] kilt46 commented on #1424
![image](https://cloud.githubusercontent.com/assets/14023167/21751635/ef25ce60-d58f-11e6-8caf-970d6d12a8cf.png)

[2017-01-08 16:48] lolo31r commented on #872
Priority 2

[2017-01-08 16:57] kilt46 commented on #1425
![image](https://cloud.githubusercontent.com/assets/14023167/21751718/4a8fd18c-d591-11e6-9e61-2bff484b5cd3.png)

[2017-01-08 17:44] IFAEpat opened #1480 "KANQ-Tri-State Steuben County Airport-INDIANA-USA"
♻️

[2017-01-08 17:52] IFAEpat opened #1481 "KERI"
Little break from the A380s

Erie Intl Tom Ridge Field

[2017-01-08 18:16] brunocr98 commented on #1430
Done

[2017-01-08 19:42] kilt46 commented on #1018
![image](https://cloud.githubusercontent.com/assets/14023167/21752991/525c4140-d5a8-11e6-9f25-a0be1c883e02.png)

[2017-01-08 19:52] #1018 closed

[2017-01-08 20:01] JcFl4 opened #1483 "LESO"
San Sebastian, Spain

[2017-01-08 20:08] JcFl4 opened #1484 "LEOS"
Aeródromo Los Oteros, Spain

[2017-01-09 00:01] brunocr98 commented on #1431
Done

[2017-01-09 14:13] ryu12332 opened #1485 "KGRR-Grand Rapids Airport-MICHIGAN-USA"
Part of Project Michigan

[2017-01-09 14:59] brunocr98 commented on #1432
Done

[2017-01-09 20:28] #1484 closed

[2017-01-09 22:10] brunocr98 commented on #1433
Done

[2017-01-09 22:59] kilt46 commented on #1433
![image](https://cloud.githubusercontent.com/assets/14023167/21787117/0180dd36-d68d-11e6-8e69-a2a7da30f732.png)

[2017-01-09 23:21] kilt46 commented on #1484
![image](https://cloud.githubusercontent.com/assets/14023167/21787667/1940ee7c-d690-11e6-83b4-a95de23ed59c.png)

[2017-01-09 23:29] Yifan081 opened #1486 "SKAR-Armenia Airport-QUINDIO-COLOMBIA"
El Eden International Airport, Colombia. I'll edit it

[2017-01-09 23:37] moritzbabl commented on #1476
Done and comitted, be proud of me ^^ If you don't trust me @dushyants19 , you can search any errors in my tutorial video :P

[2017-01-09 23:37] #1476 closed

[2017-01-10 00:57] kilt46 commented on #1476
![image](https://cloud.githubusercontent.com/assets/14023167/21789834/87f697c4-d69d-11e6-96f4-7cd5ce64e494.png)

[2017-01-10 01:10] kilt46 commented on #1432
![image](https://cloud.githubusercontent.com/assets/14023167/21790047/3cbeface-d69f-11e6-9fbd-9c3e7f8b5d6a.png)

[2017-01-10 02:21] kilt46 commented on #1431
![image](https://cloud.githubusercontent.com/assets/14023167/21791554/280b1c84-d6a9-11e6-805e-b36cf7df87b1.png)

[2017-01-10 02:38] kilt46 commented on #1430
![image](https://cloud.githubusercontent.com/assets/14023167/21791863/8672ce46-d6ab-11e6-8e76-1eab81e7d758.png)

[2017-01-10 03:09] tranquil-skyflyer commented on #1457
Submitted revamped version for review.

[2017-01-10 11:38] dushyants19 commented on #1476
It's because of the trust, you were given access. :)

[2017-01-10 13:46] Yifan081 opened #1487 "WBGS-Sibu Airport-SARAWAK-MALAYSIA"
Sibu Airport, Malaysia. I'll edit it.

[2017-01-10 16:24] brunocr98 commented on #1434
Done

[2017-01-10 20:22] AxelBeder commented on #238
Please don't do it, I prefer to do it myself.

[2017-01-10 20:50] Will171 commented on #238
do u want me to send you the file i have been working on?

[2017-01-10 21:06] brunocr98 commented on #1435
Done

[2017-01-10 23:34] kilt46 commented on #597
Runway too long. Also a few spawn points missing?
![image](https://cloud.githubusercontent.com/assets/14023167/21829355/10c70da0-d75b-11e6-945a-76835a159087.png)

[2017-01-10 23:35] kilt46 commented on #597
![image](https://cloud.githubusercontent.com/assets/14023167/21829365/1f299b38-d75b-11e6-8e1a-8f3c15b892c4.png)

[2017-01-10 23:40] kilt46 commented on #1434
![image](https://cloud.githubusercontent.com/assets/14023167/21829485/d6cb7a90-d75b-11e6-8dbf-7a9e32e4c3ce.png)

[2017-01-10 23:49] kilt46 commented on #1435
![image](https://cloud.githubusercontent.com/assets/14023167/21829663/104f3ed6-d75d-11e6-87b9-6d5201718f9c.png)

[2017-01-11 00:55] moritzbabl commented on #664
Done

[2017-01-11 00:55] #664 closed

[2017-01-11 01:32] Adam167 opened #1488 "LFLX-Chateauroux Deols Airport-CENTRE-FRANCE"
I ❤️ RECYCLING :)

[2017-01-11 02:48] brunocr98 commented on #1436
Done

[2017-01-11 02:50] Yifan081 opened #1489 "WBGB-Bintulu Airport-SARAWAK-MALAYSIA"
Bintulu Airport, Malaysia.

[2017-01-11 02:54] Yifan081 opened #1490 "WBGG"
Kuching International Airport, Malaysia.

[2017-01-11 03:12] moritzbabl commented on #1489
Are you doing this? Also, are you in the slack channel yet? If not and if you want to work on the airports you created issues for, send a mail to airports@liveflightapp.com to join us

[2017-01-11 04:03] kilt46 commented on #290
![image](https://cloud.githubusercontent.com/assets/14023167/21835180/9e1cdf2a-d780-11e6-862b-0ef2cee2a049.png)

[2017-01-11 04:11] kilt46 commented on #664
![image](https://cloud.githubusercontent.com/assets/14023167/21835322/c62e374c-d781-11e6-9e16-ebd6817a2ad7.png)

[2017-01-11 09:11] JcFl4 commented on #597
Runway is longer because it has displaced thresholds that are not subtracted from the total length. Also, the missing spawns are there to prevent people spawning on top of others, as the spawns are really close and there is no need to have every spawn.

[2017-01-11 09:50] JcFl4 commented on #597
But thanks for warning me! 🙂

[2017-01-11 15:55] bavAVIA commented on #1490
@Yifan081 Are you doing this and #1489 ?

[2017-01-11 16:52] Yifan081 commented on #1490
Yes, I was part of the Slack team before, however, it seems my account was disabled, since I didn't access for quite long.  I'll resend the request.

[2017-01-11 17:49] brunocr98 commented on #1437
Done

[2017-01-11 20:27] moritzbabl commented on #485
Will do it, shouldn't take too long

[2017-01-11 21:23] brunocr98 opened #1491 "SKLT"
Doing this airport. Alfredo Vásquez Cobo Airport.

[2017-01-11 21:57] brunocr98 commented on #1491
Done

[2017-01-11 21:57] #1491 closed

[2017-01-11 22:27] moritzbabl commented on #485
Done

[2017-01-11 22:27] #485 closed

[2017-01-11 22:36] brunocr98 opened #1492 "KWYS"
Doing this airport. Yellowstone Airport.

[2017-01-12 01:39] kilt46 commented on #1436
![image](https://cloud.githubusercontent.com/assets/14023167/21873656/a6fa06f8-d835-11e6-8623-9ab3ec1225ff.png)

[2017-01-12 02:05] henrikbg opened #1493 "2R5 - St Elmo"
St Elmo, Alabama.

[2017-01-12 03:13] henrikbg opened #1494 "49R - Jeremiah Denton"
Jeremiah Denton, Alabama.

[2017-01-12 03:17] henrikbg commented on #1493
Redone.

[2017-01-12 03:17] #1493 closed

[2017-01-12 03:17] henrikbg commented on #1494
Fixed up.

[2017-01-12 03:17] #1494 closed

[2017-01-12 03:19] henrikbg commented on #737
Someone else can feel free to take this. Not too good with orthophotos and have other priorities at the moment.

[2017-01-12 04:11] henrikbg opened #1495 "KPNS - Pensacola International"
Pensacola, Florida.

[2017-01-12 14:19] brunocr98 commented on #1492
Done

[2017-01-12 14:19] #1492 closed

[2017-01-12 14:26] moritzbabl commented on #737
Not a big deal with SAS, will do it

[2017-01-12 15:07] ErshovlaD opened #1496 "XWWO-Bobrovka (Samara)-SAMARA OBLAST-RUSSIA"
I make it

[2017-01-12 18:59] ErshovlaD commented on #1496
Send to email

[2017-01-12 19:59] moritzbabl commented on #737
Done

[2017-01-12 19:59] #737 closed

[2017-01-12 20:09] johanneskkl opened #1497 "LICC-Catania Fontanarrosa Airport-SICILIA-ITALY"
Catania airport (ITALY) with this i am starting my project Italy .

[2017-01-12 20:24] Theyoshifan200 opened #1498 "KBML-Berlin Regional Airport-NEW HAMPSHIRE-USA"
Part of **Project New Hampshire**, KBML is a small airport in Milan, NH. I would like to do this airport.

[2017-01-12 20:40] johanneskkl commented on #1497
Catania airport (ITALY) with this i am starting my project Italy .

[2017-01-12 21:57] moritzbabl commented on #1456
Done

[2017-01-12 21:57] #1456 closed

[2017-01-12 22:50] kilt46 commented on #1437
![image](https://cloud.githubusercontent.com/assets/14023167/21911638/3d10b3ba-d8e7-11e6-99ca-f46aa2ef6d74.png)

[2017-01-12 22:55] Theyoshifan200 commented on #1498
<img width="440" alt="screen shot 2017-01-12 at 5 53 45 pm" src="https://cloud.githubusercontent.com/assets/21222414/21911739/1b8efed2-d8f0-11e6-84f0-0e48cff51f02.png">
So, I added the buildings and also added a tower (not visible), but the airport is non-towered and is only UNICOM. Should I keep the tower anyways? what do you think about the progress? I started KBML yesterday :)

[2017-01-12 23:01] kilt46 commented on #1491
![image](https://cloud.githubusercontent.com/assets/14023167/21911951/c4fe4840-d8e8-11e6-8071-0091b9b84331.png)

[2017-01-12 23:08] kilt46 commented on #485
![image](https://cloud.githubusercontent.com/assets/14023167/21912155/cd43611a-d8e9-11e6-821d-b540b14672c7.png)

[2017-01-12 23:33] kilt46 commented on #1492
![image](https://cloud.githubusercontent.com/assets/14023167/21912718/41146f14-d8ed-11e6-8e91-7398e4eb7c2d.png)

[2017-01-12 23:37] kilt46 commented on #1493
![image](https://cloud.githubusercontent.com/assets/14023167/21912794/d1bc3880-d8ed-11e6-8d91-34b00213708e.png)

[2017-01-13 00:06] Theyoshifan200 commented on #1498
I have submitted Berlin rgnl Airport for review! I hope it passes :)

[2017-01-13 00:16] Theyoshifan200 commented on #1498
I have submitted the airport to the editing team, should I close the issue
or leave it open?

On Thu, Jan 12, 2017 at 3:24 PM, Adam167 <notifications@github.com> wrote:

[2017-01-13 01:10] tranquil-skyflyer commented on #324
I'll do this short one!

[2017-01-13 01:21] brunocr98 commented on #1438
Done

[2017-01-13 01:21] #1438 closed

[2017-01-13 01:25] brunocr98 opened #1499 "KBZN"
Doing this airport. Bozeman Yellowstone Airport

[2017-01-13 03:17] Josh391 opened #1500 "KLIT-Bill and Hillary Clinton National/Adams Field Airport-ARKANSAS-USA"
Clinton National Airports

[2017-01-13 03:47] brunocr98 commented on #1500
Hi,

Are you in our team, if not, please don't create random issues if you're not going to do the airports. We have enough airports with the Suggestion label. If you want to do them, please send an email to airports@liveflightapp.com to get started.

Thanks

[2017-01-13 12:17] johanneskkl opened #1501 "LIPK-Forli Airport-EMILIA-ROMAGNA-ITALY"
Forli Airport.
Maybe I've opened this issue too late!😑

[2017-01-13 13:56] lolo31r commented on #1498
Please join our slack team. There we will answer all your questions.

[2017-01-13 14:59] ryu12332 commented on #1485
KGRR is nearly complete.
**Overview**

<img width="976" alt="screen shot 2017-01-13 at 9 43 31 am" src="https://cloud.githubusercontent.com/assets/20650961/21934266/cd2d1ce2-d976-11e6-8c52-b1da41db14d2.png">

**Main Terminal, GA bases**

<img width="983" alt="screen shot 2017-01-13 at 9 44 01 am" src="https://cloud.githubusercontent.com/assets/20650961/21934269/cfb27052-d976-11e6-98f2-4240f3373b94

[2017-01-13 15:11] shanawaz97 opened #1502 "VOAT-Agatti Airport-LAKSHADWEEP-INDIA"
Please do mentioned airport,  it will be fun to fly here

[2017-01-13 15:13] lolo31r commented on #1502
Please don´t open issues if you aren´t going to do that airport.

[2017-01-13 15:27] Adam167 commented on #1502
@lolo31r Has agreed to do it as it is so small. But don't make issues unless you are an airport editor, ALL airports will be in global they just may not be of a hight standard.

[2017-01-13 15:28] shanawaz97 commented on #1502
Thank dear I've noted

On Jan 13, 2017 8:57 PM, "Adam167" <notifications@github.com> wrote:

[2017-01-13 15:34] ryu12332 opened #1503 "KFNT-Flint Bishop Airport-MICHIGAN-USA"
Part of Project Michigan

[2017-01-13 17:20] johanneskkl commented on #1497
Sent for review

[2017-01-13 17:20] johanneskkl commented on #1501
Sent for review

[2017-01-13 20:13] kilt46 commented on #1494
![image](https://cloud.githubusercontent.com/assets/14023167/21944192/7905dea0-d99a-11e6-9993-592b5d43aac3.png)

[2017-01-13 20:19] kilt46 commented on #1438
![image](https://cloud.githubusercontent.com/assets/14023167/21944333/39b51472-d99b-11e6-9367-8111ee8e2134.png)

[2017-01-13 20:29] kilt46 commented on #1456
![image](https://cloud.githubusercontent.com/assets/14023167/21944619/bb590be0-d99c-11e6-8ed7-46d4c18d4e44.png)

[2017-01-13 20:35] kilt46 commented on #737
![image](https://cloud.githubusercontent.com/assets/14023167/21944773/8987c75e-d99d-11e6-9e8d-58457d16ad16.png)

[2017-01-13 22:37] brunocr98 commented on #1499
Done

[2017-01-13 22:37] #1499 closed

[2017-01-13 22:40] brunocr98 opened #1504 "KCOD"
Doing this airport. Yellowstone Regional Airport.

[2017-01-13 22:51] moritzbabl opened #1505 "ETSE"
Erding AFB, being redone by me

[2017-01-13 22:55] moritzbabl opened #1506 "GBYD"
Banjul Intl, Gambia, i'll do it

[2017-01-13 23:08] kilt46 commented on #1248
![image](https://cloud.githubusercontent.com/assets/14023167/21948781/dc1a3938-d9b2-11e6-9e32-fe1254c5ba13.png)

[2017-01-13 23:16] #1248 closed

[2017-01-14 00:33] moritzbabl commented on #1506
Done in 2 hours, the whole of Gambia is ready for global with this ^^

[2017-01-14 00:33] #1506 closed

[2017-01-14 00:41] brunocr98 commented on #1504
Done

[2017-01-14 00:41] #1504 closed

[2017-01-14 00:44] brunocr98 opened #1507 "KDTO"
Doing this airport. Denton Enterprise Airport.

[2017-01-14 12:22] bavAVIA commented on #1261
Sent for review.

[2017-01-14 12:42] bavAVIA opened #1508 "GVBA"
Boa Vista - Rabil/Aristides Pereira Airport being redone.
Part of Project Cape Verde.

[2017-01-14 12:43] bavAVIA opened #1509 "GVMA-Maio Airport-MAIO-CAPE VERDE"
Maio Airport being redone.
Part of Project Cape Verde.

[2017-01-14 12:44] bavAVIA opened #1510 "GVNP-Praia Nelson Mandela International Airport-PRAIA-CAPE VERDE"
Praia - Nelson Mandela International Airport being redone.
Part of Project Cape Verde.

[2017-01-14 12:44] bavAVIA opened #1511 "GVSN-Preguica Airport-SAO NICOLAU-CAPE VERDE"
Sao Nicolao - Preguica Airport being redone.
Part of Project Cape Verde.

[2017-01-14 12:45] bavAVIA opened #1512 "GVSV"
Sao Pedro - Cesaria Evora International Airport being redone.
Part of Project Cape Verde.

[2017-01-14 12:53] bavAVIA commented on #1509
Sent for review.

[2017-01-14 13:18] bavAVIA commented on #1511
Sent for review.

[2017-01-14 14:12] Yifan081 commented on #1486
Submitted for review

[2017-01-14 14:12] Yifan081 commented on #1487
Submitted for review

[2017-01-14 14:12] Yifan081 commented on #1489
Submitted for review

[2017-01-14 14:15] Yifan081 opened #1513 "SKPS"
Antonio Narino Airport, Pasto - Colombia.  I'll redo it.

[2017-01-14 15:50] CptNathanHope commented on #1045
Sent for review.

[2017-01-14 15:50] CptNathanHope commented on #1043
Sent for review.

[2017-01-14 17:05] kilt46 commented on #1506
![image](https://cloud.githubusercontent.com/assets/14023167/21956543/521f5078-da49-11e6-999b-dddc3ddfdcb1.png)

[2017-01-14 17:09] brunocr98 opened #1514 "GCRR"
recycling

[2017-01-14 17:10] brunocr98 opened #1515 "YBAS"
Doing this airport. Alice Springs Airport.

[2017-01-14 17:11] brunocr98 commented on #924
Doing this airport.

[2017-01-14 17:24] kilt46 commented on #1504
![image](https://cloud.githubusercontent.com/assets/14023167/21956721/11572482-da4c-11e6-93d8-d724b8159f2d.png)

[2017-01-14 19:12] ErshovlaD opened #1516 "XWWL-Kinel'-Cherkasy (Tolkay)-SAMARA OBLAST-RUSSIA"
Add please this airport in repo. And it already done, I send it in email :)

[2017-01-14 19:44] johanneskkl opened #1517 "LIPX-Verona Villafranca Airport-VENETO-ITALY"
Verona airport . part of project italy

[2017-01-14 20:00] ErshovlaD opened #1518 "ZB0L-Voskresenka (Aeropark)-SAMARA OBLAST-RUSSIA"
Add please this airport in repo. And it already done, I send it in email :)

[2017-01-14 20:00] ErshovlaD commented on #1518
Russia region

[2017-01-14 20:33] TristinWoolf commented on #1514
Duplicate. #733

[2017-01-14 20:50] brunocr98 commented on #1514
Recycling issue

[2017-01-14 21:33] brunocr98 commented on #1507
Done

[2017-01-14 21:33] #1507 closed

[2017-01-15 00:24] Yifan081 opened #1519 "SKVV"
La Vanguardia Airport. Villavicencio, Colombia.  I'll redo it.

[2017-01-15 00:35] brunocr98 commented on #924
Done

[2017-01-15 00:36] Yifan081 commented on #1519
Has anyone worked on this one previously?

[2017-01-15 00:38] Theyoshifan200 opened #1520 "KHIE- Mt. Washington Regional Airport"
Part of **Project New Hampshire**, I would like to do this airport I visited back in August.
<img width="710" alt="screen shot 2017-01-14 at 7 36 43 pm" src="https://cloud.githubusercontent.com/assets/21222414/21959313/023fa07e-da91-11e6-858b-826c7bbb5a24.png">

[2017-01-15 01:18] tranquil-skyflyer commented on #324
Submitted for review.

[2017-01-15 01:27] GentlePig500 commented on #1412
Sent For Review

[2017-01-15 01:27] GentlePig500 commented on #1475
Sent For Review

[2017-01-15 03:29] brunocr98 commented on #1515
Done

[2017-01-15 03:29] #1515 closed

[2017-01-15 03:35] brunocr98 commented on #657
Taking this airport.

[2017-01-15 03:49] Talentedrobloxen opened #1521 "CYZF-Yellowknife Airport-NORTHWEST TERRITORIES-CANADA"
Yellowknife canada airport

[2017-01-15 04:09] Theyoshifan200 commented on #1520
<img width="843" alt="screen shot 2017-01-14 at 11 08 19 pm" src="https://cloud.githubusercontent.com/assets/21222414/21960165/76f6cba0-daae-11e6-9952-6cc2b3652549.png">
Finally finished the airport, now has been sent in for review :)

[2017-01-15 10:48] moritzbabl opened #1522 "LFML-Marseille Provence Airport-PROVENCE-ALPES-COTE D'AZUR-FRANCE"
Marseille Provence Airport, will redo it

[2017-01-15 11:41] johanneskkl opened #1523 "LIRQ-Firenze Peretola Airport-TOSCANA-ITALY"
Florence arport . part of project italy

[2017-01-15 14:47] ErshovlaD opened #1524 "XWWV-Samara (Kryazh)-SAMARA OBLAST-RUSSIA"
Add please in repo. Russia location. Already done and send in e-mail.

[2017-01-15 14:51] bavAVIA commented on #1510
Sent for review.

[2017-01-15 15:41] kilt46 commented on #90
![image](https://cloud.githubusercontent.com/assets/14023167/21963842/c0b7bc56-db06-11e6-8483-970deaa906bf.png)

[2017-01-15 16:56] Theyoshifan200 commented on #1520
Found that I missed a Centerline into the runway. I have now updated that and is now fully complete.
<img width="686" alt="screen shot 2017-01-15 at 11 56 15 am" src="https://cloud.githubusercontent.com/assets/21222414/21964420/aa37c2d8-db19-11e6-922a-fe01327878af.png">

[2017-01-15 16:59] kilt46 commented on #924
![image](https://cloud.githubusercontent.com/assets/14023167/21964435/b3d1bd60-db11-11e6-9da0-5973f0ab36dd.png)

[2017-01-15 17:09] kilt46 commented on #1515
![image](https://cloud.githubusercontent.com/assets/14023167/21964527/21c0e2d2-db13-11e6-87d7-c499a2ed16bb.png)

[2017-01-15 17:16] kilt46 commented on #1507
![image](https://cloud.githubusercontent.com/assets/14023167/21964579/100aa5d6-db14-11e6-990a-e31b24572c30.png)

[2017-01-15 20:06] johanneskkl commented on #1501
Pls review is done since mire than 48h.

[2017-01-15 21:13] brunocr98 commented on #1514
Done

[2017-01-15 21:13] #1514 closed

[2017-01-15 21:17] Theobsidianguy opened #1525 "FXME"
doing this one. matekane airport lesotho

[2017-01-15 21:26] kilt46 commented on #770
![image](https://cloud.githubusercontent.com/assets/14023167/21966346/0b005c48-db37-11e6-85f3-bb59c5c7eb40.png)

[2017-01-15 21:27] kilt46 commented on #770
![image](https://cloud.githubusercontent.com/assets/14023167/21966351/2732c0e0-db37-11e6-844a-512c23c1894f.png)

![Uploading image.png…]()

[2017-01-15 21:28] kilt46 commented on #770
![image](https://cloud.githubusercontent.com/assets/14023167/21966359/40646866-db37-11e6-9321-1e9f5c2085a9.png)

[2017-01-15 21:49] kilt46 commented on #1514
![image](https://cloud.githubusercontent.com/assets/14023167/21966502/38d3d188-db3a-11e6-98c3-e9eea87d88a2.png)

[2017-01-15 22:14] Aviationluver commented on #1184
How is this one going? @chrislunde If there is no progress being made, I will gladly take this.

[2017-01-15 22:26] moritzbabl commented on #770
Fixed now, displaced thresholds had to be changed to blastpads

[2017-01-15 22:26] #770 closed

[2017-01-16 08:37] 4riw opened #1526 "WAPP"
working on WAPP (Ambon, Pattimura, Indonesia)

[2017-01-16 08:41] 4riw opened #1527 "WABB"
Working on WABB (Biak, Frans Kaisiepo, Indonesia)
this airport has 11,712 feet of runway, please add it to milestone

[2017-01-16 09:26] JcFl4 opened #1528 "BGMQ"
Maniitsoq, Greenland

[2017-01-16 11:06] #1528 closed

[2017-01-16 13:10] kilt46 commented on #1528
![image](https://cloud.githubusercontent.com/assets/14023167/21984291/e2e22050-dbba-11e6-8b79-965d97320749.png)

[2017-01-16 13:19] kilt46 commented on #669
![image](https://cloud.githubusercontent.com/assets/14023167/21984558/1574878c-dbbc-11e6-97ab-7daf07f43f83.png)

[2017-01-16 13:19] kilt46 commented on #669
![image](https://cloud.githubusercontent.com/assets/14023167/21984566/1fc7df40-dbbc-11e6-81a3-4251dc168ed5.png)

[2017-01-16 13:21] kilt46 commented on #773
![image](https://cloud.githubusercontent.com/assets/14023167/21984627/6a7f3b96-dbbc-11e6-9859-a5e62d2630b5.png)

[2017-01-16 13:21] kilt46 commented on #773
![image](https://cloud.githubusercontent.com/assets/14023167/21984635/735e7506-dbbc-11e6-9095-3e5666db3d33.png)

[2017-01-16 13:40] moritzbabl commented on #669
WED measures Runways including displaced thresholds in the runway while the chart excludes them (the 200 at the bottom left may state the length of the dt. This explains the difference to the sat image, i will not change the runway in this case.

[2017-01-16 13:40] #669 closed

[2017-01-16 15:12] #1483 closed

[2017-01-16 17:45] kilt46 opened #1529 "KACY-Atlantic City International Airport-NEW JERSEY-USA"

[2017-01-16 18:02] ebukarthur opened #1530 "FTTJ"
♻️

-Bruno

[2017-01-16 18:02] ebukarthur commented on #1468
Leave a comment

[2017-01-16 18:07] dushyants19 commented on #1530
Stop creating duplicates.

[2017-01-16 18:10] PaulNielsen commented on #1530
@dushyants19 I think @ebukarthur means he is going to edit it.

[2017-01-16 18:39] brunocr98 commented on #1530
This is a duplicate, search before posting

See issue #1468

[2017-01-16 18:47] brunocr98 commented on #1530
Recycling....

[2017-01-16 20:06] brunocr98 commented on #657
Done

[2017-01-16 20:37] brunocr98 commented on #752
Taking this airport.

[2017-01-16 22:07] brunocr98 commented on #1184
There you go @Aviationluver :)

[2017-01-16 22:08] Aviationluver commented on #1184
Thanks ;) @brunocr98

[2017-01-16 23:58] kilt46 commented on #1489
Holes should be cut round protrusions
![image](https://cloud.githubusercontent.com/assets/14023167/22002916/53f2b926-dc15-11e6-91ab-da4c531d68b3.png)

[2017-01-17 00:00] kilt46 commented on #1489
Gates numbered incorrectly
![image](https://cloud.githubusercontent.com/assets/14023167/22002967/ac90be8e-dc15-11e6-94e4-ca8a12156fe8.png)

[2017-01-17 00:01] kilt46 commented on #1489
Runway should be 2745 m
![image](https://cloud.githubusercontent.com/assets/14023167/22002973/c139784e-dc15-11e6-93af-6575fb09d868.png)

[2017-01-17 00:03] kilt46 commented on #1489
Only 1 tower (ATC)
![image](https://cloud.githubusercontent.com/assets/14023167/22003009/0a82a282-dc16-11e6-80d9-d69fd0d69e7f.png)
![image](https://cloud.githubusercontent.com/assets/14023167/22003013/11ad2fd2-dc16-11e6-8049-ea4a3ff09807.png)

[2017-01-17 00:09] kilt46 commented on #1487
ATS: https://skyvector.com/airport/WBGS/Sibu-Airport
![image](https://cloud.githubusercontent.com/assets/14023167/22003143/d80daddc-dc16-11e6-967a-0c227285fa36.png)
![image](https://cloud.githubusercontent.com/assets/14023167/22003159/ee0031fa-dc16-11e6-8ae2-b1ce2ff96e9a.png)

[2017-01-17 00:11] kilt46 commented on #1487
Slots not cut in apron
![image](https://cloud.githubusercontent.com/assets/14023167/22003179/2b8fecae-dc17-11e6-8039-98dab8f0180d.png)

[2017-01-17 00:12] kilt46 commented on #1487
Runway holds missing lighting
![image](https://cloud.githubusercontent.com/assets/14023167/22003199/5712c4be-dc17-11e6-83a1-29c84d69c41a.png)

[2017-01-17 00:14] kilt46 commented on #1487
Good job with main parking. Please update hangars as shown
![image](https://cloud.githubusercontent.com/assets/14023167/22003238/981ef4be-dc17-11e6-8724-e04aad90a164.png)

[2017-01-17 00:15] kilt46 commented on #1487
Good job with the runway length

[2017-01-17 00:58] kilt46 commented on #1486
Runway length
![image](https://cloud.githubusercontent.com/assets/14023167/22004012/b4cec1f6-dc1d-11e6-919a-b53da890ea5f.png)
![image](https://cloud.githubusercontent.com/assets/14023167/22004019/c32a7c90-dc1d-11e6-9591-9a2ee5e9eb8d.png)

[2017-01-17 00:59] kilt46 commented on #1486
Hold lights missing
![image](https://cloud.githubusercontent.com/assets/14023167/22004031/d852a73c-dc1d-11e6-8325-62a9968dac79.png)

[2017-01-17 01:05] kilt46 commented on #895
![image](https://cloud.githubusercontent.com/assets/14023167/22004122/ceab4e4a-dc1e-11e6-9166-052a19c0bee1.png)

[2017-01-17 01:07] GentlePig500 commented on #1047
Can this be transfered to me?

[2017-01-17 01:17] Talentedrobloxen opened #1532 "CYQR-Regina International Airport-SASKATCHEWAN-CANADA"
♻️

-Bruno

[2017-01-17 01:19] brunocr98 commented on #1206
I'll take care of this airport once I finish with Larnaca.

[2017-01-17 01:22] kilt46 commented on #1297
![image](https://cloud.githubusercontent.com/assets/14023167/22004425/22af4fc6-dc21-11e6-8661-8f83f788afc8.png)

[2017-01-17 01:26] brunocr98 commented on #1047
There you go @GentlePig500 :)

[2017-01-17 01:33] brunocr98 commented on #1532
Why you closed this issue?

[2017-01-17 01:34] brunocr98 commented on #1532
This is a duplicate btw.

#1050

[2017-01-17 01:36] brunocr98 commented on #1532
Recycled....now Muscat Airport.

[2017-01-17 02:20] GentlePig500 commented on #1047
Thanks

[2017-01-17 02:33] kilt46 commented on #1502
![image](https://cloud.githubusercontent.com/assets/14023167/22005692/f6a0f4b6-dc2a-11e6-8c6a-b28c9c7d089b.png)

[2017-01-17 02:33] #1502 closed

[2017-01-17 02:38] kilt46 commented on #1454
![image](https://cloud.githubusercontent.com/assets/14023167/22005790/ae7f4bfa-dc2b-11e6-9104-68eee95998f1.png)

[2017-01-17 02:42] Yifan081 opened #1533 "WMKP"
Penang International Airport, Malaysia. I'll redo it.

[2017-01-17 02:50] kilt46 commented on #657
![image](https://cloud.githubusercontent.com/assets/14023167/22006007/64a769ca-dc2d-11e6-8838-c9f8aab7ec1b.png)

[2017-01-17 03:01] kilt46 commented on #1450
![image](https://cloud.githubusercontent.com/assets/14023167/22006228/f706db92-dc2e-11e6-96cc-cabd001cbf97.png)

[2017-01-17 03:31] kilt46 commented on #1045
Missing Comms
![image](https://cloud.githubusercontent.com/assets/14023167/22006738/30f9a1e6-dc33-11e6-96c6-e1a8800e3ac0.png)

[2017-01-17 03:33] kilt46 commented on #1045
Missing Terminal B
![image](https://cloud.githubusercontent.com/assets/14023167/22006773/7b4b9ec0-dc33-11e6-9538-4a5be35b39e3.png)

[2017-01-17 03:38] CptNathanHope commented on #1045
I can add the comms.

Terminal B is closed IRL so I didn't include the taxilines leading up to the gate and I didn't add spawns there.

[2017-01-17 03:39] kilt46 commented on #1485
Gates don't make sense
![image](https://cloud.githubusercontent.com/assets/14023167/22006872/43907c3e-dc34-11e6-8acd-49eefbb168a2.png)

[2017-01-17 03:39] kilt46 commented on #1485
![image](https://cloud.githubusercontent.com/assets/14023167/22006881/51bab7c0-dc34-11e6-9970-9a6bb1bd2028.png)

[2017-01-17 03:40] kilt46 commented on #1485
Hold Shorts NOT ALLOWED
![image](https://cloud.githubusercontent.com/assets/14023167/22006905/74536d18-dc34-11e6-9d6c-4f5e9ae0c92f.png)

[2017-01-17 03:41] kilt46 commented on #1485
Preface Fixed Base Operators with FBO  (e.g.)
![image](https://cloud.githubusercontent.com/assets/14023167/22006929/956cdde0-dc34-11e6-9df9-ae83f8d890b8.png)

[2017-01-17 03:48] kilt46 commented on #1483
![image](https://cloud.githubusercontent.com/assets/14023167/22007038/7a3e1ad8-dc35-11e6-8108-d9bf48eb8948.png)

[2017-01-17 03:59] kilt46 commented on #1486
![image](https://cloud.githubusercontent.com/assets/14023167/22007265/117a4344-dc37-11e6-933f-ec547cd86f44.png)

[2017-01-17 03:59] #1486 closed

[2017-01-17 04:04] Talentedrobloxen opened #1534 "KRST-Rochester International Airport-MINNESOTA-USA"
Rochester International Airport ,Minnasota ,united states of america.....(ill do it)

[2017-01-17 04:05] Talentedrobloxen commented on #1532
Some one already did holman feild i checked the files

[2017-01-17 04:06] Talentedrobloxen commented on #1532
Ill do rochester international airport mn instead no one has done it yet so ill do it

[2017-01-17 04:08] Talentedrobloxen commented on #1521
Some one did it already my bad

[2017-01-17 04:10] kilt46 commented on #1521
This airport is not complete!

[2017-01-17 04:15] kilt46 commented on #1487
![image](https://cloud.githubusercontent.com/assets/14023167/22007560/4a4c963e-dc39-11e6-9ec4-7aa5f8218e29.png)

[2017-01-17 04:15] #1487 closed

[2017-01-17 04:44] Talentedrobloxen commented on #1521
Ok well my remake is 90% complete ill push it out soon and some one can revise it and do a 2and layer scan before it gets put into the files

[2017-01-17 04:51] dushyants19 commented on #1534
Send an email to airports@liveflightapp.com please.

[2017-01-17 14:26] Yifan081 opened #1535 "ZSQD"
Liuting Airport. Qingdao, China. I'll edit it.

[2017-01-17 15:23] JcFl4 opened #1536 "ZULS"
Lhasa, China

[2017-01-17 15:24] #1536 closed

[2017-01-17 16:37] moritzbabl commented on #773
fixed

[2017-01-17 16:37] #773 closed

[2017-01-17 17:21] ErshovlaD opened #1537 "UUMV-Voskresensk (Moscow)-MOSCOW OBLAST-RUSSIA"
Add please in repo, and check please. I'm send via email

[2017-01-17 17:31] ErshovlaD commented on #547
Why this issue not closed?

[2017-01-17 17:36] kilt46 commented on #547
I did not see this one on the email list. Did you send it in? Did Dush already reply to you?

[2017-01-17 20:05] lalomarlin opened #1538 "MMSC-San Cristobal de las Casas Airport-CHIAPAS-MEXICO"
Being Redone "Closed Airport"

[2017-01-17 20:06] lalomarlin opened #1539 "MMMZ-Mazatlan Airport-SINALOA-MEXICO"
Being Redone

[2017-01-17 22:32] moritzbabl commented on #592
Improved this one

[2017-01-17 22:35] tranquil-skyflyer opened #1540 "CYQM"
Greater Moncton Roméo LeBlanc International Airport
10k+ ft runway.

[2017-01-17 22:45] IceBlue02 commented on #536
All done (finally) https://github.com/InfiniteFlightAirportEditing/Airports/commit/4314ff8f6e06ec29420373e41c6f42b8dbee7873

@kilt46

[2017-01-17 23:09] Theyoshifan200 opened #1541 "KDAW"
Part of **Project New Hampshire**, I would like to do Skyhaven Airport

[2017-01-17 23:28] GoldenSpotter opened #1542 "0B5"
Part of Project New England.

[2017-01-17 23:36] kilt46 commented on #1375
![image](https://cloud.githubusercontent.com/assets/14023167/22044696/8930f460-dcdb-11e6-828d-8c357165c330.png)

[2017-01-17 23:53] kilt46 commented on #1536
![image](https://cloud.githubusercontent.com/assets/14023167/22045097/e8a05f06-dcdd-11e6-8333-73db142bfe70.png)

[2017-01-18 00:02] chrislunde commented on #531
Will gladly take over this

[2017-01-18 00:11] kilt46 commented on #536
![Uploading image.png…]()

[2017-01-18 00:11] kilt46 commented on #536
![image](https://cloud.githubusercontent.com/assets/14023167/22045522/6beac0d4-dce0-11e6-95fc-129288d035fc.png)

[2017-01-18 00:44] kilt46 commented on #1261
![image](https://cloud.githubusercontent.com/assets/14023167/22046254/0691f374-dce5-11e6-8bf4-06099442f67a.png)

[2017-01-18 00:53] #1261 closed

[2017-01-18 00:56] kilt46 commented on #1509
![image](https://cloud.githubusercontent.com/assets/14023167/22046498/b62f74d6-dce6-11e6-8584-628bb6ab9ec3.png)

[2017-01-18 00:58] #1509 closed

[2017-01-18 01:12] kilt46 commented on #1043
![image](https://cloud.githubusercontent.com/assets/14023167/22046831/e06cac4e-dce8-11e6-9238-40eaa90bb189.png)

[2017-01-18 01:24] kilt46 commented on #1511
![image](https://cloud.githubusercontent.com/assets/14023167/22047117/98ef42da-dcea-11e6-8c21-7b9d12546a7a.png)

[2017-01-18 01:24] #1511 closed

[2017-01-18 01:36] dushyants19 commented on #547
Be patient Vlad, you'll get your roubles..

I haven't pushed it so I haven't closed it

[2017-01-18 01:37] kilt46 commented on #1516
![Uploading image.png…]()

[2017-01-18 01:37] #1516 closed

[2017-01-18 01:37] kilt46 commented on #1516
![image](https://cloud.githubusercontent.com/assets/14023167/22047395/684a04e2-dcec-11e6-966e-7b9cd267dc03.png)

[2017-01-18 02:55] kilt46 commented on #1510
![image](https://cloud.githubusercontent.com/assets/14023167/22049171/5291a5be-dcf7-11e6-8623-9232a50f5aef.png)

[2017-01-18 03:00] #1510 closed

[2017-01-18 03:10] kilt46 commented on #1520
![image](https://cloud.githubusercontent.com/assets/14023167/22049512/4eeb20a0-dcf9-11e6-8f60-d584abde2750.png)

[2017-01-18 03:10] #1520 closed

[2017-01-18 03:26] kilt46 commented on #1513
![Uploading image.png…]()

[2017-01-18 03:26] #1513 closed

[2017-01-18 12:32] ErshovlaD commented on #547
Be calm, Dush. I made this airport is completely free.

[2017-01-18 13:40] MiguelIF27 opened #1543 "MDPP-Puerto Plata Airport-PUERTOM PLATA-DOMINICAN REPUBLIC"
Int'l Gregorio Luperón Airport (Puerto Plata)

[2017-01-18 17:43] IceBlue02 commented on #536
Resolved with a few other fixes. Sorry @kilt46

[2017-01-18 17:44] Yifan081 opened #1544 "SKIB"
Perales Airport. Ibague, Colombia. I'll redo it.

[2017-01-18 19:28] JcFl4 opened #1545 "NZMF"
Milford Sound, NZ

[2017-01-18 19:33] #1545 closed

[2017-01-18 19:54] Talkingribzz opened #1546 "EICA"

[2017-01-18 20:50] IceBlue02 commented on #1112
Done. https://github.com/InfiniteFlightAirportEditing/Airports/commit/5b53a3fe59ef96a539786db99e1d60db0c74711c

(After the LOWW excursion)

[2017-01-18 20:50] #1112 closed

[2017-01-19 00:05] kilt46 commented on #1131
![image](https://cloud.githubusercontent.com/assets/14023167/22088293/aa9aff1a-dda8-11e6-9bf5-4a14a452fa62.png)

[2017-01-19 00:06] #1131 closed

[2017-01-19 00:23] kilt46 commented on #1489
hole not cut properly. Apron doubles back on itself. Now apron is invisible.
![image](https://cloud.githubusercontent.com/assets/14023167/22088641/3360c4b8-ddab-11e6-8d53-e1240f9378d9.png)

[2017-01-19 00:23] kilt46 commented on #1489
![image](https://cloud.githubusercontent.com/assets/14023167/22088652/41b01a96-ddab-11e6-9058-7767a17cd808.png)

[2017-01-19 00:27] kilt46 commented on #1489
Finished off for you. You will need to learn how to cut holes
![image](https://cloud.githubusercontent.com/assets/14023167/22088738/c3950da0-ddab-11e6-8dc4-a4f5be9a28a3.png)

[2017-01-19 00:27] #1489 closed

[2017-01-19 00:37] kilt46 commented on #536
![image](https://cloud.githubusercontent.com/assets/14023167/22088916/279097a6-ddad-11e6-80f6-8dd7ea973bf6.png)

[2017-01-19 00:52] kilt46 commented on #1112
![image](https://cloud.githubusercontent.com/assets/14023167/22089212/3d7ec0fe-ddaf-11e6-9c05-9d07b9d92ad4.png)

[2017-01-19 01:06] kilt46 commented on #1545
![image](https://cloud.githubusercontent.com/assets/14023167/22089515/357b75bc-ddb1-11e6-9fce-ced6a9c23097.png)

[2017-01-19 01:12] kilt46 commented on #1412
![Uploading image.png…]()

[2017-01-19 01:12] #1412 closed

[2017-01-19 01:12] kilt46 commented on #1412
![image](https://cloud.githubusercontent.com/assets/14023167/22089630/132c071e-ddb2-11e6-8184-4b9c7ebf9099.png)

[2017-01-19 02:26] kilt46 commented on #1005
![image](https://cloud.githubusercontent.com/assets/14023167/22091330/5b6ee410-ddbc-11e6-9227-ea6526c03a13.png)

[2017-01-19 02:35] kilt46 commented on #1475
Shape of main apron looks different
![image](https://cloud.githubusercontent.com/assets/14023167/22091657/a2477536-ddbd-11e6-8475-3554f0ec57c1.png)

[2017-01-19 02:35] kilt46 commented on #1475
![image](https://cloud.githubusercontent.com/assets/14023167/22091670/ae48ff4e-ddbd-11e6-8419-b2e540082bbc.png)

[2017-01-19 02:38] kilt46 commented on #1475
Runway length incorrect
![image](https://cloud.githubusercontent.com/assets/14023167/22091723/f4aa9a06-ddbd-11e6-88a5-a314dbc7b976.png)
![image](https://cloud.githubusercontent.com/assets/14023167/22091729/015d3312-ddbe-11e6-8882-4bb6c3ccfb2b.png)

[2017-01-19 02:41] kilt46 commented on #1519
Missing yellow line
![image](https://cloud.githubusercontent.com/assets/14023167/22091795/7eb87cc2-ddbe-11e6-9dae-94bd1a498549.png)

[2017-01-19 02:43] kilt46 commented on #1519
![image](https://cloud.githubusercontent.com/assets/14023167/22091828/c85e00d6-ddbe-11e6-90c6-aef0859de60c.png)

[2017-01-19 02:43] #1519 closed

[2017-01-19 02:51] kilt46 commented on #1538
![image](https://cloud.githubusercontent.com/assets/14023167/22091950/f0dedb2e-ddbf-11e6-8ac3-5b04d93333b8.png)

[2017-01-19 02:51] #1538 closed

[2017-01-19 03:00] kilt46 commented on #1539
![image](https://cloud.githubusercontent.com/assets/14023167/22092140/2128c03c-ddc1-11e6-8cf6-1be565313990.png)

[2017-01-19 03:00] #1539 closed

[2017-01-19 05:16] henrikbg commented on #1495
Redone.

[2017-01-19 05:16] #1495 closed

[2017-01-19 08:42] 4riw opened #1547 "WIII-Jakarta International/Soekarno Hatta Airport-BANTEN-INDONESIA"
I will working on WIII/CGK (Soekarno-Hatta Intl, Jakarta, Indonesia).
have 2 runways with 11800ft & 12000ft

[2017-01-19 13:22] Adam167 commented on #606
Ok, it seems the google images have been updated on SAS to include these stands
Jan has sent the SAS files so I can do this.

[2017-01-19 13:41] Adam167 commented on #1488
Currently not able to do this as there are no images at all that can be put in the correct place. I will do this as soon as I can see the airport

[2017-01-19 14:10] ErshovlaD opened #1548 "UWWQ-Samara (Krasnyy Yar)-SAMARA OBLAST-RUSSIA"
Already done and send via email. Check please and add in repo list

[2017-01-19 15:29] lolo31r commented on #918
redoing this

[2017-01-19 16:50] brunocr98 commented on #1532
I'll be editing this one soon.

[2017-01-19 16:53] IceBlue02 commented on #1548
@Adam167 please read description, he has finished and has been sent in