[2016-05-16 11:03] dushyants19 commented on #401
Closed temporarily

[2016-05-16 11:05] nick-if opened #591 "VHSK"

[2016-05-16 11:12] nick-if commented on #591
![screen shot 2016-05-16 at 7 10 14 pm](https://cloud.githubusercontent.com/assets/19368407/15288039/00241a10-1b9a-11e6-829b-d6ae35a7f317.png)
Help when I do this, the airport appears ON TOP of the map view, so how do I know where to add, the airport is covering it

Someone just teach me how to use WED

[2016-05-16 11:36] nick-if commented on #591
this WED is rubbish those idiot computer designers had to make it so complicated. wow the things look so digital not modern like apple desktops these idiot designers

[2016-05-16 12:53] moritzbabl commented on #465
@Swang007 be careful with the eastern apron, the easternmost building where planes are parked has been rebuilt to a third terminal which resulted in aerial pictures showing closed aprons which are now used again, there may also be some parking spots which were only temporarily in use (the pictures on google earth are the latest I found on the Internet by now)

[2016-05-16 14:48] moritzbabl opened #592 "LGIR"
Iraklion Airport, I will do that

[2016-05-16 17:29] Swang007 commented on #300
@NickArt1342 It's basically already done. I checked with WEDBing, the airport is aligned, everything else is there. It doesn't need to be redone. I'll commit anyway in case I did make any changes.

[2016-05-16 17:42] carmichaelalonso opened #593 "KDTW-Detroit Metropolitan Airport-MICHIGAN-USA"
Requested by Josh.

[2016-05-16 18:03] Aviationluver commented on #560
I've realigned the airport.

[2016-05-16 18:03] #560 closed

[2016-05-16 18:24] #584 closed

[2016-05-16 18:54] Aviationluver opened #594 "LXGB-Gibraltar Airport-GIBRALTAR-UNITED KINGDOM"
I'll do this one.

[2016-05-17 00:17] Arzanex commented on #591
Ill take this one

[2016-05-17 00:34] bylrret commented on #564
Waiting for approval

[2016-05-17 01:22] TristinWoolf opened #595 "SPGL"
Chagual Airport
Small airport in Peru with an AMAZING approach that will not take long at all to do. I will take this one myself and get it done quickly! If someone can please add proper labels, that would be great! Thanks!

[2016-05-17 02:34] IFAEpat commented on #542
So is this up for grabs or not? If it is, I'll take it :)

[2016-05-17 03:11] TristinWoolf commented on #595
Already finished and sent it in! It was super easy to do and quick. Just waiting for approval now. Proper labeling would be appreciated until it is approved.

[2016-05-17 03:28] kilt46 commented on #578
Missing main apron!
![image](https://cloud.githubusercontent.com/assets/14023167/15310438/740b6486-1bb5-11e6-978a-b1da9f2a2289.png)

[2016-05-17 05:33] lachieee opened #596 "NZCH-Christchurch Airport-CANTERBURY-NEW ZEALAND"
Christchurch International Airport - New Zealand.

[2016-05-17 05:34] lachieee commented on #596
Christchurch International Aiport - New Zealand.

[2016-05-17 05:48] chriscroft20 commented on #578
It's definitely there, I think maybe it got put to invisible when being reviewed or something. If you scroll down and just put the 'main apron' to visible again

Sent from my iPhone

[2016-05-17 06:47] ReflexRSM commented on #586
Sent for approval

[2016-05-17 16:28] ReflexRSM opened #597 "LPMA-Madeira Airport-MADEIRA-PORTUGAL"
Madeira Airport

[2016-05-17 16:48] sumith11 opened #598 "VOBL-Kempegowda Int/ Bengaluru Airport-KARNATAKA-INDIA"
VOBL can accommodate an A380 -  Gate 25-26 is equipped to serve the Airbus A380.

[2016-05-17 17:11] dushyants19 commented on #598
No commercial service, So no A380 label.

[2016-05-17 18:15] turkish1941 commented on #355
finished 2 days ago

[2016-05-17 19:17] IFAEpat commented on #542
Can someone assign me? thanks :D

[2016-05-17 21:51] moritzbabl commented on #592
I've finished it, will send it for approval soon (just posted it in peer-review)

[2016-05-17 21:55] moritzbabl opened #599 "EDDN"
Nuremberg Albrecht Duerer Airport, I will redo it, there are missing parking spots, markings, the terminal is missing and public streets have to be removed

[2016-05-18 00:25] IFAEpat commented on #388
@samuelandersson yes

[2016-05-18 02:47] TristinWoolf commented on #595
Approved by @henrikbg and added to the repo.

[2016-05-18 02:47] #595 closed

[2016-05-18 07:12] dushyants19 commented on #564
Approved by Henrik. [Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/3e187fa2a47e1a3cfd5197edd07a17dfc190f62d)

[2016-05-18 07:14] dushyants19 commented on #355
Approved by Henrik. [Commit](https://github.com/InfiniteFlightAirportEditing/Airports/blob/b7a4579bd54b2eeb6f3db84e3c9e03c166f6e198/Denmark/EKRD/apt.dat)

[2016-05-18 07:14] #355 closed

[2016-05-18 07:16] dushyants19 commented on #586
Approved by henrik. [Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/1020bc0e2a118649ef073c21c3263d04866ec3ec)

[2016-05-18 08:16] lachieee commented on #596
Currently editing.

[2016-05-18 11:17] CaptainTrapBeats opened #600 "WAOO-Syamsudin Noor Airport-KALIMANTAN SELATAN-INDONESIA"

[2016-05-18 14:10] NatIsrael972 commented on #257
Bringing to attention new gates at West Cargo Apron and East Cargo Apron

[2016-05-18 14:13] NatIsrael972 opened #601 "YPPH-Perth Intl-AUSTRALIA"

[2016-05-18 14:19] dushyants19 commented on #601
Search before posting.  #257

[2016-05-18 14:23] NatIsrael972 commented on #257
Searched before posting. The other two are CLOSED.

Please undo the DUP unless you have a very valid reason and evidence to say that #257 is open.

[2016-05-18 14:24] samuelandersson commented on #257
@NatIsrael972 if you are working on an airport, search for it, if it's closed, just add a note syaing you are redoing or adding sextions and we will open it.

[2016-05-18 14:25] NatIsrael972 commented on #257
@samuelandersson Thanks for the clarification but then why are there two issues (one by Carmalonso and the other one, this)?

[2016-05-18 14:27] samuelandersson commented on #257
@kilt46 takes care of the duplicates.

[2016-05-18 14:28] NatIsrael972 commented on #257
@samuelandersson What do you mean by "takes care"?

[2016-05-18 14:56] carmichaelalonso commented on #257
@NatIsrael972 my one was from a veeeery long time ago, before we worried about duplicates too much :wink:
Kilt nowadays manages old issues and recycles them to avoid these duplicates. Don't worry about it too much, we can just continue here. I'll reopen it for you based on your old issue.

[2016-05-18 15:33] IceBlue02 commented on #148
Will fix:
https://community.infinite-flight.com/t/hold-short-line-missing-kags/40561/2

[2016-05-18 15:47] Arzanex commented on #571
Email sent

[2016-05-18 16:57] NickArt1342 commented on #596
@lachieee Please accept the invitation on your profile to the infinite flight repository so we can assign you to the issue.

[2016-05-18 16:57] NickArt1342 commented on #597
are you doing this @dushyants19 ?

[2016-05-18 17:00] NickArt1342 commented on #543
@samuelandersson do want to do it?

[2016-05-18 17:06] ReflexRSM commented on #597
@NickArt1342  No, I'm doing this.
Could you assign me?

[2016-05-18 17:50] NickArt1342 commented on #600
Is this a suggestion or an airport you want to do? @CaptainTrapBeats

[2016-05-18 18:24] david-garden opened #602 "KSTL-St. Louis Lambert International Airport-MISSOURI-USA"
I will be doing this one :)

[2016-05-18 20:59] lachieee commented on #596
@NickArt1342 Done?

[2016-05-18 21:04] NickArt1342 commented on #596
Yep, there you go ;)

[2016-05-18 21:31] NickArt1342 commented on #602
@david-garden Please accept the repository invite in your email or the github main page so we cann assign you to the issue

[2016-05-18 23:39] CaptainTrapBeats commented on #600
I want to do, and also WADD too

On Thursday, 19 May 2016, NickArt1342 <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-05-18 23:56] david-garden commented on #602
Will do, Nick.

[2016-05-19 18:12] Aviationluver commented on #594
Airport has been addd to the repo.

[2016-05-20 04:21] Aviationluver opened #603 "LEMG-Malaga/Costa Del Sol Airport-ANDALUCIA-SPAIN"
Malaga airport

[2016-05-20 17:21] chriscroft20 opened #604 "EGPH-Edinburgh Airport-SCOTLAND-UNITED KINGDOM"
Redoing Edinburgh Airport

[2016-05-20 19:11] moritzbabl commented on #592
It's finished, I just sent the e-mail

[2016-05-20 22:09] chriscroft20 commented on #604
sent for review

[2016-05-20 22:22] turkish1941 commented on #75
E-mail has been sent.

[2016-05-21 03:22] danielshaw opened #605 "KOFP"
I will edit Hanover County Municipal Airport in Richmond Virginia.

[2016-05-21 08:38] chriscroft20 opened #606 "EGGD- Bristol Airport-ENGLAND-UNITED KINGDOM"
Redoing Bristol Airport

[2016-05-21 09:48] JcFl4 opened #607 "OIHS-Hamadan-Shahrokhi Air Force Base-HAMADAN-IRAN"
Please redesign me!

[2016-05-21 10:41] chriscroft20 commented on #606
sent for review

[2016-05-21 12:57] JcFl4 commented on #401
I just added a nearly done one, but someone could finish it if you want.

[2016-05-21 13:26] JcFl4 commented on #607
Nevermind this, already another issue available.

[2016-05-21 13:27] JcFl4 opened #609 "KBOS-General Edward Lawrence Logan International Airport-MASSACHUSETTS-USA"
Logan Intl.
Boston, USA
Missing terminals, and some fixes needed, anyone interested?

[2016-05-21 13:31] JcFl4 commented on #585
How are you doing this? It has to be accurate, and right now Kai Tak is pretty much non-existent. Curious to know!

[2016-05-21 14:21] CaptainTrapBeats opened #610 "WADD-I Gusti Ngurah Rai Airport-BALI-INDONESIA"
Completed!

[2016-05-21 16:05] IFAEpat opened #611 "TFFF-Martinique Aime Cesaire Airport-FORT-DE-FRANCE-MARTINIQUE"
RECYCLED ♻️

[2016-05-21 16:07] IFAEpat commented on #611
Parking error, Minor design issue and Suggestion labels are needed

[2016-05-21 17:41] chriscroft20 opened #612 "EGNH- Blackpool Airport-ENGLAND-UNITED KINGDOM"
Redoing Blackpool Airport

[2016-05-21 19:58] IceBlue02 commented on #611
^^^ Super helpful, thanks @IFAEpat

[2016-05-21 20:48] NickArt1342 commented on #28
is it done @dushyants19 ?

[2016-05-21 21:30] IceBlue02 commented on #598
But you do get a user suggestion one though :wink:

[2016-05-21 21:47] IceBlue02 commented on #398
@henrikbg I assume this has been added?

@kilt46 if so for cataloging.

[2016-05-21 21:51] IceBlue02 commented on #257
@NatIsrael972 current status pls?

[2016-05-21 22:06] NickArt1342 commented on #257
Wasn't I assigned to this?

[2016-05-21 22:56] chriscroft20 commented on #612
Sent for review

[2016-05-21 23:46] NatIsrael972 commented on #257
I don't know. I opened #601 and it was closed and reused as YSSY.. Derp

[2016-05-22 00:23] DavidCutler commented on #257
@NickArt1342 You are assigned to this but @NatIsrael972 is just updating it. No worries :)

[2016-05-22 01:00] NatIsrael972 commented on #257
@NickArt1342 Since you're doing Terminal 4 and I'm doing the Cargo Terminal, it shouldn't be a problem.. I'll wait for you to finish yours before I continue with mine. Meanwhile, I have changed runway properties, ILS, PAPI, beacon and frequencies..

[2016-05-22 10:05] Blently opened #613 "TJSJ-Luis Munoz Marin Airport-SAN JUAN-PUERTO RICO"
Needs the newest extension to the taxiway and the runway (2013), taxi lights and there's a spawn point near a hold short line, I don't know why. Lol
I will do it

[2016-05-22 14:18] moritzbabl commented on #539
Just opened it in WED, will probably need a complete rework, I will do it in a few days

[2016-05-22 15:45] ReflexRSM opened #614 "17FL"
Jumbolair Airport (John Travolta) ;)

Doing this after LPMA

[2016-05-22 15:49] IFAEpat commented on #614
Will be an interesting decision. I hope WEDbing will have it though :/

[2016-05-22 15:55] ReflexRSM commented on #614
Don't worry @IFAEpat, it's there ;)

[2016-05-22 16:02] IFAEpat commented on #614
Alright, good to know @ReflexRSM :)

[2016-05-22 16:30] #567 closed

[2016-05-22 16:30] #398 closed

[2016-05-22 16:36] #592 closed

[2016-05-22 16:41] kilt46 commented on #606
Seems to be missing stands 34-36
![image](https://cloud.githubusercontent.com/assets/14023167/15455174/26569e5c-2012-11e6-9f54-a4464d9dca9a.png)

[2016-05-23 02:32] kilt46 commented on #495
AIRPORT REDRAWN

[2016-05-23 06:36] Zimnaan opened #615 "FAUP-Upington Airport-NORTHERN CAPE-SOUTH AFRICA"
REUSED

[2016-05-23 07:09] dushyants19 commented on #615
You should have checked #326, I told you to search.

[2016-05-23 07:10] dushyants19 commented on #326
from #615

[2016-05-23 07:16] dushyants19 commented on #326
Not an issue.

[2016-05-23 08:36] turkish1941 opened #616 "LTBA-Atatürk Airport-ISTANBUL-TURKEY"
I would like to make the Atatürk International Airport in Turkey.

[2016-05-23 08:50] sumith11 opened #617 "SBSP-Congonhas Airport-SAO PAULO-BRAZIL"
São Paulo–Congonhas Airport
Doing this :)

[2016-05-23 10:11] kilt46 commented on #21
Replaced apron with one slab
![image](https://cloud.githubusercontent.com/assets/14023167/15467564/d0a0641e-20a4-11e6-955e-b19cd97e609d.png)

[2016-05-23 14:19] CaptainTrapBeats commented on #600
HOW TO ACCEPT repository invite?

[2016-05-24 12:46] Arzanex opened #618 "RCKH-Kaohsiung Airport-TAIWAIN-TAIWAN"
Please assign canoneoswen to this airport.
Thanks!

[2016-05-24 14:20] Swang007 commented on #102
Snap to Vertices

[2016-05-24 14:52] sumith11 opened #619 "EFHK-Helsinki Vantaa Airport-SOUTHERN FINLAND-FINLAND"
Re-doing HEL

[2016-05-24 19:31] JcFl4 opened #620 "PAUN"
Unalakleet, AK

[2016-05-24 20:04] dushyants19 commented on #618
What? Please elaborate, @Arzanex .

[2016-05-24 20:44] #620 closed

[2016-05-24 20:44] JcFl4 opened #621 "PASA"
Savoonga, AK

[2016-05-24 20:44] #621 closed

[2016-05-24 20:44] JcFl4 opened #622 "PAIW"
Wales, AK

[2016-05-24 20:45] #622 closed

[2016-05-24 21:37] tranquil-skyflyer opened #623 "CYTZ-Toronto/City Centre Airport-ONTARIO-CANADA"
I'll do this one!

[2016-05-24 23:39] Swang007 commented on #283
https://community.infinite-flight.com/t/airport-parking/41621

[2016-05-25 01:23] henrikbg opened #624 "SCCI-Presidente Carlos Ibanez Del C Airport-MAGALLANES Y ANTARTICA CHILENA-CHILE"
Reused Issue (twice).

[2016-05-25 02:32] kilt46 commented on #180
Completed this!

[2016-05-25 02:32] #180 closed

[2016-05-25 08:51] corporate1401 opened #625 "PTSA-Kosrae Airport-KOSRAE-MICRONESIA"
RECYCLED. ♻️

[2016-05-25 08:52] corporate1401 commented on #625
can someone assign me to it please

[2016-05-25 08:53] corporate1401 opened #626 "EGPG-Cumbernauld Airport-SCOTLAND-UNITED KINGDOM"

[2016-05-25 10:29] corporate1401 commented on #626
sorry i got the ICAO wrong thats why i didnt know someone had done it already

[2016-05-25 10:45] corporate1401 opened #627 "EGPK - Prestwick International"

[2016-05-25 12:42] #614 closed

[2016-05-25 20:00] JcFl4 opened #628 "PAOR"
Northway, AK

[2016-05-25 20:47] #628 closed

[2016-05-25 21:20] JcFl4 opened #629 "CKU"
Cordova Municipal, AK

[2016-05-25 21:20] #629 closed

[2016-05-26 00:20] henrikbg opened #630 "KRTS-Stead Field-NEVADA-USA"
Reno/Stead Airport.

[2016-05-26 00:37] kilt46 commented on #465
This does not contain full compliment of gates. Also terminal buildings are poor.

[2016-05-26 06:12] henrikbg opened #631 "KVAD-Moody Air Force Base-GEORGIA-USA"
Moody Air Force Base.

[2016-05-26 06:12] henrikbg opened #632 "KVLD-Valdosta Regional-GEORGIA-USA"
Valdosta Regional.

[2016-05-26 18:58] JcFl4 opened #633 "PASM"
St. Mary's, AK

[2016-05-26 20:07] #633 closed

[2016-05-26 20:08] JcFl4 opened #634 "PAOO"
Toksook Bay, AK

[2016-05-26 20:50] #634 closed

[2016-05-27 12:09] chriscroft20 opened #636 "EIDW"
Redoing Dublin Airport

[2016-05-27 13:04] JcFl4 opened #637 "PAHP"
Hooper Bay, AK

[2016-05-27 13:48] #637 closed

[2016-05-27 16:46] JcFl4 opened #638 "PAPO"
Point Hope, AK

[2016-05-27 16:46] #638 closed

[2016-05-27 17:04] JcFl4 opened #639 "PADU"
Unalaska, AK

[2016-05-27 17:18] IceBlue02 commented on #454
Duplicate?
https://github.com/InfiniteFlightAirportEditing/Airports/issues/379

[2016-05-27 17:19] IceBlue02 commented on #379
Not having much time at the moment so freeing this up

@freddiefrogs ;)

[2016-05-27 17:20] IceBlue02 commented on #627
@corporate1401 are you doing this?

[2016-05-27 18:35] corporate1401 commented on #627
yeah

[2016-05-27 19:11] #639 closed

[2016-05-27 19:14] JcFl4 opened #640 "PACE"
Central, AK

[2016-05-27 19:34] #640 closed

[2016-05-27 20:23] JcFl4 opened #641 "PAKK"
Koyuk Airport, AK

[2016-05-27 20:23] #641 closed

[2016-05-27 20:25] JcFl4 opened #642 "PACX"
Coldfoot, AK
Yes, Coldfoot.

[2016-05-27 21:01] #642 closed

[2016-05-27 21:22] JcFl4 opened #643 "PAUM"
Umiat, AK

[2016-05-27 21:22] #643 closed

[2016-05-27 21:24] IFAEpat opened #644 "NCRG"
Rarotonga International - 1 runway, 1 ramp, 1 gate

[Non-Region and Suggestion]

[2016-05-27 21:28] JcFl4 opened #645 "PFYU"
Fort Yukon, AK

[2016-05-27 22:30] #645 closed

[2016-05-27 23:28] henrikbg commented on #644
@IFAEpat, we no longer use the non-region label. :)

[2016-05-28 01:26] henrikbg commented on #631
Redone.

[2016-05-28 01:26] #631 closed

[2016-05-28 01:35] henrikbg commented on #632
Redone.

[2016-05-28 13:03] JcFl4 opened #646 "PAHO-Homer Airport-ALASKA-USA"
Homer, AK

[2016-05-28 16:05] chriscroft20 opened #647 "EGNT- Newcastle Airport-ENGLAND-UNITED KINGDOM"
Newcastle airport redo

[2016-05-28 19:35] IFAEpat commented on #644
ah, thanks @henrikbg

[2016-05-28 19:36] IFAEpat opened #648 "RJCW-Wakkanai Airport-HOKKAIDO-JAPAN"
Wakkanai

[Being Redone]

[2016-05-28 20:33] JcFl4 commented on #646
You didn't give me a chance!!

[2016-05-28 20:47] JcFl4 opened #649 "PAOM"
Nome, AK

[2016-05-28 20:56] IFAEpat commented on #542
sent for reviewal

[2016-05-29 12:03] 5620monte commented on #525
I will take take it

[2016-05-29 12:19] turkish1941 opened #650 "LTAC"
I will make the airport.

[2016-05-29 12:50] dushyants19 commented on #610
Still not approved? Probably something wrong on your part.

[2016-05-29 14:27] henrikbg opened #651 "MBPV-Providenciales International Airport-WEST CAICOS-TURKS AND CAICOS ISLANDS"
Providenciales International Airport.

[2016-05-29 16:02] IFAEpat commented on #388
This was my second airport, needs closing

[2016-05-29 19:25] #649 closed

[2016-05-29 19:33] moritzbabl commented on #599
Finished it, mail was just sent

[2016-05-29 20:45] danielshaw opened #652 "KFCI"
I will redo this airport.

[2016-05-29 21:07] JcFl4 opened #653 "PABR"
Barrow, AK (Wiley Post-Will Rogers Memorial)

[2016-05-29 22:33] henrikbg commented on #652
Added proper labels. :)

[2016-05-29 23:28] #599 closed

[2016-05-29 23:44] #653 closed

[2016-05-30 03:40] IFAEpat opened #654 "RJDC-Yamaguchi Ube-YAMAGUCHI-JAPAN"
Yamaguchi-Ube Airport

(Has been done, forgot to make issue, sorry)

[2016-05-30 03:41] IFAEpat opened #655 "RJFF-Fukuoka Airport-FUKUOKA-JAPAN"
Needs rename FUKUOKA-Fukuoka

(Also done, forgot to make issue, sorry again)

[2016-05-30 03:44] IFAEpat opened #656 "RJOY"
Yao

[Being Redone]

[2016-05-30 03:45] IFAEpat opened #657 "RJGG-Chubu Centrair Intl-AICHI-JAPAN"
Chubu International

[Being Redone]

[2016-05-30 03:46] IFAEpat opened #658 "RJCC-New Chitose Airport-HOKKAIDO-JAPAN"
New Chitose

[Being Redone]

[2016-05-30 03:48] IFAEpat opened #659 "RJFU-Nagasaki Airport-NAGASAKI-JAPAN"
Nagasaki International

[Being Redone]

[2016-05-30 04:17] kilt46 commented on #655
This one needs more work. Terminal is missing, Overlapping aprons, not snapped.Gate lines incomplete. Looks like an XPlane copy

[2016-05-30 12:34] JcFl4 opened #660 "PACV"
Merle K. (Mudhole) Smith Airport, AK

[2016-05-30 19:57] #660 closed

[2016-05-30 20:06] JcFl4 opened #661 "PANU"
Nulato, AK

[2016-05-30 20:23] #661 closed

[2016-05-30 20:26] JcFl4 opened #662 "PAVL"
Kivalina, AK

[2016-05-30 20:46] #662 closed

[2016-05-30 21:49] nmasterson opened #663 "EGPN-Dundee Airport-SCOTLAND-UNITED KINGDOM"
Assigned to me

[2016-05-30 22:34] nmasterson commented on #663
- Update to ILS critical area
- Added 3rd ramp to apron A
- Removed taxiway adjacent to TWY D and extended taxi line
- Removed heavy jets from ramp start up

[2016-05-30 23:28] chriscroft20 commented on #647
sent for review

[2016-05-31 00:02] chriscroft20 opened #664 "EINN"
redo of Shannon airport in Ireland

[2016-05-31 00:10] henrikbg commented on #663
@nmasterson, I've invited you to the airport editors team. Could you accept? (Invitation should be located in your email.)

[2016-05-31 04:29] IFAEpat commented on #659
Sent for reviewal :)

[2016-05-31 08:44] JcFl4 opened #665 "PADQ"
Kodiak, AK

[2016-05-31 10:42] nmasterson opened #666 "EGPD-Aberdeen Dyce Airport-SCOTLAND-UNITED KINGDOM"
assigned to me

[2016-05-31 10:52] turkish1941 opened #667 "LTAI-Antalya Airport-ANTALYA-TURKEY"
I will make this airport.

[2016-05-31 15:13] chriscroft20 commented on #664
sent for review

[2016-05-31 15:32] chriscroft20 opened #668 "LEIB-Ibiza Airport-ISLAS BALEARES-SPAIN"
Redo of Ibiza Airport

[2016-05-31 17:22] turkish1941 commented on #616
e-mail has been sent

[2016-05-31 17:23] turkish1941 commented on #650
e-mail has been sent

[2016-05-31 17:55] #665 closed

[2016-05-31 19:11] moritzbabl opened #669 "EDJA- Memmingen Airport-BAYERN-GERMANY"
I will do this one

[2016-05-31 19:42] moritzbabl opened #670 "EDMO - OBERPFAFFENHOFEN"
I'll do that

[2016-05-31 19:52] danielshaw commented on #652
Sent for peer review. Will be sent in for final review in a few hours.

[2016-05-31 19:54] danielshaw opened #671 "KFVX"
I am redoing KFVX.

[2016-05-31 20:42] Aviationluver opened #672 "EDDT-Berlin Tegel Airport-BERLIN-GERMANY"
Berlin Tegel

[2016-05-31 21:58] NickArt1342 opened #673 "HAJM-Jimma/Aba Jifar Airport-OROMIA-ETHIOPIA"
PLEASE REUSE ME.

[2016-05-31 21:59] NickArt1342 opened #674 "LSPU"
Aerodome Münster

[2016-05-31 22:00] NickArt1342 opened #675 "LSZS"
Samedan Airport

[2016-05-31 22:01] NickArt1342 opened #676 "LSZA"

[2016-05-31 22:02] NickArt1342 opened #677 "LSZB-Belp Airport-BERN-SWITZERLAND"
Bern Airport

[2016-06-01 00:03] kilt46 commented on #605
Missing a ton of buildings
![Uploading image.png…]()

[2016-06-01 00:09] kilt46 commented on #603
Please clean up main apron and provide more defined buildings
![image](https://cloud.githubusercontent.com/assets/14023167/15694411/432e7182-2763-11e6-897f-2f849cca89f8.png)

[2016-06-01 00:23] danielshaw commented on #605
I didn't realize I was supposed to make buildings concrete until I was on
my second airport when someone told me. I will definitely fix this airport.
My sincerest apologies.

On Tue, May 31, 2016 at 8:05 PM, Kilt McHaggis <notifications@github.com>
wrote:

[2016-06-01 01:11] #652 closed

[2016-06-01 06:44] NickArt1342 commented on #26
As my issue has been closed and refurbished, I'm writting this message here to if you have any issue with this airports or questions, you should contact me.

[2016-06-01 06:53] NickArt1342 commented on #537
@samuelandersson open it in wed and download the sat images from wedbing again (it is possible at the beginning when everything is selected in the airport that you move the sat images per accident). Check if it's misalligned with your version and allign it. (select whole airport top right in the menu and use the square tool to move it while still being in same shape.

[2016-06-01 10:14] Will171 commented on #18
All improvements completed, and emailed

[2016-06-01 12:42] antbelldev commented on #439
Waiting for peer-review.

[2016-06-01 16:42] NickArt1342 commented on #25
Some spawn points need to be made heavy capable (for example B64, so my T7s nose doesn't stick into the terminal)

[2016-06-01 17:28] chriscroft20 opened #678 "LGAV-Athens Eleftherios Venizelos Airport-ATTIKI-GREECE"
Athens Eleftherios Venizelos Airport redo

[2016-06-02 15:53] dushyants19 commented on #656
@henrikbg why did you assign yourself :neutral_face:

[2016-06-02 15:55] henrikbg commented on #656
My bad, Dush.

[2016-06-02 15:57] planemadnews opened #679 "FVBU-Bulawayo Joshua Nkomo Airport-MATABELELAND-ZIMBABWE"
I am editing Bulawayo now

[2016-06-02 16:03] dushyants19 commented on #605
Approved by Henrik. [Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/707c42599766bde7ed5009161d7e9c0664098d8b)

[2016-06-02 16:03] #605 closed

[2016-06-02 18:13] planemadnews opened #680 "FACT-Cape Town International Airport-WESTERN CAPE-SOUTH AFRICA"
Reworking FACT

[2016-06-03 00:17] TristinWoolf commented on #579
Sent in for approval!

[2016-06-03 01:10] TristinWoolf opened #681 "LFLJ"
Courchevel Altiport, France

Will do this one quickly.

[2016-06-03 03:04] TristinWoolf commented on #681
Just sent it in for approval.

[2016-06-03 03:05] TristinWoolf opened #682 "EIDL"
Donegal Airport, Ireland

Will do this one quickly also.

[2016-06-03 04:16] TristinWoolf commented on #682
Sent in for approval.

[2016-06-03 09:10] dushyants19 commented on #650
If it hasnt been approved till now, something is wrong with the airport :)

[2016-06-03 09:16] dushyants19 commented on #29
@kilt46 still doing this?

[2016-06-03 13:37] sudafly commented on #556
Send!

[2016-06-03 13:38] sudafly commented on #556
Waiting for approvement Label?

[2016-06-03 17:13] JcFl4 opened #683 "PABE"
Bethel, AK

[2016-06-03 19:08] planemadnews commented on #679
Sent for Review

[2016-06-03 19:08] planemadnews commented on #680
Sent for Review

[2016-06-03 19:15] planemadnews commented on #498
Does this need to be redone?

[2016-06-03 19:16] planemadnews opened #684 "FZAA-Kinshasa-N'Djili Airport-KINSHASA-DR CONGO"
Reused

[2016-06-03 19:17] TristinWoolf commented on #498
Yes, @planemadnews

[2016-06-03 19:29] ghost opened #685 "HAAB-Bole Airport-ADDIS ABABA-ETHIOPIA"
To be redone - I am happy to redo it

[2016-06-03 19:34] planemadnews commented on #498
Want to asign it to me @TristinWoolf

[2016-06-03 19:35] TristinWoolf commented on #498
Sure thing!

[2016-06-03 19:50] TristinWoolf commented on #644
I can do this one quick.

[2016-06-03 20:49] IFAEpat opened #686 "RJBE"
Kobe - Kobe, Japan

[2016-06-03 22:28] TristinWoolf commented on #644
Just finished and sent it in!

[2016-06-03 22:54] TristinWoolf commented on #684
I can do this one!

[2016-06-04 01:19] #681 closed

[2016-06-04 01:19] #682 closed

[2016-06-04 02:50] #644 closed

[2016-06-04 04:27] TristinWoolf commented on #684
Sent in for approval.

[2016-06-04 10:04] superkev99 opened #687 "EDDW"
Bremen, Germany

[2016-06-04 10:31] dushyants19 commented on #687
Do you want to redo EDDW, @superkev99? :)

[2016-06-04 10:32] superkev99 commented on #687
yes, @dushyants19 :)

[2016-06-04 10:33] dushyants19 commented on #687
Cool @superkev99, can you just check your email and accept an invite from Github? :)

[2016-06-04 10:39] dushyants19 commented on #687
Thank you!

[2016-06-04 10:40] superkev99 commented on #687
no problem :)

[2016-06-04 10:46] planemadnews commented on #593
I will take this on....

[2016-06-04 10:58] #684 closed

[2016-06-04 12:03] planemadnews opened #688 "BIKF-Keflavik Airport-SUDURNES-ICELAND"
Happy to redo this too, although may be some time, as I have a few to do now

[2016-06-04 14:48] TristinWoolf commented on #539
@IceBlue02 Why is @bylrret assigned? I thought that @moritzbabl was gonna do it?

[2016-06-04 15:23] IceBlue02 commented on #539
@TristinWoolf good spot sorry

[2016-06-04 15:25] TristinWoolf commented on #615
I will do this one.

[2016-06-04 16:45] dushyants19 commented on #143
Quickly fixing the borders of holes and adding 0 to unit numbers

[2016-06-04 17:00] dushyants19 commented on #143
Done. [Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/0d97bcacca32ce472f6d95b4956a756ab0823db4)

[2016-06-04 17:03] dushyants19 commented on #143
And changed Field Elevation, from 4.6 to 64.6 [Commit](http://www.airnav.com/airport/kfll)

[2016-06-04 19:00] JcFl4 commented on #688
Damn, I'm too late... hahaha

[2016-06-04 19:00] JcFl4 commented on #685
Too late again... lol

[2016-06-04 20:16] Misha16 opened #689 "EGSH"
Lil tidy up. Lines being added etc etc

[2016-06-05 02:49] IFAEpat opened #690 "EDKB"
No lines in airport. Could do with a tidy up. Existing IF build

[2016-06-05 05:40] TristinWoolf commented on #99
Missing one hold short line and others are backwards. Will fix this quickly.

[2016-06-05 06:28] TristinWoolf commented on #99
Fixed. :)

[2016-06-05 06:32] TristinWoolf commented on #690
Will fix this quickly.

[2016-06-05 06:36] TristinWoolf commented on #690
Fixed.

[2016-06-05 07:55] moritzbabl commented on #669
Sent for approval some hours ago

[2016-06-05 10:51] sudafly commented on #529
Who can unassigns me? I have don't have time now, because i have now exams.

[2016-06-05 12:20] planemadnews commented on #319
Sent in for review

[2016-06-05 14:27] JcFl4 opened #691 "YBCG-Gold Coast Airport-QUEENSLAND-AUSTRALIA"
Gold Coast, AU

[2016-06-05 14:51] moritzbabl commented on #670
Just sent for approval

[2016-06-05 15:03] IFAEpat opened #692 "NSFA"
Faleolo Int'l - un-needed terrain and parking lot, inaccurate border, easy fix

[2016-06-05 16:48] dushyants19 commented on #689
@henrikbg clear all labels. :rage:

[2016-06-05 21:47] #683 closed

[2016-06-05 22:16] TristinWoolf commented on #615
Finished and sent in.

[2016-06-05 22:32] #650 closed

[2016-06-05 22:37] TristinWoolf commented on #606
Will look into this quickly.

[2016-06-05 22:44] TristinWoolf commented on #606
@kilt46 It looks like that chart is different than what the WEDBing imagery shows. The concrete area does not extend past 31, 32, and 33.

[2016-06-05 22:50] TristinWoolf opened #693 "9B1"
Marlboro Airport

Being redone by @Padi3-14 :)

[2016-06-05 22:57] TristinWoolf commented on #691
Will do this one.

[2016-06-05 23:19] TristinWoolf commented on #691
Appears to just be minor issues/missing things. I will fix them!

[2016-06-05 23:55] TristinWoolf commented on #691
I can see why this issue was created. Needs a complete redo. Starting now.

[2016-06-06 00:59] danielshaw opened #695 "KRIC-Richmond International Airport-VIRGINIA-USA"
Redo of Richmond International Airport.

[2016-06-06 01:00] danielshaw commented on #671
Sent in for review.

[2016-06-06 01:46] #671 closed

[2016-06-06 02:12] TristinWoolf opened #696 "KABE"
Lehigh Valley International Airport

Next on my list! :)

[2016-06-06 03:15] AR-AR-AR commented on #696
Excellente!

[2016-06-06 10:35] JcFl4 opened #697 "PASI-Sitka Rocky Gutierrez-ALASKA-USA"
Sitka, AK

[2016-06-06 11:15] corporate1401 commented on #529
have i to do this one??

[2016-06-06 15:08] JcFl4 commented on #697
Alaska is over for now.

[2016-06-07 01:47] IFAEpat commented on #655
Reflection way too strong on Concrete Slabs, can someone with a working Google Earth software do this? Thanks :)

[2016-06-07 01:49] IFAEpat commented on #657
Concrete reflects sunlight too much, unable to draw most of the airport. Can someone with a working Google Earth software do this? Thanks :)

[2016-06-07 20:57] TristinWoolf commented on #691
Finished and sent in.

[2016-06-08 15:41] Will171 commented on #689
Can someone assign me, im planning on adding ils centre lines and merging most of the taxiways in to one big one.

[2016-06-08 16:06] NickArt1342 commented on #689
@Will171 This has just been redone 3 days ago. Did you check the april2016 branch if it didn't already have those things you stated you would add?

[2016-06-08 16:07] Will171 commented on #689
Yeah I did

[2016-06-08 16:14] Will171 commented on #689
Yeah I did, I'm using the April 2016 copy

[2016-06-08 17:20] NickArt1342 commented on #689
@dushyants19 Leave the assignee assigned dush, so when sb has a question about the airport they can easily find who was last assigned.

[2016-06-08 17:30] IceBlue02 commented on #692
@IFAEpat why did you add this to the user suggestion list?

[2016-06-08 20:54] henrikbg commented on #235
Updated ATC frequencies as per airnav.

[2016-06-08 22:03] henrikbg commented on #382
Added cargo area and west ramp. This airport still needs work. Hold shorts not snapped, the list goes on.

[2016-06-09 00:42] henrikbg commented on #651
Done.

[2016-06-09 00:43] henrikbg commented on #630
The airport itself is finished. Waiting on an anonymous individual to send me ground charts.

[2016-06-09 00:45] henrikbg commented on #338
I have more important stuff to work on at the moment. I'll un-assign myself just in case other people want to work on this airport.

[2016-06-09 02:15] Oguz8011 commented on #667
Completed or still editing?

[2016-06-09 02:50] DavidCutler opened #699 "SVMD-Merida/Alberto Carnevalli Airport-MERIDA-VENEZUELA"
RECYCLED ♻️

[2016-06-09 04:17] henrikbg commented on #522
Redone.

[2016-06-09 05:59] TristinWoolf commented on #696
Finished and sent in.

[2016-06-09 06:01] TristinWoolf opened #700 "MYEH"
North Eleuthera Airport

Will redo this one next.

[2016-06-09 07:00] turkish1941 commented on #667
Completed but I am on vacation. Will send it in on sunday.

[2016-06-09 10:41] JcFl4 opened #701 "ZSPD-Shanghai Pudong Airport-SHANGHAI-CHINA"
Shanghai International, China

[2016-06-09 12:46] DavidCutler opened #702 "KCMH"
Port Columbus Ohio :)

[2016-06-09 13:12] #696 closed

[2016-06-09 13:30] JcFl4 commented on #597
So no one is doing this one?

[2016-06-09 14:52] NickArt1342 commented on #597
I thought @ReflexRSM was, but @dushyants19 Dush unassigned him so I don't know.

[2016-06-09 15:28] JcFl4 commented on #597
I'll eventually do it, like many other airports I have on the waiting list.

[2016-06-09 17:55] Oguz8011 commented on #667
Thank you bro.

Eyvallah kardeş. Diğerlerini de yetiştirebilir misin? Yapabilirim dersen İzmir Ankara Antalya ve Sabiha Gökçen de iyi olurdu.

[2016-06-09 19:22] IceBlue02 commented on #482
https://community.infinite-flight.com/t/kriv-runway-12-30/44207

Will make changes as necessary.

[2016-06-09 19:31] IceBlue02 commented on #482
Actually unable at this time sorry

[2016-06-09 21:25] #630 closed

[2016-06-09 22:25] TristinWoolf commented on #700
Done

[2016-06-09 22:25] #700 closed

[2016-06-09 23:26] TristinWoolf opened #703 "MYAB"
Clarence A Bain Airport

Being redone.

[2016-06-09 23:38] TristinWoolf commented on #703
Done.

[2016-06-09 23:44] TristinWoolf opened #704 "MYAF"
Fresh Creek Airport

Being redone.

[2016-06-10 00:07] TristinWoolf commented on #704
Done.

[2016-06-10 00:07] #704 closed

[2016-06-10 00:31] TristinWoolf opened #705 "MYAK"
Congo Town Airport

Being Redone.

[2016-06-10 01:04] TristinWoolf commented on #705
Done.

[2016-06-10 01:04] #705 closed

[2016-06-10 01:15] TristinWoolf opened #706 "MYAM"
Marsh Harbor International Airport

Being redone.

[2016-06-10 04:10] TristinWoolf commented on #706
Done.

[2016-06-10 04:10] #706 closed

[2016-06-10 04:17] TristinWoolf opened #707 "MYAN"
San Andros

Being redone.

[2016-06-10 04:32] TristinWoolf commented on #707
Done.

[2016-06-10 04:40] TristinWoolf opened #708 "MYAP"
Spring Point Airport

Being redone.

[2016-06-10 04:52] TristinWoolf commented on #708
Done.

[2016-06-10 04:56] TristinWoolf opened #709 "MYAS"
Sandy Point Airstrip

Being redone.

[2016-06-10 05:07] TristinWoolf commented on #709
Done.

[2016-06-10 05:13] TristinWoolf opened #710 "MYAT"
Treasure Cay Airport

Being redone.

[2016-06-10 05:39] TristinWoolf commented on #710
Done.

[2016-06-10 05:46] TristinWoolf opened #711 "MYAW-Walkers Cay Airport-ABACO ISLANDS-BAHAMAS"
Walkers Cay Airport

Very poor imagery, but will try my best to redo, as it is very small.

[2016-06-10 05:54] TristinWoolf commented on #711
Imagery (as poor as it is on WEDBing) will not upload into WED. Google Earth appears to good imagery for the airport that is not blurry, so anyone that has Google Earth set up and knows how to import it into WED is welcome to do this airport. It is a very small airport with just a small runway and very small ramp, enough room for one GA spawn point. Would be a very quick and easy airport to do wit

[2016-06-10 05:55] turkish1941 commented on #667
Tabi abi, Atatürk ve esenboğa yaptım. Eve gelince Izmir ve Sabiha G. once yaparım.

[2016-06-10 11:21] dushyants19 commented on #482
OP of that topic is wrong.

https://community.infinite-flight.com/t/kriv-runway-12-30/44207/3?u=dush19

[2016-06-10 11:37] dushyants19 commented on #482
Looks like there is an issue....

[2016-06-10 13:48] dushyants19 commented on #482
Done. [Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/e2d9c5a33fa41c799cf9007bc7a2957966e81d32)

[2016-06-10 13:48] #482 closed

[2016-06-10 16:55] samtheairportguy opened #712 "KELP-El Paso International Airport-TEXAS-USA"
RECYCLED AGAIN.

[2016-06-10 17:13] TristinWoolf commented on #712
Duplicate issue. Remember to always search the tracker to see if an issue already exists for it.
For further discussion go to #468  :)

[2016-06-10 21:25] TristinWoolf opened #713 "MYCA"
Arthurs Town Airport

Being redone.

[2016-06-10 21:46] TristinWoolf commented on #713
Done.

[2016-06-10 21:53] TristinWoolf opened #714 "MYCB"
New Bight Airport

Being redone.

[2016-06-10 22:10] TristinWoolf commented on #714
Done.

[2016-06-10 22:25] TristinWoolf opened #715 "MYCH"
Hawks News Airport

Being redone.

[2016-06-11 07:28] dushyants19 commented on #601
Done, [Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/21e1d31d0bd3914b9a65089cc4ba5cbd0a4b1c97#diff-e093ec86736a825e1e3ae635b870f379)

[2016-06-11 16:56] dushyants19 commented on #318
@IceBlue02 did this get approved?

[2016-06-11 17:52] turkish1941 opened #716 "LTFJ"
I will make this one

[2016-06-11 18:26] moritzbabl commented on #670
The Airport has been approved

[2016-06-11 18:28] #670 closed

[2016-06-12 03:20] ReflexRSM opened #717 "RPVT"
Requested by someone on a group chat. It's a small airport, should be done within minutes.

[2016-06-12 03:28] ReflexRSM commented on #717
Completed, sent for approval.

[2016-06-12 11:36] sumith11 opened #718 "MHTG-Toncontin Airport-FRANCISCO MORAZAN-HONDURAS"
Toncontín International Airport. Will be doing this alongside HEL

You might have heard about this airport!
https://www.youtube.com/watch?v=v_z5HtME9n8

[2016-06-12 12:26] #717 closed

[2016-06-12 13:54] ReflexRSM commented on #598
No one planning do? If so I'll grab this one!

[2016-06-12 22:43] TristinWoolf commented on #715
Done. Had to build this one from scratch.

[2016-06-12 22:47] TristinWoolf commented on #715
Forgot to add airport boundary. Adding it now.

[2016-06-12 23:13] TristinWoolf opened #719 "MYCI"
Colonel Hill Airport

Being redone.

[2016-06-12 23:37] TristinWoolf commented on #719
Done.

[2016-06-12 23:44] TristinWoolf opened #720 "MYCP"
Pitts Town Airport

Being done from scratch.

[2016-06-13 02:40] IFAEpat opened #721 "UAAA-Almaty Airport-ALMATY-KAZAKHSTAN"
RECYCLED.

[2016-06-13 10:10] lachieee commented on #596
Sent to email for submission - new taxi lines, added taxiway edge lights, additional ramp starts, [runways have been moved]

[2016-06-13 10:59] sumith11 opened #722 "OBBI-Bahrain International Airport-MUHARRAQ-BAHRAIN"

[2016-06-13 11:00] NickArt1342 commented on #667
Have you sent it in yet?

[2016-06-13 11:01] #674 closed

[2016-06-13 11:01] #675 closed

[2016-06-13 11:02] NickArt1342 commented on #433
Was this completed?

[2016-06-13 11:08] dushyants19 commented on #721
Search before posting #12

[2016-06-13 11:09] dushyants19 commented on #721
V bad, Pat.

[2016-06-13 11:10] dushyants19 commented on #433
Not completed, Nick.

[2016-06-13 11:11] dushyants19 commented on #433
And henrik, please add proper labels. (Suggestion)

[2016-06-13 11:14] dushyants19 commented on #12
Blue lights inside buildings. from #721

[2016-06-13 14:54] SudarshanMahesh opened #724 "TNCC-Hato Curacao International Airport-WILLEMSTAD-CURACAO"
Who can assign me?

[2016-06-13 15:25] SudarshanMahesh opened #725 "EBNM-Namur-Suarlee Airport-WALLONIE-BELGIUM"
Current active airport. Needs some buildings

[2016-06-13 15:47] dushyants19 commented on #724
You are doing this.

[2016-06-13 15:48] dushyants19 commented on #725
Check #724

[2016-06-13 15:49] sudafly commented on #724
It's very hard to do, because there are clouds. What should i do?

[2016-06-13 15:50] dushyants19 commented on #724
So you dont want to do this?

[2016-06-13 15:51] sudafly commented on #724
Did you know a way to bypass the clouds? If not, unassign me.

[2016-06-13 15:51] dushyants19 commented on #724
Yes, you can. You have to import scenery from Google maps.

[2016-06-13 16:37] sudafly commented on #724
Yes i do that there are clouds

[2016-06-13 16:38] SudarshanMahesh opened #726 "OMDW-Dubai/Al Maktoum International Airport-DUBAI-UNITED ARAB EMIRATES"
I do this, and there are no clouds ;)

[2016-06-13 20:53] Aviationluver opened #727 "ELLX-Luxembourg Airport-LUXEMBOURG-LUXEMBOURG"
Luxembourg Findel Airport.

[2016-06-13 21:36] henrikbg commented on #667
Approved.

[2016-06-13 22:33] cboisselier commented on #589
I'm on that one @dushyants19

[2016-06-14 04:14] IFAEpat opened #728 "KJVY-Clark Regional Airport-INDIANA-USA"
Clark Rgnl

[2016-06-14 04:16] IFAEpat opened #729 "KLOU"
Bowman Field

[2016-06-14 19:04] henrikbg opened #730 "ENBR-Bergen Flesland Airport-HORDALAND-NORWAY"
Bergen Airport, Flesland.

[2016-06-14 21:59] henrikbg commented on #373
Fixed some minor stuff.

[2016-06-14 21:59] #373 closed

[2016-06-15 04:21] henrikbg commented on #730
Redone.

[2016-06-15 04:22] henrikbg opened #731 "ENSB-Svalbard/Longyear Airport-SVALBARD-NORWAY"
Svalbard Airport.

[2016-06-15 04:22] henrikbg commented on #731
Redone.

[2016-06-15 04:49] henrikbg opened #732 "ENBO-Bodo Airport-NORDLAND-NORWAY"
Bodo Airport.

[2016-06-15 04:59] IFAEpat opened #733 "KJAC"
— Jackson Hole

- Inaccurate Border, Beacon and Tower
- Missing spawns
- Unneeded terrain and parking lot

[2016-06-15 05:42] lachieee opened #734 "NZQN-Queenstown Airport-OTAGO-NEW ZEALAND"
Queenstown Airport - NZ

[2016-06-15 07:12] henrikbg opened #735 "ENBN-Bronnoysund-NORDLAND-NORWAY"
Brønnøysund Airport, Brønnøy.

[2016-06-15 07:56] henrikbg commented on #735
Redone.

[2016-06-15 07:56] #735 closed

[2016-06-15 09:15] henrikbg opened #736 "ENSD-Sandane-NORWAY"
Sandane Airport.

[2016-06-15 09:15] henrikbg opened #737 "ENSG-Sogndal-NORWAY"
Sogndal Airport.

[2016-06-15 12:44] 35000feet opened #738 "LFLI-Annemasse-France"
LFLI
Annemasse
France

[2016-06-15 13:39] IFAEpat commented on #547
I'm still working on this one, will be finished soon.

[2016-06-15 18:46] henrikbg commented on #737
WEDBing imagery isn't the best for this airport. I'll attempt orthophotos but it'll take time.

[2016-06-15 20:42] henrikbg commented on #736
Redone.

[2016-06-15 20:42] #736 closed

[2016-06-15 23:56] TristinWoolf commented on #720
Finished. Had to do this one from scratch with a Google orthophoto.

[2016-06-16 01:10] TristinWoolf opened #739 "MYCX"
Cutlass Bay Airport.

Redone by myself.

[2016-06-16 01:26] TristinWoolf commented on #703
Added UNICOM frequency.

[2016-06-16 01:27] TristinWoolf commented on #707
Added airport beacon.

[2016-06-16 01:28] TristinWoolf commented on #708
Added airport beacon.

[2016-06-16 01:29] TristinWoolf commented on #709
Added airport beacon.

[2016-06-16 01:36] TristinWoolf commented on #710
Added airport beacon.

[2016-06-16 01:39] TristinWoolf commented on #713
Added airport beacon and UNICOM frequency.

[2016-06-16 01:41] TristinWoolf commented on #714
Added airport beacon.

[2016-06-16 01:49] TristinWoolf commented on #715
Added airport beacon and UNICOM frequency.

[2016-06-16 01:51] TristinWoolf commented on #719
Added airport beacon and UNiCOM frequency.

[2016-06-16 01:55] TristinWoolf commented on #720
Added airport beacon.

[2016-06-16 01:58] TristinWoolf commented on #739
Adjusted UNICOM frequency.

[2016-06-16 02:02] #703 closed

[2016-06-16 02:02] #707 closed

[2016-06-16 02:03] #708 closed

[2016-06-16 02:03] #709 closed

[2016-06-16 02:03] #710 closed

[2016-06-16 02:03] #713 closed

[2016-06-16 02:03] #714 closed

[2016-06-16 02:04] #715 closed

[2016-06-16 02:04] #719 closed

[2016-06-16 02:04] #720 closed

[2016-06-16 02:04] #739 closed

[2016-06-16 02:22] TristinWoolf opened #740 "MYE2"
Blackpoint Airport.

Being redone.

[2016-06-16 02:46] TristinWoolf commented on #740
Done.

[2016-06-16 02:57] TristinWoolf commented on #740
Added UNICOM frequency.

[2016-06-16 02:59] #740 closed

[2016-06-16 03:11] TristinWoolf opened #741 "MYE3"
Farmer's Cay Airport

Being redone.

[2016-06-16 03:45] TristinWoolf commented on #741
Done.

[2016-06-16 03:45] #741 closed

[2016-06-16 14:20] Padi3-14 commented on #693
I just finished this, and i've sent the apt.dat file to the email address!

[2016-06-16 15:02] turkish1941 commented on #716
sent

[2016-06-16 15:11] Swang007 commented on #102
Apron accidentally got deleted last month, should now be fixed

[2016-06-16 15:19] #466 closed

[2016-06-16 15:20] dushyants19 commented on #466
Done. [Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/f931ff5f634f55a8762dfc956c31751135a85ef6)

[2016-06-16 15:20] dushyants19 commented on #716
Done. [Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/5b05481082d49e3570e32bfdbdc9ef8a718b2d94)

[2016-06-16 15:20] #716 closed

[2016-06-16 15:21] dushyants19 commented on #738
Done. [Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/c20f194de57c6b5e4b6e80e246518e209b17f9d4)

[2016-06-16 15:21] #738 closed

[2016-06-16 15:21] dushyants19 commented on #734
Do you want to do this? @lachieee

[2016-06-16 15:30] planemadnews commented on #680
Sent in for approval

[2016-06-16 15:40] planemadnews commented on #319
Sent for Review

[2016-06-16 17:10] turkish1941 opened #742 "LTBJ-Adnan Menderes Airport-IZMIR-TURKEY"
Will make this one

[2016-06-16 23:03] moritzbabl opened #743 "ETIC"
Grafenwöhr Army Airfield - Bavaria-Germany
I'll do this quickly

[2016-06-17 03:38] lachieee commented on #734
Yep @dushyants19

[2016-06-17 06:18] B777fan opened #744 "LGSK-Skiathos Airport-THESSALIA-GREECE"
Currently re-doing.

[2016-06-17 07:43] turkish1941 commented on #616
Accepted around 2 weeks ago.

[2016-06-17 08:03] NickArt1342 commented on #744
@B777fan I can't assign you until you have accepted the invite to this github repository. To get invited ask to be in the slack chat.

[2016-06-17 12:06] moritzbabl commented on #743
Sent for approval

[2016-06-17 12:07] moritzbabl commented on #539
Sent for approval

[2016-06-17 12:10] moritzbabl opened #745 "EDMS"
Straubing
Small airport, I'll do this one quickly

[2016-06-17 15:29] dushyants19 commented on #290
@freddiefrogs did this get approved?

[2016-06-17 23:34] moritzbabl commented on #745
Sent for approval

[2016-06-18 03:58] Tbynum94 opened #746 "KHSV"
Huntsville International Airport, closed to my home town would like to work it.

[2016-06-18 04:31] ReflexRSM commented on #744
Looks like I'm a bit late..

[2016-06-18 04:47] B777fan commented on #744
Sorry all for this.

On Sat, Jun 18, 2016 at 2:31 PM, Sumith M <notifications@github.com> wrote:

[2016-06-18 04:47] B777fan commented on #744
Yeah, I'm sorry for all of this.

[2016-06-18 06:01] ReflexRSM commented on #381
I'll grab this one!

[2016-06-18 13:10] Will171 commented on #403
im probaly going to leave this airport for a while as there are other airports with a higher priority. can someone unassign

[2016-06-18 14:25] AxelBeder commented on #403
Next time you start an airport. Make sure you can finish it.

[2016-06-18 16:32] AxelBeder commented on #680
Added to repro.

[2016-06-18 16:33] AxelBeder commented on #319
Added to repro.

[2016-06-18 16:33] #319 closed

[2016-06-18 16:33] AxelBeder commented on #539
Added to repro.

[2016-06-18 16:36] AxelBeder commented on #718
Added to repro.

[2016-06-18 16:37] AxelBeder commented on #745
Added to repro.

[2016-06-18 16:37] #745 closed

[2016-06-18 17:17] dushyants19 commented on #378
Done! After 4 months ;)

[2016-06-18 17:17] #378 closed

[2016-06-18 21:04] turkish1941 commented on #742
just sent the e-mail

[2016-06-18 21:11] turkish1941 opened #748 "LTFE-Milas-Bodrum Airport-MUGLA-TURKEY"
I will make this one

[2016-06-19 09:41] #743 closed

[2016-06-19 12:40] kilt46 commented on #741
Non ICAO

[2016-06-19 12:41] kilt46 commented on #740
Non ICAO

[2016-06-19 12:45] kilt46 commented on #739
Rough landing strip

[2016-06-19 14:31] kilt46 commented on #739
Spawn point and building added

[2016-06-19 16:45] dushyants19 commented on #693
Was this approved? Cant find the repo lol

[2016-06-19 17:22] IFAEpat commented on #657
Still unable to redo this airport because the concrete is reflecting the sun on WEDbing, closing for now :)

[2016-06-19 17:28] TristinWoolf commented on #693
I don't think the ICAO is K9B1. I'm pretty sure it's just 9B1.

[2016-06-19 17:29] dushyants19 commented on #693
Ill clear the mes up

[2016-06-19 17:30] kilt46 commented on #693
Non ICAO

[2016-06-19 20:13] henrikbg opened #749 "ENHA-Hamar-STAFSBERG-NORWAY"
Hamar Airport.

[2016-06-19 20:35] kilt46 commented on #727
Incorrect parking. Please use this
![image](https://cloud.githubusercontent.com/assets/14023167/16179699/6bd9bf22-3633-11e6-9729-b5a70380e845.png)

[2016-06-19 20:47] henrikbg commented on #749
Redone.

[2016-06-19 20:47] #749 closed

[2016-06-19 23:25] JcFl4 commented on #680
The FACT this airport is called FACT is funny...

[2016-06-20 01:56] IFAEpat commented on #680
Better than KRAP @JcFl4

[2016-06-20 09:05] henrikbg commented on #531
Any progress, @matsedvin? I might work on this if you're not going to. :)

[2016-06-20 09:30] Will171 opened #750 "EGJJ - Jersey Airport UK"
I am currently adding

+Taxiway lines
+Apron/Parking lines
+More buildings
+More Parking spots
+Taxiway Signs
+Tweaking taxiways

[2016-06-20 09:49] matsedvin commented on #531
I got caught up in exams... I also had some problems with WEDbing alignment, but feel free to take it, if you can tell me how you fixed it!😂

[2016-06-20 12:56] JcFl4 opened #751 "LELN"
León, Spain

[2016-06-20 15:55] samuelandersson commented on #574
My computer really cant handle this big of an airport :/ It crashes the whole time.

[2016-06-20 15:57] samuelandersson commented on #543
Quite frankly, I don't see how it can be misaligned. I just imported scenery and added a few things AFAIK.

[2016-06-20 16:41] elvintiagi opened #752 "LCLK-Larnaka Airport-LACARNA-CYPRUS"
Being Redone

[2016-06-20 16:43] elvintiagi opened #753 "KBNL-Barnwell Regional Airport-SOUTH CAROLINA-USA"
Needs redone. Double runways 16 and 17 stacked on top

[2016-06-20 17:12] Padi3-14 commented on #693
Since it's been renamed, we can probably close it

[2016-06-20 17:30] TristinWoolf commented on #753
For any further conversation for this airport, see #752.

[2016-06-20 17:51] TristinWoolf commented on #693
Name problem has been solved, everything seems to be good now.

[2016-06-20 17:51] #693 closed

[2016-06-20 19:52] henrikbg opened #754 "ENKR-Kirkenes-Hoybuktmoen Airport-FINNMARK-NORWAY"
Kirkenes.

[2016-06-20 20:20] JcFl4 commented on #680
True! hahaha @IFAEpat

[2016-06-21 11:24] henrikbg commented on #754
Redone.

[2016-06-21 11:29] henrikbg commented on #727
Gates have been fixed.

[2016-06-21 11:30] henrikbg commented on #601
Fixes by Sumith.

[2016-06-21 12:02] henrikbg commented on #731
Changed line attributes and moved some buildings.

[2016-06-21 12:07] henrikbg commented on #730
Changing taxi line attributes and adding north taxiway.

[2016-06-21 18:45] nathangoulding commented on #729
I'll take this one if no one else wants it.

[2016-06-21 18:47] henrikbg commented on #729
@nathangoulding, I just invited you to the airport editors team. You can accept it on the GitHub website or in your email. Please accept so I can assign you. :)

[2016-06-21 18:48] nathangoulding commented on #729
Great, all set. 👍

[2016-06-21 18:51] Padi3-14 commented on #733
Is this one taken?

[2016-06-21 18:56] IFAEpat commented on #733
No @Padi3-14, would you like to do it?

[2016-06-21 18:58] Padi3-14 commented on #733
Sure!

[2016-06-21 20:05] Ksisky commented on #607
On it.

[2016-06-22 12:34] dushyants19 commented on #744
Please accept the invite Nick mentioned ASAP, @b777fan! :)

[2016-06-22 15:50] turkish1941 opened #755 "ZBAA-Beijing-Capital Airport-BEIJING-CHINA"
I will make this one

[2016-06-22 15:52] Padi3-14 commented on #733
WED isn't letting me make points on a taxi line, so I can't snap other taxi lines to it

[2016-06-22 15:52] Padi3-14 commented on #733
I'm pressing alt+click, but nothing's happening

[2016-06-22 19:56] #751 closed

[2016-06-22 22:37] IFAEpat commented on #13
Runway is being extended and I am redoing this

[2016-06-22 23:01] kilt46 commented on #690
Buildings Missing
![Uploading image.png…]()

[2016-06-22 23:03] kilt46 commented on #690
Gates incorrect
![image](https://cloud.githubusercontent.com/assets/14023167/16286653/7de92c6c-38a3-11e6-8b48-c14860d175f2.png)

[2016-06-23 03:34] IFAEpat opened #756 "AT27"
Troll Airfield

I managed to find a good image

[2016-06-23 09:18] samuelandersson commented on #543
Repositioned/realigned.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/40485186a114bd886b0d405fae68ffa30ab26c46)

Buildings are yet to go.

[2016-06-23 10:09] samuelandersson opened #757 "ESMS- Malmo Airport-SKANE-SWEDEN"
Malmo Sturup. Tweaking this quite a bit.

[2016-06-23 10:56] thomasbevan97 commented on #672
what happened?

[2016-06-23 11:00] dushyants19 commented on #690
@IFAEpat you have to search before posting and @TristinWoolf dont touch another guy's airport (which has been assigned to him, in this case @lachieee)

[2016-06-23 11:00] dushyants19 commented on #690
Continue in/at #596

[2016-06-23 11:06] samuelandersson commented on #757
Done

+ New taxiways
+ New gates
+ Buildings
+ Moved tower viewpoint

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/a1c027450cbac2d973211944b1c1d9e91d3e1b67)

[2016-06-23 13:09] #569 closed

[2016-06-23 13:09] #558 closed

[2016-06-23 13:12] NickArt1342 commented on #447
@Anfinn How is the status on this?

[2016-06-23 13:16] Aviationluver opened #758 "LPPT-Lisboa Airport-LISBOA-PORTUGAL"
Lisbon Portela Airport

[2016-06-23 14:18] samuelandersson opened #759 "ESSL"
Redoing

[2016-06-23 14:18] samuelandersson commented on #759
Done, a whole redo was needed.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/c0f4aba159b8b29b2cd53a4dcb1b612c2154d52a)

[2016-06-23 14:18] #759 closed

[2016-06-23 16:11] samuelandersson opened #760 "ESGL"
Lidköping Hovby airport.

[2016-06-23 16:14] samuelandersson commented on #760
+ New taxiways
+ New taxi lines
+ Tower viewpoint added
+ Buildings added

[2016-06-23 16:14] #760 closed

[2016-06-23 16:56] samuelandersson opened #761 "ESOE"
Örebro airport. Needs a redo, still bad x-plane scenery.

[2016-06-23 17:13] samuelandersson commented on #761
Redone

+ New taxiways
+ Added parking slots
+ Added buildings
+ Corrected PAPIs

[2016-06-23 17:13] #761 closed

[2016-06-23 19:42] IFAEpat commented on #596
Can someone else do this? Major misalignments

[2016-06-23 19:43] IFAEpat commented on #596
Are you still doing it, @lachieee ?

[2016-06-24 02:05] Padi3-14 commented on #733
I fixed the border , beacon, and the tower, added the missing parking spots, and deleted the unneeded parking lots.
I also added in buildings, hangers, and adjusted/ added some missing taxiways, and taxi lines.

[2016-06-24 02:06] kilt46 commented on #727
Details of main apron look a little off. No curves and building definition poor
![image](https://cloud.githubusercontent.com/assets/14023167/16325740/4dea3af4-3986-11e6-898c-3a8b74c90067.png)

[2016-06-24 02:20] TristinWoolf commented on #596
@IFAEpat He is doing it, I believe, as a complete redo. I would assume that all the issues you see will be fixed when his version is submitted, just as if he was redoing a bad X-Plane file. :)

[2016-06-24 03:00] TristinWoolf commented on #727
It looks as if this issue was created with intentions of being a suggestion, as @Aviationluver never stated that he actually wanted to redo it. It was mistakingly assumed that he did, which is no big deal, so it appears to not actually have been redone, thus having issues with incorrect gates in the first place.
Phillipp can correct me if I'm wrong, which if I am, we will properly reassign him to

[2016-06-24 03:18] TristinWoolf commented on #758
@Aviationluver Do you want to do this one?

[2016-06-24 03:32] IFAEpat commented on #26
White lines around buildings and @NickArt1342 's signature should be removed
![screen shot 2016-06-23 at 11 26 11 pm](https://cloud.githubusercontent.com/assets/18223248/16327125/b31791a6-399a-11e6-8d5c-f4887da8a394.png)

[2016-06-24 03:56] TristinWoolf opened #762 "MYEF"
Exuma International Airport

Being redone.

[2016-06-24 04:34] TristinWoolf commented on #762
Done.

[2016-06-24 04:34] #762 closed

[2016-06-24 06:12] Aviationluver commented on #727
@TristinWoolf Yes I wanted to do this airport.

[2016-06-24 13:25] NickArt1342 commented on #26
The stated issues have already been addressed @IFAEpat Please contact me directly regarding my airports next time.

[2016-06-24 14:18] TristinWoolf commented on #727
Alright, I will reassign you @Aviationluver Just please state if _you_ are redoing the airport when you create the issue, just to clear up any confusion. Happy editing! :)

[2016-06-24 14:43] JcFl4 commented on #758
Good! I have some Portuguese airports planned.

[2016-06-24 14:46] JcFl4 opened #763 "LPPR-Porto Airport-PORTO-PORTUGAL"
Porto, Portugal.

[2016-06-24 15:32] planemadnews commented on #319
wait, so its been committed?

[2016-06-24 15:32] planemadnews commented on #680
Has this been committed too?

[2016-06-24 16:08] dushyants19 commented on #680
Yes Caleb :scream:

[2016-06-24 16:08] dushyants19 commented on #319
Yes again, Caleb

[2016-06-24 16:10] dushyants19 commented on #753
Whats up with this, @kilt46?

[2016-06-24 16:26] dushyants19 commented on #686
Up for Grabs!

[2016-06-24 16:34] bylrret commented on #613
Adding spawn points and done.

[2016-06-24 16:43] dushyants19 commented on #613
Cool @bylrret, make sure you post your .dat file in #peer-review in Slack so that we can check on your first airport!

[2016-06-25 03:58] IFAEpat commented on #547
Does someone else want to do this? DM me on Slack to get what I've done so far.

[2016-06-25 11:48] ReflexRSM commented on #573
I'll grab this one!

[2016-06-25 11:55] IFAEpat commented on #756
Done and committed. Hasn't been catalogued yet

[2016-06-25 12:20] kilt46 commented on #679
This requires a few more spawn points.
![image](https://cloud.githubusercontent.com/assets/14023167/16356640/23f42bd6-3aa5-11e6-9d73-91ba19546f41.png)
Also consider making from one large apron and cutting holes in it. Many joins which can lead to gaps
![image](https://cloud.githubusercontent.com/assets/14023167/16356641/3783a88e-3aa5-11e6-8786-e34dab69e261.png)

[2016-06-25 16:04] kilt46 commented on #672
Reworking issue!

[2016-06-25 16:17] bylrret commented on #613
Sent to #peer-review @dushyants19

[2016-06-25 16:33] samuelandersson commented on #537
[Commit for realignment](https://github.com/InfiniteFlightAirportEditing/Airports/commit/d053c3916e720af9e3fbe5d7e06f86709b3c4fbf)

[2016-06-25 16:33] #537 closed

[2016-06-25 16:41] kilt46 commented on #679
Buildings added and Hangar spawn points

[2016-06-25 16:41] #679 closed

[2016-06-25 18:28] samuelandersson opened #764 "LIMJ-Genova Cristoforo Colombo Airport-LIGURIA-ITALY"

[2016-06-25 18:29] samuelandersson commented on #764
Done

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/18ee16f7387c8b6f229dcaf3e24db9dce90c7cd2)

[2016-06-25 20:30] kilt46 commented on #764
Centrelines is unacceptable
![image](https://cloud.githubusercontent.com/assets/14023167/16358988/baf92858-3ae9-11e6-8b87-b196fa232305.png)

[2016-06-25 20:31] samuelandersson commented on #764
@kilt46

That is how it is on the maps.

[2016-06-25 20:53] Oguz8011 commented on #616
Kabul edilip eklendi mi?

[2016-06-25 20:57] Oguz8011 commented on #650
@turkish1941 kabul edilmedi sanırım tekrar düzenleyebilir misin?

[2016-06-25 21:15] turkish1941 commented on #616
![screenshot_2016-06-25-23-09-55](https://cloud.githubusercontent.com/assets/13819750/16359175/a970d270-3b2a-11e6-97c2-3c5ed3867237.png)
evet eklendi

[2016-06-25 21:31] samuelandersson commented on #764
[Main apron retouched](https://cloud.githubusercontent.com/assets/15381853/16359231/c89e6584-3b2c-11e6-95e6-f2c70f5198ac.png)

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/7a2fdaa49488b46440a88a344472614d17fdecc3)

[2016-06-26 01:28] kilt46 commented on #657
This has not been done yet!

[2016-06-26 01:36] IFAEpat commented on #547
anyone wanna take this?

[2016-06-26 08:14] samuelandersson opened #765 "LDDU"
Working this one next. A whole redo is probably needed.

[2016-06-26 10:45] dushyants19 commented on #756
No boundary :))

[2016-06-26 11:53] kilt46 commented on #650
http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=LTAC

[2016-06-26 12:22] samuelandersson commented on #606
I could not find any imaginary where does parking stands are visible.

[2016-06-26 14:31] kilt46 commented on #615
Taxiway to terminal missing
![image](https://cloud.githubusercontent.com/assets/14023167/16362928/c26fa9da-3b80-11e6-9dd1-3aaaeef31a5f.png)

[2016-06-26 14:36] kilt46 commented on #603
Expected Building formation and stands
![image](https://cloud.githubusercontent.com/assets/14023167/16362951/68788658-3b81-11e6-8759-f536e2a7622a.png)

[2016-06-26 14:36] kilt46 commented on #603
Existing layout does not reflect true life
![image](https://cloud.githubusercontent.com/assets/14023167/16362957/831c313a-3b81-11e6-8971-dce4724175d3.png)

[2016-06-26 14:37] kilt46 commented on #603
Gates are not square to terminal like in airport. They need to reflect the satellite image and follow the contours of the apron lines!

[2016-06-26 15:57] kilt46 commented on #601
REQUIRES TERMINAL REDONE AS PER NAVIGRAPH

[2016-06-26 16:03] kilt46 commented on #601
![image](https://cloud.githubusercontent.com/assets/14023167/16363373/9b4fbb3a-3b8d-11e6-8812-0e6a4605e0b9.png)

[2016-06-26 16:04] kilt46 commented on #601
![image](https://cloud.githubusercontent.com/assets/14023167/16363376/b6ccf616-3b8d-11e6-9267-9dec9e6242bb.png)

[2016-06-26 16:14] TristinWoolf commented on #615
This is an easy fix of making the taxiway visible again in WED. I will fix this when I get home in a few hours.

[2016-06-26 16:28] IFAEpat commented on #756
@dushyants19, what's the point? It's all snow :) I'll add it when I get home though

[2016-06-26 18:15] samuelandersson commented on #756
Added boundary

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/a261aa065e893cdeae1565093eb9054eb5468fb4)

[2016-06-26 18:15] #756 closed

[2016-06-26 18:22] samuelandersson commented on #753
!["Schematic"](https://cloud.githubusercontent.com/assets/15381853/16363972/b02fcb1e-3bdb-11e6-943c-e43eecbef340.png)

[2016-06-26 19:00] samuelandersson commented on #753
![New "schematic"](https://cloud.githubusercontent.com/assets/15381853/16364137/7ca60128-3be0-11e6-80df-fc702d2a6c76.png)

Redid everything without runways

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/c339bba2eca029a0dd7fa51bacd76b86f7b806d8)

[2016-06-26 19:00] #753 closed

[2016-06-26 19:02] samuelandersson commented on #733
@Padi3-14 I don't see this committed. Has anyone answered the email you sent yet?

[2016-06-26 19:09] Padi3-14 commented on #733
Nope. I submitted it via email and I haven't received a response yet.

Sent from my iPhone

On Jun 26, 2016, at 15:02, samuelandersson <notifications@github.com<mailto:notifications@github.com>> wrote:

@Padi3-14<https://github.com/Padi3-14> I don't see this committed. Has anyone answered the email you sent yet?

-
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2016-06-26 19:09] IFAEpat commented on #13
Done and done.

[2016-06-26 19:14] samuelandersson commented on #12
Removed blue lights that were in the vicinity and inside buildings.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/bae18597aa28c9c79eb75f14e2f65085aa52287f)

[2016-06-26 19:27] samuelandersson commented on #148
How's this going @IceBlue02?

[2016-06-26 19:34] Oguz8011 commented on #616
Esenboğa ve Antalya da sıkıntı var diye gördüm sanki. İnşallah yoktur Allah senden razı olsun uğraşmasan kimsenin yapacağı yoktu :)

[2016-06-26 19:35] samuelandersson commented on #616
Can we please keep all conversation to english so that everyone can understand the history of the issue and what people did to the airport when they worked on it? Thanks!

[2016-06-26 19:39] samuelandersson commented on #290
@dushyants19 It was never added to the repo

[2016-06-26 19:42] moritzbabl opened #766 "EDNV"
I'll do this

[2016-06-26 19:42] moritzbabl opened #767 "EDPC"
I'll do this

[2016-06-26 19:42] moritzbabl opened #768 "EDJG"
I'll do this

[2016-06-26 19:43] moritzbabl opened #769 "EDNX"
I'll do this

[2016-06-26 19:43] moritzbabl opened #770 "ETSF-Fürstenfeldbruck Air Base-BAYERN-GERMANY"
I'll do this one

[2016-06-26 19:44] moritzbabl opened #771 "EDML"
I'll do this

[2016-06-26 19:44] moritzbabl opened #772 "EDMP"
I'll do this

[2016-06-26 19:45] moritzbabl opened #773 "EDME-Eggenfelden Airport-BAYERN-GERMANY"
I'll do this

[2016-06-26 19:51] bylrret commented on #613
Waiting for approval

[2016-06-26 20:17] turkish1941 commented on #616
@Oguz8011  sağol abi
translation: thank you

[2016-06-26 22:38] IFAEpat commented on #656
Done.

[2016-06-26 22:38] #656 closed

[2016-06-26 22:39] IFAEpat commented on #501
I will being doing this, I'll assign myself after #658

[2016-06-27 00:19] IFAEpat opened #774 "OJAI-Queen Alia Airport-AMMAN-JORDAN"
Queen Alia International

[2016-06-27 00:20] IFAEpat opened #775 "RJOK"
Kochi Airport

[2016-06-27 01:48] TristinWoolf commented on #615
Should be fixed now. Just awaiting a thumbs up from another person, just to confirm that its still not only showing up on my WED.

[2016-06-27 01:51] TristinWoolf opened #776 "MYEG"
Georgetown-Great Exuma Airport

Being redone.

[2016-06-27 06:36] #776 closed

[2016-06-27 06:39] dushyants19 commented on #601
@ReflexRSM  you are fixing it.

[2016-06-27 16:33] bylrret opened #777 "TJAB-Antonio/Nery/Juarbe Pol Airport-ARECIBO-PUERTO RICO"
I'm doing this one. It needs spawn points, lights, and a part of the taxiway. It's a small airport, I will finish this one quickly.

[2016-06-27 16:54] david-garden opened #778 "KPHL-Philadelphia International Airport-PENNSYLVANIA-USA"
I can do this one, as I am almost done with KSTL!

[2016-06-27 17:19] david-garden commented on #778
Thank you, Ice!

[2016-06-27 17:23] B777fan opened #779 "VTSP-Phuket International Airport-PHUKET-THAILAND"
Adding spawn points and fixing little things up.

[2016-06-27 17:38] B777fan commented on #779
Thanks Ice! :)

[2016-06-27 19:00] bylrret commented on #777
I have moved the whole airport.

[2016-06-27 19:29] bylrret opened #780 "TJPS-Mercedita-PONCE-PUERTO RICO"
Small airport, I will do it

[2016-06-27 22:08] moritzbabl commented on #773
Sent for approval

[2016-06-27 22:08] moritzbabl commented on #772
Sent for approval

[2016-06-27 22:09] moritzbabl commented on #771
Sent for approval

[2016-06-27 22:09] moritzbabl commented on #768
Sent for approval

[2016-06-27 22:09] moritzbabl commented on #767
Sent for approval

[2016-06-27 22:09] moritzbabl commented on #766
Sent for approval

[2016-06-27 22:21] TristinWoolf opened #781 "MYEL"
Lee Stocking Airport

Being redone.

[2016-06-27 22:45] TristinWoolf commented on #781
Finished. This particular file had no airport info, aka "[-]" in the file name. This should be removed.

[2016-06-27 22:45] #781 closed

[2016-06-28 00:44] #733 closed

[2016-06-28 00:52] #771 closed

[2016-06-28 01:04] #772 closed

[2016-06-28 12:01] bylrret commented on #780
Sent to #peer-review.

[2016-06-28 15:53] #676 closed

[2016-06-28 15:54] Padi3-14 commented on #686
I will take it if it's available, what needs to be done?

[2016-06-28 15:54] NickArt1342 opened #782 "LSGE"

[2016-06-28 15:57] NickArt1342 opened #783 "LSGK"

[2016-06-28 15:59] NickArt1342 opened #784 "LSGL"

[2016-06-28 15:59] NickArt1342 opened #785 "LSGN"

[2016-06-28 16:03] NickArt1342 commented on #725
Are you doing this @kilt46 ? I  think you accidently assigned yourself.

[2016-06-28 17:28] Swang007 commented on #726
@sudafly, still working on this?

[2016-06-28 17:35] sudafly commented on #726
@Swang007 Sure, i only need to place the Gates. http://smahesh6.wix.com/sudafly#!Faster-than-i-think/c0lp5/57640ff60cf2c6c57267c9b1

[2016-06-28 19:05] turkish1941 commented on #748
sent

[2016-06-28 21:57] TristinWoolf opened #786 "MYEM"
Governors Harbour Airport

Being redone.

[2016-06-28 21:58] B777fan commented on #257
Thanks Ice. Now I've got a big project on my hands!

[2016-06-28 22:11] kilt46 commented on #566
There are no buildings shown. Gates are not labelled correctly
![image](https://cloud.githubusercontent.com/assets/14023167/16434119/6355ecc8-3d53-11e6-9594-9ff18b882e28.png)

[2016-06-28 22:16] DavidCutler commented on #566
Weird I know I submitted it with buildings..

[2016-06-28 22:17] B777fan opened #787 "SKCG-Cartagena Airport-BOLIVAR-COLOMBIA"
Doing this, needs a redo.

[2016-06-28 22:25] kilt46 commented on #655
In my opinion this is not a very good likeness of the airport.

[2016-06-28 22:28] DavidCutler commented on #566
Edited. Resubmitting.

[2016-06-28 22:30] TristinWoolf commented on #787
@B777fan Take note that this is your third, and final issue assigned to you until you finish one. :)

[2016-06-28 22:34] B777fan commented on #787
@TristinWoolf thanks, I should be finished one soon.

[2016-06-28 22:36] TristinWoolf commented on #786
Done.

[2016-06-28 22:36] #786 closed

[2016-06-28 22:44] TristinWoolf opened #788 "KJAX-Jacksonville International Airport-FLORIDA-USA"
Jacksonville International Airport.

Will be redoing this one.

[2016-06-28 22:49] TristinWoolf opened #789 "KCWA-Central Wisconsin Airport-WISCONSIN-USA"
Central Wisconsin Airport

Will be redoing this also. This will be my third airport assignment.

[2016-06-29 00:00] #615 closed

[2016-06-29 00:20] Padi3-14 commented on #686
Can I have it?

[2016-06-29 00:29] TristinWoolf commented on #686
I don't see why not! I'll assign you now @Padi3-14 :)

[2016-06-29 01:16] Padi3-14 commented on #686
So, what has to be done?

[2016-06-29 02:24] IFAEpat commented on #130
Service roads have no pavement, easy fix.

[2016-06-29 03:09] kilt46 commented on #672
Done from scratch

[2016-06-29 03:24] TristinWoolf commented on #686
Probably a redo @Padi3-14

[2016-06-29 17:15] bylrret commented on #547
I will, why not. haha

[2016-06-29 22:17] kilt46 commented on #270
Runway holds fixed

[2016-06-29 22:21] kilt46 commented on #230
4.5041667

[2016-06-29 22:37] kilt46 commented on #272
Missing runway hold added

[2016-06-30 20:46] moritzbabl commented on #769
Sent for approval

[2016-06-30 22:01] Aviationluver commented on #758
Sent this one off to be reviewed.

[2016-07-01 12:47] dushyants19 commented on #254
Quick altitude change :)

[2016-07-01 15:10] dushyants19 commented on #130
Doesnt matter.

[2016-07-01 15:17] dushyants19 commented on #257
Up for grabs :)

[2016-07-01 15:57] Skunkape29 opened #790 "KEYW-Key West International Airport-FLORIDA-USA"
Key West International Airport
Being redone

[2016-07-02 11:17] kilt46 commented on #508
This looks like an original from X-Plane. Please check the vintage. Some lines missing. e.g. white lines on main apron
![image](https://cloud.githubusercontent.com/assets/14023167/16540077/936f25d4-401c-11e6-8bc1-51790aa7d47d.png)

[2016-07-02 14:53] kilt46 commented on #193
Too many double yellow lines. No center lines. Needs a little love

[2016-07-02 17:58] IFAEpat commented on #655
what needs to be done @kilt46 ?

[2016-07-02 18:04] TristinWoolf opened #791 "MYER"
Rock Sound Airport

Being redone.

[2016-07-02 18:26] IFAEpat commented on #582
Continue in #442

[2016-07-02 18:45] TristinWoolf commented on #791
Done.

[2016-07-02 18:45] #791 closed

[2016-07-02 19:19] TristinWoolf opened #792 "MYES"
Staniel Cay Airport

Being Redone

[2016-07-02 19:42] bylrret commented on #780
Waiting for approval

[2016-07-02 19:51] TristinWoolf opened #793 "LGSM"
Samos Airport

This airport has already been redone by @PaulNielsen and is awaiting approval.

[2016-07-02 20:26] TristinWoolf commented on #792
Done.

[2016-07-02 20:26] #792 closed

[2016-07-02 20:45] TristinWoolf opened #794 "MYEY"
Hog Cay Airport

Being redone.

[2016-07-02 22:11] PaulNielsen opened #795 "LGHI"
Being redone!

[2016-07-02 22:57] turkish1941 commented on #616
already accepted and in the repo for a month, can someone close it ?

[2016-07-03 00:06] IFAEpat commented on #616
Thanks for informing, @turkish1941

[2016-07-03 00:36] TristinWoolf commented on #350
Runway numbers written incorrectly, taxiways noticeably unsnapped, etc. Just a bunch of easy fixes, needs attention. Up for grabs!

[2016-07-03 01:54] kilt46 commented on #616
This part isn't quite right
![image](https://cloud.githubusercontent.com/assets/14023167/16543372/23af95dc-4097-11e6-8589-6944fe115ab4.png)

[2016-07-03 01:54] kilt46 commented on #616
More specifically here:
![image](https://cloud.githubusercontent.com/assets/14023167/16543374/38fb8932-4097-11e6-8eec-9f86c393eaf7.png)

[2016-07-03 01:55] kilt46 commented on #616
Satellite image
![image](https://cloud.githubusercontent.com/assets/14023167/16543376/4bfc0bba-4097-11e6-9793-9fdb7f382fa0.png)

[2016-07-03 01:56] kilt46 commented on #616
Latest charts to help
![image](https://cloud.githubusercontent.com/assets/14023167/16543377/61478076-4097-11e6-8c03-0259d94cf099.png)

[2016-07-03 02:21] TristinWoolf commented on #794
Done

[2016-07-03 02:21] #794 closed

[2016-07-03 02:35] PaulNielsen commented on #795
Done, awaiting approval.

[2016-07-03 02:53] TristinWoolf opened #796 "MYGF"
Grand Bahama International Airport

Being redone.

[2016-07-03 06:47] Will171 commented on #750
waiting for approval

[2016-07-03 06:49] B777fan commented on #787
Waiting approval.

[2016-07-03 10:44] Aviationluver commented on #603
I'll redo LEMG from scratch. There are a lot of things that are incorrect about the layout.

[2016-07-03 10:47] freddiefrogs commented on #530
Unable to continue editing due to recurring computer problems. Can someone else please takeover.

[2016-07-03 10:49] freddiefrogs commented on #561
Unable to continue editing due to recurring computer problems. Can someone else please takeover?

[2016-07-03 10:49] freddiefrogs commented on #561
I am no longer able to edit any airports.

[2016-07-03 11:17] dushyants19 commented on #744
I'll correct boundary

[2016-07-03 12:55] PaulNielsen opened #797 "LGKY"
Being redone.

[2016-07-03 13:40] kilt46 commented on #616
This has now been completed

[2016-07-03 15:36] kilt46 commented on #194
Double yellow lines everywhere

[2016-07-03 15:59] samuelandersson commented on #313
I'll continue this one when I get home from vacation.

[2016-07-03 16:41] IFAEpat commented on #658
up for grabs

[2016-07-03 16:52] B777fan commented on #124
Checking this over, and it to look clean and neat.

[2016-07-03 17:07] B777fan commented on #124
Waiting approval.

[2016-07-03 21:12] turkish1941 commented on #255
is someone working on this?

[2016-07-03 21:15] turkish1941 commented on #607
it is a duplicate, I have already finished it. And the ICAO is ZBAA not ZBBA

[2016-07-03 21:51] IFAEpat commented on #325
Continue #255

[2016-07-03 21:54] IFAEpat commented on #607
Already done by @turkish1941

[2016-07-03 21:55] IFAEpat commented on #607
#755

[2016-07-04 02:32] kilt46 commented on #268
still only 2 spawn points.

[2016-07-04 02:36] tsarkov90 opened #798 "UHHH-Khabarovsk/Novy Airport-KHABAROVSK-RUSSIA"
Redone. I wait the answer

[2016-07-04 03:25] kilt46 commented on #288
NEEDS A BIT MORE DETAIL
![image](https://cloud.githubusercontent.com/assets/14023167/16550200/12bdd488-416d-11e6-8cad-3bd78728d849.png)

[2016-07-04 07:10] IFAEpat commented on #798
You have finished it @sentikum? We don't even know who you are...

[2016-07-04 07:12] IFAEpat opened #799 "LH58"
Csakvar Airport - Hungary

[2016-07-04 07:15] sentikum commented on #798
Really or is it sarcasm?

[2016-07-04 07:19] sentikum commented on #798
So, before it I added russians scenario for x-plane desktop

[2016-07-04 07:20] IFAEpat commented on #798
@sentikum you're not even "on" the team. Have you emailed airports@liveflightapp.com?

[2016-07-04 07:25] sentikum commented on #798
Oh sorry.
Is it necessary to join your team?

[2016-07-04 07:30] IFAEpat commented on #798
If you want to do the airport, yes @sentikum

[2016-07-04 07:34] sentikum commented on #798
I sent message for email.
I hope now you know me.😉

[2016-07-04 09:12] B777fan opened #800 "KUCC"
Fixing up Yucca Airstrip

[2016-07-04 10:04] turkish1941 commented on #755
I cant follow this anymore, I am a bit confused. When I started the airport I firts looked for the ICAO  but couldnt find it. Thats why I started it. The airport ICAO is ZBAA. When I finished it yesterday I was just scrolling around to search for another airport. Thats when I found out about the 'second' airport whit a wrong ICAO. My question is who is really assigned ☺

[2016-07-04 12:40] kilt46 commented on #755
I have assigned you. You do such an excellent job. I have not seen Kisky
for a while either.
[image: Inline image 1]

On Mon, Jul 4, 2016 at 5:04 AM, turkish1941 <notifications@github.com>
wrote:

[2016-07-04 12:58] dushyants19 commented on #744
Needs a lot of fixes.

- Appr freq values incorrect
- Lines not snapped
- Incorrect taxiline attribute (Use Solid Yellow)
- Incorrect surface attribute (Use Asphalt for everything)
- Incorrect Runway attribute (Use Ashpalt)
- `Parking XX` spawn names
- No holes for buildings
- Ramp Start on Main Apron
- Runway length incorrect
- Turnaround points wrong
- Runway holds incorrectly placed (other way

[2016-07-04 13:17] kilt46 commented on #728
Too many spawn points

[2016-07-04 13:30] dushyants19 commented on #26
Full of hashed regions, Transparent twys, over lapping twys, too many roads, White lines around buildings.

[2016-07-04 13:32] dushyants19 commented on #26
And a rumored/possible `Nick Art` Signature

[2016-07-04 13:36] #728 closed

[2016-07-04 15:06] TheGamingGuy opened #801 "LROP-Henri Coanda Airport-BUCHAREST-ROMANIA"
I'll be editing this airport

[2016-07-04 15:12] dushyants19 commented on #780
18aedb0

[2016-07-04 15:22] #769 closed

[2016-07-04 15:22] dushyants19 commented on #769
58783ab

[2016-07-04 15:59] dushyants19 commented on #793
204f8f8

[2016-07-04 15:59] #793 closed

[2016-07-04 16:22] dushyants19 commented on #795
79efec8`

[2016-07-04 16:22] #795 closed

[2016-07-04 16:30] dushyants19 commented on #797
6faf5db

[2016-07-04 16:30] #797 closed

[2016-07-04 16:31] dushyants19 commented on #773
No email received with this Name

[2016-07-04 16:32] dushyants19 commented on #767
Not received

[2016-07-04 16:33] dushyants19 commented on #766
Are you sending to the correct email? `airports@liveflightapp.com`

[2016-07-04 16:45] dushyants19 commented on #766
1db3d01

[2016-07-04 16:45] #766 closed

[2016-07-04 16:47] dushyants19 commented on #798
Check your email, accept the invite

[2016-07-04 17:03] moritzbabl commented on #773
Just sent it again

[2016-07-04 20:37] IFAEpat commented on #799
Seems to be closed permanently.

[2016-07-04 20:37] IFAEpat commented on #799
Needs to be removed from the repository

[2016-07-04 21:22] Aviationluver opened #803 "UT25-Monument Valley Airport-UTAH-USA"
RECYCLED ♻️

[2016-07-04 21:34] Aviationluver commented on #803
Sorry I typed in the wrong ICAO while searching. I didn't realize this was a duplicate until now. I will close this immediately.

[2016-07-04 21:35] moritzbabl commented on #770
Sent for approval

[2016-07-04 21:36] moritzbabl commented on #767
Sent in again

[2016-07-04 21:39] #799 closed

[2016-07-04 21:39] IFAEpat commented on #799
Done

[2016-07-04 21:54] turkish1941 commented on #525
I will make this

[2016-07-04 22:36] Aviationluver commented on #774
I can re-do this one.

[2016-07-04 23:27] IFAEpat opened #804 "RJOM-Matsuyama-EHIME-JAPAN"
Matsuyama Airport - Japan

Last Japanese airport I will edit

[2016-07-05 00:04] PaulNielsen opened #805 "ERKN"
Being redone

[2016-07-05 02:26] PaulNielsen commented on #805
Done, awaiting approval

[2016-07-05 04:13] dushyants19 commented on #773
e7a18f1

[2016-07-05 04:18] dushyants19 commented on #767
b61ab47

[2016-07-05 04:18] #767 closed

[2016-07-05 04:24] dushyants19 commented on #768
2dba024

[2016-07-05 04:48] sentikum commented on #798
Done.
There are two runways
13000 ft and 11000 ft.

[2016-07-05 05:08] IFAEpat commented on #798
@sentikum did you accept Dush's invite to Slack?

[2016-07-05 07:40] samuelandersson commented on #255
No one is working on it @turkish1941.

[2016-07-05 08:05] turkish1941 commented on #255
oke thats good to hear, I will make it ☺

[2016-07-05 10:30] kilt46 commented on #768
Why is this closed? There is nothing in the file!!!
![image](https://cloud.githubusercontent.com/assets/14023167/16581923/91802302-4271-11e6-9713-e8b4bdcc2e86.png)

[2016-07-05 11:11] moritzbabl commented on #768
I have no idea why there is nothing, I just reopened the version I sent to you and I have the airport...
I'll send it again in a moment

[2016-07-05 11:27] dushyants19 commented on #768
Should be fixed now, sorry :)

284beec

[2016-07-05 11:27] #768 closed

[2016-07-05 12:06] dushyants19 commented on #758
93c4e12

[2016-07-05 12:20] dushyants19 commented on #770
14c8721

[2016-07-05 15:07] dushyants19 commented on #246
https://community.infinite-flight.com/t/missing-taxi-lines/49000?u=dush19

Ill fix it

[2016-07-05 15:27] dushyants19 commented on #246
Done. :)

[2016-07-05 20:16] Swang007 commented on #798
Was this airport committed? I can't find it in the pull request it was in yesterday, and the updated airport is not in the repo either

[2016-07-05 22:24] sentikum commented on #798
How can I replace files in repo? I have updated apt.dat

[2016-07-05 23:55] PaulNielsen opened #807 "ESGJ"
Will redo this one

[2016-07-06 00:51] dushyants19 commented on #798
Check your email, @sentikum. I've given feedback about the airport. Please improve it and send an email or a pull request. :)

[2016-07-06 01:06] sentikum commented on #798
No.

[2016-07-06 01:24] PaulNielsen commented on #807
Done, awaiting approval.

[2016-07-06 01:59] Skunkape29 opened #808 "HRYR-Kigali Airport-KIGALI-RWANDA"
RECYCLED.

[2016-07-06 02:33] Ksisky commented on #755
@kilt46 I'm always working on something on something :+1:

[2016-07-06 09:25] corporate1401 commented on #625
I have nearly completed this, only a few taxi ways to add and the spawn points but my computer messed up and cannot edit anymore, to much lag to do it :( i can send the file to someone to complete if anyone wants to take over. @dushyants19

[2016-07-06 09:50] lachieee opened #809 "NZPP"
I'll do this.

[2016-07-06 11:01] dushyants19 commented on #625
Try getting WEDBing scenery for smaller areas. The number should be around ~3300.

Try hiding big taxiways with the eye icon :)

[2016-07-06 14:31] henrikbg commented on #267
There's a lot of gaps between the taxiways and the runways.

[2016-07-06 15:02] dushyants19 commented on #807
1ee6f50

[2016-07-06 15:02] #807 closed

[2016-07-06 15:10] david-garden opened #810 "KMCI"
I will do this one! (This is my 3rd and final one for right now :)

[2016-07-06 15:24] IceBlue02 commented on #553
Done.

`d953caa`

[2016-07-06 15:41] PaulNielsen opened #811 "LGIK"
Being redone

[2016-07-06 16:32] PaulNielsen commented on #811
Done, awaiting approval

[2016-07-06 17:37] TristinWoolf commented on #796
Done.

[2016-07-06 17:48] NickArt1342 opened #812 "LSGP-La Cote Airport-VAUD-SWITZERLAND"

[2016-07-06 17:50] NickArt1342 opened #813 "LSGR"

[2016-07-06 17:50] NickArt1342 opened #814 "LSGS-Sion Airport-VALAIS-SWITZERLAND"

[2016-07-06 17:51] NickArt1342 opened #815 "LSGT-Gruyeres Airport-FRIBOURG-SWITZERLAND"

[2016-07-06 17:51] NickArt1342 opened #816 "SLCB-Cochabamba Jorge Wilsterman Airport-COCHABAMBA-BOLIVIA"

[2016-07-06 17:51] NickArt1342 opened #817 "OIZC-Chah-Bahar Airport-SISTAN BALUCHESTAN-IRAN"

[2016-07-06 17:51] NickArt1342 opened #818 "KBWI-Baltimore/Washington International Thurgood Marshall Airport-MARYLAND-USA"
Recycled by The Issue Recycler Inc. ♻️

[2016-07-06 17:51] NickArt1342 opened #819 "KGUS-Grissom Arb Airport-INDIANA-USA"

[2016-07-06 17:51] NickArt1342 opened #820 "LIBR-Brindisi Airport-PUGLIA-ITALY"

[2016-07-06 17:51] NickArt1342 opened #821 "RJKB-Okierabu Airport-KAGOSHIMA-JAPAN"
♻️

[2016-07-06 17:52] dushyants19 commented on #812
@NickArt1342 do you want to do this?

[2016-07-06 17:52] NickArt1342 opened #822 "U08-Perkins Field Airport-NEVADA-USA"

[2016-07-06 17:52] NickArt1342 opened #823 "WMKL-Langkawi Airport-KEDAH-MALAYSIA"

[2016-07-06 17:52] NickArt1342 opened #824 "KVQQ-Cecil Airport-FLORIDA-USA"

[2016-07-06 17:52] NickArt1342 opened #825 "CYOD-Cold Lake/Group Captain R.W. McNair Airport-ALBERTA-CANADA"

[2016-07-06 17:53] NickArt1342 opened #826 "KPIT-Pittsburgh International Airport-PENNSYLVANIA-USA"

[2016-07-06 17:53] NickArt1342 opened #827 "LFOK-Chalons Vatry Airport-CHAMPAGNE-ARDENNE-FRANCE"

[2016-07-06 17:53] NickArt1342 opened #828 "LSPD"

[2016-07-06 17:53] NickArt1342 opened #829 "KCDR-Chadron Municipal Airport-NEBRASKA-USA"
RECYCLED ♻️

[2016-07-06 17:53] dushyants19 commented on #811
0013d7e

[2016-07-06 17:53] #811 closed

[2016-07-06 17:53] NickArt1342 opened #830 "0A7-Hendersonville Airport-NORTH CAROLINA-USA"

[2016-07-06 17:54] NickArt1342 opened #831 "SKPC-Puerto Carreno Airport-VICHADA-COLOMBIA"

[2016-07-06 17:54] NickArt1342 opened #832 "LSPK"

[2016-07-06 17:54] NickArt1342 opened #833 "LSPL"

[2016-07-06 17:54] NickArt1342 opened #834 "KSXU-Santa Rosa Route 66 Airport-NEW MEXICO-USA"
RECYCLED ♻️

[2016-07-06 17:55] NickArt1342 opened #835 "LSPN"

[2016-07-06 17:55] NickArt1342 opened #836 "LSPO"

[2016-07-06 17:55] NickArt1342 opened #837 "KDOV-Dover AFB Airport-DELAWARE-USA"

[2016-07-06 17:55] NickArt1342 opened #838 "LSPV"

[2016-07-06 17:56] TristinWoolf opened #839 "MYGM"
Grand Bahama Aux Airport
*Military Use*

Being redone.

[2016-07-06 17:57] IceBlue02 commented on #814
I'll do it

[2016-07-06 18:01] TristinWoolf commented on #812
All of these are up for grabs as Nick already has about 15 airports assigned to him.

[2016-07-06 18:16] NickArt1342 opened #840 "KLNK-Lincoln Airport-NEBRASKA-USA"

[2016-07-06 18:16] NickArt1342 opened #841 "SVRS-El Gran Roque/Ntl Airport-DEPENDENCIAS FEDERALES-VENEZUELA"

[2016-07-06 18:16] NickArt1342 opened #842 "FLKK-Lusaka Airport-LUSAKA-ZAMBIA"

[2016-07-06 18:16] NickArt1342 opened #843 "LSTR"

[2016-07-06 18:17] NickArt1342 opened #844 "KIGM-Kingman Airport-ARIZONA-USA"

[2016-07-06 18:17] NickArt1342 opened #845 "OEMA-Madinah/Prince M Bin Abdulaziz Airport-AL MADINAH-SAUDI ARABIA"

[2016-07-06 18:17] NickArt1342 opened #846 "LJLJ-Ljubljana/Brnik Airport-GORENJSKA-SLOVENIA"
RECYCLED ♻️

[2016-07-06 18:18] NickArt1342 opened #847 "SBFI-Foz Do Iguacu / Cataratas Airport-PARANA-BRAZIL"

[2016-07-06 18:18] NickArt1342 opened #848 "PTKK-Chuuk International Airport-WENO ISLAND-MICRONESIA"

[2016-07-06 18:18] NickArt1342 opened #849 "LSZE"

[2016-07-06 18:18] NickArt1342 opened #850 "LSZF"

[2016-07-06 18:18] NickArt1342 opened #851 "LSZG"

[2016-07-06 18:18] NickArt1342 opened #852 "LSZI"

[2016-07-06 18:18] NickArt1342 opened #853 "LSZJ"

[2016-07-06 18:19] NickArt1342 opened #854 "LSZK-Speck Airport-ZURICH-SWITZERLAND"

[2016-07-06 18:19] TristinWoolf commented on #851
@NickArt1342 That is enough!

[2016-07-06 18:19] NickArt1342 opened #855 "LSZL-Locarno Airport-TICINO-SWITZERLAND"

[2016-07-06 18:19] NickArt1342 opened #856 "LSZN"

[2016-07-06 18:19] NickArt1342 opened #857 "LSZO-Luzern Beromunster Airport-LUZERN-SWITZERLAND"

[2016-07-06 18:19] NickArt1342 opened #858 "LSZP"

[2016-07-06 18:19] NickArt1342 opened #859 "LSZQ"

[2016-07-06 18:19] NickArt1342 opened #860 "LSZR"

[2016-07-06 18:20] NickArt1342 opened #861 "LSZU"

[2016-07-06 18:20] NickArt1342 opened #862 "LSZV"

[2016-07-06 18:22] TristinWoolf commented on #862
@NickArt1342 No more! These should be added when you start working on them!! We don't want all of Switzerland on the tracker!

[2016-07-06 18:22] NickArt1342 opened #863 "LSZW"

[2016-07-06 18:22] NickArt1342 opened #864 "LSZX-Schanis Airport-SANKT GALLEN-SWITZERLAND"

[2016-07-06 18:22] NickArt1342 opened #865 "ZJHK-Haikou Meilan International Airport-HAINAN-CHINA"

[2016-07-06 18:39] ghost opened #866 "LRBS-Baneasa-Aurel Vlaicu Airport-BUCHAREST-ROMANIA"
Aurel Vlaicu International Airport
Being re-done

[2016-07-06 18:41] IFAEpat commented on #866
What airport is this @TheGamingGuy ?

[2016-07-06 18:43] TheGamingGuy commented on #866
It is Baneasa Airport-BBU (Romania)

[2016-07-06 18:44] IFAEpat commented on #866
@TheGamingGuy next time, please insert the _real_ ICAO :)

[2016-07-06 18:45] IFAEpat commented on #866
This is the real name by the way: Aurel Vlaicu International Airport

[2016-07-06 18:45] TheGamingGuy commented on #866
Sorry got it wrong

[2016-07-06 18:46] TheGamingGuy commented on #866
We call it baneasa airport in romania

[2016-07-06 18:48] IFAEpat commented on #866
We have to have the official name :)

[2016-07-06 18:50] TheGamingGuy commented on #866
Ok 😉🖒

[2016-07-06 18:50] david-garden commented on #602
Sent in for approval.

[2016-07-06 19:14] ColonelJeff opened #867 "VVCT-Can Tho Airport-MEKONG DELTA-VIETNAM"
Can Tho Airport
Being Redone.

[2016-07-06 19:18] IFAEpat commented on #867
![screen shot 2016-07-06 at 3 18 19 pm](https://cloud.githubusercontent.com/assets/18223248/16631388/e94db506-438c-11e6-8104-c8365cf2029a.png)

[2016-07-06 19:41] IceBlue02 commented on #148
Oh, never got anywhere with this, think it need for that just that fix if I remember.

[2016-07-06 19:49] TristinWoolf commented on #839
Done.

[2016-07-06 19:49] #839 closed

[2016-07-06 19:58] IceBlue02 commented on #534
Just realized I've had this on redone since May without actually doing it...

Starting properly now.

[2016-07-06 20:18] TristinWoolf opened #868 "MYIG"
Matthew Town Airport

Being redone.

[2016-07-06 20:19] samuelandersson commented on #755
Are you working on this one at the momet @Ksisky?

[2016-07-06 20:20] samuelandersson commented on #688
Any update here @planemadnews?

[2016-07-06 20:26] IFAEpat commented on #655
Committed

[2016-07-06 20:53] TristinWoolf commented on #868
Done.

[2016-07-06 20:53] #868 closed

[2016-07-06 21:08] TristinWoolf opened #869 "MYLD"
Deadmans Cay Airport

Being redone.

[2016-07-06 21:27] TristinWoolf commented on #869
Done.

[2016-07-06 21:27] #869 closed

[2016-07-06 22:50] kilt46 commented on #796
MISSING SOME LINES
![image](https://cloud.githubusercontent.com/assets/14023167/16637095/1df50ccc-43a2-11e6-9bf9-ac9f83c7f6f6.png)

[2016-07-06 23:22] kilt46 commented on #655
Gates need renamed.

[2016-07-07 01:04] Ksisky commented on #755
@samuelandersson No, there was a mixup in the Issues. Turkish is working on it.

[2016-07-07 01:07] turkish1941 commented on #755
I forgot to say, I have sent the email a few hours ago

[2016-07-07 05:21] sentikum opened #870 "UIII"
Being redone

[2016-07-07 10:38] kilt46 commented on #807
Gates named as per Navigraph
![image](https://cloud.githubusercontent.com/assets/14023167/16650680/12549fd2-4405-11e6-9d25-f8aae097b27b.png)

[2016-07-07 12:52] dushyants19 commented on #798
89da88a

[2016-07-07 14:04] planemadnews commented on #688
I have just finished KDTW and sent off for evaluation - moving on to this now

[2016-07-07 14:04] planemadnews commented on #593
sent for evaluation

[2016-07-07 14:27] dushyants19 commented on #602
22420a2

[2016-07-07 14:28] david-garden opened #872 "KMSP-Minneapolis-St Paul International Airport-MINNESOTA-USA"
This one is mine <3

[2016-07-07 14:34] corporate1401 commented on #625
okay

[2016-07-07 15:07] sentikum opened #873 "UUMU-Chkalovsky Airport-MOSCOW OBLAST-RUSSIA"
Being redone.

By my assistant

[2016-07-07 15:54] IceBlue02 commented on #318
Sorry about this mess. I committed back in mid june:
https://github.com/InfiniteFlightAirportEditing/Airports/commit/fb150fa91bd109965d1c43af8e80488dd28aaf30

[2016-07-07 15:54] #318 closed

[2016-07-07 18:57] SeanTea opened #874 "KROC"
Working on KROC

[2016-07-07 23:10] kilt46 commented on #602
Missing a few gates

[2016-07-07 23:18] kilt46 commented on #798
Please number gates as per schematic
![image](https://cloud.githubusercontent.com/assets/14023167/16672944/4251770e-446f-11e6-8008-78d4214d8876.png)

[2016-07-08 01:53] kilt46 commented on #562
Airport redrawn from scratch

[2016-07-08 03:07] sentikum commented on #798
I fixed all gates

[2016-07-08 03:32] TristinWoolf commented on #796
Fixing this.

[2016-07-08 03:55] sentikum opened #875 "UHPP-Petropavlovsk-Kamchatsky Airport-KAMCHATKA-RUSSIA"
Being redone

[2016-07-08 04:37] TristinWoolf commented on #796
This has been fixed to the best of my ability.

[2016-07-08 04:37] #796 closed

[2016-07-08 05:14] IFAEpat commented on #515
Missing a couple of lines

[2016-07-08 05:28] IFAEpat commented on #515
Done

[2016-07-08 09:47] turkish1941 opened #876 "LTAJ-Gaziantep Airport-GAZIANTEP-TURKEY"
I will make it

[2016-07-08 09:52] turkish1941 opened #877 "LTCI"
I will make it

[2016-07-08 09:54] turkish1941 opened #878 "LTCO"
I will make it

[2016-07-08 10:31] turkish1941 commented on #525
I have sent the email

[2016-07-08 12:55] dushyants19 commented on #798
Fixes (spawns, name, roads)

60d2f2e

[2016-07-08 12:56] dushyants19 commented on #870
88ee4f0

[2016-07-08 12:56] #870 closed

[2016-07-08 15:40] IceBlue02 commented on #29
What is the status on this?

[2016-07-08 15:42] IceBlue02 commented on #255
@samuelandersson don't forget assignee :+1:

[2016-07-08 16:38] samuelandersson commented on #255
Not the easiest when I am on vacation with limited internet @IceBlue02 :) thanks though

[2016-07-08 19:17] IFAEpat commented on #804
Done

[2016-07-08 19:24] IFAEpat opened #879 "LHDC - Debrecen - Hungary"
Debrecen International Airport

[2016-07-08 19:27] Aviationluver commented on #603
Sent this one off to be reviewed.

[2016-07-08 19:41] ColonelJeff opened #880 "EGBJ-Gloucestershire Airport-ENGLAND-UNITED KINGDOM"
Being redone

[2016-07-08 19:45] turkish1941 opened #881 "LTCL"
I will make it

[2016-07-08 19:51] turkish1941 opened #882 "LTCS"
I will make it

[2016-07-08 19:54] TristinWoolf commented on #882
@turkish1941 You can only have three issues assigned to you at a time. You already have more than that..

[2016-07-08 19:57] turkish1941 commented on #882
oops forgot to send the others in, will do that right now

[2016-07-08 20:06] turkish1941 commented on #878
I cant make it bc wedbing decided to add a cloud over the whole airport

[2016-07-08 20:09] turkish1941 opened #883 "LTDA"
I will make it

[2016-07-08 20:11] turkish1941 commented on #877
just send the email

[2016-07-08 20:11] turkish1941 commented on #876
just send the email

[2016-07-08 23:24] kilt46 commented on #880
No file in REPO yet

[2016-07-08 23:53] IFAEpat opened #884 "LHKD"
Kecskéd Airport

[2016-07-09 02:43] IFAEpat commented on #884
Done.

[2016-07-09 02:43] #884 closed

[2016-07-09 03:11] IFAEpat opened #885 "LHZA"
Zalaegerszeg-Andráshida Airport

[2016-07-09 03:21] sentikum opened #886 "UHSS"
Being redone.

[2016-07-09 03:22] IFAEpat commented on #885
Done

[2016-07-09 03:22] #885 closed

[2016-07-09 04:03] IFAEpat opened #887 "LHBS"
Budaors Glider Airport

[2016-07-09 05:06] IFAEpat commented on #887
Done

[2016-07-09 05:06] #887 closed

[2016-07-09 06:15] XRodriguezVB commented on #350
I'll work on this

[2016-07-09 06:17] dushyants19 commented on #350
Accept the invite :) (to join Github Team)

[2016-07-09 06:39] dushyants19 commented on #603
bc53e72

[2016-07-09 06:52] dushyants19 commented on #876
211ae1d

[2016-07-09 06:53] dushyants19 commented on #880
Not received, send to correct email please :)

[2016-07-09 06:55] dushyants19 commented on #755
We need to find the error on the runway numbers, stay tuned :)

[2016-07-09 10:19] sentikum opened #888 "UNNT-Novosibirsk/Tolmachevo Airport-NOVOSIBIRSK-RUSSIA"
Being redone

[2016-07-09 11:00] dushyants19 commented on #886
d68e1dc

[2016-07-09 11:00] #886 closed

[2016-07-09 13:21] mjgonzalez45 opened #889 "TJBQ"
I am doing this!

[2016-07-09 15:14] planemadnews commented on #688
Sent in for review

[2016-07-09 15:15] IFAEpat opened #890 "LHER"
Eger Airport

[2016-07-09 15:33] planemadnews commented on #593
sent in for approval

[2016-07-09 15:53] IFAEpat commented on #890
Done.

[2016-07-09 15:53] #890 closed

[2016-07-09 15:54] IFAEpat opened #891 "LHKA"
Kalocsa Airport

[2016-07-09 18:34] kilt46 commented on #890
This is just an airstrip

[2016-07-09 19:05] IFAEpat commented on #890
Removed unneeded details

[2016-07-09 19:59] dushyants19 commented on #755
a2bd808

[2016-07-09 19:59] #755 closed

[2016-07-09 19:59] dushyants19 commented on #525
5647b95

[2016-07-09 19:59] dushyants19 commented on #877
953acc9

[2016-07-09 19:59] #877 closed

[2016-07-09 20:06] woleby opened #892 "SPQT-Iquitos Airport-LORETO-PERU"
RECYCLED.

[2016-07-09 21:02] turkish1941 opened #893 "LTCP"
will make it

[2016-07-09 22:24] sudafly commented on #726
This is delayed 5weeks. Sorry

[2016-07-09 23:56] Padi3-14 commented on #686
Finished the redo, and it is submitted. Waiting for approval.

[2016-07-10 09:56] CaptainDawud opened #894 "KRND-Randolph AFB Airport-TEXAS-USA"
Self inflicted

♻️

[2016-07-10 10:01] dushyants19 commented on #894
Dove already I guess. #256

[2016-07-10 10:28] lachieee opened #895 "YPAD-Adelaide Airport-SOUTH AUSTRALIA-AUSTRALIA"
Adelaide International Airport.

[2016-07-10 10:28] lachieee commented on #895
I will work on this.

[2016-07-10 10:30] dushyants19 commented on #895
Why did you close this? lol

[2016-07-10 10:31] lachieee commented on #895
pm

[2016-07-10 11:07] turkish1941 commented on #893
email is gone 😊

[2016-07-10 11:14] turkish1941 opened #896 "LTAF"
will make it

[2016-07-10 13:05] sentikum opened #897 "UWKD"
Being redone

[2016-07-10 13:44] kilt46 commented on #24
Fixes to snap points adjacent to 34R

[2016-07-10 16:02] kilt46 commented on #403
Airport redone

[2016-07-10 16:02] #403 closed

[2016-07-10 16:18] kilt46 commented on #141
This one needs cleaned up. taxiways not snapped, etc

[2016-07-10 16:26] kilt46 commented on #196
![image](https://cloud.githubusercontent.com/assets/14023167/16714709/1d10121a-4691-11e6-8707-222b00372383.jpeg)

[2016-07-10 16:26] dushyants19 commented on #196
Oo white lines been ages since i have seen that

[2016-07-10 16:40] kilt46 commented on #141
![image](https://cloud.githubusercontent.com/assets/14023167/16714764/17af5a86-4693-11e6-845a-bb259b8754d8.jpeg)

[2016-07-10 16:42] kilt46 commented on #141
![image](https://cloud.githubusercontent.com/assets/14023167/16714782/6abc5e36-4693-11e6-8cab-e7d2d0a9cd57.jpeg)

[2016-07-10 16:44] kilt46 commented on #141
![image](https://cloud.githubusercontent.com/assets/14023167/16714790/b5d58da2-4693-11e6-9dae-ef07a6616701.jpeg)

[2016-07-10 16:45] kilt46 commented on #141
![image](https://cloud.githubusercontent.com/assets/14023167/16714792/cd0e6d2c-4693-11e6-81a1-5c49f6e4c27e.jpeg)

[2016-07-10 16:49] kilt46 commented on #141
![image](https://cloud.githubusercontent.com/assets/14023167/16714816/67cdf7ec-4694-11e6-9842-e9f7689f179e.jpeg)

[2016-07-10 17:06] kilt46 commented on #198
![image](https://cloud.githubusercontent.com/assets/14023167/16714908/b4c4b5b6-4696-11e6-9900-5a82f775b78d.jpeg)

[2016-07-10 22:00] Padi3-14 commented on #686
Continuing redo

[2016-07-11 01:16] TristinWoolf commented on #892
@woleby it appears that you haven't accepted the email to the GitHub team yet. @dushyants19 or somebody can you please invite him?

[2016-07-11 01:26] CaptainDawud opened #898 "LGPA-Paros Airport-NOTIO AIGAIO-GREECE"
~~Moorabbin Airport~~

New Paros National, old removed but in repo.

https://en.wikipedia.org/wiki/New_Paros_Airport

[2016-07-11 01:27] CaptainDawud commented on #898
I will work on this.

[2016-07-11 02:18] kilt46 commented on #888
Redone

[2016-07-11 02:18] #888 closed

[2016-07-11 02:56] CptNathanHope opened #899 "KORH"
Whole airport needs a redo.

[2016-07-11 03:01] IFAEpat commented on #899
Nathan is doing this but he needs an invite to the team

[2016-07-11 12:06] dushyants19 commented on #897
7d00dc4

[2016-07-11 12:06] #897 closed

[2016-07-11 12:06] dushyants19 commented on #893
fdc1724

[2016-07-11 12:06] #893 closed

[2016-07-11 12:07] dushyants19 commented on #899
a63f2c4

[2016-07-11 12:07] #899 closed

[2016-07-11 12:09] dushyants19 commented on #892
Invited :)

[2016-07-11 12:10] dushyants19 commented on #889
Invited you to join our Github team, check it out! :)

[2016-07-11 12:12] dushyants19 commented on #124
@B777fan do you want to continue with your issues?

[2016-07-11 13:24] tsarkov90 opened #900 "URSS-Sochi Airport-KRASNODAR-RUSSIA"
Being redone

[2016-07-11 16:14] sumith11 opened #901 "RPVE-Godofredo P.Ramos Principal Airport-AKLAN-PHILIPPINES"

[2016-07-11 16:21] dushyants19 commented on #901
So you want to do it?

[2016-07-11 16:21] ReflexRSM commented on #901
Just sent for approval.

[2016-07-11 16:21] dushyants19 commented on #901
Only max 3 issues please :)

[2016-07-11 16:24] turkish1941 commented on #896
email is gone ☺

[2016-07-11 16:37] mjgonzalez45 commented on #889
Alright! dushyants19 :)

[2016-07-11 16:46] dushyants19 commented on #896
df45e2a

[2016-07-11 16:46] #896 closed

[2016-07-11 16:46] dushyants19 commented on #686
85bbb99

[2016-07-11 16:46] #686 closed

[2016-07-11 16:50] mjgonzalez45 opened #902 "TJCP"
Working on this!

[2016-07-11 16:52] dushyants19 commented on #901
Not received. Correct email please!

[2016-07-11 17:45] turkish1941 opened #903 "LTAG"
will make it

[2016-07-11 20:16] IFAEpat commented on #891
Done 8281d41

[2016-07-11 22:16] PaulNielsen opened #904 "ESOK"
Being redone

[2016-07-11 22:18] TristinWoolf opened #905 "MYLS"
Stella Maris Airport

Being redone.

[2016-07-11 22:30] TristinWoolf commented on #905
Done.

[2016-07-11 22:30] #905 closed

[2016-07-12 00:11] PaulNielsen commented on #904
Annndddd... Done. Awaiting approval now.

[2016-07-12 01:39] kilt46 commented on #891
TOO MANY SPAWN POINTS

[2016-07-12 01:42] IFAEpat commented on #891
Fixed 639fedf

[2016-07-12 01:42] #891 closed

[2016-07-12 02:26] IFAEpat opened #906 "LHMP"
Matkópuszta Airport

[2016-07-12 02:51] IFAEpat commented on #906
Done

[2016-07-12 02:51] #906 closed

[2016-07-12 03:28] IFAEpat opened #907 "LHOY"
Õcsény Airport

[2016-07-12 04:05] IFAEpat commented on #907
Done

[2016-07-12 04:05] #907 closed

[2016-07-12 04:07] IFAEpat commented on #44
Kiskunfélegyháza Airport

[2016-07-12 05:35] IFAEpat commented on #44
done

[2016-07-12 05:35] #44 closed

[2016-07-12 05:36] IFAEpat opened #908 "LHJK"
Jakabszállás Airport

[2016-07-12 10:09] ReflexRSM commented on #901
Sent again

[2016-07-12 13:10] KarlLuebs opened #909 "EDHL"
Redoing EDHL.

[2016-07-12 17:38] IFAEpat commented on #908
Done

[2016-07-12 17:38] #908 closed

[2016-07-12 19:33] IFAEpat opened #910 "LHBD"
Börgönd Airport

[2016-07-13 01:37] kilt46 commented on #260
![image](https://cloud.githubusercontent.com/assets/14023167/16789119/6074db4a-4870-11e6-9609-f0595a1489ac.jpeg)
Hatching needs removed

[2016-07-13 01:52] kilt46 commented on #200
Double yellow lines everywhere
![image](https://cloud.githubusercontent.com/assets/14023167/16789361/94d61f0a-4872-11e6-89a1-4a104b961ceb.jpeg)

[2016-07-13 04:23] IFAEpat commented on #910
Done

[2016-07-13 04:23] #910 closed

[2016-07-13 04:40] IFAEpat commented on #909
Can someone please invite Karl to the team?

[2016-07-13 04:42] IFAEpat opened #911 "LHSA"
Veszprém-Szentkirályszabadja Airport

[2016-07-13 09:18] sentikum opened #912 "USSS"
Being redone.

[2016-07-13 13:17] bylrret opened #913 "YMRY-Moruya Airport-NEW SOUTH WALES-AUSTRALIA"
RECYCLE IS LOVE. RECYCLE IS LIFE  ♻️

[2016-07-13 13:20] bylrret commented on #889
I think it's Priority 2, the runway is 11,752ft long

[2016-07-13 13:20] dushyants19 commented on #909
Karl, check your email and accept the invite to out Github Team.

[2016-07-13 13:43] dushyants19 commented on #912
4966c26

[2016-07-13 13:43] #912 closed

[2016-07-13 13:43] dushyants19 commented on #900
d83b7d7

[2016-07-13 13:45] dushyants19 commented on #904
507746b

[2016-07-13 13:45] #904 closed

[2016-07-13 13:46] dushyants19 commented on #748
960c708

[2016-07-13 22:14] CptNathanHope opened #914 "KIWI"
Needs a redo

[2016-07-13 22:28] J0mpa commented on #550
ill finish it

[2016-07-14 00:56] kilt46 commented on #204
Lines need fixed and tidy
![Uploading image.jpeg…]()

[2016-07-14 02:33] kilt46 commented on #900
outlines required for south apron

[2016-07-14 02:36] IFAEpat commented on #48
Zalakaros Airport

[2016-07-14 02:39] IFAEpat commented on #45
Tököl Airport

[2016-07-14 02:41] IFAEpat commented on #43
Szombathely Airport

[2016-07-14 02:42] IFAEpat commented on #42
Szolnok-Szandaszőlős Airport

[2016-07-14 02:46] IFAEpat commented on #285
Szentes Airport

[2016-07-14 04:24] IFAEpat commented on #48
Done

[2016-07-14 04:24] #48 closed

[2016-07-14 04:45] IFAEpat commented on #42
Done

[2016-07-14 04:45] #42 closed

[2016-07-14 05:27] IFAEpat commented on #285
done

[2016-07-14 05:27] #285 closed

[2016-07-14 05:31] sentikum opened #915 "UWWW"
Being redone.

[2016-07-14 09:37] B777fan commented on #124
@dushyants19 sorry for the late response, I will be continuing as my keyboard has been fixed.

[2016-07-14 16:02] Aviationluver commented on #774
Sent this one off to be reviewed.

[2016-07-14 16:41] IFAEpat commented on #43
Done

[2016-07-14 18:21] TristinWoolf opened #916 "MYMM"
Mayaguana Airport

Being redone.

[2016-07-14 19:09] Aviationluver opened #917 "EDDS - Stuttgart Int'l Airport"
I will re-do this one.

[2016-07-14 20:24] samuelandersson commented on #313
Done :)

A whole redone was needed.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/ced7f24cdb96979863814c22d142858395a4f6de)

[2016-07-14 20:24] #313 closed

[2016-07-14 20:54] samuelandersson commented on #351
This is a messy airport, most lines need snapping.  I have added a temporary fix as per forum request:

https://community.infinite-flight.com/t/kbur-missing-taxiway/51220?u=samuel123abc

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/c04850d41663f4e1a629b4ef559e189350291ac9)

[2016-07-14 21:07] TristinWoolf commented on #77
All hold short lines are wrong. Easy fix.

[2016-07-14 21:07] SeanTea opened #918 "LFLL-Lyon Saint Exupery Airport-RHONE-ALPES-FRANCE"
Please edit me

[2016-07-14 21:07] SeanTea opened #919 "LHBC"

[2016-07-14 21:10] TristinWoolf commented on #919
Duplicate. Go to #918 for further discussion.

[2016-07-14 21:16] TristinWoolf commented on #77
Being fixed by @samuelandersson. Not gonna bother assigning you.

[2016-07-14 21:19] samuelandersson commented on #77
Changed hold short line attribute.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/15e4be747695197ae62d1150c42bdf0f0a8ba65c)

[2016-07-14 21:59] TristinWoolf commented on #916
`90ed6aa`
Done.

[2016-07-14 21:59] #916 closed

[2016-07-14 22:22] turkish1941 commented on #75
updated the airport with the google earth imagery from now, added terminal, windsock, apron 6, tower, beacon and PAPI
email is gone

[2016-07-14 22:32] TristinWoolf commented on #917
This is up for grabs! :)

[2016-07-14 22:48] IFAEpat commented on #911
done

[2016-07-14 22:48] #911 closed

[2016-07-14 23:08] turkish1941 commented on #903
email is gone

[2016-07-14 23:13] TristinWoolf commented on #878
@turkish1941 Did you try Google Earth imagery?

[2016-07-14 23:23] turkish1941 commented on #75
and moved both runways

[2016-07-14 23:38] turkish1941 commented on #878
I wanted to do that but I cant overlay an image on this, or at least I dont know how
![20160715_013230 1](https://cloud.githubusercontent.com/assets/13819750/16859150/cd2da95c-4a2c-11e6-8025-c79d505335c0.jpg)

[2016-07-14 23:53] TristinWoolf opened #920 "MYRP"
New Port Nelson Airport

[2016-07-15 00:45] TristinWoolf commented on #920
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/20e76580587a8821d04b8c9c8b6c99a8429cfeca)

[2016-07-15 00:45] #920 closed

[2016-07-15 01:24] turkish1941 commented on #883
email is gone

[2016-07-15 01:26] TristinWoolf opened #921 "MYX4"
Big Whale Cay Airport

Being redone.

[2016-07-15 01:41] TristinWoolf commented on #921
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/a09f942119da6286b50a542c42d1a3341a3804a8)

[2016-07-15 01:41] #921 closed

[2016-07-15 04:56] NewZealand1 opened #922 "KBIF-Biggs AAF (Fort Bliss) Airport-TEXAS-USA"
PLEASE REDRAW ME!

[2016-07-15 09:08] samuelandersson commented on #922
Have you got an invite from github by mail?

Please accept it if so so that we can assign you.

[2016-07-15 09:14] samuelandersson commented on #75
@turkish1941 when moving runways please make an issue in the navigation repository. I already made one for you.

https://github.com/InfiniteFlightAirportEditing/Navigation/issues

[2016-07-15 09:43] samuelandersson opened #923 "ESSK"
Requires redo

[2016-07-15 10:49] turkish1941 commented on #75
@samuelandersson  I am sorry wasnt sure where to put it. I will do it next time.

[2016-07-15 12:34] turkish1941 commented on #882
email is gone

[2016-07-15 13:03] turkish1941 commented on #881
email is gone

[2016-07-15 14:16] samuelandersson commented on #923
Redone.

For future reference I had to use google maps and ortophotos in order to outline the airport.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/02f379849d07fe070cd6d9f71e436c0777f4d6ec)

[2016-07-15 14:16] #923 closed

[2016-07-15 15:19] CJ-Sapan opened #924 "EGFF-Cardiff Airport-WALES-UNITED KINGDOM"
EGFF - Cardiff International Airport

[2016-07-15 16:34] #914 closed

[2016-07-15 16:34] samuelandersson commented on #914
[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/034508291672668e6814beb37b4026c55e9feeca)

[2016-07-15 16:35] samuelandersson commented on #901
[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/663a6546d519651bb75012753bcff5374f7e4f8b)

[2016-07-15 16:35] samuelandersson commented on #75
[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/bfc56c048674f866adbfa8d29c5adb7279ac0519)

[2016-07-15 16:58] samuelandersson commented on #883
[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/ff7e019cf1495188e8625f63de8db78283b64ebc)

[2016-07-15 16:58] #883 closed

[2016-07-15 17:15] samuelandersson commented on #903
[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/d7e1a652e8d43e2f05d0bb318730a83b04d7f4f9)

[2016-07-15 17:15] #903 closed

[2016-07-15 17:44] dushyants19 commented on #922
Invited, check it out

[2016-07-15 17:44] #882 closed

[2016-07-15 17:44] #881 closed

[2016-07-15 17:46] dushyants19 commented on #902
Check your mail, accept an invite.

[2016-07-15 20:21] kilt46 commented on #875
Missing runway
![image](https://cloud.githubusercontent.com/assets/14023167/16887456/d7ea2636-4a9f-11e6-94c0-bfa57cf75546.png)

[2016-07-15 20:48] kilt46 commented on #206
Runway holds backwards
![image](https://cloud.githubusercontent.com/assets/14023167/16888120/9ba2c846-4aa3-11e6-9464-6c2bb22410dc.jpeg)

[2016-07-16 00:41] turkish1941 opened #925 "RJTT-Tokyo Intl-TOKYO-JAPAN"
I  will make it

[2016-07-16 00:43] kilt46 commented on #351
Airport totally reworked

[2016-07-16 01:46] kilt46 commented on #141
AIRPORT REDONE

[2016-07-16 01:46] #141 closed

[2016-07-16 02:01] kilt46 commented on #204
REDO

[2016-07-16 04:02] kilt46 commented on #148
Airport redone

[2016-07-16 04:02] #148 closed

[2016-07-16 04:47] kilt46 commented on #204
Airport reworked

[2016-07-16 04:47] #204 closed

[2016-07-16 08:56] samuelandersson opened #926 "ESGR"
Skövde Airport, Vastra Gotland, Sweden (This is for you @kilt46).

Needs redo.

[2016-07-16 09:24] samuelandersson commented on #926
Done.

For future reference I had to use an ortophoto due to a cloud above the main apron.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/8d946599607fc8680ce0a398e538849a2927ce2c)

[2016-07-16 09:24] #926 closed

[2016-07-16 09:30] samuelandersson opened #927 "ESKN"
Making small fixes like adding buildings and other small things.

[2016-07-16 09:34] samuelandersson commented on #687
How is this going @superkev99?

[2016-07-16 09:50] samuelandersson commented on #927
Added buildings and lowered AD elev.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/dd411d2979f333bdf4f80e8a78f2da524ac5a4db)

[2016-07-16 10:06] samuelandersson opened #928 "ESNS"
Needs redo

[2016-07-16 10:25] samuelandersson commented on #928
And redone.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/ab0573fca0dd94c3c1fbdcbe81e33512bc1a5a85)

[2016-07-16 10:25] #928 closed

[2016-07-16 12:01] kilt46 commented on #927
APRON 4 GATES MISSING. PLEASE ADD
![image](https://cloud.githubusercontent.com/assets/14023167/16894669/12a2faea-4b23-11e6-9c19-9c585f9d5820.png)

[2016-07-16 13:35] TristinWoolf commented on #922
Duplicate issue. Please check #596 for further discussion.

[2016-07-16 14:50] kilt46 commented on #921
Non- 4Alpha ICAO

[2016-07-16 15:17] Will171 commented on #268
ill claim this one :)

[2016-07-16 15:34] samuelandersson commented on #927
Will fix.

[2016-07-16 15:49] samuelandersson commented on #927
Missing spots added

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/8059296007cf551c2f176a92a66a8c67dfea6f1a)

[2016-07-16 15:49] #927 closed

[2016-07-16 16:34] kilt46 commented on #725
REDONE: http://kiltmchaggis.com/tikiwiki1/tiki-index.php?page=EBNM

[2016-07-16 18:07] KarlLuebs opened #929 "NVVV-Port Vila Bauerfield Airport-SHEFA-VANUATU"
RECYCLED (TWICE)

[2016-07-16 21:03] kilt46 commented on #690
Baseline
![image](https://cloud.githubusercontent.com/assets/14023167/16897161/d9bc4dac-4b6e-11e6-8794-89f8c9d398f0.png)

[2016-07-16 21:19] Will171 commented on #268
look like it needs an update, will re draw the aprons

[2016-07-16 21:29] kilt46 commented on #690
Revamped
![image](https://cloud.githubusercontent.com/assets/14023167/16897295/7d7b7762-4b72-11e6-8b7e-5a9f50e8f7e7.png)

[2016-07-16 21:29] #690 closed

[2016-07-16 21:45] TristinWoolf commented on #929
Duplicate issue. Please search before creating issues. We don't want duplicates. Check #574 for further discussion.

[2016-07-17 04:07] IFAEpat commented on #351
Has this been committed? Re-cloned repo to see the fixes, previous version still in file and I don't see a commit in `#tracking` on Slack

[2016-07-17 04:14] kilt46 commented on #196
REDONE
![image](https://cloud.githubusercontent.com/assets/14023167/16898715/1bca61ca-4bab-11e6-9be7-59b62dcd35f9.png)

[2016-07-17 04:14] #196 closed

[2016-07-17 08:50] CaptainDawud commented on #898
Sorry, can't do it.

[2016-07-17 09:18] dushyants19 commented on #898
Up  for grabs

[2016-07-17 11:52] moritzbabl opened #930 "LGSA"
Chania Airport, i will do it
Runway is longer than 10k ft according to airport chart btw

[2016-07-17 12:43] lolo31r opened #931 "EDGS"
I´ll do this airport :)

[2016-07-17 13:04] kilt46 commented on #193
Wow this is real messed up
![image](https://cloud.githubusercontent.com/assets/14023167/16900790/2016bf2c-4bf5-11e6-92ac-14de459e0228.png)

[2016-07-17 13:30] kilt46 commented on #193
![image](https://cloud.githubusercontent.com/assets/14023167/16900912/b55f5992-4bf8-11e6-8d07-2592f71fb79e.png)

[2016-07-17 13:30] #193 closed

[2016-07-17 13:32] KarlLuebs opened #932 "EDBH"
redoing EDBH

[2016-07-17 14:08] kilt46 commented on #283
This has been redone

[2016-07-17 14:13] PaulNielsen opened #933 "ESMX"
Being redone

[2016-07-17 15:00] planemadnews commented on #593
Can someone finish KDTW for me please.... I have done most of the hard work, just a few things to do. I will send the person to do it the file I have been using

[2016-07-17 15:04] planemadnews commented on #498
Please Re-assign - I can no longer do this

[2016-07-17 15:15] JcFl4 commented on #685
I might in the future, only if no one else offers, as I have enough to do already!

[2016-07-17 15:52] moritzbabl opened #934 "EDMD"
Dachau - small airport, will do it quickly

[2016-07-17 15:53] moritzbabl opened #935 "EDMW"

[2016-07-17 16:01] kilt46 commented on #194
Baseline: Off by quite a bit - REDO
![image](https://cloud.githubusercontent.com/assets/14023167/16901593/d11d599e-4c0d-11e6-96ab-9de30899182b.png)

[2016-07-17 16:12] PaulNielsen commented on #933
Done, awaiting approval

[2016-07-17 16:17] kilt46 commented on #198
![image](https://cloud.githubusercontent.com/assets/14023167/16901685/16279a0c-4c10-11e6-822e-15c76ca2b3c7.png)

[2016-07-17 16:17] #198 closed

[2016-07-17 17:16] moritzbabl commented on #934
Sent for approval

[2016-07-17 17:17] moritzbabl commented on #935
Sent for approval

[2016-07-17 18:30] IFAEpat opened #936 "KBUF-Buffalo Niagara International Airport-NEW YORK-USA"
Buffalo Niagara Intl

[2016-07-17 20:14] samuelandersson commented on #26
@NickArt1342 How's this going?

[2016-07-17 20:16] IFAEpat commented on #29
Anything? Anyone?

[2016-07-17 20:18] IFAEpat commented on #40
up for grabs guys! :)

[2016-07-17 20:21] samuelandersson commented on #124
Still WIP @B777fan?

[2016-07-17 20:23] IFAEpat commented on #145
Anything @Misha16 ?

[2016-07-17 20:25] IFAEpat commented on #200
Up for grabs guys

[2016-07-17 20:38] samuelandersson commented on #200
Temporary fix. Removed as per real life config. Leaving issue open as there's still some things to do.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/c78ede8702d17526260fe012afc0e5f9e3ddbd2b)

[2016-07-17 20:57] samuelandersson opened #937 "ESST"
Torsby

Will fix.

[2016-07-17 20:59] samuelandersson commented on #937
Redone.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/7b7a9676f337c5f85c131677b68a4c6a78ad5128)

[2016-07-17 20:59] #937 closed

[2016-07-17 21:00] samuelandersson commented on #206
And changed direction of hold shorts.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/975b6889903c6615b72aec82283e5dbb37e2a9e2)

[2016-07-17 21:00] #206 closed

[2016-07-17 21:04] samuelandersson commented on #260
Removed hashed regions.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/46e7be27056bb362a8f1c04eecd0d7b966f8b5a3)

[2016-07-17 21:05] PaulNielsen opened #938 "ESKM"
being redone

[2016-07-17 21:05] IFAEpat commented on #264
@AxelBeder anything?

[2016-07-17 21:09] samuelandersson commented on #300
What are you doing with this one @kilt46?

[2016-07-17 21:11] IFAEpat commented on #309
Are you still working @henrikbg ?

[2016-07-17 21:12] PaulNielsen commented on #938
Nvm, I can't really get a ortophoto to work. Someone else try it out. :)

[2016-07-17 21:12] IFAEpat commented on #350
@XRodriguezVB anything?

[2016-07-17 21:13] samuelandersson commented on #376
Anything here @carmichaelalonso?

[2016-07-17 21:15] IFAEpat commented on #379
@JonathanAirbus ?

[2016-07-17 21:16] PaulNielsen opened #939 "ESSP"
Being redone

[2016-07-17 23:54] tsarkov90 opened #940 "UUEE-Moscow-Sheremetyevo Airport-MOSCOW-RUSSIA"
Moscow-Sheremetyevo.
Hub for Aeroflot-Russian Airlines.
Two runways:
06R/24L - 12,139 ft
06L/24R - 11,647 ft

BEING REDONE

[2016-07-18 00:14] XRodriguezVB commented on #350
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; }  Can't find anything.

Sent from Yahoo Mail for iPad

On Sunday, July 17, 2016, 5:12 PM, Patrick U <notifications@github.com> wrote:

@XRodriguezVB anything?

—
You are receiving this because you were mentioned.
Reply to this email di

[2016-07-18 00:38] TristinWoolf commented on #875
@sentikum Did you/are you going to fix this?

[2016-07-18 00:41] sentikum commented on #875
I has already fixed

[2016-07-18 00:42] TristinWoolf commented on #875
Has it been approved @sentikum?

[2016-07-18 00:49] TristinWoolf commented on #350
Unsnapped taxiways:
![image](https://cloud.githubusercontent.com/assets/18745517/16904222/2f3f6c94-4c57-11e6-8f0d-cd0ae0d7df6c.png)

Runway number written incorrectly ("4" instead of "04"):
![image](https://cloud.githubusercontent.com/assets/18745517/16904228/456523ce-4c57-11e6-867c-dfe477238408.png)

This may be possible buildings missing, as it looks like taxi lines that could be leading to hang

[2016-07-18 01:01] sentikum commented on #875
it is checked by Kilt

[2016-07-18 01:12] XRodriguezVB commented on #350
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; }  Okay thank you sooo much this helped a lot I'm new to this so thanks.

Sent from Yahoo Mail for iPad

On Sunday, July 17, 2016, 8:49 PM, Tristin Woolf <notifications@github.com> wrote:

Unsnapped taxiways:

Runway number written inco

[2016-07-18 01:16] PaulNielsen commented on #939
Done, awaiting approval

[2016-07-18 01:29] TristinWoolf commented on #350
No problem. :)

[2016-07-18 01:39] PaulNielsen opened #941 "ESMK"
Being redone

[2016-07-18 01:40] kilt46 commented on #875
2nd runway added as per Navigraph JUN-2016

[2016-07-18 01:40] #875 closed

[2016-07-18 03:22] PaulNielsen commented on #941
Done, awaiting approval

[2016-07-18 03:29] hairlineAirlines opened #942 "LHHH"

[2016-07-18 03:30] IFAEpat commented on #942
@hairlineAirlines needs to be invited guys1 :)

[2016-07-18 03:53] TristinWoolf commented on #942
Duplicate issue. Please search before creating issues! Check #646 for further discussion.

[2016-07-18 03:56] IFAEpat commented on #646
HairlineAirlines needs to be invited and he's doing this

[2016-07-18 03:56] TristinWoolf commented on #646
It's already been done!

[2016-07-18 03:56] #646 closed

[2016-07-18 04:17] hairlineAirlines opened #943 "SULS-Capitan Curbelo Intl-MALDONADO-URUGUAY"
RECYCLED.

[2016-07-18 04:18] IFAEpat commented on #943
@hairlineAirlines is doing this, needs to be invited

[2016-07-18 04:51] IFAEpat commented on #942
Will reuse this and #919 to clean up the Duplicates

[2016-07-18 04:51] IFAEpat commented on #942
Hármashatárhegy Airport

[2016-07-18 05:26] IFAEpat commented on #942
done

fbfcae8

[2016-07-18 05:26] #942 closed

[2016-07-18 05:31] IFAEpat commented on #919
Békéscsaba Airport

[2016-07-18 07:35] B777fan commented on #124
Yes it is, @samuelandersson.

[2016-07-18 07:59] samuelandersson commented on #38
https://community.infinite-flight.com/t/yssy-parking-mistake/52065?u=samuel123abc

[2016-07-18 07:59] samuelandersson commented on #244
Duplicate

[2016-07-18 08:56] Aviationluver commented on #442
I can re-do this one.

[2016-07-18 16:07] lolo31r opened #944 "EDBC"
I am doing now this airport

[2016-07-18 20:49] TristinWoolf commented on #944
@lolo31r You haven't accepted the invite to the GitHub team via email yet. Please accept. :)

[2016-07-18 21:23] samuelandersson opened #945 "ESSD"
Redoing

[2016-07-18 21:23] samuelandersson commented on #945
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/2737a17ef513a21bbc3fe181e635edb5334afbb7)

[2016-07-18 21:23] #945 closed

[2016-07-18 21:58] samuelandersson opened #946 "ESND"
Redoing.

[2016-07-18 22:06] PaulNielsen opened #947 "ESNN"
Being redone :)

[2016-07-18 22:12] samuelandersson commented on #946
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/121ef813cb380c9de1168e9144774606386b0c27)

[2016-07-18 22:12] #946 closed

[2016-07-18 23:56] PaulNielsen commented on #947
Done, awaiting approval.

[2016-07-19 06:07] IFAEpat commented on #919
Done

75e16575b0d3ecbadc2d6240e02015e4480bd7f6

[2016-07-19 06:07] #919 closed

[2016-07-19 06:15] IFAEpat commented on #13
Google earth has updated, will make extra adjustments :)

[2016-07-19 06:21] IFAEpat commented on #13
Actually, seems misaligned a bit...

[2016-07-19 06:46] RileyDunshea commented on #555
Sorry cant do this one anymore

[2016-07-19 06:50] ghost opened #948 "YWLM-Williamtown Airport-NEW SOUTH WALES-AUSTRALIA"
Newcaslte airport in aus. Needs a complete re-do. I will do it.

[2016-07-19 09:00] PaulNielsen opened #949 "ESNH"
Being redone

[2016-07-19 09:17] PaulNielsen commented on #949
Done, awaiting approval

[2016-07-19 09:57] kilt46 commented on #555
This is NOT ACCEPTABLE starting a job and closing it NOT DONE

[2016-07-19 09:58] RileyDunshea commented on #555
Kilt i can't download the files. i will take me three hours to get the pics from WEDbing. Im sorry i didn't know

[2016-07-19 10:02] samuelandersson commented on #543
Adding stands and buildings.

[2016-07-19 10:07] RileyDunshea commented on #555
Okay i will do it. I'm sorry i have an extremely slow download speed so it is going to take me ages to get the photo's from WEDbing. I will start tomorrow.

[2016-07-19 10:39] samuelandersson commented on #543
See commit for what i have done exactly.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/4def12d8b2041723f5bb631b0d7671b1df69fa1c)

[2016-07-19 10:39] #543 closed

[2016-07-19 10:40] PaulNielsen commented on #555
How many files does it say it has to download, Riley?

[2016-07-19 10:42] RileyDunshea commented on #555
21,000. I have slow internet so I don't know when to download them.

[2016-07-19 10:42] samuelandersson commented on #555
You need to zoom in closer to the airport @RileyDunshea just so it fits in screen.

[2016-07-19 10:44] PaulNielsen commented on #555
Uhhh. Yeah, and also if you have to have it a bit zoomed out, make your browser window smaller. Did you set it on 19? Also 21,000 should only take one hour. Just put in on and do something else at the same... Gosh.

[2016-07-19 10:46] RileyDunshea commented on #555
Yes it is one 19. I'm zoomed out as close as I can to get the whole airport in. I live in Aus so my internet is really slow. 21,000 would take me 3 hours. I'll try the window trick.

[2016-07-19 11:31] samuelandersson commented on #244
And added buildings as well as stands.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/59f15154bef3d1f461aeac4fd5716d5a3cf25b88)

[2016-07-19 13:22] samuelandersson opened #950 "ESSB-Stockholm Bromma Airport-STOCKHOLM-SWEDEN"
Stockholm/Bromma

Adding buildings

[2016-07-19 13:32] samuelandersson commented on #950
Added buildings.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/b4de0e15f913fe0cd645ccffddeaa483ff682400)

[2016-07-19 18:06] samuelandersson opened #951 "ESMT-Halmstad Airport-HALLAND-SWEDEN"

[2016-07-19 20:59] samuelandersson commented on #951
Redone.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/5e4780f18802d65c860eb15a3b14f577913a4ba7)

[2016-07-20 00:09] TristinWoolf commented on #385
What is the story with this? I can't find an airport with this ICAO in the code. @DavidCutler ?

[2016-07-20 00:21] TristinWoolf commented on #445
@dushyants19 Got the story on this? It automatically unassigned @DS2001 when I didn't even intend to, but now I can't re assign him. Should this be put back up for grabs?

[2016-07-20 00:40] TristinWoolf commented on #551
I guess that this is up for grabs.. :)

[2016-07-20 00:58] TristinWoolf commented on #445
Up for grabs! :)

[2016-07-20 01:32] #702 closed

[2016-07-20 01:44] kilt46 commented on #951
Error with taxiway. Transparent
![Uploading image.png…]()

[2016-07-20 02:06] kilt46 commented on #244
Would suggest the centre lines need a little more detail. I show model v satellite.
![image](https://cloud.githubusercontent.com/assets/14023167/16972901/b72c4b88-4df4-11e6-80d2-4c1a3004d695.png)

[2016-07-20 03:06] TristinWoolf commented on #428
Jacob S has fixed a couple misaligned spawn points and sent it in to the email. I don't think its necessary to re-open and label, etc.

[2016-07-20 03:09] TristinWoolf commented on #399
Jacob S is adjusting a few spawn points at the terminals. Just putting it on here for record. Although, Jacob _does_ need to be invited to the GitHub team.

[2016-07-20 03:13] TristinWoolf commented on #951
@kilt46 Could you please reupload the picture? It did not manage to upload..

[2016-07-20 03:13] IFAEpat commented on #13
Realigned and added missing features

[2016-07-20 09:01] samuelandersson commented on #951
@kilt46 I have also doublechecked wi th @henrikbg. This is currently a bug in WED and it is actually there.

[2016-07-20 09:03] samuelandersson commented on #244
@kilt46 do you mean the centreline at the actual stand or the one that runs along all of the stands?

[2016-07-20 09:07] henrikbg commented on #309
Yes, I am. :) Here's the progress...

![screen shot 2016-07-20 at 11 06 21 am](https://cloud.githubusercontent.com/assets/14116830/16981269/1f922f88-4e6a-11e6-971c-c6c4378fbb62.png)

[2016-07-20 11:29] ReflexRSM commented on #722
Sent for approval.

[2016-07-20 11:29] ReflexRSM commented on #619
Sent for approval.

[2016-07-20 11:29] ReflexRSM commented on #598
Sent for approval.

[2016-07-20 14:11] moritzbabl commented on #574
I would like to redo this one

[2016-07-20 22:11] kilt46 commented on #951
That is because...
![image](https://cloud.githubusercontent.com/assets/14023167/17004904/ef4b8b98-4e9c-11e6-982c-729af103fa3e.png)

[2016-07-20 22:11] kilt46 commented on #951
Its a LINE not a taxiway
![image](https://cloud.githubusercontent.com/assets/14023167/17004914/019a7b74-4e9d-11e6-8918-d30de035f9a6.png)

[2016-07-20 22:12] samuelandersson commented on #951
That explains it all, I'll check it out tomorrow.

[2016-07-20 22:47] kilt46 commented on #543
My fault. close range Satellite made airport seem off
![image](https://cloud.githubusercontent.com/assets/14023167/17005819/01218b42-4ea2-11e6-98bf-167986c2cdf2.png)

[2016-07-21 16:08] Aviationluver commented on #774
Sent this one off to be reviewed again (I sent the apt.dat a few days ago actually)

[2016-07-21 18:43] samuelandersson commented on #951
Fixed problem, the previous line is now a taxiway.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/2d222301a08b417990765dc0adcffe402b00c038)

[2016-07-21 18:43] #951 closed

[2016-07-22 04:15] IFAEpat commented on #610
@CaptainTrapBeats please work on this, many overlapped taxiways, unsnapped lines, needs many more spawn points too.

[2016-07-22 16:25] carmichaelalonso commented on #376
Lorenzo is doing this now.

[2016-07-22 21:05] kilt46 commented on #524
AIRPORT REDRAWN FROM SCRATCH

[2016-07-22 22:00] IFAEpat opened #953 "RJFT"
Kumamoto

Previous issue may have been recycled, created a new one so Kilt can process :)

[2016-07-23 10:56] bavAVIA opened #954 "EDNB"
Editing EDNB (Arnbruck, Germany) as my first airport.

[2016-07-23 13:04] dushyants19 commented on #774
f3a01af

[2016-07-23 13:30] kilt46 commented on #774
![image](https://cloud.githubusercontent.com/assets/14023167/17078125/af2fa6ba-50af-11e6-8617-9778b4098af6.png)

[2016-07-23 13:31] kilt46 commented on #774
![image](https://cloud.githubusercontent.com/assets/14023167/17078126/c6c9ffd2-50af-11e6-9009-671d6b35057b.png)

[2016-07-23 13:31] kilt46 commented on #774
Lines for gates are not like the satellite image!

[2016-07-23 14:55] dushyants19 commented on #953
Pat, do you want to do this?

[2016-07-23 15:38] IFAEpat commented on #953
@dushyanys19 I already did, I said the issue may have been recycled already. I opened a new one so Kilt can process it for his website.

[2016-07-23 15:41] dushyants19 commented on #953
If its done, close it :)

[2016-07-23 15:42] #953 closed

[2016-07-23 16:14] IFAEpat commented on #953
@dushyants19, ok sorry, I didn't have much service earlier. Anyway, thanks :)

[2016-07-23 17:29] #933 closed

[2016-07-23 17:32] #934 closed

[2016-07-23 17:33] dushyants19 opened #955 "EDMW"

[2016-07-23 17:33] #955 closed

[2016-07-23 17:36] dushyants19 commented on #943
Invited.

[2016-07-24 09:03] moritzbabl commented on #935
Can we just turn this to EDMW, I'm doing that one as well anyway

[2016-07-24 11:52] kilt46 commented on #939
Please add gates 5-7 as per enclosed chart
![image](https://cloud.githubusercontent.com/assets/14023167/17083572/285d7e2a-516b-11e6-87a3-46dfdc320044.png)

[2016-07-24 11:54] PaulNielsen commented on #939
Will look into it now :)

[2016-07-24 11:56] PaulNielsen commented on #939
Weird, because this is not how it look on the image, for example look here
![skarmavbild 2016-07-24 kl 14 55 29](https://cloud.githubusercontent.com/assets/15717537/17083594/b96e4ece-51ae-11e6-9dda-704afe075dc9.png)

[2016-07-24 11:57] kilt46 commented on #941
Transparent runway
![image](https://cloud.githubusercontent.com/assets/14023167/17083606/ed2a6ace-516b-11e6-9152-ad1b835ced57.png)

[2016-07-24 12:03] PaulNielsen commented on #941
I have sent in ESMK again with and fixed the runway. :)

[2016-07-24 12:06] kilt46 commented on #947
Only 6 gates on main apron
![image](https://cloud.githubusercontent.com/assets/14023167/17083651/088381b0-516d-11e6-8aea-b9543363844f.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17083659/1427717a-516d-11e6-9b1e-0b843cbe9f5a.png)

[2016-07-24 12:14] PaulNielsen commented on #947
Again these old images where wrong.. Will fix this.

[2016-07-24 12:22] PaulNielsen commented on #947
Fixed, and sent in for approval

[2016-07-24 12:33] PaulNielsen commented on #939
Fixed and sent in.

[2016-07-24 16:01] bavAVIA opened #956 "VQTY"
Quickly redoing VQTY (Yongphulla Airport), Bhutan.

[2016-07-24 18:26] moritzbabl commented on #935
Sent for approval (EDMW, @dushyants19 ,not EDMV :stuck_out_tongue_winking_eye:

[2016-07-24 18:28] moritzbabl opened #957 "EDNR"
Regensburg Oberhub Airfield, will do it

[2016-07-24 19:36] moritzbabl commented on #957
Sent for approval

[2016-07-24 21:29] PaulNielsen opened #958 "ESNQ"
Being redone

[2016-07-24 23:08] Oguz8011 commented on #878
@turkish1941
Trabzon,Diyarbakır,Ordu Giresun havalimanlarını da yapabilir misin? Bu zamana kadar yaptıkların için tekrar teşekkürler.

Translate:
@turkish1941
Can you make Trabzon(LTCG),Diyarbakır(LTCC) Ordu-Giresun (LTCB) Airports? Thank you again for all you had done of Airports.

[2016-07-24 23:27] PaulNielsen commented on #958
Sent in for approval

[2016-07-25 12:00] bavAVIA opened #959 "LDLO"
Overhauling Losinj Airport, Croatia.

[2016-07-25 13:39] TristinWoolf commented on #959
@bavAVIA You have to accept the email invite to the GitHub team. :)

[2016-07-25 14:55] TristinWoolf opened #960 "MYX7"
Rudder Cut Cay Airport

Being redone.

[2016-07-25 15:11] TristinWoolf commented on #960
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/cf1200e1163fc75c65f905095724713261a9bfbd)

[2016-07-25 15:11] #960 closed

[2016-07-25 16:18] TristinWoolf opened #961 "MYX8"
Darby Island Airport

**Airport no longer used.**

Being done from scratch.. Literally just an overgrown runway...

[2016-07-25 16:23] TristinWoolf commented on #961
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/tree/april2016/Bahamas/MYX8)

[2016-07-25 16:23] #961 closed

[2016-07-25 16:29] #957 closed

[2016-07-25 16:33] dushyants19 commented on #959
Please accept the invite 🙏

[2016-07-25 16:34] dushyants19 commented on #892
Please accept the invite :pray:

[2016-07-25 16:34] dushyants19 commented on #902
Please accept the invite :pray:

[2016-07-25 16:34] dushyants19 commented on #943
Please accept the invite :pray: :)

[2016-07-25 16:35] dushyants19 commented on #541
Hen are you doing this

[2016-07-25 16:36] henrikbg commented on #541
No. ItPerses was going to do it. I just created the issue for him.

[2016-07-25 16:36] dushyants19 commented on #541
He was kicked out. Up for grabs

[2016-07-25 17:06] TristinWoolf commented on #401
Liam is doing this now.

[2016-07-25 17:39] TristinWoolf opened #962 "MYZ2"
Cape Eleuthera Airport

**Airport no longer in use.**

Being redone from scratch.

[2016-07-25 17:52] TristinWoolf commented on #962
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/5a67d10165b6d37daf00a95af594e2dc0e09b4fe)

[2016-07-25 17:52] #962 closed

[2016-07-25 18:03] TristinWoolf opened #963 "MYZ3"
Little Whale Cay Berry Islands Airport

Being redone.

[2016-07-25 18:35] TristinWoolf commented on #963
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/3dfe5aa295cb482e71b648adceeaba3b86efe8db)

[2016-07-25 18:35] #963 closed

[2016-07-25 19:00] TristinWoolf opened #964 "MYNN-Lynden Pindling International Airport-NASSAU-BAHAMAS"
Lynden Pindling International Airport

Being redone.

[2016-07-25 19:34] samuelandersson commented on #447
Taking this, as we see no action from Anfinn.

[2016-07-25 20:10] turkish1941 commented on #878
tabi abi ama kulandimiz harita ordu daha yok, onu malesef daha yapamiyorum
translation: sure, but I cant make ordu yet bc of bing

![123456](https://cloud.githubusercontent.com/assets/13819750/17115618/7b7a352c-52b4-11e6-869d-c1803b47ed96.png)

[2016-07-26 15:32] #939 closed

[2016-07-26 15:32] #941 closed

[2016-07-26 15:32] #947 closed

[2016-07-26 15:32] #958 closed

[2016-07-26 15:33] dushyants19 commented on #956
New airport eh? Nice!

[2016-07-26 15:33] #956 closed

[2016-07-26 20:38] Aviationluver commented on #774
I have sent this one in for review again. Some gates have been re-done according to Google Earth Imagery.

[2016-07-26 21:31] Aviationluver commented on #442
Sent this one off to be reviewed.

[2016-07-26 23:25] PaulNielsen opened #965 "ESOH"
Redone and sent in for approval

[2016-07-27 12:33] bavAVIA opened #966 "ENVA-Trondheim Vaernes Airport-NORD-TRONDELAG-NORWAY"
Thought it was time to pick up on something bigger.
Redoing Trondheim - Vaernes Airport.

[2016-07-27 12:49] PaulNielsen opened #967 "ESKK"
Redoing this one

[2016-07-27 13:29] PaulNielsen commented on #967
Sent for approval

[2016-07-27 15:57] #965 closed

[2016-07-27 15:57] #967 closed

[2016-07-27 19:10] Aviationluver commented on #498
I would like to re-do this one.

[2016-07-27 21:03] PaulNielsen opened #968 "EGKB-Biggin Hill Airport-ENGLAND-UNITED KINGDOM"
Will redo this one

[2016-07-27 21:08] PaulNielsen commented on #968
Sorry, when I searched for it. Nothing showed up, but I noticed 5 seconds after my internet went out, so that's probably why. Sorry.

[2016-07-27 21:16] PaulNielsen opened #969 "ESNO"
Will redo this one

[2016-07-27 22:34] kilt46 commented on #888
![image](https://cloud.githubusercontent.com/assets/14023167/17194911/5f604864-5420-11e6-8b5c-5bade4731995.png)

[2016-07-27 22:36] kilt46 commented on #888
![image](https://cloud.githubusercontent.com/assets/14023167/17194948/98f1812e-5420-11e6-8df0-cac2b9759993.png)

[2016-07-27 22:37] PaulNielsen commented on #969
Sent in for approval! :)

[2016-07-27 22:47] kilt46 commented on #965
![image](https://cloud.githubusercontent.com/assets/14023167/17195202/21908218-5422-11e6-9612-495069915281.png)

[2016-07-27 22:55] kilt46 commented on #967
![image](https://cloud.githubusercontent.com/assets/14023167/17195438/5585d676-5423-11e6-9975-c6fedd971fb7.png)

[2016-07-27 23:57] kilt46 commented on #108
![image](https://cloud.githubusercontent.com/assets/14023167/17196676/fc061c2e-542b-11e6-8eac-fae46cb9a359.png)

[2016-07-27 23:58] kilt46 commented on #388
![image](https://cloud.githubusercontent.com/assets/14023167/17196695/1b700d86-542c-11e6-89af-e2aa5a054936.png)

[2016-07-27 23:59] kilt46 commented on #499
![image](https://cloud.githubusercontent.com/assets/14023167/17196714/3bdaa126-542c-11e6-856a-98a4d11109a7.png)

[2016-07-28 00:34] kilt46 commented on #940
![image](https://cloud.githubusercontent.com/assets/14023167/17197291/1b58b6ea-5431-11e6-9757-22ec76cab0fe.png)

[2016-07-28 00:34] kilt46 commented on #940
![image](https://cloud.githubusercontent.com/assets/14023167/17197297/336ebc52-5431-11e6-82fd-1639c07668e3.png)

[2016-07-28 00:37] kilt46 commented on #272
![image](https://cloud.githubusercontent.com/assets/14023167/17197334/7ea31560-5431-11e6-9755-df87ee79c5e7.png)

[2016-07-28 00:50] kilt46 commented on #940
![image](https://cloud.githubusercontent.com/assets/14023167/17197573/6e60b764-5433-11e6-9390-ab16d63dc0cc.png)

[2016-07-28 00:59] henrikbg commented on #969
Approved.

[2016-07-28 01:00] #969 closed

[2016-07-28 02:07] kilt46 commented on #451
![image](https://cloud.githubusercontent.com/assets/14023167/17198858/2168962e-543e-11e6-813a-decabcf0f989.png)

[2016-07-28 02:10] kilt46 commented on #436
![image](https://cloud.githubusercontent.com/assets/14023167/17198905/8d5c6022-543e-11e6-831a-a5a16006aa77.png)

[2016-07-28 02:13] kilt46 commented on #452
![image](https://cloud.githubusercontent.com/assets/14023167/17198950/e9d842b2-543e-11e6-85b3-639b4663ffdf.png)

[2016-07-28 02:16] kilt46 commented on #449
![image](https://cloud.githubusercontent.com/assets/14023167/17199024/70ee4de6-543f-11e6-8e15-57a671f26314.png)

[2016-07-28 02:19] kilt46 commented on #423
![image](https://cloud.githubusercontent.com/assets/14023167/17199066/c11fa38c-543f-11e6-83ce-b41d5ac1ff79.png)

[2016-07-28 02:25] kilt46 commented on #424
![image](https://cloud.githubusercontent.com/assets/14023167/17199189/ad3475fe-5440-11e6-8a01-83fb067b08d4.png)

[2016-07-28 02:28] kilt46 commented on #435
![image](https://cloud.githubusercontent.com/assets/14023167/17199242/1223507a-5441-11e6-836b-5ffedb8ef4d6.png)

[2016-07-28 03:22] kilt46 commented on #435
![image](https://cloud.githubusercontent.com/assets/14023167/17200165/88d19630-5448-11e6-8cfb-c5244cae503f.png)

[2016-07-28 03:22] kilt46 commented on #432
![image](https://cloud.githubusercontent.com/assets/14023167/17200175/a8df3248-5448-11e6-8c8f-d331f93d6967.png)

[2016-07-28 03:25] kilt46 commented on #430
![image](https://cloud.githubusercontent.com/assets/14023167/17200221/13d7b156-5449-11e6-9c28-899e0315c883.png)

[2016-07-28 03:27] kilt46 commented on #431
![image](https://cloud.githubusercontent.com/assets/14023167/17200265/5bda94fa-5449-11e6-9be9-799c1a27d176.png)

[2016-07-28 07:38] Will171 commented on #750
Approved- Issue Closed

[2016-07-28 07:38] #750 closed

[2016-07-28 09:35] Will171 commented on #689
Sent for approval

[2016-07-28 09:57] kilt46 commented on #427
![image](https://cloud.githubusercontent.com/assets/14023167/17208806/c072a642-547f-11e6-92b5-4d3a662bad31.png)

[2016-07-28 09:59] kilt46 commented on #437
![image](https://cloud.githubusercontent.com/assets/14023167/17208872/0a8123b2-5480-11e6-9380-a4c8e0c79ee5.png)

[2016-07-28 10:01] kilt46 commented on #438
![image](https://cloud.githubusercontent.com/assets/14023167/17208930/5c8110c8-5480-11e6-8e8d-9c870787e557.png)

[2016-07-28 10:06] kilt46 commented on #919
![image](https://cloud.githubusercontent.com/assets/14023167/17209128/15156968-5481-11e6-8266-f48b37c60e27.png)

[2016-07-28 10:07] kilt46 commented on #910
![image](https://cloud.githubusercontent.com/assets/14023167/17209160/3e319132-5481-11e6-99c0-2bb9e95fd28a.png)

[2016-07-28 10:09] kilt46 commented on #887
![image](https://cloud.githubusercontent.com/assets/14023167/17209198/7413ba1e-5481-11e6-9a7d-2fe0a4f1cd75.png)

[2016-07-28 10:11] kilt46 commented on #942
![image](https://cloud.githubusercontent.com/assets/14023167/17209234/ada16fec-5481-11e6-8684-8c8c90940235.png)

[2016-07-28 10:12] kilt46 commented on #908
![image](https://cloud.githubusercontent.com/assets/14023167/17209268/d9acdaf4-5481-11e6-8aac-cc3e408cfa22.png)

[2016-07-28 10:13] kilt46 commented on #891
![image](https://cloud.githubusercontent.com/assets/14023167/17209312/0b6b2276-5482-11e6-8189-b4f4b34c502e.png)

[2016-07-28 10:14] kilt46 commented on #884
![image](https://cloud.githubusercontent.com/assets/14023167/17209333/2bdd899a-5482-11e6-8017-05851c3f4756.png)

[2016-07-28 10:15] kilt46 commented on #44
![image](https://cloud.githubusercontent.com/assets/14023167/17209362/4c33fab2-5482-11e6-8384-3fd770f14326.png)

[2016-07-28 10:16] kilt46 commented on #906
![image](https://cloud.githubusercontent.com/assets/14023167/17209381/66fbe9c2-5482-11e6-9fd8-deca9be88e76.png)

[2016-07-28 10:16] kilt46 commented on #907
![image](https://cloud.githubusercontent.com/assets/14023167/17209408/81c3f826-5482-11e6-9277-44a5eb8314be.png)

[2016-07-28 10:17] kilt46 commented on #911
![image](https://cloud.githubusercontent.com/assets/14023167/17209432/9e6b9fce-5482-11e6-8995-8dcb4cfc17c9.png)

[2016-07-28 10:18] kilt46 commented on #42
![image](https://cloud.githubusercontent.com/assets/14023167/17209451/b7bf5e8e-5482-11e6-8535-9375c49391d7.png)

[2016-07-28 10:19] kilt46 commented on #43
![image](https://cloud.githubusercontent.com/assets/14023167/17209488/de44f5d2-5482-11e6-8987-309c99a5f43f.png)

[2016-07-28 10:20] kilt46 commented on #285
![image](https://cloud.githubusercontent.com/assets/14023167/17209518/f74f9154-5482-11e6-9fd5-ab3986af2449.png)

[2016-07-28 10:20] kilt46 commented on #885
![image](https://cloud.githubusercontent.com/assets/14023167/17209536/10c659d8-5483-11e6-94d9-ff9f700dffca.png)

[2016-07-28 10:21] kilt46 commented on #48
![image](https://cloud.githubusercontent.com/assets/14023167/17209556/2bb3a0f2-5483-11e6-90d1-b5c1d200ae56.png)

[2016-07-28 10:29] PaulNielsen opened #970 "ESNU"
Re-doing this one

[2016-07-28 12:18] carmichaelalonso commented on #238
Will wants to do _minor_ fixes, including removing hashed areas.

[2016-07-28 12:24] Will171 commented on #238
Will also be re-aligning the taxiway lines/taxiways

[2016-07-28 13:28] PaulNielsen commented on #970
Sent in for approval

[2016-07-28 16:27] samuelandersson commented on #447
Redone.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/ebe864cc9fc221a3c857332f06c395d3b9fdd50d)

[2016-07-28 19:14] samuelandersson opened #971 "LD57"
Has been redone.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/55cc184d1ab5916ab6768c9cd14870810da261fe)

[2016-07-28 19:14] #971 closed

[2016-07-28 19:21] samuelandersson opened #972 "LDDP"
Changed state to closed.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/690f075b75538d7ad246ad7a86cf4c2f2268999b)

[2016-07-28 19:35] samuelandersson opened #973 "LDRI"
Rijeka, Croatia.

Redoing.

[2016-07-28 19:47] samuelandersson commented on #973
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/25c1afd8982fae59afbe5d72a80fd16a43c95831)

[2016-07-28 19:58] samuelandersson opened #974 "LDOC"
Osijek Cepin Zracna Luka.

Redoing.

[2016-07-28 20:25] samuelandersson opened #975 "LDOS"
Osijek Klisa Zracna Luka, Croatia.

Redoing.

[2016-07-28 20:34] samuelandersson commented on #974
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/299fd7094eee0486ba73f780f2e48f8969cb1da5)

[2016-07-28 20:34] #974 closed

[2016-07-28 20:35] samuelandersson commented on #975
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/ac9e2ffdbae433f02df1cc03aec402c660c8c11b)

[2016-07-28 20:50] samuelandersson commented on #244
Fixed.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/72c97e13fefda5c068158fe8b21a5f98c0d71305)

[2016-07-28 20:54] samuelandersson opened #976 "LDRG"
Redoing

[2016-07-28 20:56] samuelandersson commented on #976
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/3dee52b802dc62bf089fc409532bc66f16cbbef1)

[2016-07-28 20:56] #976 closed

[2016-07-28 22:18] kilt46 commented on #940
![image](https://cloud.githubusercontent.com/assets/14023167/17231404/3c573522-54e7-11e6-9e28-e2a76eba365f.png)

[2016-07-28 22:26] kilt46 commented on #976
![image](https://cloud.githubusercontent.com/assets/14023167/17231570/631a3424-54e8-11e6-9558-d9f29d27e299.png)

[2016-07-28 22:35] kilt46 commented on #975
![image](https://cloud.githubusercontent.com/assets/14023167/17231808/b3436afa-54e9-11e6-8708-c7e48078c882.png)
PLEASE NUMBER GATES AS PER ATTACHED CHART

[2016-07-28 22:37] samuelandersson commented on #975
Thanks Kilt, could not find chart. Will fix by tomorrow.

[2016-07-28 22:44] kilt46 commented on #974
![image](https://cloud.githubusercontent.com/assets/14023167/17232036/e8f18e56-54ea-11e6-809c-8a5b55fc4c57.png)

[2016-07-28 22:47] kilt46 commented on #437
![image](https://cloud.githubusercontent.com/assets/14023167/17232097/6b261b26-54eb-11e6-8c7e-08957f677615.png)

[2016-07-28 22:53] kilt46 commented on #973
![image](https://cloud.githubusercontent.com/assets/14023167/17232231/35fee4fe-54ec-11e6-8fd2-2f37e21782fb.png)
PLEASE ADD GATES AS PER CHART

[2016-07-28 22:54] kilt46 commented on #971
NO CHART

[2016-07-28 22:56] kilt46 commented on #972
THIS HAS NOT BEEN REDONE!
![image](https://cloud.githubusercontent.com/assets/14023167/17232301/a8dd4f06-54ec-11e6-9e7f-7cfcf1e0b5c2.png)

[2016-07-28 22:58] PaulNielsen commented on #972
Croatia has many closed airports. That dosen't even exist anymore. And this is one of them.

[2016-07-28 22:59] kilt46 commented on #572
![image](https://cloud.githubusercontent.com/assets/14023167/17232337/0324852e-54ed-11e6-9700-c7814e6df6ae.png)

[2016-07-28 23:00] kilt46 commented on #513
![image](https://cloud.githubusercontent.com/assets/14023167/17232359/2996e5c6-54ed-11e6-8d43-18bbde290dfe.png)

[2016-07-28 23:01] kilt46 commented on #765
![image](https://cloud.githubusercontent.com/assets/14023167/17232371/4b82643a-54ed-11e6-8d1f-2351716e7bda.png)

[2016-07-28 23:14] kilt46 commented on #969
![image](https://cloud.githubusercontent.com/assets/14023167/17232632/104c0220-54ef-11e6-8fe9-c1228a76d1b2.png)

[2016-07-28 23:15] kilt46 commented on #543
![image](https://cloud.githubusercontent.com/assets/14023167/17232659/4489b852-54ef-11e6-9490-1855fc29618e.png)

[2016-07-28 23:16] kilt46 commented on #807
![image](https://cloud.githubusercontent.com/assets/14023167/17232670/5b71e79c-54ef-11e6-9cdc-342f023081b8.png)

[2016-07-28 23:16] kilt46 commented on #760
![image](https://cloud.githubusercontent.com/assets/14023167/17232690/6e3ca59c-54ef-11e6-86b4-9395351b3cfc.png)

[2016-07-28 23:17] kilt46 commented on #563
![image](https://cloud.githubusercontent.com/assets/14023167/17232700/88861636-54ef-11e6-9634-b9d703311881.png)

[2016-07-28 23:18] kilt46 commented on #926
![image](https://cloud.githubusercontent.com/assets/14023167/17232715/a521937e-54ef-11e6-94f3-8e19ad0fecb5.png)

[2016-07-28 23:18] kilt46 commented on #514
![image](https://cloud.githubusercontent.com/assets/14023167/17232723/bb942af4-54ef-11e6-9c3b-416bb32cfeae.png)

[2016-07-28 23:20] kilt46 commented on #938
![image](https://cloud.githubusercontent.com/assets/14023167/17232757/f3ad5a5a-54ef-11e6-9cd3-452c4b1bed78.png)

[2016-07-28 23:20] kilt46 commented on #927
![image](https://cloud.githubusercontent.com/assets/14023167/17232769/05f222ea-54f0-11e6-9023-52a2a7e8f007.png)

[2016-07-28 23:21] kilt46 commented on #757
![image](https://cloud.githubusercontent.com/assets/14023167/17232775/1a2cb798-54f0-11e6-8c6a-2bdf8f937150.png)

[2016-07-28 23:22] kilt46 commented on #951
![image](https://cloud.githubusercontent.com/assets/14023167/17232790/3339a110-54f0-11e6-9e51-0ef0a01ce43d.png)

[2016-07-28 23:22] kilt46 commented on #933
![image](https://cloud.githubusercontent.com/assets/14023167/17232799/43c89cb6-54f0-11e6-9842-994e60b37622.png)

[2016-07-28 23:23] kilt46 commented on #946
![image](https://cloud.githubusercontent.com/assets/14023167/17232809/55eef05c-54f0-11e6-824f-52a0ca04e0f5.png)

[2016-07-28 23:32] kilt46 commented on #947
![image](https://cloud.githubusercontent.com/assets/14023167/17232951/9846ee86-54f1-11e6-9621-295f91277408.png)

[2016-07-28 23:33] kilt46 commented on #958
![image](https://cloud.githubusercontent.com/assets/14023167/17232970/ccf1073e-54f1-11e6-9f47-f95c8056f998.png)

[2016-07-28 23:34] kilt46 commented on #928
![image](https://cloud.githubusercontent.com/assets/14023167/17232980/dc5fd236-54f1-11e6-9d1e-ebe25270153b.png)

[2016-07-28 23:34] kilt46 commented on #761
![image](https://cloud.githubusercontent.com/assets/14023167/17232988/ea8a223a-54f1-11e6-9350-87d98d973111.png)

[2016-07-28 23:35] kilt46 commented on #904
![image](https://cloud.githubusercontent.com/assets/14023167/17233001/ff31852a-54f1-11e6-9465-cecbc98cdbc4.png)

[2016-07-28 23:35] kilt46 commented on #950
![image](https://cloud.githubusercontent.com/assets/14023167/17233008/0f3c619c-54f2-11e6-8202-55f516c9e3d2.png)

[2016-07-28 23:36] kilt46 commented on #945
![image](https://cloud.githubusercontent.com/assets/14023167/17233019/2180a20a-54f2-11e6-9b79-25c8d615f77c.png)

[2016-07-28 23:37] kilt46 commented on #244
BASELINE
![image](https://cloud.githubusercontent.com/assets/14023167/17233051/479a0d00-54f2-11e6-984b-c839ef759e1f.png)

[2016-07-29 00:56] kilt46 commented on #244
![image](https://cloud.githubusercontent.com/assets/14023167/17234331/6b47144a-54fd-11e6-8616-80d19688adc8.png)

[2016-07-29 01:32] kilt46 commented on #244
![image](https://cloud.githubusercontent.com/assets/14023167/17234887/54bf0098-5502-11e6-9a39-0660455b8550.png)

[2016-07-29 01:32] kilt46 commented on #244
![image](https://cloud.githubusercontent.com/assets/14023167/17234899/7176ab78-5502-11e6-8706-6e7ecd643f06.png)

[2016-07-29 03:27] kilt46 commented on #442
![image](https://cloud.githubusercontent.com/assets/14023167/17236900/70c7253a-5512-11e6-9b29-ff3cf07cc9eb.png)

[2016-07-29 03:28] kilt46 commented on #442
![image](https://cloud.githubusercontent.com/assets/14023167/17236945/ac979e00-5512-11e6-973e-e397c723083b.png)

[2016-07-29 04:13] TristinWoolf commented on #789
Decided to take a little break from Project Bahamas and finished this up.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/2d67e89d0c53e07b36168a8790903de44c6ebaae)

[2016-07-29 04:13] #789 closed

[2016-07-29 09:35] samuelandersson commented on #975
Gate name change done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/11ad92e5f59ff3be5ee09180c578317e582bc9ae)

[2016-07-29 09:35] #975 closed

[2016-07-29 09:36] #972 closed

[2016-07-29 09:36] samuelandersson commented on #973
Gate name change done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/d5d96aa6f791a9877ceb5b47c35c44ddd2568617)

[2016-07-29 09:36] #973 closed

[2016-07-29 09:45] kilt46 commented on #515
![image](https://cloud.githubusercontent.com/assets/14023167/17244412/4ee6384a-5547-11e6-9ac7-a9636087cde0.png)

[2016-07-29 09:46] samuelandersson opened #977 "LDVA"
Redoing

[2016-07-29 09:46] kilt46 commented on #686
![image](https://cloud.githubusercontent.com/assets/14023167/17244436/6f50e7b0-5547-11e6-9771-21ea436f85b1.png)

[2016-07-29 09:48] PaulNielsen opened #978 "LDZA-Zagreb Airport-GRAD ZAGREB-CROATIA"
Will redo

[2016-07-29 09:48] kilt46 commented on #648
![image](https://cloud.githubusercontent.com/assets/14023167/17244477/b22680a4-5547-11e6-9415-88dda95824fc.png)

[2016-07-29 09:49] kilt46 commented on #654
![image](https://cloud.githubusercontent.com/assets/14023167/17244510/e0003006-5547-11e6-96c4-1eb0ce5be4cf.png)

[2016-07-29 09:50] kilt46 commented on #655
![image](https://cloud.githubusercontent.com/assets/14023167/17244534/f7b823fc-5547-11e6-8dc4-4f327f3d69e7.png)

[2016-07-29 09:51] kilt46 commented on #953
![image](https://cloud.githubusercontent.com/assets/14023167/17244549/11ad8ed2-5548-11e6-8a1c-3f647b858a59.png)

[2016-07-29 09:51] kilt46 commented on #659
![image](https://cloud.githubusercontent.com/assets/14023167/17244564/285d435c-5548-11e6-856c-d6710f6dc703.png)

[2016-07-29 09:52] kilt46 commented on #804
![image](https://cloud.githubusercontent.com/assets/14023167/17244582/403d5ab6-5548-11e6-9583-28fdd86d9c7f.png)

[2016-07-29 09:53] kilt46 commented on #542
![image](https://cloud.githubusercontent.com/assets/14023167/17244607/5c46bc02-5548-11e6-93d5-86d21d21ca87.png)

[2016-07-29 09:54] samuelandersson commented on #977
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/21d36b4d9ab665e51f6e15e0cc99fb3cef95f911)

[2016-07-29 09:54] #977 closed

[2016-07-29 10:04] kilt46 commented on #774
MISSING
![image](https://cloud.githubusercontent.com/assets/14023167/17244970/ef140494-5549-11e6-9c0a-67b5e794c508.png)

[2016-07-29 10:14] kilt46 commented on #972
![image](https://cloud.githubusercontent.com/assets/14023167/17245278/5b325c24-554b-11e6-921c-3f6e70e48ebb.png)

[2016-07-29 10:20] kilt46 commented on #765
![image](https://cloud.githubusercontent.com/assets/14023167/17245468/38b376d2-554c-11e6-895e-8aa0c8b70811.png)

[2016-07-29 10:22] kilt46 commented on #442
![image](https://cloud.githubusercontent.com/assets/14023167/17245527/7b880fea-554c-11e6-8a1b-dd2fa52ddc0a.png)

[2016-07-29 10:25] kilt46 commented on #977
![image](https://cloud.githubusercontent.com/assets/14023167/17245599/ceec8a3a-554c-11e6-8703-17f420b7a6bf.png)

[2016-07-29 10:26] kilt46 commented on #513
![image](https://cloud.githubusercontent.com/assets/14023167/17245634/f942cb46-554c-11e6-9ffd-565d8d01b9b3.png)

[2016-07-29 10:33] kilt46 commented on #973
![image](https://cloud.githubusercontent.com/assets/14023167/17245836/0bf5f6ae-554e-11e6-8aeb-f18a64dd6474.png)

[2016-07-29 10:43] kilt46 commented on #975
![image](https://cloud.githubusercontent.com/assets/14023167/17246072/6714593a-554f-11e6-949f-596382bb399d.png)

[2016-07-29 12:34] #970 closed

[2016-07-29 12:35] #689 closed

[2016-07-29 12:36] #809 closed

[2016-07-29 12:38] kilt46 commented on #447
![image](https://cloud.githubusercontent.com/assets/14023167/17248336/7b433ca4-555f-11e6-9b64-1fe082808f01.png)

[2016-07-29 12:39] kilt46 commented on #447
![image](https://cloud.githubusercontent.com/assets/14023167/17248348/949665be-555f-11e6-90d3-f57b15ad3005.png)

[2016-07-29 12:54] kilt46 commented on #809
![image](https://cloud.githubusercontent.com/assets/14023167/17248694/b5021cce-5561-11e6-8db2-79389f0cd5e3.png)

[2016-07-29 12:56] kilt46 commented on #418
![image](https://cloud.githubusercontent.com/assets/14023167/17248721/e89e3c16-5561-11e6-8313-90f91873e631.png)

[2016-07-29 13:10] kilt46 commented on #686
![image](https://cloud.githubusercontent.com/assets/14023167/17249084/de94a744-5563-11e6-83b6-cf1aee24f02a.png)

[2016-07-29 13:16] kilt46 commented on #689
![image](https://cloud.githubusercontent.com/assets/14023167/17249243/b57b6d38-5564-11e6-89e3-0710120efdde.png)

[2016-07-29 13:18] kilt46 commented on #528
![image](https://cloud.githubusercontent.com/assets/14023167/17249307/0530e0a6-5565-11e6-8aed-c585718e0e74.png)

[2016-07-29 13:22] kilt46 commented on #13
![image](https://cloud.githubusercontent.com/assets/14023167/17249434/8891447c-5565-11e6-94f5-a1fbab14bebd.png)

[2016-07-29 13:25] kilt46 commented on #293
![image](https://cloud.githubusercontent.com/assets/14023167/17249543/09756802-5566-11e6-8c5e-d00b2eebc275.png)

[2016-07-29 13:33] kilt46 commented on #409
![image](https://cloud.githubusercontent.com/assets/14023167/17249783/2a286580-5567-11e6-9006-a21e6bf63885.png)

[2016-07-29 13:34] kilt46 commented on #294
![image](https://cloud.githubusercontent.com/assets/14023167/17249804/3fd26818-5567-11e6-99a3-99ab74f251f6.png)

[2016-07-29 13:55] kilt46 commented on #750
![image](https://cloud.githubusercontent.com/assets/14023167/17250505/3c246542-556a-11e6-8c76-373b9ee4ab00.png)

[2016-07-29 14:03] kilt46 commented on #578
![image](https://cloud.githubusercontent.com/assets/14023167/17250753/5e7afa9c-556b-11e6-9c00-6acba7c232e3.png)

[2016-07-29 14:05] kilt46 commented on #238
![image](https://cloud.githubusercontent.com/assets/14023167/17250810/a116019e-556b-11e6-8886-5cc4e68bfb75.png)

[2016-07-29 14:07] kilt46 commented on #108
![image](https://cloud.githubusercontent.com/assets/14023167/17250860/da5e8f0c-556b-11e6-9792-89eb6add4fa4.png)

[2016-07-29 14:08] kilt46 commented on #295
![image](https://cloud.githubusercontent.com/assets/14023167/17250893/f4de3260-556b-11e6-816f-e572a2f2f04e.png)

[2016-07-29 14:09] kilt46 commented on #443
![image](https://cloud.githubusercontent.com/assets/14023167/17250943/277f2238-556c-11e6-9b71-603988509848.png)

[2016-07-29 14:12] kilt46 commented on #415
![image](https://cloud.githubusercontent.com/assets/14023167/17251009/8819b360-556c-11e6-9e83-44152ffe68f0.png)

[2016-07-29 14:18] kilt46 commented on #467
![image](https://cloud.githubusercontent.com/assets/14023167/17251235/68572e8a-556d-11e6-9bd8-c25e16ef877e.png)

[2016-07-29 14:38] kilt46 commented on #968
![image](https://cloud.githubusercontent.com/assets/14023167/17251917/2e2f309c-5570-11e6-85a2-e7fa51189d04.png)

[2016-07-29 15:21] kilt46 commented on #54
![image](https://cloud.githubusercontent.com/assets/14023167/17253387/349714ee-5576-11e6-89a7-5bf4bbd3a416.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17253396/3b48332c-5576-11e6-8dc9-80235e4bd6c7.png)

[2016-07-29 20:27] kilt46 commented on #970
![image](https://cloud.githubusercontent.com/assets/14023167/17262438/ef14ba04-55a0-11e6-96cf-253c0a98c427.png)

[2016-07-29 20:34] kilt46 commented on #970
![image](https://cloud.githubusercontent.com/assets/14023167/17262610/015e3748-55a2-11e6-8506-001543e4efac.png)

[2016-07-29 20:41] kilt46 commented on #941
![image](https://cloud.githubusercontent.com/assets/14023167/17262756/f87302ac-55a2-11e6-93cd-30612547574a.png)

[2016-07-29 20:44] kilt46 commented on #949
This is a base file. No modification has taken place
![image](https://cloud.githubusercontent.com/assets/14023167/17262829/5ae625cc-55a3-11e6-9021-482c128c27c5.png)

[2016-07-29 20:46] kilt46 commented on #760
![image](https://cloud.githubusercontent.com/assets/14023167/17262888/aec29a90-55a3-11e6-9349-c9cb748d0180.png)

[2016-07-29 20:48] kilt46 commented on #563
![image](https://cloud.githubusercontent.com/assets/14023167/17262919/d9749eaa-55a3-11e6-8351-0caaacc3353c.png)

[2016-07-29 20:49] PaulNielsen commented on #949
I guess maybe @dushyants19 forgot to add it.

[2016-07-29 20:49] kilt46 commented on #926
![image](https://cloud.githubusercontent.com/assets/14023167/17262957/093ae478-55a4-11e6-99aa-b091aa08408c.png)

[2016-07-29 20:50] kilt46 commented on #514
![image](https://cloud.githubusercontent.com/assets/14023167/17262998/33251f4c-55a4-11e6-845f-9f8515897e17.png)

[2016-07-29 20:52] kilt46 commented on #927
![image](https://cloud.githubusercontent.com/assets/14023167/17263047/6a08b852-55a4-11e6-9c1a-017fd03450e6.png)

[2016-07-29 20:53] kilt46 commented on #757
![image](https://cloud.githubusercontent.com/assets/14023167/17263065/93b7588e-55a4-11e6-95c0-2a6565f402af.png)

[2016-07-29 21:07] PaulNielsen commented on #978
Sent in for approval. Sorry Kilt if the parking stands are a bit off. The charts where very weird with some positions having a A after them.

[2016-07-29 21:33] KarlLuebs opened #979 "EDCG"
Redoing this small airport.

[2016-07-29 21:41] kilt46 commented on #951
![image](https://cloud.githubusercontent.com/assets/14023167/17264243/54059866-55ab-11e6-9cc2-74313eadb631.png)

[2016-07-29 21:44] kilt46 commented on #946
![image](https://cloud.githubusercontent.com/assets/14023167/17264315/c0ef1394-55ab-11e6-88ce-f1f78e5d82db.png)

[2016-07-29 21:47] kilt46 commented on #947
![image](https://cloud.githubusercontent.com/assets/14023167/17264377/21ec5918-55ac-11e6-8553-a50aebefa74c.png)

[2016-07-29 21:49] kilt46 commented on #965
![image](https://cloud.githubusercontent.com/assets/14023167/17264421/6cb3a898-55ac-11e6-8171-5237dc3db650.png)

[2016-07-29 21:50] kilt46 commented on #904
![image](https://cloud.githubusercontent.com/assets/14023167/17264448/918c2c6c-55ac-11e6-8081-ac7a86048749.png)

[2016-07-29 21:52] kilt46 commented on #945
![image](https://cloud.githubusercontent.com/assets/14023167/17264473/c8f19f3e-55ac-11e6-99fe-ea5ecf1c58fa.png)

[2016-07-29 21:54] kilt46 commented on #923
![image](https://cloud.githubusercontent.com/assets/14023167/17264507/0c7f765e-55ad-11e6-9c37-77fcaaf8a7b9.png)

[2016-07-29 21:55] kilt46 commented on #759
![image](https://cloud.githubusercontent.com/assets/14023167/17264529/349970cc-55ad-11e6-99fe-1de0f7cf590a.png)

[2016-07-29 21:56] kilt46 commented on #937
![image](https://cloud.githubusercontent.com/assets/14023167/17264545/56a6cdc2-55ad-11e6-8dc6-754a4f3c56e5.png)

[2016-07-29 21:57] kilt46 commented on #18
![image](https://cloud.githubusercontent.com/assets/14023167/17264578/8d51852e-55ad-11e6-8cdc-371cdfa931b7.png)

[2016-07-29 21:59] kilt46 commented on #411
![image](https://cloud.githubusercontent.com/assets/14023167/17264609/cd40b966-55ad-11e6-8fe7-71c39985165c.png)

[2016-07-29 22:00] kilt46 commented on #158
![image](https://cloud.githubusercontent.com/assets/14023167/17264635/fbb9caee-55ad-11e6-8a21-8bdfb2694864.png)

[2016-07-29 22:02] kilt46 commented on #413
![image](https://cloud.githubusercontent.com/assets/14023167/17264676/3b714c16-55ae-11e6-8889-918f53d0bb5e.png)

[2016-07-30 00:39] kilt46 commented on #789
![image](https://cloud.githubusercontent.com/assets/14023167/17266914/368334ce-55c4-11e6-8701-21382483ef51.png)

[2016-07-30 01:27] kilt46 commented on #149
![image](https://cloud.githubusercontent.com/assets/14023167/17267285/d6dacc06-55ca-11e6-808a-be5ede4b111c.png)

[2016-07-30 01:30] kilt46 commented on #224
![image](https://cloud.githubusercontent.com/assets/14023167/17267311/39563f82-55cb-11e6-9e88-ca31f226ceb2.png)

[2016-07-30 01:31] kilt46 commented on #235
![image](https://cloud.githubusercontent.com/assets/14023167/17267320/772aad16-55cb-11e6-9697-567dd0574894.png)

[2016-07-30 01:32] kilt46 commented on #235
![image](https://cloud.githubusercontent.com/assets/14023167/17267324/8124eab6-55cb-11e6-9359-7a27beefdea2.png)

[2016-07-30 01:35] kilt46 commented on #798
![image](https://cloud.githubusercontent.com/assets/14023167/17267339/f4aced80-55cb-11e6-9993-b0aa9e22f892.png)

[2016-07-30 01:35] kilt46 commented on #875
![image](https://cloud.githubusercontent.com/assets/14023167/17267342/08de46be-55cc-11e6-85a7-abd6a727eabb.png)

[2016-07-30 01:36] kilt46 commented on #886
![image](https://cloud.githubusercontent.com/assets/14023167/17267344/1b0e78cc-55cc-11e6-8972-9819c0aed1db.png)

[2016-07-30 01:37] kilt46 commented on #870
![image](https://cloud.githubusercontent.com/assets/14023167/17267350/37f2eda6-55cc-11e6-89a0-ed653a7a0307.png)

[2016-07-30 01:38] kilt46 commented on #900
![image](https://cloud.githubusercontent.com/assets/14023167/17267364/6c2344ae-55cc-11e6-89e6-0a8d0a89fd49.png)

[2016-07-30 01:39] kilt46 commented on #912
![image](https://cloud.githubusercontent.com/assets/14023167/17267370/88779b32-55cc-11e6-90e2-1ae3ba77adab.png)

[2016-07-30 01:40] kilt46 commented on #562
![image](https://cloud.githubusercontent.com/assets/14023167/17267376/a31635de-55cc-11e6-96e8-52b0751b9642.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17267378/acd35f70-55cc-11e6-9126-9e63b93eb019.png)

[2016-07-30 02:06] kilt46 commented on #940
![image](https://cloud.githubusercontent.com/assets/14023167/17267490/4595a6de-55d0-11e6-9d79-9462c1932ef9.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17267493/4cd0030e-55d0-11e6-9b28-abc9b36de03b.png)

[2016-07-30 02:21] kilt46 commented on #897
![image](https://cloud.githubusercontent.com/assets/14023167/17267583/6fdaecfe-55d2-11e6-82ee-b64646da49a4.png)

[2016-07-30 02:26] kilt46 commented on #702
![image](https://cloud.githubusercontent.com/assets/14023167/17267606/24234ecc-55d3-11e6-9e2f-f091e57efd09.png)

[2016-07-30 02:45] kilt46 commented on #223
![image](https://cloud.githubusercontent.com/assets/14023167/17267710/cbbcbb8a-55d5-11e6-85bd-5231d306e7c2.png)

[2016-07-30 05:48] lachieee opened #980 "NZDN"
Dunedin International Airport - New Zealand

[2016-07-30 05:48] lachieee commented on #980
I'll redo this airport.

[2016-07-30 07:17] samuelandersson commented on #87
https://community.infinite-flight.com/t/missing-taxiway-s-wsss/54943/2

[2016-07-30 08:45] samuelandersson opened #981 "LGML"
Working on this one.

[2016-07-30 08:50] dushyants19 commented on #949
Ill look into it.

[2016-07-30 08:52] dushyants19 commented on #949
Newest version is in the repo.
Nothing wrong on my side

[2016-07-30 09:18] samuelandersson commented on #970
Made two small changes. See attached pics.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/24d0e4f7dc89e52e34b08525b1c597c9a33ec7b9)

![skarmavbild 2016-07-30 kl 11 14 29](https://cloud.githubusercontent.com/assets/15381853/17269386/030db082-5647-11e6-9eb3-cd49307965a6.png)

The other change was literally just another taxiway that I removed the edge lighting from.

[2016-07-30 09:19] samuelandersson commented on #981
Done.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/2b6272b591ce68bf88ddcb9fb002558f2893c303)

[2016-07-30 09:19] #981 closed

[2016-07-30 09:20] kilt46 commented on #369
![image](https://cloud.githubusercontent.com/assets/14023167/17269411/e8041a22-560c-11e6-8c3f-042f3770bc2b.png)

[2016-07-30 09:30] dushyants19 commented on #30
https://community.infinite-flight.com/t/missing-taxiline-at-mmtj/54939/25?u=dush19

[2016-07-30 09:47] kilt46 commented on #53
![image](https://cloud.githubusercontent.com/assets/14023167/17269535/a9a6a80e-5610-11e6-92c2-0df69d84d4b3.png)

[2016-07-30 09:48] kilt46 commented on #223
![image](https://cloud.githubusercontent.com/assets/14023167/17269546/d52504da-5610-11e6-94c3-ddbdacad05a3.png)

[2016-07-30 09:55] PaulNielsen opened #982 "LGKO"
Being redone

[2016-07-30 10:08] kilt46 commented on #4
![image](https://cloud.githubusercontent.com/assets/14023167/17269640/98b019f6-5613-11e6-97dd-9a9ba32f09f1.png)

[2016-07-30 10:15] kilt46 commented on #345
![image](https://cloud.githubusercontent.com/assets/14023167/17269673/9b2a9caa-5614-11e6-8ae4-64edeb6750bf.png)

[2016-07-30 10:18] kilt46 commented on #345
![image](https://cloud.githubusercontent.com/assets/14023167/17269694/1af0dad0-5615-11e6-9495-db8e1c759679.png)

[2016-07-30 10:45] kilt46 opened #983 "EGCN-Doncaster Sheffield Airport-ENGLAND-UNITED KINGDOM"

[2016-07-30 11:57] kilt46 commented on #517
![image](https://cloud.githubusercontent.com/assets/14023167/17270188/cf2d7fbe-5622-11e6-85f8-7482adb39fbb.png)

[2016-07-30 12:01] moritzbabl commented on #935
Could someone change the labels to Waiting approval?

[2016-07-30 12:12] kilt46 commented on #123
![image](https://cloud.githubusercontent.com/assets/14023167/17270294/047fc5f8-5625-11e6-9bec-df39a063608f.png)

[2016-07-30 12:19] kilt46 commented on #456
![image](https://cloud.githubusercontent.com/assets/14023167/17270338/04676e3a-5626-11e6-8dfc-6364085ea9dd.png)

[2016-07-30 12:20] PaulNielsen commented on #982
Sent in for review!

[2016-07-30 12:50] kilt46 commented on #172
![image](https://cloud.githubusercontent.com/assets/14023167/17270530/4b1e3b02-562a-11e6-8fef-15c19a51bcf1.png)

[2016-07-30 13:39] PaulNielsen opened #984 "LGMT"
Being redone

[2016-07-30 16:04] kilt46 commented on #87
Reworking outlines

[2016-07-30 18:16] samuelandersson opened #985 "LGNX"
Redid this one.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/6c8f8b6252b8d518af13127d2193dc765b853dbb)

[2016-07-30 18:23] turkish1941 opened #986 "LTCG-Trabzon Airport-TRABZON-TURKEY"
will make it

[2016-07-30 18:36] samuelandersson opened #987 "LGMK-Mikonos Airport-NOTIO AIGAIO-GREECE"
Has been redone.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/53b5b14c1a8e0a327a239c917a6acd024aea5d98)

[2016-07-30 19:33] Aviationluver commented on #774
Sent off for review again. I have added the missing gates.

[2016-07-31 00:14] PaulNielsen commented on #984
Sent in for review

[2016-07-31 12:41] kilt46 commented on #468
Airport completely redone
![image](https://cloud.githubusercontent.com/assets/14023167/17276529/29c59842-56f2-11e6-9237-78cf0dc7a013.png)

[2016-07-31 12:48] kilt46 commented on #795
![image](https://cloud.githubusercontent.com/assets/14023167/17276586/1ee8df50-56f3-11e6-881c-638fdb1898db.png)

[2016-07-31 12:48] kilt46 commented on #811
![image](https://cloud.githubusercontent.com/assets/14023167/17276590/366d49d6-56f3-11e6-869f-731dc5aced4d.png)

[2016-07-31 12:49] kilt46 commented on #592
![image](https://cloud.githubusercontent.com/assets/14023167/17276594/50c028bc-56f3-11e6-8c3e-b059f70e2878.png)

[2016-07-31 13:18] kilt46 commented on #592
![image](https://cloud.githubusercontent.com/assets/14023167/17276732/637d2aa0-56f7-11e6-91df-1b515fda2646.png)

[2016-07-31 13:24] kilt46 commented on #584
![image](https://cloud.githubusercontent.com/assets/14023167/17276757/2e450a50-56f8-11e6-905e-5a32b2ac6ebe.png)

[2016-07-31 13:27] kilt46 commented on #797
![image](https://cloud.githubusercontent.com/assets/14023167/17276777/9bdef5c6-56f8-11e6-8f92-d928be0e8797.png)

[2016-07-31 13:34] kilt46 commented on #987
![image](https://cloud.githubusercontent.com/assets/14023167/17276834/a487c0d0-56f9-11e6-890e-c9faf4007bce.png)

[2016-07-31 13:37] kilt46 commented on #985
A FEW LINES MISSING
![image](https://cloud.githubusercontent.com/assets/14023167/17276848/13f4041a-56fa-11e6-9c98-06032ca87259.png)

[2016-07-31 13:48] kilt46 commented on #981
![image](https://cloud.githubusercontent.com/assets/14023167/17276901/7cb63576-56fb-11e6-8c57-2170d00c7bd1.png)

[2016-07-31 13:50] kilt46 commented on #744
![image](https://cloud.githubusercontent.com/assets/14023167/17276918/da27799a-56fb-11e6-8997-f5c9320fa7a4.png)

[2016-07-31 13:51] kilt46 commented on #793
![image](https://cloud.githubusercontent.com/assets/14023167/17276926/005e3eb4-56fc-11e6-93b2-e79deba87cf7.png)

[2016-07-31 14:06] kilt46 commented on #9
![image](https://cloud.githubusercontent.com/assets/14023167/17277005/1f7ecef6-56fe-11e6-9c02-a85f30b8ee2a.png)

[2016-07-31 14:15] kilt46 commented on #556
![image](https://cloud.githubusercontent.com/assets/14023167/17277049/5d5251f2-56ff-11e6-867e-5b69f108fa7b.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17277051/61d99794-56ff-11e6-914e-25be4dcd2f1b.png)

[2016-07-31 14:25] kilt46 commented on #31
![image](https://cloud.githubusercontent.com/assets/14023167/17277106/a983a304-5700-11e6-8578-ced0bbe1c443.png)

[2016-07-31 14:26] kilt46 commented on #283
![image](https://cloud.githubusercontent.com/assets/14023167/17277112/d00625e2-5700-11e6-8f23-3e77af01e33b.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17277113/db809e5c-5700-11e6-848e-40a9ffa1a591.png)

[2016-07-31 14:27] kilt46 commented on #304
![image](https://cloud.githubusercontent.com/assets/14023167/17277117/fbe969d0-5700-11e6-8203-8833e9b4c768.png)

[2016-07-31 14:43] kilt46 commented on #219
![image](https://cloud.githubusercontent.com/assets/14023167/17277221/2c9d78f8-5703-11e6-99c0-cb052b856018.png)

[2016-07-31 15:01] kilt46 commented on #522
![image](https://cloud.githubusercontent.com/assets/14023167/17277317/bc77c8aa-5705-11e6-8637-34db3c0fea91.png)

[2016-07-31 15:06] kilt46 commented on #422
![image](https://cloud.githubusercontent.com/assets/14023167/17277342/6198296a-5706-11e6-94b2-ebb919c75776.png)

[2016-07-31 15:10] kilt46 commented on #322
![image](https://cloud.githubusercontent.com/assets/14023167/17277375/f6887340-5706-11e6-8731-d95803860331.png)

[2016-07-31 15:11] kilt46 commented on #466
![image](https://cloud.githubusercontent.com/assets/14023167/17277382/14e5286a-5707-11e6-9874-850453da71a7.png)

[2016-07-31 15:17] kilt46 commented on #213
![image](https://cloud.githubusercontent.com/assets/14023167/17277420/ec165f0c-5707-11e6-8457-ac0e0fecfa6c.png)

[2016-07-31 15:17] kilt46 commented on #743
![image](https://cloud.githubusercontent.com/assets/14023167/17277424/f8ce615e-5707-11e6-8636-4931241776cf.png)

[2016-07-31 15:23] kilt46 commented on #213
![image](https://cloud.githubusercontent.com/assets/14023167/17277452/c894b906-5708-11e6-8b7b-57d35d777efd.png)

[2016-07-31 15:34] RiKowalSkipper opened #988 "RKPK-Busan/Gimhae International Airport-BUSAN-SOUTH KOREA"
Gimhae Intl Airport-South Korea
Finishing

[2016-07-31 15:46] kilt46 commented on #214
![image](https://cloud.githubusercontent.com/assets/14023167/17277580/01408d9a-570c-11e6-9c3f-278fcfc22fed.png)

[2016-07-31 15:55] kilt46 commented on #215
![image](https://cloud.githubusercontent.com/assets/14023167/17277637/4f41047e-570d-11e6-9859-6609a13db6c2.png)

[2016-07-31 15:57] kilt46 commented on #770
![image](https://cloud.githubusercontent.com/assets/14023167/17277646/86977de0-570d-11e6-8b79-d3c1910ab224.png)

[2016-07-31 17:11] kilt46 commented on #468
![image](https://cloud.githubusercontent.com/assets/14023167/17278042/ee904102-5717-11e6-87d6-5693adcc4ab7.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17278043/f6852b0c-5717-11e6-809d-8c9a962dc293.png)

[2016-07-31 17:31] kilt46 commented on #468
![image](https://cloud.githubusercontent.com/assets/14023167/17278135/b97f7ca0-571a-11e6-991f-5bd96702daaf.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17278137/c0a7003e-571a-11e6-9f7a-fe5f283ebbff.png)

[2016-07-31 17:45] turkish1941 commented on #986
email is gone

[2016-07-31 17:45] turkish1941 commented on #255
email is gone

[2016-07-31 18:22] turkish1941 opened #989 "LTCC-Diyarbakir Airport-DIYARBAKIR-TURKEY"
will make it

[2016-07-31 21:25] kilt46 commented on #182
![image](https://cloud.githubusercontent.com/assets/14023167/17279527/6d195cc0-573b-11e6-8d4e-3d5b9c35cfe9.png)

[2016-07-31 21:27] kilt46 commented on #340
![image](https://cloud.githubusercontent.com/assets/14023167/17279533/a07e24d8-573b-11e6-80b3-89b046a26dd2.png)

[2016-07-31 21:28] kilt46 commented on #34
![image](https://cloud.githubusercontent.com/assets/14023167/17279536/c2ba243e-573b-11e6-849d-325398681b9f.png)

[2016-08-01 00:05] kilt46 commented on #34
![image](https://cloud.githubusercontent.com/assets/14023167/17280270/cc1a34ea-5751-11e6-9b6c-d8cab3d919d9.png)

[2016-08-01 00:09] kilt46 commented on #484
![image](https://cloud.githubusercontent.com/assets/14023167/17280292/4298cb22-5752-11e6-8f85-8dc50760251a.png)

[2016-08-01 01:05] kilt46 commented on #53
![image](https://cloud.githubusercontent.com/assets/14023167/17280728/31352260-575a-11e6-836a-952e4d34bfd8.png)

[2016-08-01 07:41] RiKowalSkipper opened #990 "LSMD-Dubendorf Airport-ZURICH-SWITZERLAND"
Recycled

[2016-08-01 07:45] RiKowalSkipper opened #991 "RKJY"
Yeosu Airport-South Korea
Finishing

[2016-08-01 09:58] tsarkov90 opened #992 "ULLI-Sankt-Peterburg Pulkovo Airport-SANKT PETERBURG-RUSSIA"
St. Petersburg / Pulkovo Intl Airport. Hub for airlines of Aeroflot group . Two runways - 12401 and 11000 ft.

[2016-08-01 11:07] dushyants19 commented on #988
Hi @RiKowalSkipper, are you in our slack? Send an email to airports@liveflightapp.com! :)

I have also invited you to the team, do accept it.

[2016-08-01 15:07] RiKowalSkipper commented on #988
Thank you Dush!

[2016-08-01 23:38] #949 closed

[2016-08-01 23:53] TristinWoolf commented on #983
I'm going to assume that @liamkirky is doing this airport and remove the Suggestion label.

[2016-08-02 00:47] sentikum commented on #915
close! airport is approved

[2016-08-02 01:00] IFAEpat commented on #915
Approved✅

[2016-08-02 01:00] #915 closed

[2016-08-02 11:50] #944 closed

[2016-08-02 11:51] #982 closed

[2016-08-02 11:54] #909 closed

[2016-08-02 11:54] #984 closed

[2016-08-02 11:56] dushyants19 commented on #935
No mail recvd

[2016-08-02 14:50] moritzbabl commented on #935
Sent again 🙄

[2016-08-02 17:56] TristinWoolf commented on #711
Re-assigning myself to this one, as I have found a way around to get it done.

[2016-08-02 18:06] TristinWoolf commented on #711
Redone.

[Commit](https://github.com/InfiniteFlightAirportEditing/Airports/commit/8cd33f459d89842bd8e8b86d8abd7d9ec2528060)

[2016-08-02 19:28] IFAEpat commented on #636
@chriscroft20, how's the progress going with this? :/

[2016-08-02 22:49] kilt46 commented on #711
![image](https://cloud.githubusercontent.com/assets/14023167/17348046/6adff776-58d9-11e6-905f-855b5cf63890.png)

[2016-08-02 22:56] kilt46 commented on #711
![image](https://cloud.githubusercontent.com/assets/14023167/17348197/618b93dc-58da-11e6-91d3-733126c8aa2f.png)

[2016-08-02 23:05] kilt46 commented on #53
![image](https://cloud.githubusercontent.com/assets/14023167/17348446/c1af56a8-58db-11e6-80db-328b063218e9.png)

[2016-08-02 23:15] kilt46 commented on #53
![image](https://cloud.githubusercontent.com/assets/14023167/17348620/137c38b0-58dd-11e6-9595-d1be5b0a3573.png)

[2016-08-03 00:51] kilt46 commented on #984
![image](https://cloud.githubusercontent.com/assets/14023167/17350242/8501a4ea-58ea-11e6-8503-69f50a68f573.png)

[2016-08-03 00:55] kilt46 commented on #885
![image](https://cloud.githubusercontent.com/assets/14023167/17350295/015e4598-58eb-11e6-8236-618671784c89.png)

[2016-08-03 01:01] kilt46 commented on #885
![image](https://cloud.githubusercontent.com/assets/14023167/17350393/f489d246-58eb-11e6-9a44-31473191ee10.png)

[2016-08-03 01:15] kilt46 commented on #909
![image](https://cloud.githubusercontent.com/assets/14023167/17350615/da98055e-58ed-11e6-9563-2be51969a658.png)

[2016-08-03 02:42] kilt46 commented on #982
![image](https://cloud.githubusercontent.com/assets/14023167/17352167/0464d1bc-58fa-11e6-8e13-c9bae7a619dc.png)

[2016-08-03 20:00] IFAEpat commented on #879
Done aba5e38

[2016-08-03 20:00] #879 closed

[2016-08-03 20:04] IFAEpat commented on #13
Needs to be re-cataloged with the proper "mini image"

[2016-08-03 20:13] IFAEpat opened #993 "LHFM - Fertőszentmiklós Airport - Fertőszentmiklós - Fertőd - Hungary"
Fertőszentmiklós Airport

[2016-08-03 22:19] kilt46 commented on #984
![image](https://cloud.githubusercontent.com/assets/14023167/17383932/56d3f988-599e-11e6-9e55-3b651b254677.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17383939/5eca165e-599e-11e6-959c-7dcd40a99b3c.png)

[2016-08-03 22:49] kilt46 commented on #879
![image](https://cloud.githubusercontent.com/assets/14023167/17384551/988cb73a-59a2-11e6-98d2-f5cdf7bd08e2.png)

[2016-08-03 22:56] kilt46 commented on #984
![image](https://cloud.githubusercontent.com/assets/14023167/17384706/942d97d0-59a3-11e6-90a1-8809bcfa0378.png)

[2016-08-03 23:02] kilt46 commented on #982
![image](https://cloud.githubusercontent.com/assets/14023167/17384855/705b4b9e-59a4-11e6-8148-4111286ad4a2.png)

[2016-08-03 23:03] kilt46 commented on #885
![image](https://cloud.githubusercontent.com/assets/14023167/17384884/a43ae60e-59a4-11e6-8bdb-d0ba0869eb49.png)

[2016-08-03 23:08] kilt46 commented on #53
![image](https://cloud.githubusercontent.com/assets/14023167/17384994/49b7c840-59a5-11e6-9a04-fc7ef8bfc1e1.png)

[2016-08-03 23:30] kilt46 commented on #13
![image](https://cloud.githubusercontent.com/assets/14023167/17385438/54743a2c-59a8-11e6-9f70-62bf5f35a758.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17385444/5e39db0c-59a8-11e6-9779-488a7074792b.png)

[2016-08-04 00:56] kilt46 commented on #987
![image](https://cloud.githubusercontent.com/assets/14023167/17386897/624f7e16-59b4-11e6-9ca4-9f76f85b134b.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17386899/69578fb4-59b4-11e6-8bb4-3b9864c86abf.png)

[2016-08-04 01:00] kilt46 commented on #909
![image](https://cloud.githubusercontent.com/assets/14023167/17386959/dac310a6-59b4-11e6-973b-cf3a6ff27918.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17386963/e318428a-59b4-11e6-9e1f-e730116ce97f.png)

[2016-08-04 01:06] kilt46 commented on #711
![image](https://cloud.githubusercontent.com/assets/14023167/17387059/cb4ad432-59b5-11e6-8767-77790b311a0c.png)

[2016-08-04 01:10] kilt46 commented on #986
FILE NOT LOADED TO REPO

[2016-08-04 01:19] kilt46 commented on #944
![image](https://cloud.githubusercontent.com/assets/14023167/17387250/81e34408-59b7-11e6-8851-bf3d113f34a2.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17387262/927d69e2-59b7-11e6-9a4b-5d98fb8dc325.png)

[2016-08-04 04:07] IFAEpat commented on #993
Done

[2016-08-04 04:07] #993 closed

[2016-08-04 11:17] dushyants19 commented on #986
my bad, fixed

[2016-08-04 11:46] kilt46 commented on #915
![image](https://cloud.githubusercontent.com/assets/14023167/17400716/15e924cc-5a0f-11e6-9c44-164c1ea01fe8.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17400727/24a732ba-5a0f-11e6-8579-18b307984ed1.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17400735/2fdc4ea4-5a0f-11e6-8d12-d57ea712c8db.png)

[2016-08-04 12:23] kilt46 commented on #993
![image](https://cloud.githubusercontent.com/assets/14023167/17401646/5a2b87f6-5a14-11e6-8f6e-99ea15b8ff9d.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17401649/623b3c2a-5a14-11e6-8a70-030bdfa7cbcc.png)

[2016-08-04 15:02] dushyants19 commented on #401
Up for grabs

[2016-08-04 15:03] dushyants19 commented on #902
Please accept the invite 🙏, @mjgonzalez45

[2016-08-04 15:03] dushyants19 commented on #892
Please accept the invite 🙏 @woleby

[2016-08-04 15:03] dushyants19 commented on #577
How's this going?

[2016-08-04 15:04] dushyants19 commented on #124
DJ, invited you to the team. Check it out. Accept it ASAP

[2016-08-04 15:06] dushyants19 commented on #577
Are you in our slack?

[2016-08-04 16:18] RiKowalSkipper commented on #988
Done

[2016-08-04 16:18] RiKowalSkipper commented on #990
Done

[2016-08-04 16:18] RiKowalSkipper commented on #991
Done

[2016-08-04 16:30] IFAEpat opened #994 "LHFH - Farkashegy Airport - Budakeszi - Hungary"
Farkashegy Airport

[2016-08-04 22:45] moritzbabl commented on #574
Sent for approval just now

[2016-08-04 22:48] moritzbabl commented on #465
I would like to redo this one and fix it 👍🏼

[2016-08-04 22:50] kilt46 commented on #986
![image](https://cloud.githubusercontent.com/assets/14023167/17420978/dee4647a-5a6b-11e6-88cf-b9f4bb5f3271.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17420983/e7956524-5a6b-11e6-9c26-38a05499d939.png)

[2016-08-04 23:09] kilt46 commented on #981
![image](https://cloud.githubusercontent.com/assets/14023167/17421332/a48e215a-5a6e-11e6-8618-a2834e65b1f6.png)

[2016-08-04 23:16] kilt46 commented on #977
![image](https://cloud.githubusercontent.com/assets/14023167/17421454/767d33d6-5a6f-11e6-8e9c-03d9b8a8371d.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17421457/7e82ce38-5a6f-11e6-9cd7-602a38073a04.png)

[2016-08-04 23:20] kilt46 commented on #976
![image](https://cloud.githubusercontent.com/assets/14023167/17421537/1c85c7c0-5a70-11e6-9646-259d3413c7c4.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17421541/235f8284-5a70-11e6-8f2e-2a69be1a8e3e.png)

[2016-08-04 23:27] kilt46 commented on #975
![image](https://cloud.githubusercontent.com/assets/14023167/17421645/20a91be4-5a71-11e6-97af-662e71c2f2ee.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17421649/2895a214-5a71-11e6-8ae8-ed2be42589f2.png)

[2016-08-04 23:36] kilt46 commented on #974
![image](https://cloud.githubusercontent.com/assets/14023167/17421797/53fb32e2-5a72-11e6-8bbe-35173453b812.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17421798/5aed4702-5a72-11e6-9236-e9762197ef40.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17421804/6597df96-5a72-11e6-890d-3888e8cdd79e.png)

[2016-08-05 00:08] kilt46 commented on #973
![image](https://cloud.githubusercontent.com/assets/14023167/17422352/bb9760c0-5a76-11e6-863c-1ec81e182420.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17422356/c4c22e0a-5a76-11e6-9c7c-894a9afa8695.png)

[2016-08-05 00:59] henrikbg commented on #30
https://community.infinite-flight.com/t/mmtj-taxiway-inside-runway/56668?u=henrik

[2016-08-05 02:06] kilt46 commented on #971
![image](https://cloud.githubusercontent.com/assets/14023167/17424199/358e9e1a-5a87-11e6-8b60-2358f439b494.png)

[2016-08-05 02:24] kilt46 commented on #970
![image](https://cloud.githubusercontent.com/assets/14023167/17424462/b3b10682-5a89-11e6-8819-85fabbf633b6.png)
CARGO
![image](https://cloud.githubusercontent.com/assets/14023167/17424468/c02d308e-5a89-11e6-8e31-9c174bac8bb7.png)

TERMINAL
![image](https://cloud.githubusercontent.com/assets/14023167/17424476/ca77b03c-5a89-11e6-959d-77dfb10200d3.png)
GA
![image](https://cloud.githubusercontent.com/

[2016-08-05 02:33] kilt46 commented on #969
![image](https://cloud.githubusercontent.com/assets/14023167/17424587/1911a0ee-5a8b-11e6-8f55-e5d8f3b12ece.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17424590/26611a36-5a8b-11e6-902b-c4b021e7f3e7.png)

[2016-08-05 02:46] kilt46 commented on #968
![image](https://cloud.githubusercontent.com/assets/14023167/17424759/b23171fe-5a8c-11e6-8b9a-971d9c3787a5.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17424781/d72849c4-5a8c-11e6-863b-b4e194e245ee.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17424792/e551bbd4-5a8c-11e6-8292-e34bb94ddde7.png)

[2016-08-05 04:56] henrikbg opened #995 "X51"
Apparently missing a grass runway: http://community.infinite-flight.com/t/x51-airport-needs-simple-updates/56753?u=henrik

http://www.airnav.com/airport/X51

[2016-08-05 14:37] KarlLuebs opened #996 "MPTO-Tocumen International Airport-PANAMA-PANAMA"
:tada::panama:Proudly done by @brunocr1050:panama::tada:

[2016-08-05 19:11] IFAEpat commented on #108
Needs some snapping

[2016-08-05 20:37] liamkirky commented on #400
Is this anywhere near being done

[2016-08-05 21:18] kilt46 commented on #967
![image](https://cloud.githubusercontent.com/assets/14023167/17450831/2ffb85fc-5b28-11e6-8898-c0a217728137.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17450841/3c182732-5b28-11e6-9707-340c2d117316.png)

[2016-08-05 21:25] kilt46 commented on #965
![image](https://cloud.githubusercontent.com/assets/14023167/17450991/1fa0eb42-5b29-11e6-9bf6-92197e76dde2.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17450996/27e5f6c6-5b29-11e6-9770-d83ab7d00ed8.png)

[2016-08-05 21:30] kilt46 commented on #963
![image](https://cloud.githubusercontent.com/assets/14023167/17451104/d7ab3aa8-5b29-11e6-98e9-cd288e990ad0.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17451109/de98dc94-5b29-11e6-92ca-286a53119c46.png)

[2016-08-05 21:34] kilt46 commented on #962
![image](https://cloud.githubusercontent.com/assets/14023167/17451187/768b0ac2-5b2a-11e6-9cf6-a59b7bb8c1c9.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17451194/7e60ace8-5b2a-11e6-938c-163686fe14e8.png)

[2016-08-05 21:39] kilt46 commented on #960
![image](https://cloud.githubusercontent.com/assets/14023167/17451277/3379e162-5b2b-11e6-9d87-55fbfcf78f11.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17451281/399a1350-5b2b-11e6-90fe-253dba73aaa1.png)

[2016-08-05 21:49] kilt46 commented on #958
![image](https://cloud.githubusercontent.com/assets/14023167/17451436/7992a23c-5b2c-11e6-9738-1b0987f7e364.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17451445/83a552ce-5b2c-11e6-8159-abbf791d63cb.png)

[2016-08-05 22:07] kilt46 commented on #957
![image](https://cloud.githubusercontent.com/assets/14023167/17451770/07f6e16c-5b2f-11e6-95e1-b1bb4084f0b4.png)

![image](https://cloud.githubusercontent.com/assets/14023167/17451766/fea4138c-5b2e-11e6-89fc-0d2d68c26972.png)

[2016-08-05 22:17] kilt46 commented on #956
![image](https://cloud.githubusercontent.com/assets/14023167/17451907/0e6eca04-5b30-11e6-9bf6-5b948de1a840.png)

[2016-08-05 22:18] kilt46 commented on #956
![image](https://cloud.githubusercontent.com/assets/14023167/17451955/92fdbb2c-5b30-11e6-96b7-fb6eefb5798a.png)

[2016-08-05 22:25] IFAEpat commented on #108
Snapped and Gated

[2016-08-05 22:38] IFAEpat commented on #499
Gating

[2016-08-05 22:54] kilt46 commented on #950
![image](https://cloud.githubusercontent.com/assets/14023167/17452545/ab1ff97c-5b35-11e6-9d8e-9031cac9b8a8.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17452549/b5e5652c-5b35-11e6-8603-7666085b8bb2.png)

[2016-08-05 23:00] IFAEpat commented on #499
Gated

[2016-08-05 23:00] #499 closed

[2016-08-06 01:46] IFAEpat commented on #515
Gating

[2016-08-06 01:46] IFAEpat commented on #994
Done

[2016-08-06 01:46] IFAEpat commented on #994
and gated

[2016-08-06 02:18] kilt46 commented on #994
file missing

[2016-08-06 02:26] IFAEpat commented on #994
fixed

[2016-08-06 02:26] #994 closed

[2016-08-06 02:27] kilt46 commented on #955
![image](https://cloud.githubusercontent.com/assets/14023167/17454204/5528db56-5b53-11e6-806f-4e4bbf322f0d.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17454207/5ebe53c6-5b53-11e6-8d9e-e9bb30827a2d.png)

[2016-08-06 02:39] kilt46 commented on #953
![image](https://cloud.githubusercontent.com/assets/14023167/17454270/f1ce7aa0-5b54-11e6-8a2f-b7b7b5867cac.png)
TERMINAL
![image](https://cloud.githubusercontent.com/assets/14023167/17454272/fdc74da0-5b54-11e6-9d58-bbb5e6880f84.png)
MILITARY APRON
![image](https://cloud.githubusercontent.com/assets/14023167/17454274/0b2fb48c-5b55-11e6-8dd1-92160e413382.png)

[2016-08-06 02:49] kilt46 commented on #994
![image](https://cloud.githubusercontent.com/assets/14023167/17454322/86f7ed86-5b56-11e6-95bd-3525e201f287.png)

[2016-08-06 09:29] kilt46 commented on #951
![image](https://cloud.githubusercontent.com/assets/14023167/17455987/46178942-5b8e-11e6-9758-df2c61afebd6.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17455990/50b9f484-5b8e-11e6-8739-85a6bdd1464b.png)

[2016-08-06 09:34] kilt46 commented on #949
![image](https://cloud.githubusercontent.com/assets/14023167/17456002/0b550072-5b8f-11e6-813f-eb07f0f3b8a1.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17456003/138f3d8e-5b8f-11e6-8c62-6b78b783b5a0.png)

[2016-08-06 09:47] kilt46 commented on #947
![image](https://cloud.githubusercontent.com/assets/14023167/17456063/d10c3bcc-5b90-11e6-95e2-18fcd8bbb51a.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17456066/da4243da-5b90-11e6-9cb5-d7b9cd664545.png)

[2016-08-06 09:54] kilt46 commented on #946
![image](https://cloud.githubusercontent.com/assets/14023167/17456112/c62c4aca-5b91-11e6-86b0-ece62c6f4a97.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17456114/cd317926-5b91-11e6-890b-faa10d58f64a.png)

[2016-08-06 10:08] kilt46 commented on #945
![image](https://cloud.githubusercontent.com/assets/14023167/17456168/c42a768c-5b93-11e6-9aee-fdc33784f2c7.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17456169/cba5c128-5b93-11e6-82cf-e2de786f2882.png)

[2016-08-06 10:19] kilt46 commented on #941
![image](https://cloud.githubusercontent.com/assets/14023167/17456204/543570dc-5b95-11e6-8c27-1d9f37d50c71.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17456205/5e0aad84-5b95-11e6-9f9f-00f3897e4e22.png)

[2016-08-06 10:43] kilt46 commented on #939
![image](https://cloud.githubusercontent.com/assets/14023167/17456295/9ae9032e-5b98-11e6-8f0b-c6f249bfa5d0.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17456300/abd9f350-5b98-11e6-87f0-f6abfedb12d4.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17456302/ba947244-5b98-11e6-9a06-da588082ae5f.png)

[2016-08-06 11:02] kilt46 commented on #499
![image](https://cloud.githubusercontent.com/assets/14023167/17456373/39285c36-5b9b-11e6-8c04-4c3a8942d6f1.png)
TERMINAL
![image](https://cloud.githubusercontent.com/assets/14023167/17456376/46aac5ba-5b9b-11e6-8436-d298e9dca6ef.png)
MILITARY
![image](https://cloud.githubusercontent.com/assets/14023167/17456378/5358b498-5b9b-11e6-8f65-5083e2605769.png)

[2016-08-06 11:06] kilt46 commented on #942
![image](https://cloud.githubusercontent.com/assets/14023167/17456394/e79a1638-5b9b-11e6-875a-fee4c9e5a78c.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17456395/ef60af6c-5b9b-11e6-97cd-8ee3a0539877.png)

[2016-08-06 11:27] turkish1941 commented on #255
Its accepted but not closed and not in the repo....

[2016-08-06 12:09] kilt46 commented on #940
TERMINAL D
![image](https://cloud.githubusercontent.com/assets/14023167/17456640/810cf22e-5ba4-11e6-893c-bf4c8e1260c7.png)
TERMINAL E
![image](https://cloud.githubusercontent.com/assets/14023167/17456643/8ff02c70-5ba4-11e6-89f8-8d47de4e0c36.png)
CARGO
![image](https://cloud.githubusercontent.com/assets/14023167/17456647/ab61711c-5ba4-11e6-8e38-603e45dbd2b0.png)

[2016-08-06 12:26] kilt46 commented on #940
TERMNAL B
![image](https://cloud.githubusercontent.com/assets/14023167/17456710/24d0b182-5ba7-11e6-8109-153c76e27ccc.png)

[2016-08-06 12:28] kilt46 commented on #940
TERMINAL C
![image](https://cloud.githubusercontent.com/assets/14023167/17456720/6b6c2d88-5ba7-11e6-9416-2c2551df7280.png)

[2016-08-06 12:56] kilt46 commented on #940
![image](https://cloud.githubusercontent.com/assets/14023167/17456868/37b2e7da-5bab-11e6-8b2b-6db9ffdb9e83.png)

[2016-08-06 13:36] IFAEpat commented on #515
Gated

[2016-08-06 15:28] kilt46 commented on #108
![image](https://cloud.githubusercontent.com/assets/14023167/17457535/78af9d54-5bc0-11e6-9486-483d74dcf04f.png)
TERMINAL
![image](https://cloud.githubusercontent.com/assets/14023167/17457539/836f7a66-5bc0-11e6-8eb5-27407d9e2fc7.png)
MILITARY/FBO
![image](https://cloud.githubusercontent.com/assets/14023167/17457543/907f7a44-5bc0-11e6-88a6-c2bd01fb3fb0.png)

[2016-08-06 16:40] kilt46 commented on #235
![image](https://cloud.githubusercontent.com/assets/14023167/17457934/82f513d4-5bca-11e6-99ef-d889df0e3232.png)

[2016-08-06 16:41] kilt46 commented on #235
![image](https://cloud.githubusercontent.com/assets/14023167/17457954/b617231a-5bca-11e6-8722-33f7eab7096e.png)

[2016-08-06 16:42] kilt46 commented on #235
![image](https://cloud.githubusercontent.com/assets/14023167/17457958/c30d3b9a-5bca-11e6-8449-ab4b40bb7c6a.png)

[2016-08-06 16:42] kilt46 commented on #235
![image](https://cloud.githubusercontent.com/assets/14023167/17457964/e3501850-5bca-11e6-93ba-c61776a5e0fa.png)

[2016-08-06 16:43] kilt46 commented on #235
![image](https://cloud.githubusercontent.com/assets/14023167/17457971/ee2ba8fc-5bca-11e6-9695-d1054e0215da.png)

[2016-08-06 18:34] PaulNielsen commented on #978
Still no one to check this one out?

[2016-08-06 18:39] #935 closed

[2016-08-06 18:54] kilt46 commented on #935
![image](https://cloud.githubusercontent.com/assets/14023167/17458625/3da94be8-5bdd-11e6-856d-60d68cb8c36e.png)

[2016-08-06 19:14] kilt46 commented on #33
![image](https://cloud.githubusercontent.com/assets/14023167/17458676/d6cbf7c4-5bdf-11e6-9186-44af51ba9c51.png)
![image](https://cloud.githubusercontent.com/assets/14023167/17458683/16bcab44-5be0-11e6-8e2f-396ca73a131d.png)

[2016-08-07 05:56] dushyants19 commented on #978
As you know, the airport has an issue with alignment. We are looking into it. Please be patient

[2016-08-07 08:42] kilt46 commented on #515
![image](https://cloud.githubusercontent.com/assets/14023167/17461389/6cbaa422-5c50-11e6-831f-f84034508c19.png)
MAIN TERMINAL
![image](https://cloud.githubusercontent.com/assets/14023167/17461402/dcdca502-5c50-11e6-9311-1eccb0b97c1e.png)
CARGO
![image](https://cloud.githubusercontent.com/assets/14023167/17461406/ec6d0e62-5c50-11e6-8bd4-9367cdc5293d.png)
MAINTENANCE
![image](https://cloud.githubuse

[2016-08-07 09:31] kilt46 commented on #183
![image](https://cloud.githubusercontent.com/assets/14023167/17461581/ac4ca0b6-5c57-11e6-956b-da35f0487de1.png)
TERMINAL
![image](https://cloud.githubusercontent.com/assets/14023167/17461582/b8fec492-5c57-11e6-9cf2-f544013fbb12.png)
COAST GUARD and NORTH
![image](https://cloud.githubusercontent.com/assets/14023167/17461583/ca2c250c-5c57-11e6-8356-1eae07e0f92d.png)
EAST HANGARS
![image](https://clo